{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">
                
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
           
            
        </ul>
        </div>
    </div>
     <div class="grid-row margin-top">

        <div class="column-full">
            
    
     
        
            <div class="govuk-box-highlight">
                
                <h1 class="bold-large">Documents sent</h1>
                
               <p>We've sent confirmation to jane.green@gmail.com</p>
                
                
   

                
            </div>
        
       

      
<table>
  <thead>
    <tr>
      <th width=""class="" scope="col">UKPRN</th>
      <th width="200"scope="col">Academy</th>
      <th width=""class="" scope="col">Name</th>
      
      
      
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="120">12273273</td>
      <td>Blythe </td>
<td><a href="#">blythe_businesscase2018.xls</a></td>
      
      
      
    </div>
  </td>
    </tr>
    
  </tbody>

  </table>
 <br />
  <br />
           
            <h2 class="bold-medium">What happens next? </h2>
            <p>Copy will depend on the type.</p>

            <p class="bold">Or you may want to:</p>
            <p><a href="dash-older" style="text-decoration: underline;">Go back to home</a><br>
                <p><a href="upload-list16 copy" style="text-decoration: underline;">View documents you've sent</a><br>

          
                
               
            </ul>
        </div>  
    </div>

    <br>

   

            
        </div>
    </div>
       
  


</main>

{% endblock %}
