{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

        <style>

            .alert-name-grey {
                display: block;
                background-color: #6f72af;
                padding: 7px 15px;
                margin-top: 5px;
            }

        </style>


<main role="main" id="content">
     <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="index" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="account-menu__link"  data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="grid-row account-details">
        <div class="column-two-thirds" style="text-align: left;" id="userdetails">
            <span class="font-small" style="margin-right: 5px;">Welcome Jane</span>
        </div>
        <div class="column-third controls" style="text-align: right;">
        </div>
    </div>
            <p class="page-info">UKPRN:12345678</p>
            <h1 class="heading-secondary">Romero</h1>
           
        </div>
        
    </div>

    <div class="grid-row">
        <div class="column-full">


            <h1 class="heading-xlarge">Education and Skills Funding service</h1>


            <section>

                <div class="grid-row">
                    <ul>
                        <div class="service-transaction">
                            <li class="column-third margin-top">
                                <a id="apprenticeships" class="dashboard-links" href="/home/apprenticeship-service?AuthoriseBasedOnRoles=False">
                                    <span id="apprenticeship-service" class="service-name">Apprenticeship service</span>
                                    <span id="apprenticeship-alert" class="alert alert-name-grey">Request permission to access</span>
                                </a>
                            </li>
                        </div>

                        

                        <div class="service-transaction">
                            <li class="column-third margin-top">
                                <a id="allocations" class="dashboard-links" href="allocations">
                                    <span id="allocations-service" class="service-name">Funding statements</span>
                                    <span id="allocation-alert" class="alert alert-name-green">View your statements</span>
                                </a>
                            </li>
                        </div>
                        <div class="service-transaction">
                            <li class="column-third margin-top">
                                <a id="allocations" class="dashboard-links" href="other">
                                    <span id="allocations-service" class="service-name">Document exchange</span>
                                    <span id="allocation-alert" class="alert alert-name-green">View or send documents</span>
                                </a>
                            </li>
                        </div>

                        
                    </ul>
                </div>


                <br>


            <!--<div class="panel panel-border-wide">
                    <p>
                        Find out how this <a href="https://www.gov.uk/performance/sign-sfa-contracts?new" rel="external" title="This will open in a new window">service is performing</a>.
                    </p>
                </div>-->
            </section>
        </div>
    </div>

    

    </main>

{% endblock %}