{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
     
       <div class="grid-row ">
        <div class="navigation">

      
        </div>
    </div>
    

<div class="grid-row">
    <div class="column-full">

    <a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="link-back">Back</a>
    

    <h1 class="heading-large margin-bottom">Documents ready to send</h1>
    <br />




      
<table>
  <thead>
    <tr>
      <th width=""class="" scope="col">UKPRN</th>
      <th width="200"scope="col">Academy</th>
      <th width=""class="" scope="col">Type</th>
      <th width=""class="" scope="col">Name</th>
      <th width=""class="" scope="col"></th>
      
      
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="120">12273273</td>
      <td>Blythe </td>
      <td width="200"class="">Business case</td>
      <td width="350"class=""><a href="#">blythe_businesscase2018.xls</a></td>
      <td width=""class="">
        
        <a href="formula-remove" style="numeric">Remove</a>
      </td>
      
    </div>
  </td>
    </tr>
    
  </tbody>
  
  
  
  

  
 
</table>




        <a class="button-grey" href="basic-upload-new">Add another document</a> 
       
                    
                <p><a id="submit-sub" style="float:right;" class="button" href="confirmation">Send</a></p>
                
                       

  
       </div></div></div> 
      </div> 
      
    </div>
</div></div>

  </div>

</details>

</div>


</main>


{% endblock %}