{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
     
       <div class="grid-row ">
        <div class="navigation">
      
        </div>
    </div>
    

<div class="grid-row">
    <div class="column-full">
    

    <h1 class="heading-large margin-bottom">Documents ready to send</h1>
    <br />




      
<table>
  <thead>
    <tr>
      <th width=""class="" scope="col"></th>
      <th width=""scope="col"></th>
      <th width=""class="" scope="col"></th>
      <th width=""class="" scope="col"></th>
      <th width=""class="" scope="col"></th>
      
      
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="120">You have no documents to send.</td>
      <td></td>
      <td width="200"class=""></td>
      <td width="350"class=""></td>
      <td width=""class="">
        <a href="basic-upload22-change" style="numeric"></a>
        <a href="formula-remove" style="numeric"></a>
      </td>
      
    </div>
  </td>
    </tr>
    
  </tbody>
  
  
  
  

  
 
</table>




        <a class="button-grey" href="basic-upload-new">Add a document</a> <br />
        <p>&nbsp;</p>

         <p>
                    <a href="other" class="">Cancel</a>
                </p>
       
                    
                
                
                       

  
       </div></div></div> 
      </div> 
      
    </div>
</div></div>

  </div>

</details>

</div>


</main>


{% endblock %}