{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
    
    // for tabs// 

    $(document).ready(function() {
    $('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
        
        var newCurrentValue = '.' + currentAttrValue.substring(1,currentAttrValue.length)    
        
        $(".tab1, .tab2, .tab3, .tab-hidden").hide();
        $(newCurrentValue).show();            
 
        e.preventDefault();
    });
    
    
    $('.link-all').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
        
        var newCurrentValue = '.' + currentAttrValue.substring(1,currentAttrValue.length)    
        
        $(".tab1, .tab2, .tab3, .tab-hidden").show();
        
    });
    
    
    $('a.tabbed-tab').click(function() {
    
    $('.tabbed-tab.active').removeClass('active');
    
    $(this).addClass('active');
    });
    
    
    // $('a.link.link-all').click(function() {
    
    // $('.tabbed-tab.active').removeClass('active');
    
    // });



    


    // for filters //

    $('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
        
        var newCurrentValue = '.' + currentAttrValue.substring(1,currentAttrValue.length)    
        
        $(".tab1, .tab2, .tab3, .tab4, .tab5, .tab6, .tab7, .tab8, .tab-hidden").hide();
        $(newCurrentValue).show();            
 
        e.preventDefault();

        $(".view-all-hidden").show();
    });

    $('.link-all').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
        
        var newCurrentValue = '.' + currentAttrValue.substring(1,currentAttrValue.length)    
        
        $(".tab1, .tab2, .tab3, .tab4, .tab5, .tab6, .tab7, .tab8, .tab-hidden").show();

        $(".view-all-hidden").hide();
        
    });

    $('a.impact-link').click(function() {
    
        $('.impact-link.active').removeClass('active');
        
        $(this).addClass('active');
    });

    $('a.link.link-all').click(function() {
    
        $('.impact-link.active').removeClass('active');
        
        $(this).addClass('active');
    });
    
});

</script>

<main role="main" id="content">
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dash-older">Home</a></li>

        </ul>
        </div>
    </div>
    
<div class="grid-row">
        <div class="column-two-thirds">    

        <h1 class="heading-xlarge">Document exchange</h1>

                     

                           <p>You can view and send documents to us.</p>
                           <br />

<div>
    <h1 class="heading-medium"><a class="heading-medium" href="download-list">Documents we've sent to you</a></h1>         
<p>If we've sent you a document - view it here.</p>
</div><br>



<div>
    <h1 class="heading-medium"><a class="heading-medium" href="upload-list16 copy">Documents you've sent to us </a></h1>         
<p>View a list of documents you've sent to us.</p>
</div> <br />

<div>
    <h1 class="heading-medium"><a class="heading-medium" href="basic-upload">Send us documents</a></h1>         
    

<p>Send documents to us here.</p>
</div><br>


<div class="grid-row">
    
   

    




</div>
</main>


{% endblock %}