

/**********
* PRINT (CSS)
* **********/

/**********
* GLOBAL
* WILL BE USED IN ALL JOURNEYS
* **********/

/* Page parameters */
@page {
	size: A4 portrait;
}

/* DOM elements */
body {
	font-size: 19px;
}
table {
    width: 100%;
}
table th, table td {
	text-align: left;
	border-bottom: 1px solid #bfc1c3;
}
ul {
    display: inline;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
details {
	display: none;
}
pre {
	display: none;
}

.break-before {
    page-break-before: always;
}

.break-after {
	page-break-after: always;
}

/* IDs */
#global-header .header-proposition a.menu {
    display: none;
}
#global-breadcrumb {
	display: none;
}

/* Classes */
.phase-banner {
	display: none;
}
.account-details {
	display: none;
}
.esfa-banner-container {
	display: none;
}
.no-padding-top {
	padding-top: 0px !important;
}
.no-margin-top {
	margin-top: 0px !important;
}

/**********
* NOT SIGNED-IN (PUBLIC)
* VIEW LATEST FUNDING
* **********/

/* Classes */
.govuk-tabs__title {
	display: none;
}
.govuk-tabs__list {
	display: none;
}
.govuk-table {
	width: 100%;
	padding-bottom: 20px;
}
.govuk-table__caption {
	text-align: left;
	padding-top: 20px;
	font-weight: bold;
	border-bottom: 1px solid #bfc1c3;
}
.govuk-table__header:last-child, .govuk-table__cell:last-child {
    padding-right: 0 !important;
}
.govuk-table__header--numeric, .govuk-table__cell--numeric {
	text-align: right !important;
}
.govuk-table__header, .govuk-table__cell {
	padding: 0 20px 0 0;
	text-align: left;
    border-bottom: 1px solid #bfc1c3;
}
.govuk-\!-width-one-quarter {
	width: 25% !important;
}
.lede {
	padding-bottom: 15px;
}
.block-header-total {
	padding-bottom: 15px;
}
.block-header-print-tabs {
	display: none;
}
.block-header-print-no-tabs {
	display: none;
}
.print-heading {
	padding-bottom: 15px;
}
.heading-funding-summary {
    margin-top: 0px;
}
.download-a-document-section-2 {
	display: none;
}
.total-allocation-container {
	box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 0px;
    padding-bottom: 15px;
}
.total-allocation-wrapper {
	display: inline-block;
	width: 100%;
}
.total-allocation-label {
	float: left;
	width: 50%;
}
.total-allocation-amount {
	clear: none;
	text-align: right;
	width: 100%;
}
.decimal {
	display: none;
}
.glossary-link {
	display: none;
}

/**********
* SIGNED-IN (PRIVATE)
* GENERAL ANNUAL GRANT 
* **********/

/* IDs */
#filterContentInDivs {
	display: none;
}

/* Classes */
.govuk-tabs__panel {
	margin-bottom: 60px;
}
.govuk-tag {
	display: none;
}
.govuk-\!-width-one-sixth {
	width: 16.66%;
}
.govuk-\!-margin-bottom-6 {
	margin-bottom: 20px !important;
}
.govuk-\!-margin-bottom-8 {
	margin-bottom: 30px !important;
}
.print-organisation-name {
	display: block;
}
.variance-text {
	margin-top: 0px;
	margin-bottom: 0px;
}
h2 .variance-text {
	font-size: 80% !important;
}
td .variance-text {
	font-size: 80% !important;
}
.variance-heading-no-margin {
	margin-bottom: 0px;
}
.download-a-document-container {
	display: none;
}
.download-a-document-container-new {
	display: none;
}
.print-a-document-container {
	display: none;
}
.first-element-in-tab {
	margin-top: 0px;
}
.block-header-total {
	margin-bottom: 0px;
}
.table-header-normal {
	font-weight: normal;
}
.table-column-mobile {
	display: none;
}
.heading-secondary {
	font-size: 18px;
	display: block;
}
.block-header-print-left {
	display: none;
}
.heading-funding-summary {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
.total-allocation-wrapper {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
.guidance-final-section {
	display: none; 
}
.hide-on-print {
	display: none;
}
.show-on-print {
	display: inline;
}

.govuk-accordion__controls,
button {
	display:none;
}

