{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>

    <div class="grid-row ">
        <div class="welcome">
            <ul class="">
                <li class="font-xsmall">Andrea Authoriser</li>
                <li class="font-xsmall"> Casterbridge College</li>
                <li class="font-xsmall">UKPRN:12345678</li>
            </ul>
        </div>
    </div>

    <div class="grid-row">
        <div class="navigation">
            <ul>
                <li><a class="font-xsmall" href="dashboard2">Home</a></li>
                
            </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">Warwickshire college</span>
        <h1 class="heading-large margin-top-zero">Subcontractor: The college of Leicester</h1>

    </div>
</div>


<div class="grid-row">    
    <div class="column-two-thirds">

    <p class="bold-medium">Funding stream: Adult education budget</p>
    
    <div>
    <hr>
    &nbsp;

    <form>
  <fieldset>

    <legend>
      <h3 class="heading-medium">How much of this course will your subcontractor provide?</h3>
      &nbsp;
      
    </legend>

    <div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">The whole course (provision) </label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
      <label for="waste-type-2">Part of the course (service)</label>
    </div>
    

  </fieldset>
</form>

                 
              

<br>
   
    <hr>
    &nbsp;
    <hr>
    <div class="form-group">
    <label class="form-label-bold" for="form-control-1-8">
  <p class="bold-medium">Number of learners</p>
  <span class="form-hint">How many learners on this whole course</span>
</label>
<input class="form-control form-control-1-4" id="form-control-1-4" type="text" name="form-control-1-4">

               

              </div>

       <br>
    &nbsp; 

        
        <div class="form-group">
            <label class="form-label-bold" for="16 to 18"><span>Does this figure include learners who were funded from a previous year?</span>
            </label><br>
            <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>
        </div>
    </form>
    <br>
    &nbsp;
    <hr>

<div class="form-label-bold">
    <p class="bold-medium">Payments</p>
    <form><label class="form-control-1-8" for="16 to 18">
    <span class="form-hint">Total payments for the whole course
  </span>
            </label>
        <div class="form-label-bold">
            

            
            <span class="rj-currency-symbol">£
            </span><input class="form-control form-control-1-4" id="form-control-1-4" type="text" name="form-control-1-4>
        </div>
        
    </form>
    <br>
    
    <div class="form-label-bold">   &nbsp; <br>
        
   <br>
    
    <hr>
    &nbsp;

    <p class="bold-medium">Locations</p>
    <form>

        <fieldset>


    <legend>
      <span class="visually-hidden">Locations</span>
      <span class="form-hint">These are the places your subcontractor will deliver the training.</span>
    </legend>
    <br>
    <label class="form-label-bold" for="locations">
           </label>
    

    <div style="margin-top: 18px"></div>

    
    <div class="multiple-choice">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="">
      <label for="waste-type-3">East of England</label>
    </div><div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="">



      <label for="waste-type-1">East Midlands</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="">
      <label for="waste-type-3">London</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="">
      <label for="waste-type-2">North East</label>
    </div>
    
    <div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="">
      <label for="waste-type-1">North West</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="">
      <label for="waste-type-2">South East</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="">
      <label for="waste-type-3">South West</label>
    </div>
    

    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
      <label for="waste-type-2">West Midlands</label>
    </div>
    
    <div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">Yorkshire and the Humber</label>
    </div>
    
    
  </fieldset>
       
    </form>
  

    &nbsp;
    <hr>
    <br>
    
    

       
<div>
    <a class="button margin-right" href="subcontractor-list2">Save and continue</a>         
    
</div>
    </div>

</div>




</main>


{% endblock %}