{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">Warwickshire college</span>

           <h1 class="heading-xlarge">Subcontractor list <br>2017 to 2018</h1>

            </div>
            </div>
</div>
        <span class="heading-secondary">Ace training company</span>
    

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 12345678</li>
            </ul><br>
            <h2 class=heading-small>Funding stream: Advanced learning loans </h2>
            <ul>
            <li>Apprentices: 10</li>
<li>Continuing apprentices: 0</li>
<li>Full course payments: £1,000.00</li>
<li>Part course payments: £1,360.29</li>
<li>Locations: London</li>
<li>&nbsp;</li>
            </ul>
            <h2 class=heading-small>Funding stream: Trailblazer apprenticeships </h2>
            <ul>
            <li>Apprentices: 60</li>
<li>Continuing apprentices: 30</li>
<li>Full course payments: £560.20</li>
<li>Locations: Greater Manchester, Chester, Warrington and Staffordshire</li>
<li>&nbsp;</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£2,920.29</span>
    </div>
</div>

<span class="heading-secondary">The college of Birmingham</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 1234888</li>
            <li>&nbsp;</li></ul>
            <h2 class=heading-small>Funding stream: Advanced learning loans </h2>
            <ul>
            <li>Apprentices: 60</li>
<li>Continuing apprentices: 0</li>
<li>Payments: £1,360.20</li>
<li>Locations: West Midlands, North East</li>
<li>&nbsp;</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£1360.20</span>
    </div>
</div>

<span class="heading-secondary">Cadburys training company</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 87654321</li>
            <li>&nbsp;</li></ul>
            <h2 class=heading-small>Funding stream: Apprenticeships 19+ </h2>
            <ul>
            <li>Apprentices: 6</li>
<li>Continuing apprentices: 0</li>
<li>Payments: £3,060.12</li>
<li>Locations: West Midlands</li>
<li>&nbsp;</li>
            </ul>
            <h2 class=heading-small>Funding stream: Advanced learning loans </h2>
            <ul>
            <li>Apprentices: 6</li>
<li>Continuing apprentices: 0</li>
<li>Payments: £1,860.00</li>
<li>Locations: East Midlands</li>
<li>&nbsp;</li>
            </ul>
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£4,920.12</span><br>
       
       
    </div>
</div>


<span class="heading-secondary">Delta training college</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 12345333</li>
            <li>&nbsp;</li></ul>
            <h2 class=heading-small>Funding stream: Advanced learning loans </h2>
            <ul>
            <li>Apprentices: 36</li>
<li>Continuing apprentices: 0</li>
<li>Payments: £1,3600.20</li>
<li>Locations: All</li>
<li>&nbsp;</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£1,3600.20</span>
    </div>
</div>

<span class="heading-secondary">Edge training company</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 67845678</li>
            <li>&nbsp;</li></ul>
            <h2 class=heading-small>Funding stream: 16 to 18 apprenticeships </h2>
            <ul><li>Apprentices: 60</li>
<li>Continuing apprentices: 0</li>
<li>Payments: £1,960.00</li>
<li>Locations: West Midlands</li>
<li>&nbsp;</li></ul>
            
            <h2 class=heading-small>Funding stream: 16 to 18 Traineeships </h2>
            <ul><li>Apprentices: 50</li>
<li>Continuing apprentices: 0</li>
<li>Payments: £11,360.09</li>
<li>Locations: London, Thames Valley</li>
<li>&nbsp;</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£201,000.30</span>
    </div>
</div>
<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="heading-medium">Total</a>
    </div>

    <div class="column-one-third ">
       <p class="heading-medium">£222,801.11</a>
    </div>
</div>

<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="submit">Continue and submit</a> &nbsp; <a href="subcontractor-list">Back to edit</a>
    </div>

    
    <div class="column-one-third ">
       <a href="#">Download a PDF</a><br>
       
    </div>
</div>

<br>





<br>
<br>


<!-- <div class="grid-row">
    <div class="column-one-third">
        <p>Updated<span class="bold-medium definition">25 October 2016</span></p>
        
<details>
    <summary class="underline">Full page history</summary>
    
   
    <br>
    
        

        
        <span class="form-label-bold">25 October 2016</span>
                    

            
        
       
        
            <ul>
            
            <li>16 to 18 apprenticeships updated wih new start and end dates by Jim Riaz</li>
            
        </ul>
    </details>
    </div>

</div> -->

</main>


{% endblock %}