

/**********
 * PRINT (CSS)
 * **********/

/* Global DOM elements */
details {
	padding-top: 5px;
	padding-bottom: 5px;
}
pre {
	display: none;
}

/* IDs and Classes */
#global-header .header-proposition a.menu {
    display: none;
}
.phase-banner {
	display: none;
}
.esfa-banner-container {
	display: none;
}
#global-breadcrumb {
	display: none;
}
.govuk-tabs__title {
	display: none;
}
.govuk-tabs__list {
	display: none;
}
.download-a-document-section-2 {
	display: none;
}
.print-page {
	display: none;
}
.decimal {
	display: none;
}
.padding-funding-breakdown-table {
	padding-bottom: 20px;
}
.padding-top-heading-total {
	padding-top: 10px;
}
.heading-funding-summary {
    margin-top: 0px;
}
.glossary-link {
	display: none;
}

/* DSG funding breakdown */
.govuk-table {
    width: 100%;
}
table {
    width: 100%;
}
table th, table td {
	text-align: left;
	border-bottom: 1px solid #bfc1c3;
}
.govuk-table__caption {
	text-align: left;
	padding-top: 20px;
	font-weight: bold;
	border-bottom: 1px solid #bfc1c3;
}
.govuk-table__header:last-child, .govuk-table__cell:last-child {
    padding-right: 0 !important;
}
.govuk-table__header--numeric, .govuk-table__cell--numeric {
	text-align: right !important;
}
.govuk-table__header, .govuk-table__cell {
	padding: 0 20px 0 0;
	text-align: left;
    border-bottom: 1px solid #bfc1c3;
}
.total-allocation-table table, .total-allocation-table th, .total-allocation-table td {
	font-weight: bold;
	font-size: large;
	border: none;
	padding: 5px 0 5px 0;
}
.total-allocation-table--amount {
    text-align: right !important;
}
.total-allocation-table--heading {
	text-align: left;
	padding-top: 20px;
}
.total-allocation-table-secondary--heading {
	text-align: left;
	padding-top: 20px;
}
.total-allocation-table-secondary table, .total-allocation-table-secondary th, .total-allocation-table-secondary td {
	font-weight: bold;
	border: none;
	padding: 5px 0 5px 0;
}
.total-allocation-table-secondary--amount {
    text-align: right !important;
}
.table-with-five-columns_header--numeric {
    width: 20%;
    font-weight: normal;
    border-bottom: 1px solid #bfc1c3;
    text-align: right;
}
.table-with-five-columns_header--numeric--bold {
    width: 20%;
    font-weight: bold;
    border-bottom: 1px solid #bfc1c3;
    text-align: right;
}
.table-with-five-columns_cell--numeric {
    border-bottom: 1px solid #bfc1c3;
    text-align: right;
}