{% extends "layout.html" %}

{% block page_title %}
    Dedicated schools grant: early years block
{% endblock %}

{% block content %}

<style>
.total-allocation-container {
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 40px;
}
.total-allocation {
    font-size: x-large;
    font-weight: bold;
}
</style>

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">

        <div class="column-full">

            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../../../not-signed-in/single-funding-statement/start">Manage your education and skills funding</a></li>
                        <li><a href="start">ESFA funding allocations for 2018 to 2019</a></li>
                        <li><a href="../find-an-organisation">Find an organisation</a></li>
                        <li><a href="../statement">{% if searchScope == 'Child' %}St Mary's CofE Primary School, East Barnet{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}[ORGANISATION]{% endif %}</a></li>
                        <li>Dedicated schools grant (DSG): early years block</li>
                    </ol>
                </nav>
            </div>

            <div class="form-group">
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">ESFA funding allocations 2018 to 2019 for Camden</span>Dedicated schools grant (DSG): early years block
                </h1>
            </div>

            <br>


            <div class="form-group">
            
                <div>                       
                    <h2 class="heading-medium">Funding factors for early years block</h2>
                </div>

                <div class="form-group">
                    <table class="govuk-table">
                        <caption class="govuk-table__caption heading-small">Universal entitlement for 3 and 4 year olds</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-width-one-quarter" scope="col"></th>
                                <th class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric" scope="col">Change</th>
                                <th class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric" scope="col">Previous total</th>
                                <th class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric" scope="col">Current total</th>
                            </tr>

                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-width-one-quarter" scope="row" style="font-weight: normal">Early Years National Funding Formula (EYNFF) LA hourly rate for 3 and 4 year olds (£ / hr)</th>
                                <td class="govuk-table__cell govuk-!-width-one-quarter govuk-table__cell--numeric">£0</td>
                                <td class="govuk-table__cell govuk-!-width-one-quarter govuk-table__cell--numeric">£8.53</td>
                                <td class="govuk-table__cell govuk-!-width-one-quarter govuk-table__cell--numeric">£8.53</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row" style="font-weight: normal">Part time equivalent (PTE) 3 and 4 year old child numbers</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">2,701.07</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">2,701.07</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row" style="font-weight: bold">Initial funding allocation for universal entitlement for 3 and 4 year olds:</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric" style="font-weight: bold">£0</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" style="font-weight: bold">£13,133,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" style= "font-weight: bold">£13,133,000</td>
                            </tr>
                        </tbody>
                    </table>
                    <details>
                        <summary>
                            <span class="summary">How is this total calculated?</span>
                        </summary>
                        
                        <div class="panel panel-border-narrow">
                            <p>The total allocation is calculated in the following way:</p>
                            <p></p>                
                        </div>
                    </details>
                </div> 

                <div class="form-group">
                    <table class="govuk-table">
                        <caption class="govuk-table__caption heading-small">Additional 15 hours entitlement for eligible working parents of 3 and 4 year olds</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header visuallyhidden" scope="col"></th>
                                <th class="govuk-table__header govuk-table__header--numeric visuallyhidden" scope="col">Change</th>
                                <th class="govuk-table__header govuk-table__header--numeric visuallyhidden" scope="col">Previous total</th>
                                <th class="govuk-table__header govuk-table__header--numeric visuallyhidden" scope="col">Current total</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-width-one-quarter" scope="row" style="font-weight: normal">Early Years National Funding Formula (EYNFF) LA hourly rate for 3 and 4 year olds (£ / hr)</th>
                                <td class="govuk-table__cell govuk-!-width-one-quarter govuk-table__cell--numeric">£0</td>
                                <td class="govuk-table__cell govuk-!-width-one-quarter govuk-table__cell--numeric">£8.53</td>
                                <td class="govuk-table__cell govuk-!-width-one-quarter govuk-table__cell--numeric">£8.53</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-width-one-quarter" scope="row" style="font-weight: normal">Estimated PTE 3 and 4 year old child number</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">0</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">546.10</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">546.10</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row" style="font-weight: bold">Initial funding allocation for universal entitlement for 3 and 4 year olds:</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric" style="font-weight: bold">£0</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" style="font-weight: bold">£2,655,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" style="font-weight: bold">£2,655,000</td>
                            </tr>
                        </tbody>
                    </table>
                    <details>
                        <summary>
                            <span class="summary">How is this total calculated?</span>
                        </summary>
                        
                        <div class="panel panel-border-narrow">
                            <p>The total allocation is calculated in the following way:</p>
                            <p></p>                
                        </div>
                    </details>
                </div> 

                <div class="form-group">
                    <table class="govuk-table">
                        <caption class="govuk-table__caption heading-small">2 year old entitlement</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header visuallyhidden" scope="col"></th>
                                <th class="govuk-table__header govuk-table__header--numeric visuallyhidden" scope="col">Change</th>
                                <th class="govuk-table__header govuk-table__header--numeric visuallyhidden" scope="col">Previous total</th>
                                <th class="govuk-table__header govuk-table__header--numeric visuallyhidden" scope="col">Current total</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-width-one-quarter" scope="row" style="font-weight: normal">LA hourly rate for 2 year old entitlement (£ / hr)</th>
                                <td class="govuk-table__cell govuk-!-width-one-quarter govuk-table__cell--numeric">£0</td>
                                <td class="govuk-table__cell govuk-!-width-one-quarter govuk-table__cell--numeric">£6.50</td>
                                <td class="govuk-table__cell govuk-!-width-one-quarter govuk-table__cell--numeric">£6.50</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-width-one-quarter" scope="row" style="font-weight: normal">PTE 2 year old child numbers</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">0</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">419.80</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">419.80</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row" style="font-weight: bold">Initial funding allocation for universal entitlement for 3 and 4 year olds:</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric" style="font-weight: bold">£0</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" style="font-weight: bold">£1,822,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric" style="font-weight: bold">£1,822,000</td>
                            </tr>
                        </tbody>
                    </table>
                    <details>
                        <summary>
                            <span class="summary">How is this total calculated?</span>
                        </summary>
                        
                        <div class="panel panel-border-narrow">
                            <p>The total allocation is calculated in the following way:</p>
                            <p></p>                
                        </div>
                    </details>
                </div> 


                <div class="form-group">
                    <table class="govuk-table">
                        <caption class="govuk-table__caption heading-small">Other factors</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header visuallyhidden" scope="col"></th>
                                <th class="govuk-table__header govuk-table__header--numeric visuallyhidden" scope="col">Change</th>
                                <th class="govuk-table__header govuk-table__header--numeric visuallyhidden" scope="col">Previous total</th>
                                <th class="govuk-table__header govuk-table__header--numeric visuallyhidden" scope="col">Current total</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-width-one-quarter" scope="row" style="font-weight: normal">Initial funding allocation for Early Years Pupil Premium</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£0</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£110,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£110,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-width-one-quarter" scope="row" style="font-weight: normal">Initial funding allocation for Disability Access Fund</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">£0</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">£52,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">£52,000</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-width-one-quarter" scope="row" style="font-weight: normal">Initial  allocation for maintained nursery school supplementary funding</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">0</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">0</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-quarter">0</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>

                <div class="total-allocation-container">
                    <table class="govuk-table table-with-no-borders">
                        <tr>
                            <th class = "total-allocation">Total allocation:</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric total-allocation">£17,772,000</td>
                        </tr>
                    </table> 
                    <details>
                            <summary>
                                <span class="summary">How is this total calculated?</span>
                            </summary>
                            
                            <div class="panel panel-border-narrow">
                                <p>The total allocation is calculated in the following way:</p>
                                <p></p>                
                            </div>
                    </details>
                </div>
            </div>
            
            <br>
            <br>

            <div class="form-group">
                <section class="attachment embedded">
                    
                    <div class="form-download-container">
                        <p><a href="/public/documents/allocation-statements/example-statement-breakdown.pdf" class="form-download" title="Download these DSG: early years block allocation values (PDF, 276KB)" download>Download these DSG: early years block allocation values (PDF, 276KB)</a></p>
                        <p>If you need this in a different format, you can <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">submit an enquiry</a>.</p>
                    </div>

                </section>
            </div>

            <div class="form-group">
                <div> 
                    <h1 class="heading-medium">
                        Guidance
                    </h1>
                </div>
                    <div class="form-block">
                        <p>If you need more information about the conditions of grant or the technical notes, you can <a href="https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2018-to-2019" target="external">view guidance</a> here.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
