{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">

<div class="phase-banner">
  <p>
    <strong class="phase-tag">PROTOTYPE</strong>
    <span>For testing </span>
  </p>
</div>

    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-secondary">THE BLYTHE ACADEMY</h1>
      <p>UKPRN: 12345678</p>

           <h1 class="heading-xlarge">Manage your funding</h1>

            </div>
        </div>


<span class="heading-secondary">Funding statements</span>
    </div>
</div>


    <div class="column-one-third">
        <ul>
            <li>General Allocation Grant Statement 2018 to 2019</li><br>
            
        <a class="button-grey" href="dashboard2">Veiw your statements</a> 

        <br>
    </div>

    
</div>

</div>



    </main>

{% endblock %}