<div class="grid-row">
    
    <div class="column-full">

        <div class="account-details">

            {% if dashboard == 'Yes' or idams == 'dashboard' or idams == 'internal' %}
            <!-- Do not display this section since it is not needed -->
            {% else %}
            <div class="account-name">
                <span class="name">
                    {% if idams == 'adults' or idams == 'other' %}
                    Casterbridge College (UKPRN: 12345678)
                    {% elif idams == 'LA' %}
                    Redhill Council (UKPRN: 87654321)
                    {% elif idams == 'MAT' %}
                    Rupert Shoggins Academy Trust (UKPRN: 87654321)
                    {% elif idams == 'TP' %}
                    Redhill Council (UKPRN: 87654321)
                    {% else %}
                    [ORGANISATION NAME] (UKPRN: [UKPRN])
                    {% endif %}
                </span>
            </div>
            {% endif %}

            <div class="account-features">
                <span class="account-link"><a href="/{{version}}/signed-in/my-roles-and-permissions">Settings</a></span>
                <span class="account-link"><a href="#">Sign out</a></span>
            </div>

        </div>

    </div>

</div>