<div class="account-master">

    <div class="grid-row account-details">
        
        <div class="column-full controls account-div">

            <div class="account-name">
                <span class="name">{% if idams == 'external' or idams == 'adults' %}Casterbridge College (UKPRN: 12345678){% else %}{% endif %}</span>
            </div>

            <div class="account-features">
                <span class="account-link"><a href="#">Settings</a></span>
                <span class="account-link"><a href="#">Sign out</a></span>
            </div>

        </div>

    </div>

</div>