<div class="grid-row">
    
    <div class="column-full">

        <div class="account-details">

            <div class="account-name">
                <span class="name">
                    {% if dashboard == 'Yes' %}
                    <!-- We do not want to display this IDAMS information on the dashboard -->
                    {% else %}
                        {% if idams == 'external' or idams == 'adults' %}
                        Casterbridge College (UKPRN: 12345678)
                        {% elif idams == 'LA' %}
                        Redhill Council
                        {% elif idams == 'MAT' %}
                        Rupert Shoggins Academy Trust
                        {% else %}
                        <!-- Display no name for anything else declared -->
                        {% endif %}
                    {% endif %}
                </span>
            </div>

            <div class="account-features">
                <span class="account-link"><a href="#">Settings</a></span>
                <span class="account-link"><a href="#">Sign out</a></span>
            </div>

        </div>

    </div>

</div>