<div class="phase-banner">
	<p>
		<strong class="phase-tag">BETA</strong>
		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
	</p>
</div>

{% if publicServiceName == 'True' %}
{% if version == 'beta/v104-0-0' or version == 'beta/v103-0-0' or version == 'beta/v102-0-0' or version == 'beta/v101-0-0' %}
<div class="grid-row">

	<div class="column-full">

        <div class="esfa-banner-container">
            <img class="esfa-banner-crest-image" src="/public/images/org_crest_18px_x2.png" alt>
            <span class="esfa-banner-crest-name">Education &amp; Skills Funding Agency</span>
        </div>

	</div>

</div>
{% else %}

{% endif %}
{% endif %}
