{% if glossaryTerms == 'True' %}
<div class="form-group glossary-link">
	<details>
		<summary>
			<span class="summary">Get help with this page</span>
		</summary>
		
		<div class="panel panel-border-narrow">
			
			<div class="form-group">
				<table>
					<thead>
						<tr>
							<th class="govuk-!-width-one-quarter">Term</th>
							<th>Definition</th>
						</tr>
					</thead>
					<tbody>
						{% if term1 == 'True' %}
						<tr>
							<td>Allocation</td>
							<td>An amount of Education and Skills Funding Agency funding for a learning provider calculated by using a funding formula. Allocations can change throughout the year if pupil numbers change.</td>
						</tr>
						{% endif %}
						{% if term2 == 'True' %}
						<tr>
							<td>Breakdown</td>
							<td>The individual funding elements that make up a total allocation.</td>
						</tr>
						{% endif %}
						{% if term3 == 'True' %}
						<tr>
							<td>Block/funding block</td>
							<td>Funding is divided into blocks to fund different things – for example, building maintenance and pupils with special needs.</td>
						</tr>
						{% endif %}
						{% if term4 == 'True' %}
						<tr>
							<td>Recoupment</td>
							<td>Adjustments to an allocation due to a learning provider moving over to being an academy and therefore being funded directly instead of from Education and Skills Funding Agency.</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>

			<p><a href="/{{version}}/not-signed-in/glossary-of-terms">View full glossary of funding terms</a></p>
			<!-- <p>If you need help you can <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">submit an enquiry</a>.</p> -->
		</div>

	</details>
</div>
{% endif %}