<div class="form-group glossary-link">
	<details>
		<summary>
			<span class="summary">Get help with this page</span>
		</summary>
		
		<div class="panel panel-border-narrow">                            
						
			{% if glossaryTerms == 'True' %}
			<p>...</p>

			<div class="form-group">
				<table>
					<thead>
						<tr>
							<th class="govuk-!-width-one-quarter">Term</th>
							<th>Definition</th>
						</tr>
					</thead>
					<tbody>
						{% if term1 == 'True' %}
						<tr>
							<td>Academic year</td>
							<td>...</td>
						</tr>
						{% endif %}
						{% if term2 == 'True' %}
						<tr>
							<td>Allocation</td>
							<td>...</td>
						</tr>
						{% endif %}
						{% if term3 == 'True' %}
						<tr>
							<td>Financial year</td>
							<td>...</td>
						</tr>
						{% endif %}
						{% if term4 == 'True' %}
						<tr>
							<td>ODS</td>
							<td>...</td>
						</tr>
						{% endif %}
						{% if term5 == 'True' %}
						<tr>
							<td>OpenDocument</td>
							<td>...</td>
						</tr>
						{% endif %}
						{% if term6 == 'True' %}
						<tr>
							<td>Recoupment</td>
							<td>...</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			{% endif %}

			<p>You can <a href="../../glossary-of-terms">view the full glossary of terms</a> for more help with some of the language on this page.</p>
			<p>If you need help you can <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">submit an enquiry</a>.</p>
		</div>

	</details>
</div>