{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">Warwickshire college</span>

           <h1 class="heading-xlarge">Subcontractor declarations history </h1>

            </div>
            </div>
</div>
        <span class="heading-secondary">Nil declaration</span>
    

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 12345678</li>
            </ul><br>
            </div>
</div>

<span class="heading-secondary">The college of Birmingham</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 1234888</li>
            <li>&nbsp;</li></ul>
            
            <ul>
            

<li>Payments: £1,360.20</li>

<li>&nbsp;</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£1360.20</span>
    </div>
</div>

<span class="heading-secondary">Cadburys training company</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 87654321</li>
            <li>&nbsp;</li></ul>
            
            <ul>
            

<li>Payments: £3,060.12</li>

<li>&nbsp;</li>
            </ul>
            
            
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£4,920.12</span><br>
       
       
    </div>
</div>


<span class="heading-secondary">Delta training college</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 12345333</li>
            <li>&nbsp;</li></ul>
            
            <ul>
            

<li>Payments: £1,3600.20</li>

<li>&nbsp;</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£1,3600.20</span>
    </div>
</div>

<span class="heading-secondary">Edge training company</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 67845678</li>
            <li>&nbsp;</li></ul>
             
            
            
            

<li>Payments: £11,360.09</li>

<li>&nbsp;</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£201,000.30</span>
    </div>
</div>
<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="heading-medium">Total</a>
    </div>

    <div class="column-one-third">
       <p class="heading-medium">£222,801.11</a>
    </div>
</div>

<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="submit">Continue and submit</a> &nbsp; <a href="subcontractor-list">Edit this list</a>
    </div>

    
    <div class="column-one-third ">
       <a href="#">Download a PDF</a><br>
       
    </div>
</div>







<br>
<br>




</main>


{% endblock %}