{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

<main role="main" id="content">
    
    

    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">Warwickshire college</span>
        <h1 class="heading-large margin-top-zero">Subcontractor: The college of Leicester</h1>

    </div>
</div>


<div class="grid-row">    
    <div class="column-two-thirds">

    


   <div class="form-group">
    <label class="form-label-bold" for="form-control-1-8">
  <p class="bold-medium">Payments</p>
  <label class="form-label-bold" for="driving-licence">
           Enter the total amount you will pay this subcontractor
           <span class="form-hint">
   
</span>
          
       
    
    <div class="form-hint">For example, 2308.28 <br>
    

    
    
    <div class="form-group">
    <br>
        
   
    <form>

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span class="rj-currency-symbol">
            
            </label>
            <span class="rj-currency-symbol">£</span>

            <input class="form-control form-control-1-4" id="form-control-1-4" type="text" name="form-control-1-4">

            </span>
        </div>
         </form>
        <hr>
        
        </div>
         </div>
    </div>
    </form>


   
   <hr>
   
       
<div>
    <a class="button margin-right" href="subcontractor-list2">Save and continue</a>         
    
</div>
    </div>

</div>

</form>






</main>


{% endblock %}