{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">

           <h1 class="heading-xlarge">Subcontractor list</h1>
            
        <h1 class="heading-secondary margin-top-zero">Warwickshire college</h1>
            </div>
</div>
<span class="heading-secondary">Overview</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Secondary subcontracting</li>
            <li>No</li>
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="bold-small"><a href="#">Edit</a></span><br>
       
       
       
    </div>
    </div>
</div>

    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Charges and fees</li>
            
            <li><a href="#">www.warkscol.com/fees</a></li>
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="bold-small"><a href="#">Edit</a></span><br>
       
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>



<span class="heading-secondary" color= "#6F777B">The college of Birmingham</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 87651234</li>
            <li>&nbsp;</li>
            <li>Funding stream: 16-18 Apprenticeships</li>
            <li>Payments - £2,702.20</li>
            <li>Learners - 60</li>
            <li>Continuing learners - 60</li>
            <li>Locations - West Midlands</li>
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="bold-small"><a href="#">Edit</a></span><br>
       <span class="bold-small"><a href="#"></a></span><br>
       <span class="bold-small"><a href="#">Add a funding stream</a></span><br>
       <span class="bold-small"><a href="#"></a></span><br>
       <span class="bold-small"><a href="#">Delete subcontractor</a></span>
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

<span class="heading-secondary">The college of Leicester</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 87651234</li>
            
            

            <li>&nbsp;</li>
            <li>Funding stream: 16-18 Apprenticeships</li>
            <li>Payments - £101,360.29</li>
            <li>Learners - 60</li>
            <li>Continuing learners - 0</li>
            <li>Locations - West Midlands</li>
            <li>&nbsp;</li>
            <li>Funding stream: Apprenticeships 19+</li>
            <li>Payments - £3,120.30</li>
            <li>Learners - 10</li>
            <li>Continuing learners - 0</li>
            <li>Locations - West Midlands</li>
        </ul> 
    </div>
    <br>
    <br>
    
    

    <div class="column-one-third">
       <span class="bold-small"><a href="#">Edit</a></span><br>
       <span class="bold-small"><a href="#"></a></span><br>
       
       <span class="bold-small"><a href="#"></a></span><br>
       
       <span class="bold-small"><a href="#"></a></span><br>
       
       <div class="column-one-third ">

       
       
    </div>

    </div>
    <br>
    &nbsp;
    <div class="column-one-third">
       
       <span class="bold-small"><a href="#"></a></span><br>
       <span class="bold-small"><a href="#">Edit</a></span><br>
       <span class="bold-small"><a href="#"></a></span><br>
       <span class="bold-small"><a href="#">Add a funding stream</a></span><br>
       <span class="bold-small"><a href="#"></a></span><br>
       <span class="bold-small"><a href="#">Delete subcontractor</a></span>
       <div class="column-one-third ">
       
       
    </div>
</div>
<br>
&nbsp;
</div>


<br>
    


<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="submit">Save and continue</a>
    </div>

    <div class="column-one-third">
       <a href="sub-con-search-add-another2">Add a subcontractor</a>
    </div>
</div>

<br>





<br>
<br>



</main>


{% endblock %}