{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>

    <div class="grid-row ">
        <div class="welcome">
            <ul class="">
                <li class="font-xsmall">Andrea Authoriser</li>
                <li class="font-xsmall"> Casterbridge College</li>
                <li class="font-xsmall">UKPRN:12345678</li>
            </ul>
        </div>
    </div>

    <div class="grid-row">
        <div class="navigation">
            <ul>
                <li><a class="font-xsmall" href="dashboard">Home</a></li>
                <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
                <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
                <li><a class="font-xsmall" href="settings">Settings</a></li>
                <li><a class="font-xsmall" href="/">Sign out</a></li>
            </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">Warwickshire college</span>
        <h1 class="heading-large margin-top-zero">Funding stream values and learner information</h1>

    </div>
</div>


<div class="grid-row">    
    <div class="column-two-thirds">

    <p class="bold-medium">16 to 18 traineeship 1</p>
    <form>
        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Value of the provision only</span>
            </label>
            <span>£ <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="2000"></span>
        </div>

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Maximum number of learners for provision</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="30"> 
        </div>

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Value of the services only</span>
            </label>
            <span>£ <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="1000"></span>
        </div>

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Maximum number of learners for services</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="30"> 
        </div>
    </form>

    <p >Is the activity for carry over learners only?</p>
    <div class="form-group border-bottom">
        <fieldset class="inline">
       
            <legend class="visually-hidden">Is the activity for carry over learners only?</legend>
        
            <label class="block-label" for="radio-inline-1">
                <input id="radio-inline-1" type="radio" name="radio-inline-group1" value="Yes" checked="checked">
                Yes
            </label>
            <label class="block-label" for="radio-inline-2">
                <input id="radio-inline-2" type="radio" name="radio-inline-group1" value="No">
                No
            </label>

        </fieldset>
    </div>
    

    


    <p class="bold-medium">16 to 18 traineeship 2</p>
    <form>
        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Value of the provision only</span>
            </label>
            <span>£ <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="5000"></span>
        </div>

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Maximum number of learners for provision</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="30"> 
        </div>

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Value of the services only</span>
            </label>
            <span>£ <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="1000"></span>
        </div>

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Maximum number of learners for services</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="30"> 
        </div>
    </form>

    <p>Is the activity for carry over learners only?</p>

    <div class="form-group border-bottom">
        <fieldset class="inline">
       
            <legend class="visually-hidden">Is the activity for carry over learners only?</legend>
            
            <label class="block-label" for="radio-inline-2">
                <input id="radio-inline-2" type="radio" name="radio-inline-group2" value="Yes">
                Yes
            </label>
            <label class="block-label" for="radio-inline-2">
                <input id="radio-inline-2" type="radio" name="radio-inline-group2" value="No" checked="checked">
                No
            </label>

        </fieldset>
    </div>
        
    

    <p class="bold-medium">Adult skills budget</p>
    <form>
        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Value of the provision only</span>
            </label>
            <span>£ <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="4000"></span>
        </div>

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Maximum number of learners for provision</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="50">
        </div>

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Value of the services only</span>
            </label>
            <span>£ <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="0"></span>
        </div>

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Maximum number of learners for services</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="50">
        </div>
    </form>

    <p>Is the activity for carry over learners only?</p>

     <div class="form-group">
        <fieldset class="inline">
        
            <legend class="visually-hidden">Is the activity for carry over learners only?</legend>
            <label class="block-label" for="radio-inline-3">
                <input id="radio-inline-3" type="radio" name="radio-inline-group3" value="Yes" checked="checked">
                Yes
            </label>
            <label class="block-label" for="radio-inline-3">
                <input id="radio-inline-3" type="radio" name="radio-inline-group3" value="No">
                No
            </label>

        </fieldset>
        </div>
        
    
       
<div>
    <a class="button margin-right" href="locations">Save and continue</a>         
    <a href="check-your-answers">Save and exit</a>
</div>
    </div>

</div>







</main>


{% endblock %}