{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
            <li><a class="font-xsmall" href="sub-con-home">Subcontractors</a></li>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">

           <h1 class="heading-xlarge">Check your answers</h1>

    <span class="heading-secondary">Warwickshire college</span>

<p class="bold-medium">Subcontractor: The college of Leicester</p>

            
            <h2 class="heading-medium">Funding stream: 16-18 Apprenticships</h2>
            
    </div>
</div>


<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <h2 class="heading-small">Value of training</h2>
       
    
    </div>
    
    <div class="column-two-thirds">
        <span>Full training - £90,160.09</span>
    </div>
    <div class="column-two-thirds">
        <span>Part training - £11,200.20</span>
    </div>

    <div class="column-one-third">
       <span class="bold-small"><a href="sub-contractor-form-s2">Edit</a></span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <h2 class="heading-small">Number of learners</h2>
       
    
    </div>
    <div class="column-two-thirds">
        <span>Full training - 30</span>
    </div>
    <div class="column-two-thirds">
        <span>Part training - 30</span>
    </div>

    <div class="column-one-third">
       <span class="bold-small"><a href="budget-types">Edit</a></span>
    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <h2 class="heading-small">Carry over learners</h2>
       
    
    </div>
    <div class="column-two-thirds">
        <span>0</span>
    </div>
    

    <div class="column-one-third">
       <span class="bold-small"><a href="budget-types">Edit</a></span>
    </div>
</div>




   


<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="subcontractor-list2">Save and continue</a>
    </div>

    <div class="column-one-third ">
    
    </div>
</div>

<br>





<br>
<br>


<!-- <div class="grid-row">
    <div class="column-one-third">
        <p>Updated<span class="bold-medium definition">25 October 2016</span></p>
        
<details>
    <summary class="underline">Full page history</summary>
    
   
    <br>
    
        

        
        <span class="form-label-bold">25 October 2016</span>
                    

            
        
       
        
            <ul>
            
            <li>16 to 18 apprenticeships updated wih new start and end dates by Jim Riaz</li>
            
        </ul>
    </details>
    </div>

</div> -->

</main>


{% endblock %}