{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>

    <div class="grid-row ">
        <div class="welcome">
            <ul class="">
                <li class="font-xsmall">Andrea Authoriser</li>
                <li class="font-xsmall"> Casterbridge College</li>
                <li class="font-xsmall">UKPRN:12345678</li>
            </ul>
        </div>
    </div>

    <div class="grid-row">
        <div class="navigation">
            <ul>
                <li><a class="font-xsmall" href="dashboard2">Home</a></li>
                
            </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">Warwickshire college</span>
        <h1 class="heading-large margin-top-zero">Subcontractor: The college of Leicester</h1>

    </div>
</div>


<div class="grid-row">    
    <div class="column-two-thirds">

    <p class="bold-medium">Funding stream: 16 to 18 Apprenticeships</p>
    
    <p><bold>You can subcontract a complete training course or part of a training course.</p>
   
    <br>
    <p class="bold-medium">Number of apprentices</p>
    <div class="grid-row">    
    <div class="column-two-thirds">
    <form>
        

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Total on an entire course</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="0"> 
        </div>

        

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Total on a part course</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="0"> 
        </div>
        <div class="" style="width: 100px; height: 40px; border-color: #ddd"></div>
        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Will these be continuing for another year</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="Yes/No"> 
        </div>
    </form><br>
    
    &nbsp;<hr><br>

    <p class="bold-medium">Payments</p>

    <p>This is the total amount you will pay the subcontractor to deliver this funding stream.</p>
    <form>
        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Entire course total payment</span>
            </label>
            <span class="rj-currency-symbol"><span class="rj-currency-symbol">£</span>
            <span> <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="0"></span>
        </div>

        

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span class="rj-currency-symbol"><span>Part course total payment</span>
            </label>
            <span> <span class="rj-currency-symbol">£  </span><input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="0"></span>
        </div>

       
    </form>
        &nbsp;<hr><br>




    <p class="bold-medium">Locations</p>
    <form>
        

        <fieldset>


    <legend>
      <span class="visually-hidden">Locations</span>
      <span class="body-text">These are the places your subcontractor will deliver the training.</span>
    </legend>
    <br>
    <label class="form-label-bold" for="locations">The North
           </label>
    

    <div style="margin-top: 18px"></div>

    
    <div class="multiple-choice">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
      <label for="waste-type-3">Greater Manchester, Chester, Warrington and Staffordshire</label>
    </div><div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">



      <label for="waste-type-1">Liverpool City Region, Cumbria and Lancaster</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
      <label for="waste-type-3">North East</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
      <label for="waste-type-2">Yorkshire and Humber</label>
    </div>


    </fieldset></legend>

    <br><p></p>

    <label class="form-label-bold" for="locations">The Midlands
           </label>
     <div style="margin-top: 18px"></div>

    <fieldset>
    <div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">Central Eastern</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
      <label for="waste-type-2">East Midlands</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
      <label for="waste-type-3">West Midlands</label>
    </div>
    </fieldset></legend>

    <br><p></p>

  <label class="form-label-bold" for="locations">The South
           </label>
     <div style="margin-top: 18px"></div>

    <fieldset>


    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
      <label for="waste-type-2">London</label>
    </div>
    
    <div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">South Central</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
      <label for="waste-type-2">South East</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
      <label for="waste-type-3">South West</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">Thames Valley</label>
    </div>
    
    

  </fieldset>
  <hr><br>
       
    </form>
    </span>

   
    
    <hr><br>

    
    


    
       
<div>
    <a class="button margin-right" href="subcontractor-list2">Save and continue</a>         
    
</div>
    </div>

</div>







</main>


{% endblock %}