{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript">
  
$(document).ready(function() {

    $("#funding-title-2").click(function(){

        $(".hidden-2").toggleClass("show-2"); 

        $(".down-arrow-2").toggleClass("up-arrow-new-2");
    });

   
    $("#funding-title-3").click(function(){

        $(".hidden-3").toggleClass("show-3"); 

        $(".down-arrow-3").toggleClass("up-arrow-new-3");
    });
});

</script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
            <li><a class="font-xsmall" href="sub-con-home">Subcontractors</a></li>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    
<!--    <div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/index">Home</a></li>
        <li><a href="/documents">Your contract documents</a></li>
      </ol>
    </div>-->

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        
        <h1 class="heading-xlarge">Complete sub-contractor details</h1>
        
    </div>
</div>


<div class="grid-row">    
        <div class="column-two-thirds">
            
            

            

                
            

              
                
                   <div class="filter-relative">
                        <button type="button" value="Select budget type" id="funding-title-2" tabindex="0" role="button" class="filters-headings heading-small focusing">Select sub-contractor location<span class="down-arrow-2"></span></button>

                        <fieldset class="filters">

                            <legend class="visuallyhidden">Search</legend>


                            <div class="hidden-2">
                            <section class="toggled-content">
                                <ul>
                                   <label class="block" for="central">
                  <input id="central" name="central" type="checkbox" value="central">
                  Central Eastern
                </label>

                <label class="block" for="eastm">
                  <input id="eastm" name="eastm" type="checkbox" value="eastm">
                  East Midlands
                </label>

                <label class="block" for="gmcws">
                  <input id="gmcws" name="gmcws" type="checkbox" value="gmcws">
                  Greater Manchester / Cheshire / Warrington and Staffs
                </label>

                <label class="block" for="liverpool">
                  <input id="liverpool" name="liverpool" type="checkbox" value="liverpool">
                  Liverpool City Region / Cumbria and Lancashire
                </label>

                <label class="block" for="london">
                  <input id="london" name="london" type="checkbox" value="london">
                  London
                </label>

                <label class="block" for="northe">
                  <input id="northe" name="northe" type="checkbox" value="northe">
                  North East
                </label>

                <label class="block" for="southc">
                  <input id="southc" name="southc" type="checkbox" value="southc">
                  South Central
                </label>

                <label class="block" for="southe">
                  <input id="southe" name="southe" type="checkbox" value="southe">
                  South East
                </label>

                <label class="block" for="southw">
                  <input id="southw" name="southw" type="checkbox" value="southw">
                  South West
                </label>

                <label class="block" for="thames">
                  <input id="thames" name="thames" type="checkbox" value="thames">
                  Thames Valley
                </label>

                <label class="block" for="westm">
                  <input id="westm" name="westm" type="checkbox" value="westm">
                  West Midlands
                </label>

                <label class="block" for="yorkshire">
                  <input id="yorkshire" name="yorkshire" type="checkbox" value="yorkshire">
                   Yorkshire and the Humber
                </label>
                
                </ul>
            </section>
            </div>
        </fieldset>
        </div>
                    
                
                    
                    
                    
            
            

            
            <p><a href="/sub-contractor-form-s6" class="button margin-top-2">Continue</a></p>
                

        </div>
     </div>

</main>


{% endblock %}