{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home page</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
            <li><a class="font-xsmall" href="sub-con-home">Subcontractors</a></li>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    
    <!--<div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/index">Home</a></li>
        <li><a href="/documents">Your contract documents</a></li>
      </ol>
    </div>-->

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        
        <a class="back-to-previous" href="/documents">Back</a>
        
        <h1 class="heading-xlarge">Support</h1>


        
                <h3 class="bold-medium">Internal support</h3>
                <ul class="list-none">
                    <li><a href="/">john.north@sfa.bis.gov.uk</a></li>
                </ul>
                <p></p>
                <br>
                
                <h3 class="bold-medium">Central delivery service (CDS) adviser</h3>
                <ul class="list-none">
                    <li><a href="SFADigitalContractingMailbox@sfa.bis.gov.uk">Email your adviser</a></li>
                </ul>
                <br>
                
                <h3 class="bold-medium">Sevice desk for technical queries</h3>
                <ul class="list-none">
                    <li><a href="/">servicedesk@sfa.bis.gov.uk</a></li>
                    <li>Telephone: 0370 267 0001</li>
                </ul>
                <br>
                
                <h3 class="bold-medium">Find out about working with the SFA?</h3>
                <p>You can get information about <a href="/">working with us as a provider</a> from our guidance page including:</p>
                
                 <ul class="list-bullet">
                    <li>planning your skills funding offer</li>
                    <li>registering and bidding for funding</li>
                    <li>recruiting and enrolling learners</li>
                    <li>collecting and returning data</li>
                    <li>payments and monitoring performance</li>
                </ul>
        
                

                <br>
                
                <h3 class="bold-medium">News and information</h3>
                <p>Sign up for updates from:</p>
                <ul class="list-none">
                    <li><a href="/">ESFA update newsletter</a></li>
                    <li><a href="/">FE connect forum</a></li>
                    <li>ESFA GOV.UK page alerts by <a href="/">email</a> or <a href="/">RSS Feed</a></li>
                </ul>
                
                
        
        </div>
    </div>
</div>
</main>


{% endblock %}


