{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">




    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>

        </ul>
        </div>
    </div>






<div class="grid-row spacing-top">
    <div class="column-two-thirds">

        <h2 class="heading-xlarge">Sign your final (R14) funding claim for 2017 to 2018</h2>

        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            You must sign this claim by 6.00pm on 29 October 2018.
          </strong>
        </div>

      <br />

        <p class="padding-top">By signing and submitting this funding claim, I confirm that:</p>


               <ul class="list list-bullet">
                  <li>the information in this claim is accurate and in line with ESFA funding rules</li>
                  <li>I will sign and submit a new version of this claim if any of the information changes</li>
                  <li>I am authorised to sign and submit this claim on behalf of my organisation and can prove this if required</li>

              </ul>

</p>


        <ul>
          <li><a href="funding-claims-p1"> Review this funding claim</a></li>
        </ul>
        <br />
        <ul>
            <li><a class="button" href="confirmation-funding">Sign and submit</a></li>

        </ul>




    </div>


</div>

</main>

{% endblock %}
