{% extends "layout.html" %}

{% block page_title %}
    {% if error %}Error: {% endif %}Review your document names
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <!-- Account Management (IDAMS) - START -->
    {% include "includes/idams-account-header.html" %}
    <!-- Account Management (IDAMS) - END -->

    <div class="grid-row">
        
        <div class="column-full">

            <div id="global-breadcrumb" class="breadcrumbs group">

                <nav>
                    <ol>
                        <li><a href="dashboard">Home</a></li>
                        <li><a href="home">Document exchange</a></li>
                        <li><a href="file-share">File share documents</a></li>
                        <li>Review your document names</li>
                    </ol>
                </nav>

            </div>

            <form method="post" class="form">

                {% if error %}
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There is a problem</h1>
                    <ul class="error-summary-list">
                        <li class="non-linked-error">Select the document names and errors that you want to download</li>
                        <!-- <li class="non-linked-error">Select the documents that you want to remove</li> -->
                    </ul>
                </div>
                {% endif %}
    
                <h1 class="heading-xlarge">
                    <!-- <span class="heading-secondary">Casterbridge College</span>
                    <span class="heading-secondary">UKPRN: 12345678</span> -->
                    Review your document names
                </h1>

                <div class="form-group">
                    <ol class="list list-number">
                        <li>Select and download a list of document names and errors.</li>
                        <li>Remove these documents from the table below.</li>
                        <li>Correct the document names in your local area.</li>
                        <li>Add the documents back into the file share.</li>
                    </ol>
                </div>

                <div class="pager">
    
                    <div id="documentsSelectedText" class="pager-summary">
                        0 documents selected
                    </div>
    
                </div>

                <div class="column-filter-one-third column-third minus-25px-margin-top">
                    <input name="__RequestVerificationToken" type="hidden" value="1zh_N8lRib7lfcfEl8QxdJnYtoRXaIeniwGFkUN2Liog1DsmAPfZMC6ZzKpp9DvdW6zZRV3xT3KEuwWgkjhHtyxDJ41ln4KMqhcjzkGzbJ7l6fbUnxkH6_XzM60_kqjB69W5yg2">
                    <section class="filters">
                        <br>

                        <div class="">
                            <ul>
                                <li>
                                    <fieldset class="filter">
                                        <legend class="visuallyhidden">Filter by document name error</legend>
                
                                        <div class="js-filter-collapsible-collections statusFilter">
                                            <section id="status-filters" class="js-filter-collapsible js-open">
                                                <input type="hidden" name="queryFilterOpen.Status" id="queryFilterOpen.Status" value="True">
                                                <header class="js-filter-collapsible-header">
                                                    <h3 id="status" class="filters-headings heading-small">Filter by document name error</h3>
                                                </header>

                                                <div class="js-filter-collapsible-content">
                                                    <section class="toggled-adult-funding-content group">
                                                        <ul>
                                                            <li class="gds-multiple-choice multiple-choice">
                                                                <input id="queryFilterErrorType01" rel="01" name="queryFilterErrorType" type="checkbox" value="01">
                                                                <label class="block" for="queryFilterErrorType01">
                                                                    Academic year is not a valid format ({% if paginationRequired %}4{% else %}4{% endif %})
                                                                </label>
                                                            </li>
                                                            <li class="gds-multiple-choice multiple-choice">
                                                                <input id="queryFilterErrorType02" rel="02" name="queryFilterErrorType" type="checkbox" value="02">
                                                                <label class="block" for="queryFilterErrorType02">
                                                                    Document type code is not a valid format ({% if paginationRequired %}2{% else %}2{% endif %})
                                                                </label>
                                                            </li>
                                                            <li class="gds-multiple-choice multiple-choice">
                                                                <input id="queryFilterErrorType03" rel="03" name="queryFilterErrorType" type="checkbox" value="03">
                                                                <label class="block" for="queryFilterErrorType03">
                                                                    UKPRN does not contain 8 numbers ({% if paginationRequired %}2{% else %}2{% endif %})
                                                                </label>
                                                            </li>
                                                            <li class="gds-multiple-choice multiple-choice">
                                                                <input id="queryFilterErrorType04" rel="04" name="queryFilterErrorType" type="checkbox" value="04">
                                                                <label class="block" for="queryFilterErrorType04">
                                                                    UKPRN is not recognised in the system ({% if paginationRequired %}4{% else %}4{% endif %})
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </section>
                                                </div>

                                            </section>
                                        </div>

                                    </fieldset>
                                </li>
                            </ul>
                        </div>

                    </section>
                </div>

                <!-- Document list -->
                <div id="sent-files" class="column-document-list-two-thirds column-two-thirds document-list">
                    <p><a href="#" id="selectAllTrigger">Select/deselect all documents</a></p>

                    <div class="form-group">
                        <table>
                            <thead>
                                <tr class="first">
                                    <th>
                                        <div style="display: none;" class="document-checkbox-div multiple-choice">
                                            <input id="document-checkbox" name="document-checkbox" type="checkbox" value="document-checkbox" onchange="selectAll('sortable-table-contents')">
                                            <label for="document-checkbox"></label>
                                        </div>
                                    </th>
                                    <th class="">
                                        <span class="tab-header-no-sort">Document name</span>
                                    </th>                                
                                    <th>
                                        <span class="tab-header-no-sort">Document name error</span>
                                    </th>
                                </tr>
                            </thead>
                            <!-- 54 RESULTS -->
                            {% if paginationRequired %}
                            <!-- 25 RESULTS (1-25 OF 54) -->
                            {% if page1 %}
                            
                            <!-- 25 RESULTS (26-50 OF 54) -->
                            {% elif page2 %}

                            <!-- 4 RESULTS (51-54 OF 54) -->
                            {% elif page3 %}

                            {% endif %}
                            <!-- 12 RESULTS -->
                            {% else %}
                            <tbody id="sortable-table-contents">
                                <tr id="file-01">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-01" name="checkbox-file-selection" type="checkbox" value="checkbox-file-01" onclick="">
                                            <label for="checkbox-file-01"></label>
                                        </div>
                                    </td>
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10044577_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 10:54am on 02 June 2018 -->
                                    </td>
                                    <td class="sortable-td 03" rel="03" style="vertical-align: top;">
                                        UKPRN does not contain 8 numbers
                                    </td>
                                </tr>
                                <tr id="file-02">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-02" name="checkbox-file-selection" type="checkbox" value="checkbox-file-02" onclick="">
                                            <label for="checkbox-file-02"></label>
                                        </div>
                                    </td>
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10043873_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 11:17am on 04 October 2018 -->
                                    </td>
                                    <td class="sortable-td 01" rel="01" style="vertical-align: top;">
                                        Academic year is not a valid format
                                    </td>
                                </tr>
                                <tr id="file-03">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-03" name="checkbox-file-selection" type="checkbox" value="checkbox-file-03" onclick="">
                                            <label for="checkbox-file-03"></label>
                                        </div>
                                    </td>  
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10056867_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 9:46am on 23 September 2018 -->
                                    </td>

                                    <td class="sortable-td 02" rel="02" style="vertical-align: top;">
                                        Document type code is not a valid format
                                    </td>
                                </tr>
                                <tr id="file-05">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-05" name="checkbox-file-selection" type="checkbox" value="checkbox-file-05" onclick="">
                                            <label for="checkbox-file-05"></label>
                                        </div>
                                    </td>
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10006473_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 12:32pm on 07 October 2018 -->
                                    </td>
                                    <td class="sortable-td 01" rel="01" style="vertical-align: top;">
                                        Academic year is not a valid format
                                    </td>
                                </tr>
                                <tr id="file-06">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-06" name="checkbox-file-selection" type="checkbox" value="checkbox-file-06" onclick="">
                                            <label for="checkbox-file-06"></label>
                                        </div>
                                    </td>
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10006622_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 4:02pm on 01 October 2018 -->
                                    </td>
                                    <td class="sortable-td 04" rel="04" style="vertical-align: top;">
                                        UKPRN is not recognised in the system
                                    </td>
                                </tr>
                                <tr id="file-01">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-01" name="checkbox-file-selection" type="checkbox" value="checkbox-file-01" onclick="">
                                            <label for="checkbox-file-01"></label>
                                        </div>
                                    </td>
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10044577_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 10:54am on 02 June 2018 -->
                                    </td>
                                    <td class="sortable-td 02" rel="02" style="vertical-align: top;">
                                        Document type code is not a valid format
                                    </td>
                                </tr>
                                <tr id="file-02">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-02" name="checkbox-file-selection" type="checkbox" value="checkbox-file-02" onclick="">
                                            <label for="checkbox-file-02"></label>
                                        </div>
                                    </td>
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10043873_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 11:17am on 04 October 2018 -->
                                    </td>
                                    <td class="sortable-td 04" rel="04" style="vertical-align: top;">            
                                        UKPRN is not recognised in the system
                                    </td>
                                </tr>
                                <tr id="file-03">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-03" name="checkbox-file-selection" type="checkbox" value="checkbox-file-03" onclick="">
                                            <label for="checkbox-file-03"></label>
                                        </div>
                                    </td>  
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10056867_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 9:46am on 23 September 2018 -->
                                    </td>
                                    <td class="sortable-td 04" rel="04" style="vertical-align: top;">
                                        UKPRN is not recognised in the system
                                    </td>
                                </tr>
                                <tr id="file-04">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-04" name="checkbox-file-selection" type="checkbox" value="checkbox-file-04" onclick="">
                                            <label for="checkbox-file-04"></label>
                                        </div>
                                    </td>
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10006943_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 9:02am on 28 September 2018 -->
                                    </td>
                                    <td class="sortable-td 04" rel="04" style="vertical-align: top;">
                                        UKPRN is not recognised in the system
                                    </td>
                                </tr>
                                <tr id="file-06">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-06" name="checkbox-file-selection" type="checkbox" value="checkbox-file-06" onclick="">
                                            <label for="checkbox-file-06"></label>
                                        </div>
                                    </td>
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10006622_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 4:02pm on 01 October 2018 -->
                                    </td>
                                    <td class="sortable-td 01" rel="01" style="vertical-align: top;">
                                        Academic year is not a valid format
                                    </td>
                                </tr>
                                <tr id="file-01">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-01" name="checkbox-file-selection" type="checkbox" value="checkbox-file-01" onclick="">
                                            <label for="checkbox-file-01"></label>
                                        </div>
                                    </td>
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10044577_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 10:54am on 02 June 2018 -->
                                    </td>
                                    <td class="sortable-td 03" rel="03" style="vertical-align: top;">
                                        UKPRN does not contain 8 numbers
                                    </td>
                                </tr>
                                <tr id="file-02">
                                    <td class="document-checkbox-td sortable-td">
                                        <div class="document-checkbox-div multiple-choice">
                                            <input id="checkbox-file-02" name="checkbox-file-selection" type="checkbox" value="checkbox-file-02" onclick="">
                                            <label for="checkbox-file-02"></label>
                                        </div>
                                    </td>
                                    <td class="sortable-td" style="vertical-align: top;">
                                        <a href="#">10043873_10041_201819.pdf</a>
                                        <br>
                                        <!-- Modified 11:17am on 04 October 2018 -->
                                    </td>
                                    <td class="sortable-td 01" rel="01" style="vertical-align: top;">
                                        Academic year is not a valid format
                                    </td>
                                </tr>
                            </tbody>
                            {% endif %}
                        </table>

                        {% if paginationRequired %}
                        {% if page1 %}
                        <div class="pager">

                            <div class="pager-controls">
                                <ul class="pager-items">
                                    <li>
                                        <span class="text-bold">1</span>
                                    </li>
                                    <li>
                                        <a href="documents-to-publish?paginationRequired=true&page2=true">2</a>
                                    </li>
                                    <li>
                                        <a href="documents-to-publish?paginationRequired=true&page3=true">3</a>
                                    </li>
                                    <a class="pager-next" href="documents-to-publish?paginationRequired=true&page2=true">Next</a>
                                </ul>                                
                            </div>
            
                            <div class="pager-summary">
                                Showing 1 to 25 of 54 documents
                                <span id="totalDocumentCount" style="display: none;">54</span>
                            </div>
            
                        </div>
                        {% elif page2 %}
                        <div class="pager">

                            <div class="pager-controls">                               
                                <ul class="pager-items">
                                    <a class="pager-next" href="documents-to-publish?paginationRequired=true&page1=true">Previous</a>
                                    &nbsp;&nbsp;
                                    <li>
                                        <a href="documents-to-publish?paginationRequired=true&page1=true">1</a>
                                    </li>
                                    <li>
                                        <span class="text-bold">2</span>
                                    </li>
                                    <li>
                                        <a href="documents-to-publish?paginationRequired=true&page3=true">3</a>
                                    </li>
                                    <a class="pager-next" href="documents-to-publish?paginationRequired=true&page3=true">Next</a>
                                </ul>
                            </div>
            
                            <div class="pager-summary">
                                Showing 26 to 50 of 54 documents
                                <span id="totalDocumentCount" style="display: none;">54</span>
                            </div>
            
                        </div>
                        {% elif page3 %}
                        <div class="pager">

                            <div class="pager-controls">                               
                                <ul class="pager-items">
                                    <a class="pager-next" href="documents-to-publish?paginationRequired=true&page2=true">Previous</a>
                                    &nbsp;&nbsp;
                                    <li>
                                        <a href="documents-to-publish?paginationRequired=true&page1=true">1</a>
                                    </li>
                                    <li>
                                        <a href="documents-to-publish?paginationRequired=true&page2=true">2</a>
                                    </li>
                                    <li>
                                        <span class="text-bold">3</span>
                                    </li>
                                </ul>
                            </div>
            
                            <div class="pager-summary">
                                Showing 51 to 54 of 54 documents
                                <span id="totalDocumentCount" style="display: none;">54</span>
                            </div>
            
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="pager">
            
                            <div class="pager-summary">
                                Showing 1 to 12 of 12 documents
                                <span id="totalDocumentCount" style="display: none;">12</span>
                            </div>
            
                        </div>
                        {% endif %}

                    </div>

                    <div class="form-group">
                        <button class="button">Download selected document names and errors (ODS)</button>
                    </div>
                    
                    <div class="form-group">
                        <a href="documents-to-review-remove-confirm">Remove selected documents</a>
                    </div>

                    <div class="form-group direction-rtl">
                        <a class="app-c-back-to-top dont-print" href="#content">
                            <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                            </svg>
                            Back to top
                        </a>
                    </div>

                </div>

            </form>

        </div>

    </div>

</main>

<!-- JavaScript -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<script src="/public/javascripts/lifted/jquery-ui.js"></script>
<script src="/public/javascripts/lifted/jquery.unobtrusive-ajax.js"></script>
<script src="/public/javascripts/lifted/application.js"></script>
<script src="/public/javascripts/lifted/bind.js"></script>
<script src="/public/javascripts/lifted/details.polyfill.js"></script>
<script src="/public/javascripts/lifted/govuk-template.js"></script>
<script src="/public/javascripts/lifted/HeaderFooterOnly.js"></script>
<script src="/public/javascripts/lifted/selection-buttons.js"></script>
<script src="/public/javascripts/lifted/pds.js"></script>

<!-- Filters for the document list -->
<script src="/public/javascripts/filters-and-checkboxes.js"></script>
<!-- Sorting for the document list -->
<script src="/public/javascripts/sorting-fileshare.js"></script>

{% endblock %}
