{% extends "layout.html" %}

{% block page_title %}
    You've published 4 documents
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- Account Management (IDAMS) - START -->
    {% include "includes/idams-account-header.html" %}
    <!-- Account Management (IDAMS) - END -->

    <div class="grid-row">
        
        <div class="column-full">

            <form method="post" class="form">

                <div class="form-group">
                
                    <div class="govuk-box-highlight">
                        <h1 class="bold-xlarge">You’ve published 54 documents</h1>
                    </div>
                    <p>
                        <br />
                        You’ve published 54 business case templates.
                    </p>
                </div>

                <div class="form-group">
                    <h2 class="heading-medium">What happens next</h2>
                    <p>We’ll send you an email to confirm that we have published your documents. It may take a few minutes for all of your documents to show in provider view.</p>
                </div>
                <div class="form-group">
                    <h2 class="heading-medium">Publish more documents</h2>
                    <p>You can add more documents to your file share, then publish them using document exchange.
                    </p>
                </div>
                <div class="actions">
                    <button class="button">Finish</button>
                </div>

            </form>

        </div>

    </div>

</main>

{% endblock %}
