

<!DOCTYPE html>
<!--[if lt IE 9]>
        <html class="lte-ie8" lang="en" >
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->



<head>



    <title>PE and sport premium 2017 to 2018</title>

    <link rel="shortcut icon" href="/Content/govuk/images/favicon.ico" type="image/x-icon">

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.10.1">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.10.1">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.10.1">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.10.1">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if lt IE 9]>
        <link href='/Content/govuk/cssPrintIE8?v=5lu2Ye67GFOYN5TyCF5mVlP19hznAA7dXpiQEKmA8UI1' rel='stylesheet' type='text/css' media='print' />

        <link href='/Content/govuk/cssScreenIE8?v=BJyveAIY1JY0-8r364Xfd3dH95_wD_tVbJw6lubuT181' rel='stylesheet' type='text/css' media='screen'/>

    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link href='https://sfs.doat.skillsfunding.service.gov.uk/Content/govuk/cssPrint?v=5lu2Ye67GFOYN5TyCF5mVlP19hznAA7dXpiQEKmA8UI1' rel='stylesheet' type='text/css' media='print' />

    <link href='https://sfs.doat.skillsfunding.service.gov.uk/Content/govuk/cssScreen?v=o3sqeToci6jwIml_KBt6eMbcCCNq_k0LCGzZa5-uEQg1' rel='stylesheet' type='text/css' media='screen'/>

    <!--<![endif]-->


</head>
<body>


<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=UA-63492141-3"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] ||
            function() {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63492141-3', 'auto');
    ga('send', 'pageview');
</script>

<script type="text/javascript"> document.body.className = ((document.body.className) ? document.body.className + " js-enabled" : "js-enabled"); </script>

    <div id="global-cookie-message">
        <div class="outer-block">
            <div class="inner-block">
            </div>
        </div>
    </div>
    <!--end global-cookie-message-->

<header id="global-header" class=" with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                    <img alt="Crown logo" src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown-e29852f97b3a3fc0abfd44de1418e260.png" width="35" height="31"> GOV.UK
                </a>
            </div>

        </div>

        <div class="header-proposition">
            <div class="content">
                <div class="header-logo" style="margin: 5px 0 2px;">
<a href="/" id="proposition-name">Education and skills funding service</a>                </div>
            </div>
        </div>
    </div>
</header>
<!--end header-->

<div id="global-header-bar">
    <div class="inner-block">
        <div class="header-bar"></div>
    </div>
</div>
    <!--end global-header-bar-->

    <main id="content">
        <div>



        </div>
        <div class="grid-row">
            <div class="column-full">
              <div id="global-breadcrumb" class="breadcrumbs">
                <nav>
                    <ol>
                      <li><a href="../skills-funding-service/start.html">Skills funding service</a></li>
                      <li><a href="find-org.html">PE and sport premium allocations</a></li>
                      <li><a href="journey-split.html">Find an organisation</a></li>
                      <li>Search results</li>
                    </ol>
                </nav>
              </div>

<br />

                    <h1 class="heading-xlarge">PE and sport premium 2017 to 2018</h1>


<form action="/pesport/pesportsearch" method="post">
              <div><a href="#">Download search results (ODS, 56KB)</a></div><br />

              <h2 class="search-results-title">Search results for &#39;<span class="bold-medium">Shirland Primary School</span>&#39;</h2><br />

    <dl class="small">
                        <dt>Address:</dt>
                        <dd>Park Lane, Shirland, Alfreton, Derbyshire, DE55 6BH</dd>


                        </dd>

                        <dt class="inline-details">
                            <abbr title="Local authority - Establishment number">LAESTAB</abbr>:
                        </dt>
                        <dd>830/2223</dd>

                        <dt>Local authority name:</dt>
                        <dd>Derbyshire</dd>
                        <dt>Total allocation</dt>
                        <dd>&#163;17,570</dd>
                    </dl>
              </div>
</form>
            </div>
        </div>


    </main>





<footer class="group js-footer" id="footer">
    <div class="footer-wrapper">
        <div class="footer-meta">
            <div class="footer-meta-inner">


                <h2 class="sfa-footer-link">
                    <span>
                    </span>
                </h2>
                <ul>
                    <li><a href="/privacy-and-cookies">Privacy and cookies</a></li>
                    <li><a href="/terms-and-conditions">Terms and conditions</a></li>
                    <li>
                        Built by the <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" rel="external" title="This will open in a new window">Education and Skills Funding Agency</a>
                    </li>
                </ul>

                <div class="open-government-licence">
                    <p class="logo">
                        <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                    </p>
                    <p>
                        All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="external" title="This will open in a new window">Open Government Licence v3.0</a>, except where otherwise stated
                    </p>
                </div>
            </div>

            <div class="copyright">
                <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">© Crown copyright</a>
            </div>

        </div>
        <div style="padding-left: 30px;">Version: 1.1.0.0</div>
    </div>
</footer>

    <!--end footer-->
    <!--[if lt IE 9]>
        <script src="/bundles/jsIE8?v=9hqSPPnF4fxwgS_NiPG_tvyLfZBaVQu2ak0aGMRiQx01"></script>

    <![endif

    <!--[if gt IE 8]><!-->
    <script src="https://sfs.doat.skillsfunding.service.gov.uk/bundles/js?v=k0HvER1W1bplWiDCdefYlDx3E1cT4NYOq9hqdOR6w-M1"></script>


    <!--<![endif]-->


</body>
</html>
