

<!DOCTYPE html>
<!--[if lt IE 9]>
        <html class="lte-ie8" lang="en" >
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<head>


    <title>PE and sport premium 2018 to 2019</title>

    <link rel="shortcut icon" href="/Content/govuk/images/favicon.ico" type="image/x-icon">

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.10.1">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.10.1">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.10.1">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.10.1">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if lt IE 9]>
        <link href='/Content/govuk/cssPrintIE8?v=5lu2Ye67GFOYN5TyCF5mVlP19hznAA7dXpiQEKmA8UI1' rel='stylesheet' type='text/css' media='print' />

        <link href='/Content/govuk/cssScreenIE8?v=BJyveAIY1JY0-8r364Xfd3dH95_wD_tVbJw6lubuT181' rel='stylesheet' type='text/css' media='screen'/>

    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link href='https://sfs.doat.skillsfunding.service.gov.uk/Content/govuk/cssPrint?v=5lu2Ye67GFOYN5TyCF5mVlP19hznAA7dXpiQEKmA8UI1' rel='stylesheet' type='text/css' media='print' />

    <link href='https://sfs.doat.skillsfunding.service.gov.uk/Content/govuk/cssScreen?v=o3sqeToci6jwIml_KBt6eMbcCCNq_k0LCGzZa5-uEQg1' rel='stylesheet' type='text/css' media='screen'/>

    <!--<![endif]-->
    <style>
      .multiple-choice [type=checkbox] + label::before
      {
      	width: 12px;
      	height: 12px;
      	box-sizing: initial;
      }

      .multiple-choice [type=checkbox] + label::after {
      	width: 8px;
      	height: 3px;
      	border-width: 0 0 2px 2px;
      	top: 5px;
      	left: 3px;
      	box-sizing: initial;
      }

      .multiple-choice {
      	padding: 0 0 0 30px;
      }
      </style>

</head>
<body>


<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=UA-63492141-3"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] ||
            function() {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63492141-3', 'auto');
    ga('send', 'pageview');
</script>

<script type="text/javascript"> document.body.className = ((document.body.className) ? document.body.className + " js-enabled" : "js-enabled"); </script>

    <div id="global-cookie-message">
        <div class="outer-block">
            <div class="inner-block">
            </div>
        </div>
    </div>
    <!--end global-cookie-message-->

<header id="global-header" class=" with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                    <img alt="Crown logo" src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown-e29852f97b3a3fc0abfd44de1418e260.png" width="35" height="31"> GOV.UK
                </a>
            </div>

        </div>

        <div class="header-proposition">
            <div class="content">
                <div class="header-logo" style="margin: 5px 0 2px;">
<a href="/" id="proposition-name">Education and skills funding service</a>                </div>
            </div>
        </div>
    </div>
</header>
<!--end header-->

<div id="global-header-bar">
    <div class="inner-block">
        <div class="header-bar"></div>
    </div>
</div>
    <!--end global-header-bar-->

    <main id="content">
        <div>



        </div>
        <div class="grid-row">
            <div class="column-full">
              <div id="global-breadcrumb" class="breadcrumbs">
                <nav>
                  <ol>
                    <li><a href="../skills-funding-service/start.html">Skills funding service</a></li>
                    <li><a href="find-org.html">PE and sport premium allocations</a></li>
                    <li><a href="journey-split.html">Find an organisation</a></li>
                    <li>Did you mean</li>
                  </ol>
                </nav>
              </div>


                    <h1 class="heading-xlarge">PE and sport premium 2018 to 2019</h1>




<div id="school-inter-school" class="column-full">
<form action="/pesport/schoolfilter" method="get"><input id="SearchCriteria" name="SearchCriteria" type="hidden" value="st joseph" /><div class="column-third minus-20px-margin-top">

<form PageNumber="0" action="/pesport/pesportsearch" method="post"><input name="__RequestVerificationToken" type="hidden" value="9PMBCdoUEPPTq7if0SE5Vi5aNg1gNrEPfXrWwBo23ywSUv6Cot9lGNgHlM9o8_EGbInQoYbpyLDvJDrlZ9HIdZpXE0Y1" />        <section class="filters">
            <br />
            <div class="search-hidden-mobile">
                <ul>
                        <li>

<fieldset class="filter">
    <legend class="visuallyhidden">establishment type</legend>
    <div class="js-filter-collapsible-collections SchoolTypeFilter">
        <section class="js-filter-collapsible">
            <input type="hidden" name="QueryFilter.Filters.Open.SchoolType" id="QueryFilter.Filters.Open.SchoolType" value="True" />
            <header>
                <h3 id="establishmenttype" class="filters-headings heading-small">Establishment type</h3>
            </header>
            <div class="js-filter-collapsible-content">
                <section class="toggled-adult-funding-content">
                    <ul>
                      <li class="multiple-choice">
                          <input id="QueryFilter.Filters.Academy" name="QueryFilter.Filters.SchoolType" type="checkbox" value="Academy" checked />
                          <label class="block" for="QueryFilter.Filters.Academy">

                              Academies
                          </label>
                      </li>

                            <li class="multiple-choice">
                                <input id="QueryFilter.Filters.Maintained" name="QueryFilter.Filters.SchoolType" type="checkbox" value="Maintained"  />
                                <label class="block" for="QueryFilter.Filters.Maintained">

                                    Maintained schools
                                </label>
                            </li>

                            <li class="multiple-choice">
                                <input id="QueryFilter.Filters.Special" name="QueryFilter.Filters.SchoolType" type="checkbox" value="Special"  />
                                <label class="block" for="QueryFilter.Filters.Special">

                                    Non-maintained special schools
                                </label>
                            </li>
                    </ul>
                </section>
            </div>
        </section>
    </div>
</fieldset>
                        </li>
                        <li>

<fieldset class="filter">
    <legend class="visuallyhidden">local authority</legend>
    <div class="js-filter-collapsible-collections RegionFilter">
        <section class="js-filter-collapsible">
            <input type="hidden" name="QueryFilter.Filters.Open.Region" id="QueryFilter.Filters.Open.Region" value="True" />
            <header>
                <h3 id="localauthority" class="filters-headings heading-small">Local authority</h3>
            </header>
            <div class="js-filter-collapsible-content">
                <section class="toggled-adult-funding-content">
                    <ul>
                      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">

Barking and Dagenham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Barnet
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bedford
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bexley
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Birmingham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Blackburn with Darwen
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bolton
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bracknell Forest
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bradford
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Brent
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Brighton and Hove
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bristol City of
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bromley
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Buckinghamshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bury
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Calderdale
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Camden
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Cheshire West and Chester
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Croydon
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Cumbria
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Derby
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Derbyshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Devon
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Doncaster
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Dorset
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Dudley
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Durham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Ealing
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
East Riding of Yorkshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Essex
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Gateshead
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Gloucestershire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Greenwich
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Hackney
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Hampshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Harrow
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Hartlepool
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Havering
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Herefordshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Hertfordshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Islington
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Kensington and Chelsea
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Kent
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Kingston upon Thames
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Kirklees
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Knowsley
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Lancashire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Leeds
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Leicester
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Leicestershire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Lewisham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Luton
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Manchester
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Middlesbrough
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Newcastle upon Tyne
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
North East Lincolnshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
North Somerset
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
North Tyneside
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
North Yorkshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Northumberland
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Nottinghamshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Oldham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Oxfordshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Plymouth
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Poole
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Rochdale
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox" checked/>
          <label class="block">
Rotherham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Salford
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Sheffield
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Somerset
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
South Tyneside
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Southwark
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Staffordshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Stockport
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Stockton-on-Tees
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Stoke-on-Trent
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Suffolk
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Sunderland
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Surrey
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Tameside
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Thurrock
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Tower Hamlets
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Trafford
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Wakefield
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Walsall
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Waltham Forest
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Wandsworth
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Warrington
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Warwickshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
West Berkshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
West Sussex
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Westminster
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Wigan
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Wiltshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Wirral
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Worcestershire
</label>
                            </li>
                    </ul>
                </section>
            </div>
        </section>
    </div>
</fieldset>
                        </li>
                </ul>

            </div>
        </section>
</form></div>    <div id="multiple-schools" class="column-two-thirds">

        <h2 class="search-results-title">Search results for &#39;<span class="bold-medium">St Josephs</span>&#39;</span></h2>

            <h3><p>We found 1 school. Did you mean:</p> </h3>
            <ul>


                        <li><a href="st-josephs.html">St Joseph&#39;s Catholic Primary School, Rotherham, S60 1GB</a></li>
                      </ul>
    </div>
</form></div>

            </div>
        </div>


    </main>





<footer class="group js-footer" id="footer">
    <div class="footer-wrapper">
        <div class="footer-meta">
            <div class="footer-meta-inner">


                <h2 class="sfa-footer-link">
                    <span>
                    </span>
                </h2>
                <ul>
                    <li><a href="/privacy-and-cookies">Privacy and cookies</a></li>
                    <li><a href="/terms-and-conditions">Terms and conditions</a></li>
                    <li>
                        Built by the <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" rel="external" title="This will open in a new window">Education and Skills Funding Agency</a>
                    </li>
                </ul>

                <div class="open-government-licence">
                    <p class="logo">
                        <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                    </p>
                    <p>
                        All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="external" title="This will open in a new window">Open Government Licence v3.0</a>, except where otherwise stated
                    </p>
                </div>
            </div>

            <div class="copyright">
                <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">© Crown copyright</a>
            </div>

        </div>
        <div style="padding-left: 30px;">Version: 1.1.0.0</div>
    </div>
</footer>

    <!--end footer-->
    <!--[if lt IE 9]>
        <script src="/bundles/jsIE8?v=9hqSPPnF4fxwgS_NiPG_tvyLfZBaVQu2ak0aGMRiQx01"></script>

    <![endif

    <!--[if gt IE 8]><!-->
    <script src="https://sfs.doat.skillsfunding.service.gov.uk/bundles/js?v=k0HvER1W1bplWiDCdefYlDx3E1cT4NYOq9hqdOR6w-M1"></script>


    <!--<![endif]-->


</body>
</html>
