

<!DOCTYPE html>
<!--[if lt IE 9]>
        <html class="lte-ie8" lang="en" >
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<head>



    <title>PE and sport premium 2018 to 2019</title>

    <link rel="shortcut icon" href="/Content/govuk/images/favicon.ico" type="image/x-icon">

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.10.1">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.10.1">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.10.1">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.10.1">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if lt IE 9]>
        <link href='/Content/govuk/cssPrintIE8?v=5lu2Ye67GFOYN5TyCF5mVlP19hznAA7dXpiQEKmA8UI1' rel='stylesheet' type='text/css' media='print' />

        <link href='/Content/govuk/cssScreenIE8?v=BJyveAIY1JY0-8r364Xfd3dH95_wD_tVbJw6lubuT181' rel='stylesheet' type='text/css' media='screen'/>

    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link href='https://sfs.doat.skillsfunding.service.gov.uk/Content/govuk/cssPrint?v=5lu2Ye67GFOYN5TyCF5mVlP19hznAA7dXpiQEKmA8UI1' rel='stylesheet' type='text/css' media='print' />

    <link href='https://sfs.doat.skillsfunding.service.gov.uk/Content/govuk/cssScreen?v=o3sqeToci6jwIml_KBt6eMbcCCNq_k0LCGzZa5-uEQg1' rel='stylesheet' type='text/css' media='screen'/>

    <!--<![endif]-->
<style>
.multiple-choice [type=checkbox] + label::before
{
	width: 12px;
	height: 12px;
	box-sizing: initial;
}

.multiple-choice [type=checkbox] + label::after {
	width: 8px;
	height: 3px;
	border-width: 0 0 2px 2px;
	top: 5px;
	left: 3px;
	box-sizing: initial;
}


.multiple-choice {
	padding: 0 0 0 30px;
}
</style>



</head>
<body>


<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=UA-63492141-3"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] ||
            function() {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63492141-3', 'auto');
    ga('send', 'pageview');
</script>

<script type="text/javascript"> document.body.className = ((document.body.className) ? document.body.className + " js-enabled" : "js-enabled"); </script>

    <div id="global-cookie-message">
        <div class="outer-block">
            <div class="inner-block">
            </div>
        </div>
    </div>
    <!--end global-cookie-message-->

<header id="global-header" class=" with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                    <img alt="Crown logo" src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown-e29852f97b3a3fc0abfd44de1418e260.png" width="35" height="31"> GOV.UK
                </a>
            </div>

        </div>

        <div class="header-proposition">
            <div class="content">
                <div class="header-logo" style="margin: 5px 0 2px;">
<a href="/" id="proposition-name">Education and skills funding service</a>                </div>
            </div>
        </div>
    </div>
</header>
<!--end header-->

<div id="global-header-bar">
    <div class="inner-block">
        <div class="header-bar"></div>
    </div>
</div>
    <!--end global-header-bar-->

    <main id="content">
        <div>



        </div>
        <div class="grid-row">
            <div class="column-full">
              <div id="global-breadcrumb" class="breadcrumbs">
                  <nav>
                      <ol>
                        <li><a href="../skills-funding-service/start.html">Skills funding service</a></li>
                        <li><a href="find-org.html">PE and sport premium allocations</a></li>
                        <li><a href="journey-split.html">Find an organisation</a></li>
                        <li>Did you mean</li>
                      </ol>
                  </nav>
              </div>


                    <h1 class="heading-xlarge">PE and sport premium 2018 to 2019</h1>




<div id="school-inter-school" class="column-full">
<form action="/pesport/schoolfilter" method="get"><input id="SearchCriteria" name="SearchCriteria" type="hidden" value="st joseph" /><div class="column-third minus-20px-margin-top">

<form PageNumber="0" action="/pesport/pesportsearch" method="post"><input name="__RequestVerificationToken" type="hidden" value="9PMBCdoUEPPTq7if0SE5Vi5aNg1gNrEPfXrWwBo23ywSUv6Cot9lGNgHlM9o8_EGbInQoYbpyLDvJDrlZ9HIdZpXE0Y1" />        <section class="filters">
            <br />
            <div class="search-hidden-mobile">
                <ul>
                        <li>

<fieldset class="filter">
    <legend class="visuallyhidden">establishment type</legend>
    <div class="js-filter-collapsible-collections SchoolTypeFilter">
        <section class="js-filter-collapsible">
            <input type="hidden" name="QueryFilter.Filters.Open.SchoolType" id="QueryFilter.Filters.Open.SchoolType" value="True" />
            <header>
                <h3 id="establishmenttype" class="filters-headings heading-small">Establishment type</h3>
            </header>
            <div class="js-filter-collapsible-content">
                <section class="toggled-adult-funding-content">
                    <ul>
                      <li class="multiple-choice">
                          <input id="QueryFilter.Filters.Academy" name="QueryFilter.Filters.SchoolType" type="checkbox" value="Academy"  />
                          <label class="block" for="QueryFilter.Filters.Academy">

                              Academies
                          </label>
                      </li>




                            <li class="multiple-choice">
                                <input id="QueryFilter.Filters.Maintained" name="QueryFilter.Filters.SchoolType" type="checkbox"  value="Maintained"  />
                                <label class="block" for="QueryFilter.Filters.Maintained">

                                    Maintained schools




                                </label>
                            </li>

                            <li class="multiple-choice">
                                <input id="QueryFilter.Filters.Special" name="QueryFilter.Filters.SchoolType" type="checkbox" value="Special"  />
                                <label class="block" for="QueryFilter.Filters.Special">

                                    Non-maintained special schools
                                </label>
                            </li>
                    </ul>
                </section>
            </div>
        </section>
    </div>
</fieldset>
                        </li>
                        <li>

<fieldset class="filter">
    <legend class="visuallyhidden">local authority</legend>
    <div class="js-filter-collapsible-collections RegionFilter">
        <section class="js-filter-collapsible">
            <input type="hidden" name="QueryFilter.Filters.Open.Region" id="QueryFilter.Filters.Open.Region" value="True" />
            <header>
                <h3 id="localauthority" class="filters-headings heading-small">Local authority</h3>
            </header>
            <div class="js-filter-collapsible-content">
                <section class="toggled-adult-funding-content" style="height:218px; overflow:auto;">
                    <ul>
                      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">

Barking and Dagenham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Barnet
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bedford
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bexley
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Birmingham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Blackburn with Darwen
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bolton
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bracknell Forest
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bradford
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Brent
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Brighton and Hove
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bristol City of
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bromley
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Buckinghamshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Bury
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Calderdale
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Camden
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Cheshire West and Chester
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Croydon
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Cumbria
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Derby
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Derbyshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Devon
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Doncaster
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Dorset
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Dudley
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Durham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Ealing
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
East Riding of Yorkshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Essex
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Gateshead
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Gloucestershire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Greenwich
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Hackney
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Hampshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Harrow
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Hartlepool
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Havering
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Herefordshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Hertfordshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Islington
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Kensington and Chelsea
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Kent
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Kingston upon Thames
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Kirklees
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Knowsley
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Lancashire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Leeds
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Leicester
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Leicestershire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Lewisham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Luton
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Manchester
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Middlesbrough
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Newcastle upon Tyne
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
North East Lincolnshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
North Somerset
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
North Tyneside
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
North Yorkshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Northumberland
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Nottinghamshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Oldham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Oxfordshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Plymouth
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Poole
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Rochdale
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox" id="rotherham" />
          <label class="block">
Rotherham
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Salford
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Sheffield
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Somerset
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
South Tyneside
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Southwark
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Staffordshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Stockport
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Stockton-on-Tees
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Stoke-on-Trent
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Suffolk
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Sunderland
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Surrey
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Tameside
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Thurrock
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Tower Hamlets
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Trafford
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Wakefield
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Walsall
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Waltham Forest
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Wandsworth
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Warrington
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Warwickshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
West Berkshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
West Sussex
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Westminster
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Wigan
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Wiltshire
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Wirral
</label>
      </li>
      <li class="multiple-choice">
          <input type="checkbox"/>
          <label class="block">
Worcestershire
</label>
                            </li>
                    </ul>
                </section>
            </div>
        </section>
    </div>
</fieldset>
                        </li>
                </ul>

            </div>
        </section>
</form></div>    <div id="multiple-schools" class="column-two-thirds">

        <h2 class="search-results-title">Search results for &#39;<span class="bold-medium">St Josephs</span>&#39;</h2>

            <h3><p>We found 185 schools. Did you mean:</p></h3>
            <ul>
                        <li><a href="PeSport?name=Our Lady and St Joseph Catholic Primary School&searchCriteria=2043371">Our Lady and St Joseph Catholic Primary School, Alcester, WF12 0HL</a></li>
                        <li><a href="PeSport?name=Our Lady and St Joseph Catholic Primary School&searchCriteria=2112006">Our Lady and St Joseph Catholic Primary School, Bromsgrove, CO16 0BH</a></li>
                        <li><a href="PeSport?name=Our Lady and St Joseph Catholic Primary School&searchCriteria=8503409">Our Lady and St Joseph Catholic Primary School, Halesowen KY6 3EX</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8505204">St Joseph&#39;s Catholic Primary School, Halesowen, PE19 6PJ</a></li>
                        <li><a href="PeSport?name=Our Lady and St Joseph&#39;s Catholic Primary School&searchCriteria=3723337">Our Lady and St Joseph&#39;s Catholic Primary School, Rowley Regis, BT69 6DQ</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3723339">St Joseph&#39;s Catholic Primary School, Smethwick, SR5 2HE</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3723338">St Joseph&#39;s Catholic Primary School, Oldbury, SN8 3AS</a></li>
                        <li><a href="PeSport?name=Our Lady and St Joseph&#39;s Catholic Primary School&searchCriteria=9373584">Our Lady and St Joseph&#39;s Catholic Primary School, West Bromwich, CF83 1DA</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=9373547">St Joseph&#39;s Catholic Primary School, Sutton Coldfield, DY3 2BT</a></li>
                        <li><a href="PeSport?name=Our Lady and St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Brooms&searchCriteria=8403409">Our Lady and St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Brooms, LE15 7RJ</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Murton&searchCriteria=8403501">St Joseph&#39;s Catholic Primary School, Murton, CR0 4EU</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Blackhall&searchCriteria=8403506">St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Blackhall, BS30 8XE</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Coundon&searchCriteria=8403469">St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Coundon, N22 7UB</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Durham&searchCriteria=8403489">St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Durham, G77 6FX</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Newton Aycliffe&searchCriteria=8403471">St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Newton Aycliffe, SN10 5SP</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Stanley&searchCriteria=8403381">St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Stanley, CW8 4EN</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Ushaw Moor&searchCriteria=8403488">St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Ushaw Moor, AB43 7DY</a></li>
                        <li><a href="PeSport?name=St Anne&#39;s and St Joseph&#39;s Roman Catholic Primary School, Accrington&searchCriteria=8883762">St Anne&#39;s and St Joseph&#39;s Roman Catholic Primary School, Accrington, NG11 0EB</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Anderton&searchCriteria=8883781">St Joseph&#39;s Catholic Primary School, Anderton, TR9 6FP</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Barnoldswick&searchCriteria=8883805">St Joseph&#39;s Catholic Primary School, Barnoldswick, SN6 8HQ</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Brindle&searchCriteria=8883782">St Joseph&#39;s Catholic Primary School, Brindle, NR6 5BW</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Chorley&searchCriteria=8883785">St Joseph&#39;s Catholic Primary School, Chorley, PR7 5LY</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Lancaster&searchCriteria=8883705">St Joseph&#39;s Catholic Primary School, Lancaster, OL14 8SB</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Medlar-with-Wesham&searchCriteria=8883717">St Joseph&#39;s Catholic Primary School, Medlar-with-Wesham, B31 3BY</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Preston&searchCriteria=8883322">St Joseph&#39;s Catholic Primary School, Preston, UB1 1PE</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Withnell&searchCriteria=8883796">St Joseph&#39;s Catholic Primary School, Solihull, N16 9DU</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Wrightington&searchCriteria=8883834">St Joseph&#39;s Catholic Primary School, Wrightington, RG24 8UB</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Primary School, Hurst Green&searchCriteria=8883741">St Joseph&#39;s Roman Catholic Primary School, Hurst Green, SY4 5EY</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Primary School, Stacksteads, Bacup&searchCriteria=8883768">St Joseph&#39;s Roman Catholic Primary School, Stacksteads, Bacup, DA1 5LQ</a></li>
                        <li><a href="PeSport?name=St Joseph and St Bede RC Primary School&searchCriteria=3513326">St Joseph and St Bede RC Primary School, W12 6YA</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Primary School, Ramsbottom&searchCriteria=3513335">St Joseph&#39;s Roman Catholic Primary School, Ramsbottom, TA10 9JJ</a></li>
                        <li><a href="PeSport?name=St Joseph and St Teresa Catholic Primary School&searchCriteria=9333361">St Joseph and St Teresa Catholic Primary School, Burnley, S75 1LN</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School and Nursery&searchCriteria=9333402">St Joseph&#39;s Catholic Primary School and Nursery, Barnoldswick, B76 1SN</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Bridgwater&searchCriteria=9333401">St Joseph&#39;s Catholic Primary School, Bridgwater, GL17 9JR</a></li>
                        <li><a href="PeSport?name=St Joseph and St Teresa&#39;s Catholic Primary School&searchCriteria=3713314">St Joseph and St Teresa&#39;s Catholic Primary School, Bradford, DA15 0GR</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s School, a Catholic Voluntary Academy&searchCriteria=3712001">St Joseph&#39;s School, a Catholic Voluntary Academy, AB16 9TA</a></li>
                        <li><a href="PeSport?name=St Joseph and St Theresa Catholic Primary&searchCriteria=8603458">St Joseph and St Theresa Catholic Primary, Bingley, WN2 1BB</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8603474">St Joseph&#39;s Catholic Primary School, Cleckheaton, NE62 5DL</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8603461">St Joseph&#39;s Catholic Primary School, Keighley, BT60 1NP</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8603464">St Joseph&#39;s Catholic Primary School, Skipton, RM3 0JE</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8603467">St Joseph&#39;s Catholic Primary School, Bournemouth, RM1 1TE</a></li>
                        <li><a href="PeSport?name=St Joseph Catholic Primary School&searchCriteria=9193383">St Joseph Catholic Primary School, SG11 1PS</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=9193318">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=9193327">St Joseph&#39;s Catholic Primary School, Poole, CB10 2XQ</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=9193341">St Joseph&#39;s Catholic Primary School, Swanage, OL11 3ED</a></li>
                        <li><a href="PeSport?name=St Joseph RC Junior School&searchCriteria=3043501">St Joseph RC Junior School, New Milton, CF33 4EB</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Infant School&searchCriteria=3043509">St Joseph&#39;s RC Infant School, EN10 7NY</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Primary School&searchCriteria=3045203">St Joseph&#39;s Roman Catholic Primary School, Verwood, BS20 6AZ</a></li>
                        <li><a href="PeSport?name=St Joseph the Worker Catholic Primary School&searchCriteria=3403361">St Joseph the Worker Catholic Primary School, Bury, PO8 0AN</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3403340">St Joseph&#39;s Catholic Primary School, Bolton, KA1 5JB</a></li>
                        <li><a href="PeSport?name=St Joseph the Worker Catholic Primary School&searchCriteria=8813612">St Joseph the Worker Catholic Primary School, Brighton, S36 2AP</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Canvey Island&searchCriteria=8813411">St Joseph&#39;s Catholic Primary School, Canvey Island</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Harwich&searchCriteria=8813302">St Joseph&#39;s Catholic Primary School, Harwich</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, SWF&searchCriteria=8813815">St Joseph&#39;s Catholic Primary School, SWF</a></li>
                        <li><a href="PeSport?name=St Joseph the Worker RC Primary School&searchCriteria=3553525">St Joseph the Worker RC Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School&searchCriteria=3553615">St Joseph&#39;s RC Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s and St Gregory&#39;s Catholic Primary School&searchCriteria=8224601">St Joseph&#39;s and St Gregory&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Academy, Goldenhill&searchCriteria=8613400">St Joseph&#39;s Catholic Academy, Goldenhill</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic and CofE (VA) Primary School&searchCriteria=8303549">St Joseph&#39;s Catholic and CofE (VA) Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, A Voluntary Academy&searchCriteria=8303516">St Joseph&#39;s Catholic Primary School, A Voluntary Academy</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Voluntary Academy&searchCriteria=8302020">St Joseph&#39;s Catholic Voluntary Academy</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Infant School&searchCriteria=8253372">St Joseph&#39;s Catholic Infant School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8253371">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Infant School&searchCriteria=3203305">St Joseph&#39;s Catholic Infant School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Junior School&searchCriteria=3203301">St Joseph&#39;s Catholic Junior School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Infant School, Birtley&searchCriteria=3903325">St Joseph&#39;s Catholic Infant School, Birtley</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Junior School, Birtley&searchCriteria=3903324">St Joseph&#39;s Catholic Junior School, Birtley</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Blaydon&searchCriteria=3903331">St Joseph&#39;s Catholic Primary School, Blaydon</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Gateshead&searchCriteria=3903317">St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Gateshead</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Highfield&searchCriteria=3903327">St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Highfield</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Infants School&searchCriteria=2105204">St Joseph&#39;s Catholic Infants School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Junior School&searchCriteria=2105203">St Joseph&#39;s Catholic Junior School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=2103476">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Primary School&searchCriteria=2103475">St Joseph&#39;s Roman Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary and Nursery School&searchCriteria=8913770">St Joseph&#39;s Catholic Primary and Nursery School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8783610">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Exmouth&searchCriteria=8783310">St Joseph&#39;s Catholic Primary School, Exmouth</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8793765">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3843333">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School Castleford&searchCriteria=3843327">St Joseph&#39;s Catholic Primary School Castleford</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Moorthorpe&searchCriteria=3842012">St Joseph&#39;s Catholic Primary School, Moorthorpe</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3913781">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8013405">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8023349">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8113332">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Mary and St Joseph Roman Catholic Voluntary Aided Primary School&searchCriteria=8113317">St Mary and St Joseph Roman Catholic Voluntary Aided Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8153376">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Harrogate, A Voluntary Academy&searchCriteria=8153378">St Joseph&#39;s Catholic Primary School, Harrogate, A Voluntary Academy</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Primary School, Pickering&searchCriteria=8153610">St Joseph&#39;s Roman Catholic Primary School, Pickering</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3583312">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3803338">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3803367">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3803370">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3813305">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Brighouse&searchCriteria=3813329">St Joseph&#39;s Catholic Primary School, Brighouse</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School, Todmorden&searchCriteria=3813330">St Joseph&#39;s RC Primary School, Todmorden</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=2033481">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=2063483">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=2073477">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=2093478">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3013500">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3013502">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3023509">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3033502">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3073507">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3103507">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3113506">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3143502">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3303339">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3302158">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School&searchCriteria=3303401">St Joseph&#39;s RC Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8213356">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8695206">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8773622">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8463314">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8853317">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8853358">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8853391">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8833512">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=8963643">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=9093404">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=9093510">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=9163356">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=9363422">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=9363423">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=9363932">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Redhill&searchCriteria=9363916">St Joseph&#39;s Catholic Primary School, Redhill</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Specialist School and College&searchCriteria=9367011">St Joseph&#39;s Specialist School and College</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3053500">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School&searchCriteria=3323302">St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School&searchCriteria=3323355">St Joseph&#39;s RC Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School (Dewsbury)&searchCriteria=3823310">St Joseph&#39;s Catholic Primary School (Dewsbury)</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School (Huddersfield)&searchCriteria=3823400">St Joseph&#39;s Catholic Primary School (Huddersfield)</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School Leigh&searchCriteria=3593400">St Joseph&#39;s Catholic Primary School Leigh</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School Upton&searchCriteria=3443321">St Joseph&#39;s Catholic Primary School Upton</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Birkenhead&searchCriteria=3443373">St Joseph&#39;s Catholic Primary School, Birkenhead</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Wallasey&searchCriteria=3443333">St Joseph&#39;s Catholic Primary School, Wallasey</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Aylesham&searchCriteria=8863719">St Joseph&#39;s Catholic Primary School, Aylesham</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Broadstairs&searchCriteria=8863890">St Joseph&#39;s Catholic Primary School, Broadstairs</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Northfleet&searchCriteria=8865222">St Joseph&#39;s Catholic Primary School, Northfleet</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Banbury&searchCriteria=9313825">St Joseph&#39;s Catholic Primary School, Banbury</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Carterton&searchCriteria=9313556">St Joseph&#39;s Catholic Primary School, Carterton</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Oxford&searchCriteria=9313838">St Joseph&#39;s Catholic Primary School, Oxford</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Thame&searchCriteria=9313826">St Joseph&#39;s Catholic Primary School, Thame</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Bracknell&searchCriteria=8673333">St Joseph&#39;s Catholic Primary School, Bracknell</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Christchurch&searchCriteria=8353691">St Joseph&#39;s Catholic Primary School, Christchurch</a></li>
                        <li><a href="PeSport?name=St Mary &amp; St Joseph&#39;s Catholic Primary School&searchCriteria=8353401">St Mary &amp; St Joseph&#39;s Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Darlaston&searchCriteria=3353310">St Joseph&#39;s Catholic Primary School, Darlaston</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Derby&searchCriteria=8313542">St Joseph&#39;s Catholic Primary School, Derby</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Devizes&searchCriteria=8655214">St Joseph&#39;s Catholic Primary School, Devizes</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Malmesbury&searchCriteria=8653418">St Joseph&#39;s Catholic Primary School, Malmesbury</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Haywards Heath&searchCriteria=9383355">St Joseph&#39;s Catholic Primary School, Haywards Heath</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Hunslet&searchCriteria=3833374">St Joseph&#39;s Catholic Primary School, Hunslet</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Otley&searchCriteria=3833360">St Joseph&#39;s Catholic Primary School, Otley</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Pudsey&searchCriteria=3833361">St Joseph&#39;s Catholic Primary School, Pudsey</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Wetherby&searchCriteria=3833366">St Joseph&#39;s Catholic Primary School, Wetherby</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary School, Poole&searchCriteria=8363611">St Joseph&#39;s Catholic Primary School, Poole</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Primary Voluntary Academy&searchCriteria=8123514">St Joseph&#39;s Catholic Primary Voluntary Academy</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Voluntary Academy&searchCriteria=8553347">St Joseph&#39;s Catholic Voluntary Academy</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Catholic Voluntary Academy&searchCriteria=8563424">St Joseph&#39;s Catholic Voluntary Academy</a></li>
                        <li><a href="PeSport?name=St Josephs Primary School&searchCriteria=2023482">St Josephs Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Primary School&searchCriteria=3735203">St Joseph&#39;s Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Infant School&searchCriteria=3063412">St Joseph&#39;s RC Infant School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Junior School&searchCriteria=3063401">St Joseph&#39;s RC Junior School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Junior Infant and Nursery School&searchCriteria=3533359">St Joseph&#39;s RC Junior Infant and Nursery School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School&searchCriteria=2123486">St Joseph&#39;s RC Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School&searchCriteria=2133473">St Joseph&#39;s RC Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School&searchCriteria=3573324">St Joseph&#39;s RC Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School&searchCriteria=8053323">St Joseph&#39;s RC Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School&searchCriteria=8843372">St Joseph&#39;s RC Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School&searchCriteria=8063340">St Joseph&#39;s RC Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School Manchester&searchCriteria=3523494">St Joseph&#39;s RC Primary School Manchester</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Primary School, Halliwell, Bolton&searchCriteria=3503320">St Joseph&#39;s RC Primary School, Halliwell, Bolton</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s RC Voluntary Aided Primary School&searchCriteria=3933314">St Joseph&#39;s RC Voluntary Aided Primary School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Primary School&searchCriteria=9353310">St Joseph&#39;s Roman Catholic Primary School</a></li>
                        <li><a href="PeSport?name=St Josephs Roman Catholic Primary School Aided&searchCriteria=3923308">St Josephs Roman Catholic Primary School Aided</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Primary School, Darwen&searchCriteria=8893779">St Joseph&#39;s Roman Catholic Primary School, Darwen</a></li>
                        <li><a href="PeSport?name=St Mary&#39;s and St Joseph&#39;s Roman Catholic Primary School Blackburn&searchCriteria=8893508">St Mary&#39;s and St Joseph&#39;s Roman Catholic Primary School Blackburn</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Primary School, Rochdale&searchCriteria=3543510">St Joseph&#39;s Roman Catholic Primary School, Rochdale</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Middle School&searchCriteria=9294654">St Joseph&#39;s Roman Catholic Voluntary Aided Middle School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Billingham&searchCriteria=8083305">St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Billingham</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Norton&searchCriteria=8083313">St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Norton</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Sunderland&searchCriteria=3943308">St Joseph&#39;s Roman Catholic Voluntary Aided Primary School, Sunderland</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Washington RC School&searchCriteria=3943326">St Joseph&#39;s Washington RC School</a></li>
                        <li><a href="PeSport?name=St Joseph&#39;s Stockport Catholic Primary School&searchCriteria=3563515">St Joseph&#39;s Stockport Catholic Primary School</a></li>
            </ul>
    </div>
</form></div>

            </div>
        </div>


    </main>





<footer class="group js-footer" id="footer">
    <div class="footer-wrapper">
        <div class="footer-meta">
            <div class="footer-meta-inner">


                <h2 class="sfa-footer-link">
                    <span>
                    </span>
                </h2>
                <ul>
                    <li><a href="/privacy-and-cookies">Privacy and cookies</a></li>
                    <li><a href="/terms-and-conditions">Terms and conditions</a></li>
                    <li>
                        Built by the <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" rel="external" title="This will open in a new window">Education and Skills Funding Agency</a>
                    </li>
                </ul>

                <div class="open-government-licence">
                    <p class="logo">
                        <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                    </p>
                    <p>
                        All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="external" title="This will open in a new window">Open Government Licence v3.0</a>, except where otherwise stated
                    </p>
                </div>
            </div>

            <div class="copyright">
                <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">© Crown copyright</a>
            </div>

        </div>
        <div style="padding-left: 30px;">Version: 1.1.0.0</div>
    </div>
</footer>

    <!--end footer-->
    <!--[if lt IE 9]>
        <script src="/bundles/jsIE8?v=9hqSPPnF4fxwgS_NiPG_tvyLfZBaVQu2ak0aGMRiQx01"></script>

    <![endif

    <!--[if gt IE 8]><!-->
    <script src="https://sfs.doat.skillsfunding.service.gov.uk/bundles/js?v=k0HvER1W1bplWiDCdefYlDx3E1cT4NYOq9hqdOR6w-M1"></script>


    <!--<![endif]-->
<script>
$(document).ready(function(){
$("#rotherham").click(function(e){
window.location="st-josephs-search-rotherham.html"

})

})

</script>

</body>
</html>
