dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  font-weight: bold;
  float: left;
  width: 30%;
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 70%;
  padding: 0;
  margin: 0
}

dd:after {
	content: '\A\A';
	white-space: pre;
    padding: 0 0 0.5em 0;
}