form .field {
    clear: left
}
form .field:before,
form .field:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden
}
form .field:after {
    clear: left
}
form .group .panel-indent,
form .group blockquote {
    float: left
}
form .group fieldset {
    margin: 0
}
form .group legend {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    padding-top: 2px;
    padding-bottom: 8px;
    margin: 0;
    padding: 0 !important
}
form .group .form-group-day,
form .group .form-group-month,
form .group .form-group-year {
    float: left;
    margin-right: 20px;
    clear: none;
    /*new*/
    width: 60px;
    margin-right: 10px;
}
form .group .form-group-day label,
form .group .form-group-day input,
form .group .form-group-month label,
form .group .form-group-month input,
form .group .form-group-year label,
form .group .form-group-year input {
    display: block;
    width: 50px;
    /*new*/
    width: 100%;
}
form .group .form-group-year {
    width: 70px
}
form .group--inline label {
    float: left;
    width: 12.5em
}
label {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    display: block
}
@media (max-width: 640px) {
    label {
        font-size: 16px;
        line-height: 1.25
    }
}
input,
select {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none
}



/*additions*/

input[type="text"], input[type="search"] {
    min-width: 0 !important;
    margin: 0 !important;
    width: 250px;
}

.form-group-year {
    width: 70px;
}


@media (max-width: 640px) {
    input,select {
        font-size: 16px;
        line-height: 1.25
    }

    form .group legend {
        font-size: 16px;
        line-height: 1.25
    }
    input[type="text"], input[type="search"] {
    font-size: 14px;
    line-height: 1.14286;
    width: 100%;
    }
}
@media (min-width: 641px) {
    form .group legend {
        padding-top: 0;
        padding-bottom: 5px
    }
    /*input[type="text"], input[type="search"] {
        width: 96%;
    }*/
}
.validation-summary {
    border: 3px solid #df3034;
    padding: 15px 30px;
    margin-bottom: 30px
}
.validation-summary ul {
    margin-top: 10px
}
.validation-summary li,
.validation-summary p {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none
}
@media (max-width: 640px) {
    .validation-summary li,
    .validation-summary p {
        font-size: 14px;
        line-height: 1.14286
    }
}
.validation-summary p {
    margin-top: 15px;
    margin-bottom: 5px
}
.validation-summary a {
    color: #df3034
}
.validation-summary .heading-small {
    margin-top: 15px
}
.validation-message {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    color: #df3034
}
@media (max-width: 640px) {
    .validation-message {
        font-size: 14px;
        line-height: 1.14286
    }
}
.validation-summary,
.validation-error {
    padding: 1em;
    border: 3px solid #df3034;
    background: #fae1e1
}
.validation-summary {
    margin-top: 1em
}
form .validation-summary {
    margin: 0 0 1em
}
form .validation-summary:first-child {
    margin-top: 0
}
form .validation-summary:last-child {
    margin-bottom: 0
}
form .validation-summary.alert-dialog {
    margin-top: 1em
}
.validation-error {
    border-width: 0 0 0 3px
}
.field-validation-error {
    display: block;
}


.field-validation-error {
    display:block;
    color: #b10e1e;
    font-weight:bold;
}

.field-validation-valid {
    display:none;
}

.validation-summary-valid
{
    display:none;
}

.validation-summary-errors {
    font-weight:bold;
    border: solid 3px  #b10e1e;
    padding: 10px;
    margin-bottom: 30px;
    width: 90%;
}

.validation-summary-errors span {
    color: black;
    padding-bottom: 20px;
    display: block;
}

.validation-summary-errors ul li a {
    color:  #b10e1e;
}

/*********************** Adult Funding statements**********************/

.funding-statement-card { 
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: 10px;
    padding-top: 5px;
}

.minus-20px-margin-top {
    margin-top: -20px
}

.funding-Statements-hr {
    margin-top: 5px;
    margin-bottom: 20px;
}

.funding-Statement-bold {
    font-weight: 600;
}

.padding-left-30px {
    padding-left: 30px;
}

/*Added this in but needs to come from elements typography css css*/
.link-back {
    display: inline-block;
    position: relative;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
    color: #0b0c0c;
    text-decoration: none;
    border-bottom: 1px solid #0b0c0c;
}

.link-back::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 6px solid #0b0c0c;
        border-bottom: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
}

.funding-Statement-value {
    float: right;
}

@media (max-width: 700px) {
    .funding-Statement-value {
        float: left;
    }
}

.js-filter-collapsible-content .toggled-adult-funding-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/******* PE Sport ****************************************/
.multiple-choice label { font-size: 16px;}

.multiple-choice input[type='text'], .text-box {
    position: relative;
    width: 100%;
    max-width: 250px;
    opacity: 1;
}

.multiple-choice input[type='submit'] {
    position: relative;
    opacity: 1;
}

.pesport-list table { margin-top: 40px;}
.pesport-list table thead tr th, .pesport-list table thead tr td { width: 50px;}
.pesport-list .responsive-bottom-margin { margin-top: 100px;}
.pesport-list .attachment-details { margin-bottom: 10px;}

.sportsearchpage .accordion-content .search-block input[type='text'] {
    float: left;
    width: 80%;
}

.sportsearchpage .search-input {
    box-sizing: border-box;
    background: #00823b url(/Content/sfa/Images/search-button.png) no-repeat 2px 50%;
    border: solid 2px #005c2a;
    width: 40px;
    cursor: pointer;
    overflow: hidden;
    text-indent: -500px;
    border-radius: 0;
}

@media (min-width: 460px) {
    .sportsearchpage .accordion-content .search-block {
        width: 440px;
    }

    .sportsearchpage .accordion-content .search-block input[type='text'] {
        width: 100%;
        max-width: 400px;
    }
}

.sportsearchpage .accordion-content { border-left: 5px solid #bfc1c3; padding-left: 30px; padding-top: 10px; height: 100px; float: left;margin-top: 20px;margin-left: -35px; width: 100%; }
.sportsearchpage .accordion-content p { margin-bottom: 0.3em!important; }
.pesport-searchdownload { width: 100%; height: 30px; text-align: right; padding-top: 10px;}
.multiple-choice [type=radio] + label::after { top: 9px; left: 9px;}
.hide { display: none;}
.show { display: block;}


.ui-autocomplete {
    line-height: 19px;
    color: #0b0c0c;
    background-color: #f8f8f8;
    border: 1px solid #bfc1c3;
    padding: 5px;
    width: 150px;
}

.ui-autocomplete li {
    padding: 5px;
}

.ui-autocomplete li:hover {
    background: #005ea5;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}
.pub-c-title .attachment { margin: 0 !important;}
.back-button { margin-top: 90px;}
.sportsearchpage {
    margin-bottom: 220px !important;
}
.search-results-title { padding-bottom: 15px;}
.sport-group:last-child { padding-top: 30px;}
.form-download a {
    display: block;
    font-weight: 600;
    background: url(https://assets.publishing.service.gov.uk/government-frontend/icon-file-download-f70b171c82d2f6c5524fb7c10e7fd9f9a0cfb8f84fac71a5a95d4fc85f8501ea.png) no-repeat scroll 0 0;
    min-height: 2.5em;
    padding: 0 0 0 2.5em;
}
.sportsearchpageDownload .attachment { padding-left: 10px;}
#multiple-schools ul { padding-top: 15px;}
.sportsearchpageDownload h1 { font-weight: bold;}
@media (min-width: 641px) 
{
   /* #school-inter-school .column-third { width: auto !important;} */
}

#school-inter-school .filter h3 { font-size: 18px !important;}

#toggleSpecial label { font-weight: bold; }
/******* PE Sport End **************************************/
/******* PE Sport End **************************************/

.gds-multiple-choice [type=checkbox] + label::before
{
    width: 12px;
    height: 12px;
    box-sizing: initial;
}

.gds-multiple-choice [type=checkbox] + label::after {
    width: 8px;
    height: 3px;
    border-width: 0 0 2px 2px;
    top: 5px;
    left: 3px;
    box-sizing: initial;
}

@media (min-width: 641px) {

    .gds-multiple-choice {
        padding: 0 0 0 30px;
    }
}
/*** IEX common CSS end ****************************************/

#school-inter-school .js-filter-collapsible-content {
    max-height: 310px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 769px) {
    #school-inter-school .js-filter-collapsible-content::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    #school-inter-school .js-filter-collapsible-content::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
    }
}

.backToTop {
    margin-top: 30px;
    text-align: right;
}

.backToTop > a > svg {
    max-width: 13px;
    max-height: 17px;
}

#download-search-link {
    position: relative;
}

    #download-search-link a {
        position: absolute;
        top: 0;
        right: 0;
    }

.search-field-wrap {
    background-color: #dee0e2;
    display: none;
}

.js-open .search-field-wrap {
    display: block;
}

.search-field-wrap .filter-searchwithin-label {
    background: transparent url(/Content/sfa/Images/icon-mag-glass.png) no-repeat 12px center;
    background-size: 15px;
    padding-left: 35px;
    padding-right: 20px;
    display: block;
    position: relative;
    padding-bottom: 6px;
}

.search-field-wrap .filter-searchwithin-label input.filter-search {
    background-color: transparent;
    border: 0;
    border-bottom: #0b0c0c 1px solid;
    width: 100%;
    font-size: 16px;
}

/******* PE Sport End **************************************/
}

.gapAbove {
    padding-top: 15px;
}

.gapLeft {
    margin-left: 10px;
}

.govuk-warning-text strong {
    font-weight: bold;
}

.button-danger {
    background-color: #b10e1e;
}

.button-danger:hover {
    background-color: #740711;
}

/* Override some bad rule */
.flash-card [type=radio] + label::before, .flash-card [type=radio] + label::after {
    content: none;
}

/* TODO - copy old media size logic around this */
.govuk-heading-xl.public {
    margin-top: .625em;
    margin-bottom: 1.25em;
}