{% extends "layout.html" %}

{% block page_title %}
    Glossary of funding terms
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include version + "/includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
            <a href="#" class="link-back" onclick="goBack()">Back</a>
        </div>

        <div class="column-full">

            <form method="post" class="form">

                <div class="form-block">
                    <h1 class="heading-xlarge">Glossary of funding terms</h1>
                    <p class="lede">Education funding information has some terms that public users might not be familiar with, so we've provided a glossary.</p>
                        
                    <table>
                        <thead>
                            <tr>
                                <th class="govuk-!-width-one-quarter">Term</th>
                                <th>Definition</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Academy</td>
                                <td>Academies are publicly funded independent schools. They do not have to follow the national curriculum and can set their own term times. They follow the same rules on admissions, special educational needs and exclusions as other state schools. Academies get their funding directly from the government, not the local council.</td>
                            </tr>
                            <tr>
                                <td>Allocation</td>
                                <td>An amount of Education and Skills Funding Agency (<abbr title="Education and Skills Funding Agency">ESFA</abbr>) funding for a learning provider calculated by using a funding formula. Allocations can change throughout the year if pupil numbers change.</td>
                            </tr>
                            <tr>
                                <td>Alternative provision (<abbr title="alternative provision">AP</abbr>)</td>
                                <td><abbr title="alternative provision">AP</abbr> academies teach children who are not able to attend a mainstream school. This could be because they have behaviour problems, a short- or long-term illness, or have been excluded.</td>
                            </tr>
                            <tr>
                                <td>Authority proforma tool (<abbr title="authority proforma tool">APT</abbr>)</td>
                                <td>The spreadsheet local authorities use to submit their agreed mainstream pre-16 schools block funding formula to the Education and Skills Funding Agency.</td>
                            </tr>
                            <tr>
                                <td>Basic entitlement factor</td>
                                <td>Funding for pre-16 pupils in mainstream schools. It is compulsory and must be used in the funding formula.</td>
                            </tr>
                            <tr>
                                <td>Block/funding block</td>
                                <td>Funding is divided into blocks to fund different things – for example, building maintenance and pupils with special needs.</td>
                            </tr>
                            <tr>
                                <td>Breakdown</td>
                                <td>The individual funding elements that make up a total allocation.</td>
                            </tr>
                            <tr>
                                <td>Central school services block (<abbr title="central school services block">CSSB</abbr>)</td>
                                <td>The <abbr title="central school services block">CSSB</abbr> covers funding allocated to local authorities to carry out central functions for pupils in state-funded maintained schools and academies in England. Local authorities’ <abbr title="central school services block">CSSB</abbr> is split into funding for historic commitments and funding for ongoing functions.</td>
                            </tr>
                            <tr>
                                <td>City technology colleges</td>
                                <td>Independent schools in urban areas that are free to go to. They are owned and funded by companies as well as central government - not the local council. They mainly teach technology and practical skills.</td>
                            </tr>
                            <tr>
                                <td>Conditions of grant</td>
                                <td>The terms and conditions, or rules, that are applied for a funding type.</td>
                            </tr>
                            <tr>
                                <td>Dedicated schools grant (<abbr title="Dedicated schools grant">DSG</abbr>)</td>
                                <td>The <abbr title="Dedicated schools grant">DSG</abbr> is paid by the Education and Skills Funding Agency to local authorities each financial year. It makes up most of pre-16 schools funding. The <abbr title="Dedicated schools grant">DSG</abbr> is divided into four parts, called blocks: schools block, high needs block, early years block, and central school services block (<abbr title="central school services block">CSSB</abbr>).</td>
                            </tr>
                            <tr>
                                <td>Early years block</td>
                                <td>The early years block is part of the dedicated schools grant and includes the free entitlement for 3- and 4-year olds, and disadvantaged 2-year olds.</td>
                            </tr>
                            <tr>
                                <td>Early years funding</td>
                                <td>Early years funding can be paid to private, voluntary and independent providers, and to schools or academies with a nursery class. Local authorities pay it directly to early years providers, including academies and maintained schools, through the early years national funding formula (<abbr title="early years national funding formula">EYNFF</abbr>).</td>
                            </tr>
                            <tr>
                                <td>Early years national funding formula (<abbr title="early years national funding formula">EYNFF</abbr>)</td>
                                <td>A way of allocating funding for free early education and childcare for 3- and 4- year olds. It’s also known as the universal 15-hour entitlement and the 30-hour entitlement for working parents. Local authorities pay providers the same rate for delivering both schemes.</td>
                            </tr>
                            <tr>
                                <td>Early years pupil premium (<abbr title="early years pupil premium">EYPP</abbr>)</td>
                                <td>Additional funding for early years education providers to improve the teaching of disadvantaged 3- and 4-year olds.</td>
                            </tr>
                            <tr>
                                <td>Education and Skills Funding Agency (<abbr title="Education and Skills Funding Agency">ESFA</abbr>)</td>
                                <td>An executive agency of the Department for Education (<abbr title="Department for Education">DfE</abbr>). It funds schools, academies, colleges and independent learning providers.</td>
                            </tr>
                            <tr>
                                <td>Establishments</td>
                                <td>A general term for education providers like children's centres, schools, colleges, and further education and higher education institutions.</td>
                            </tr>
                            <tr>
                                <td>Free school</td>
                                <td>Free schools are funded by the government but are not run by the local council. They have more control over how they do things. They are ‘all-ability’ schools, so cannot use academic selection tests like a grammar school. Free schools can set their own pay and conditions for staff, and change the length of school terms and the school day. They do not have to follow the national curriculum.</td>
                            </tr>
                            <tr>
                                <td>Funding factors</td>
                                <td>The National Funding Formula is made up of different funding factors, to pay for different things. Funding factors can be for things like student retention, higher cost subjects, disadvantaged students and area costs. Examples of funding factors are growth factor, premises factor and mobility factor. </td>
                            </tr>
                            <tr>
                                <td>High needs block</td>
                                <td>
                                    <p>The high needs block is part of the dedicated schools grant and is funding for:</p>
                                    <ul class="list list-bullet">
                                        <li>special schools and academies</li>
                                        <li>top-up funding for high needs pupils</li>
                                        <li>alternative provision and education not in school</li>
                                        <li>local authority central special educational needs services</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Import/export adjustments</td>
                                <td>A part of the high needs funding formula that covers funding for children and young people moving from one local authority to another. A local authority gets more funding if they offer places to children and young people from a different authority. An authority would get less funding if a child or young person moves from their authority to a different authority. </td>
                            </tr>
                            <tr>
                                <td>Individualised learner record</td>
                                <td>Learner data that publicly funded colleges, training organisations, local authorities and employers that provide further education must collect and return.</td>
                            </tr>
                            <tr>
                                <td>Multi academy trust (<abbr title="mulit academy trust">MAT</abbr>)</td>
                                <td>A trust responsible for more than one academy. It has members, like company shareholders and trustees, who are responsible for governance.</td>
                            </tr>
                            <tr>
                                <td>National Funding Formula (<abbr title="national funding formula">NFF</abbr>)</td>
                                <td>The National Funding Formula is the method that the government uses to decide how much money should be given to English state schools each year. The formula includes ‘funding factors’, which consider things like student numbers, student retention, higher cost subjects, disadvantaged students and area costs.</td>
                            </tr>
                            <tr>
                                <td>Non-maintained special school</td>
                                <td>Run by not-for-profit charitable trusts, these offer services for children with special educational needs. They get most of their funding from local authorities placing children with special educational needs statements at the schools and paying the fees.</td>
                            </tr>
                            <tr>
                                <td>Office for National Statistics (<abbr title="Office for National Statistics">ONS</abbr>)</td>
                                <td>The UK’s largest independent producer of official statistics and the recognised national statistical institute. It collects and publishes statistics about the economy, population and society at national, regional and local levels. It also carries out the census in England and Wales every 10 years.</td>
                            </tr>
                            <tr>
                                <td>PE and sport premium</td>
                                <td>Additional funding given to publicly funded schools in England to improve physical education (PE) and sport in primary schools.</td>
                            </tr>
                            <tr>
                                <td>Pupil number tool</td>
                                <td>A spreadsheet tool that shows how many pupils are allocated to each local authority.</td>
                            </tr>
                            <tr>
                                <td>Pupil premium grant</td>
                                <td>A grant for publicly funded schools in England to help disadvantaged pupils achieve more.</td>
                            </tr>
                            <tr>
                                <td>Pupil referral unit (<abbr title="pupil referal unit">PRU</abbr>)</td>
                                <td><abbr title="pupil referal unit">PRU</abbr>s are run by local authorities to provide education for children who are not able to attend mainstream school, for example if they are excluded or sick. It’s not a special or other type of school.</td>
                            </tr>
                            <tr>
                                <td>Recoupment</td>
                                <td>Adjustments to an allocation due to a learning provider moving over to being an academy and therefore being funded directly instead of from <abbr title="Education and Skills Funding Agency">ESFA</abbr>.</td>
                            </tr>
                            <tr>
                                <td>Schools block</td>
                                <td>
                                    <p>A funding block in the dedicated schools grant that is for pupils who:</p>
                                    <ul class="list list-bullet">
                                        <li>are in national curriculum year groups reception to 11</li>
                                        <li>at mainstream schools and academies</li>
                                        <li>are not in a special unit or resourced provision</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>Single academy trust (<abbr title="single academy trust">STA</abbr>)</td>
                                <td>A trust responsible for a single academy. <abbr title="single academy trust">STA</abbr>s have members, like company shareholders and trustees, that are responsible for governance. In a <abbr title="single academy trust">STA</abbr>, one school becomes an academy, or two schools combine to form a single academy.</td>
                            </tr>
                            <tr>
                                <td>Special educational needs (<abbr title="special educational needs">SEN</abbr>)</td>
                                <td><abbr title="special educational needs">SEN</abbr> pupils have learning difficulties or disabilities that make it harder for them to learn than most children of the same age. There's a formal assessment to decide if a pupil needs a statement of <abbr title="special educational needs">SEN</abbr> or an education, health and care (<abbr title="education, health and care">EHC</abbr>) plan.</td>
                            </tr>
                            <tr>
                                <td>Technical note</td>
                                <td>Gives more detail on how an allocation is calculated. </td>
                            </tr>
                            <tr>
                                <td>UK provider reference number (<abbr title="UK provider reference number">UKPRN</abbr>)</td>
                                <td>UK provider reference number - a reference number issued by the UK Register of Learning Providers.</td>
                            </tr>
                            <tr>
                                <td>Year 7 literacy and numeracy catch-up premium</td>
                                <td>Additional funding to support year 7 pupils who did not achieve the expected standard in reading or maths at the end of key stage 2 (<abbr title="key stage 2">KS2</abbr>). Given to state-funded schools, including special schools and alternative provision settings.</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <!-- Support section in an expandable link - START -->
                {% include version + "/includes/support.html" %}
                <!-- Support section in an expandable link - END -->

            </form>
        
        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
