{% extends "layout.html" %}

{% block page_title %}
    User roles and permissions
{% endblock %}

{% block content %}

<main role="main" id="content">

    <div class="grid-row">
    
        <div class="column-two-thirds">

            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="start">Back</a></li>
                    </ol>
                </nav>
            </div>

            <div class="form-group">
                <h1 class="heading-xlarge">User roles and permissions</h1>
                <p class="lede">These are the roles available to use in the Manage your education and skills funding (SFS).</p>            
                
                <div class="form-block">
                    <details role="group">
                        <summary role="button" aria-controls="details-content-1" aria-expanded="true">
                            <span class="summary">Apprenticeship service for training provider-editor</span>
                        </summary>

                        <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="false">
                            <p>As editor your permissions allow you to:</p>
                            <ul class="list-bullet">
                                <li>respond to employer apprenticeship training requests</li>
                                <li>update apprentice details from employer requests</li>
                            </ul>
                        </div>

                    </details>
                </div>
                
                <div class="form-block">
                    <details role="group">
                        <summary role="button" aria-controls="details-content-2" aria-expanded="true">
                            <span class="summary">Contract authoriser</span>
                        </summary>
                        
                        <div class="panel panel-border-narrow" id="details-content-2" aria-hidden="false">
                            <p>As contract authoriser your permissions allow you to:</p>
                            <ul class="list-bullet">
                                <li>sign and mark contracts as read</li>
                                <li>read and download information</li>
                                <li>save and submit information</li>
                                <li>automatically receive email alerts</li>
                            </ul>
                        </div>

                    </details>
                </div>

                <div class="form-block">
                    <details role="group">
                        <summary role="button" aria-controls="details-content-3" aria-expanded="true">
                            <span class="summary">Contract manager</span>
                        </summary>
                        
                        <div class="panel panel-border-narrow" id="details-content-3" aria-hidden="false">
                            <p>As contract manager your permissions allow you to:</p>
                            <ul class="list-bullet">
                                <li>mark contracts as read</li>
                                <li>read and download information</li>
                                <li>save and submit information</li>
                                <li>automatically receive email alerts</li>
                            </ul>
                        </div>

                    </details>
                </div>

                <div class="form-block">
                    <details role="group">
                        <summary role="button" aria-controls="details-content-4" aria-expanded="true">
                            <span class="summary">Contract user</span>
                        </summary>
                        
                        <div class="panel panel-border-narrow" id="details-content-4" aria-hidden="false">
                            <p>As contract user your permissions allow you to:</p>
                            <ul class="list-bullet">
                                <li>read and download information</li>
                            </ul>
                        </div>

                    </details>
                </div>

                <div class="form-block">
                    <details role="group">
                        <summary role="button" aria-controls="details-content-5" aria-expanded="true">
                            <span class="summary">Data returns and claims authoriser</span>
                        </summary>
                        
                        <div class="panel panel-border-narrow" id="details-content-5" aria-hidden="false">
                            <p>As a data returns and claims authoriser your permissions allow you to:</p>
                            <ul class="list-bullet">
                                <li>sign funding claims</li>
                                <li>read and download information</li>
                                <li>submit and save information</li>
                                <li>automatically receive email alerts</li>
                            </ul>
                        </div>

                    </details>
                </div>

                <div class="form-block">
                    <details role="group">
                        <summary role="button" aria-controls="details-content-6" aria-expanded="true">
                            <span class="summary">Document exchange user</span>
                        </summary>
                        
                        <div class="panel panel-border-narrow" id="details-content-6" aria-hidden="false">
                            <p>As a document exchange user your permissions allow you to:</p>
                            <ul class="list-bullet">
                                <li>send documents to ESFA</li>
                                <li>view documents you’ve received from ESFA </li>
                                <li>view documents you’ve sent to ESFA</li>
                            </ul>
                        </div>

                    </details>
                </div>

                <div class="form-block">
                    <details role="group">
                        <summary role="button" aria-controls="details-content-7" aria-expanded="true">
                            <span class="summary">Provider support user</span>
                        </summary>
                        
                        <div class="panel panel-border-narrow" id="details-content-7" aria-hidden="false">
                            <p>As provider support your permissions allow you to:</p>
                            <ul class="list-bullet">
                                <li>have your contact details displayed on the Manage your education and skills funding pages for your users to see</li>
                            </ul>
                        </div>

                    </details>
                </div>

                <div class="form-block">
                    <details role="group">
                        <summary role="button" aria-controls="details-content-8" aria-expanded="true">
                            <span class="summary">Super user</span>
                        </summary>
                            
                        <div class="panel panel-border-narrow" id="details-content-8" aria-hidden="false">
                            <p>As an organisation super user you can:</p>
                            <ul class="list-bullet">
                                <li>update user contact information</li>
                                <li>approve or reject user role for SFS services</li>
                                <li>grant new users access</li>
                                <li>remove users access rights</li>
                                <li>manage the users in your organisation through the <a href="https://logon.fasst.org.uk" rel="external" target="_blank" title="This will open in a new tab or window">Identity and Access Management Service</a></li>
                            </ul>
                        </div>

                    </details>
                </div>

            </div>

            <div class="form-group">
                <h2 class="heading-medium"> Requesting roles</h2>
                <p>You need to speak to your organisations super user or request these roles through <a href="https://logon.fasst.org.uk" rel="external" target="_blank" title="This will open in a new tab or window">Identity and Access Management Service</a>.</p>
                <p>You may have more than one super user in your organisation.</p>
            </div>

        </div>

    </div>

</main>

{% endblock %}
