.attachment:after {
    content: "";
    display: block;
    clear: both;
}

.attachment:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.attachment {
    position: relative;
    margin: 30px 0;
    padding: 15px 0 0 129px;
}

    .attachment.inline {
        background: transparent;
        position: static;
        padding: 0;
        margin: 0;
    }

        .attachment.inline:after {
            display: none;
        }

    .attachment .attachment-thumb {
        position: relative;
        float: left;
        margin-top: 5px;
        margin-left: -124px;
        padding-bottom: 15px;
    }

        .attachment .attachment-thumb img {
            display: block;
            width: 99px;
            height: 140px;
            background: white;
            outline: 5px solid rgba(11,12,12,0.1);
            -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
            -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
            box-shadow: 0 2px 2px rgba(0,0,0,0.4);
        }

    .attachment .title a {
        text-decoration: underline;
    }

    .attachment .attachment-details h1, .attachment .attachment-details h2, .attachment .attachment-details h3 {
        font-family: "nta",Arial,sans-serif;
        font-size: 27px;
        line-height: 1.11111;
        font-weight: 400;
        text-transform: none;
        padding-top: 2px;
        padding-bottom: 3px;
        margin: 0;
    }

@media (max-width: 640px) {
    .attachment .attachment-details h1, .attachment .attachment-details h2, .attachment .attachment-details h3 {
        font-size: 20px;
        line-height: 1.11111;
    }
}

@media (max-width: 640px) {
    .attachment .attachment-details h1, .attachment .attachment-details h2, .attachment .attachment-details h3 {
        padding-top: 7px;
        padding-bottom: 3px;
    }
}

.attachment .attachment-details h2 {
    padding-top: 0;
}

@media (min-width: 641px) {
    .attachment .attachment-details h2 {
        padding-top: 7px;
    }
}

.attachment .attachment-details h3 {
    font-weight: bold;
}

.attachment .attachment-details .extra-description {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    padding-top: 7px;
    padding-bottom: 3px;
    margin: 0;
}

@media (max-width: 640px) {
    .attachment .attachment-details .extra-description {
        font-size: 16px;
        line-height: 1.25;
    }
}

@media (max-width: 640px) {
    .attachment .attachment-details .extra-description {
        padding-top: 6px;
        padding-bottom: 4px;
    }
}

.attachment .attachment-details .metadata {
    font-family: "nta",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    padding-top: 6px;
    padding-bottom: 4px;
    margin: 0;
}

@media (max-width: 640px) {
    .attachment .attachment-details .metadata {
        font-size: 12px;
        line-height: 1.25;
    }
}

@media (max-width: 640px) {
    .attachment .attachment-details .metadata {
        padding-top: 4px;
        padding-bottom: 1px;
    }
}

.attachment .attachment-details .metadata .changed, .attachment .attachment-details .metadata .references {
    display: block;
}

.attachment .attachment-details .metadata .unnumbered-paper {
    display: block;
}

.attachment .attachment-details .preview, .attachment .attachment-details  {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
}

@media (max-width: 640px) {
    .attachment .attachment-details .preview, .attachment .attachment-details  {
        font-size: 16px;
        line-height: 1.25;
    }
}

.attachment .attachment-details .preview {
    padding-right: 15px;
}

.attachment .opendocument-help {
    margin: 0;
    font-family: "nta",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    padding-top: 6px;
    padding-bottom: 4px;
}

@media (max-width: 640px) {
    .attachment .opendocument-help {
        font-size: 12px;
        line-height: 1.25;
    }
}

@media (max-width: 640px) {
    .attachment .opendocument-help {
        padding-top: 4px;
        padding-bottom: 1px;
    }
}

.attachment .opendocument-help a:after {
    content: "     ";
    background-position: right 1px;
}

.attachment .opendocument-help a:hover:after {
    background-position: right -387px;
}

.attachment .accessibility-warning {
    margin-top: 10px;
}

    .attachment .accessibility-warning h2 {
        font-family: "nta",Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857;
        font-weight: 400;
        text-transform: none;
        padding-top: 6px;
        padding-bottom: 4px;
        margin: 0;
        color: #0b0c0c;
    }

@media (max-width: 640px) {
    .attachment .accessibility-warning h2 {
        font-size: 12px;
        line-height: 1.25;
    }
}

@media (max-width: 640px) {
    .attachment .accessibility-warning h2 {
        padding-top: 4px;
        padding-bottom: 1px;
    }
}

.attachment .accessibility-warning .toggler {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
}

    .attachment .accessibility-warning .toggler:hover, .attachment .accessibility-warning .toggler:focus {
        outline: none;
        text-decoration: underline;
    }

.attachment:first-child {
    margin-top: 0;
    padding-top: 0;
}

.attachment strong {
    font-weight: bold;
}

.thumbnail {
    margin-bottom: 60px;
}

    .thumbnail img {
        -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
        -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.4);
        box-shadow: 0 2px 2px rgba(0,0,0,0.4);
        width: 100%;
        max-width: 287px;
    }


.AgeReportAttachment {
    border-top: 1px solid #bfc1c3;
}