#global-breadcrumb {
    border-bottom: 0 !important;
}

.DashBoardPart {
    width: auto;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 1px solid #BFC1C3;
    background-color: #fff;
}

    .DashBoardPart .panel-indent {
        margin: 0 0 10px 15px !important;
        padding-top: 0;
        padding-bottom: 0;
    }

    .DashBoardPart .legend {
        -ms-border-top-left-radius: 0;
        border-top-left-radius: 0;
        -ms-border-top-right-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid #BFC1C3;
        color: #ffffff;
        background-color: #DEE0E2;
    }

.dashboardPartContent {
    display: block;
    padding: 10px;
    margin-bottom: 0;
}

    .dashboardPartContent .TableContainer {
        min-height: 340px;
    }

    .dashboardPartContent .BlockContent {
        padding: 15px;
    }

    .DashBoardPart .content .ButtonBar {
        margin-top: 20px;
    }

.DashboardInfoContainer {
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: #005ea5;
    padding-left: 15px;
    margin-top: 30px;
}

    .DashboardInfoContainer h2 {
        margin-top: 0.3em;
        margin-bottom: 0.5em;
    }

    .DashboardInfoContainer li {
        margin-bottom: 0.75em;
        font-family: nta, Arial, sans-serif;
        font-size: 1.6em;
        font-weight: normal;
    }

.noBorder {
    border: 0;
}