{% extends "layouts/main.html" %}

{% block page_title %}
    Something isn't quite right!
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- Account Management (IDAMS) - START -->
    {% include version + "/includes/idams-account-header.html" %}
    <!-- Account Management (IDAMS) - END -->

    <div class="grid-row">
    
        <div class="column-two-thirds">

            <div class="form-group">
                <h1 class="heading-xlarge">Something isn't quite right!</h1>
                <p class="lede">Access to this service has not been allowed. An approver at your organisation will be able to provide you with access to this service.</p>
                <p>If your permission is confirmed please close this window and try again. If the problem persists, you can <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">contact the helpdesk</a>.</p>
            </div>

        </div>

    </div>

</main>

{% endblock %}
