
// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';

@import 'melody/balls';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.margin-top {
    margin-top: 10px;
}

.margin-right {
    margin-right: 10px;
}

/*this part is for aside section*/
.related-container {
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 30px;
}

@media (min-width: 641px) {
    .related-container {
        float: left;
        width: 33.33333%;
        margin-top: 30px;
    }
}

.related {
    border-top: 10px solid #005ea5;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: rgb(0, 94, 165);
    padding-top: 5px;
}

@media (min-width: 641px) {
    
    .related h2 {
        font-size: 24px;
        line-height: 1.25;
    }
}

.related h2 {
    font-family: "nta", Arial, sans-serif;
    /*font-size: 18px;
    line-height: 1.2;
    font-weight: 400;*/
    text-transform: none;
    font-weight: 600;
    color: #0b0c0c;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.related nav {
    margin-bottom: 1.25em;
}

.related ul {
    list-style: none;
    line-height: 2;
    font-size: 14px;
}

@media (min-width: 641px) {
    .related ul {
        font-size: 16px;
        line-height: 2;
    }
}


.related li a {
    background-position: 0 -287px;
    background-repeat: no-repeat;
    display: block;
    /*line-height: 1.25;*/
    orphans: 2;
} /*end of aside section*/




/*New FILTER menu style*/
@media (min-width: 641px) {
    .vertical-padding-medium-top {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.impact-link .impact-link-figure {
    font-size: 16px;
    display: inline-block;
    vertical-align: text-top;
}

.impact-link .impact-link-label {
    display: inline-block;
    /*padding-left: 0.5em;*/
    white-space: normal;
    width: 75%;
    vertical-align: text-top;
    /*text-decoration: underline;*/
}

.impact-link {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    padding: 5px;
    background-color: $grey-3;
    margin-bottom: 2px;
}

.impact-link:visited {
    color: $govuk-blue;
}

.impact-link:hover {
    color: $light-blue;
}

.impact-link.active {
    color: black;
    background-color: white;
    border: 1px solid; 
}

.impact-link.active .impact-link-label {
    text-decoration: none;
}

@media (min-width: 641px) {
    .impact-link .impact-link-label {
    padding-left: 0.5em;
    }
}

@media (min-width: 769px) {
    .impact-link {

        font-size: 24px;
        padding: 10px;
    }
}

@media (min-width: 769px) {
    .impact-link .impact-link-figure {
        height: 80px;
        font-size: 60px;
        line-height: 0.9;

    }
}

/*End of filter menu style*/



/*New dashboard style*/

.dashboard-links {
    margin-bottom: 20px;
}

a.dashboard-links {
    color: white;
    text-decoration: none;
    display: block;
}

.service-name {
    display: block;
    min-height: 70px;
    background-color: $black;
    font-size: 26px;         /*was 32px*/
    font-weight: bold;
    padding: 10px 20px;
}

.alert-name-blue {
    margin-top: 5px;
    display: block;
    background-color: $govuk-blue;
    padding: 7px 15px;
}

.alert-name-blue:hover {
    text-decoration: underline;
}

.alert-name-red {
    margin-top: 5px;
    display: block;
    background-color: $mellow-red;
    padding: 7px 15px;
}

.alert-name-red:hover {
    text-decoration: underline;
}

.alert-name-green {
    margin-top: 5px;
    display: block;
    background-color: $grass-green;
    padding: 7px 15px;
}

.alert-name-green:hover {
    text-decoration: underline;
}

@media (min-width: 641px) {
    .service-name {
        display: block;
        min-height: 70px;
    }
}

/*End of dashboard style*/


/*New dashboard melody*/

.dash-links {
    margin-bottom: 20px;
}

a.dash-links {
    color: white;
    text-decoration: none;
    display: block;
}

.serv-name {
    display: block;
    min-height: 70px;
    background-color: $black;
    font-size: 26px;         /*was 32px*/
    font-weight: bold;
    padding: 10px 20px;
}

.alert-name-blue {
    margin-top: 5px;
    display: block;
    background-color: $govuk-blue;
    padding: 7px 15px;
}

.alert-name-blue:hover {
    text-decoration: underline;
}

.alert-name-red {
    margin-top: 5px;
    display: block;
    background-color: $mellow-red;
    padding: 7px 15px;
}

.alert-name-red:hover {
    text-decoration: underline;
}

.alert-name-green {
    margin-top: 5px;
    display: block;
    background-color: $grass-green;
    padding: 7px 15px;
}

.alert-name-green:hover {
    text-decoration: underline;
}

@media (min-width: 641px) {
    .serv-name {
        display: block;
        min-height: 70px;
    }
}

/*End of dashboard melody*/






.call-to-action {
    margin: 30px 0;
    background: #dee0e2 none no-repeat 98% 20px;
    padding: 10px 60px 10px 15px;
    position: relative;
}

.padding-top {
    padding-top: 15px;
}

.accessibility-warning h2 {
    font-size: 14px;
    line-height: 1.42857;
}

.attachment-details {
    font-size: 20px;
}

@media (min-width: 641px) {
    .attachment-details {
        font-size: 27px;
    }
}
    

.govuk-box-highlight {
    /*margin: 1em 0 1em 0;*/
    padding: 2em 1em 1em 1em;
}

.x-xsmall {
    font-size: 14px;
}

.column-third span a.font-xsmall {
    margin-left: 10px;
}





/* for displaying and hiding the table */
.tab {
            display:none;
        }

.tab.active {
            display:block;
        }
/* end of displaying and hiding the table */


/* TABS */

/*for responsive table*/
/*@media (max-width: 640px) {

    .main-table thead {
        display: none;
    }

    .main-table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 1px solid #ddd; 
    }

    .main-table td {
      display: block;
      text-align: right;
      border-bottom: none;
      padding-right:0px;
    }

    .main-table td:last-child {
      border-bottom: 0;
        margin-bottom: 10px;
    }

    .main-table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    
    .main-table td:nth-of-type(1) {
        font-weight: 700;
        font-size: 16px;
        text-align: left;
        line-height: 1.5em;
        color: $link-colour;
    }
    
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }    
}
    end of responsive table

 end of table */


/* simple GREY TABS */
 


 /*mobile*/

.tabbed-tab {
        border: 1px solid transparent;
        display: block;
        margin-bottom: 3px;
        margin-right: 0px;
        padding: 9px;
        background-color: $panel-colour;
    }

    .tabbed-tab:hover {
        background-color: $border-colour; 
    }

    .tabbed-tab.active {
        background: #fff;
        border-color: #bfc1c3;
        /*border-bottom-color: #fff;*/
        color: #0b0c0c;
        text-decoration: none;
    }

    a.tabbed-tab {
        text-decoration: none;
    }

    a.tabbed-tab span:nth-of-type(1) {
        text-decoration: underline;
    }

    .indicators {
        color: white;
        background-color: $live-colour;
        padding: 1px 4px 0px 4px;
        margin-left: 5px;
    }

    .withdrawn {
        color: white;
        background-color: $error-colour;
        padding: 1px 4px 0px 4px;
        margin-left: 5px;
        
    }

    /*.border-top {
        border-top: 1px solid #bfc1c3;
        margin-bottom: 15px;
        padding: 30px 10px 0;
    }*/
    /*end of mobile*/
        
        
/*desktop*/
@media (min-width: 641px) {
    
    .tabbed-tab {
        border: 1px solid transparent;
        /*border-bottom: 1px solid #bfc1c3;*/
        display: inline-block;
        margin-bottom: -1px;
        margin-right: 3px;
        padding: 10px 10px;
        background-color: $panel-colour;
        width: auto;
        
    }

    .tabbed-tab:hover {
        background-color: $border-colour; 
    }

    .tabbed-tab.active {
        background: #fff;
        border-color: #bfc1c3;
        border-bottom-color: #fff;
        color: #0b0c0c;
        text-decoration: none; 
        padding: 12px 12px 12px 12px;
    }

    .tab-links li {
        float: left;
    }

    a.tabbed-tab {
        text-decoration: none;
    }

    a.tabbed-tab span:nth-of-type(1) {
        text-decoration: underline;
    }

    .indicators {
        color: white;
        background-color: $live-colour;
        padding: 1px 4px 0px 4px;
        margin-left: 5px;
        font-size: 14px;
    }

    .withdrawn {
        color: white;
        background-color: $error-colour;
        padding: 1px 4px 0px 4px;
        margin-left: 5px;
        font-size: 14px;
    }

    .border-top {
        border-top: 1px solid #bfc1c3;
        margin-bottom: 15px;
       /* padding: 30px 10px 0;*/
    }
}
        //end of desktop
    /* end of simple GREY TABS */
/* end of TABS*/



/*  BACK BUTTON  */


a.back-to-previous, a.back-to-previous:active, a.back-to-previous:hover, a.back-to-previous:focus {
        color: #0b0c0c;
    }

.back-to-previous {
        font-family: "nta",Arial,sans-serif;
        font-size: 14px;
        line-height: 1.25;
        font-weight: 300;
        text-transform: none;
        display: block;
        position: static;
        text-decoration: none;
        border-bottom: #0b0c0c 1px solid;
        width: 2.25em;
        background: url("/public/images/icon-arrow-left.png") left 0.2em no-repeat;
        padding-left: 0.75em;
        text-align: right;
        margin: 0.5em 0 0 0;
        overflow: hidden;
    }





@media (min-width: 641px) {

    .back-to-previous {
        font-size: 16px;
        margin: 2em 0 0 0;
    }

    .back-link {
        font-size: 16px;
        color: black;
        margin-top: 30px;
    }

    .back-link a:visited {
        color: black;
        
    }

}



/*  end of BACK BUTTON  */



.attachment .attachment-thumb {
    position: relative;
    float: left;
    margin-top: 5px;
    /*margin-left: -124px;*/
    padding-bottom: 15px;
    margin-right: 15px;
}

.attachment .attachment-thumb img {
    display: block;
    width: 99px;
    height: 140px;
    background: #fff;
    outline: 5px solid rgba(11,12,12,.1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

.underline {
    text-decoration: underline;
    margin-top: 10px;
}

.float li {
    float:left;
}

.optional-section {
    border-left: #bfc1c3 solid 4px;
    padding: 14px 0 14px 14px;
    margin-bottom: 1em;
    
}

/*raise a query classes*/


.hidden, .hidden-2, .hidden-3, .hidden-4 { 
    display: none;
    visibility: hidden;
}

.show, .show-2, .show-3 {
    display: block;
    visibility: visible;
}

.show-table, .show-table-2, .show-table-3, .show-table-4 {
    display: table;
    visibility: visible;
    width: 100%;
}



/*raise a query classes*/

.link-to-contracts-page {
    margin-left: 15px;
    margin-top: 8px;
}

.link-to-age-report-page {
    margin-left: 15px;
    margin-top: 8px;
}

.left-align {
    margin-left: 120px;
}

.margin-top-2 {
    margin-top: 25px;
}

.margin-top-3 {
    margin-top: 35px;
}
.document-list .document-row {
    display: block;
    list-style: none;
    border-bottom: 1px solid #bfc1c3;
    padding: 5px 0 10px;
}

.document-row  {
    margin-bottom: 20px;
    margin-top: 20px;
}

.document-list .document-row ul li {
    float: left;
}

.publication-content {
    position: relative;
    margin: 0 auto;
    width: auto;
    max-width: 1020px;
}


.html-publications-show {
    padding: 20px 0px 30px;
    }

@media (min-width: 641px) {
.html-publications-show {
    padding: 20px 15px 30px;

    }
}



@media (min-width: 641px) {
    .publication-header {
        padding: 0 30px;
        margin: 0;
    }
}
.publication-header {
    background-color: $discovery-colour;
    padding: 10px 15px;
    margin: 0 -15px;
    overflow: hidden;
}

.publication-header .headings {
    overflow: hidden;
}

@media (min-width: 641px) {
    .html-publication {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.html-publication {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
}

.headings h1 {
    margin-bottom: 60px; 
}

.publication-header .headings {
    overflow: hidden;
}

.publication-header .headings h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 32px;
    line-height: 1.09375;
    font-weight: 400;
    text-transform: none;
    font-weight: bold;
    color: #fff;
}

@media (min-width: 641px) {
    .publication-header .headings h1 {
        font-size: 48px;
        line-height: 1.04167;
    }
}
        
.publication-header .headings .document-type {
    margin: 75px 0 10px;
    
    font-size: 27px;
    line-height: 1.11111;

}

.publication-header .headings p {
    margin: 15px 0 20px;
    color: #fff;
}

@media (min-width: 769px) {
    .in-page-navigation {
        width: 70%;
    }
}

.in-page-navigation {
    /*color: #fff;*/
    margin: 0 0 40px;
    width: 100%;
}

.in-page-navigation h2 {
    font-weight: bold;
}

.in-page-navigation ol {
    padding-left: 30px;
    list-style: decimal;
}

.in-page-navigation ol li {
    list-style: decimal;
    /*font-weight: bold;*/
}

.publication-header a {
    color: #fff;
    font-weight: normal;
}


.publication-content .govspeak h2 {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    margin: 15px 0 10px;
}

@media (min-width: 641px) {
    .publication-content .govspeak {
        width: 75%;
        float: right;
    }
}

@media (min-width: 641px) {
    .publication-content .govspeak h2, #whitehall-wrapper .html-publications-show .publication-content .govspeak h3 {
        margin-top: 80px;
    }
}

.publication-content .govspeak h2, #whitehall-wrapper .html-publications-show .publication-content .govspeak h3 {
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

@media (min-width: 641px) {
    .publication-content .govspeak h2 {
        margin: 60px 0 15px;
    }
}

@media (min-width: 641px) {
.publication-content .govspeak h2 {
    font-size: 36px;
    line-height: 1.11111;
    }
}

@media (min-width: 769px) {
    .govspeak h2 {
        margin-top: 45px;
    }
}

@media (min-width: 641px) {
    .govspeak h2 {
        font-size: 27px;
        line-height: 1.11111;
    }
}

    
.govspeak h2 {
    font-family: "nta", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    padding-top: 2px;
    padding-bottom: 3px;
    font-weight: bold;
    margin-top: 15px;
}

@media (min-width: 641px) {
    .publication-content .govspeak {
        width: 75%;
        float: right;
    }
}


@media (min-width: 641px) {
    .publication-content .govspeak h2 .number {
        font-family: "nta", Arial, sans-serif;
        font-size: 53px;
        line-height: 1.03774;
        font-weight: 400;
        text-transform: none;
        font-weight: bold;
        position: absolute;
        margin: -30px 0 0 -25%;
        width: 22%;
        padding: 35px 0px 30px 3%;
    }
}

@media (min-width: 641px) {
    .publication-content .govspeak h2 .number {
        font-size: 80px;
        line-height: 1;
    }
}


/*@media (min-width: 641px) {
    .back-to-content a {
        display: block;
    }

    .back-to-content {
        position: fixed;
        bottom: 100px;
    }

    .back-to-content a:before {
        content: "\2191 ";
    }

    #js-back-to-content {
        display: none;
    }
}*/

/*.t-right-align tr th:nth-of-type(3) {
    text-align: right;
}

.t-right-align tr td:nth-of-type(3) {
    text-align: right;*/

/*@media (min-width: 641px) {
.t-right-align tr th:nth-of-type(1) {
    min-width: 450px;
    }
}
*/
.new-tag {
    color: white;
    background-color: $mellow-red;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.new-tag-blue {
    color: white;
    background-color: $govuk-blue;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 6px;
}

.new-tag-teal {
    color: white;
    background-color: #28a197;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.new-tag-inverted {
    color: $grass-green;
    background-color: white;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 5px;
}

.hidden-cell {
    display: none;
}

.show1 {
    display: table-cell;
}

.hidden-year-end {
    display: none;
}

.right-align {
    /*margin-top: 10px;
    margin-right: 23px;*/
    float: right;
}


table {
    margin-bottom: 15px;
}

.view-all-hidden {
    display: none;
}

@media (min-width: 769px) {
    .block-3 {
        width: 66.6666666%;
        float: left;
        display: inline;
    }
}

@media (min-width: 769px) {
    .grid-1-3 {
        width: 30.333333333%;
        float: left;
        
    }
}



/*for the left search box*/
.search-filter {
    padding-right: 30px;
    margin-bottom: 30px;
}


.block {
    display: block;
    margin-bottom: 10px;
}

hr {
    margin-top: 5px;
    margin-bottom: 20px;
}


article {
    margin-bottom: 40px;
    border-bottom: 1px;
}

.filters {
    display: block;
    margin: 0 0 20px 0;
    border: 1px solid #dee0e2;
    overflow: hidden;
    width: auto;
}

.filter-relative {
    position: relative;
}

.filters-headings {
    /*position: relative;*/
    clear: both;
    background: #dee0e2;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px 30px 5px 10px;
    margin: 0;
    top: 0;
    float: none;
    cursor: pointer;
    text-align: left;
}

button.filters-headings {
    border: none;
}

.filters-headings:hover {
    background-color: $grey-2;
}

.filters-headings-funding {
    position: relative;
    clear: both;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-top: 15px;
    margin: 0;
    top: 0;
    float: none;
    cursor: pointer;
    border-top: $grey-2 1px solid;
}

.filters-headings-funding h2 {
    
    color: $govuk-blue;
}

.up-arrow-new {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 6px;
    background: url("/public/images/arrow.png") left 0 no-repeat;
    padding-left: 1.3em;
    z-index: 0;
    }

.down-arrow {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 6px;
    background: url("/public/images/arrow.png") left -5.2em no-repeat;
    padding-left: 1.3em;
    z-index: 0;
    }

.up-arrow-funding {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    background: url("/public/images/arrow.png") left 0 no-repeat;
    padding-left: 1.3em;
    }

.down-arrow-funding {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    background: url("/public/images/arrow.png") left -5.2em no-repeat;
    padding-left: 1.3em;
    }


.down-arrow-2, .down-arrow-3, .down-arrow-4 {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0; 
    background: url("/public/images/arrow.png") left -5.2em no-repeat;
    padding-left: 1.3em;
    z-index: 0;
    }

.down-arrow-2 {
    bottom: 0;
}

.up-arrow-new-2 {
    top: 0;
}

.down-arrow-3 {
    bottom: 0;
}

.up-arrow-new-3 {
    top: 0;
}

.up-arrow-new-2, .up-arrow-new-3, .up-arrow-new-4 { 
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    background: url("/public/images/arrow.png") left 0 no-repeat;
    padding-left: 1.3em;
    z-index: 0;
    }

.displayed-checkbox {
    display: block;
}

.hidden-checkbox {
    display: none;
}



@media (min-width: 641px) {
    .filters .toggled-content {
        display: block;
        }

    .down-arrow-2, .down-arrow-3, .down-arrow-4 {
        background: url("/public/images/arrow.png") right -4.2em no-repeat;
        padding-left: 1.7em;
        z-index: 0;
    }

    .up-arrow-new-2, .up-arrow-new-3, .up-arrow-new-4 {
        background: url("/public/images/arrow.png") right 0 no-repeat;
        padding-left: 1.7em;
        z-index: 0;
    }

    .down-arrow-2 {
    bottom: 6px;
    }

    .up-arrow-new-2 {
        top: 6px;
    }

    .down-arrow-3 {
        bottom: 6px;
    }

    .up-arrow-new-3 {
        top: 6px;
    }

    .up-arrow-new {
        background: url("/public/images/arrow.png") right 0 no-repeat;
        padding-left: 1.7em;
    }

    .down-arrow {
        background: url("/public/images/arrow.png") right -4.2em no-repeat;
        padding-left: 1.7em;
    }



    .down-arrow-funding {
        background: url("/public/images/arrow.png") right -4.2em no-repeat;
        padding-left: 1.7em;
    }

    .up-arrow-funding {
        background: url("/public/images/arrow.png") right 0 no-repeat;
        padding-left: 1.7em;
    }
}

.filters .toggled-content {
    padding: 20px;
}

@media (min-width: 641px) {
    .heading-medium {
        margin-top: 0;
        }
}

.search-hidden-mobile {
    display: none;
    margin-bottom: 40px;
}

.open-menu-mobile {
    display: block;
    }

@media (min-width: 641px) {
.search-hidden-mobile {
    display: block;

    }
}

.mobile-arrow-down:after {
    content: " ?";
    font-size: 12px;
    padding-left: 10px;
    display: inline-block;
    height: 14px;
    vertical-align: middle;
}

.mobile-arrow-up:after {
    content: " ?";
    font-size: 12px;
    padding-left: 10px;
    display: inline-block;
    height: 14px;
    vertical-align: middle;
}

#open-mobile-menu {
    cursor:pointer;
    /*margin-bottom: 25px;*/
    margin-top: 10px;
}

@media (min-width: 641px) {
    #open-mobile-menu {

        cursor: auto;
    }

    #open-mobile-menu:after {
        content: none;
    }
}

.up-arrow:after {
    content: " ?";
}

.desktop-search {
    display: none;
}

@media (min-width: 641px) {
    .desktop-search {
    display: block;
    }
}


.mob-search {
        display: block;
        color: $link-colour;
    }

@media (min-width: 641px) {
    .mob-search {
        display: none;
    }
}

/*end of the left search box*/

li.tab {
    border-bottom: 1px solid $grey-2;
    margin-top: 20px;
}

li.tab:nth-of-type(1) {
    margin-top: 0px;
}



.float-right {
    float: right;
    margin-left: 10px;
}

.float-left {
    float: left;
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

@media (min-width: 641px) {
    .margin-bottom {
        margin-bottom: 0.9375em;
    }
}

.action-link {
    text-align: right;
}

span.action-link {
    float: right;
}

.column-left {
    text-align: left;
}

.close-link {
    display: none;
    visibility: none;
}

.extra-margin {
    margin-top: 50px;
}

.width-90per {
    width: 90%;
}

.welcome {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    display: none;
}

.welcome ul li {
    float: left;
    margin-right: 15px;
}

.navigation {
    float: left;
    margin-right: 15px;
    margin-top: 0px;
}

.navigation ul li {
    float: left;
    padding: 15px;
    margin: 10px 0;
}

.navigation ul li a {
    font-size: 19px;
}

.focusing:focus {
    outline: 3px solid $focus-colour;
}

.search-filter {
    // padding: 12px;
    /*margin-top: 74px;*/
    /*border: 1px solid $grey-2;*/
    align-items: center;    
}

.search-filter input {
    height: 40px;
    width: 80%;
    z-index: 4;
    margin-right: 10px;
}

@media (min-width: 500px) {
    .search-filter input {
        width: 85%;
        padding-left: 10px;
        z-index: 4;
    }
}

.search-filter button {
    position: absolute;
    text-indent:0px;
    height: 46px;
    width: 110px;
    border: 0;
    color: white;
    background-color:#00823b;
    background-image: 
    search-button-;
    background-repeat: no-repeat;
    background-position: 0 50%;
    cursor: pointer;
    font-size: 22px;
}

.mini-card-text {
    float: left;
}

.mini-card {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-3;
}

/*.mini-card ul li:nth-of-type(1) {
    float: left;
}*/

.your-additions {
    padding: 20px;
    background-color: $grey-3;
}

.keep-arrow-in {
    position: relative;

}

.heading-secondary{
    font-size: 20px;
    line-height: 1.1111111111;
    display: block;
    padding-top: 8px;
    padding-bottom: 7px;
    display: block;
    color: #6f777b;
}

.margin-top-zero {
    margin-top: 0;
    margin-bottom: 40px;
}

@media (min-width: 641px) {
.heading-secondary {
    padding-top: 30px;
    padding-bottom: 6px;
    font-size: 27px;
    }
}

.hidden-results {
    display: none;
}

.show-results {
    display: block;
}

.hidden-tag-1 {
    display: none;
}

.show-tag-1 {
    display: inline;
}

.hidden-tag-2 {
    display: none;
}

.show-tag-2 {
    display: inline;
}

.hidden-complete {
    display: none;
}

.show-complete {
    display: block;
}

.hidden-complete2 {
    display: none;
}

.show-complete2 {
    display: block;
}

.definition {
    display: block;
    line-height: 1.25;
}


/*for research only*/

.right-box-hidden {
    display: none;
}

.right-box-show {
    display: block;
}

.width-75 {
    width: 75%;
    
}

/*for research only*/

.border-bottom {
    padding-bottom: 40px;
    border-bottom: 1px solid #bfc1c3;
}

.grey-background {
    background-color: $panel-colour;
}

.grey-background .column-left {
    padding-left: 15px;
}

.phase-banner-beta .phase-tag {
    background-color: #005ea5;
}

.payment-section {
    padding-bottom: 20px;
}

th.numeric {
    padding-right: 15px;
}
.button-grey {
    @include button ($grey-3);
}
