{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<style>strong{font-weight: 600}</style>

<main role="main" id="content">
    <div class="phase-banner-beta">
        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>This is a new service - your <a href="#" rel="external" target="_blank" class="font16-ext-link">feedback<span class="visuallyhidden"></span></a> will help us to improve it.</span>
            </p>
        </div>
    </div>
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    <div>
        <div class="grid-row account-details">
            <div class="column-two-thirds" style="text-align: left;" id="userdetails">
                <span class="font-small" style="margin-right: 5px;">Welcome Jim,</span>
                    <span class="font-small" style="margin-right: 20px;">
                        <span></span>
                        CASTERBRIDGE COLLEGE
                    </span>
                    <span class="font-small" style="margin-right: 20px;">
                    <span>UKPRN:12345678</span>
                </span>
            </div>
            <div class="column-third controls" style="text-align: right;">
                <span>
                </span>
                <span>
                    <a href="/settings">Settings</a>
                </span>
                <span style="padding-left: 10px;">
                    <a href="/account/logout">Sign out</a>
                </span>
            </div>
        </div>
    </div>
    <Br>
    <div class="grid-full">
        <div id="global-breadcrumb" class="breadcrumbs">
                <nav>
                    <ol>
                        <li>
                            <a href="dash-old.html">Home</a>
                        </li>
                        <li>
                            <a href="statement-summary.html">Allocation statements</a>
                        </li>
                        <li>
                            Adult Education Budget 2018 to 2019
                        </li>
                    </ol>
                </nav>
            </div>
            <h1 class="heading-large">Adult Education Budget 2018 to 2019</h1>
            <p> <a href="">Download statement</a></p>
    </div>
<div class="column-two-thirds">
<br />
<h1 class="heading-medium">Adult Education Budget</h1>
    <hr>
        <table>
            <tr>
                <td>Amount we based on</td>
                <td>£4,494,746</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>2018 to 2019 allocation</strong></td>
                <td><strong>£4,494,746</strong></td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>August 2018 to March 2019</td>
                <td>£2,815,958</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2019 to July 2019</td>
                <td>£1,678,788</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>Total 2017 to 2018 contract value</td>
                <td>£1,678,788</td>
                <td class="numeric"></td>
            </tr>
        </table>
        <br />
        <p>&nbsp;</p>
        <h1 class="heading-medium">Adult Education Budget contract for service</h1>
        <hr>
        <table>
            <tr>
                <td>Amount we based on</td>
                <td>£230,679</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>2018 to 2019 allocation</strong></td>
                <td ><strong>£230,679</strong></td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>August 2018 to March 2019</td>
                <td>£154,833</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2019 to July 2019</td>
                <td>£75,846</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>2017 to 2018 allocation</td>
                <td>£182,361</td>
                
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Total AEB allocation 2018 to 2019</strong></td>
                <td><strong>£4,725,425</strong></td>
                <td class="numeric"><strong></strong></td>
            </tr>
        </table>
        <br />
</div>

<div class="related-container">
    <aside class="related" id="related">
        <div class="inner group related-subsection">
            <h2 id="parent-subsection">Guidence</h2>
            
            <nav role="navigation" aria-labelledby="parent-subsection">
                <ul>
                    <li>
                        <a href="#" rel="external" target="_blank" title="This will open in a new window">How to use the PE and sport premium</a>
                    </li>
                    <li>
                        <a href="#" rel="external" target="_blank" title="This will open in a new window">PE and sport premium conditions of grant</a>
                    </li>
                </ul>
                <hr>
<h3>Other</h3>
<ul>
<li>
    <a href="https://skillsfunding.service.gov.uk/">
        Skills funding service
    </a>
</li>
</ul>
            </nav>
        </div>
    </aside>
</div>
</div>


    </div>

</main>


{% endblock %}