{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<style>

li {
    margin-bottom: 5px;
}

ul {
    list-style-position: outside;
    margin-left: 20px;
    list-style: disc;
}

ul ul {
    
    list-style: circle;
}

</style>

<main role="main" id="content">  
  <div class="phase-banner-beta">
    <div>
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service - your <a href="#" rel="external" target="_blank" class="font16-ext-link">feedback<span class="visuallyhidden"></span></a> will help us to improve it.</span>
        </p>
    </div>
  </div>
  <div class="grid-row ">
      <div class="welcome">
          <ul class="">
              <li class="font-xsmall">UKPRN:12345678</li>
          </ul>
      </div>
  </div>
  <div>
    <div class="grid-row account-details">
        <div class="column-two-thirds" style="text-align: left;" id="userdetails">
            <span class="font-small" style="margin-right: 5px;">Welcome Jim,</span>
                <span class="font-small" style="margin-right: 20px;">
                    <span></span>
                    CASTERBRIDGE COLLEGE
                </span>
                <span class="font-small" style="margin-right: 20px;">
                <span>UKPRN:12345678</span>
            </span>
        </div>
        <div class="column-third controls" style="text-align: right;">
            <span>
            </span>
            <span>
                <a href="#">Settings</a>
            </span>
            <span style="padding-left: 10px;">
                <a href="#">Sign out</a>
            </span>
        </div>
    </div>
  </div>
  <Br>
  <div class="grid-full">
    <div id="global-breadcrumb" class="breadcrumbs">
      <nav>
          <ol>
              <li>
                  <a href="dashboard.html">Home</a>
              </li>
              <li>
                    <a href="allocation-statement-list.html">Allocation statements</a>
                </li>
              <li>
                    Principles we have used to work out your 2018 to 2019 allocations
              </li>
          </ol>
      </nav>
    </div>
    <div class="column-two-thirds">
    <h1 class="heading-xlarge no-margin-top">Principles we have used to work out your 2018 to 2019 allocations </h1>
    <h2 class="heading-large">Adult funding</h2>
    <h3 class="heading-medium">Adult Education Budget</h3>
    <p>Allocation changes can only take place where you: agree to them; are not in intervention, or; you do not have declining financial health or, you are not under an Education and Skills Funding Agency notice or implementing area review outcomes. Any changes the MCA makes must be cost-neutral across providers. </p>
    <p>MCAs have to inform us by 27 April 2018 of any variations they wish to make. You will need to agree to any proposed variations before they are sent to us on this date. Any change agreed by you, the MCA and us, will be reflected in your funding agreement and will supersede the allocation value in this statement.</p>
    <h3 class="heading-small">Devolution of the adult education budget from 2019 (excluding 19-24 traineeships)</h3>
    <p>From the start of the 2019 academic year, the government plans to devolve the adult education budget (excluding 19-24 traineeships) to six MCAs and delegate to GLA. This change will affect all providers. The areas in scope are: </p>
    <ul>
        <li>Cambridgeshire and Peterborough</li>
        <li>Greater Manchester</li>
        <li>Liverpool City Region</li>
        <li>Tees Valley</li>
        <li>West Midlands</li>
        <li>West of England</li>
    </ul>
    <br>
    <p>Government has also indicated its support for devolution of the adult education budget to the Sheffield City Region and the North of Tyne authorities but this is subject to the necessary statutory requirements and consents being secured.</p>
    <p>The implications of devolution/delegation are that in future:</p>
    <ul>
            <li>for learners resident in non-devolved areas, we will provide funding - where there is a contractual relationship between us and a provider</li>
            <li>for delivery in devolved/delegated areas, MCAs/GLA will determine which providers they contract with</li>
            <li>for learners resident in devolved/delegated areas, MCAs/GLA will determine all funding, allocation and contract management arrangements for the providers they have chosen to contract with</li>
            <li>in future, you may have a single funding relationship with us or multiple funding relationships covering one or more MCAs/GLA, plus ESFA</li>
            <li>you can gauge how this change might impact you by reviewing your adult education budget delivery (excluding 19-24 traineeships) on a geographic basis to see what proportion of your delivery sits within devolved/delegated/non-devolved areas</li>
            <li>traineeships for 19-24 year olds will remain a nationally funded and contracted programme with funds provided by us, regardless of where trainees reside</li>
            <li>
                    the value of adult education budget funding providers have received in previous years will change, because:
                    <ul>
                        <li>the value of adult education budget funding providers have received in previous years will change, because:</li>
                        <li>we will be taking historical delivery into account in calculating our allocations</li>
                        <li>MCAs/GLA will determine allocations for those providers they have chosen to contract with.</li>
                        <li>funding we provide for non-devolved areas (that can be distributed through an allocations process) will be confirmed in March 2019</li>
                    </ul>
            </li>
        </ul>
        <br>
        <p>In order to calculate the relative devolved/delegated/non-devolved shares of the adult education budget, we will use full-year 2017 to 2018 funding data to determine how much funding each learner accounts for and whether they reside in a devolved/delegated or non-devolved area. We will convert:</p>
        <ul>
            <li>non-devolved learner funding into a budget for us to manage and distribute</li>
            <li>devolved/delegated learner funding into a budget for MCAs/GLA to manage and distribute</li>
        </ul>
        <br>
        <p>It is therefore important that you record ‘learner postcode prior to enrolment’ data in the ILR completely and accurately as this information will drive budget setting. Where funding for individual learners cannot be determined from ILR data (for example, on learner support and non-formula funded community learning as these are block-funded) we are applying consistent assumptions at provider level instead.</p>
        </div>
    </div>
</main>

{% endblock %}