{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">
                
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
           
            
        </ul>
        </div>
    </div>
    
    
        
            <div class="govuk-box-highlight">
                <p>&nbsp;</p>
                <h1 class="bold-large">File sent for Blythe academy</h1>
                
               <h2 class="bold-medium">We've sent confirmation to jane.green@gmail.com</h2>
                
                
    <p>&nbsp;</p>

                
            </div>
        
        <div class="grid-row margin-top">

        <div class="column-two-thirds">
            

&nbsp;
           
            <h2 class="bold-medium">What happens next? </h2>
            <p>Lorum</p>

            <p class="bold">Or you may want to:</p>
            <p><a href="dash7" style="text-decoration: underline;">Go back to home</a><br>

&nbsp;
                
           
    <p><a href="upload-list2" style="text-decoration: underline;">View the files you've sent to ESFA</a><br>

          
                
               
            </ul>
        </div>  
    </div>

    <br>

   

            
        </div>
    </div>
       
  


</main>

{% endblock %}
