{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
  {% include "includes/phase_banner_alpha.html" %}
  

    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard-new">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>   



    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">Multi Academy Trust: ROMERO</h1>
            <p>UKPRN:12345678</p>
        </div>
        
    </div><br>
    

<div class="grid-row">

  <div class="column-one-third">
    <h2 class="bold-small"><a href="funding-list-multi">Funding statement</a></h2>
    
    <p>You have a funding allocation </p><br><hr>
  </div>

  <div class="column-one-third">
     <h2 class="bold-small"><a href="basic-upload">Upload documents </a></h2>
    
    <p>Upload documents to ESFS </p><br><hr>
  </div>

  <div class="column-one-third">
    <h2 class="bold-small"><a href="download-list">Download documents</a></h2>
    
    <p>23 documents to download</p><br><hr>
  </div>

  <hr>

</div>


  

  

  

</div>
 
    

    </main>

{% endblock %}