{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
     <div class="phase-banner">
  <p>
    <strong class="phase-tag">PROTOTYPE</strong>
    <span>For testing </span>
  </p>
</div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-xlarge">Manage your education and skills funding</h2>
                
        <p>Use this service to:</p>
             <ul class="list list-bullet">
                <li>sign contracts</li>
                <li>view your funding allocations</li>
                <li>view the funding you've received</li>
                <li>send and download files</li>
                <li>tell us about your subcontractors</li>
            </ul>
            
            <div class="transaction">
                <div id="get-started" class="get-started">
                    <a class="button button-get-started" href="dash7">Sign in or create an account</a>
                </div>
            </div>

        

    </div>
    </div>
    

</main>

{% endblock %}


