{% extends "layout.html" %}

{% block page_title %}
    View national funding formula tables
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include version + "/includes/phase_banner_alpha.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">

        <div class="column-two-thirds" id="list-count-container">
            
            <div class="form-group">
                <h1 class="heading-xlarge">View national funding formula tables</h1>
                <p class="lede">Lede paragraph content</p>
                <p>Paragraph content</p>

                <div class="form-group">
                    <a href="viewing-choice" role="button" draggable="false" class="button button-start" data-module="govuk-button">Start now</a>
                </div>

            </div>

            <!-- Support section in an expandable link - START -->
            <!-- Support section in an expandable link - END -->

        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
