{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

<main role="main" id="content">
    
    
    </div>

    <div class="grid-row">
        <div class="navigation">
            <ul>
                <li><a class="font-xsmall" href="dashboard2">Home</a></li>
                
            </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">Warwickshire college</span>
        <h1 class="heading-large margin-top-zero">Subcontractor: The college of Leicester</h1>

    </div>
</div>


<div class="grid-row">    
    <div class="column-two-thirds">

    <p class="bold-medium">Funding type: Adult education budget</p>
    <div class="panel panel-border-narrow">
    
   
    
    <p>Add information for the training your subcontractor will provide between 1 August 2017 and 31 July 2018</p>
  </div>
</div>
</div>
</fieldset>
<hr>


                 
  <form>
  <fieldset>

    <legend>
      <h3 class="heading-medium">Will any of the subcontracting include whole training programmes? (provision)</h3>
      <p class="form-hint">If any of the subcontracting is for part training, select 'No'.</p>
      <form>
  <div class="form-group">
    <fieldset class="inline">

      
      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>

    </fieldset>
  </div>
</form>


    &nbsp;
    <hr>
   
    <div class="form-group">
    <label class="form-label-bold">
  <p class="bold-medium">Number of learners</p>
  
</label>
<input class="form-control form-control-1-4" id="form-control-1-4" type="text" name="form-control-1-4">
 <br>
       
<br>
        
  <hr>
   &nbsp; <br>


   <div class="form-group">
    <label class="form-label-bold" for="form-control-1-8">
  <p class="bold-medium">Payments</p>
  <label class="form-label-bold" for="driving-licence">
           Enter the amount you will pay the subcontractor
           <span class="form-hint">
   
</span></div>
          
       
    
    <div class="form-hint">For example, 2308.28 </div><br>
    

    
    
    
    <br>
    <hr>
    </div>
          
    <hr>
   
              
        

    

    <div class="form-group">
    <label class="form-label-bold">
  <p class="bold-medium"></p>
  
</label>
    <form>

        <fieldset>


    <legend>
      <span class="bold-medium">Locations</span><br>
      <span class="body-text">Select the places your subcontractor will provide the training.</span>
    </legend>
    <br>
    
    

    <div style="margin-top: 18px"></div>

    
    <div class="multiple-choice">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="#">
      <label for="waste-type-3">East of England</label>
    </div>

    <div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="">
      <label for="waste-type-1">East Midlands</label>
    </div>

    <div class="multiple-choice">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="">
      <label for="waste-type-3">London</label>
    </div>
    
    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="">
      <label for="waste-type-2">North East</label>
    </div>
    
    <div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="">
      <label for="waste-type-1">North West</label>
    </div>
    
    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="">
      <label for="waste-type-2">South East</label>
    </div>

    <div class="multiple-choice">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="">
      <label for="waste-type-3">South West</label>
    </div>
    

    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
      <label for="waste-type-2">West Midlands</label>
    </div>
    
    <div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">Yorkshire and the Humber</label>
    </div>
    
    
  </fieldset>
       
    </form>
  

    &nbsp;
    <hr>
    <br>
       
<div>
    <a class="button margin-right" href="subcontractor-list2">Save and continue</a> &nbsp; <a class="button-grey" href="sub-con-search-add-another2">Delete this funding</a>         
    
</div>
    </div>

</div>







</main>


{% endblock %}