{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
        </ul>
        </div>
    </div>
    


<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">Adding your subcontractor details</h1>
    </div>
</div>


<div class="grid-row">    
        <div class="column-two-thirds">

        
        <h2 class="heading-medium">Before you start</h2>
        <p>You will need to know:</p>
        <ul class="list-bullet">
            <li>the names of your subcontractors</li>
            <li>how much money you will be paying them</li>
            <li>the funding types they will provide training for</li>
            <li>the number of learners or apprentices</li>
            <li>where the training will take place</li>
        </ul>
            
        <br>
        <p><a class="button button-start" href="sub-con-second" role="button">Start now</a></p>
               </div>
     </div>

</main>


{% endblock %}