{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
        </ul>
        </div>
    </div>
    
<div class="grid-row">
        <div class="column-two-thirds">    

        <h1 class="heading-xlarge">Second level subcontracting</h1>
        <p>You cannot subcontract to another organisation who will subcontract the work again, without permission. </p>
                       
   
                    <form>
  <div class="form-group">
    <fieldset class="inline">

      

     

    </fieldset>
  </div>
</form>



<form>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">
          Will any of your subcontractors use subcontractors?
        </h1>
      </legend><br>

      <div class="multiple-choice" data-target="contact-by-email">
        <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
        <label for="example-contact-by-email">No</label>
      </div>
      

      

      <div class="multiple-choice" data-target="contact-by-text">
        <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
        <label for="example-contact-by-text">Yes</label>
      </div>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
        <label class="form-label" for="contact-text-message"><p>In exceptional circumstances you can ask for permission to second level subcontract. 
</p>
      <p>Our <a href="https://www.gov.uk/government/publications/sfa-subcontracting-to-a-second-level-seeking-written-approval"> GOV.UK guidance page</a> provides information on how to apply.
    </p></label>
        
      </div>

    </fieldset>
  </div>
</form>

   

                      </div>
                     </div>
                     
                     
                     
                     </div>
                     
                             
                     <div class="form-group">
                    <div>
    <a class="button margin-right" href="sub-con-web">Continue</a>         
    
</div>
                     </div>
                    </form>                             
                </div>                                      
            </div>
        </div>
    </div> 

        
    </div>
</div>

</main>


{% endblock %}