.provider-search-content {
    position: relative;
    background: #fff; 
}

#provider-search-main {
    width: calc(100% - 40px);      
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.47368;
    font-weight: 400;
    text-transform: none;
    position: relative;
    padding: 6px;
    z-index: 3;
    background: transparent;
    margin: 0;
    padding-bottom: 6px;    
}

form#provider-search input.submit {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #0b0c0c;
    border-width: 0 0 0 1px;
    border-left-color: #222;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    cursor: pointer;
    color: #fff;
    background: #0b0c0c url(https://assets.digital.cabinet-office.gov.uk/frontend/homepage/search-button-085aa82ff641b5cfb3eb090c888459f96be271efe9c1d98a73c8a181202d9063.png) no-repeat 2px 50%;
    box-sizing: border-box;
    float: left;
    min-width: 0;
    display: block;
    margin: 0;
    border: 0;
    height: 40px;
    padding: 6px 0;
    -webkit-appearance: none;
}
.Contract-Manager-Button-Link {
    padding: .6em 1.7em .45em .67em;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    font-family: "nta",Arial,sans-serif;
    font-size: 24px; 
    line-height: .66667; 
    font-weight: 700; 
    text-transform: none;
    display: inline-block;
     background-image: url("../govuk/images/icons/icon-pointer.png");
}
 @media (max-width: 640px) {
    .Contract-Manager-Button-Link {
      font-size: 18px;
      line-height: 1.2; 
    } 
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .Contract-Manager-Button-Link {
        background-image: url("../govuk/images/icons/icon-pointer-2x.png");
        background-size: 30px 19px;
    }
}