{% extends "layout.html" %}

{% block page_title %}
    Manage your education and skills funding - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">

        <div class="column-two-thirds">
            
            <form method="post" class="form">
            
                <h1 class="heading-xlarge">Manage your education and skills funding</h1>

                <div class="form-block">
                    <p>Use this service to:</p>
                    <ul class="list list-bullet">
                        <li>sign documents</li>
                        <li>view your funding allocations</li>
                        <li>check the funding you’ve received</li>
                        <li>send and receive documents</li>
                        <li>tell us about your subcontractors</li>
                    </ul>
                </div>

                <div class="form-group">
                    <p><button class="button button-start" type="submit">Sign in or create a new account</button></p>
                </div>

            </form>

        </div>

        <div class="one-third">
            
            <div class="related-container">
            
                <aside class="related" id="related">
            
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Resources</h2>
        
                        <nav role="navigation" aria-labelledby="parent-subsection">
                                                    
                            <ul class="list">
                                <li class="related-links"><a href="{{userRolesAndPermissionsURL}}">User roles and permissions</a></li>
                                <li class="related-links"><a href="https://www.gov.uk/guidance/how-to-become-an-approved-training-provider-and-bid-for-funding" rel="external" target="external" title="This will open in a new tab or window">How to become an approved training provider and bid for funding</a></li>
                                <li class="related-links"><a href="https://submitlearnerdatabeta.fasst.org.uk" rel="external" target="external" title="This will open in a new tab or window">Submit learner data</a></li>
                                <li class="related-links"><a href="https://providers.apprenticeships.education.gov.uk" rel="external" target="external" title="This will open in a new tab or window">Manage apprenticeship details</a></li>
                            </ul>
                            
                            <hr>
                            <h2>Public information</h2>
                            <ul class="list">
                                <li class="related-links"><a href="{% if viewLatestFunding == 'true' %}latest/start{% elif nationalFundingFormula == 'true' %}../view-latest-funding/latest/start{% elif adultAllocations == 'true' %}../../../../../not-signed-in/view-latest-funding/latest/start{% elif docExExternal == 'true' %}../../../../not-signed-in/view-latest-funding/latest/start{% elif docExInternal == 'true' %}../../../not-signed-in/view-latest-funding/latest/start{% else %}#{% endif %}" title="View latest education and skills funding">View latest education and skills funding</a></li>
                                <li class="related-links"><a href="{% if viewLatestFunding == 'true' %}../view-national-funding-formula-tables/2020-to-2021/start{% elif nationalFundingFormula == 'true' %}../view-national-funding-formula-tables/2020-to-2021/start{% elif adultAllocations == 'true' %}../../../../../not-signed-in/view-national-funding-formula-tables/2020-to-2021/start{% elif docExExternal == 'true' %}../../../../not-signed-in/view-national-funding-formula-tables/2020-to-2021/start{% elif docExInternal == 'true' %}../../../not-signed-in/view-national-funding-formula-tables/2020-to-2021/start{% else %}#{% endif %}" title="View national funding formula for schools 2020 to 2021">View national funding formula for schools 2020 to 2021</a></li>
                            </ul>

                        </nav>

                    </div>

                </aside>

            </div>

        </div>

    </div>

</main>

{% endblock %}
