{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
  
$(document).ready(function() {
     $('#agree-terms').change(function(){
        if ($('#agree-terms').is(':checked'))    
        {
            $("#submit-sub").attr("href", "confirmation");   

            $(".error-summary").addClass("hidden");
            
            $(".add-error").removeClass("error");
            
            $(".error-message").addClass("hidden");
        }
        
        else
        {
            $("#submit-sub").attr("href", "");
            
        }
    });

    $("#submit-sub").click(function() {
        
        if ($('#agree-terms').is(':checked')) {
            
        }
            
            else
            {
                $(".error-summary").removeClass("hidden");
                
                $(".add-error").addClass("error");
                
                $(".error-message").removeClass("hidden");

            }
    });
});

</script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Education and skills funding home</a></li>
            
        </ul>
        </div>
    </div>
    
    

<div class="grid-row spacing-top">
    <div class="column-two-thirds">

    <div class="error-summary hidden" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    You need to agree the subcontractor declaration terms
                  </h1>

                 

                  <ul class="error-summary-list">
                    <li><a href="#example-personal-details">You must check the box before submiting </a></li>
                  </ul>

            </div>

        <h2 class="heading-xlarge">Submit your subcontractor information</h2>

</div>   
        
        <div class="column-two-thirds">
       
    
                        <p>I declare that <strong>Warwickshire college </strong> has not used subcontractors. </p>
                        &nbsp;

                        <div class="notice">
                          <i class="icon icon-important">
                            <span class="visually-hidden">Warning</span>
                          </i>
                          <strong class="bold-small">
                            If the information provided is misleading or untrue we will suspend your payments
                          </strong>
                        </div>
                        &nbsp;<p></p>
      
            <details>

                         <summary><span class="summary">Help with terms in this declaration</span></summary>

                         <div class="panel panel-border-narrow">

                
            
                <p>As part of the funding rules you must make a subcontractor declaration even if you do not subcontract.
</p>
                <p>You must also update your declaration if your subcontracting arrangements change during the year.</p>
            
                         



                         </div>

                        </details><br>


            <p class="bold-small">By submiting you agree:</p>
            <ul class="list-bullet">
                <li>with the subcontractor funding rules</li>
                <li>the information provided is accurate and can be published by ESFA</li>
            </ul>
            
        
            

            <div class="form-group add-error"> 
               <legend id="example-personal-details">

                    <span class="error-message hidden">
                        Please check box before submitting
                    </span>
                    
                </legend>
            </div>

<div class="multiple-choice">
  <input id="checkbox" type="checkbox" value="true">
  <label for="checkbox">I agree</label>
</div>
</div>
                  

        <div class="form-group margin-top-2">  
            <ul class="float">
                <p><a id="submit-sub" class="button" href="confirmation-sub-contract">Submit</a></p><br><br>
                <p><a href="subcontractor-list">Back</a></p>
            </ul>
        </div>
            
<!-- <button type="button"
onclick="document.getElementById('demo').innerHTML = 
                add( 
                document.getElementById('val1').value ,
                document.getElementById('val2').value ,
                document.getElementById('val3').value 
                )">
Click me to add numbers together.</button>

<input id="val1" type="text" name="value 1" value="1">
<input id="val2" type="text" name="value 2" value="1">
<input id="val3" type="text" name="value 3" value="Mat">
<p id="demo"></p> -->

<div class="form-group add-error"> 
               <legend id="example-personal-details">

                    <!--<span class="error-message hidden">
                        Please check box before submitting
                    </span>
                    <label class="block-label" for="agree-terms">
                        <input id="agree-terms" name="agree-terms" type="checkbox" value="agree-terms" >
                        
                    </label>
                </legend>
            </div>-->
                  

        <div class="form-group margin-top-2">  
            <ul class="float">
                <!--<li><a id="submit-sub" class="button" href="#">Sign</a></li>-->
                </li>
            </ul>
        </div>

</div>

        
    </div>



</main>        

<!-- <script type="text/javascript">
    
    function add(v1 , v2, v3)
    {
        var  values = {};
        values.Arifsnumber1 = v1;
        values.MatsNumber1 = v2;
        values.name = v3;

        return ArifsanotherAdd(values);

        if (typeof(Number(v1)) == "string")
        {
            return "Sod off";
        }
        else
        {
            return Number(v1) + Number(v2);    
        }
        
    }

function ArifsanotherAdd(values)
{
    return  values.name + " addition equals " +  Number(values.MatsNumber1) + Number(values.Arifsnumber1);
}

</script>         -->

{% endblock %}