{% extends "layout.html" %}

{% block page_title %}
    Find an organisation
{% endblock %}

{% block content %}                   

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../../../not-signed-in/pe-and-sport/start">Manage your education and skills funding</a></li>
                        <li><a href="start">PE and sport premium allocations for 2018 to 2019</a></li>
                        <li>Find an organisation</li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="column-two-thirds">

            <form method="post" class="form">

                <fieldset class="form-group">
                    <legend>
                        <h1 class="heading-xlarge">
                            <span class="heading-secondary">PE and sport premium allocation 2018 to 2019</span>
                            Find an organisation
                        </h1>
                        <p class="lede">Search for a school, academy or local authority to see the funding they've been allocated.</p>
                    </legend>
            
                    <div class="form-group">

                        <div class="multiple-choice" data-target="nameOrLAENumberSection">
                            <input id="radio-1" type="radio" name="searchOrDownload" value="School or academy name or local authority establishment number">
                            <label for="radio-1">School or academy name or local authority establishment number</label>
                        </div>

                        <!-- Hidden section for searching by school/academy name or LAE number (START) -->
                        <div class="panel panel-border-narrow js-hidden" id="nameOrLAENumberSection">

                            <div class="search-field search-field-darker">
                        
                                <div class="search-input search-input-with-button" >
                                    <label class="form-label form-hint" for="nameOrLAENumber">For example, Lickhill Primary School or 3832470</label>
                                    <input autocomplete="off" class="form-control" name="nameOrLAENumber" id="nameOrLAENumber" type="text" value="" />
                                </div>
        
                                <div class="search-submit">
                                    <button id="search-on-name-or-lae-number" class="button" type="submit" id="nameOrLAENumberSubmit" name="nameOrLAENumberSubmit" value="Search by school/academy name or LAE number">Search by school/academy name or LAE number</button>
                                    <!-- <a class="button" href="search-results-school-or-academy-level" role="button" title="Search by school/academy name or LAE number">Search by school/academy name or LAE number</a> -->
                                </div>
        
                            </div>
                            
                        </div>
                        <!-- Hidden section for searching by school/academy name or LAE number (END) -->

                        <div class="multiple-choice" data-target="nameOrCodeSection">
                            <input id="radio-2" type="radio" name="searchOrDownload" value="Local authority name or code">
                            <label for="radio-2">Local authority name or code</label>
                        </div>

                        <!-- Hidden section for searching by LA name or code (START) -->                        
                        <div class="panel panel-border-narrow js-hidden" id="nameOrCodeSection">

                            <div class="search-field search-field-darker">
                        
                                <div class="search-input search-input-with-button" >
                                    <label class="form-label form-hint" for="nameOrCode">For example, Camden or 202</label>
                                    <input autocomplete="off" class="form-control" name="nameOrCode" id="nameOrCode" type="text" value="" />
                                </div>
        
                                <div class="search-submit">
                                    <button id="search-on-name-or-code" class="button" type="submit" id="nameOrCodeSubmit" name="nameOrCodeSubmit" value="Search by LA name or LA code">Search by LA name or LA code</button>
                                    <!-- <a class="button" href="search-results-la-level" role="button" title="Search by LA name or LA code">Search by LA name or LA code</a> -->
                                </div>
        
                            </div>

                        </div>
                        <!-- Hidden section for searching by LA name or code (END) -->
            
                    </div>
            
                </fieldset>

                <div class="form-group">
                    <h2 class="heading-medium">Download PE and sport premium allocations for all organisations</h2>
                    <p>The allocations are available as <abbr title="Open Document Spreadsheet">ODS</abbr> and <abbr title="Excel Microsoft Office Open XML Format Spreadsheet file">XLSX</abbr> files. Use the <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">enquiry form</a> to ask for a different format.</p>
                    <section class="attachment embedded">
                        
                        <div id="tab1" class="main-table">
                            <ul>
                                <li class="new tab1 tab as-tab">

                                    <div class="form-download-container">
                                        <p class="form-download">
                                            <a href="/public/documents/pe-and-sport/PE Sport Premium Allocations 2018-19_Publication_Final_Feb.ods" title="PE and sport premium allocations 2018 to 2019 (ODS, 625KB)" download="">PE and sport premium allocations 2018 to 2019 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 625KB)</a>  
                                            <br><strong class="govuk-tag govuk-bblue">Updated</strong>
                                            <span class="published-date">Published April 2019</span>
                                        </p>                       
                                    </div>

                                </li>
                                <li class="new tab1 tab as-tab">

                                    <div class="form-download-container">
                                        <p class="form-download">
                                            <a href="/public/documents/pe-and-sport/PE Sport Premium Allocations 2018-19_Publication_Final_Feb.xlsx" title="PE and sport premium allocations 2018 to 2019 (XLSX, 625KB)" download="">PE and sport premium allocations 2018 to 2019 (<abbr title="Excel Microsoft Office Open XML Format Spreadsheet file">XLSX</abbr>, 625KB)</a>  
                                            <br><strong class="govuk-tag govuk-bblue">Updated</strong>
                                            <span class="published-date">Published April 2019</span>
                                        </p>                       
                                    </div>

                                </li>
                                <li class="new tab1 tab as-tab">

                                    <div class="form-download-container">
                                        <p class="form-download">
                                            <a href="/public/documents/pe-and-sport/PE Sport Premium Allocations 2018-19_Publication_Final_Feb.ods" title="PE and sport premium allocations 2018 to 2019 (ODS, 625KB)" download="">PE and sport premium allocations 2018 to 2019 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 625KB)</a>  
                                            <br><span class="published-date">Published February 2019</span>
                                        </p>                        
                                    </div>

                                </li>
                                <li class="new tab1 tab as-tab">

                                    <div class="form-download-container">
                                        <p class="form-download">
                                            <a href="/public/documents/pe-and-sport/PE Sport Premium Allocations 2018-19_Publication_Final_Feb.xlsx" title="PE and sport premium allocations 2018 to 2019 (XLSX, 625KB)" download="">PE and sport premium allocations 2018 to 2019 (<abbr title="Excel Microsoft Office Open XML Format Spreadsheet file">XLSX</abbr>, 625KB)</a>  
                                            <br><span class="published-date">Published February 2019</span>
                                        </p>                        
                                    </div>

                                </li>
                            </ul>
                        </div>

                    </section>
                </div>

            </form>
        
        </div>

    </div>

</main>

{% endblock %}
