{% extends "layout.html" %}

{% block page_title %}
    {% if searchScope == 'Child' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}[ORGANISATION]{% endif %}
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../../../not-signed-in/single-funding-statement/start">Manage your education and skills funding</a></li>
                        <li><a href="start">Latest <abbr title="Education and Skills Funding Agency">ESFA</abbr> funding allocations</a></li>
                        <li><a href="find-an-organisation">Find an organisation</a></li>
                        <li>{% if searchScope == 'Child' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}[ORGANISATION]{% endif %}</li>
                    </ol>
                </nav>
            </div>
            
            <form method="post" class="form">               

                {% if searchScope == 'Child' %}
                <!-- Child - Dynamic content (START) -->
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Latest <abbr title="Education and Skills Funding Agency">ESFA</abbr> funding allocations</span>
                    {% if searchScope == 'Child' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}[ORGANISATION]{% endif %}
                </h1>

                <!-- Accordion section to display the data within the single funding statement (START) -->
                <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                
                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">PE and sport premium for 2018 to 2019</span>
                                    <span class="govuk-accordion__heading-number-right">£17,720</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary hidden-sub-section" id="accordion-with-summary-sections-summary-1">
                                £17,720
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p class="govuk-body"><a href="pe-and-sport/full-funding-allocation">View the full funding allocation</a></p>
                            <p class="govuk-body"><a href="/public/documents/pe-and-sport/st-marys-kilburn-church-of-england-primary-school.ods" title="Download PE and sport premium for 2018 to 2019 (ODS, 5KB)" download>Download PE and sport premium for 2018 to 2019 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 5KB)</a></p>
                        </div>
                
                    </div>
                
                </div>
                <!-- Accordion section to display the data within the single funding statement (END) -->

                <div class="funding-block total">

                    <div class="funding-left-container">
                        <span class="funding-left-text">
                            Total funding allocation
                        </span>
                    </div>
        
                    <div class="funding-right-container">
                        <span class="funding-right-text">£17,720</span>
                    </div>
        
                </div>
                <!-- Child - Dynamic content (END) -->
                {% elif searchScope == 'MAT' %}
                <!-- Child - Dynamic content (START) -->
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Latest <abbr title="Education and Skills Funding Agency">ESFA</abbr> funding allocations</span>
                    {% if searchScope == 'Child' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}[ORGANISATION]{% endif %}
                </h1>

                <!-- Accordion section to display the data within the single funding statement (START) -->
                <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                
                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">PE and sport premium for 2018 to 2019</span>
                                    <span class="govuk-accordion__heading-number-right">£7,039</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary hidden-sub-section" id="accordion-with-summary-sections-summary-1">
                                £7,039
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p class="govuk-body"><a href="#">View the full funding allocation</a></p>
                            <p class="govuk-body"><a href="#" title="Download PE and sport premium for 2018 to 2019 (ODS, 5KB)" download>Download PE and sport premium for 2018 to 2019 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 5KB)</a></p>
                        </div>
                
                    </div>
                
                </div>
                <!-- Accordion section to display the data within the single funding statement (END) -->

                <div class="funding-block total">

                    <div class="funding-left-container">
                        <span class="funding-left-text">
                            Total funding allocation
                        </span>
                    </div>
        
                    <div class="funding-right-container">
                        <span class="funding-right-text">£7,039</span>
                    </div>
        
                </div>
                <!-- Child - Dynamic content (END) -->
                {% elif searchScope == 'LA' %}
                <!-- Child - Dynamic content (START) -->
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Latest <abbr title="Education and Skills Funding Agency">ESFA</abbr> funding allocations</span>
                    {% if searchScope == 'Child' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}[ORGANISATION]{% endif %}
                </h1>

                <!-- Accordion section to display the data within the single funding statement (START) -->
                <div class="govuk-accordion" data-module="accordion" id="accordion-default">

                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Dedicated schools grant (<abbr title="Dedicated Schools Grant">DSG</abbr>) funding stream for 2018 to 2019</span>
                                    <span class="govuk-accordion__heading-number-right">£172,523</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary hidden-sub-section" id="accordion-with-summary-sections-summary-1">
                                £172,523
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                            <div class="funding-block funding-margin-bottom">

                                <div class="funding-left-container">
                                    <a href="#"><span class="funding-left-text">Schools block allocation funding block for 2018 to 2019</span></a>
                                </div>
                    
                                <div class="funding-right-container">
                                    <span class="funding-right-text">£92,738</span>
                                </div>
                    
                            </div>

                            <div class="funding-block funding-margin-bottom">

                                <div class="funding-left-container">
                                    <a href="#"><span class="funding-left-text">Central school services (<abbr title="Central School Services">CSS</abbr>) funding block</span></a>
                                </div>
                    
                                <div class="funding-right-container">
                                    <span class="funding-right-text">£32,510</span>
                                </div>
                    
                            </div>

                            <div class="funding-block funding-margin-bottom">

                                <div class="funding-left-container">
                                    <a href="#"><span class="funding-left-text">Early years funding block for 2018 to 2019</span></a>
                                </div>
                    
                                <div class="funding-right-container">
                                    <span class="funding-right-text">£18,233</span>
                                </div>
                    
                            </div>

                            <div class="funding-block">

                                <div class="funding-left-container">
                                    <a href="#"><span class="funding-left-text">High needs funding block (including 16 to 23) for 2018 to 2019</span></a>
                                </div>
                    
                                <div class="funding-right-container">
                                    <span class="funding-right-text">£29,042</span>
                                </div>
                    
                            </div>

                        </div>
                
                    </div>
                
                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">PE and sport premium for 2018 to 2019</span>
                                    <span class="govuk-accordion__heading-number-right">£850,660</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £850,660
                                    <br>
                                </span>
                                (for all 48 schools)
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p class="govuk-body"><a href="pe-and-sport/full-funding-allocation">View the full funding allocation</a></p>
                            <p class="govuk-body"><a href="/public/documents/pe-and-sport/camden.ods" title="Download PE and sport premium for 2018 to 2019 (ODS, 5KB)" download>Download PE and sport premium for 2018 to 2019 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 5KB)</a></p>
                        </div>
                
                    </div>
                
                </div>
                <!-- Accordion section to display the data within the single funding statement (END) -->

                <div class="funding-block total">

                    <div class="funding-left-container">
                        <span class="funding-left-text">
                            Total funding allocation
                        </span>
                    </div>
        
                    <div class="funding-right-container">
                        <span class="funding-right-text">£1,020,883</span>
                    </div>
        
                </div>
                <!-- Child - Dynamic content (END) -->
                {% else %}
                <!-- DEFAULT VIEW - when all session variables fail (START) -->
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Latest <abbr title="Education and Skills Funding Agency">ESFA</abbr> funding allocations</span>
                    {% if searchScope == 'Child' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}[ORGANISATION]{% endif %}
                </h1>

                <!-- Accordion section to display the data within the single funding statement (START) -->
                <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                
                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">PE and sport premium for 2018 to 2019</span>
                                    <span class="govuk-accordion__heading-number-right">£17,720</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary hidden-sub-section" id="accordion-with-summary-sections-summary-1">
                                £17,720
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p class="govuk-body"><a href="pe-and-sport/full-funding-allocation">View the full funding allocation</a></p>
                            <p class="govuk-body"><a href="/public/documents/pe-and-sport/st-marys-kilburn-church-of-england-primary-school.ods" title="Download PE and sport premium for 2018 to 2019 (ODS, 5KB)" download>Download PE and sport premium for 2018 to 2019 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 5KB)</a></p>
                        </div>
                
                    </div>
                
                </div>
                <!-- Accordion section to display the data within the single funding statement (END) -->

                <div class="funding-block total">

                    <div class="funding-left-container">
                        <span class="funding-left-text">
                            Total funding allocation
                        </span>
                    </div>
        
                    <div class="funding-right-container">
                        <span class="funding-right-text">£17,720</span>
                    </div>
        
                </div>
                <!-- DEFAULT VIEW - when all session variables fail (END) -->
                {% endif %}

            </form>
        
        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- Filters for the document list -->
<script src="/public/javascripts/{{version}}/filters-and-checkboxes.js"></script>
<!-- GOV.UK Design System accordion -->
<script src="/public/javascripts/{{version}}/accordion.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
