{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">CASTERBRIDGE ACADEMY</span>

           <h1 class="heading-xlarge">General Annual Grant 2017 to 2018 </h1>
           
            
        <h2 class="heading-large">School allocation</h2>
            </div>
</div>

    
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">School budget share excluding rates</span>
        <ul>
            <li>of which is notional SEN funding</li>   
        </ul> 
    </div>

    <div class="column-one-third"> <br><br>

       <span class="small">£3,775,479.42</a></span><br>

       <span class="small">£581,641.59</a></span>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>
</div>

    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">Minimum funding guarentee</span>   
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£278,093.44</a></span><br>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">ESG protection</span>   
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£21,432.11</a></span><br>
       
       
      
    </div>
</div>




    </div>
</div>


       
       
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">Post-opening grant </span>   
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£0.00</a></span><br>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">Total school allocation</span>   
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£4,070,004.97</a></span><br>
       
       
      
    </div>
</div>

<div class="grid-row margin-top-2">
    

    <div class="column-one-third float-right">
       <a href="second-list">Details</a>
    </div>
</div>
<br>
<br>
<h1 class="heading-large margin-top-zero">High needs allocation</h1> 

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">Pre-16 high needs place funding</span>    
        
    </div>
  

    <div class="column-one-third"> <br>

       <span class="small">£0.00</a></span><br>
       
       
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">Total high needs allocation</span>    
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£0.00</a></span><br>
       
       
    </div>
</div>
</div>

<div class="grid-row margin-top-2">
    
    <div class="column-one-third float-right">
       <a href="second-list">Details</a>
    </div>
</div>

<br>



</div>

</main>


{% endblock %}