{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">Multi Academy: Romero</span>

           <h1 class="heading-xlarge">Sacred Heart Primary School </h1>
           
            
        <h2 class="heading-large">School allocation</h2>
            </div>
</div>

    
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">School budget share excluding rates</span>
        <ul>
            <li>of which is notional SEN funding</li>   
        </ul> 
    </div>

    <div class="column-one-third"> <br><br>

       <span class="small">£3,775,479.42</a></span><br>

       <span class="small">£581,641.59<br><br><a href="#">See this calculation</a></span>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>
</div>

    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">Minimum funding guarentee</span>   
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£278,093.44<br><br><a href="#">See this calculation</a></span><br>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">ESG protection</span>   
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£21,432.11<br><br><a href="#">See this calculation</a></span><br>
       
       
      
    </div>
</div>




    </div>
</div>


       
       
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">Post-opening grant </span>   
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£0.00</a></span><br>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds"><br>
        
            <h3 class="heading-medium">Total school allocation</h3>   
        
    </div>

    <div class="column-one-third"><br> 

       <h3 class="heading-medium">£4,070,004.97</a></h3><br>
       
       
      
    </div>
</div>

<div class="grid-row margin-top-2">
    

    
</div>




  

    <div class="column-one-third"> <br>

     
       
       
    </div>
</div>


</div>







</div>

</main>


{% endblock %}