{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
  
$(document).ready(function() {
     
    $('#radio-inline-2').change(function(){
        if ($(this).is(':checked'))    
        {  
            $("#company").removeClass("hidden");
         }
    });


    $('#radio-inline-1').change(function(){
        if ($(this).is(':checked'))    
        {  
            $("#company").addClass("hidden");
         }
     });


});

 </script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">Your subcontractor declaration</h1>
        
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="mini-card">
        <h2 class="bold-medium">The college of Birmingham </h2>
        <ul>
            <li>UKPRN: 12345678</li>
            <li>Funding streams: 16 to 18 apprenticeship, 16 o 18 apprenticeships, ESF</li>
        </ul> 
    </div>

    <div class="mini-card">
        <h2 class="bold-medium">The college of Coventry </h2>
        <ul>
            <li>UKPRN: 12345678</li>
            
            <li>Funding streams: 16 to 18 apprenticeship, 16 o 18 apprenticeships, ESF</li>
        </ul> 
    </div>


   

    


<div id="company" class="hidden">

<h3 class="heading-small">Update details</h3>

    <div class="form-group">
        <label class="form-label" for="webaddress">Your charges and fees information</label>
        <span class="form-hint">
        For example www.provider-website-name.co.uk/chargesandfees
  </span>
        <input class="form-control" name="webaddress" type="text" id="webaddress">
    </div>



    <h3 class="heading-small">
      Do you use second level subcontractors?
    </h3>

<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend class="visually-hidden">Do you already have a personal user account?</legend>

      <label class="block-label selection-button-radio" for="radio1">
        <input id="radio1" type="radio" name="radio-inline-group" value="Yes">
        Yes
      </label>
      <label class="block-label selection-button-radio" for="radio2">
        <input id="radio2" type="radio" name="radio-inline-group" value="No">
        No
      </label>

    </fieldset>
  </div>
</form>
</div>



<a class="button bold-small margin-right" href="confirmation-sub-contract">Submit declaration</a>
<a href="sub-con-home">back to your subcontractors list</a>

<br>
<br>




</main>


{% endblock %}