{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">Warwickshire college</span>

           <h1 class="heading-xlarge">Manage your funding</h1>


<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <span class="heading-secondary">Apprenticeship service</span><br>

            
            <a class="button-grey" href="#">Manage your account</a> <br>
            &nbsp; <p></p>
            
<strong><a style="color:#005ea5;" href="subcontractor-list">More apprenticeship account details</a></strong>
    
            
    </div>
    
</div>

<span class="heading-secondary">Contracts and agreements</span>
    </div>
</div>

        
            
            <ul>
<li>Lorum etc</li><br>

            </ul>
         
            
    </div>
    <a class="button-grey" href="dashboard2">Sign your contract</a> 
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            
            
            
    </div>

    <div class="column-one-third">
       
       
       
    </div>
</div>


<span class="heading-secondary">Funding claims</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Lorum etc</li><br>
            
        <a class="button-grey" href="dashboard2">Veiw your claims</a> 

        <div><br><a href="subcontractor-list">More about ...</a><br>
        <a href="subcontractor-list"></a><br>
        <a href="subcontractor-list"></a> </div><br>
    </div>

    <div class="column-one-third">
       
    </div>
</div>
<span class="heading-secondary">Subcontractor declaration 2017 to 2018</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Lorum lorum</li><br>
            
        <a class="button-grey" href="sub-con-home-second">Make a declaration</a> 

        <div>
        <a href="subcontractor-list"></a><br>
        <a href="subcontractor-list"></a> </div><br>
    </div>

    <div class="column-one-third">
       
    </div>
</div>










</main>


{% endblock %}