{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}


<main role="main" id="content">
    

    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">Warwickshire college</span>
        <h1 class="heading-large margin-top-zero">Subcontractor: The college of Leicester</h1>

    </div>
</div>


<div class="grid-row">    
    <div class="column-two-thirds">

    <p class="bold-medium">Funding type: Apprenticeships Trailblazer 19+</p>
    <p class="form-hint">Add information for the training your subcontractor will provide between 1 August 2017 and 31 July 2018</p>
    
    </div>
</div>
    
    <hr>   
    
     
      <div class="form-group">
      <fieldset class="inline">
        <form>
  
    
    <legend>
      <h3 class="heading-medium">Will any of the subcontracting include whole training programmes? (provision)</h3>
    </legend>
      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>
    </form>
  </fieldset>
  </div>
  &nbsp;
    <hr> 



    <div class="form-group">
      <fieldset class="inline">
    <form>
 
    <legend>
   
    <label class="form-label" for="ni-number">
  <p class="bold-medium">Number of learners</p>
</label>
<input class="form-control" id="ni-number" type="text" name="ni-number">
</legend>
</fieldset>
</form>
</div>
</div>

&nbsp;
    <hr>   

              
              

   <div class="form-group">
      <fieldset class="inline">
    <form>
 
    <legend>
    <label class="form-label-bold" for="form-control-1-8">
  <p class="bold-medium">Payments</p></label>
  <label class="form-label-bold" for="">
           Enter the amount you will pay the subcontractor
           
</label>
          
       
    
    <div class="form-hint">For example, 2308.28 </div> <br>
        
            <label class="form-label" for="16 to 18">
            </label>
            <span class="rj-currency-symbol">£</span>

            <input class="form-control form-control-1-4" id="form-control-1-4" type="text" name="form-control-1-4">

        </div>

    
      </fieldset>
    </form>
  </div>

 
    
    
        
  <hr>
   &nbsp; <br>
   
   
  

  
  

    <div class="form-group">
    <p class="bold-medium">Locations</p>
    <form>

        <fieldset>


    <legend>
    <label class="form-label-bold" for="driving-licence">
           Select the places where your subcontractor will provide the training</label>
           
      
    </legend>
    <br>
    
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      
      <label for="">East of England</label>

    </div><div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
<label for="">East Midlands</label>
      
    </div>
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      
      <label for="">London</label>
    </div>
    <div class="multiple-choice">
      <input id="" name="waste-types" type="checkbox" value="">
      
      <label for="waste-type-1">North East</label>
    </div>
    
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      <label for="">North West</label>
    </div>
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      <label for="">South East</label>
    </div>
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      <label for="">South West</label>
    </div>
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      <label for="">West Midlands</label>
    </div>
    
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      <label for="">Yorkshire and the Humber</label>
    </div>
    
    
  </fieldset>
       
    </form>
  

 
   
    &nbsp;
    <hr>
    <br>
    
    

       
<div>
    <a class="button margin-right" href="subcontractor-list2">Save and continue</a>         
    
</div>
    </div>

</div>

</form>






</main>


{% endblock %}