{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

<main role="main" id="content">

    <div class="grid-row">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">Warwickshire college</span>
        <h1 class="heading-large margin-top-zero">Subcontractor: The college of Birmingham</h1>
        <hr>
<p class="bold-medium">Funding type: EFS Access to employment for jobseekers</p>
    <p class="form-hint">Add information for the training your subcontractor will provide between 1 August 2017 and 31 July 2018</p>
    <hr>


<form>
      <div>
  <fieldset>
    <legend>
      <h3 class="heading-medium">Will any of the subcontracting include whole training programmes? (provision)</h3>
    </legend>

      
  <div class="form-group">
    

      
      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>
  </div>

  </fieldset>
  </div>
</form>
<hr>
    <div class="form-group">
    <label class="form-label-bold" for="form-control-1-8">
  <p class="bold-medium">Number of learners</p>
  
</label>
<input class="form-control form-control-1-4" id="form-control-1-4" type="text" name="form-control-1-4">
</div>


<div class="form-group">
    <label class="form-label-bold" for="form-control-1-8"></label>
  <hr>  
  <p class="bold-medium">Payments</p>
  <p>Enter the amount you will pay the subcontractor.</p>
           
    
    <div class="form-hint" style="margin: 0px 0 10px 0">For example, 2308.28 </div>  
   
    <form>

        <div class="form-group">
            <label class="form-label" for="16 to 18"></label>
            <span class="rj-currency-symbol">£</span>

            <input class="form-control form-control-1-4" id="form-control-1-4" type="text" name="form-control-1-4"> 
        </div>
    </form>
   </div>
   
  </div>
</div>
  
<hr>
 <div class="form-group">
    <p class="bold-medium">Locations</p>
    <form>
    <fieldset>


    
    <p>
           Select the places where your subcontractor will provide the training.</p>
   <br>
    
    
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      
      <label for="">East of England</label>

    </div>
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
    <label for="">East Midlands</label>
      
    </div>
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      
      <label for="">London</label>
    </div>
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      
      <label for="">North East</label>
    </div>
    
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      <label for="">North West</label>
    </div>
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      <label for="">South East</label>
    </div>
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      <label for="">South West</label>
    </div>
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      <label for="">West Midlands</label>
    </div>
    
    <div class="multiple-choice">
      <input id="" name="" type="checkbox" value="">
      <label for="">Yorkshire and the Humber</label>
    </div>
    
    
  </fieldset>
       
    </form>
  </div>


    </div>
  </div>


       
<div>
    <a class="button margin-right" href="subcontractor-list">Save and continue</a>  &nbsp; <a class="button-grey" href="subcontractor-list2">Delete this funding type</a>       
    
</div>
    

</div>

</form>


</main>


{% endblock %}