{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                
            </p>
        </div>
    </div>

    
    </div>

    <div class="grid-row">
        <div class="navigation">
            <ul>
                <li><a class="font-xsmall" href="dashboard">Home</a></li>
                <li><a class="font-xsmall" href="/">Sign out</a></li>
            </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">Warwickshire college</span>
        <h1 class="heading-large margin-top-zero">Subcontractor: The college of Birmingham</h1>

    </div>
</div>


<div class="grid-row">    
    <div class="column-two-thirds">

    <p class="bold-medium">Select one funding stream they will provide</p>
  
    <form>
  <div class="form-group">
    <fieldset>

      <legend>
        <span class="visually-hidden">S</span>
        <span class="body-text"></span>
      </legend>

      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="radio" value="British">
        <label for="nationalities-british">Adult Education Budget classroom</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-irish" name="nationalities" type="radio" value="Irish">
        <label for="nationalities-irish">Adult Education Budget work-based</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="radio" value="British">
        <label for="nationalities-british">Adult Education Budget learning support</label>
      </div>
      
      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="radio" value="British">
        <label for="nationalities-british">Adult Education Budget community learning</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-irish" name="nationalities" type="radio" value="Irish">
        <label for="nationalities-irish">Adult Education Budget learner support</label>
      </div>
      
      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="radio" value="British">
        <label for="nationalities-british">Apprenticeships non-levy 16 to 18 (New starts 1 May)</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-irish" name="nationalities" type="radio" value="Irish">
        <label for="nationalities-irish">Apprenticeships non-levy 19+ (New starts 1 May)</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="radio" value="British">
        <label for="nationalities-british">Apprenticeships levy 19+ (New starts 1 May)</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-irish" name="nationalities" type="radio" value="Irish">
        <label for="nationalities-irish">Apprenticeships levy 16 to 18 (New starts 1 May)</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="radio" value="British">
        <label for="nationalities-british">Apprenticeships 16 to 18 (pre 1 May 2017)</label>
      </div>
      
      <div class="multiple-choice">
        <input id="nationalities-irish" name="nationalities" type="radio" value="Irish">
        <label for="nationalities-irish">Apprenticeships 19+ (pre 1 May 2017)</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-irish" name="nationalities" type="radio" value="Irish">
        <label for="nationalities-irish">Apprenticeships trailblazer 16 to 18</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="radio" value="British">
        <label for="nationalities-british">Apprenticeships trailblazer 19+</label>
      </div>
      
      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="radio" value="British">
        <label for="nationalities-british">Traineeship 16 to 18</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-irish" name="nationalities" type="radio" value="Irish">
        <label for="nationalities-irish">Traineeships 19+</label>
      </div>


      

    </fieldset>
  </div>
</form>

    
    <div class="form-group">
        
    
    </div>
    
       
<div>
    <a class="button margin-right" href="select-funding-ESF">Save and continue</a>         
    
</div>
    </div>

</div>







</main>


{% endblock %}