{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                
            </p>
        </div>
    </div>

    
    </div>

    <div class="grid-row">
        <div class="navigation">
            <ul>
                <li><a class="font-xsmall" href="dashboard">Home</a></li>
                <li><a class="font-xsmall" href="/">Sign out</a></li>
            </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">Warwickshire college</span>
        <h1 class="heading-large margin-top-zero">Subcontractor: The college of Birmingham</h1>

    </div>
</div>


<div class="grid-row">    
    <div class="column-two-thirds">

    <p class="bold-medium">What type of funding stream will they deliver?</p>

    
  
    <form>
  <div class="form-group">
    <fieldset>

      <legend>
        <span class="visually-hidden"></span>
        <span class=""></span>
      </legend>

      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="checkbox" value="British">
        <label for="nationalities-british">AEB</label>
      </div>

  <div class="panel panel-border-narrow">
    <label class="form-label" for="example-phone-number">AEB classroom</label>
    <input class="form-control" id="example-phone-number" name="example-phone-number" type="radio">
    <p></p>
    <label class="form-label" for="example-phone-number">AEB work-based</label>
    <input class="form-control" id="example-phone-number" name="example-phone-number" type="checkbox">
    <p></p>
    <label class="form-label" for="example-phone-number">AEB learning support</label>
    <input class="form-control" id="example-phone-number" name="example-phone-number" type="text">
    <p></p>
    <label class="form-label" for="example-phone-number">AEB traineeships 19+</label>
    <input class="form-control" id="example-phone-number" name="example-phone-number" type="text">
  </div>
</div>
<p></p> 
   &nbsp;
   <p></p>
      
      
      <div class="multiple-choice">
        <input id="nationalities-irish" name="nationalities" type="checkbox" value="Irish">
        <label for="nationalities-irish">Apprenticeships levy</label>
      </div>
      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="checkbox" value="British">
        <label for="nationalities-british">Apprenticeships non-levy</label>
      </div>
      
      <div class="multiple-choice">
        <input id="nationalities-british" name="nationalities" type="checkbox" value="British">
        <label for="nationalities-british">ESF</label>
      </div>

      
      
      
      
      
</fieldset>
  </div>
</form>
</div>

   <p></p> 
   &nbsp;
   <p></p> 
       
<div>
    <a class="button" href="learner-values-both">Save and continue</a>         
    
</div>
    </div>

</div>







</main>


{% endblock %}