{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
  
$(document).ready(function() {
     $('#agree-terms').change(function(){
        if ($('#agree-terms').is(':checked'))    
        {
            $("#submit-sub").attr("href", "confirmation");   

            $(".error-summary").addClass("hidden");
            
            $(".add-error").removeClass("error");
            
            $(".error-message").addClass("hidden");
        }
        
        else
        {
            $("#submit-sub").attr("href", "");
            
        }
    });

    $("#submit-sub").click(function() {
        
        if ($('#agree-terms').is(':checked')) {
            
        }
            
            else
            {
                $(".error-summary").removeClass("hidden");
                
                $(".add-error").addClass("error");
                
                $(".error-message").removeClass("hidden");

            }
    });
});

</script>

<main role="main" id="content">
    
    
    
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
        </ul>
        </div>
    </div>
    
    

<div class="grid-row spacing-top">
    <div class="column-two-thirds">

   

        <h2 class="heading-xlarge">Submit your subcontractor declaration for 2017 to 2018</h2>

</div>   
        
        <div class="column-two-thirds">
       
    
                        <p>I declare that <strong>Warwickshire college </strong> is subcontracting. </p>
                        &nbsp;

                        <div class="notice">
                          <i class="icon icon-important">
                            <span class="visually-hidden">Warning</span>
                          </i>
                          <strong class="bold-small">
                            If you deliberately provide information that is misleading or untrue we may suspend your payments.
                          </strong>
                        </div>
                        &nbsp;<p></p>
      
            <p class="bold-small">By submiting you agree:</p>
            <ul class="list-bullet">
                <li>with the subcontractor funding rules</li>
                <li>the information is accurate and can be published by Education and Skills Funding Agency</li>
                <li>to update your declaration if there is a change</li>
                
            </ul>
            <br>
            <br>
            
        
            

            

<div class="multiple-choice">
  <input id="checkbox" type="checkbox" value="true">
  <label for="checkbox">I agree</label>
</div>
</div>
                  

        <div class="form-group margin-top-2">  
            <ul class="float">
                <p><a id="submit-sub" class="button" href="confirmation-sub-contract">Submit</a><br><br>
                <p><a href="subcontractor-list2">Back</a></p>
                
            </ul>
        </div>
            


<div class="form-group add-error"> 
               <legend id="example-personal-details">

                    
                  

        <div class="form-group margin-top-2">  
            <ul class="float">
           
                </li>
            </ul>
        </div>

</div>

        
    </div>



</main>        

{% endblock %}