<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript">
function whichsite(form){
         var sites = form.elements.site, i = sites.length;
         while (--i > -1){
                 if(sites[i].checked){
                          return sites[i].value;
                 }
         }
}
</script>
</head>
<body>
<form action="#" onsubmit="window.open(whichsite(this), '_blank'); return false;">
<b>Where do you need to go?:</b>
<p>
<label><input type="radio" name="site" value="submit">Yahoo</label>
<label><input type="radio" name="site" value="http://google.co.uk/">Google</label>
<p>
<input type="submit" value="Submit">
</form>
</body>
</html>