{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}




<main role="main" id="content">
    {% include "includes/phase_banner_alpha.html" %}
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard4">Home</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    <div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">BLYTHE ACADEMY</span>
    <p>UKPRN: 12345678</p>

           <h1 class="heading-large">Document to download</h1>    
           
            </div>
</div><br>
      


    <div class="column-two-thirds">
        <div id="tab1" class="main-table">
            

             <ul class="tab-content">
                      
                    
                    
                     
                    
                     
                    <section class="attachment">
    <div class="attachment-thumb">
        <a class="thumbnail" href="/public/documents/february.xls" target="_blank">
            <img src="/public/images/xls_thumbnail2.png">
        </a>
    </div>
    <div class="left-align">
        
        <h2 class="attachment-details"><a href="/public/documents/february.xls" target="_blank">Business case</a>
        </h2>
        
        <p class="metadata">
            <span>22 April 2018</span>
        </p>
        <p class="metadata">
            <span>Excel, 108KB</span>
        </p>
       
        
        <div class="accessibility-warning"><span><a href="#"></a></span>
        
            
            <p>
                <span class="arrow"></span>
                This file may not be suitable for users of assistive technology.
                <a href="">info@sfa.bis.gov.uk</a>.
                Request an accessible format.
            </p>
        
        </div>
    
    </div>
</section>
<br>
<hr>
                     
                    <section class="attachment">
    
</section>

     

                    
        </div>
    
    </div>


                    
                    

            </ul>    

            
        </div>
    </div>
</div>



    


    </div>

</main>


{% endblock %}