#nonFeedContractsTable .year-column {
    width: 112px;
}

#nonFeedContractsTable .date-issued-column {
    width: 150px;
}

#nonFeedContractsTable .status-column {
    width: 200px;
}

#nonFeedContractsTable .action-column {
    width: 114px;
}