{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


        <style>strong{font-weight: 600}</style>

<main role="main" id="content">
     <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash-old" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="link-back">Back</a>

     
    <br />
        

<div class="grid-row margin-top">
    <div class="column-two-thirds">


<h1 class="heading-large">Advanced learner loan 2019 to 2020</h1>
<br />

        

        <h1 class="heading-medium">Advanced learner loan facility</h1>
<hr>


        <table>
            <tr>
                <td>Amount we based on</td>
                <td>£260,710</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>2019 to 2020 allocation</strong></td>
                <td><strong>£441,116</strong></td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>August 2019 to March 2020</td>
                <td>£278,653</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2020 to July 2020</td>
                <td>£162,463</td>
                <td class="numeric"> </td>
            </tr>

            <tr>
                <td>2018 to 2019 allocation</td>
                <td>£441,116</td>
                
            </tr>

        </table>
            
<br /><p>&nbsp;</p>

<h1 class="heading-medium">Advanced learner loan bursary</h1>
<hr>


        <table>
            <tr>
                <td>Amount we based on</td>
                <td>£123,970</td>
                
            </tr>
            <tr>
                <td><strong>2019 to 2020 allocation</strong></td>
                <td><strong>£127,689</strong></td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>August 2019 to March 2020</td>
                <td>£80,661</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2020 to July 2020</td>
                <td>£47,028</td>
                <td class="numeric"></td>
            </tr>

            <tr>
                <td>2018 to 2019 allocation</td>
                <td>£110,012</td>
                
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Total loans 2019 to 2020</strong></td>
                <td><strong>£568,805</strong></td>
                
            </tr>

        </table><br />
        
       <p> <a href="">Download statement</a></p>
        
<br /><p>&nbsp;</p>



    
</div>
    </div>

</main>


{% endblock %}