{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home page</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">

           <h1 class="heading-xlarge">Edit subcontractor details</h1>
            <h2 class="bold-medium">The college of Birmingham</h2>
    </div>
</div>



<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 12345678</li>
            <li>Company number: 654321</li>
            <li>Director: Jim Riaz, Bob Smith, Mark Manager</li>
        </ul> 
    </div>

    

    <div class="column-one-third">
       <span class="bold-small"><a href="sub-contractor-form-s1">Edit details</a></span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <span>Funding streams</span>
    </div>

    <div class="column-one-third">
       <span class="bold-small"><a href="sub-contractor-form-s2">Edit details</a></span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <span>Funding stream values and learner information </span><span class="new-tag bold-xsmall" >INCOMPLETE</span>
    
    </div>

    <div class="column-one-third">
       <span class="bold-small"><a href="budget-types">Edit details</a></span>
    </div>
</div>


<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <span>Locations </span><span class="new-tag bold-xsmall" >INCOMPLETE</span>
    </div>

    <div class="column-one-third">
       <span class="bold-small"><a href="locations">Edit details</a></span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <span>Start and end dates </span><span class="new-tag bold-xsmall" >INCOMPLETE</span>
    </div>

    <div class="column-one-third">
       <span class="bold-small"><a href="start-end-dates">Edit details</a></span>
    </div>
</div>

<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="sub-con-home">Save and exit</a>
    </div>

    <div class="column-one-third ">
       <a href="#">Remove subcontractor</a>
    </div>
</div>

<br>





<br>
<br>


<!-- <div class="grid-row">
    <div class="column-one-third">
        <p>Updated<span class="bold-medium definition">25 October 2016</span></p>
        
<details>
    <summary class="underline">Full page history</summary>
    
   
    <br>
    
        

        
        <span class="form-label-bold">25 October 2016</span>
                    

            
        
       
        
            <ul>
            
            <li>16 to 18 apprenticeships updated wih new start and end dates by Jim Riaz</li>
            
        </ul>
    </details>
    </div>

</div> -->

</main>


{% endblock %}