
{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>

    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <!-- <li><a class="font-xsmall" href="dashboard">Home page</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li> -->
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

    

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Casterbridge College</h1>
            <p>UKPRN:12345678</p>
        </div>


        <!--<div class="related-container">
        <p class="related-topic " style="text-align:right">
        <a href="#" class="bold-xsmall">Funding claims</a>
        </p>
        </div>-->
        
    </div>

    

      <!-- <div class="grid-row">
         <div class="column-two-thirds">
             
             <h2 class="heading-medium">In the last 30 days</h2>
         </div>
        </div> -->
         

         <div class="grid-row">

           <ul>
              <li class="column-third margin-top">
                    <a class="dashboard-links" href="agreement-not-signed-softstop.html">
                        
                        <span class="service-name">Apprenticeship service</span>
                    
                        <!-- <span class="alert-name-red">Submit a nil declaration</span> -->
                        <span class="alert-name-blue">Details and employer requests</span>
                    </a>
                </li>


               <li class="column-third margin-top">
                    <a class="dashboard-links" href="andrea-authoriser">
                        
                        <span class="service-name">Contracts and agreements</span>
                    
                        <span class="alert-name-red">2 new alerts to review</span>
                        <!-- <span class="alert-name-red">You have contracts to sign and review</span> -->
                    </a>
                </li>

                <li class="column-third margin-top">
                    <a class="dashboard-links" href="andrea-authoriser-NEW">
                        
                        <span class="service-name">Funding claims</span>
                    
                        <span class="alert-name-red">3 new alerts to review</span>
                    </a>
                </li>
                </ul>
          </div>
                
            <div class="grid-row">
                <ul>
                <!-- <li class="column-third margin-top">
                    <a class="dashboard-links" href="/andrea-authoriser-NEW">
                        
                        <span class="service-name">Apprenticeship agreements</span>
                    
                        <span class="alert-name-red">1 new alert to review</span>
                    </a>
                </li> -->

                <li class="column-third margin-top">
                    <a class="dashboard-links" href="payment-history">
                        
                        <span class="service-name">Payment history</span>
                    
                        <span class="alert-name-green">View your payments</span>
                    </a>
                </li>

                <!--<li class="column-third margin-top">
                    <a class="dashboard-links" href="age-detail">
                        
                        <span class="service-name">Apprenticeship grant for employers</span>
                    
                        <span class="alert-name-green">View your AGE reports</span>
                    </a>
                </li>
            </ul>
            </div>
        

            <div class="grid-row margin-top">
                <ul>-->
                    <li class="column-third margin-top">
                        <a class="dashboard-links" href="/sub-con-home">
                            
                            <span class="service-name">Sub-contracting declaration</span>
                    
                        
                             <span class="alert-name-red">Make sub-contractor return</span>
                        </a>
                    </li> 

                
                </ul>
            </div>








    
    
    
    </div>

</main>


{% endblock %}