{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
  
$(document).ready(function() {
     $('#agree-terms').change(function(){
        if ($('#agree-terms').is(':checked'))    
        {
            $("#submit-sub").attr("href", "confirmation-sub-contract");   

            $(".error-summary").addClass("hidden");
            
            $(".add-error").removeClass("error");
            
            $(".error-message").addClass("hidden");
        }
        
        else
        {
            $("#submit-sub").attr("href", "");
            
        }
    });

    $("#submit-sub").click(function() {
        
        if ($('#agree-terms').is(':checked')) {
            
        }
            
            else
            {
                $(".error-summary").removeClass("hidden");
                
                $(".add-error").addClass("error");
                
                $(".error-message").removeClass("hidden");

            }
    });
});

</script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home page</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    


<div class="grid-row spacing-top">
    <div class="column-two-thirds">

            <div class="error-summary hidden" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    Confirm your nil declaration
                  </h1>

                  <p>
                    You must make a subcontractor declaration, otherwise your payments will be stopped 
                  </p>

                  <ul class="error-summary-list">
                    <li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
                  </ul>

            </div>
        
        <h1 class="heading-xlarge">Subcontractor nil declaration</h1>
        
        
    </div>
</div>




<div class="grid-row">    
    <div class="column-two-thirds">
  
        <br>   
           
           <div class="form-group add-error"> 
               <legend id="example-personal-details">

                    <span class="error-message hidden">
                        Please check box before submitting
                    </span>
                    <label class="block-label" for="agree-terms">
                        <input id="agree-terms" name="agree-terms" type="checkbox" value="agree-terms" >
                        I confirm [company name] has no subcontractors and this information can be published by the Education and Skills Funding Agency.
                    </label>
                </legend>
            </div>
                  

        <div class="form-group margin-top-2">  
            <ul class="float">
                <li><a id="submit-sub" class="button" href="#">Submit</a></li>
                <li class="link-to-contracts-page">or go <a href="sub-con-home-nil">back to the home page</a></li>
            </ul>
        </div>
    
    </div>
</div>

</main>


{% endblock %}