.query-type-radio-button {
    padding: 10px; 
    width: 200px; 
    margin-bottom: 18px;
 }

.other-nature-of-query {
    width: 400px;
    margin: 0 !important;
}

.additional-information {
    max-width: 90%;
    overflow: hidden;
}

.other-nature-of-query {
     display: block;
}

#otherQueryReasonGroup {
    padding-bottom: 30px;
}

.provider-details {
    max-width: 400px;
    border: none;
    padding: 15px;
}