.filters h2 {
    font-weight: 700;
    font-size: 24px;
}

.filter {
    border: 1px solid #dee0e2;
    margin-bottom: 20px;
}

.filler legend {
    display: none;
}

.filter h3 {
    font-weight: 700;
    font-size: 19px;
    clear: both;
    background: #dee0e2;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px 30px 5px 10px;
    margin: 0;
    top: 0;
    float: none;
    position: relative;
}
