{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<main role="main" id="content">

  <div class="grid-row ">
    <div class="navigation">
      <ul>
        <li><a class="font-xsmall" href="dashboard2">Home</a></li>

        <li><a class="font-xsmall" href="/">Sign out</a></li>
      </ul>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-secondary">Multi Academy Trust: Romero</h1>
      <p>UPIN:12345678</p>
    </div>

  </div>


  <div class="grid-row" >

    <h1 class="heading-xlarge margin-bottom">Casterbridge Academy Allocations <br>2017 to 2018</h1>

  </div>






  <head>


<p>&nbsp;</p>



    <h3 class="bold-medium">School Funding</h3>
    
        <p></p>

        <body class="servicespage js-enabled ready loaded"><div id="wrapper"><main class="group" id="content" role="main"><section class="filtered-list visualisation-table" id="filtered-list">


          <table class="table-collapsible floated-header">
           
            <thead>
              <tr>
                <th width="400" class="sentence" role="columnheader" scope="col" data-key="department_name"><a class="js-sort" role="button">Description</a>
                </th>

                <th width="300" role="columnheader" scope="col" data-key="titleLink"><a class="js-sort" role="button">Rate </a>
                </th>
                <th width="300" role="columnheader" scope="col" data-key="titleLink"><a class="js-sort" role="button">Pupils </a>
                </th>

                <th width="300" class="integer descending sort-column" role="columnheader" aria-sort="descending" scope="col" data-key="number_of_transactions"><a class="js-sort" role="button" >Total </a></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <th width="400" scope="row" class="font-small"><a href="#">Primary</a></th>
                <td width="300" data-key="titleLink" data-title="Service name: ">£2,646.00</td>
                <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">0</abbr></td>
                <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">0</abbr></td>

              </tr>

                <tr><th width="400" class="font-small" scope="row" data-key="department_name" data-title="2"><a href="#">Key Stage 3</a></th>
                  
                  <td width="300" data-key="titleLink" data-title="Service name: ">£3,758.00</td>
                  <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">481</abbr></td>

                <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">£1,807,598.00</abbr></td></tr>


                  <tr><th width="400" class="font-small" scope="row" data-key="department_name" data-title="5"><a href="#">Key Stage 4</a></th>
                    <td width="300" data-key="titleLink" data-title="Service name: ">£4,335.00</td>
                    <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">288</abbr></td>
                    <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">£1,248,480.00</abbr></td>

                  </tr>

                  </tbody>
                  </table>
                </section></main></div></body>
        <br>




        <h3 class="bold-medium">High Needs Funding</h3>
        <p></p>
<body class="servicespage js-enabled ready loaded"><div id="wrapper"><main class="group" id="content" role="main"><section class="filtered-list visualisation-table" id="filtered-list">


          <table class="table-collapsible floated-header">
           
            <thead>
              <tr>
                <th width="400" class="sentence" role="columnheader" scope="col" data-key="department_name"><a class="js-sort" role="button">Description</a>
                </th>

                <th width="300" role="columnheader" scope="col" data-key="titleLink"><a class="js-sort" role="button">Rate </a>
                </th>
                <th width="300" role="columnheader" scope="col" data-key="titleLink"><a class="js-sort" role="button">Pupils </a>
                </th>

                <th width="300" class="integer descending sort-column" role="columnheader" aria-sort="descending" scope="col" data-key="number_of_transactions"><a class="js-sort" role="button" >Total </a></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <th width="400" scope="row" class="font-small"><a href="#">Pre-16 high needs place funding</a></th>
                <td width="300" data-key="titleLink" data-title="Service name: ">£10,000.00</td>
                <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">0</abbr></td>
                <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">0</abbr></td>

              </tr>

                <tr><th width="400" class="font-small" scope="row" data-key="department_name" data-title="2"><a href="#">Post-16 high needs place</a></th>
                  
                  <td width="300" data-key="titleLink" data-title="Service name: ">£10,000.00</td>
                  <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">0</abbr></td>

                <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">0</abbr></td></tr>


                  

                  </tbody>
                  </table>
                </section></main></div></body>
        <br>

                



                <h3 class="bold-medium">16 to 19 Funding</h3>
                <p></p>

                <body class="servicespage js-enabled ready loaded"><div id="wrapper"><main class="group" id="content" role="main"><section class="filtered-list visualisation-table" id="filtered-list">


          <table class="table-collapsible floated-header">
           
            <thead>
              <tr>
                <th width="400" class="sentence" role="columnheader" scope="col" data-key="department_name"><a class="js-sort" role="button">Description</a>
                </th>

                <th width="300" role="columnheader" scope="col" data-key="titleLink"><a class="js-sort" role="button">Rate </a>
                </th>
                <th width="300" role="columnheader" scope="col" data-key="titleLink"><a class="js-sort" role="button">Pupils </a>
                </th>

                <th width="300" class="integer descending sort-column" role="columnheader" aria-sort="descending" scope="col" data-key="number_of_transactions"><a class="js-sort" role="button" >Total </a></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <th width="400" scope="row" class="font-small"><a href="#">Programme Funding Formular</a></th>
                <td width="300" data-key="titleLink" data-title="Service name: ">£4,000.00</td>
                <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">4,293</abbr></td>
                <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">£20,308,089</abbr></td>

              </tr>

                <tr><th width="400" class="font-small" scope="row" data-key="department_name" data-title="2"><a href="#">Formular Protection Funding</a></th>
                  
                  <td width="300" data-key="titleLink" data-title="Service name: ">£0</td>
                  <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">0</abbr></td>

                <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">£0</abbr></td></tr>


                  <tr><th width="400" class="font-small" scope="row" data-key="department_name" data-title="5"><a href="#">Student Financial Support</a></th>
                    <td width="300" data-key="titleLink" data-title="Service name: ">£298.00</td>
                    <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">28</abbr></td>
                    <td width="300" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">£20,541.00</abbr></td>

                  </tr>

                  </tbody>
                  </table>
                </section></main></div></body>
        <br>



                            </div>
                          </section>


                        </div>
                      </section>
                    </div>

                  </div>




                </div>
              </div>
            </div>




            <br>
            <br>




          </div>

        </main>


        {% endblock %}