{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Education and skills funding home</a></li>
            
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">Warwickshire college</span>

           <h1 class="heading-xlarge">Allocations 2017 to 2018</h1>
            
        <h1 class="heading-large margin-top-zero">16 to 18 traineeships</h1>
            </div>
</div>
<span class="heading-secondary">Baseline</span>
    </div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>of which 19+ will be continuing learners</li>
            
    
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="small">£78,835</a></span><br>
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>
</div>

    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">Allocation 2017 to 2018 </span>
            
            
            
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£78,835</a></span><br>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>



<span class="heading-secondary">August 2017 to March 2018</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Value of allocation to use from August 2017 to March 2018</li>
            
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="small">£63,068</a></span><br>
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

<span class="heading-secondary">April 2018 to July 2018</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Value of allocation to use from August 2017 to March 2018</li>
            
    
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="small">£15,767</a></span><br>
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="#"></a>
    </div>

    <div class="column-one-third">
       <a href="#">Details</a>
    </div>
</div>

<br>
<br>
<br>

<div class="grid-row">
    <div class="column-two-thirds">
    
            
        <h1 class="heading-large margin-top-zero">Advanced learner loan facility</h1>
            </div>
</div>
<span class="heading-secondary">Baseline</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>of which 19 + continuing learners</li>
            <li></li>
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="small">£78,835</a></span><br>
       
       
       
    </div>
    </div>
</div>

    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">Allocation 2017 to 2018 </span>
            
            
            
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£78,835</a></span><br>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>



<span class="heading-secondary">August 2017 to March 2018</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Value of allocation to use from August 2017 to March 2018</li>
            
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="small">£63,068</a></span><br>
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

<span class="heading-secondary">April 2018 to July 2018</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Value of allocation to use from August 2017 to March 2018</li>
            
    
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="small">£15,767</a></span><br>
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>







<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="submit">Continue</a>
    </div>

    <div class="column-one-third ">
       <a href="sub-con-search-add-another2">Details</a>
    </div>
</div>

<br>






<br>
<br>



</div>

</main>


{% endblock %}