.govuk-heading-xl {
    color: #0b0c0c;
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.09375;
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
}

@media (min-width: 40.0625em) {
    .govuk-heading-xl {
        font-size: 48px;
        line-height: 1.04167;
        margin-bottom: 50px;
    }
}

.govuk-heading-l {
    color: #0b0c0c;
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04167;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
    .govuk-heading-l {
        font-size: 36px;
        line-height: 1.11111;
        margin-bottom: 30px;
    }
}

.govuk-heading-m {
    color: #0b0c0c;
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
    .govuk-heading-m {
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 20px;
    }
}

.govuk-caption-l {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    display: block;
    margin-bottom: 5px;
    color: #6f777b;
}

@media (min-width: 40.0625em) {
    .govuk-caption-l {
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 0;
    }
}

.govuk-caption-m {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    color: #6f777b;
}

@media (min-width: 40.0625em) {
    .govuk-caption-m {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.govuk-tag {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 12px;
    font-size: 0.875rem;
    line-height: 1.25;
    display: inline-block;
    padding: 4px 8px;
    padding-bottom: 1px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #ffffff;
    background-color: #005ea5;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 40.0625em) {
    .govuk-tag {
        font-size: 12px;
        line-height: 1.25;
    }
}

.govuk-bgred {
    background-color: #b10e1e;
}

.govuk-panel {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 35px;
    border: 5px solid transparent;
    text-align: center;
}

.govuk-panel--confirmation {
    color: #fff;
    background: #28a197;
}

@media (min-width: 40.0625em) {
    .govuk-panel {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.govuk-panel__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.09375;
}

@media (min-width: 40.0625em) {
    .govuk-panel__title {
        font-size: 48px;
        line-height: 1.04167;
    }
}

.govuk-panel__body {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04167;
}

@media (min-width: 40.0625em) {
    .govuk-panel__body {
        font-size: 36px;
        font-size: 2.25rem;
        line-height: 1.11111;
    }
}

.govuk-warning-text {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    position: relative;
    margin-bottom: 20px;
    padding: 10px 0;
}

@media (min-width: 40.0625em) {
    .govuk-warning-text {
        font-size: 19px;
        line-height: 1.31579;
        margin-bottom: 30px;
    }
}

.govuk-warning-text__icon {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    min-width: 32px;
    min-height: 29px;
    margin-top: -20px;
    padding-top: 3px;
    border: 3px solid #0b0c0c;
    border-radius: 50%;
    color: #fff;
    background: #0b0c0c;
    font-size: 1.6em;
    line-height: 29px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.govuk-warning-text__text {
    display: block;
    margin-left: -15px;
    padding-left: 65px;
}

.govuk-warning-text__assistive {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
    white-space: nowrap;
}

.govuk-details {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin-bottom: 20px;
    display: block;
}

@media (min-width: 40.0625em) {
    .govuk-details {
        font-size: 19px;
        line-height: 1.31579;
        margin-bottom: 30px;
    }
}

.govuk-details__summary {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    padding-left: 25px;
    color: #005ea5;
    cursor: pointer;
}

.govuk-details__summary::-webkit-details-marker {
    display: none
}

.govuk-details__summary:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-width: 7px 0 7px 12.124px;
    border-left-color: inherit;
}

.govuk-details[open] > .govuk-details__summary:before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    border-width: 12.124px 7px 0 7px;
    border-top-color: inherit;
}

.govuk-details__summary-text {
    text-decoration: underline;
}

.govuk-details__text {
    padding: 15px;
    padding-left: 20px;
    border-left: 5px solid #bfc1c3;
}

/* Following not in the live toolkit */
.flash-card {
    margin-top: 1em;
    padding: 30px;
    background: #005ea5;
    color: #fff;
}

@media (min-width: 769px) {
    .flash-card {
        margin-top: 1.25em;
        padding: 35px 50px;
    }
}

.flash-card .button {
    color: #005ea5;
    background-color: #fff;
}

.flash-card label {
    color: #FFF;
}