{% extends "layout.html" %}

{% block page_title %}
    Allocation history
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include version + "/includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../viewing-choice">Choose how to view funding</a></li>
                        <li><a href="../find-an-organisation">View funding at organisation level</a></li>
                        {% if didYouMean == 'Yes' %}
                        <li><a href="../did-you-mean">Search results</a></li>
                        {% endif %}
                        <li><a href="../statement">{% if searchScope == 'Primary' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == 'Secondary' %}Regent High School{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}St Mary's Kilburn Church of England Primary School{% endif %}</a></li>
                        <li>Allocation history</li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="column-full">

            <form method="post" class="form">

                <div class="form-block">
                    <h1 class="heading-xlarge">
                        <span class="heading-secondary">Dedicated schools grant (<abbr title="Dedicated schools grant">DSG</abbr>)</span>
                        Allocation history
                    </h1>
                    <p class="lede">Find detailed <a href="#" title="Find out what this term means" class="js-modal modal-link" data-modal-text="<p>The individual funding elements that make up a total allocation.</p><p><a href='/{{version}}/not-signed-in/glossary-of-terms'>View full glossary of funding terms</a></p>" data-modal-title="Breakdown" data-modal-close-text="Close" data-modal-close-title="Close this window">breakdowns</a> of 
                    
                    <a href="#" title="Find out what this term means" class="js-modal modal-link" data-modal-text="<p>The <abbr title='dedicated schools grant'>DSG</abbr> is paid by the Education and Skills Funding Agency to local authorities each financial year. It makes up most of pre-16 schools funding. The <abbr title='dedicated schools grant'>DSG</abbr> is divided into four parts, called 'blocks': schools block, high needs block, early years block, and central school services block (<abbr title='central school services block'>CSSB</abbr>).</p><p><a href='/{{version}}/not-signed-in/glossary-of-terms'>View full glossary of funding terms</a></p>" data-modal-title="Dedicated schools grant (<abbr title='dedicated schools grant'>DSG</abbr>)" data-modal-close-text="Close" data-modal-close-title="Close this window"><abbr title="Dedicated schools grant">DSG</abbr></a> for local authorities for each financial year.</p>
                    
                    <h2 class="heading-large heading-guidance">2020 to 2021</h2>
                    <table>
                        <thead>
                            <tr>
                                <th class="govuk-!-width-one-quarter">Published date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="funding-breakdown/tab-choice?redirectURL=17-12-2019&tab=schools">17 December 2019</a><br><strong class="govuk-tag">Latest</strong></td>
                                <td><a href="#" title="Find out what this term means" class="js-modal modal-link" data-modal-text="<p>Additional funding given to publicly funded schools in England to improve physical education (PE) and sport in primary schools.</p><p><a href='/{{version}}/not-signed-in/glossary-of-terms'>View full glossary of funding terms</a></p>" data-modal-title="PE and sport premium" data-modal-close-text="Close" data-modal-close-title="Close this window">PE and sport premium
                                
                                </a> funding <a href="#" title="Find out what this term means" class="js-modal modal-link" data-modal-text="<p>An executive agency of the Department for Education (<abbr title='Department for Education'>DfE</abbr>). It funds schools, academies, colleges and independent learning providers.</a></p><p><a href='/{{version}}/not-signed-in/glossary-of-terms'>View full glossary of funding terms</a></p>" data-modal-title="<abbr title='Education and Skills Funding Agency'>ESFA</abbr>" data-modal-close-text="Close" data-modal-close-title="Close this window"><abbr title="Education and Skills Funding Agency">ESFA</abbr></a> announces 2020 to 2021 
                                
                                <a href="#" title="Find out what this term means" class="js-modal modal-link" data-modal-text="<p>An executive agency of the Department for Education (<abbr title='Department for Education'>DfE</abbr>). It funds schools, academies, colleges and independent learning providers.</p><p><a href='/{{version}}/not-signed-in/glossary-of-terms'>View full glossary of funding terms</a></p>" data-modal-title="Schools block" data-modal-close-text="Close" data-modal-close-title="Close this window">schools block</a>, 
                                
                                <a href="#" title="Find out what this term means" class="js-modal modal-link" data-modal-text="<p>The <abbr title='central school services block'>CSSB</abbr> covers funding allocated to local authorities to carry out central functions for pupils in state-funded maintained schools and academies in England. Local authorities’ <abbr title='central school services block'>CSSB</abbr> is split into funding for historic commitments and funding for ongoing functions.</p><p><a href='/{{version}}/not-signed-in/glossary-of-terms'>View full glossary of funding terms</a></p>" data-modal-title="Central school services block (<abbr title='central school services block'>CSSB</abbr>)" data-modal-close-text="Close" data-modal-close-title="Close this window">central school services block (<abbr title='central school services block'>CSSB</abbr>)</a>,  
                                
                                <a href="#" title="Find out what this term means" class="js-modal modal-link" data-modal-text="<p>The early years block is part of the dedicated schools grant and includes the free entitlement for 3- and 4-year olds, and disadvantaged 2-year olds.</p><p><a href='/{{version}}/not-signed-in/glossary-of-terms'>View full glossary of funding terms</a></p>" data-modal-title="Early years block" data-modal-close-text="Close" data-modal-close-title="Close this window">early years block</a>,  
                                
                                <a href="#" title="Find out what this term means" class="js-modal modal-link" data-modal-text="<p><p>The high needs block is part of the dedicated schools grant and is funding for:</p>
                                    <ul class='list list-bullet'>
                                        <li>special schools and academies</li>
                                        <li>top-up funding for high needs pupils</li>
                                        <li>alternative provision and education not in school</li>
                                        <li>local authority central special educational needs services</li>
                                    </ul></p><p><a href='/{{version}}/not-signed-in/glossary-of-terms'>View full glossary of funding terms</a></p>" data-modal-title="High needs block" data-modal-close-text="Close" data-modal-close-title="Close this window">high needs block</a>, and details of the charges for national copyright licences issued to local authorities.</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="heading-large heading-guidance">2019 to 2020</h2>
                    <p>You can view allocations from this period at: <a href="https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2019-to-2020" rel="external" target="external" title="This will open in a new tab or window"><abbr title="Dedicated schools grant">DSG</abbr>: 2019 to 2020</a></a>.</p>
                    <h2 class="heading-large heading-guidance">2018 to 2019</h2>
                    <p>You can view allocations from this period at: <a href="https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2018-to-2019" rel="external" target="external" title="This will open in a new tab or window"><abbr title="Dedicated schools grant">DSG</abbr>: 2018 to 2019</a></a>.</p>
                    <h2 class="heading-large heading-guidance">2017 to 2018</h2>
                    <p>You can view allocations from this period at: <a href="https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2017-to-2018" rel="external" target="external" title="This will open in a new tab or window"><abbr title="Dedicated schools grant">DSG</abbr>: 2017 to 2018</a></a>.</p>
                </div>

                <!-- Support section in an expandable link - START -->
                <!-- Support section in an expandable link - END -->

            </form>
        
        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- Tooltip taken from Nicolas Hoffmann (https://a11y.nicolas-hoffmann.net/modal/) -->
<script src="/public/javascripts/{{version}}/jquery-accessible-modal-window-aria.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
