{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard-new">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">THE BLYTHE ACADEMY</span>
    <p>UPIN:12345678</p>

           <h1 class="heading-xlarge">Manage your funding</h1>

            </div>



    <div class="column-one-third">
       
       
       
    </div>
</div>


</div><br>
<span class="bold-medium" style="font-size:28px">Funding statements</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Your 2017 to 2018 statement</li><br>
            
        <a class="button-grey" href="test-list3">View your statement</a> 

        <div><br><a href="subcontractor-list">More about ...</a>
        <a href="subcontractor-list"></a><br>
        <a href="subcontractor-list"></a> </div><br>
    </div></ul>

    <div class="column-one-third">
       
    </div>
</div>
</ul>
</div><br>
<span class="bold-medium" style="font-size:28px">Contracts and agreements</span>
    </div>
</div>


<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Your statements</li><br>
            
        <a class="button-grey" href="test-list3">View your statement</a> 

        <div><br><a href="subcontractor-list">More about ...</a>
        <a href="subcontractor-list"></a><br>
        <a href="subcontractor-list"></a> </div><br>
    </div></ul>

    <div class="column-one-third">
       
    </div>
</div>
</ul>
</div><br>

    </div>
</div>


<span class="bold-medium" style="font-size:28px">Funding claims</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Your funding claims and reconcilliation statements</li><br>
            
        <a class="button-grey" href="dashboard2">Veiw your claims</a> 

        <div><br><a href="subcontractor-list">More about ...</a>
        <a href="subcontractor-list"></a><br>
        <a href="subcontractor-list"></a> </div><br>
    </div></ul>

    <div class="column-one-third">
       
    </div>
</div><br>
<span class="bold-medium" style="font-size:28px">Subcontractor declaration</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Manage your subcontracting activities</li><br>
            
        <a class="button-grey" href="sub-con-home">Submit for 2017 to 2018</a> 

        <div><br><a href="subcontractor-list">More about ...</a>
        <a href="subcontractor-list"></a><br>
        <a href="subcontractor-list"></a> </div><br>
    </div></ul>

    <div class="column-one-third">
       
    </div>
</div><br>
<span class="bold-medium" style="font-size:28px">Payment history</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>View payments made by the EFSA</li><br>
            
        <a class="button-grey" href="dashboard2">Veiw your payments</a> 

        <div><br><a href="subcontractor-list">More about ...</a>
        <a href="subcontractor-list"></a> </div><br>
    </div>

    <div class="column-one-third">
       
    </div></ul>
</div><br>
<span class="bold-medium" style="font-size:28px">Other services</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>

        <div><br><a href="subcontractor-list"></a><br>
        <a href="subcontractor-list">Other things</a>
        <a href="subcontractor-list"></a> </div><br>
    </div></ul>

    <div class="column-one-third">
       
    </div>
</div>




</main>


{% endblock %}