{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

        <style>@media screen and (min-width: 900px){
            .maths-cards .card {
                flex-basis: 20%;
            }
            }
        .card-action p{text-align: right}
        .card-action li{text-align: right}

        </style>

<main role="main" id="content">
  
    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash1" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="/personal-account/signout?continueUrl=%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-secondary">Blythe College</h2>
            <p class="page-info">UKPRN: 57634108</p>
             <h1 class="heading-large margin-bottom">16 to 19 funding for 2018 to 2019</h1>
             <p><a href= "history1"> Download and print full statement </a></p>

            <h2 class="heading-secondary">Programme funding formula</h2>

        </div>
    </div><br>
    

<div class="grid-row">

<div class="flex-container maths-cards">

    <div class="card">

        <div class="card-body active" data-journey-click="" style="height: 35px;">

            <div class="data">Students 2018/19<br>

            </div>

        </div>


        <div class="card-action">

            <span class="data-item" style="text-align: right; font-weight: 600">959</span>


                </div>
        

        </div>
<div class="feature-ministers">
            <p>
                x
            </p>
        </div>







        <div class="card">

            <div class="card-body active" style="height: 35px;">

                <div class="data">National funding rate<br></div>

            </div>


            <div class="card-action">


                <ul>
                    <li>
                            £4,000
                    </li>
                    <li>
                        £3,640,181
                    </li>

                   

                </ul>


            </div>


        </div>

        <div class="feature-ministers">
            <p>
                x
            </p>
        </div>



        <div class="card">

            <div class="card-body active" data-journey-click="#" style="height: 35px;">

                <div class="data">Retention factor<br></div>
            </div>


            <div class="card-action">


                <ul>
                    <li>
                        0.997
                    </li>
                    <li>
                        -£109,788
                    </li>
                    <li>
                        £3,530,393
                    </li>
                </ul>


            </div>


        </div>

        <div class="feature-ministers">
            <p>
                x
            </p>
        </div>


        <div class="card">
            <div class="card-body active" style="height: 35px;">
                <div class="data">Weighting<br></div>
            </div>

            <div class="card-action">
                <ul>
                    <li>
                        1.023
                    </li>
                    <li>
                        £81,552
                    </li>
                    <li>
                        £3,611,945
                    </li>
                </ul>
            </div>
        </div>

</div>
</div>

    <div class="grid-row">

        <div class="flex-container maths-cards">

        <div class="feature-ministers">
            <p>
                +
            </p>
        </div>


    <div class="card">
        <div class="card-body active" style="height: 35px;">
            <div class="data">Disadvantage funding<br></div>
        </div>

        <div class="card-action">
            <ul>
                <li>
                    £767,025
                </li>
                <li>
                    £4,378,971
                </li>

            </ul>
        </div>
    </div>
        

        <div class="feature-ministers">
            <p>
                +
            </p>
        </div>


        <div class="card">
            <div class="card-body active" style="height: 35px;">
                    <div class="data">Large programme<br></div>
            </div>

            <div class="card-action">
                <ul>
                    <li>
                        £0
                    </li>
                    <li>
                        £4,378,971
                    </li>

                </ul>
            </div>
        </div>



            <div class="feature-ministers">
                <p>
                    x
                </p>
            </div>

            <div class="card">
                <div class="card-body active" style="height: 35px;">
                    <div class="data">Area cost allowance<br></div>
                </div>

                <div class="card-action">
                    <ul>
                        <li>
                            1.120
                        </li>
                        <li>
                            £875,794
                        </li>
                        <li style="font-weight: 600">£5,254,765</li>

                    </ul>
                </div>
            </div>



       
    </div>
    </div>








    <span class="heading-secondary" style="margin-bottom: 25px">Student numbers including 19 to 24</span>

    <table>

        <tbody>
        <tr>


            <td> Total Lagged Student Number</td>						<td class="numeric">959</td>
        </tr>
        <tr>
            <td>Exceptional Variations to Lagged Student Number</td><td class="numeric">0</td>
        </tr>
        <tr>
            <th class="bold-small">Total Student Numbers for 2018/19</th><th class="bold-small numeric">959</th>



        </tr>
        </tbody>
    </table>
    <br>
    <span class="heading-secondary" style="margin-bottom: 25px">Breakdown of funding</span>
    </div>
    <table>
        <thead>
        <tr>
            <th width="300" scope="col">Planned <br>hours</th>
            <th width="200" class="" scope="col">Students <br>2015/16</th>
            <th width="200" class="" scope="col">Proportions 2017/18</th>
            <th width="200" class="" scope="col">Students <br>2017/18</th>
            <th width="200" class="" scope="col">National <br>Funding Rate</th>
            <th class="numeric" scope="col">Student funding</th>
        </tr>
        </thead>
        <tbody>


        <thead>

        <tr><td>Band 5</td><td>602</td><td>72.62%</td><td>696</td><td>£4,000</td><td>£2,785,612</td></tr>
        <tr><td>Band 4a + 4b</td><td>218</td><td>26.30%</td><td>252</td><td>£3,300</td><td class="numeric">£832,213</td></tr>
        <tr><td>Band 4a</td><td>187</td><td>22.56%</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Band 4b</td><td>31</td><td>3.74%</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Band 3</td><td>4</td><td>0.48%</td><td>5</td><td>£2,700</td><td class="numeric">£12,494</td></tr>
        <tr><td>Band 2</td><td>2</td><td>0.24%</td><td>2</td><td>£2,133</td><td class="numeric">£4,935</td></tr>
        <tr><td>Band 1</td><td>Students</td><td>3</td><td>0.36%</td><td>&nbsp;</td><td class="numeric">3</td></tr>
        <tr><td>Band 1</td><td>FTEs</td><td>1.07</td><td>1.23</td><td>£4,000</td><td class="numeric">£4,928</td></tr>
        <tr><th>Total</th><th>829</th><th>100%</th><th>959</th><td>&nbsp;</td><th class="numeric">£3,640,181</th></tr>

        </thead>

        </tbody>
    </table>
    </div>
    </div>

    </div>
    </div> <br>
    <span class="heading-secondary">Retention factor</span>
    </div>
    <table>
        <thead>
        <tr>
            <th width="300" scope="col"></th>
            <th width="200" class="" scope="col"></th>
            <th width="200" class="" scope="col"></th>
            <th width="200" class="" scope="col"></th>
            <th class="numeric" scope="col">Total</th>
        </tr>
        </thead>
        <tbody>


        <tr>

            <td></td>
            <td width="300" class=""></td>
            <td width="300" class="">0.952</td>
            <td width="300" class="">-£109,788</td>
            <td class="numeric">£3,530,393</td>
        </tr>




        </tbody>
    </table><br>

    <br>
    <span class="heading-secondary">Programme cost weighting</span>
    </div>
    <table>
        <thead>
        <tr>
            <th width="300" scope="col"></th>
            <th width="200" class="" scope="col"></th>
            <th width="200" class="" scope="col"></th>
            <th width="200" class="" scope="col"></th>
            <th class="numeric" scope="col">Total</th>
        </tr>
        </thead>
        <tbody>


        <tr>

            <td></td>
            <td width="300" class=""></td>
            <td width="300" class="">1.023</td>
            <td width="300" class="">£81,552</td>
            <td class="numeric">£3,611,945</td>
        </tr>




        </tbody>
    </table><br>




    </div>


    <br>
    <span class="heading-secondary">Distribution and disadvantage funding</span>
    </div><br>
    <table>
        <thead>
        <tr>
            <th width="200" scope="col">Disadvantage block 1</th>

            <th width="200" class="" scope="col"></th>

            <th width="200" class="" scope="col"></th>
            <th class="numeric" scope="col"></th>
        </tr>
        </thead>
        <tbody>


        <tr>

            <td>Economic deprivation</td>
            <td width="200" class="">Block 1 factor<br>11.47%</td>


            <td width="300" class="">Funding + programme costs<br>£3,611,945</td>
            <td class="300" class="numeric">Block 1 factor<br>11.47%</td>
        </tr>



        <tr>
            <td>Care leavers</td>
            <td width="300" class="">Qualifying students<br>18</td>


            <td width="300" class="">Rate per qulifying student<br>£480</td>
            <td class="400">Care leaver funding<br>£8,640</td>
        </tr>

        <tr>




        <tr>
            <td class="bold-small">Total block 1 funding</td>
            <td width="300" class="bold-small"></td>


            <td width="300" class="bold-small"></td>
            <td class="bold-small numeric">£422,878</td>
        </tr>

        </tbody>
    </table>
    </div>
    </div><br><p></p>
    <table>
        <thead>
        <tr>
            <th width="200" scope="col">Disadvantage block 2</th>

            <th width="200" class="" scope="col"></th>

            <th width="200" class="" scope="col"></th>
            <th class="numeric" scope="col"></th>
        </tr>
        </thead>
        <tbody>


        <tr>

            <td>Total 2017/18 funding per student</td>
            <td width="200" class="">Funding per student ILR<br>1.310</td>


            <td width="300" class="">Funding per student YPMAD<br>1.304</td>
            <td class="300">Block 2 factor<br>7.53%</td>
        </tr>



        <tr>
            <td>Care leavers</td>
            <td width="300" class="">Qualifying students<br>103</td>


            <td width="300" class="">Rate per qulifying student<br>£480</td>
            <td class="300" class="numeric">Care leaver funding<br>£49,440</td>
        </tr>

        <tr>




        <tr>
            <td class="bold-small">Total block 2 funding</td>
            <td width="300" class="bold-small"></td>


            <td width="300" class="bold-small"></td>
            <td class="bold-small numeric">£344,147</td>
        </tr>

        <tr>
            <td class="bold-small">Total disadvantage funding</td>
            <td width="300" class="bold-small"></td>


            <td width="300" class="bold-small"></td>
            <td class="bold-small numeric">£767,025</td>
        </tr>

        </tbody>
    </table>
    </div>
    </div><br>
    <br>
    <span class="heading-secondary">Area cost allowance</span>
    </div>
    <table>
        <thead>
        <tr>
            <th width="300" scope="col"></th>
            <th width="200" class="" scope="col"></th>
            <th width="200" class="" scope="col"></th>
            <th width="200" class="" scope="col"></th>
            <th class="numeric" scope="col"></th>
        </tr>
        </thead>
        <tbody>


        <tr>

            <td></td>
            <td width="300" class=""></td>
            <td width="300" class="">1.120</td>
            <td width="300" class="">£875,794</td>
            <td class="numeric">£5,254,765</td>
        </tr>
        <tbody>



        </tbody>
        <tbody><br>
        <tr>

            <td class="bold-medium">Total</td>
            <td class="numeric"></td>
            <td class="numeric"></td>
            <td class="numeric"></td>
            <td class="numeric bold-medium">£5,254,765</td>
        </tr>


        </tbody>





    </table>




    </div></div></div>
    </div>

    </div>
    </div><br>

    </div>

    </div>

    </details>



    </div></div></div>
    </div>

    </div>
    </div></div>

    </div>

    </details>

    </div>

 
    

    </main>

{% endblock %}