/* Mobile First CSS */

.appType,
.appName {
    text-transform: lowercase;
}

.showmore {
    display: block;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}


/*  results / details */

#standard-results {}

#provider-results .result {
    border-bottom: 1px solid #bfc1c3;
    padding: 25px 0;
    position: relative;
    float: left;
    width: 100%;
}

#provider-results .result:last-child {
    border-bottom: none;
}

#provider-results .result .heading-medium {
    margin-bottom: 10px;
}

#provider-results .result .heading-medium span {
    display: inline-block;
    padding-right: 5px;
}

#provider-results .result:first-child {
    padding-top: 0;
}

#provider-results .result .actions {
    text-align: center;
}

#provider-results .result .actions i {
    display: block;
}

#provider-results .result .actions a {
    display: block;
    text-decoration: none;
}

#provider-results .result dt {
    font-weight: 900;
    float: left;
    padding-right: 5px;
}

#provider-results .result dt:after,
#provider-results .hgroup dt:after {
    content: ":";
}

#provider-results li h2 {
    margin-top: 0;
    /*text-transform: lowercase;*/
}

#provider-results li h2:first-letter {
    text-transform: uppercase;
}

#provider-results li h2 a {
    line-height: 20px;
}

address {
    font-style: normal;
}

address.panel {
    padding: 0.2894736842em;
    margin-bottom: 0.2894736842em;
}

#standard-results {
    border-top: 1px solid #bfc1c3;
    padding-top: 15px;
}

#standard-results h2 {
    margin-top: 0;
}

aside + .related-container {
    margin-top: 0;
}

.proLink {
    line-height: 40px;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: -10px;
}

.bold-small.label,
ol li span.label {
    background: #F8F8F8;
    padding: 0 5px;
    color: #6F777B;
    font-weight: normal;
    display: inline;
    background: grey;
    padding: 0 5px;
    font-size: 16px;
    border-radius: 3px;
    color: white;
    font-weight: 900;
    margin-left: 5px;
}

ol li .details {
    width: 80%;
    float: left;
}

ol li .shortlist {
    width: 20%;
    float: left;
    text-align: center;
    color: #005ea5;
}

.v2 ol li .details {
    width: 70%;
}

.v2 ol li .shortlist {
    width: 30%;
}

ol li .shortlist:hover {
    color: #2e8aca;
    cursor: pointer;
}

ol li .shortlist i {
    font-size: 2em;

}

ol li .shortlist span {
    width: 100%;
    float: left;
    margin-top: 10px;
    text-decoration: underline;
}

#tabs + .grid-row {
    border: 1px solid #bfc1c3;
    margin: 0 0;
    padding: 0 10px;
}

#tabs .tabbed-tab.active {
    background: white;
}

#tabs .tabbed-tab:hover {
    background-color: #FFBF47;
}

#tabs .tabbed-tab:hover a {
    color: #0B0C0C;
}

#tabs .tabbed-tab small {
    display: block;
    font-size: 0.875em;
    width: 100%;
    text-align: center;
}


/* Tablet Small Desktop */

@media (min-width: 641px) {
    #tabs + .grid-row {
        width: 66.6666666667%;
    }
}


/* Large Desktop */

@media (min-width: 1020px) {
    #provider-results .result a.button {
        position: absolute;
        bottom: 5px;
        right: -5px;
    }
}