{% extends "layout.html" %}

{% block page_title %}
    {% if error %}Error: {% endif %}Remove documents
{% endblock %}

{% block content %}

<main id="content" class="confirmation-internal confirmation-review">

    <!-- Account Management (IDAMS) - START -->
    {% include "includes/idams-account-header.html" %}
    <!-- Account Management (IDAMS) - END -->

    <div class="grid-row">
        
        <div class="column-full">

            <div id="global-breadcrumb" class="breadcrumbs group">

                <nav>
                    <ol id="removeADocBreadcrumb1">
                        <li><a href="dashboard">Home</a></li>
                        <li><a href="home">Document exchange</a></li>
                        <li><a href="file-share">File share documents</a></li>
                        <li><a href="documents-to-review">Review your documents</a></li>
                        <li>Remove documents</li>
                    </ol>
                </nav>

            </div>

            <form method="post" class="form">

                {% if error %}
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There is a problem</h1>
                    <p>There is a problem</p>
                    <ul class="error-summary-list">
                        <li><a id="sortable-table" href="#">Please select an option.</a></li>
                    </ul>
                </div>
                {% endif %}

                <div class="form-group">
                        <fieldset class="inline">
                            <legend>
                                <h1 class="heading-xlarge">Are you sure you want to remove these documents?</h1>
                            </legend>
    
                            <div class="form-group">
                                    <p>The documents are:</p>
                                    <ul>
                                        <li>10006622_10041_201819.pdf</li>
                                        <li>10044577_10041_201819.pdf</li>
                                        <li>10006473_10041_201819.pdf</li>
                                    </ul>                
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                                <label for="radio-inline-1">Yes</label>
                            </div>
    
                            <div class="multiple-choice">
                                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                                <label for="radio-inline-2">No</label>
                            </div>
    
                        </fieldset>
                    </div>

                <div class="form-group">
                    <button class="button">Continue</button>
                </div>

            </form>

        </div>

    </div>

</main>

{% endblock %}
