{% extends "layouts/main.html" %}

{% block page_title %}
    You've removed 1 document
{% endblock %}

{% block content %}

<main id="content" class="confirmation-internal">

    <!-- Account Management (IDAMS) - START -->
    {% include "includes/idams-account-header.html" %}
    <!-- Account Management (IDAMS) - END -->

    <div class="grid-row">
        
        <div class="column-full">

            <form method="post" class="form" action="documents-to-publish-removed?paginationRequired=true&page1=true">

                <div class="form-group">
                
                    <div class="govuk-box-highlight">
                        <h1 class="bold-xlarge">You’ve removed 3 documents</h1>
                
                    </div>

                </div>

                <div class="form-group">
                        <p>The documents you’ve removed are:</p>
                        <ul>
                            <li>10006622_10041_201819.pdf</li>
                            <li>10044577_10041_201819.pdf</li>
                            <li>10006473_10041_201819.pdf</li>
                        </ul>                
                </div>

                <div class="form-group">
                    <h2 class="heading-medium">What happens next</h2>
                    <p>You can <a href="documents-to-publish-removed?paginationRequired=true&page1=true">review your other documents</a></p>
                </div>                 

                <div class="actions">
                    <button class="button">Finish</button>
                </div>

            </form>

        </div>

    </div>

</main>

{% endblock %}
