{% extends "layout.html" %}

{% block page_title %}
    You've renamed 1 document
{% endblock %}

{% block content %}

<main id="content">

    <!-- Account Management (IDAMS) - START -->
    {% include "includes/idams-account-header.html" %}
    <!-- Account Management (IDAMS) - END -->

    <div class="grid-row">
        
        <div class="column-full">

            <form method="post" class="form">

                <div class="form-group">
                
                    <div class="govuk-box-highlight">
                        <h1 class="bold-xlarge">You have renamed one document</h1>
                        <p>'10044577_10041_201819.pdf'</p>
                    </div>

                </div>

                <div class="form-group">
                    <h2 class="heading-medium">What happens next</h2>
                    <p>You can <a href="documents-to-publish.html">publish this document</a> or <a href="documents-to-review.html">review your other documents</a></p>
                </div>

            </form>

        </div>

    </div>

</main>

{% endblock %}
