{% extends "layout.html" %}

{% block page_title %}
  Subcontractor declaration history - Manage your education and skills funding
{% endblock %}

{% set subcontractPaymentFigure %}
{% if data['subcontractPayment'] %}
  £{{data['subcontractPayment']}}
{% else %}
   £2308.08
{% endif %}
{% endset %}

{% set numberOfLearnersFigure %}
{% if data['numberOfLearners'] %}
   {{ data['numberOfLearners'] }}
{% else %}
  20
{% endif %}
{% endset %}


{% set locationNames = {
    eastEngland: "East of England",
    eastMidlands: "East Midlands",
    london: "London",
    northEast: "North East",
    northWest: "North West",
    southEast: "South East",
    southWest: "South West",
    westMidlands: " West Midlands",
    yorkshireHumber: "Yorkshire and Humber"
  } %}
  

{% block content %}
 
<main role="main" id="content">

    <div class="grid-row">
    
        <div class="column-full">
    
            <div class="account-details">


                <div class="account-name">
                    <span class="name">
                        Lincoln College (UKPRN: 10003928)
                    </span>
                </div>
    
    
                <div class="account-features">
                    <span class="account-link"><a href="view-your-roles">View your roles</a></span>
                    <span class="account-link"><a href="{{signOutURL}}">Sign out</a></span>
                </div>
    
            </div>
    
        </div>
    
    </div>
    
        
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard-latest">Home</a></li>

        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">

           <h1 class="heading-xlarge">Subcontractor declaration </h1>

           <h2 class="heading-medium">
            Submitted by  Sailaja Kaviko on  09 February 2023 at 11:15am
        </h2>

        <p><a href="#">Download document</a></p>


            </div>
            </div>

            
            <div class="grid-row mini-card-new">
                <div class="column-two-thirds">
                    <ul>
                        <li class="subcontractor-heading-secondary provider-name">Active Lincolnshire</li>
                        <li>UKPRN: 10003934 </li>
                        {% if data['whichLevy'] === "sixteenEighteen" %}
                        <li class="heading-small funding-stream-name">Funding stream: Apprenticeships Levy 16 to 18 </li>
                      {% else %}
                      <li class="heading-small funding-stream-name">Funding stream: Apprenticeships Levy 19+ </li>
                      {% endif %}
                            <li class="add-margin">Learners: {{ numberOfLearnersFigure }}</li>
                            <li class="add-margin">Payments: {{subcontractPaymentFigure}}</li>


                            <li>
                                {% if data['chooseLocation'] | length == 0 %}
                                  Locations: Yorkshire and the Humber
                                {% elseif data['chooseLocation'] | length == 1 %}
                                  Location: {{ locationNames[data['chooseLocation']]}}
                                {% else %}
                                  {% set locations %}
                                    {% for location in data['chooseLocation'] %}
                                      {{ locationNames[location] }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                  {% endset %}
                                  Locations: {{ locations }}
                                {% endif %}
                            </li>
                            
                    </ul>
                </div>
        
                <div class="column-third">
        
                    <p class="font-small align-total-with-subcontractor-heading-secondary">{{ subcontractPaymentFigure }}</p>
                </div>
            </div>

            <hr>
        <br>

        <div class="grid-row mini-card-scd">
            <div class="column-two-thirds scd">
                <div>
                            <span>Showing 1 - 1 of 1 </span>
                </div>
            </div>
            <!--<div class="column-third text-right">
                <span class="pagination-link-no-underLine">
    
                                <span>1</span>
                                <a class="pagination-next-page-link" href="/subcontractor-declarations/subcontractor-declaration-history?PageNumber=1">2</a>
                                <a class="pagination-next-page-link" href="/subcontractor-declarations/subcontractor-declaration-history?PageNumber=2">3</a>
    
                        <a class="pagination-next-page-link" href="/subcontractor-declarations/subcontractor-declaration-history?PageNumber=1">Next</a>
                </span>
            </div>-->
        </div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-medium" style="margin-top: 1.875em;">Total value of this declaration</h2>
    </div>
        <div class="column-third">
            <h2 class="heading-medium" style="margin-top: 1.875em;">{{ subcontractPaymentFigure }}</h2>
        </div>

</div>

<br>

<div class="grid-row">
    <div class="column-two-thirds">
        <div>
            <a href="#">Back</a>
        </div>
    </div>
    <div class="column-third">
    <a class="bottom-download-link" href="#">Download document</a>
        
    </div>
</div>



</main>


{% endblock %}