{% extends "layouts/main.html" %}

{% block page_title %}
  Subcontractor declaration history - Manage your education and skills funding
{% endblock %}

{% set subcontractPaymentFigure %}
{% if data['subcontractPayment'] %}
  £{{data['subcontractPayment']}}
{% else %}
   £2308.08
{% endif %}
{% endset %}


{% block content %}
 
<main role="main" id="content">

    <div class="grid-row">
    
        <div class="column-full">
    
            <div class="account-details">


                <div class="account-name">
                    <span class="name">
                        Lincoln College (UKPRN: 10003928)
                    </span>
                </div>
    
    
                <div class="account-features">
                    <span class="account-link"><a href="view-your-roles">View your roles</a></span>
                    <span class="account-link"><a href="{{signOutURL}}">Sign out</a></span>
                </div>
    
            </div>
    
        </div>
    
    </div>
    
        
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard-latest">Home</a></li>

        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">

           <h1 class="heading-xlarge">Subcontractor declaration history </h1>

            </div>
            </div>

            {% if data['subcontractorConfirmed'] == 'true' %}

            <div>

            <div class="grid-row">
                <div class="column-full">
       
                    <span class="subcontractor-heading-secondary">
                        Declaration submitted on 23 February 2023
                    </span>

                </div>
            </div>

            <div class="grid-row mini-card-scd">
                <div class="column-two-thirds">
                    <ul>
                        <li class="add-margin">Submitted by Juliana Crain at 10:44am </li>
                        <li>1 subcontractor declared</li>
                    </ul>
                </div>
                <div class="column-third text-right">
        
                    <ul>
                        <li class="add-margin" id="total">{{ subcontractPaymentFigure }}</li>   
                        
                            <li><a class="link" href="dec-details.html">View Details</a></li>
                    </ul>
                </div>
            </div>
            
        </div>

        {% endif %}

            
        <div>
                
            <div class="grid-row">
                <div class="column-full">
       
                    <span class="subcontractor-heading-secondary">
                        Declaration submitted on 15 December 2022
                    </span>

                </div>
            </div>

            <div class="grid-row mini-card-scd">
                <div class="column-two-thirds">
                    <ul>
                        <li class="add-margin">Submitted by Juliana Crain at 11:49am </li>
                        <li>1 subcontractor declared</li>
                    </ul>
                </div>
                <div class="column-third text-right">
        
                    <ul>
                        <li class="add-margin" id="total">£380,000.00</li>   
                        
                            <li><a class="link" href="#">View Details</a></li>
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="grid-row mini-card-scd margin-top-3">
            <div class="column-two-thirds scd">
                <div>

                    {% if data['subcontractorConfirmed'] == 'true' %}
                        <span>Showing 1 - 2 of 2 </span>
                    {% else %}
                        <span>Showing 1 - 1 of 1 </span>
                    {% endif %}

                </div>
            </div>
            <!--<div class="column-third text-right">
                <span class="pagination-link-no-underLine">
    
                                <span>1</span>
                                <a class="pagination-next-page-link" href="/subcontractor-declarations/subcontractor-declaration-history?PageNumber=1">2</a>
                                <a class="pagination-next-page-link" href="/subcontractor-declarations/subcontractor-declaration-history?PageNumber=2">3</a>
    
                        <a class="pagination-next-page-link" href="/subcontractor-declarations/subcontractor-declaration-history?PageNumber=1">Next</a>
                </span>
            </div>-->
        </div>

        <br>

        <div class="grid-row">
            <div class="column-full">

        <p><a href="#">Back</a></p>

    </div>
</div>





<br>
<br>




</main>


{% endblock %}