{% extends "layout.html" %}

{% block page_title %}
	Manage your education and skills funding prototype - subcontractor declarations
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<div class="column-two-thirds">

			<div class="form-block">
				<h1 class="heading-xlarge">
					Subcontractor declarations
				</h1>
				<p>Make a declaration and see your declaration history prototype that reflects what's currently live in production.</p>
			</div>


			<div class="transaction" style="margin-bottom: 30px;">
                <div id="get-started" class="get-started">
                    <a class="button button-get-started" href="/beta/v126-0-0/signed-in/subcontractor-flow/index">Start prototype</a>
                </div>
            </div>

			<h2 class="heading-medium">Direct links to prototype screens</h2>


			<h3 class="heading-small">Start</h3>

			<div class="form-group">
					<ul class="list-bullet">
						<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/index">MYESF start screen</a></li>
						<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/sign-in">Sign in</a></li>
						<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/dashboard-latest">Dashboard</a></li>
						<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/subcontracting-details">Subcontracting details</a></li>
						<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/do-you-use-subcontractors">Do you use subcontractors to deliver training?						</a></li>

					</ul>
			</div>

			<h3 class="heading-small">'Yes' to using subcontractors flow</h3>


			<div class="form-group">
				<ul class="list-bullet">
					<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/before-you-start">Before you start</a></li>
					<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/your-policy">Your subcontracting policy</a></li>
					<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/who-subcontracting">Who will be subcontracting for you?</a></li>
					<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/who-subcontracting-active">Who will be subcontracting for you? - Subcontractor selected</a></li>
					<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/who-subcontracting-add">Who will be subcontracting for you? - Subcontractor added</a></li>
					<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/select-funding-stream">Select funding stream</a></li>
					<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/subcontractor-form">Add subcontractor information</a></li>
					<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/subcontractor-summary">Subcontractor summary</a></li>
					<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/yes-subcontracting">Declare you are subcontracting</a></li>
					<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/confirmation">Submit confirmation</a></li>
				</ul>
		</div>

		<h3 class="heading-small">'No' to using subcontractors flow - nil declaration</h3>


		<div class="form-group">
			<ul class="list-bullet">
				<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/not-subcontracting">Declare you are not subcontracting</a></li>
				<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/confirmation">Submit confirmation</a></li>
			</ul>
	</div>

	<h3 class="heading-small">Declaration history</h3>

	<div class="form-group">
		<ul class="list-bullet">
			<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/dec-history">Declaration history</a></li>
			<li><a href="/beta/v126-0-0/signed-in/subcontractor-flow/dec-details">Declaration details</a></li>
		</ul>
</div>
		

		</div>

	</div>

</main>

{% endblock %}
