{% extends "layouts/main.html" %}

{% block page_title %}
    Subcontractor: Active Lincolnshire - Manage your education and skills funding
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

  <main role="main" id="content">

    <div class="grid-row">
    
        <div class="column-full">
    
            <div class="account-details">


                <div class="account-name">
                    <span class="name">
                        Lincoln College (UKPRN: 10003928)
                    </span>
                </div>
    
    
                <div class="account-features">
                    <span class="account-link"><a href="view-your-roles">View your roles</a></span>
                    <span class="account-link"><a href="{{signOutURL}}">Sign out</a></span>
                </div>
    
            </div>
    
        </div>
    
    </div>

    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard-latest">Home</a></li>

        </ul>
        </div>
    </div>
    
<div class="grid-row">
        <div class="column-full">    
        <h1 class="heading-xlarge" style="margin-bottom: 32px;">Subcontractor: Active Lincolnshire</h1>

        <h2 class="heading-medium">
        {% if data['whichLevy'] === "sixteenEighteen" %}
        Funding stream: Apprenticeships Levy 16 to 18
   {% else %}
       Funding stream: Apprenticeships Levy 19+
     {% endif %}
    </h2> 
 
<p>Add information for the training your subcontractor will provide between 1 August 2022 and 31 July 2023.</p>
        

<form action="subcontractor-summary.html">

             
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="heading-small">Will any of the subcontracting include whole training programmes?</h2>    
    </legend>
            

    <div class="form-group">
    
    <div class="multiple-choice">
    <input id="radio-1" type="radio" name="wholeTraining" value="yes">
    <label for="radio-1">Yes</label>
    </div>
    
    <div class="multiple-choice">
    <input id="radio-2" type="radio" name="wholeTraining" value="no">
    <label for="radio-2">No</label>
    </div>
</div>

<div class="form-group">
    <label class="form-label label-subcontract" for="numberOfLearners">
        Number of learners                 
      </label>
      <input class="form-control form-control-subcontract-form" id="numberOfLearners" type="text" name="numberOfLearners">
    </div>

    <div class="form-group">
        <label class="form-label label-subcontract" style="margin-bottom: 6px;" for="subcontractPayment">
            Payments               
          </label>
          <span class="form-hint" style="margin-bottom: 6px;">
            Enter the amount you will pay the subcontractor (for example, 2308.08)
          </span>
          <input class="form-control form-control-subcontract-form" id="subcontractPayment" type="text" name="subcontractPayment">
        </div>

        
    <div class="form-group">
        <label class="form-label label-subcontract" style="margin-bottom: 6px;" for="subcontractLocation">
            Locations               
          </label>
          <span class="form-hint" style="margin-bottom: 6px;">
            Select the places where your subcontractor will provide the training
          </span>

          <div class="multiple-choice">
            <input id="location" name="chooseLocation" type="checkbox" value="eastEngland">
            <label for="location">East of England</label>
          </div>

          <div class="multiple-choice">
            <input id="location" name="chooseLocation" type="checkbox" value="eastMidlands">
            <label for="location">East Midlands</label>
          </div>

          <div class="multiple-choice">
            <input id="location" name="chooseLocation" type="checkbox" value="london">
            <label for="location">London</label>
          </div>

          <div class="multiple-choice">
            <input id="location" name="chooseLocation" type="checkbox" value="northEast">
            <label for="location">North East</label>
          </div>

          <div class="multiple-choice">
            <input id="location" name="chooseLocation" type="checkbox" value="northWest">
            <label for="location">North West</label>
          </div>

          <div class="multiple-choice">
            <input id="location" name="chooseLocation" type="checkbox" value="southEast">
            <label for="location">South East</label>
          </div>

          <div class="multiple-choice">
            <input id="location" name="chooseLocation" type="checkbox" value="southWest">
            <label for="location">South West</label>
          </div>

          <div class="multiple-choice">
            <input id="location" name="chooseLocation" type="checkbox" value="westMidlands">
            <label for="location">West Midlands</label>
          </div>

          <div class="multiple-choice">
            <input id="location" name="chooseLocation" type="checkbox" value="yorkshireHumber">
            <label for="location">Yorkshire and the Humber</label>
          </div>


        </div>


    <div>    
        <input type="submit" class="button margin-right" value="Save and continue"> <br>

    </div>
    
    
        </fieldset>
  
  </form>

    </div>
</div>


</main>


{% endblock %}