{% extends "layouts/main.html" %}

{% block page_title %}
  Who will be subcontracting for you? - Manage your education and skills funding
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<main role="main" id="content">

    <div class="grid-row">
    
        <div class="column-full">
    
            <div class="account-details">


                <div class="account-name">
                    <span class="name">
                        Lincoln College (UKPRN: 10003928)
                    </span>
                </div>
    
    
                <div class="account-features">
                    <span class="account-link"><a href="view-your-roles">View your roles</a></span>
                    <span class="account-link"><a href="{{signOutURL}}">Sign out</a></span>
                </div>
    
            </div>
    
        </div>
    
    </div>

    <div class="grid-row ">
        <div class="navigation">
          <ul>
            <li><a class="font-xsmall" href="dashboard-latest">Home</a></li>

          </ul>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="heading-xlarge" style="margin-bottom: 32px;">
                        Who will be subcontracting for you?
                    </h1>
                    </legend>
                    <p class="govuk-body-m">Search for your subcontractors by name or UKPRN to add them to your list.</p>


                    <div class="form-group">
                            <label class="form-label label-subcontract" for="subcontracting-policy">
                                Search                   
                            </label>
                     <div class="dropdown">
                        <div id="myDropdown" class="dropdown-content"style="width:100%;">
                          <input class="form-control form-control-subcontract" type="text"  id="myInput" onkeyup="filterFunction()" onclick="myFunction()"style="width:85%;height:49px;">
                          <div class="search-submit" style="padding-left:60px;padding-top:13px;display:inline;position: relative;">
                            <button class="button" type="submit" name="" id="onSearch" style="background-color:  #005ea5;">   
                        </div>              
                          <div id="dropdown-values" class="dropdown-values my_scroll_div">
                              <a style="display:none" onclick="setValueOfInput(this)">Active Lincolnshire - 10003934</a>
                              <a style="display:none" onclick="setValueOfInput(this)">Alive Church Lincoln - 10057296</a>
                              <a style="display:none" onclick="setValueOfInput(this)">Alternative Educational Support Services Ltd - 10090097</a>
                              <a style="display:none" onclick="setValueOfInput(this)">Ashley Butterfield - 10089118</a>
                              <a style="display:none" onclick="setValueOfInput(this)">Care Plus Group (North East Lincolnshire) Limited - 10047389</a>
                              <a style="display:none" onclick="setValueOfInput(this)">Engineering Utc Northern Lincolnshire - 10047389</a>
                              <a style="display:none" onclick="setValueOfInput(this)">Engineering Utc Northern Lincolnshire - 10060278</a>
                              <a style="display:none" onclick="setValueOfInput(this)">F.1. Help Limited - 10022498</a>
                          </div>
                        </div>
                    </div>
                   </div>
              </fieldset>
        </div>
    </div>

</main>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script>
  //search input
    $(document).ready(function(){
    $("#searchInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#content div").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  function setValueOfInput(e) {
    $("#searchInput").val(e.innerHTML);
}

//show search values
function myFunction() {
  $("#dropdown-values").addClass("show");
}
//select search value
$(document).click(function(e) {
  if( e.target.id != 'myInput') {
    $("#dropdown-values").removeClass("show");
  }
});
//select/filter based upon search input
function filterFunction() {
  var input, filter, a, i;
  filter = $("#myInput").val().toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

function setValueOfInput(e) {
    $("#myInput").val(e.innerHTML);
}
</script>
<script>
  //Onclick search icon 
  document.getElementById("onSearch").onclick = function () {
      location.href = "../../signed-in/subcontractor-flow/who-subcontracting-active.html";
  };
</script>

<style>
    .dropdown-content {
  position: relative;
  background-color: #ffffff;
  /* overflow: auto; */
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
 }
 
.dropdown a:hover {background-color: #cbcbcb;
width: 120%;
}

.show {display: block !important;}

.dropdown-values{
    display: none;
}
.dropdown{
  padding-bottom: 120px;
}
.my_scroll_div {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 130px; 
    width:85%;
}

</style>
{% endblock %}