

/**********
 * CUSTOM STYLES - NFF (CSS)
 * **********/

.detail-column-half {
    padding: 0 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 641px) {
    .detail-column-half {
        float: left;
        width: 50%;
    }
}
.metadata-containter {
    margin-bottom: 40px;
}
@media only screen and (min-width: 769px){
    .metadata-school-detail dd, .metadata-school-detail dt {
    padding: 0;
    padding-bottom: 0.5em;
    }
}
.metadata dt {
    display: inline-block;
}
.metadata-school-detail dt {
    float: left;
    clear: left;
    width: 45%;
    margin-right: 10%;
}
@media (min-width: 641px) {
    .metadata-school-detail dt {
        float: left;
        width: 45%;
        margin-right: 10%;
    }
}
.metadata dd {
    display: inline;
}
.metadata-school-detail dd {
    float: left;
    width: 45%;
}
@media (min-width: 641px) {
    .metadata-school-detail dd {
        width: 45%;
    }
}

/* GOV.UK Design System cards component (https://github.com/alphagov/govuk-design-system-backlog/issues/113) currently EXPERIMENTAL */
.card {
	display: block;
	float: left;
	margin-bottom: 30px;
    width: 100%;
}
.card__body {
	display: block;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	background-color: rgb(222, 224, 226);
	color: rgb(11, 12, 12);
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
    font-size: medium;
    min-height: 5em;
}
@media (min-width: 760px) {
    .card__body {
    min-height: 6.5em;
    }
}
@media (max-width: 641px) {
    .card__body {
        font-size: small;
        min-height: 3em;
    }
}
a.card__body {
	color: rgb(0, 94, 165);
}
.card__body span {
	display: block;
}

.card__footer {
	display: block;
	background-color: rgb(248, 248, 248);
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
    min-height: 3em;
}
@media (max-width: 960px) {
    .card__footer {
        min-height: 4.75em;
    }
}
@media (max-width: 640px) {
    .card__footer {
        min-height: 2em;
    }
}

/* Icons */
.increase {
    color: #00703c;
}
.decrease {
    color: #d4351c;
}
