

/**********
 * CUSTOM STYLES - NFF (CSS)
 * **********/

.detail-column-half {
    padding: 0 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 641px) {
    .detail-column-half {
        float: left;
        width: 50%;
    }
}

.metadata-containter {
    margin-bottom: 40px;
}

@media only screen and (min-width: 769px){
    .metadata-school-detail dd, .metadata-school-detail dt {
    padding: 0;
    padding-bottom: 0.5em;
    }
}

.metadata dt {
    display: inline-block;
}
.metadata-school-detail dt {
    float: left;
    clear: left;
    width: 45%;
    margin-right: 10%;
}
@media (min-width: 641px) {
    .metadata-school-detail dt {
        float: left;
        width: 45%;
        margin-right: 10%;
    }
}

.metadata dd {
    display: inline;
}
.metadata-school-detail dd {
    float: left;
    width: 45%;
}
@media (min-width: 641px) {
    .metadata-school-detail dd {
        width: 45%;
    }
}
