{% extends "layouts/main.html" %}

{% block page_title %}
	Sprint 3 (alpha-v3.0.0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Sprint 3 (alpha-v3.0.0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Alpha</span>
				Sprint 3 (alpha-v3.0.0)
			</h1>

			<div class="form-group">
				<span class="bold-medium">Allocation statements</span>
				<ul class="list-bullet">
					<li><a href="../../alpha/v3-0-0/doc-ex-mat4/index.html"><span class="bold-medium">GAG & 16-19 (MAT 4)</span></a></li>
					<li><a href="../../alpha/v3-0-0/doc-exSAT4/index.html"><span class="bold-medium">GAG & 16-19 (SAT 4)</span></a></li>
					<li><a href="../../alpha/v3-0-0/doc-ex-sat5/index.html"><span class="bold-medium">GAG & 16-19 (SAT 5)</span></a></li>
				</ul>
				<br>
				<span class="bold-medium">Document exchange</span>
				<ul class="list-bullet">
					<li><a href="../../alpha/v3-0-0/doc-ex-mat4/index.html"><span class="bold-medium">External (MAT 4)</span></a></li>
					<li><a href="../../alpha/v3-0-0/doc-exSAT4/index.html"><span class="bold-medium">External (SAT 4)</span></a></li>
					<li><a href="../../alpha/v3-0-0/doc-ex-sat5/index.html"><span class="bold-medium">External (SAT 5)</span></a></li>
					<li><a href="../../alpha/v3-0-0/upload-mat/index.html"><span class="bold-medium">External (upload MAT)</span></a></li>
					<li><a href="../../alpha/v3-0-0/upload-mat-v2/index.html"><span class="bold-medium">External (upload MAT 2)</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
