{% extends "layouts/main.html" %}

{% block page_title %}
	Sprint 2 (alpha-v2.0.0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Sprint 2 (alpha-v2.0.0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Alpha</span>
				Sprint 2 (alpha-v2.0.0)
			</h1>

			<div class="form-group">
				<span class="bold-medium">Allocation statements</span>
				<ul class="list-bullet">
					<li><a href="../../alpha/v2-0-0/doc-exSAT2/dash8.html"><span class="bold-medium">16-19 (SAT 2)</span></a></li>
					<li><a href="../../alpha/v2-0-0/doc-ex-mat3/dash7.html"><span class="bold-medium">GAG & 16-19 (MAT 3)</span></a></li>
					<li><a href="../../alpha/v2-0-0/doc-exSAT3/dash7.html"><span class="bold-medium">GAG & 16-19 (SAT 3)</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
