{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
  

    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="/personal-account" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Debbie Jones

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="/personal-account/signout?continueUrl=%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large no-margin-bottom">Document exchange admin service</h1>
            <p class="page-info">Extraordinary Payment Team</p>
        </div>
        
    </div><br>
    

<div class="grid-row">
<div class="column-full">


    <div class="flex-container grid-row">





        <div class="card">

            <div class="card-body active" data-journey-click="link - click:Income:Pay As You Earn (PAYE)" style="height: 115px;">

                <h3 class="heading-small card-heading">

                    <a class="card-link" href="who">
                        Upload files
                    </a>

                </h3>
                
            </div>


            <div class="card-action">


                <ul>
                    <!--<li><a class="ga-track-anchor-click" href="basic-upload22" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="View your Income Tax estimate">Upload files for pre 16</a></li>
                    <li><a class="ga-track-anchor-click" href="basic-upload22" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Check how much tax you paid last year">Upload files for post 16</a></li>-->

                    <li><a class="ga-track-anchor-click" href="upload-list16" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="">View files with errors</a></li>

                </ul>


            </div>


        </div>












        <div class="card">

            <div class="card-body active" data-journey-click="link - click:Income:Self Assessment" style="height: 115px;">

                <h3 class="heading-small card-heading">

                    <a class="card-link" href="/personal-account/self-assessment-summary">
                        Download documents
                    </a>

                </h3>


                <p></p>


            </div>


            <div class="card-action">

                <ul>


                    <li>
                        <a class="ga-track-anchor-click" href="#" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="">Business case ABC academy</a>
                    </li>
                    <!--<li>
                        <a class="ga-track-anchor-click" href="/pay-online/self-assessment/make-a-payment?mode=pta" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Make a payment">Evidence Belmont academy</a>
                    </li>
                    <li>
                        <a class="ga-track-anchor-click" href="https://www.gov.uk/check-if-you-need-a-tax-return" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Check if you need to fill in a tax return">Business case Casterbridge college</a>
                    </li>-->


                </ul>

            </div>


        </div>






        <div class="card">

            <div class="card-body active" data-journey-click="link - click:Income:National Insurance" style="height: 115px;">

                <h3 class="heading-small card-heading">

                    <a class="card-link" href="/personal-account/national-insurance-summary">
                       Other things 
                    </a>

                </h3>
                <p></p>
            </div>


            <div class="card-action">

                <ul>
                    <li><a class="ga-track-anchor-click" href="/personal-account/national-insurance-summary/print-letter" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Print your National Insurance letter">Link 1</a></li>
                    <li><a class="ga-track-anchor-click" href="/check-your-state-pension/account/nirecord/pta" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="View gaps in your record">Link 2</a></li>
                </ul>

            </div>


        </div>


    </div>





  

</div>

 </div>
    

    </main>

{% endblock %}