{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
     
       <div class="grid-row ">
        <div class="navigation">
      
        </div>
    </div>
    

<div class="grid-row">
    <div class="column-full">
    

    <h1 class="heading-large margin-bottom">Uploaded files 23 June 2018</h1>

           
           







<span class="heading-secondary">Pre 16 files</span>
      
<table>
  <thead>
    <tr>
      <th width="260"scope="col">File type</th>
      <th width="150"class="" scope="col">UKPRN</th>
      <th width="150"class="" scope="col">Academic year</th>
      <th class="numeric" scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Reconcilliation statement</td>
      <td width="300"class="">12345678</td>
      <td width="300"class="">2018 to 2019</td>
      <td class="numeric"><div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">&nbsp;</label>
    </div>
  </td>
    </tr>
    
  </tbody>
  <tbody>
    <tr>
      
      <td>Reconcilliation statement</td>
      <td width="300"class="">12345678</td>
      <td width="300"class="">2018 to 2019</td>
      <td class="numeric"><div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">&nbsp;</label>
    </div>
  </td>
    </tr>
    
  </tbody>
  <tbody>
    <tr>
      
      <td>Reconcilliation statement</td>
      <td width="300"class="">12345678</td>
      <td width="300"class="">2018 to 2019</td>
      <td class="numeric"><div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">&nbsp;</label>
    </div>
  </td>
    </tr>
    
  </tbody>
  <tbody>
    <tr>
      
      <td>Reconcilliation statement</td>
      <td width="300"class="">12345678</td>
      <td width="300"class="">2018 to 2019</td>
      <td class="numeric"><div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">&nbsp;</label>
    </div>
  </td>
    </tr>
    
  </tbody>
  <tbody>
    <tr>
      
      <td>Reconcilliation statement</td>
      <td width="300"class="">12345678</td>
      <td width="300"class="">2018 to 2019</td>
      <td class="numeric"><div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">&nbsp;</label>
    </div>
  </td>
    </tr>
    
  </tbody>
  <tbody>
    <tr>
      
      <td>Reconcilliation statement</td>
      <td width="300"class="">12345678</td>
      <td width="300"class="">2018 to 2019</td>
      <td class="numeric"><div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">&nbsp;</label>
    </div>
  </td>
    </tr>
    
  </tbody>

  <tbody>
    <tr>
      
      <td>Reconcilliation statement</td>
      <td width="300"class="">12345678</td>
      <td width="300"class="">2018 to 2019</td>
      <td class="numeric"><div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">&nbsp;</label>
    </div>
  </td>
    </tr>
    
  </tbody>
  <tbody>
    <tr>
      
      <td>Reconcilliation statement</td>
      <td width="300"class="">12345678</td>
      <td width="300"class="">2018 to 2019</td>
      <td class="numeric"><div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">&nbsp;</label>
    </div>
  </td>
    </tr>
    
  </tbody>
</table>

<table>
  
  <tbody>
    
    
  </tbody>
</table>

   <nav role="navigation" aria-labelledby="parent-subsection" style="margin-bottom:60px">
                        <p><a href= "history1"></a>
                            </p><p><a href= "https://form.education.gov.uk/fillform.php?self=1&form_id=HR41uA2F8Dh&type=form&ShowMsg=1&form_name=Knowledge+centre+enquiry+form&noRegister=false&ret=%2Fmodule%2Fservices&noLoginPrompt=1"></a>
                           </p>
                    </nav>
                    <a href= "upload-list16.html" class="button">View files with errors</a>
              

  
       </div></div></div> 
      </div> 
      
    </div>
</div><br></div>

  </div>

</details>

</div>

</main>


{% endblock %}