{% extends "layouts/main.html" %}

{% block page_title %}
	Kanban (beta-v113-0-0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Kanban (beta-v113-0-0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Beta</span>
				Kanban (beta-v113-0-0)
			</h1>
			<p>If you would like to view a screenshot view of our user journeys, all on one page, view the <abbr title="Manage your education and skills funding">MYESF</abbr> <a href="../../beta/v113-0-0/site-map"><span class="bold">user journeys</span></a>.</p>
			<h2 class="heading-large">Public</h2>

			<div class="form-group">
				<span class="bold-medium">
					View latest funding
					<ul class="list-bullet">
						<li><a href="../../{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/start"><span class="bold-medium"><abbr title="Dedicated schools grant">DSG</abbr> & PE and sport (academy, local authority & school)</span></a></li>
					</ul>
				</span>
			</div>

			<div class="form-group">
				<span class="bold-medium">
					View national funding formula for schools
					<ul class="list-bullet">
						<li><a href="../../{{latestVersionNFF}}/not-signed-in/national-funding-formula/start">Parent/child journey (schools, MATs, LAs)</a></li>
						<li><a href="../../{{latestVersionNFF}}/not-signed-in/national-funding-formula/start_child">Child journey (schools)</a></li>
					</ul>
				</span>
			</div>
			
			<h2 class="heading-large">Signed-in</h2>

			<div class="form-group">
				<span class="bold-medium">
					Allocation statements
					<ul class="list-bullet">
						<li><a href="../../beta/v113-0-0/signed-in/external/allocation-statements/16-to-19/child/start"><span class="bold-medium">16 to 19 child view (all eligible institutions)</span></a></li>
						<li><a href="../../beta/v113-0-0/signed-in/external/allocation-statements/16-to-19/parent/start"><span class="bold-medium">16 to 19 parent view (local authority, <abbr title="Multi-academy trust">MAT</abbr>)</span></a></li>
						<li><a href="../../{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/start"><span class="bold-medium">Adults child view (academy & school)</span></a></li>
						<li><a href="../../{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/start"><span class="bold-medium"><abbr title="General annual grant">GAG</abbr> child view (<abbr title="Single academy trust">SAT</abbr>)</span></a></li>
						<li><a href="../../{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/start"><span class="bold-medium"><abbr title="General annual grant">GAG</abbr> parent view (<abbr title="Multi-academy trust">MAT</abbr>)</span></a></li>
					</ul>
				</span>
			</div>

			<div class="form-group">
				<span class="bold-medium">
					Document exchange
					<ul class="list-bullet">
						<li><a href="../../{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/start"><span class="bold-medium">External child view (academy & school)</span></a></li>
						<li><a href="../../{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/start"><span class="bold-medium">External parent view (local authority & <abbr title="Multi-academy trust">MAT</abbr>)</span></a></li>
						<li><a href="../../{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/start"><span class="bold-medium">Internal (<abbr title="Education and Skills Funding Agency">ESFA</abbr>)</span></a></li>
					</ul>
				</span>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
