{% extends "layout.html" %}

{% block page_title %}
	Kanban (beta-v109-0-0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Kanban (beta-v109-0-0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Beta</span>
				Kanban (beta-v109-0-0)
			</h1>
			<p>If you would like to view a screenshot view of our user journeys, all on one page, view the <abbr title="Manage your education and skills funding">MYESF</abbr> <a href="../../beta/v109-0-0/site-map"><span class="bold">user journeys</span></a>.</p>
			<h2 class="heading-large">Public</h2>

			<div class="form-group">
				<span class="bold-medium">View latest funding</span>
				<ul class="list-bullet">
					<li><a href="../../{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/start"><span class="bold-medium"><abbr title="Dedicated schools grant">DSG</abbr> & PE and sport (academy, local authority & school)</span></a></li>
				</ul>
			</div>

			<div class="form-group">
				<span class="bold-medium">View national funding formula for schools</span>
				<ul class="list-bullet">
					<li><a href="../../{{latestVersionNFF}}/not-signed-in/view-national-funding-formula-tables/2020-to-2021/start"><span class="bold-medium">Schools (academy & school)</span></a></li>
				</ul>
			</div>
			
			<h2 class="heading-large">Signed-in</h2>

			<div class="form-group">
				<span class="bold-medium">Allocation statements</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v109-0-0/signed-in/external/allocation-statements/adults/child/start"><span class="bold-medium">Adults child view (academy & school)</span></a></li>
					<li><a href="../../beta/v109-0-0/signed-in/external/allocation-statements/general-annual-grant/child/start"><span class="bold-medium"><abbr title="General annual grant">GAG</abbr> child view (<abbr title="Single academy trust">SAT</abbr>)</span></a></li>
					<li><a href="../../beta/v109-0-0/signed-in/external/allocation-statements/general-annual-grant/parent/start"><span class="bold-medium"><abbr title="General annual grant">GAG</abbr> parent view (<abbr title="Multi-academy trust">MAT</abbr>)</span></a></li>
				</ul>
			</div>

			<div class="form-group">
				<span class="bold-medium">Document exchange</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v109-0-0/signed-in/external/document-exchange/child/start"><span class="bold-medium">External child view (academy & school)</span></a></li>
					<li><a href="../../beta/v109-0-0/signed-in/external/document-exchange/parent/start"><span class="bold-medium">External parent view (local authority & <abbr title="Multi-academy trust">MAT</abbr>)</span></a></li>
					<li><a href="../../beta/v109-0-0/signed-in/internal/document-exchange/start"><span class="bold-medium">Internal (<abbr title="Education and Skills Funding Agency">ESFA</abbr>)</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
