{% extends "layout.html" %}

{% block page_title %}
	Sprint 6 (beta-v6.0.0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Sprint 6 (beta-v6.0.0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Private Beta</span>
				Sprint 6 (beta-v6.0.0)
			</h1>

			<div class="form-group">
				<span class="bold-medium">PE and Sport (Public)</span>
				<ul class="list-bullet">
					<li><a href="https://rawgit.com/daveyates/esfa-test/master/app/views/sept-2018/index.htm"><span class="bold-medium">PE and Sport (Journey start points on GOV.UK)</span></a></li>
					<li><a href="../../beta/v6-0-0/pe-public-sept-2018/find-org.html"><span class="bold-medium">PE and Sport (Find an organisation)</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
