{% extends "layouts/main.html" %}

{% block page_title %}
	Sprint 8 (beta-v8.0.0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Sprint 8 (beta-v8.0.0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Beta</span>
				Sprint 8 (beta-v8.0.0)
			</h1>

			<div class="form-group">
				<span class="bold-medium">Allocation statements</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v8-0-0/adult-funding-aaron/index.html"><span class="bold-medium">Adults (A/B testing - version A)</span></a></li>
					<li><a href="../../beta/v8-0-0/adult-funding-pdf-split/index.html"><span class="bold-medium">Adults (A/B testing - version B)</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
