{% extends "layouts/main.html" %}

{% block page_title %}
	Sprint 3 (beta-v3.0.0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Sprint 3 (beta-v3.0.0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Beta</span>
				Sprint 3 (beta-v3.0.0)
			</h1>

			<div class="form-group">
				<span class="bold-medium">Allocation statements</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v3-0-0/adult-for-FE/index.html"><span class="bold-medium">Adults (FE & ILP)</span></a></li>
					<li><a href="../../beta/v3-0-0/adult-for-roop/index.html"><span class="bold-medium">Adults (Roop)</span></a></li>
				</ul>
				<br>
				<span class="bold-medium">Skills funding service (live)</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v3-0-0/announcements/message"><span class="bold-medium">Announcements</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
