{% extends "layouts/main.html" %}

{% block page_title %}
	Sprint 4 (beta-v4.0.0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Sprint 4 (beta-v4.0.0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Beta</span>
				Sprint 4 (beta-v4.0.0)
			</h1>

			<div class="form-group">
				<span class="bold-medium">Allocation statements</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v4-0-0/adult-funding/index.html"><span class="bold-medium">Adults (3 streams)</span></a></li>
				</ul>
				<br>
				<span class="bold-medium">PE and sport (public)</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v4-0-0/pe-public/google.html"><span class="bold-medium">PE and sport (Google journey 1)</span></a></li>
					<li><a href="../../beta/v4-0-0/pe-public/google2.html"><span class="bold-medium">PE and sport (Google journey 2)</span></a></li>
					<li><a href="../../beta/v4-0-0/pe-public-gov-page/gov-page.html"><span class="bold-medium">PE and sport (GOV.UK page)</span></a></li>
					<li><a href="../../beta/v4-0-0/pe-public-greta/list-right.html"><span class="bold-medium">PE and sport (Greta)</span></a></li>
					<li><a href="../../beta/v4-0-0/pe-public-skills-search/google.html"><span class="bold-medium">PE and sport (public skills search)</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
