{% extends "layout.html" %}

{% block page_title %}
	Sprint 20 (beta-v20-0-0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Sprint 20 (beta-v20-0-0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Beta</span>
				Sprint 20 (beta-v20-0-0)
			</h1>
			<p>If you would like to view a screenshot view of our user journeys, all on one page, view the <abbr title="Manage your education and skills funding">MYESF</abbr> <a href="../../beta/v20-0-0/site-map"><span class="bold">user journeys</span></a>.</p>

			<div class="form-group">
				<span class="bold-medium">Allocation statements</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v20-0-0/signed-in/external/child/allocation-statements/adults/start"><span class="bold-medium">Adults</span></a></li>
				</ul>
			</div>

			<div class="form-group">
				<span class="bold-medium">Document exchange</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v20-0-0/signed-in/external/child/document-exchange/start"><span class="bold-medium">External child view (academy & school)</span></a></li>
					<li><a href="../../beta/v20-0-0/signed-in/external/parent/document-exchange/start"><span class="bold-medium">External parent view (LA & MAT)</span></a></li>
					<li><a href="../../beta/v20-0-0/signed-in/internal/document-exchange/start"><span class="bold-medium">Internal (ESFA)</span></a></li>
				</ul>
			</div>

			<div class="form-group">
				<span class="bold-medium">PE and sport</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v20-0-0/not-signed-in/pe-and-sport/start"><span class="bold-medium">Public view</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
