{% extends "layout.html" %}

{% block page_title %}
	Sprint 2 (beta-v2.0.0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Sprint 2 (beta-v2.0.0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Private Beta</span>
				Sprint 2 (beta-v2.0.0)
			</h1>

			<div class="form-group">
				<span class="bold-medium">Allocation Statements</span>
				<ul class="list-bullet">
					<li><a href="../../prototypes/adult-funding-start/dash-old"><span class="bold-medium">Adults</span></a></li>
				</ul>
				<br>
				<span class="bold-medium">Document Exchange</span>
				<ul class="list-bullet">
					<li><a href="../../prototypes/external-upload/index.html"><span class="bold-medium">External (MAT full journey)</span></a></li>
					<li><a href="../../prototypes/external-upload-sat/index.html"><span class="bold-medium">External (SAT full journey)</span></a></li>
					<li><a href="../../prototypes/admin-upload/idams.html"><span class="bold-medium">Internal (Documents to publish)</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
