{% extends "layouts/main.html" %}

{% block page_title %}
	Sprint 7 (beta-v7.0.0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Sprint 7 (beta-v7.0.0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Beta</span>
				Sprint 7 (beta-v7.0.0)
			</h1>

			<div class="form-group">
				<span class="bold-medium">PE and sport (public)</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v7-0-0/pe-public-sept-2018/journey-split.html"><span class="bold-medium">PE and sport (journey split)</span></a></li>
					<li><a href="../../beta/v7-0-0/pe-public-sept-2018/shirland-primary.html"><span class="bold-medium">PE and sport (search for "Shirland Primary School")</span></a></li>
					<li><a href="../../beta/v7-0-0/pe-public-sept-2018/derbyshire.html"><span class="bold-medium">PE and sport (search for "Derbyshire")</span></a></li>
					<li><a href="../../beta/v7-0-0/pe-public-sept-2018/derbyshire-maintained.html"><span class="bold-medium">PE and sport (search for "Derbyshire", filter by "maintained schools")</span></a></li>
					<li><a href="../../beta/v7-0-0/pe-public-sept-2018/st-josephs-search.html"><span class="bold-medium">PE and sport (search for "St. Josephs")</span></a></li>
					<li><a href="../../beta/v7-0-0/pe-public-sept-2018/st-josephs-search-rotherham.html"><span class="bold-medium">PE and sport (search for "St. Josephs", filter by "Rotherham")</span></a></li>
					<li><a href="../../beta/v7-0-0/pe-public-sept-2018/st-josephs-search-rotherham-academy.html"><span class="bold-medium">PE and sport (search for "St. Josephs", filter by "Rotherham" and "academy")</span></a></li>
					<li><a href="../../beta/v7-0-0/pe-public-sept-2018/st-josephs.html"><span class="bold-medium">PE and sport (search for "St. Josephs Catholic Primary School")</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
