{% extends "layout.html" %}

{% block page_title %}
	Sprint 16 (beta-v16-0-0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Sprint 16 (beta-v16-0-0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Private Beta</span>
				Sprint 16 (beta-v16-0-0)
			</h1>
			<p>If you would like to view a screenshot view of our user journeys visit the <a href="../../beta/v16-0-0/site-map"><span class="bold">screen flows page</span></a>.</p>

			<div class="form-group">
				<span class="bold-medium">Allocation Statements</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v16-0-0/allocation-statements/adults/start"><span class="bold-medium">Adults</span></a></li>
				</ul>
			</div>

			<div class="form-group">
				<span class="bold-medium">Document Exchange</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v16-0-0/external/child/document-exchange/start"><span class="bold-medium">External child view (School & Single Academy)</span></a></li>
					<li><a href="../../beta/v16-0-0/external/parent/document-exchange/start"><span class="bold-medium">External parent view (LA & MAT)</span></a></li>
					<li><a href="../../beta/v16-0-0/internal/document-exchange/start"><span class="bold-medium">Internal (ESFA)</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
