{% extends "layouts/main.html" %}

{% block page_title %}
	Sprint 1 (beta-v1.0.0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>Sprint 1 (beta-v1.0.0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Beta</span>
				Sprint 1 (beta-v1.0.0)
			</h1>

			<div class="form-group">
				<span class="bold-medium">Allocation statements</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v1-0-0/adult-allocation2/index.html"><span class="bold-medium">Adults (David)</span></a></li>
					<li><a href="../../beta/v1-0-0/adult-funding-mel/index.html"><span class="bold-medium">Adults (Mel)</span></a></li>
				</ul>
				<br>
				<span class="bold-medium">Document exchange</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v1-0-0/admin-upload2/dash7"><span class="bold-medium">Internal (dashboard and documents to publish)</span></a></li>
				</ul>
				<br>
				<span class="bold-medium">PE and sport (public)</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v1-0-0/pe/index.html"><span class="bold-medium">PE1</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
