{% extends "layout.html" %}

{% block page_title %}
	VLF post MVS (beta-v105-1-0)
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li><a href="/archive">Archive</a></li>
						<li>VLF post MVS (beta-v105-1-0)</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Beta</span>
				VLF post MVS (beta-v105-1-0)
			</h1>
			<p>If you would like to view a screenshot view of our user journeys, all on one page, view the <abbr title="Manage your education and skills funding">MYESF</abbr> <a href="../../beta/v105-1-0/site-map"><span class="bold">user journeys</span></a>.</p>

			<div class="form-group">
				<span class="bold-medium">View latest funding</span>
				<ul class="list-bullet">
					<li><a href="../../beta/v105-1-0/not-signed-in/view-latest-funding/latest/start"><span class="bold-medium">DSG & PE and sport (academy, LA & school)</span></a></li>
				</ul>
			</div>
			
		</div>

	</div>

</main>

{% endblock %}
