{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">Multi Academy: Romero</span>

           <h1 class="heading-xlarge">School Budget Share <br>2017 to 2018</h1>
            <h2 class="bold-medium">CASTERBRIDGE ACADEMY</h2>
        
            </div>
</div>


<br>
<span class="heading-secondary">Age Weighted Pupil Unit</span>
    
<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th class="numeric" scope="col">Pupils</th>
      <th class="numeric" scope="col">Rate</th>
      <th class="numeric" scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Key Stage 3</td>
      <td class="numeric">481</td>
      <td class="numeric">£3,758.00</td>
      <td class="numeric">£1,807,598.00</td>
    </tr>
    
    <tr>
      
      <td>Key Stage 4</td>
      <td class="numeric">288</td>
      <td class="numeric">£4,335.00</td>
      <td class="numeric">£1,248,480.00</td>
    </tr>
    <tr>
  </tbody>
</table>
<br>
<span class="heading-secondary">Deprivation</span>
    </div>
<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th class="numeric" scope="col">Pupils</th>
      <th class="numeric" scope="col">Rate</th>
      <th class="numeric" scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    
  
    <tr>
      
      <td>Secondary IDACI band F</td>
      <td class="numeric">221</td>
      <td class="numeric">£290.00</td>
      <td class="numeric">£64,089.95</td>
    </tr>
    <tr>
      
      <td>Secondary IDACI band E</td>
      <td class="numeric">154</td>
      <td class="numeric">£380.00</td>
      <td class="numeric">£59,659.93</td>
    </tr>
    <tr>
      
      <td>Secondary IDACI band D</td>
      <td class="numeric">20</td>
      <td class="numeric">£470.00</td>
      <td class="numeric">£9,400.07</td>
    </tr>
    
      <tr>
      <td>Secondary FSM</td>
      <td class="numeric">82</td>
      <td class="numeric">£1,050.00</td>
      <td class="numeric">£86,100.01</td>
    </tr>
  </tbody>
</table>
</div>
</div>

    </div>
</div> 
<br>  


<span class="heading-secondary">English as an Additional Launguage</span>
    </div>
<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th class="numeric" scope="col">Pupils</th>
      <th class="numeric" scope="col">Rate</th>
      <th class="numeric" scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Secondary EAL band 3</td>
      <td class="numeric">769</td>
      <td class="numeric">£1,100.00</td>
      <td class="numeric">£20,899.65</td>
    </tr>
    
  </tbody>
</table>
<br>

<span class="heading-secondary">Lump Sum</span>
    </div>
<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th class="numeric" scope="col"></th>
      <th class="numeric" scope="col"></th>
      <th class="numeric" scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Secondary lump sum</td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric">£126,400.00</td>
    </tr>
    
  </tbody>
</table>


    <hr>

<table>
  
  <tbody>
    <tr>
      
      <td class="bold-medium">Total pupil-led factors</td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric" class="bold-medium">£3,649,079.42</td>
    </tr>
    
  </tbody>
</table>
<table>
  
  <tbody>
    <tr>
      
      <td class="bold-medium">Total other factors</td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric">£126,400.00</td>
    </tr>
    
  </tbody>
</table>
<table>
  
  <tbody>
    <tr>
      
      <td class="bold-medium">Total school budget share</td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric">£3,775,479.42</td>
    </tr>
    
  </tbody>
</table>
<br>
<details>

  <summary><span class="summary">Compare with last years statement</span></summary><br>

  <div class="panel panel-border-narrow">

    <h1 class="heading-medium">School Budget Share 2017 to 2018</h1>
            
<span class="heading-secondary">Age Weighted Pupil Unit</span>
    
<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th class="numeric" scope="col">Pupils</th>
      <th class="numeric" scope="col">Rate</th>
      <th class="numeric" scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Key Stage 3</td>
      <td class="numeric">481</td>
      <td class="numeric">£3,758.00</td>
      <td class="numeric">£1,807,598.00</td>
    </tr>
    
    <tr>
      
      <td>Key Stage 4</td>
      <td class="numeric">288</td>
      <td class="numeric">£4,335.00</td>
      <td class="numeric">£1,248,480.00</td>
    </tr>
    <tr>
  </tbody>
</table>
<br>
<span class="heading-secondary">Deprivation</span>
    
<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th class="numeric" scope="col">Pupils</th>
      <th class="numeric" scope="col">Rate</th>
      <th class="numeric" scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    
  
    <tr>
      
      <td>Secondary IDACI band F</td>
      <td class="numeric">769</td>
      <td class="numeric">£290.00</td>
      <td class="numeric">£64,089.95</td>
    </tr>
    <tr>
      
      <td>Secondary IDACI band E</td>
      <td class="numeric">769</td>
      <td class="numeric">£380.00</td>
      <td class="numeric">£59,659.93</td>
    </tr>
    <tr>
      
      <td>Secondary FSM</td>
      <td class="numeric">769</td>
      <td class="numeric">£1,050.00</td>
      <td class="numeric">£86,100.01</td>
    </tr>
  </tbody>
</table>



    

<br>  


<span class="heading-secondary">English as an Additional Launguage</span>
    
<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th class="numeric" scope="col">Pupils</th>
      <th class="numeric" scope="col">Rate</th>
      <th class="numeric" scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Secondary EAL band 3</td>
      <td class="numeric">769</td>
      <td class="numeric">£1,100.00</td>
      <td class="numeric">£20,899.65</td>
    </tr>
    
  </tbody>
</table>
<br>

<span class="heading-secondary">Lump Sum</span>
    
<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th class="numeric" scope="col"></th>
      <th class="numeric" scope="col"></th>
      <th class="numeric" scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Secondary lump sum</td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric">£126,400.00</td>
    </tr>
    
  </tbody>
</table>
<hr>

<table>
  
  <tbody>
    <tr>
      
      <td class="bold-medium">Total pupil-led factors</td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric" class="bold-medium">£3,649,079.42</td>
    </tr>
    
  </tbody>
</table>
<table>
  
  <tbody>
    <tr>
      
      <td class="bold-medium">Total other factors</td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric">£126,400.00</td>
    </tr>
    
  </tbody>
</table>
<table>
  
  <tbody>
    <tr>
      
      <td class="bold-medium">Total school budget share</td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric">£3,775,479.42</td>
    </tr>
    
  </tbody>
</table>

    

  
       </div></div></div> 
      </div> 
      
    </div>
</div><br></div>

  </div>

</details>

</div>

</main>


{% endblock %}