{% extends "layout.html" %}

{% block page_title %}
    Recoupment reports
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include version + "/includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <!-- Account Management (IDAMS) - START -->
    {% include version + "/includes/idams-account-header.html" %}
    <!-- Account Management (IDAMS) - END -->

    <div class="grid-row">
    
        <div class="column-full">
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="dashboard">Home</a></li>
                        <li>Recoupment reports</li>
                    </ol>
                </nav>
            </div>

                <h1 class="heading-xlarge govuk-!-margin-bottom-8">Recoupment reports</h1>

                <div class="form-group">

                <div class="govuk-accordion" data-module="accordion" id="accordion-default">          

                    <div class="govuk-accordion__section">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Recoupment from the dedicated
                                        schools grant (DSG) 2020 to 2021</span>
                                    <span class="govuk-accordion__heading-number-right">
                                        £40,864,703.42
                                    </span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £360,710
                                    <br>
                                </span>
                                Published: 1 April 2021 <strong class="govuk-tag govuk-bgblue">Latest</strong>
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content govuk-!-padding-left-6" aria-labelledby="accordion-default-heading-1">

                            <div class="funding-block">
                                <div class="funding-left-container">
                                    <h4 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="recoupment-report-real">Recoupment calculations</a></h4>
                                </div>
                                <div class="funding-right-container">
                                </div>
                            </div>

                            <div class="funding-block">
                                <div class="funding-left-container">
                                    <h4 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="recoupment-report-real#adjustments">Anomalies</a></h4>
                                </div>
                                <div class="funding-right-container">
                                </div>
                            </div>

                            <div class="funding-block">
                                <div class="funding-left-container">
                                    <h4 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="recoupment-report-real#phasetotals">Phase totals</a></h4>
                                </div>
                                <div class="funding-right-container">
                                </div>
                            </div>

                            <h3 class="heading-small heading-guidance govuk-!-margin-top-0">Recoupment history</h3>
                            <p><a href="recoupment-history">View history of recoupment</a></p>
                            <h3 class="heading-small heading-guidance govuk-!-margin-top-0">Explore the topic</h3>
                            <p class="govuk-!-margin-bottom-4"><a href="https://www.gov.uk/government/publications/academies-and-dedicated-schools-grant-recoupment/academies-and-dedicated-schools-grant-2021-to-2022-calculation-of-recoupment">Calculation of recoupment</a></p>
                        </div>
                
                    </div>
                    <div class="govuk-accordion__section">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Recoupment from the dedicated
                                        schools grant (DSG) 2020 to 2021</span>
                                    <span class="govuk-accordion__heading-number-right">
                                        £38,128,392.92
                                    </span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £360,710
                                    <br>
                                </span>
                                Published: 4 March 2021
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content govuk-!-padding-left-6" aria-labelledby="accordion-default-heading-1">

                            <div class="funding-block">
                                <div class="funding-left-container">
                                    <h4 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="recoupment-report-real">Recoupment calculations</a></h4>
                                </div>
                                <div class="funding-right-container">
                                </div>
                            </div>

                            <div class="funding-block">
                                <div class="funding-left-container">
                                    <h4 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="recoupment-report-real#adjustments">Anomalies</a></h4>
                                </div>
                                <div class="funding-right-container">
                                </div>
                            </div>

                            <div class="funding-block">
                                <div class="funding-left-container">
                                    <h4 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="recoupment-report-real#phasetotals">Phase totals</a></h4>
                                </div>
                                <div class="funding-right-container">
                                </div>
                            </div>

                            <h3 class="heading-small heading-guidance govuk-!-margin-top-0">Recoupment history</h3>
                            <p><a href="recoupment-history">View history of recoupment</a></p>
                            <h3 class="heading-small heading-guidance govuk-!-margin-top-0">Explore the topic</h3>
                            <p class="govuk-!-margin-bottom-4"><a href="https://www.gov.uk/government/publications/academies-and-dedicated-schools-grant-recoupment/academies-and-dedicated-schools-grant-2021-to-2022-calculation-of-recoupment">Calculation of recoupment</a></p>
                        </div>
                
                    </div>
                    <div class="govuk-accordion__section">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Recoupment from the dedicated
                                        schools grant (DSG) 2020 to 2021</span>
                                    <span class="govuk-accordion__heading-number-right">
                                        £37,202,043.32
                                    </span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £360,710
                                    <br>
                                </span>
                                Published: 1 January 2021
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content govuk-!-padding-left-6" aria-labelledby="accordion-default-heading-1">

                            <div class="funding-block">
                                <div class="funding-left-container">
                                    <h4 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="recoupment-report-real">Recoupment calculations</a></h4>
                                </div>
                                <div class="funding-right-container">
                                </div>
                            </div>

                            <div class="funding-block">
                                <div class="funding-left-container">
                                    <h4 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="recoupment-report-real#adjustments">Anomalies</a></h4>
                                </div>
                                <div class="funding-right-container">
                                </div>
                            </div>

                            <div class="funding-block">
                                <div class="funding-left-container">
                                    <h4 class="govuk-heading-l govuk-!-margin-bottom-0"><a href="recoupment-report-real#phasetotals">Phase totals</a></h4>
                                </div>
                                <div class="funding-right-container">
                                </div>
                            </div>

                            <h3 class="heading-small heading-guidance govuk-!-margin-top-0">Recoupment history</h3>
                            <p><a href="recoupment-history">View history of recoupment</a></p>
                            <h3 class="heading-small heading-guidance govuk-!-margin-top-0">Explore the topic</h3>
                            <p class="govuk-!-margin-bottom-4"><a href="https://www.gov.uk/government/publications/academies-and-dedicated-schools-grant-recoupment/academies-and-dedicated-schools-grant-2021-to-2022-calculation-of-recoupment">Calculation of recoupment</a></p>
                        </div>
                
                    </div>
                </div>



            </div>

            <details class="visuallyhidden">
                <summary>
                    <span class="summary">...</span>
                </summary>
                
                <div class="panel panel-border-narrow">
                    <p>...</p>             
                </div>

            </details>

        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- GOV.UK Design System accordion -->
<script src="/public/javascripts/{{version}}/accordion.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
