{% extends "layout.html" %}

{% block page_title %}
    Adult Education Budget 2018 to 2019
{% endblock %}

{% block content %}

<style>

    table th, table td {
        border: none;
    }
    .border-bottom {
        border-bottom: 1px solid #bfc1c3;
    }
    .related {
        border-top-width: 2px;
    }
        
</style>

<main role="main" id="content">

    <!-- Account Management (IDAMS) - START -->
    {% include "includes/idams-account-header.html" %}
    <!-- Account Management (IDAMS) - END -->

    <div id="global-breadcrumb" class="breadcrumbs">
        <nav>
            <ol>
                <li><a href="dashboard">Home</a></li>
                <li><a href="allocation-statement-list">Allocation statements</a></li>
                <li>Adult Education Budget 2018 to 2019</li>
            </ol>
        </nav>
    </div>

    <div class="grid-row">

        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Adult Education Budget 2018 to 2019</h1>
            <h1 class="lede">Total 2018 to 2019 allocation
                <p class="heading-large" style="margin-top: 5px;">£4,725,425</p>
            </h1>
            <br>
            <!-- <p>
                Related methodology:
                <ul class="list list-bullet">
                    <li>Point 1</li>
                    <li>Point 2</li>
                    <li>Point 3</li>
                </ul>
            </p> -->
            <p>
                <a class="bold" href="#">Download this breakdown (ODF, 276KB)</a>
                <!-- <br>
                <a class="bold" href="#">Download this breakdown (PDF, 285KB)</a>
                <br> -->
            </p>
            <p>Email <a href="#">pds.mailbox@education.gov.uk</a> to ask for a different format.</p>
            <br>
            <h2 class="heading-small">Adult Education Budget Grant</h2>

            <table>
                <tr class="border-bottom">
                    <td>Baseline</td>
                    <td class="numeric">£2,994,841</td>
                </tr>
                <tr >
                    <td>August 2018 to March 2019</td>
                    <td class="numeric">£1,316,053</td>
                </tr>
                <tr>
                    <td>April 2019 to July 2019</td>
                    <td class="numeric">£1,678,788</td>
                </tr>
                <tr>
                    <td>Total Adult Education Budget Grant</td>
                    <td class="numeric">£2,994,841</td>
                </tr>
            </table>

            <br>
            <h2 class="heading-small">Adult Education Budget contract for service</h2>

            <table>
                <tr class="border-bottom">
                    <td>Baseline</td>
                    <td class="numeric">£230,679</td>
                </tr>
                <tr>
                    <td>August 2018 to March 2019</td>
                    <td class="numeric">£1,654,738</td>
                </tr>
                <tr>
                    <td>April 2019 to July 2019</td>
                    <td class="numeric">£75,846</td>
                </tr>

                <tr>
                    <td >Total Adult Education Budget contract for service</td>
                    <td class="numeric">£1,730,584</td>
                </tr>
            </table>

            <br>

            <table>
                <tr>
                    <td class="bold">Total 2018 to 2019 allocation</td>
                    <td class="numeric bold">£4,725,425</td>
                </tr>
            </table>

        </div>

        <div class="related-container">
            <aside class="related" id="related">
                
                <div class="inner group related-subsection">
                    <h2 id="parent-subsection">Related content</h2>
                    <nav role="navigation" aria-labelledby="parent-subsection">
                        <ul>
                            <li><a href="#" rel="external" style="line-height: 20px;" target="_blank" title="This will open in a new window">How was this allocation calculated?</a></li>
                            <li><a href="https://www.gov.uk/guidance/sfa-funding-rules" rel="external" style="line-height: 20px; margin-top: 10px;" target="_blank" title="This will open in a new window">Funding and performance management rules</a></li>
                        </ul>
                    </nav>
                </div>

            </aside>
        </div>

    </div>

</main>

{% endblock %}