{% extends "layouts/main.html" %}

{% block page_title %}
    Allocation statements
{% endblock %}

{% block content %}

<!-- Added by Aaron to make the filtering work (START) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/public/javascripts/{{version}}/as-filters-and-checkboxes.js"></script>
<!-- Added by Aaron to make the filtering work (END) -->

<main role="main" id="content">
    
    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <!-- Account Management (IDAMS) - START -->
    {% include "includes/idams-account-header.html" %}
    <!-- Account Management (IDAMS) - END -->
    
    <div class="grid-row">

        <div class="column-full">

            <div id="global-breadcrumb" class="breadcrumbs">
                <nav>
                    <ol>
                        <li><a href="dashboard">Home</a></li>
                        <li>Allocation statements</li>
                    </ol>
                </nav>
            </div>

            <div class="form-group">
                <h1 class="heading-xlarge no-margin-top">Allocation statements</h1>
                <p>If you need a statement in a different format, email <a href="#">pds.mailbox@education.gov.uk</a>.</p>
            </div>

        </div>

    </div>

    <div class="grid-row">
        
        <div class="column-one-third">
            
            <div>
                <fieldset class="filter">
                    <legend class="visuallyhidden">Filter by type</legend>
                    
                    <div class="js-filter-collapsible-collections documentTypeFilter">
                        <section id="type-filter" class="js-filter-collapsible js-open">
                            <input type="hidden" name="queryFilterOpenDocumentType" id="queryFilterOpenDocumentType" value="True">
                            <header class="js-filter-collapsible-header">
                                <h3 id="documentType" class="filters-headings heading-small">Filter by type</h3>
                            </header>
                            
                            <div class="js-filter-collapsible-content">
                                <section class="toggled-adult-funding-content group">
                                    <ul>
                                        <li class="gds-multiple-choice multiple-choice">
                                            <input id="filter-adult" rel="01" name="queryFilterDocumentType" type="checkbox" value="01">
                                            <label class="block" for="filter-adult">
                                                Adult education budget (2)
                                            </label>
                                        </li>
                                        <li class="gds-multiple-choice multiple-choice">
                                            <input id="filter-loans" rel="02" name="queryFilterDocumentType" type="checkbox" value="02">
                                            <label class="block" for="filter-loans">
                                                Advanced learner loans (2)
                                            </label>
                                        </li>
                                        <li class="gds-multiple-choice multiple-choice">
                                            <input id="filter-carryin" rel="03" name="queryFilterDocumentType" type="checkbox" value="03">
                                            <label class="block" for="filter-carryin">
                                                Carry in apprenticeships (1)
                                            </label>
                                        </li>
                                    </ul>
                                </section>
                            </div>

                        </section>
                    </div>

                </fieldset>
                <fieldset class="filter">
                    <legend class="visuallyhidden">Filter by year</legend>
                    
                    <div class="js-filter-collapsible-collections documentTypeFilter">
                        <section id="year-filter" class="js-filter-collapsible js-open">
                            <input type="hidden" name="queryFilterOpenDocumentType" id="queryFilterOpenDocumentType" value="True">
                            <header class="js-filter-collapsible-header">
                                <h3 id="documentType" class="filters-headings heading-small">Filter by year</h3>
                            </header>
                            
                            <div class="js-filter-collapsible-content">
                                <section class="toggled-adult-funding-content group">
                                    <ul>
                                        <li class="gds-multiple-choice multiple-choice">
                                            <input id="filter-2018" rel="01" name="years" type="checkbox" value="01">
                                            <label class="block" for="filter-2018">
                                                2018 to 2019 (5)
                                            </label>
                                        </li>
                                        <li class="gds-multiple-choice multiple-choice">
                                            <input id="filter-2017" rel="03" name="years" type="checkbox" value="02">
                                            <label class="block" for="filter-2017">
                                                    2017 to 2018 (4)
                                            </label>
                                        </li>
                                    </ul>
                                </section>
                            </div>

                        </section>
                    </div>

                </fieldset>
            </div>

        </div>

        <div class="column-two-thirds">
            
            <div id="tab1" class="main-table">
                <ul>
                    <li class="new tab1 tab as-tab 2018 carryin payment-section">
                        <h2 class="bold-small">
                            <a href="carry-in-apprenticeship-details">Carry-in apprenticeship for 2018 to 2019</a>
                            <span class="float-right">£1,474,183</span>
                        </h2>
                        <span>10 June 2019</span>
                        <strong class="govuk-tag govuk-bgred">New</strong>
                    </li>
                    <li class="updated tab1 tab as-tab 2018 adult payment-section">
                        <h2 class="bold-small">
                            <a href="adult-education-budget-details-v2">Adult education budget for 2018 to 2019</a>
                            <span class="float-right">£3,225,520</span>
                        </h2>
                        <span>15 March 2019 version 2</span>
                        <strong class="govuk-tag govuk-bgred">Updated</strong>
                    </li>
                    <li class="tab1 tab as-tab 2018 adult payment-section">
                        <h2 class="bold-small">
                            <a href="adult-education-budget-details-v1">Adult education budget for 2018 to 2019</a>
                            <span class="float-right">£4,725,425</span>
                        </h2>
                        <span>11 March 2019 version 1</span>
                    </li>
                    <li class="updated tab1 tab as-tab loans payment-section 2018">
                        <h2 class="bold-small">
                            <a href="advanced-learner-loan-details-v2">Advanced learner loans for 2018 to 2019</a>
                            <span class="float-right">£568,805</span>
                        </h2>
                        <span>9 March 2019 version 2</span>
                        <strong class="govuk-tag govuk-bgred">Updated</strong>
                    </li>
                    <li class="tab1 tab as-tab loans payment-section 2018">
                        <h2 class="bold-small">
                            <a href="advanced-learner-loan-details-v1">Advanced learner loans for 2018 to 2019</a>
                            <span class="float-right">£528,805</span>
                        </h2>
                        <span>2 March 2019 version 1</span>
                    </li>
                    <li class="tab1 tab as-tab active 2017">
                        <h4 class="bold-small card-text">
                            <a class="pdf-open-link" href="../../../../../../public/documents/Example_Allocation_Statement.pdf" rel="external" target="_blank" title="This PDF will open in a new window">Non-levy apprenticeship funding 2017 to 2018 (PDF, 285KB)</a>
                        </h4>
                        <p class="card-text">
                            Funding for apprentices on non-levy training.
                            <br>
                            September 2017 version 2
                        </p>
                    </li>
                    <li class="tab1 tab as-tab active 2017">
                        <h4 class="bold-small">
                            <a class="pdf-open-link" href="../../../../../../public/documents/Example_Allocation_Statement.pdf" rel="external" target="_blank" title="This PDF will open in a new window">Non-levy apprenticeship funding 2017 to 2018 (PDF, 245KB)</a>
                        </h4>
                        <p class="card-text">
                            Funding for apprentices on non-levy training.
                            <br>
                            September 2017 version 1
                        </p>
                    </li>
                    <li class="tab1 tab as-tab active 2017">
                        <h4 class="bold-small card-text">
                            <a class="pdf-open-link" href="../../../../../../public/documents/Example_Allocation_Statement.pdf" rel="external" target="_blank" title="This PDF will open in a new window">Allocation statement for 2017 to 2018 (PDF, 221KB)</a>
                        </h4>
                        <p class="card-text">
                            Adult education budget (AEB), 16 to 18 traineeships and loans facilities funding allocation statement.
                            <br>
                            August 2017 version 1
                        </p>
                    </li>
                    <li class="tab1 tab as-tab active 2017">
                        <h4 class="bold-small card-text">
                            <a class="pdf-open-link" href="../../../../../../public/documents/Example_Allocation_Statement.pdf" rel="external" target="_blank" title="This PDF will open in a new window">Carry-in for 2017 to 2018 (PDF, 221KB)</a>
                        </h4>
                        <p class="card-text">
                            Funding for apprentices who started their training before 1 May 2017.
                            <br>
                            August 2017 version 1
                        </p>
                    </li>
                </ul>  
            </div>

            <div class="pager">
                
                <div class="pager-summary">
                    Showing 1 to 9 of 9 allocation statements
                </div>

            </div>

            <div class="form-group direction-rtl">
                <a class="app-c-back-to-top dont-print" href="#content">
                    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>
                    Back to top
                </a>
            </div>

        </div>

    </div>

</main>

<!-- JavaScript -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<script src="/public/javascripts/lifted/jquery-ui.js"></script>
<script src="/public/javascripts/lifted/jquery.unobtrusive-ajax.js"></script>
<script src="/public/javascripts/lifted/application.js"></script>
<script src="/public/javascripts/lifted/bind.js"></script>
<script src="/public/javascripts/lifted/details.polyfill.js"></script>
<script src="/public/javascripts/lifted/govuk-template.js"></script>
<script src="/public/javascripts/lifted/HeaderFooterOnly.js"></script>
<script src="/public/javascripts/lifted/selection-buttons.js"></script>
<script src="/public/javascripts/lifted/pds.js"></script>

<!-- Filters for the document list -->
<script src="/public/javascripts/{{version}}/filters-and-checkboxes.js"></script>
<!-- Sorting for the document list -->
<script src="/public/javascripts/{{version}}/sorting-fileshare.js"></script>

{% endblock %}
