{% extends "layout.html" %}

{% block page_title %}
    Carry-in apprenticeship for 2018 to 2019
{% endblock %}

{% block content %}

<style>

    strong {
        font-weight: 600;
    }
    .no-padding {
        padding: 0;
    }
    table th, table td {
        border: none;
    }
    .border-bottom {
        border-bottom: 1px solid #bfc1c3;
    }
    .float-right {
        float: right;
    }
    .related {
        border-top-width: 2px;
    }
    a:visited {
        text-decoration: none;
        color: #005ea5;
    }
    .breadcrumbs a {
        color: black;
    }
    .related {
        margin-top: 60px;
    }
        
</style>

<main role="main" id="content">

    <div class="account-master">
    
        <div class="grid-row account-details">
    
            <div class="column-full controls account-div">
    
                <div class="account-name">
                    <span class="name">Casterbridge College (UKPRN: 12345678)</span>
                </div>

                <div class="account-features">
                    <span class="account-link"><a href="#">Settings</a></span>
                    <span class="account-link"><a href="#">Sign out</a></span>
                </div>

            </div>
    
        </div>
    
    </div>

    <div class="column-two-thirds no-padding">

        <div id="global-breadcrumb" class="breadcrumbs">
            <nav>
                <ol>
                    <li><a href="dashboard">Home</a></li>
                    <li><a href="allocation-statement-list">Allocation statements</a></li>
                    <li>Carry-in apprenticeship for 2018 to 2019</li>
                </ol>
            </nav>
        </div>

        <h1 class="heading-xlarge">Carry-in apprenticeship for 2018 to 2019</h1>
        <h1 class="lede">Total 2018 to 2019 allocation
            <p class="heading-large" style="margin-top: 5px;">£1,474,183</p>
        </h1>
        <br>
        <!-- <p>
            Related methodology:
            <ul class="list list-bullet">
                <li>Point 1</li>
                <li>Point 2</li>
                <li>Point 3</li>
            </ul>
        </p> -->
        <p>
            <a class="bold" href="#">Download this breakdown (ODF, 276KB)</a>
            <!-- <br>
            <a class="bold" href="#">Download this breakdown (PDF, 285KB)</a>
            <br> -->
        </p>
        <p>Email <a href="#">pds.mailbox@education.gov.uk</a> to ask for a different format.</p>
        <br>
        <h2 class="heading-small">Non-Levy 16-18 Apprenticeship Carry-in</h2>
        
        <table>
            <tr class="border-bottom">
                <td>Baseline</td>
                <td class="float-right">£260,710</td>
                <td></td>
            </tr>
            <tr>
                <td>August 2018 to March 2019</td>
                <td class="float-right">£278,653</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2019 to July 2019</td>
                <td class="float-right">£162,463</td>
                <td class="numeric"> </td>
            </tr>
            <tr>
                <td>Total Non-Levy 16-18 Apprenticeship Carry-in</td>
                <td class="float-right">£441,116</td>
                <td class="numeric"></td>
            </tr>
        </table>

        <br>
        <h2 class="heading-small">Non-Levy Adult Apprenticeship Carry-in</h2>
        
        <table>
            <tr class="border-bottom">
                <td>Baseline</td>
                <td class="float-right">£123,970</td>
            </tr>
            <tr>
                <td>August 2018 to March 2019</td>
                <td class="float-right">£80,661</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2019 to July 2019</td>
                <td class="float-right">£47,028</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>Total Non-Levy Adult Apprenticeship Carry-in</td>
                <td class="float-right">£127,689</td>
                <td class="numeric"></td>
            </tr>
        </table>

        <br>
        <h2 class="heading-small">Pre May 16-18 Carry-in</h2>
        
        <table>
            <tr class="border-bottom">
                <td>Baseline</td>
                <td class="float-right">£273,970</td>
            </tr>
            <tr>
                <td>August 2018 to March 2019</td>
                <td class="float-right">£290,661</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2019 to July 2019</td>
                <td class="float-right">£37,028</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>Total Pre May 16-18 Carry-in</td>
                <td class="float-right">£327,689</td>
                <td class="numeric"></td>
            </tr>
        </table>

        <br>
        <h2 class="heading-small">Pre May Adult Carry-in</h2>

        <table>
            <tr class="border-bottom">
                <td>Baseline</td>
                <td class="float-right">£523,970</td>
            </tr>
            <tr>
                <td>August 2018 to March 2019</td>
                <td class="float-right">£330,661</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2019 to July 2019</td>
                <td class="float-right">£247,028</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>Total Pre May Adult Carry-in</td>
                <td class="float-right">£577,689</td>
                <td class="numeric"></td>
            </tr>
        </table>

        <br>
        
        <table>
            <tr>
                <td class="bold">Total 2018 to 2019 allocation</td>
                <td class="float-right bold">£1,474,183</td>
                <td class="numeric"></td>
            </tr>
        </table>

    </div>

    <div class="related-container">
        <aside class="related" id="related">
            
            <div class="inner group related-subsection">
                <h2 id="parent-subsection">Related content</h2>
                <nav role="navigation" aria-labelledby="parent-subsection">
                    <ul>
                        <li><a href="#" rel="external" style="line-height: 20px;" target="_blank" title="This will open in a new window">How was this allocation calculated?</a></li>
                        <li><a href="https://www.gov.uk/guidance/sfa-funding-rules" rel="external" style="line-height: 20px; margin-top: 10px;" target="_blank" title="This will open in a new window">Funding and performance management rules</a></li>
                    </ul>
                </nav>
            </div>

        </aside>
    </div>

</main>

{% endblock %}
