<!-----------------------------------New PAGE --------------------------------------->
{% extends "layout.html" %}
{% block page_title %}
Manage your education and skills funding prototype - View your sub-services
{% endblock %}
{% block content %}
<main id="content" role="main">
    <div class="grid-row"></div>
</div>
</div>
</div>
<br><br>
<div class="grid-row">
    <div class="column-two-thirds">
        
        <div class="form-block">
            <h1 class="heading-xlarge">User roles and permissions</h1>
        </div>
        
        <p class="lede">These are the user roles available in the Manage your education and skills funding service.</p>
    </div>
</div>
<i style="color: red;">Please note: The below accordion is of the old design. All content is up to date, and the service includes the latest 
    version of the accordion component following design and developer handovers and discussions.</i>
    <!-- Please note, this is an old accordio style which is not reflective of 
        the new service. Developers have implemented the
        new version of the accordion -->
        <div class="grid-row">
            <div class="column-two-thirds">   
            </div><br>   
        </div>
    </div>
    <div class="accordion">
        <div class="accordion-section">
            <div class="accordion-section-header">
                <h2 class="heading-medium">Sign contracts and agreements</h2>
            </div>
            <div class="accordion-section-body">
                <br>
                <ul class="list">This allows you to:
                    <br><br>
                    <li>• view contracts and agreements</li>
                    <li>• sign contracts and agreements</li>
                    <li>• raise queries against individual 
                        contracts</li>
                        <li>• automatically receive email alerts</li>
                    </ul>
                </div>
            </div>
            <div class="accordion-section">
                <div class="accordion-section-header">
                    <h2 class="heading-medium">Sign funding 
                        claims</h2>
                    </div>
                    <div class="accordion-section-body">
                        <br>
                        <ul class="list">This allows you to:
                            <br><br>
                            <li>• view funding claims and reconciliation 
                                statements</li>
                                <li>• sign funding claims</li>
                                <li>• automatically receive email alerts</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-section-header">
                            <h2 class="heading-medium">Submit subcontractor 
                                declarations</h2>
                            </div>
                            <div class="accordion-section-body">
                                <br>
                                <ul class="list">This allows you to:
                                    <br><br>
                                    <li>• view subcontractor declarations 
                                        history</li>
                                        <li>• submit subcontractor declarations</li>
                                        <li>• automatically receive email alerts</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="accordion-section">
                                <div class="accordion-section-header">
                                    <h2 class="heading-medium">View allocation 
                                        statements</h2>
                                    </div>
                                    <div class="accordion-section-body">
                                        <br>
                                        <ul class="list">This allows you to:
                                            <br><br>
                                            <li>• view allocation statements</li>
                                            <li>• automatically receive email alerts</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="accordion-section">
                                    <div class="accordion-section-header">
                                        <h2 class="heading-medium">View contracts and 
                                            agreements</h2>
                                        </div>
                                        <div class="accordion-section-body">
                                            <br>
                                            <ul class="list">This allows you to:
                                                <br><br>
                                                <li>• view contracts and agreements</li>
                                                <li>• raise queries against individual 
                                                    contracts</li>
                                                    <li>• automatically receive email alerts</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="accordion-section">
                                            <div class="accordion-section-header">
                                                <h2 class="heading-medium">View funding claims 
                                                    and reconciliation statements</h2>
                                                </div>
                                                <div class="accordion-section-body">
                                                    <br>
                                                    <ul class="list">This allows you to:
                                                        <br><br>
                                                        <li>• view funding claims and reconciliation 
                                                            statements</li>
                                                            <li>• automatically receive email alerts</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="accordion-section">
                                                    <div class="accordion-section-header">
                                                        <h2 class="heading-medium">View payment 
                                                            history</h2>
                                                        </div>
                                                        <div class="accordion-section-body">
                                                            <br>
                                                            <ul class="list">This allows you to:
                                                                <br><br>
                                                                <li>• view payment history</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-section">
                                                        <div class="accordion-section-header">
                                                            <h2 class="heading-medium">View previous 
                                                                subcontractor declarations</h2>
                                                            </div>
                                                            <div class="accordion-section-body">
                                                                <br>
                                                                <ul class="list">This allows you to:
                                                                    <br><br>
                                                                    <li>• View previous subcontractor 
                                                                        declarations</li>
                                                                    </ul>
                                                                </div>
                                                            </div>                                                                                                                 
                                                        </div>

                                                        <h2 class="heading-medium">Requesting roles</h2>
                                                        <p>To access these roles, you will need to have an account with <a href="https://test-profile.signin.education.gov.uk/register" rel="external" target="_blank" title="This will open in a new window"> DfE Sign-in (opens in a new tab)</a>.</p>
                                                    </main>
                                                    {% endblock %}
                                                    
                                                    <!-----------------------------------OLD PAGE --------------------------------------->
                                                    
                                                    <!-- <main role="main" id="content">
                                                        
                                                        <div class="grid-row">
                                                            
                                                            <div class="column-full">                
                                                                <a href="#" class="link-back" onclick="goBack()">Back</a>
                                                            </div>
                                                            
                                                            <div class="column-full">
                                                                
                                                                <div class="form-block">
                                                                    <h1 class="heading-xlarge">
                                                                        User roles and permissions
                                                                    </h1>
                                                                    <p class="lede">These are the roles available to use in Manage your education and skills funding (<abbr title="Manage your education and skills funding">MYESF</abbr>).</p>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    
                                                                    <table class="document-list">
                                                                        <caption class="govuk-table__caption visuallyhidden">External user roles and permissions</caption>
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                </th>
                                                                                <th>
                                                                                    Apprenticeships editor
                                                                                </th>
                                                                                <th>
                                                                                    Contract authoriser
                                                                                </th>
                                                                                <th>
                                                                                    Contract manager
                                                                                </th>                                   
                                                                                <th>
                                                                                    Contract user
                                                                                </th>
                                                                                <th>
                                                                                    Data returns and claims authoriser
                                                                                </th>  
                                                                                <th>
                                                                                    Document exchange user
                                                                                </th>                                                      
                                                                                <th>
                                                                                    Provider support user
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Age reports</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>All document exchange functions</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Complete subcontractor declarations</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Raise queries</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Receive comms from MYESF</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Sign contracts</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Sign funding claims</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>View adult allocations</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>View the Apprenticeship service tile</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>View contracts and funding claims</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>View payment history</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>View subcontractor declarations history</td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                                <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <h2 class="heading-medium">Requesting roles</h2>
                                                                    <p>An approver at your organisation will be able to provide you with access to this service. You may have more than one approver in your organisation.</p>
                                                                    <p>If you do not know an approver at your organisation you can find out through <a href="/{{version}}/dfe-sign-in/start-page">DfE Sign-in</a>.</p>
                                                                </div>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                    </main>
                                                    
                                                    JavaScript (START)
                                                    <script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
                                                    GOV.UK Design System tabs
                                                    <script src="/public/javascripts/{{version}}/tabs.js"></script>
                                                    Custom global behaviour
                                                    <script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
                                                    JavaScript (END) -->
                                                    
                                                    