{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

 <style type="text/css">
     
     @media (min-width: 641px){
.column-third, .column-one-third {
    width: 16.33333%;
}}
 </style>

<main role="main" id="content">
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">Warwickshire college</span>

           <h1 class="heading-xlarge">Subcontractor declaration history </h1>

            </div>
            </div>
</div>
       
    

<div class="grid-row mini-card">

    <div class="column-two-thirds">
<p class="heading-medium">Declarations 2017 to 2018</p>
    </div>
    <div class="column-one-third">
       <span class="heading-medium">Total</span>
    </div>

   </div> 
    <span class="heading-secondary">Declaration submitted on 28 January 2018</span>
<div class="grid-row mini-card">


    <div class="column-two-thirds">
        <ul>
            
            <li>Submitted by Jane Jones at 12:21pm</li>
            <li>25 subcontractors declared</li>
            <li> &nbsp;</li>

        </ul>

    </div>
    
    

    <div class="column-one-third">
       <span class="heading-totals">£395,000.00</span>
       <span class="heading-totals"></span>
    </div>

    <div class="column-one-third">
       <a href="review3">View details</a>
    </div>


    </div>
</div>

<span class="heading-secondary">Declaration submitted on 2 December 2017</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            
            <li>Submitted by Andrea Smith at 7:11pm</li>
            <li>16 subcontractors declared</li>



        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£21,360.20</span>
    </div>
       <div class="column-one-third">
       <p>View details</p>
    </div>
</div>
<br />

<div class="grid-row mini-card">

    <div class="column-two-thirds">
<p class="heading-medium">Declarations 2016 to 2017</p>
    </div>
    <div class="column-one-third">
       <span class="heading-medium">Total</span>
    </div>

   </div> 
   <span class="heading-secondary">Declaration submitted on 2 December 2017</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            
            <li>Submitted by Andrea Smith at 7:11pm</li>
            <li>16 subcontractors declared</li>



        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£21,360.20</span>
    </div>
       <div class="column-one-third">
       <p>View details</p>
    </div>
</div>
<br />

<span class="heading-secondary">Nil Declaration submitted on 30 November 2016</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
         <ul>
            
            <li>Submitted by Lucus Threadbare at 6:45pm</li>
            <li>0 subcontractors declared</li>



        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£0.00</span><br>
       
       
    </div>

</div>



<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="">Back</a>
    </div>

    
    
</div>

<br>





<br>
<br>




</main>


{% endblock %}