
{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
   

           <h1 class="heading-xlarge">Subcontractor declaration </h1>
           <h2 class="heading-medium">Submitted on 28 January 2017 <br>by Jane Jones at 12.21pm<h2>

            </div>
            </div>
        

    <p><a href="/public/documents/history.pdf" target="_blank">Download document</a>
        </p>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Birmingham</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £1500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£1500.00</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Cambridge</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £1500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£1500.00</span>
    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Colleridge</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £1500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£1500.00</span>
    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Coventry</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £1500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£1500.00</span>
    </div>
</div>

    

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Leicester</span>
        <ul>
            <li>UKPRN: 87651234</li>
            
            <h2 class=heading-small>Funding type: Apprenticeships pre-01 May 2017 starts 16-18 </h2>
            <li>Apprentices:  60</li>
            <li>Payments:  £1,000.30</li>
            <li>Locations:  East of England, South West</li>
            <li>&nbsp;</li>

        </ul> 


        <ul>
            
            
            <h2 class=heading-small>Funding type: Adult Education Budget </h2>
            <li>Apprentices:  60</li>
            <li>Payments:  £1,200.00</li>
            <li>Locations:  East of England, South West</li>
            <li>&nbsp;</li>

        </ul> 
    </div>
    <div class="column-one-third"><br>
       <span class="heading-totals">£122,000.30</span>

    </div>
    
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Manchester</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £1500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£1500.00</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Morningside</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £1500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£1500.00</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Norwich</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £1500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£1500.00</span>
    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Oxford</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £1500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£1500.00</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Poole</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £1500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£1500.00</span>
    </div>
</div>






<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
       
    </div>

    <div class="column-one-third">
       
    </div>
</div>


<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="pager">Showing 1 – 10 of 25 </a>
    </div>

    <div class="column-one-third">
       <span class="heading-totals"><a class="pager-next" href="#"></a>&nbsp; &nbsp;1 &nbsp; &nbsp;<a class="pager-next" href="review3a">2</a>&nbsp; &nbsp; <a class="pager-next" href="review3b">3</a>
&nbsp; <a class="pager-next" href="review3a">Next</a></span>
       

    </div>
      
      
      </div>
      </p></div></div></h2>

  <hr>







<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="">Back</a>
        
        
        <div><br><a href=""></a><br>
        <a href="subcontractor-list"></a><br>
        <a href="subcontractor-list"></a> </div><br>
    </div>


    
    <div class="column-one-third">
       
       <p><a href="/public/documents/history.pdf" target="_blank">Download document</a>
        </p>

       
    </div>
</div>





</main>


{% endblock %}