
{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
   

           <h1 class="heading-xlarge">Subcontractor declaration </h1>
           <h2 class="heading-medium">Submitted on 28 January 2017<h2>

            </div>
            </div>
        

    <p><a href="/public/documents/history.pdf" target="_blank">Download document</a>
        </p>



    

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Preston</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£500.00</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Reading</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£500.00</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Rowley Regis</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£500.00</span>
    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Torquay</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£500.00</span>
    </div>
</div><div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Torbay</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£500.00</span>
    </div>
</div><div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Tunbridge Wells</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£500.00</span>
    </div>
</div><div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Udderworth</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£500.00</span>
    </div>
</div><div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Underwood</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£500.00</span>
    </div>
</div><div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Ussingworth</span>
        
        <ul>
             <li>UKPRN: 87651234</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £500.00</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third"><br>
       <span class="heading-totals">£500.00</span>
    </div>
</div>



<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="heading-medium">Total </a>
    </div>

    <div class="column-one-third">
       <p class="heading-medium">£271,000.00</a></p>
    </div>
</div>
<hr>

<div class="grid-row margin-top-2">
    <div class="column-two-thirds"><a class="pager">Showing 11 – 20 of 25 </a></div>

    <div class="column-one-third">
       <span class="heading-totals"><a class="pager-next" href="review-accordion">Prev</a>&nbsp; &nbsp;<a class="pager-next" href="review-accordion">1</a> &nbsp; &nbsp;2&nbsp; &nbsp; <a class="pager-next" href="review-accordion-b">3</a>
&nbsp; <a class="pager-next" href="review-accordion-b">Next</a></span>
       

    </div>
      
      
      </div>

 
  </p></div></div></h2>

  <hr>


<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        
        <a class="button" href="submit">Continue to submit</a> &nbsp; <a class="button-grey" href="dashboard2">Save and come back later</a> 
        <div><br>

            <a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="">Back</a>

            <br>
            
        <a href="subcontractor-list"></a><br>
        <a href="subcontractor-list"></a> </div><br>
    </div>

    
    <div class="column-one-third ">
       
       <p><a href="/public/documents/declaration.pdf" target="_blank">Download document</a>
        </p>

<p><a href="delete">Delete this declaration</a></p>

       
    </div>
</div>


</main>


{% endblock %}