{% extends "layout.html" %}

{% block page_title %}
Accessibility statement for the national funding formula service
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include version + "/includes/org-banner.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">

        <div class="column-full">
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../start">Manage your education and skills funding</a></li>
                        <li><a href="./start">View national funding formula (<abbr title="National funding formula">NFF</abbr>) for schools</a></li>
                        <li>Accessibility statement for the national funding formula service</li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="column-two-thirds">
            
                <h1 class="heading-xlarge">Accessibility statement for the national funding formula service</h1>
                    <p>This service is run by the Education and Skills Funding Agency (ESFA). We want as many people as possible to be able to use this service. You should be able to:</p>
                    <ul class="list list-bullet">
                        <li>change colours, contrast levels and fonts</li>
                        <li>zoom in up to 300% without the text spilling off the screen</li>
                        <li>navigate most of the service using just a keyboard</li>
                        <li>navigate most of the service using speech recognition software</li>
                        <li>listen to most of the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
                    </ul>
                    <p>We’ve also made the service text as simple as possible to understand.</p>
                    <p><a href='https://mcmw.abilitynet.org.uk/' target='_blank'>AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
                <h1 class="heading-large">How accessible this service is</h1>
                    <p>This service is fully compliant with the <a href='https://www.w3.org/TR/WCAG21/' targer='_blank'>Web Content Accessibility Guidelines version 2.1 AA standard</a>.</p>
                    <p>There are no known accessibility issues within this service.</p>
                <h1 class="heading-large">Feedback and contact information</h1>
                    <p>If you need information on this service in a different format such as accessible PDF, large print, easy read, audio recording or braille:</p>
                    <ul class="list list-bullet">
                        <li>email <a href='mailto:ESFA.GOVUK-ENQUIRIES@education.gov.uk'>ESFA.GOVUK-ENQUIRIES@education.gov.uk</a></li>
                        <li><a href='https://www.tinyurl.com/esfaenquiries' target='_blank'>submit an enquiry</a></li>
                    </ul>
                <h1 class="heading-large">Reporting accessibility problems with this service</h1>
                    <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact the ESFA corporate communications team:<a href='mailto:ESFA.GOVUK-ENQUIRIES@education.gov.uk'>ESFA.GOVUK-ENQUIRIES@education.gov.uk</a></p>
                <h1 class="heading-large">Enforcement procedure</h1>
                    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href='https://www.equalityadvisoryservice.com/'>contact the Equality Advisory and Support Service (EASS).</a></p>
                <h1 class="heading-large">Technical information about this website’s accessibility</h1>
                    <p>ESFA is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
                <!--<h1 class="heading-large">Compliance status</h1>
                    <p>This service is partially compliant with the <a href='https://www.w3.org/TR/WCAG21/' target='_blank'>Web Content Accessibility Guidelines version 2.1</a> AA standard, due to ‘the non-compliances’ listed below.</p>
                <h1 class="heading-large">Non-accessible content</h1>
                    <p>Images of arrows do not have a sufficiently descriptive text alternative, so people using a screen reader cannot tell if the arrow is pointing up or down. This fails WCAG 2.1 success criterion 1.1.1 (non-text content).</p>
                    <p>We plan to add descriptive text alternatives for all images in July 2020. When we publish new content we’ll make sure our use of images meets accessibility standards.</p>
                    <p>Example search text on the ‘Find a school or academy’ search page may not be presented to assistive technology users in a logical order. This fails WCAG 2.1 success criterion 1.3.2 (meaningful sequence).</p>
                    <p>We plan to explore alternative ways of presenting this and will make improvements in July 2020.</p>
                    <p>The purpose of the ‘related links’ cannot be determined from the link text together with its programmatically determined link context. This fails WCAG 2.1 success criterion 2.4.4 (link purpose (in context)).</p>
                    <p>We plan to change the alternative text for these links to match the link text by July 2020.</p> -->
                <h1 class="heading-large">Preparation of this accessibility statement</h1>
                <p>This statement was prepared on 7 August 2020. It was last reviewed on 7 August 2020.</p>
                <p>This service was last tested on 17 June 2020. The test was carried out by an internal ESFA team.</p>
                <p>We tested the whole service.</p>
        </div>

        <div class="one-third">
            
            <div class="related-container">
            
                <aside class="related" id="related">
            
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Related content</h2>
        
                        <nav role="navigation" aria-labelledby="parent-subsection">
                            <ul class="list">
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/guide-to-national-funding-formula" rel="external" target="_blank" title="This will open in a new tab or window">National funding formula: quick guide</a></li> 
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/national-funding-formula-tables-for-schools-and-high-needs-2020-to-2021" rel="external" target="_blank" title="This will open in a new tab or window">National funding formula tables for schools and high needs: 2021 to 2022</a></li>
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/national-funding-formula-for-schools-and-high-needs" rel="external" target="_blank" title="This will open in a new tab or window">National funding formula: detailed information</a></li>
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/national-funding-formula-tables-for-schools-and-high-needs-2019-to-2020" rel="external" target="_blank" title="This will open in a new tab or window">National funding formula tables for schools and high needs: 2020 to 2021</a></li>
                            </ul>
                        </nav>

                    </div>

                </aside>

            </div>

        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
