{% extends "layout.html" %}

{% block page_title %}
	Manage your education and skills funding prototype - View your roles
{% endblock %}

{% block content %}

<main id="content" role="main">

	
	<div class="grid-row">
        
        <div class="column-full">
    
            <div class="account-details">


                <div class="account-name">
                    <span class="name">
                        Bolton College (UKPRN: 10000794)
                    </span>
                </div>
    
    
                <div class="account-features">
                    <span class="account-link"><a href="#">View your roles</a></span>
                    <span class="account-link"><a href="#">Sign out</a></span>
                    
                </div>
    
            </div>
    
        </div>
    
    </div>

	<div class="grid-row">

		<div class="column-two-thirds">

			<div class="form-block">
				<h1 class="heading-xlarge">
					View your roles
				</h1>
			</div>

			<div class="govuk-!-margin-bottom-2 govuk-!-margin-top-4 float-reset">

				<table class="govuk-table">
					<caption class="govuk-table__caption heading-medium">Your roles</caption>
					<thead>
					  <tr>
						<th scope="col" class="govuk-table__header govuk-table__header">Role</th>
						<th scope="col" class="govuk-table__header govuk-table__header">Access</th>

					  </tr>
					</thead>
					<tbody>
					  <tr>
						<th class="govuk-table__header-no-bold non-bold" style="font-weight: 400;" scope="row">Sign contracts and agreements</th>
						<td class="govuk-table__cell govuk-table__cell">Yes</td>
					  </tr>
					  <tr>
						<th class="govuk-table__header-no-bold non-bold" style="font-weight: 400;" scope="row">Sign funding claims</th>
						<td class="govuk-table__cell govuk-table__cell">Yes</td>
					  </tr>
					  <tr>
						<th class="govuk-table__header-no-bold non-bold" style="font-weight: 400;" scope="row">Submit subcontractor declarations</th>
						<td class="govuk-table__cell govuk-table__cell">Yes</td>
					  </tr>
					  <tr>
						<th class="govuk-table__header-no-bold non-bold" style="font-weight: 400;" scope="row">View allocation statements</th>
						<td class="govuk-table__cell govuk-table__cell">Yes</td>
					  </tr>
					  <tr>
						<th class="govuk-table__header-no-bold non-bold" style="font-weight: 400;" scope="row">View contracts and agreements</th>
						<td class="govuk-table__cell govuk-table__cell">Yes</td>
					  </tr>
					  <tr>
						<th class="govuk-table__header-no-bold non-bold" style="font-weight: 400;" scope="row">View funding claims and reconciliation statements</th>
						<td class="govuk-table__cell govuk-table__cell">No</td>
					  </tr>
					  <tr>
						<th class="govuk-table__header-no-bold non-bold" style="font-weight: 400;" scope="row">View payment history</th>
						<td class="govuk-table__cell govuk-table__cell">No</td>
					  </tr>
					  <tr>
						<th class="govuk-table__header-no-bold non-bold" style="font-weight: 400;" scope="row">View previous subcontractor declarations</th>
						<td class="govuk-table__cell govuk-table__cell">No</td>
					  </tr>
					</tbody>
				  </table>
	
				</div>




				<p><a href="https://interactions.signin.education.gov.uk/0c98df48-a83f-4074-9655-bfe7b1df4841/usernamepassword?clientid=services&redirect_uri=https%3A//services.signin.education.gov.uk%3A443/auth/cb">You can manage your roles in your DfE Sign-In account (opens in new tab)</a>.</p>


				<p>If you are an approver, you can:</p>

				<ul class="list-bullet"  style="margin-bottom: 16px;">
					<li>edit your roles</li>
					<li>edit roles for your organisation's users </li>
					<li>approve or reject role requests from your organisation's users </li>
				</ul>

				<p>If you not an approver, your request will be sent to your organisation's approver to review.</p> -->
				<h2 class="heading-large">Manage your roles</h2>

				<!-- <p><a href="https://services.signin.education.gov.uk/approvals/select-organisation?action=request-service">You can manage your roles in your DfE Sign-In account (opens in new tab)</a>.</p> -->

				<h3 class="heading-small govuk-!-margin-bottom-2">If you are an approver</h3>
				<p><a  class="govuk-link" href="https://interactions.signin.education.gov.uk/0c98df48-a83f-4074-9655-bfe7b1df4841/usernamepassword?clientid=services&redirect_uri=https%3A//services.signin.education.gov.uk%3A443/auth/cb" rel="noreferrer noopener" target="_blank" title="Opens in a new tab">Manage your roles in your DfE Sign-in account (opens in new tab)</a>.
                </p>
				<!-- <ul class="list-bullet"  style="margin-bottom: 16px;">
					<li>edit your roles</li>
					<li>edit roles for your organisation's users </li>
					<li>approve or reject role requests from your organisation's users </li>
				</ul>

				<p>If you not an approver, your request will be sent to your organisation's approver to review.</p> -->
           <p> You can also manage roles for other users in your organisation.</p>

		   <h3 class="heading-small  govuk-!-margin-bottom-2">If you are not an approver</h3>
		   <p> Email an approver at your organisation to request a role for your account.</p>

		   <p><a  class="govuk-link" href="https://services.signin.education.gov.uk/organisations" rel="noreferrer noopener" target="_blank" title="Opens in a new tab">See your organisation's approvers (opens in new tab)</a>.
             </p>
		</div>

	</div>

</main>

{% endblock %}
