{% extends "layout.html" %}

{% block page_title %}
	Manage your education and skills funding prototype - View your roles
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">

		<div class="column-two-thirds">

			<div class="form-block">
				<h1 class="heading-xlarge">
					View your roles
				</h1>
			</div>

			<h2 class="heading-medium">Latest mock ups</h2>

			
			<div class="form-group">
					<ul class="list-bullet">
						<li><a href="/beta/v126-0-0/signed-in/view-your-roles/external-roles-version">External roles version</a></li>
						<li><a href="/beta/v126-0-0/signed-in/view-your-roles/internal-roles-version">Internal roles version</a></li>
					</ul>
			</div>

			
		</div>

	</div>

</main>

{% endblock %}
