{% extends "layout.html" %}

{% block page_title %}
    User roles and permissions
{% endblock %}

{% block content %}


<main id="content">

    <div class="account-div"> </div>

        <div class="grid-row">
            <div class="column-two-thirds">    
                <div id="global-breadcrumb" class="breadcrumbs group">
                    <nav>
                        <ol>
                            <li> 
                                <a href="/">Back</a>                   
                            </li>
                        </ol>
                    </nav>
                </div>
                <h1 class="heading-xlarge">User roles and permissions</h1>
                <div class="inner-block">
                    <article class="document">
                        <div class="body">
                            
                            <p class="lede">These are the roles available to use in the Manage your education and skills funding (SFS).</p>
                            
                            <details role="group">
                                <summary class="underline"> Apprenticeship service for training provider-editor </summary>
                                <div class="detail-content">
                                    <p>As editor your permissions allow you to:</p>
                                    <ul class="list-bullet">
                                        <li>respond to employer apprenticeship training requests</li>
                                        <li>update apprentice details from employer requests</li>
                                    </ul>
                                </div>
                            </details>
                            <details role="group">
                                <summary class="underline">Contract authoriser</summary>
                                <div class="detail-content">
                                    <p>As contract authoriser your permissions allow you to:</p>
                                    <ul class="list-bullet">
                                        <li>sign and mark contracts as read</li>
                                        <li>read and download information</li>
                                        <li>save and submit information</li>
                                        <li>automatically receive email alerts</li>
                                    </ul>
                                </div>
                            </details>
                            <details role="group">
                                <summary class="underline">Contract manager </summary>
                                <div class="detail-content">
                                    <p>As contract manager your permissions allow you to:</p>
                                    <ul class="list-bullet">
                                        <li>mark contracts as read</li>
                                        <li>read and download information</li>
                                        <li>save and submit information</li>
                                        <li>automatically receive email alerts</li>
                                    </ul>
                                </div>
                            </details>
                            <details role="group">
                                <summary class="underline">Contract user</summary>
                                <div class="detail-content">
                                    <p>As contract user your permissions allow you to:</p>
                                    <ul class="list-bullet">
                                        <li>read and download information</li>
                                    </ul>
                                </div>
                            </details>
                            <details role="group">
                                <summary class="underline">Data returns and claims authoriser</summary>
                                <div class="detail-content">
                                    <p>As a data returns and claims authoriser your permissions allow you to:</p>
                                    <ul class="list-bullet">
                                        <li>sign funding claims</li>
                                        <li>read and download information</li>
                                        <li>submit and save information</li>
                                        <li>automatically receive email alerts</li>
                                    </ul>
                                </div>
                            </details>
                            <details role="group">
                                    <summary class="underline">Document exchange user</summary>
                                    <div class="detail-content">
                                        <p>As a document exchange user your permissions allow you to:</p>
                                        <ul class="list-bullet">
                                            <li>send documents to ESFA</li>
                                            <li>view documents you’ve received from ESFA </li>
                                            <li>view documents you’ve sent to ESFA</li>
                                        </ul>
                                    </div>
                                </details>
                            <details role="group">
                                <summary class="underline">Provider support user</summary>
                                <div class="detail-content">
                                    <p>As provider support your permissions allow you to:</p>
                                    <ul class="list-bullet">
                                        <li>have your contact details displayed on the Manage your education and skills funding pages for your users to see</li>
                                    </ul>
                                </div>
                            </details>
                            <details role="group">
                                <summary class="underline">Super user</summary>
                                    <div class="detail-content form-group">
                                        <p>As an organisation super user you can:</p>
                                        <ul class="list-bullet">
                                            <li>update user contact information</li>
                                            <li>approve or reject user role for SFS services</li>
                                            <li>grant new users access</li>
                                            <li>remove users access rights</li>
                                            <li>manage the users in your organisation through the <a href="https://logon.fasst.org.uk" rel="external" target="_blank" title="This will open in a new window">Identity and Access Management Service</a></li>
                                        </ul>
                                    </div>
                            </details>
                            <br>
                            <div>
                                <h2 class="heading-medium"> Requesting roles</h2>
                                <p>You need to speak to your organisations super user or request these roles through <a href="https://logon.fasst.org.uk" rel="external" target="_blank" title="This will open in a new window">Identity and Access Management Service</a>.</p>
                                <p>You may have more than one super user in your organisation.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
</main>

{% endblock %}
