{% extends "layout.html" %}

{% block page_title %}
    Manage your skills and education funding
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

    <div class="grid-row">

        <div class="column-two-thirds">
            
            <form method="post" class="form">
            
                <h1 class="heading-xlarge">Manage your skills and education funding</h1>
                <p>Use this service to:</p>

                <div class="form-block">
                    <ul class="list list-bullet">
                        <li>sign documents</li>
                        <li>view your funding allocations</li>
                        <li>view the funding you’ve received</li>
                        <li>manage apprenticeship details</li>
                        <li>tell us about your subcontractors</li>
                    </ul>
                </div>

                <div class="form-group">
                    <button class="button button-start" type="submit">Sign in or create an account</button>
                </div>

            </form>

            <div class="form-group">
                <h2 class="heading-large">Before you start</h2>
                <p>You need to have an account with the government's <a href="#" rel="external" target="_blank" title="This will open in a new window">Identity Management Services system</a> to use this service.</p>
            </div>
            
            <div class="form-group">
                <h2 class="heading-medium">Contact</h2>
                <p>
                    <span class="bold-small">Education and Skills Funding Agency (<abbr title="Education and Skills Funding Agency">ESFA</abbr>) Service Desk</span>
                    <br>
                    <a href="#">sde.servicedesk@education.gov.uk</a>
                    <br>
                    Telephone: 0370 267 0001
                </p>
            </div>

            <div class="panel panel-border-wide">
                <a href="https://www.gov.uk/performance/sign-sfa-contracts?new" rel="external" target="_blank">Find out how this service is performing (opens in a new tab)</a>
            </div>

        </div>

        <div class="one-third">
            
            <div class="related-container">
            
                <aside class="related" id="related">
            
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Resources</h2>
        
                        <nav role="navigation" aria-labelledby="parent-subsection">
                                                    
                            <ul class="list">
                                <li><a href="#" rel="external" target="_blank" title="How to become an approved training provider and bid for funding">How to become an approved training provider and bid for funding</a></li>
                                <li><a href="#" rel="external" target="_blank" title="The Hub">The Hub</a></li>
                                <li><a href="roles-permissions" rel="external" target="_blank" title="User roles and permissions">User roles and permissions</a></li>
                            </ul>

                            <hr>
                            <h3>Public information</h3>
                            <ul class="list">
                                <li><a href="#" rel="external" target="_blank" title="PE and sport premium allocations for 2018 to 2019">PE and sport premium allocations for 2018 to 2019</a></li>
                            </ul>

                        </nav>

                    </div>

                </aside>

            </div>

        </div>

    </div>

</main>

{% endblock %}
