{% extends "layouts/main.html" %}

{% block page_title %}
    Previous education and skills funding agency (ESFA) funding allocations
{% endblock %}

{% block content %}                   

<main role="main" id="content">

    <!-- GOV.UK phase banner (Alpha) - START -->
    {% include "includes/phase_banner_alpha.html" %}
    <!-- GOV.UK phase banner (Alpha) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="start">Manage your education and skills funding</a></li>
                        <li>Previous <abbr title="Education and Skills Funding Agency">ESFA</abbr> funding allocations</li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="column-two-thirds">

            <form method="post" class="form">

                <div class="form-group">
                    <h1 class="heading-xlarge">Previous education and skills funding agency (<abbr title="Education and Skills Funding Agency">ESFA</abbr>) funding allocations</h1>
                    <p>The allocations are available as <abbr title="Open Document Spreadsheet">ODS</abbr> and <abbr title="Excel Microsoft Office Open XML Format Spreadsheet file">XLSX</abbr> files. Use the <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">enquiry form</a> to ask for a different format.</p>

                    <!-- Accordion section to display the downloadable previous ESFA funding publications (START) -->
                    <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                                    
                        <div class="govuk-accordion__section ">
            
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        Dedicated schools grant (<abbr title="Dedicated Schools Grant">DSG</abbr>) funding stream
                                    </span>
                                </h2>    
                            </div>
                    
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <section class="attachment embedded">
                        
                                    <div class="main-table">
                                        <ul>
                                            <li>
            
                                                <div class="form-download-container">
                                                    <p class="form-download">
                                                        <a href="/public/documents/public-information/archive/2017-to-2018/DSG_allocations_2017_to_2018.ods" title="Dedicated schools grant allocations 2017 to 2018 (ODS, 227KB)" download=""><abbr title="Dedicated Schools Grant">DSG</abbr> allocations 2017 to 2018 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 227KB)</a>  
                                                        <br>
                                                        <span class="published-date">Published March 2018</span>
                                                    </p>                       
                                                </div>
            
                                            </li>
                                            <li>
            
                                                <div class="form-download-container">
                                                    <p class="form-download">
                                                        <a href="/public/documents/public-information/archive/2017-to-2018/DSG_allocations_2017_to_2018.xls" title="Dedicated schools grant allocations 2017 to 2018 (XLSX, 439KB)" download=""><abbr title="Dedicated Schools Grant">DSG</abbr> allocations 2017 to 2018 (<abbr title="Excel Microsoft Office Open XML Format Spreadsheet file">XLSX</abbr>, 439KB)</a>  
                                                        <br>
                                                        <span class="published-date">Published March 2018</span>
                                                    </p>                       
                                                </div>
            
                                            </li>
                                        </ul>
                                    </div>
            
                                </section>
                            </div>
                    
                        </div>
                    
                        <div class="govuk-accordion__section ">
                    
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        PE and sport premium
                                    </span>
                                </h2>    
                            </div>
                    
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <section class="attachment embedded">
                    
                                    <div class="main-table">
                                        <ul>
                                            <li>
            
                                                <div class="form-download-container">
                                                    <p class="form-download">
                                                        <a href="/public/documents/public-information/archive/2017-to-2018/PE___Sport_Premium_Allocations_2017-18_Publication_Final_ODS_Update.ods" title="PE and sport premium allocations 2017 to 2018 (ODS, 640KB)" download="">PE and sport premium allocations 2017 to 2018 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 640KB)</a>  
                                                        <span class="published-date">Published April 2018</span>
                                                    </p>                       
                                                </div>
            
                                            </li>
                                            <li>
            
                                                <div class="form-download-container">
                                                    <p class="form-download">
                                                        <a href="/public/documents/public-information/archive/2017-to-2018/PE___Sport_Premium_Allocations_2017-18_Publication_Final_Update.xlsx" title="PE and sport premium allocations 2017 to 2018 (XLSX, 745KB)" download="">PE and sport premium allocations 2017 to 2018 (<abbr title="Excel Microsoft Office Open XML Format Spreadsheet file">XLSX</abbr>, 745KB)</a>  
                                                        <span class="published-date">Published April 2018</span>
                                                    </p>                       
                                                </div>
            
                                            </li>
                                        </ul>
                                    </div>
            
                                </section>
                            </div>
                    
                        </div>
    
                        <div class="govuk-accordion__section ">
                    
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        Pupil premium
                                    </span>
                                </h2>    
                            </div>
                    
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <section class="attachment embedded">
                    
                                    <div class="main-table">
                                        <ul>
                                            <li>
            
                                                <div class="form-download-container">
                                                    <p class="form-download">
                                                        <a href="#" title="Pupil premium allocations 2017 to 2018: local authority and parliamentary constituency level (ODS, 160KB)" download="">Pupil premium allocations 2017 to 2018: local authority and parliamentary constituency level (<abbr title="Open Document Spreadsheet">ODS</abbr>, 160KB)</a>  
                                                        <br>
                                                        <span class="published-date">Published March 2018</span>
                                                    </p>                       
                                                </div>
            
                                            </li>
                                            <li>
            
                                                <div class="form-download-container">
                                                    <p class="form-download">
                                                        <a href="/public/documents/public-information/archive/2017-to-2018/2017-18_PP_National_LA_PC_Tables_-Mar_18_update_-_PC_amended_-_suppresse....xlsx" title="Pupil premium allocations 2017 to 2018: local authority and parliamentary constituency level (XLSX, 174KB)" download="">Pupil premium allocations 2017 to 2018: local authority and parliamentary constituency level (<abbr title="Excel Microsoft Office Open XML Format Spreadsheet file">XLSX</abbr>, 174KB)</a>
                                                        <br>
                                                        <span class="published-date">Published March 2018</span>
                                                    </p>                       
                                                </div>
            
                                            </li>
                                            <li>
            
                                                <div class="form-download-container">
                                                    <p class="form-download">
                                                        <a href="#" title="Pupil premium allocations 2017 to 2018: school level (ODS, 2.90MB)" download="">Pupil premium allocations 2017 to 2018: school level (<abbr title="Open Document Spreadsheet">ODS</abbr>, 2.90MB)</a>
                                                        <br>
                                                        <span class="published-date">Published March 2018</span>
                                                    </p>                       
                                                </div>
            
                                            </li>
                                            <li>
            
                                                <div class="form-download-container">
                                                    <p class="form-download">
                                                        <a href="/public/documents/public-information/archive/2017-to-2018/2017-18_Pupil_premium_School_level_allocations_-_PC_amended.xlsx" title="Pupil premium allocations 2017 to 2018: school level (XLSX, 3.10MB)" download="">Pupil premium allocations 2017 to 2018: school level (<abbr title="Excel Microsoft Office Open XML Format Spreadsheet file">XLSX</abbr>, 3.10MB)</a>
                                                        <br>
                                                        <span class="published-date">Published March 2018</span>
                                                    </p>                       
                                                </div>
            
                                            </li>
                                        </ul>
                                    </div>
            
                                </section>
                            </div>
                    
                        </div>
    
                        <div class="govuk-accordion__section ">
                    
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        Year 7 literacy and numeracy catch-up premium
                                    </span>
                                </h2>    
                            </div>
                    
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <section class="attachment embedded">
                    
                                    <div class="main-table">
                                        <ul>
                                            <li>
            
                                                <div class="form-download-container">
                                                    <p class="form-download">
                                                        <a href="#" title="Year 7 literacy and numeracy catch-up premium allocations 2017 to 2018 (ODS, 489KB)" download="">Year 7 literacy and numeracy catch-up premium allocations 2017 to 2018 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 489KB)</a>  
                                                        <br>
                                                        <span class="published-date">Published February 2018</span>
                                                    </p>                       
                                                </div>
            
                                            </li>
                                            <li>
            
                                                <div class="form-download-container">
                                                    <p class="form-download">
                                                        <a href="/public/documents/public-information/archive/2017-to-2018/Year_7_catch_up_allocations_2017-18.xlsx" title="Year 7 literacy and numeracy catch-up premium allocations 2017 to 2018 (XLSX, 500KB)" download="">Year 7 literacy and numeracy catch-up premium allocations 2017 to 2018 (<abbr title="Excel Microsoft Office Open XML Format Spreadsheet file">XLSX</abbr>, 500KB)</a>  
                                                        <br>
                                                        <span class="published-date">Published February 2018</span>
                                                    </p>                       
                                                </div>
            
                                            </li>
                                        </ul>
                                    </div>
            
                                </section>
                            </div>
                    
                        </div>

                    </div>
                    <!-- Accordion section to display the downloadable previous ESFA funding publications (END) -->

                </div>

            </form>
        
        </div>

        <div class="one-third">
            
            <div class="related-container">
            
                <aside class="related" id="related">
            
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Related content</h2>
        
                        <nav role="navigation" aria-labelledby="parent-subsection">
                                                    
                            <ul class="list">
                                <li><a href="latest/start" title="View previous education funding allocations">View Select which <abbr title="Education and Skills Funding Agency">ESFA</abbr> funding you’d like to view</a></li>
                            </ul>

                        </nav>

                    </div>

                </aside>

            </div>

        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<!-- GOV.UK Design System accordion -->
<script src="/public/javascripts/{{version}}/accordion.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
