.impact-link .impact-link-figure {
  font-size: 40px;
  display: inline-block;
  vertical-align: text-top;
  color: #005ea5;
}

.impact-link .impact-link-label {
  display: inline-block;
  padding-left: 0.5em;
  white-space: normal;
  width: 76%;
  vertical-align: text-top;
  color: #005ea5;
}

.impact-link {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.1;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  padding: 5px;
  background-color: #dee0e2;
  margin-bottom:10px;
  height:100px;
}

.impact-link.active {
  color: black;
  background-color: white;
  border: 1px solid;
}

.impact-link.active .impact-link-label {
  text-decoration: none;
  color: black;
}

.impact-link.active .impact-link-figure{
    color:black;
}

@media (min-width: 641px) {
  .impact-link {
    font-size: 22px;
  }
  
}

@media (min-width: 820px) {
  .impact-link {
    font-size: 24px;
    padding: 10px;
  }
}

@media (min-width: 820px) {
  .impact-link .impact-link-figure {
    font-size: 60px;
    line-height: 0.9;
  }
}

@media (max-width: 641px){
    .impact-link{
        height:auto;
    }
}