{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard-new">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    <br>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-xlarge">WARWICKSHIRE COLLEGE</span>
    <p>UKPRN:12345678</p>
    

           <h1 class="heading-xlarge rj-headings-border" id=""></h1>

            </div>

    
</div>
<hr class="hr-double" />


<span class="bold-medium" style="font-size:28px"></span>
    </div>
</div>
<div class="grid-row">
           <div class="column-two-thirds">
            
         <div style="max-width:90%">
          <div class="grid-row">
            <div class="column-half">
              <h3 class="heading-medium" style="margin-top:0 "><a href="#">Apprenticeships</a></h3>
              <p><a href="#">Add, pause or stop apprentices</a>, review and <a href="#">approve cohorts</a><a href="#">.</a></p>
            </div>


            <div class="column-half">
              <h3 class="heading-medium rj-top-border-mobile" style="margin-top:0;  "><a href="#">Allocations</a></h3>
              <p><a href="#">Accept or query your allocations. </a> <a href="#"></a> </p>
            </div>
          </div> 
          <div class="grid-row">
            <div class="column-half ">
              <h3 class="heading-medium rj-top-border" style="margin-top:0; padding-top:35px"><a href="#">Contracts</a></h3>
              <p class="rj-home-spacer"> <span class="looks-like-a-link-underline">Sign your contract </span> or agreement.<span class="looks-like-a-link-underline"></span></p>
            </div>
            <div class="column-half">
              <h3 class="heading-medium rj-top-border looks-like-a-link-underline-h2" style="margin-top:0; padding-top:35px"><a href="/nonLevyAlpha&#10;&#10;&#10;&#10;/training">Funding claims</a></h3>
              <p><a href="#">View your claims. </a> <a href="#"></a> </p>
            </div>
         </div>

       </div>


          </div>

            <div class="column-one-third">

            <h2 class="heading-medium" style="margin-top:0">To do:</h2>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Forecast: not completed  </h2>
                  <p style="width:85%; margin: 5px 10px 5px 20px" to-do-action=""><a href="/nonLevyAlpha&#10;&#10;&#10;&#10;/forecast/">Calculate your available spend</a></p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Contracts to sign: 1</h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:88%; margin: 5px 10px 5px 20px">Review your apprentices</p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Agreements: 2</h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Review the changes</p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Subcontractor declaration to complete by 12 November </h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Update details</p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Staff with access to this account: 1 </h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Grant access to others</p>
                </div>
            </div>



        </div>



</div>




</main>


{% endblock %}