{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>

    <div class="grid-row ">
        <div class="welcome">
            <ul class="">
                <li class="font-xsmall">Andrea Authoriser</li>
                <li class="font-xsmall"> Casterbridge College</li>
                <li class="font-xsmall">UKPRN:12345678</li>
            </ul>
        </div>
    </div>

    <div class="grid-row">
        <div class="navigation">
            <ul>
                <li><a class="font-xsmall" href="dashboard">Home</a></li>
                
                <li><a class="font-xsmall" href="/">Sign out</a></li>
            </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">Warwickshire college</span>
        <h1 class="heading-large margin-top-zero">Subcontractor: The college of Leicester</h1>
        

    </div>
</div>


<div class="grid-row">    
    <div class="column-two-thirds">

    <p class="bold-medium">Select the funding stream</p>
  
    <form>
  <div class="form-group">
    <fieldset>

      <legend>
        <span class="visually-hidden">S</span>
        <span class="body-text"></span>
      </legend>

      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
        <label for="radio-1">16 to 18 Apprenticeships</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
        <label for="radio-2">AEB Learner Support</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">
        <label for="radio-3">AEB Community Learning</label>
      </div>
      

    </fieldset>
  </div>
</form>

    
    <div class="form-group">
        
    
    </div>
    
       
<div>
    <a class="button margin-right" href="learner-values-both">Save and continue</a>         
    
</div>
    </div>

</div>







</main>


{% endblock %}