{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
    
    // for tabs// 

    $(document).ready(function() {
    $('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
        
        var newCurrentValue = '.' + currentAttrValue.substring(1,currentAttrValue.length)    
        
        $(".tab1, .tab2, .tab3, .tab-hidden").hide();
        $(newCurrentValue).show();            
 
        e.preventDefault();
    });
    
    
    $('.link-all').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
        
        var newCurrentValue = '.' + currentAttrValue.substring(1,currentAttrValue.length)    
        
        $(".tab1, .tab2, .tab3, .tab-hidden").show();
        
    });
    
    
    $('a.tabbed-tab').click(function() {
    
    $('.tabbed-tab.active').removeClass('active');
    
    $(this).addClass('active');
    });
    
    
    // $('a.link.link-all').click(function() {
    
    // $('.tabbed-tab.active').removeClass('active');
    
    // });



    


    // for filters //

    $('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
        
        var newCurrentValue = '.' + currentAttrValue.substring(1,currentAttrValue.length)    
        
        $(".tab1, .tab2, .tab3, .tab4, .tab5, .tab6, .tab7, .tab8, .tab-hidden").hide();
        $(newCurrentValue).show();            
 
        e.preventDefault();

        $(".view-all-hidden").show();
    });

    $('.link-all').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
        
        var newCurrentValue = '.' + currentAttrValue.substring(1,currentAttrValue.length)    
        
        $(".tab1, .tab2, .tab3, .tab4, .tab5, .tab6, .tab7, .tab8, .tab-hidden").show();

        $(".view-all-hidden").hide();
        
    });

    $('a.impact-link').click(function() {
    
        $('.impact-link.active').removeClass('active');
        
        $(this).addClass('active');
    });

    $('a.link.link-all').click(function() {
    
        $('.impact-link.active').removeClass('active');
        
        $(this).addClass('active');
    });
    
});

</script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    


<div class="grid-row">
    <div class="column-two-thirds">

           <h1 class="heading-xlarge">Your sub-contractor declarations</h1> 
        <p>You have a sub-contractor declaration to make by dd/mmm/yyyy.</p>
        <p>To make a declaration you can:</p>
        
        <ul class="list-bullet">
            <li><a href="sub-con-search-add">add sub-contractors</a></li>
            <li><a href="sub-contracting-nil">tell us you dont use sub-contractors</a></li>
        </ul>
    </div>
</div>

<br>

<div class="grid-row">
    <div class="tabs"> 
            <ul class="tab-links">
                
                
                                
            </ul>

        <div>
            <a class="link link-all view-all-hidden float-right" href="#all">View all documents</a>
        </div>

    </div>  
</div>






<div class="grid-row">
    <div class="column-two-thirds">
        <div id="tab1" class="main-table">
             
            
        
            <ul class="tab-content">
                    
                    <li class="tab3 tab active final year17 missed">
                        <h4 class="bold-small">Your nil declaration </h4>
                        <p>Declaration made on 29 Oct 2016 by Jim Riaz.</p>
                        
                    </li>

            </ul>    
        </div>
    </div>




</div>
</main>


{% endblock %}