

/**********
 * PRINT (CSS)
 * **********/

/**********
* GLOBAL
* CAN BE USED IN ALL JOURNEYS
* **********/

/* DOM elements */
details {
	display: none;
}
pre {
	display: none;
}

/* IDs and Classes */
#global-header .header-proposition a.menu {
    display: none;
}
.phase-banner {
	display: none;
}
.esfa-banner-container {
	display: none;
}
#global-breadcrumb {
	display: none;
}
.heading-small {
	font-size: 19px;
}

/**********
* NOT SIGNED-IN (PUBLIC)
* VIEW LATEST FUNDING
* **********/

/* IDs and Classes */
.govuk-tabs__title {
	display: none;
}
.govuk-tabs__list {
	display: none;
}
.download-a-document-section-2 {
	display: none;
}
.block-header-print-no-tabs {
	display: none;
}
.block-header-print-tabs {
	display: none;
}
.decimal {
	display: none;
}

/* Styling */
table {
    width: 100%;
}
table th, table td {
	text-align: left;
	border-bottom: 1px solid #bfc1c3;
}
.govuk-table {
	width: 100%;
	padding-bottom: 20px;
}
.govuk-\!-width-one-quarter {
	width: 25% !important;
}
.govuk-table__caption {
	text-align: left;
	padding-top: 20px;
	font-weight: bold;
	border-bottom: 1px solid #bfc1c3;
}
.govuk-table__header:last-child, .govuk-table__cell:last-child {
    padding-right: 0 !important;
}
.govuk-table__header--numeric, .govuk-table__cell--numeric {
	text-align: right !important;
}
.govuk-table__header, .govuk-table__cell {
	padding: 0 20px 0 0;
	text-align: left;
    border-bottom: 1px solid #bfc1c3;
}
.heading-funding-summary {
    margin-top: 0px;
}
.glossary-link {
	display: none;
}
.total-allocation-container {
	box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 0px;
    padding-bottom: 15px;
}
.total-allocation-wrapper {
	display: inline-block;
	width: 100%;
}
.total-allocation-label {
	float: left;
	width: 50%;
}
.total-allocation-amount {
	clear: none;
	text-align: right;
	width: 100%;
}
