{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">        
    
    <div class="grid-row ">
        
            <div class="govuk-box-highlight">
                <p>&nbsp;</p>
                <h1 class="bold-large">File sent for Blythe academy</h1>
                
               <h2 class="bold-medium">We've sent confirmation to jane.green@gmail.com</h2>
                
                
    <p>&nbsp;</p>

                
            </div>
        
        <div class="grid-row margin-top">

       <div class="column-two-thirds">
            

 <p>&nbsp;</p>
           
            <h2 class="bold-medium">What happens next? </h2>
            <p>Copy will depend on the file type.</p>

            <p class="bold">Or you may want to:</p>
            <p><a href="dash-old" style="text-decoration: underline;">Go back to home</a><br>
                
               
            </ul>
        </div>  
    </div>
    



   <div class="column-two-thirds">
        
            <h2 class="heading-secondary">Files you've uploaded</h2>

             <br>
             <hr>

             <ul class="tab-content">
                      <div>

                    <span class="heading-medium" style="margin-top:0">Blythe academy</span>
                    
                        
                    </li>
                    <div class="grid-row mini-card">
    <div class="column-two-thirds">
        <p class="small" "attachment-details"><a href="/public/documents/BCtemplate.xlsx" target="_blank">Business case 2018 to 2019</a></p>
        <p>Uploaded by Jane Jones on 20 March 2018</p>
        
    </div>
    <section class="attachment">
    
    </div>
   
</section>
<p> </p>
<div>

                    <span class="heading-medium" style="margin-top:0"> John Fisher Academy</span>
                    
                        
                        
                    </li>
                    <div class="grid-row mini-card">
    <div class="column-two-thirds">
        <p class="small" "attachment-details"><a href="/public/documents/BCtemplate.xlsx" target="_blank">Business case 2018 to 2019</a></p>
        <p>Uploaded by Jane Jones on 2 March 2018</p>

        
    </div>
    <section class="attachment">
    
    </div>
   
</section>

      </div>                 


    </div>
  
</div>
</div>

</main>

{% endblock %}
