
{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    
<div class="phase-banner">
  <p>
    <strong class="phase-tag">PROTOTYPE</strong>
    <span>For testing </span>
  </p>
</div>
    
    
    

    

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">THE BLYTHE ACADEMY</h1>
            <p>UKPRN:12345678</p>
        </div>


        
    </div>

    

      
         

         <div class="grid-row">

           <ul>
              <li class="column-third margin-top">
                    <a class="dashboard-links" href="school">
                        
                        <span class="service-name">Funding statement</span>
                    
                        <span class="alert-name-blue">View my statements</span>
                    </a>
                </li>


               <!--<li class="column-third margin-top">
                    <a class="dashboard-links" href="andrea-authoriser">
                        
                        <span class="service-name">Contracts and agreements</span>
                    
                        <span class="alert-name-blue">2 new alerts to review</span>
                        
                    </a>
                </li>

                <li class="column-third margin-top">
                    <a class="dashboard-links" href="funding-multi">
                        
                        <span class="service-name">Funding allocations</span>
                    
                        <span class="alert-name-blue">View my statements</span>
                    </a>
                </li>
                </ul>
          </div>
                
            <div class="grid-row">
                <ul>
                

                <li class="column-third margin-top">
                    <a class="dashboard-links" href="payment-history">
                        
                        <span class="service-name">Payment history</span>
                    
                        <span class="alert-name-blue">View your payments</span>
                    </a>
                </li>

                
        

            <div class="grid-row margin-top">
                <ul>
                    <li class="column-third margin-top">
                        <a class="dashboard-links" href="sub-con-home-second">
                            
                            <span class="service-name">Subcontractor declaration</span>
                    
                        
                             <span class="alert-name-blue">Tell us if you use subcontractors</span>
                        </a>
                    </li> 

                
                </ul>
            </div>-->








    
    
    
    </div>

</main>


{% endblock %}