{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
  

    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash-grey" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="#" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">Multi-Academy Trust</h1>
            <h1 class="heading-xlarge no-margin-bottom">Romero</h1>
            <p class="page-info">UKPRN: 12345678</p>
        </div>
        
    </div><br>
    

<div class="grid-row">



    <div class="flex-container">

        <div class="card">

            <div class="card-body active" onClick="window.open( 'funding-list-multi','_top'); return false;" data-journey-click="#" style="height: 60px;">

                <h3 class="heading-small card-heading">

                    <a class="card-link" href="funding-list-multi">
                        Funding statements
                    </a>

                </h3>
                
            </div>


            <div class="card-action">

                    <ul>
                            <li><a class="#" href="16" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#">View your funding</a></li>
                            <li><a class="#" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#"></a></li>
        
                            <li><a class="ga-track-anchor-click" href="#" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#"></a></li>
        
                        </ul>
                <ul>
                    <li><a class="#" href="16" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#">New 16 to 19 funding</a></li>
                    <li><a class="#" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#"></a></li>

                    <li><a class="ga-track-anchor-click" href="#" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#"></a></li>

                </ul>
                <ul>
                    <li><a class="#" href="school1" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#">New General Annual Grant</a></li>
                    <li><a class="#" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#"></a></li>

                    <li><a class="ga-track-anchor-click" href="#" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#"></a></li>

                </ul>


            </div>


        </div>


        <div class="card">

            <div class="card-body active" onClick="window.open( 'download-list','_top'); return false;" data-journey-click="link - click:Income:Self Assessment" style="height: 60px;">

                <h3 class="heading-small card-heading">

                    <a class="card-link" href="download-list">
                        Document exchange
                    </a>

                </h3>


            </div>


            <div class="card-action">

                <ul>
                        <li>
                                <a class="ga-track-anchor-click" href="upload-list16" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="">View uploaded files history</a>
                            </li>

                    <li>
                        <a class="ga-track-anchor-click" href="download-list" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="">Download business case template</a>
                    </li>
                    <li>
                        <a class="ga-track-anchor-click" href="/pay-online/self-assessment/make-a-payment?mode=pta" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Make a payment"></a>
                    </li>
                    <li>
                        <a class="ga-track-anchor-click" href="basic-upload" data-ga-event-category="link - click" data-ga-event-action="basic-upload" data-ga-event-label="">Upload files to ESFA</a>
                    </li>


                </ul>
            </div>

        </div>

    </div>

</div>

 
    

    </main>

{% endblock %}