{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

        <style>.bborder{border-bottom: #005ea5 3px solid; margin: 15px;}.tableizer-table{margin-bottom:40px}

        span.heading-medium{    font-size: 80px;
            line-height: 88.5px;
            vertical-align: middle;}
        </style>

<main role="main" id="content">

    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash7" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="dash7" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="/personal-account/signout?continueUrl=%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>

<a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">Blythe academy</h1>
            <p>UKPRN: 12345678</p>
<h1 class="heading-large">16 to 19 funding 2017 to 2018</h1>
<!--<p><a href= "history1"> Download and print full statement </a></p>-->

            <h2 class="heading-secondary">Programme funding formula</h2><br>

        </div>
    </div>

    <div class="grid-row" style="margin: 0 0 15px">

        <div style="border:1px solid #bfc1c3; padding: 10px 15px 0px; margin-bottom: 20px; font-size: 18px; line-height: 40px;">
            <p><!--<span class="bold-xxlarge heading-medium" style="font-weight: 400!important;">[</span>-->Number of students <span class="heading-medium">x</span> National funding rate per student <span class="heading-medium">x</span> Retention factor <span class="heading-medium">x</span> Programme cost weighting <span class="heading-medium">+</span> Disadvantage funding <span class="heading-medium">+</span> Large programme funding<!--<span class="bold-xxlarge heading-medium" style="font-weight: 400!important;">]</span>--> <span class="heading-medium">x</span> Area cost allowance <span class="heading-medium">=</span> Total</p>

        </div>
    <table>
        <tr>
        <th>Number of students</th>
        <td colspan="2">574</td>
        </tr>

        <tr>
            <td colspan="3">

            <details>
                <summary><span class="summary">Details</span></summary>

                <table class="tableizer-table">
                    <thead><tr class="tableizer-firstrow"><th>Student Numbers (Including 19-24 Students)</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr></thead><tbody>
                <tr><td>Total Lagged Student Number</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>573</td></tr>
                <tr><td>Exceptional Variations to Lagged Student Number</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>1</td></tr>
                <tr><td class="bborder">Total Student Numbers for 2017/18</td><td class="bborder">&nbsp;</td><td class="bborder">&nbsp;</td><td class="bborder">&nbsp;</td><td class="bborder">&nbsp;</td><td class="bborder">574</td></tr>
                </tbody></table>

            </details>

            </td>
        </tr>

        <tr>
            <th>National funding rate per student</th>
            <td>£4,000</td>
            <td class="numeric">£2,259,349</td>
        </tr>

        
        <tr>
            <td colspan="3"><details>
                <summary><span class="summary">Details</span></summary>

                <table class="tableizer-table">

                    <thead>

                    <tr class="tableizer-firstrow">


                        <th colspan="6">Details of Funding by Funding Band
                        </th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Planned Hours
                        </td>
                        <td>Student Numbers in 2015/16
                        </td>
                        <td>Proportions used in 2017/18 allocation
                        </td>
                        <td>Number of Students allocated in 2017/18
                        </td>
                        <td>National Funding Rate
                        </td>
                        <td>Student Funding
                        </td>
                    </tr>

                    <tr>
                        <td>Band 5
                        </td>
                        <td>62
                        </td>
                        <td>80.52%
                        </td>
                        <td>95
                        </td>
                        <td>£4,000
                        </td>
                        <td>£380,052
                        </td>
                    </tr>

                    <tr>
                        <td>Band 4 (Sum of Band 4a and 4b)
                        </td>
                        <td>15
                        </td>
                        <td>19.48%
                        </td>
                        <td>23
                        </td>
                        <td>£3,300
                        </td>
                        <td>£75,857
                        </td>
                    </tr>

                    <tr>
                        <td>Band 4a
                        </td>
                        <td>15
                        </td>
                        <td>19.48%
                    </tr>

                    <tr>
                        <td>Band 4b
                        </td>
                        <td>0
                        </td>
                        <td colspan="4">0.00%
                        </td>
                    </tr>

                    <tr>
                        <td>Band 3
                        </td>
                        <td>0
                        </td>
                        <td>0.00%
                        </td>
                        <td>0
                        </td>
                        <td>£2,700
                        </td>
                        <td>£0
                        </td>
                    </tr>

                    <tr>
                        <td>Band 2
                        </td>
                        <td>0
                        </td>
                        <td>0.00%
                        </td>
                        <td>0
                        </td>
                        <td>£2,133
                        </td>
                        <td>£0
                        </td>
                    </tr>

                    <tr>
                        <td>Band 1 Students
                        </td>
                        <td>&nbsp;</td>
                        <td>0
                        </td>
                        <td>0.00%
                        </td>
                        <td>&nbsp;</td>
                        <td>0
                        </td>
                    </tr>

                    <tr>
                        <td>Band 1 FTEs
                        </td>
                        <td>&nbsp;</td>
                        <td>0.00
                        </td>
                        <td>£4,000
                        </td>
                        <td>&nbsp;</td>
                        <td>£0
                        </td>
                    </tr>

                    <tr>
                        <td class="bborder">Total
                        </td>
                        <td class="bborder">&nbsp;</td>
                        <td class="bborder">77
                        </td>
                        <td class="bborder">100%
                        </td>
                        <td class="bborder">118
                        </td>
                        <td class="bborder">£2,259,349
                        </td>
                    </tr>
                    </tbody>
                </table>

            </details>
            </td>
        </tr>

        </tr>
        <tr>
            <th>Retention factor</th>
            <td>0.997</td>
            <td class="numeric">£2,207,836</td>

        <tr>
            <th>Programme cost weighting</th>
            <td>1.004</td>
            <td class="numeric">£2,216,182</td>
        </tr>

        <tr>
            <th>Disadvantage funding</th>
            <td>£135,462</td>
            <td class="numeric">£2,351,644</td>
        <tr>
            <td colspan="3">
                <details>

                    <summary><span class="summary">Details</span></summary>

                <table class="tableizer-table">
                    <thead>
                    <tr class="tableizer-firstrow">
                        <th colspan="4">Distribution of Disadvantage Funding</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4">Disadvantage block 1</td>
                    </tr>
                    <tr>
                        <td>Economic Deprivation Funding</td>
                        <td>Block 1 factor</td>
                        <td>Funding including programme</td>
                        <td>Block 1 funding</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>7.28%</td>
                        <td>£435,472</td>
                        <td>£31,682</td>
                    </tr>
                    <tr>
                        <td>Care Leavers</td>
                        <td>Number of Qualifying Students</td>
                        <td>Rate per Qualifying Student</td>
                        <td>Care Leaver Funding</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>0</td>
                        <td>£480</td>
                        <td>£0</td>
                    </tr>
                    <tr>
                        <td colspan="3">Total block 1 Funding</td>
                        <td>£31,682</td>
                    </tr>
                    <tr>
                        <td colspan="4">Disadvantage block 2</td>
                    </tr>
                    <tr>
                        <td>Total 2017/18 Instances attracting Funding per Student</td>
                        <td>Instances attracting funding per Student Census </td>
                        <td>Instances attracting funding per Student YPMAD</td>
                        <td>Instances per student applied for 2017/18</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>0.792</td>
                        <td>0.874</td>
                        <td>0.833</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td>Block 2 funding Rates</td>
                        <td>Block 2 funding</td>
                    </tr>
                    <tr>
                        <td>Total Funded Instances for 2017/18</td>
                        <td>98.28</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Students attracting the Higher Rate </td>
                        <td>98.28</td>
                        <td>£480</td>
                        <td>£47,175</td>
                    </tr>
                    <tr>
                        <td>Students attracting the Lower Rate </td>
                        <td>0.00</td>
                        <td>£292</td>
                        <td>£0</td>
                    </tr>
                    <tr>
                        <td>Students attracting the FTE Rate</td>
                        <td>Students</td>
                        <td>0.00</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>FTEs</td>
                        <td>0.00</td>
                        <td>£480</td>
                        <td>£0</td>
                    </tr>
                    <tr>
                        <td colspan="3">Total block 2 Funding</td>
                        <td>£47,175</td>
                    </tr>
                    <tr>
                        <td colspan="3">Minimum top up if applicable</td>
                        <td>£0</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="bborder">Total Disadvantage Funding (sum of block 1, block 2 and minimum top up)</td>
                        <td class="bborder">£135,462</td>
                    </tr>
                    </tbody>
                </table>
                </details>

            </td>
        </tr>
        </tr>

        <tr>
            <th>Large Programme funding</th>
            <td>£1.600</td>
            <td class="numeric">£2,353,244</td>
        <tr>
            <td colspan="3">
                <details>
                    <summary><span class="summary">Details</span></summary>

                    <table class="tableizer-table">
                        <thead><tr class="tableizer-firstrow"><th colspan="6">Large Programme Uplift (based on 2014/15 students)</th></tr></thead><tbody>
                    <tr><td colspan="2">&nbsp;</td><td>&nbsp;</td><td>Students meeting criteria for</td><td>Funding Uplift per Student per year</td><td>Total Large Programme Uplift 2 Years</td></tr>
                    <tr><td colspan="2">Large Programme Uplift at 20% of National Rate</td><td>&nbsp;</td><td>0</td><td>£800</td><td>£0</td></tr>
                    <tr><td colspan="2">Large Programme Uplift at 10% of National Rate</td><td>&nbsp;</td><td>0</td><td>£800</td><td>£0</td></tr>
                    <tr><td colspan="2" class="bborder">Total</td><td class="bborder">&nbsp;</td><td class="bborder">0</td><td class="bborder">&nbsp;</td><td class="bborder">£0</td></tr>
                    </tbody></table>

                </details>

            </td>
        </tr>
        </tr>

        <tr>
            <th>Area cost allowance</th>
            <td colspan="2">1.120</td>
        </tr>

        <tr>
            <th colspan="2">Total</th>
            <td class="numeric">£2,635,633</td>
        </tr>

    </table>

   <nav role="navigation" aria-labelledby="parent-subsection" style="margin-top:60px">
                        <p><a href= "history1">Download and print full statement</a>
                            </p><p><a href= "https://form.education.gov.uk/fillform.php?self=1&form_id=HR41uA2F8Dh&type=form&ShowMsg=1&form_name=Knowledge+centre+enquiry+form&noRegister=false&ret=%2Fmodule%2Fservices&noLoginPrompt=1">Contact ESFA about this statement</a>
                           </p>
                    </nav>



</div>




</main>

{% endblock %}