{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
   
     
       <div class="grid-row ">
        <div class="navigation">
      
        </div>
    </div>
    

<div class="grid-row">
    <div class="column-full">
    

    <h1 class="heading-large margin-bottom">Files ready to upload</h1>




<br />
      
<table>
  <thead>
    <tr>
      <th width=""class="" scope="col">UKPRN</th>
      <th width="200"scope="col">Academy</th>
      <th width=""class="" scope="col">Name</th>
      <th width=""class="" scope="col">Type</th>
      <th width=""class="" scope="col"></th>
      <th width=""class="" scope="col"></th>
      
      
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="120">12273273</td>
      <td>Blythe</td>
      <td width="200"class="">Business case</td>
      <td width="350"class=""><img src="/public/images/file.png" style="width:40px;">&nbsp;&nbsp;<a href="#">blythe_businesscase2018.xls</a></td>
      <td width="120"class="">
        <a href="basic-upload22-change" style="padding-right:10px;">Change</a>
        <a href="formula-remove">Remove</a>
      </td>
      
    </div>
  </td>
    </tr>
    
  </tbody>
  <tbody>
    <tr>
      <td class="120">12273273</td>
      <td>Blythe</td>
      <td width="200"class="">Supporting evidence1 </td>
      <td width="400"class="" style="vertical-align:middle; display:table-cell;"><img src="/public/images/file.png" style="width:40px;">&nbsp;&nbsp;<a href="#">supporting evidence1.pdf</a></td>
      <td width="120"class=""><a href="basic-upload2">         
        <a href="basic-upload22-change2" style="padding-right:10px;">Change</a>
        <a href="formula-remove">Remove</a>
      </td>
      
      
    </div>
  </td>
    </tr>
    
  </tbody>
  
  
  

  
 
</table>

<table>
  
  <tbody>
    
    
  </tbody>
</table>


        <a class="button-grey" href="basic-upload">Add another file</a> 
       
       


   <nav role="navigation" aria-labelledby="parent-subsection" style="margin-bottom:60px">
                        <p><a href= "history1"></a>
                            </p><p><a href= "https://form.education.gov.uk/fillform.php?self=1&form_id=HR41uA2F8Dh&type=form&ShowMsg=1&form_name=Knowledge+centre+enquiry+form&noRegister=false&ret=%2Fmodule%2Fservices&noLoginPrompt=1"></a>
                           </p>
                    </nav>
                    <!--<a href= "upload-list16.html" class="">View files with errors</a>-->
                    <ul class="float">
                <p style="width: 100%;"><a id="submit-sub" style="float:right;" class="button" href="confirmation">Submit to ESFA</a></p>
                
            </ul>
              

  
       </div></div></div> 
      </div> 
      
    </div>
</div><br></div>

  </div>

</details>

</div>


</main>


{% endblock %}