{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
     
       <div class="grid-row ">
        <div class="navigation">
      
        </div>
    </div>
    

<div class="grid-row">
    <div class="column-full">
    

    <h1 class="heading-large margin-bottom">Are you sure</h1>




<br />
      
<table>
  <thead>
    <tr>
      <th width=""class="" scope="col"></th>
      <th width="200"scope="col">Academy</th>
      <th width=""class="" scope="col">Name</th>
      <th width=""class="" scope="col">Type</th>
      <th width=""class="" scope="col"></th>
      <th width=""class="" scope="col"></th>
      
      
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="120"><img src="/public/images/file.png"></td>
      <td>Blythe academy</td>
      <td width="200"class="">blythe_businesscase2018.xls</td>
      <td width="200"class="">Business case</td>
      
      
    </div>
  </td>
    </tr>
    
  </tbody>
 
</table>

<table>
  
  <tbody>
    
    
  </tbody>
</table>


        
       
       


   <nav role="navigation" aria-labelledby="parent-subsection" style="margin-bottom:60px">
                        <p><a href= "history1"></a>
                            </p><p><a href= "https://form.education.gov.uk/fillform.php?self=1&form_id=HR41uA2F8Dh&type=form&ShowMsg=1&form_name=Knowledge+centre+enquiry+form&noRegister=false&ret=%2Fmodule%2Fservices&noLoginPrompt=1"></a>
                           </p>
                    </nav>
                    <!--<a href= "upload-list16.html" class="">View files with errors</a>-->
                    <ul class="float">
                <p style="width: 100%;"><a id="submit-sub" style="float:right;" class="button" href="upload-list16?fin=1">Remove this file</a></p>
                
            </ul>
              

  
       </div></div></div> 
      </div> 
      
    </div>
</div><br></div>

  </div>

</details>

</div>

</main>


{% endblock %}