{% extends "layout.html" %}

{% block page_title %}
    User roles and permissions
{% endblock %}

{% block content %}

<main role="main" id="content">

    <div class="grid-row">
    
        <div class="column-full">

            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="#" class="link-back" onclick="goBack()">Back</a></li>
                    </ol>
                </nav>
            </div>

            <h1 class="heading-xlarge">User roles and permissions</h1>
            <p class="lede">These are the roles available to use in manage your education and skills funding (<abbr title="Manage your education and skills funding">MYESF</abbr>).</p>

                <div class="govuk-tabs" data-module="tabs">
                    <h3 class="govuk-tabs__title">Contents</h3>
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item"><a id="external" class="govuk-tabs__tab govuk-tabs__tab--selected" href="#external">External</a></li>
                        <li class="govuk-tabs__list-item"><a id="internal" class="govuk-tabs__tab" href="#internal">Internal</a></li>
                    </ul>

                    <!-- Extrenal user roles and permissions - (START) -->
                    <section class="govuk-tabs__panel" id="external">
                        <table>
                            <caption class="govuk-table__caption">External user roles and permissions</caption>
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>
                                        Apprenticeships editor
                                    </th>
                                    <th>
                                        Contract manager
                                    </th>                                   
                                    <th>
                                        Contract user
                                    </th> 
                                    <th>
                                        Document exchange User
                                    </th>                            
                                    <th>
                                        Data returns and claims authoriser
                                    </th>                           
                                    <th>
                                        Provider support user
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>All document exchange functions</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>Age reports</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>Complete subcontractor declarations</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>Raise queries</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>Sign contracts</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>Sign funding claims</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>View adult allocations</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>View contracts and funding claims</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>View payment history</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>View subcontractor declarations history</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <!-- Extrenal user roles and permissions - (END) -->

                    <!-- Internal user roles and permissions - (START) -->
                    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="internal">
                        <table>
                            <caption class="govuk-table__caption">Internal user roles and permissions</caption>
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>
                                        Administrator (<abbr title="Manage your education and skills funding">MYESF</abbr>)
                                    </th>  
                                    <th>
                                        Contract administrator
                                    </th>
                                    <th>
                                        Document exchange administrator (post-16 funding division)
                                    </th>                                   
                                    <th>
                                        Document exchange administrator (risk assurance)
                                    </th>                           
                                    <th>
                                        View as provider
                                    </th>                           
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>All document exchange functions</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>Age reports</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                </tr>
                                <tr>
                                    <td>Complete subcontractor declarations</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>Raise queries</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>Sign contracts</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>Sign funding claims</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                </tr>
                                <tr>
                                    <td>View adult allocations</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                </tr>
                                <tr>
                                    <td>View contracts and funding claims</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                </tr>
                                <tr>
                                    <td>View payment history</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                </tr>
                                <tr>
                                    <td>View subcontractor declarations history</td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">No</span></td>
                                    <td style="text-align: center"><span class="visuallyhidden ">Yes</span><i class="hod-checkmark"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <!-- Internal user roles and permissions - (END) -->
                </div>

            <div class="form-group">
                <h2 class="heading-medium"> Requesting roles</h2>
                <p>You need to speak to your organisations super user or request these roles through <a href="https://logon.fasst.org.uk" rel="external" target="_blank" title="This will open in a new tab or window">Identity and Access Management Service</a>.</p>
                <p>You may have more than one super user in your organisation.</p>
            </div>

        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- GOV.UK Design System tabs -->
<script src="/public/javascripts/{{version}}/tabs.js"></script>
<!-- myesf tabs -->
<script src="/public/javascripts/{{version}}/myesf-tabs.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
