{% extends "layout.html" %}

{% block page_title %}
    User roles and permissions
{% endblock %}

{% block content %}

<main role="main" id="content">

    <div class="grid-row">

        <div class="column-full">                
            <a href="#" class="link-back" onclick="goBack()">Back</a>
        </div>
    
        <div class="column-full">
            
            <div class="form-block">
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Manage your education and skills funding</span>
                    User roles and permissions
                </h1>
                <p class="lede">These are the roles available to use in Manage your education and skills funding (<abbr title="Manage your education and skills funding">MYESF</abbr>).</p>
            </div>
                        
            <div class="form-group">
                
                <table class="document-list">
                    <caption class="govuk-table__caption visuallyhidden">External user roles and permissions</caption>
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                Apprenticeships editor
                            </th>
                            <th>
                                Contract authoriser
                            </th>
                            <th>
                                Contract manager
                            </th>                                   
                            <th>
                                Contract user
                            </th>
                            <th>
                                Data returns and claims authoriser
                            </th>  
                            <th>
                                Document exchange user
                            </th>                                                      
                            <th>
                                Provider support user
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Age reports</td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                        </tr>
                        <tr>
                            <td>All document exchange functions</td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                        </tr>
                        <tr>
                            <td>Complete subcontractor declarations</td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                        </tr>
                        <tr>
                            <td>Raise queries</td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                        </tr>
                        <tr>
                            <td>Receive comms from MYESF</td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                        </tr>
                        <tr>
                            <td>Sign contracts</td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                        </tr>
                        <tr>
                            <td>Sign funding claims</td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                        </tr>
                        <tr>
                            <td>View adult allocations</td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                        </tr>
                        <tr>
                            <td>View the Apprenticeship service tile</td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                        </tr>
                        <tr>
                            <td>View contracts and funding claims</td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                        </tr>
                        <tr>
                            <td>View payment history</td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                        </tr>
                        <tr>
                            <td>View subcontractor declarations history</td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">Yes</span><i class="hod-checkmark"></i></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                            <td style="text-align: center"><span class="visuallyhidden">No</span></td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="form-group">
                <h2 class="heading-medium">Requesting roles</h2>
                <p>An approver at your organisation will be able to provide you with access to this service. You may have more than one approver in your organisation.</p>
                <p>If you do not know an approver at your organisation you can find out through <a href="/{{version}}/dfe-sign-in/start-page">DfE Sign-in</a>.</p>
            </div>

        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- GOV.UK Design System tabs -->
<script src="/public/javascripts/{{version}}/tabs.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
