{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

        <style>

            .alert-name-grey {
                display: block;
                background-color: #6f72af;
                padding: 7px 15px;
                margin-top: 5px;
            }

            .AgeReportAttachment {
                border-top: 1px solid #bfc1c3;
            }

            .attachment {
                position: relative;
                margin: 30px 0;
                padding: 15px 0 0 129px;
            }
            .attachment .attachment-thumb {
                position: relative;
                float: left;
                margin-top: 5px;
                margin-left: -124px;
                padding-bottom: 15px;
            }
            .attachment .accessibility-warning .toggler {
                display: inline-block;
                color: #005ea5;
                cursor: pointer;
            }
            .thumbnail img {
                -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
                -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
                box-shadow: 0 2px 2px rgba(0,0,0,.4);
                width: 100%;
                max-width: 287px;
            }
            .attachment .attachment-thumb img {
                display: block;
                width: 99px;
                height: 140px;
                background: #fff;
                outline: 5px solid rgba(11,12,12,.1);
                -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
                -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
                box-shadow: 0 2px 2px rgba(0,0,0,.4);
            }
            .multiple-choice label {padding: 0}
        </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>

    $(document).ready(function() {


        /* v v for collapsable search boxes v v */

        $("#funding-title").click(function(){

            $(".displayed-checkbox").toggleClass("hidden-checkbox");

            $(".up-arrow-new").toggleClass("down-arrow");
        });


        $("#funding-title-2").click(function(){

            $(".displayed-checkbox-2").toggleClass("hidden-2");

            //$(".hidden-2").toggleClass("show-2");

            $(".up-arrow-new-2").toggleClass("down-arrow");
        });


        $("#funding-title-3").click(function(){

            $(".hidden-3").toggleClass("show-3");

            $(".down-arrow-3").toggleClass("up-arrow-new-3");
        });



    });



</script>


<main role="main" id="content">
     <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash-old" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="account-menu__link"  data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds" style="margin-bottom: 40px">
            <p class="page-info">UKPRN:12345678</p>
            <h1 class="heading-large no-margin-top">East Reading College</h1>
           
        </div>
        
    </div>



     <div>


         <div class="grid-row account-details">

             <div class="column-two-thirds" style="text-align: left;" id="userdetails">
                 <span class="font-small" style="margin-right: 5px;"></span>
             </div>
         </div>

     </div>
     <div class="grid-row">


     <div class="column-one-third" style="margin-top: 30px">





         <a id="open-mobile-menu" class="heading-medium mob-search mobile-arrow-down">Edit search</a>


         <div class="search-hidden-mobile">



             <div class="filter-relative">
                 <button type="button" value="Select contract types" id="funding-title" tabindex="0" role="button" class="filters-headings heading-small focusing">Filter by type<span class="up-arrow-new"> </span></button>


                 <fieldset class="filters">

                     <legend class="visuallyhidden">Search</legend>


                     <div class="displayed-checkbox">
                         <section class="toggled-content">
                             <ul>

                                 <li class="multiple-choice">
                                     <input id="contract-type-1" name="contract" type="checkbox" value="16-19 Funding">
                                     <label class="block" for="contract-type-1">

                                         16 to 19 Funding
                                     </label>
                                 </li>




                                 <li class="multiple-choice">
                                     <input id="contract-type-5" name="contract" type="checkbox">
                                     <label class="block" for="contract-type-5">

                                        Adult Funding
                                     </label>
                                 </li>

                                 <li class="multiple-choice">
                                     <input id="contract-type-5" name="contract" type="checkbox">
                                     <label class="block" for="contract-type-5">

                                         PE and Sports Premium
                                     </label>
                                 </li>
                                 <br/>

                             </ul>
                             <br />
                         </section>
                     </div>
                 </fieldset>
             </div>



             <div class="filter-relative">
                 <button type="button" value="Select years" id="funding-title-2" tabindex="0" role="button" class="filters-headings heading-small focusing">Filter by academic year<span class="up-arrow-new-2"></span></button>

                 <fieldset class="filters">

                     <legend class="visuallyhidden">Search</legend>


                     <div class="displayed-checkbox-2">
                         <section class="toggled-content">
                             <ul>
                                 <li class="multiple-choice">
                                     <input id="year17" name="years" type="checkbox">
                                     <label class="block" for="year17">

                                         2018 to 2019
                                     </label>
                                 </li>

                                 <li class="multiple-choice">
                                     <input id="year16" name="years" type="checkbox">
                                     <label class="block" for="year16">

                                         2017 to 2018
                                     </label>
                                 </li>


                             </ul>
                         </section>
                     </div>
                 </fieldset>
             </div>


         </div>


     </div>


     <div class="column-two-thirds">


     <h1 class="heading-large">Funding Statements</h1>


     <section class="cards">
     <div class="">
     <ul>


     <section class="AgeReportAttachment">

         <h2>
             <a class="pdf-open-link pdf-download-link" href="funding-list" rel="external" title="This PDF will open in a new window">Adult Funding for 2018 to 2019</a>
         </h2>

         <p class="metadata">Adult Education Budget funding statement.</p>
         <p class="metadata">May 2018 version 1</p>

         
     </section>

     <section class="attachment AgeReportAttachment">
         <br>

         <div class="attachment-thumb">
             <a class="thumbnail pdf-open-link" target="_blank" href="/public/documents/1819_10000055_AEB_ALF_v1.pdf">
                 <img title="This PDF will open in a new window" alt="Allocation document" src="/public/images/PDF_Download_Thumbnail.png">
             </a>
         </div>

         <h2>
             <a class="pdf-open-link pdf-download-link" href="/public/documents/1819_10000055_AEB_ALF_v1.pdf" rel="external" target="_blank" title="This PDF will open in a new window">Adult Funding for 2018 to 2019</a>
         </h2>

         <p class="metadata">Adult Education Budget and loans facilities funding statement.</p>
         <p class="metadata">March 2018 version 1</p>


         <div class="accessibility-warning">
             <h2 id="pdf-file-size"><abbr title="Portable Document Format">PDF</abbr>, 245KB</h2>
             <h2>
                 This PDF may not be suitable for users of assistive technology.
                 <br>

                 You can email <a href="mailto:pds.mailbox@education.gov.uk">pds.mailbox@education.gov.uk</a> to ask for a different format.</h2>
         </div>
     </section>

    

     <section class="attachment AgeReportAttachment">
         <br>

         <div class="attachment-thumb">
             <a class="thumbnail pdf-open-link" target="_blank" href="/allocations/download/20">
                 <img title="This PDF will open in a new window" alt="Allocation document" src="/public/images/PDF_Download_Thumbnail.png">
             </a>
         </div>

         <h2>
             <a class="pdf-open-link pdf-download-link" href="/allocations/download/20" rel="external" target="_blank" title="This PDF will open in a new window">Adult Funding for 2017 to 2018</a>
         </h2>

         <p class="metadata">Loans facilities and 16 to 18 Traineeships funding statement.</p>
         <p class="metadata">May 2018 version 1</p>


         <div class="accessibility-warning">
             <h2 id="pdf-file-size"><abbr title="Portable Document Format">PDF</abbr>, 245KB</h2>
             <h2>
                 This PDF may not be suitable for users of assistive technology.
                 <br>

                 You can email <a href="mailto:pds.mailbox@education.gov.uk">pds.mailbox@education.gov.uk</a> to ask for a different format.</h2>
         </div>
     </section>

     
    

<hr>

         

         

        
     
     </div>
     </div>



 
    

    </main>

{% endblock %}