{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


        <style>strong{font-weight: 600}</style>

<main role="main" id="content">
     <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash-old" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="link-back">Back</a>

     <!--<div class="navigation" style="float: right">
         <ul>
             <li><a href="allocation-statement">Letter</a></li>
             <li> <a href="geographical-mapping">How this is calculated</a></li>
         </ul>
     </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">East Reading College</h1>
            <p class="page-info">UKPRN:12345678</p>
        </div>
        
    </div>-->
    <br />
        

<div class="grid-row margin-top">
    <div class="column-full">




<h1 class="heading-large">Adult Education Budget 2018 to 2019</h1>
<br />
<h1 class="heading-medium">Adult Education Budget</h1>
<hr>
        <table>
            <tr>
                <td>Baseline</td>
                <td>£4,494,746</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>2018 to 2019 allocation</strong></td>
                <td><strong>£4,494,746</strong></td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>August 2018 to March 2019</td>
                <td>£2,815,958</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2019 to July 2019</td>
                <td>£1,678,788</td>
                <td class="numeric"></td>
            </tr>

            <tr>
                <td>2017 to 2018 allocation</td>
                <td>£4,494,746</td>
                <td class="numeric">Total 2017 to 2018 contract value</td>
            </tr>


        </table>

            
<br /><p>&nbsp;</p>





        <h1 class="heading-medium">Adult Education Budget contract for service</h1>
<hr>


        <table>
            <tr>
                <td>Baseline</td>
                <td>£230,679</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>2018 to 2019 allocation</strong></td>
                <td><strong>£230,679</strong></td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>August 2018 to March 2019</td>
                <td>£154,833</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2019 to July 2019</td>
                <td>£75,846</td>
                <td class="numeric"></td>
            </tr>

            <tr>
                <td>2017 to 2018 allocation</td>
                <td>£182,361</td>
                <td class="numeric">Total 2017 to 2018 contract value</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><strong>£4,725,425</strong></td>
                <td class="numeric"><strong>Total adult funding</strong></td>
            </tr>

        </table>
            
<br /><p>&nbsp;</p>
<h1 class="heading-large">Advanced learner loan</h1>
<br />

        

        <h1 class="heading-medium">Advanced learner loan facility</h1>
<hr>


        <table>
            <tr>
                <td>Baseline</td>
                <td>£260,710</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>2018 to 2019 allocation</strong></td>
                <td><strong>£441,116</strong></td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>August 2018 to March 2019</td>
                <td>£278,653</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2019 to July 2019</td>
                <td>£162,463</td>
                <td class="numeric"> </td>
            </tr>

            <tr>
                <td>2017 to 2018 allocation</td>
                <td>£441,116</td>
                <td class="numeric">Total 2017 to 2018 facility</td>
            </tr>

        </table>
            
<br /><p>&nbsp;</p>

<h1 class="heading-medium">Advanced learner loan bursary</h1>
<hr>


        <table>
            <tr>
                <td>Baseline</td>
                <td>£123,970</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>2018 to 2019 allocation</strong></td>
                <td><strong>£127,689</strong></td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>August 2018 to March 2019</td>
                <td>£80,661</td>
                <td class="numeric"></td>
            </tr>
            <tr>
                <td>April 2019 to July 2019</td>
                <td>£47,028</td>
                <td class="numeric"></td>
            </tr>

            <tr>
                <td>2017 to 2018 allocation</td>
                <td>£110,012</td>
                <td class="numeric">Total 2017 to 2018 bursary</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><strong>£568,805</strong></td>
                <td class="numeric"><strong>Total loans available</strong></td>
            </tr>

        </table><br />
        
       <p> <a href="">Download statement</a></p>
        
<br /><p>&nbsp;</p>



    
</div>
    </div>

</main>


{% endblock %}