{% extends "layouts/main.html" %}

{% block page_title %}
    16 to 19 special post - 16 institutions: 2021 to 2022 - manage your education and skills funding - GOV.UK
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include version + "/includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
        <div class="column-full">
            <!-- <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="">Home</a></li>
                        <li><a href="">Select your sign-in</a></li>
                    </ol>
                </nav>
            </div> -->

            <div class="govuk-form-group govuk-!-margin-top-6" style="max-width:900px;">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="heading-large govuk-!-margin-bottom-4 govuk-!-margin-top-0">
                        Your user roles and permissions
                    </h1>
                </legend>
            </div>

            {% if scenario == '1' %}

            <h2 class="heading-medium govuk-!-margin-top-6">Roles assigned to you</h2>
            <div class="roles-wrap">
                <p class="role-tag subtle-assigned">View contracts and agreements</p>
                <p class="role-tag subtle-assigned">Sign contracts and agreements</p>
                <p class="role-tag subtle-assigned">View funding claims and reconciliation statements</p>
                <p class="role-tag subtle-assigned">Sign funding claims</p>
                <!-- <p class="role-tag">View previous subcontractor declarations</p>
                <p class="role-tag">Submit subcontractor declarations</p>
                <p class="role-tag">View payment history</p>
                <p class="role-tag">View allocation statements</p> -->
            </div>

            {% elif scenario == '2' %}

            <h2 class="heading-medium govuk-!-margin-top-6">Roles assigned to you:</h2>
            <div class="roles-wrap">
                <p class="role-tag assigned">View contracts and agreements</p>
                <p class="role-tag assigned">Sign contracts and agreements</p>
                <p class="role-tag assigned">View funding claims and reconciliation statements</p>
                <p class="role-tag assigned">Sign funding claims</p>
            </div>

            {% elif scenario == '3' %}

            <h2 class="heading-medium govuk-!-margin-top-6">Roles</h2>
            <div class="roles-wrap">
                <p class="role-tag assigned checkmark" style="position:relative;">
                    <span class="css-checkmark">
                        <span class="css-checkmark-stem"></span>
                        <span class="css-checkmark-kick"></span>
                    </span>
                    View contracts and agreements</p>
                <p class="role-tag assigned checkmark" style="position:relative;">
                    <span class="css-checkmark">
                        <span class="css-checkmark-stem"></span>
                        <span class="css-checkmark-kick"></span>
                    </span>
                    Sign contracts and agreements</p>
                <p class="role-tag assigned checkmark" style="position:relative;">
                    <span class="css-checkmark">
                        <span class="css-checkmark-stem"></span>
                        <span class="css-checkmark-kick"></span>
                    </span>
                    View funding claims and reconciliation statements</p>
                <p class="role-tag assigned checkmark" style="position:relative;">
                    <span class="css-checkmark">
                        <span class="css-checkmark-stem"></span>
                        <span class="css-checkmark-kick"></span>
                    </span>
                    Sign funding claims</p>
                <p class="role-tag">View previous subcontractor declarations</p>
                <p class="role-tag">Submit subcontractor declarations</p>
                <p class="role-tag">View payment history</p>
                <p class="role-tag">View allocation statements</p>
            </div>

            {% elif scenario == '4' %}

            <h2 class="heading-medium govuk-!-margin-top-6">Roles</h2>
            <div class="roles-wrap">
                <p class="role-tag assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    View contracts and agreements</p>
                <p class="role-tag assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    Sign contracts and agreements</p>
                <p class="role-tag assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    View funding claims and reconciliation statements</p>
                <p class="role-tag assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    Sign funding claims</p>
                <p class="role-tag">View previous subcontractor declarations</p>
                <p class="role-tag">Submit subcontractor declarations</p>
                <p class="role-tag">View payment history</p>
                <p class="role-tag">View allocation statements</p>
            </div>

            {% elif scenario == '5' %}

            <h2 class="heading-medium govuk-!-margin-top-6">Roles assigned to you</h2>
            <div class="roles-wrap">
                <p class="role-tag assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    View contracts and agreements</p>
                <p class="role-tag assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    Sign contracts and agreements</p>
                <p class="role-tag assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    View funding claims and reconciliation statements</p>
                <p class="role-tag assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    Sign funding claims</p>
            </div>

            {% elif scenario == '6' %}

            <h2 class="heading-medium govuk-!-margin-top-6">Roles</h2>
            <div class="roles-wrap">
                <p class="role-tag bold assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    View contracts and agreements</p>
                <p class="role-tag bold assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    Sign contracts and agreements</p>
                <p class="role-tag bold assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    View funding claims and reconciliation statements</p>
                <p class="role-tag bold assigned checkmark box" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    Sign funding claims</p>
            </div>

            {% else %}

            <h2 class="heading-medium govuk-!-margin-top-6">Roles assigned to you:</h2>
            <ul class="govuk-list govuk-list--bullet govuk-font-size-19">
                <li>View contracts and agreements</li>
                <li>Sign contracts and agreements</li>
                <li>View funding claims and reconciliation statements</li>
                <li>Sign funding claims</li>
                <!-- <li>View previous subcontractor declarations</li>
                <li>Submit subcontractor declarations</li>
                <li>View payment history</li>
                <li>View allocation statements</li> -->
              </ul>

            {% endif %}

            <h2 class="heading-medium govuk-!-margin-top-6 float-reset">Requesting roles</h2>
            <p>You can request more roles by contacting your super user through the <a href="">Identity and Access Management System (IDAMS)</a>.</p>
            <p><a href="">View all role types</a>.</p>

            <h2 class="heading-medium govuk-!-margin-top-6 float-reset">Your account settings</h2>
            <p>Through <a href="">IDAMS</a> you can:</p>
            <ul class="govuk-list govuk-list--bullet govuk-font-size-19">
              <li>update your contact information</li>
              <li>change your password</li>
              <li>request user roles for ESFA services</li>
            </ul>

            <h2 class="heading-medium govuk-!-margin-top-6 float-reset">Manage your users</h2>
            <p>If you are a super user for your organisation you can:</p>
            <ul class="govuk-list govuk-list--bullet govuk-font-size-19">
              <li>update user contact information</li>
              <li>capprove or reject user role requests for ESFA services</li>
              <li>grant a new user access</li>
              <li>remove access rights</li>
              <li>create additional super users for your organisation</li>
            </ul>
                
    </div>

</main>


<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- GOV.UK Design System accordion -->
<script src="/public/javascripts/{{version}}/accordion.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

<script type="text/javascript">
    function dualAuthOptions() {
      if(document.getElementById('sign-in-dfe').checked) {
          document.getElementById('exampleRadioLink').onclick = location.href='login-dfe-sens';
      }
      else if(document.getElementById('sign-in-idams').checked) {
          document.getElementById('exampleRadioLink').onclick = location.href='login-idams-sens';
      }
      else {
        $(".govuk-form-group").addClass("govuk-form-group--error");
        $("#passport-issued-error").removeClass("hide");
      }
    }
  </script>

{% endblock %}