{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">
                <div class="phase-banner-beta">

<div>
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>
            This is a new service – your
            <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
</div>

  <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul> 
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    
    
        
            <div class="govuk-box-highlight">
                <h1 class="bold-large">Contract signed</h1>
                <p>ESF SSW Retraining for Employment Cornwall and the Isles of Scilly LEP</p>
                <p>Signed by Andrea Adams on 25 Oct 2017 at 16:59</p>
                <p>We've sent you a confirmation email</p>
                
            </div>
            &nbsp;
            <p>This contract has been agreed by the authorised signatory for the Education and Skills Funding Agency acting on behalf of the Secretary of State and has been digitally signed by all parties.</p>
        
        <div class="grid-row margin-top">

        <div class="column-two-thirds">
            
            &nbsp;
           
            <h2 class="bold-medium">What happens next? </h2>
            
            <p>Payments will be made as detailed in the contract payment schedule.</p>

            <p class="bold">Or you may want to:</p>
            <p><a href="andrea-authoriser">Go back to ESFA contracts and agreements</a></p>
            <p><a href="dashboard">Go to the apprenticeship service</a></p>

&nbsp;


            <!--<p><a href="#">Is there a problem with the signed contract</a></p>--> <!--need a dropdown here-->

            <h2 class="heading-medium">Feedback survey</h2>
            <p>If you have a few moments then please complete our <a href="https://www.surveymonkey.co.uk/r/DLL5F6K" target="_blank">survey</a>.<br>
            It takes approximately 2 minutes and will help us to develop and improve this service.</p>


        </div>
    </div>
       
  


</main>

{% endblock %}
