{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">
                <div class="phase-banner-beta">

<div>
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>
            This is a new service – your
            <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
</div>

  <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    
    
        
            <div class="govuk-box-highlight">
                <h1 class="bold-large">Agreement signed</h1>
                <p>ESFA apprenticeship agreement 12 2017</p>
                <p>Signed by Jim Riaz on 25 Oct 2017 at 11:59</p>
                <p>We've sent you a confirmation email</p>
                
            </div>
            

        <div class="grid-row margin-top">

        <div class="column-two-thirds">
        &nbsp;
           
            <h2 class="bold-medium">What happens next? </h2>
                       <p>You can continue to work with employers to add apprentices to their apprenticeship service, but you can now approve cohorts.</p>

            <p class="bold">Or you may want to:</p>
          
             
             <a href=""> Go back to ESFA contracts and agreements</a> </p>
&nbsp;
            
             
            


                
            <!-- <p>View the updated agreement in Portable Document Format (PDF) in <a href="/andrea-authoriser">your contract documents</a></p> -->

            
            

            <!--<p><a href="#">Is there a problem with the signed contract</a></p>--> <!--need a dropdown here-->

            <h2 class="heading-medium">Feedback survey</h2>
            <p>If you have a few moments then please complete our <a href="https://www.surveymonkey.co.uk/r/DLL5F6K" target="_blank">survey</a>.<br>
            It takes approximately 2 minutes and will help us to develop and improve this service.</p>

</main>

{% endblock %}
