
{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                
            </p>
        </div>
    </div>

    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <!-- <li><a class="font-xsmall" href="dashboard">Home page</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li> -->
            <li><a class="font-xsmall" href="dashboard-das">Home</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

    

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 id="page-title" class="bold-xlarge">Education and skills funding</h1>
            <br><h1 class="heading-secondary">Warwickshire College</h1>
            <p>UKPRN:12345678</p>
        </div>


        <div class="related-container">
        <p class="related-topic " style="text-align:right">
        <a class="bold-medium">Warwickshire College</a>
        <p class="font-small " style="text-align:right">UKPRN:12345678</p>
        </div>
        
    </div>
    &nbsp;

    

      <div class="grid-row">
         <div class="column-two-thirds">
             
             <h2 class="bold-medium" style="font-size:28px">Apprenticeship service</h2>
             <div class="grid-layout grid-layout--stacked flush--bottom flush--left">

    <div class="grid-layout__column grid-layout__column--2-3 flush--bottom">

       <a href= agreement-not-signed-softstop.html>Add and update apprentices</a>
    </div>
    &nbsp;

    <hr>
<h2 class="bold-medium" style="font-size:28px">Contracts and agreements</h2>
             <div class="grid-layout grid-layout--stacked flush--bottom flush--left">

    <div class="grid-layout__column grid-layout__column--2-3 flush--bottom">

      <p class="flush--bottom 
                  alert alert--borderless  soft--left soft-half--ends" "="">
                 <a href="andrea-authoriser">View and sign</a>
      </p>
    </div>
    <hr>

<h2 class="bold-medium" style="font-size:28px">Funding claims</h2>
             <div class="grid-layout grid-layout--stacked flush--bottom flush--left">

    <div class="grid-layout__column grid-layout__column--2-3 flush--bottom">

      <p class="flush--bottom 
                  alert alert--borderless  soft--left soft-half--ends" "="">
                  <a href="andrea-authoriser-NEW">Review your claims<a/>
      </p>
    </div>
    <hr>
    <h2 class="bold-medium" style="font-size:28px">Payment history</h2>
             <div class="grid-layout grid-layout--stacked flush--bottom flush--left">

    <div class="grid-layout__column grid-layout__column--2-3 flush--bottom">

      <p class="flush--bottom 
                  alert alert--borderless  soft--left soft-half--ends" "="">
                  <a href="payment-history">View your payments</a>
      </p>
    </div>
    <hr>
    <hr>
    <h2 class="bold-medium" style="font-size:28px">Apprenticeship grant for employers (AGE)</h2>
             <div class="grid-layout grid-layout--stacked flush--bottom flush--left">

    <div class="grid-layout__column grid-layout__column--2-3 flush--bottom">

      <p class="flush--bottom 
                  alert alert--borderless  soft--left soft-half--ends" "="">
                  <a href="age-reports2">Download your AGE reports</a>
      </p>
    </div>
    

    </div>

  </div>
         

         
                
                </ul>
            </div>
    
    
    </div>

</main>


{% endblock %}