{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>


<script>
$(document).ready(function(){
    $("#querySubmit").click(function(){

        $(".hidden").addClass("show"); //to show 'query sent'

        $("details").not(this).removeAttr("open");
    });
    
    $("summary").click(function(){

        $(".hidden").removeClass("show"); //to show 'query sent'

    });
    
    
    $(".show-year-end").click(function(){

        $(".hidden-cell").addClass("show1"); 

        $(".hidden-year-end").show();

        $(".show-year-end").hide();

    });


    $(".hide-year-end").click(function(){

        $(".hidden-cell").removeClass("show1"); 

        $(".hidden-year-end").hide();

        $(".show-year-end").show();

    });
    
    // $("summary").click(function(){

    //     $(".hidden").removeClass("show"); //to show 'query sent'

    // });


    
    
    // $(window).scroll(function(){
    //   if($(window).scrollTop() + 100 > $(window).height() ){

    //     $("#js-back-to-content").show();

    //       }
    //     else {
    //         $("#js-back-to-content").hide();
    //     }  
    // });


    $("#funding-title").click(function(){

        $(".hidden").toggleClass("show-table"); 

        $(".down-arrow-funding").toggleClass("up-arrow-funding"); 

        $("#total-claims-hide").toggle();

    });

    
    $("#funding-title-2").click(function(){

        $(".hidden-2").toggleClass("show-table-2"); 

        $(".down-arrow-2").toggleClass("up-arrow-new-2");
    });

   
    $("#funding-title-3").click(function(){

        $(".hidden-3").toggleClass("show-table-3"); 

        $(".down-arrow-3").toggleClass("up-arrow-new-3");
    });

    
    $("#funding-title-4").click(function(){

        $(".hidden-4").toggleClass("show-table-4"); 

        $(".down-arrow-4").toggleClass("up-arrow-new-4");
    });



    $("#open-all").click(function(){

        $("#funding-title, #funding-title-2").click();

        $(".open-link").hide(); 

        $(".close-link").show();

    });

    $("#close-all").click(function(){

        $("#funding-title, #funding-title-2").click(); 

        $(".close-link").hide(); 

        $(".open-link").show();
    });
    
});
</script>

<main role="main" id="content" >
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home page</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    
    


<div class="grid-row">
    <div class="column-two-thirds">
        <div>               
            <h1 class="heading-xlarge">Review your reconciliation</h1>      
        </div>

    
    

        
        


                    
                        

                    <p>Year end reconciliation for Adult skills budget (ASB) 2016 to 2017. The statement was created from the claim you submitted in the Hub.</p>

                    <p>The reconciliation amount is an estimate based on your claim and includes any adjustments made by the SFA.</p>
                   

                    
                    
<p id="#Breakdown" class="extra-margin" ><a href="public/images/Final funding for 2015 to 2016.pdf">Save and Print final amount (PDF)</a>
<a href="#Breakdown" id="close-all" class="close-link float-right" >Close all</a>
                    <a href="#Breakdown" id="open-all" class="open-link float-right">Open all</a>
                    

                    </p>

                    <h2 class="bold-small">Breakdown of funding claim figures</h2>
                    
                    <div id="funding-title" class="filters-headings-funding">
                        <h2 class="bold-small">Adult Skills Budget (ASB)
                            <span class="down-arrow-funding"></span></h2>
                            <p id="total-claims-hide" class="bold-xsmall">Total claim amount £99,999,999.99</p>
                        
                    </div>
                                       
                        <div class="hidden">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19 to 23 apprenticeships programme funding</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>
                        
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-23 Apprenticeships Learning Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Apprenticeships Programme Funding</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Apprenticeships Learning Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19+ Apprenticeships Learner Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-23 Trailblazer Apprenticeships Programme Funding</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-23 Trailblazer Apprenticeships Learning Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Trailblazer Apprenticeships Programme Funding</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Trailblazer Apprenticeships Learning Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">Workplace Learning Programme Funding</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">Workplace Learning - Learning Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">Classroom Learning Programme Funding</th>
                                       
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                       
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">Classroom Learning - Learning Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-24 Traineeships Programme Funding</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-24 Traineeships Learning Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-24 Traineeships Learner Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th class="column-left">Total claim figures</th>
                                        
                                        <th class="numeric">£99,999,999.99</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>

                    <br>
                    <br>

                    <p><a href="public/images/Final reconciliation.pdf">Save and Print final amount (PDF)</a></p>
                    
                    <div >
                        <h2 class="bold-small">Year end reconciliation</h2>
                            <span>Reconciliation amount £99,999,999.99</span>
                        
                    </div>
                        
                            <table>
                                <thead>
                                    <!-- <tr>
                                        <th class="column-left">Total</th>
                                        
                                        <th class="numeric">Amount</th>
                                    </tr> -->
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Total allocation</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total claimed</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total variance</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Percentage of allocation claimed</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Proposed reconciliation</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Reconciliation adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>




                    <!-- <div id="funding-title-2" class="filters-headings-funding">
                        <h2 class="bold-small width-90per">Discretionary Learner Support (DLS) and Advanced Learner Loans Bursary (ALLB)<span class="down-arrow-2"></span></h2>
                        <p class="bold-xsmall">Total claim amount £99,999,999.99</p>

                    </div>
                                       
                          
                        <div class="hidden-2">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19 to 23 apprenticeships programme funding</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>
                        
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-23 Apprenticeships Learning Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                       
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Apprenticeships Programme Funding</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Apprenticeships Learning Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19+ Apprenticeships Learner Support</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th class="column-left">Total claim figures</th>
                                        
                                        <th class="numeric">£99,999,999.99</th>
                                    </tr>
                                </thead>
                            </table>

                            
                            

                        </div>



                    <div id="funding-title-3" class="filters-headings-funding">
                        <h2 class="bold-small width-90per">Community Learning<span class="down-arrow-3"></span></h2>
                        <p class="bold-xsmall">Total claim amount £99,999,999.99</p>

                    </div>
                                       
                          
                        <div class="hidden-3">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19 to 23 apprenticeships programme funding</th>
                                        
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th class="column-left">Total claim figures</th>
                                        
                                        <th class="numeric">£99,999,999.99</th>
                                    </tr>
                                </thead>
                            </table>                    
                            
                        </div> -->



                 
            <ul class="float margin-top">
                <!-- <li><a class="button" href="/Step-2-funding">Continue to sign</a></li> -->
                <li><a href="andrea-authoriser-NEW">Back to funding claims</a></li>
            </ul>
                    <br>
                
                    <br>


                                    
                    <!-- <a href="#" id="summaryLink" class="underline">Raise a query</a> -->

                    
                    

          </div>      


          <div class="related-container">
        <aside class="related" id="related">
            <div class="inner group related-subsection">
                <h2 id="parent-subsection">Related</h2>
                    <nav role="navigation" aria-labelledby="parent-subsection">
                        <ul>

                            <li>
                                <a href="andrea-authoriser">View contracts</a>
                            </li>
                            <li>
                                <a href="andrea-authoriser-NEW">View funding claims</a>
                            </li>
                            <li>
                                <a href="https://hub.fasst.org.uk/Pages/default.aspx">The Hub</a>
                            </li>
                            
                            <!--<li class="related-topic">
                                <a href="/" class="bold-xsmall">More 
                                    <span class="visuallyhidden">Some more text here would appear</span>
                                </a>
                            </li>-->
                    </ul>
                </nav>
            </div>
        </aside>

    </div>    

</div>
          
    
        

</main>


{% endblock %}