{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>


<script>
$(document).ready(function(){
    
     
    
 
    $("#funding-title").click(function(){

        $(".hidden").toggleClass("show-table"); 

        $(".down-arrow-funding").toggleClass("up-arrow-funding"); 


        if (".down-arrow-funding")
        {
            $("#open-all").text("Close all");
        }

        $("#total-claims-hide").toggle();

    });

    
    $("#funding-title-2").click(function(){

        $(".hidden-2").toggleClass("show-table-2"); 

        $(".down-arrow-2").toggleClass("up-arrow-new-2");


        if (".down-arrow-2")
        {
            $("#open-all").text("Close all");
        }

        else {
            $("#open-all").text("Open all");
        }

        $("#total-claims-hide-2").toggle();

    });


    $("#funding-title-3").click(function(){

        $(".hidden-3").toggleClass("show-table-3"); 

        $(".down-arrow-3").toggleClass("up-arrow-new-3");


        if (".down-arrow-3")
        {
            $("#open-all").text("Close all");
        }

        else {
            $("#open-all").text("Open all");
        }

        $("#total-claims-hide-3").toggle();
    });


    $("#open-all").click(function(){

        $("#funding-title, #funding-title-2, #funding-title-3").click();

        $("#open-all").text("Close all"); 

    });

    

});


</script>

<main role="main" id="content" >
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home page</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    
    


<div class="grid-row">
    <div class="column-two-thirds">
        <div>               
            <h1 class="heading-xlarge">Review your funding claim</h1>      
        </div>

        <p>This is your mid year funding claim (R08) for 2016 to 2017 and is the information you entered on the hub in data collections on [Date/time submitted].</p>


                   
                    <p ><a href="public/images/Final funding for 2015 to 2016.pdf">Save and Print final amount (PDF)</a>
                    
                    
                    <a href="#" id="open-all" class="open-link float-right">Open all</a>
                    


                    </p>
                    
                    <div id="funding-title" class="filters-headings-funding margin-bottom">
                        <h2 class="bold-small">Adult Skills Budget (ASB)
                            <span class="down-arrow-funding"></span></h2>
                            <p id="total-claims-hide" class="bold-xsmall">Total claim figures £99,999,999.99</p>

                            
                        
                    </div>
                                       
                        <div class="hidden">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19 to 23 apprenticeships programme funding</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>
                        
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-23 Apprenticeships Learning Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Apprenticeships Programme Funding</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Apprenticeships Learning Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19+ Apprenticeships Learner Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-23 Trailblazer Apprenticeships Programme Funding</th>
                                        <td class="numeric">£99,999,999.99</td>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-23 Trailblazer Apprenticeships Learning Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Trailblazer Apprenticeships Programme Funding</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Trailblazer Apprenticeships Learning Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">Workplace Learning Programme Funding</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">Workplace Learning - Learning Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">Classroom Learning Programme Funding</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">Classroom Learning - Learning Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-24 Traineeships Programme Funding</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-24 Traineeships Learning Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-24 Traineeships Learner Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th class="column-left">Total claim figures</th>
                                        <th class=""></th>
                                        <th class="numeric">£99,999,999.99</th>
                                    </tr>
                                </thead>
                                <thead class="grey-background">
                                    <tr>
                                        <th class="column-left">Total contract value</th>
                                        <th class=""></th>
                                        <th class="numeric">£99,999,999.99</th>
                                    </tr>
                                </thead>

                            </table>

                        </div>


                    <div id="funding-title-2" class="filters-headings-funding">
                        <h2 class="bold-small width-90per">Discretionary Learner Support (DLS) and Advanced Learner Loans Bursary (ALLB)<span class="down-arrow-2"></span></h2>
                        <p id="total-claims-hide-2" class="bold-xsmall">Total claim figures £99,999,999.99</p>

                    </div>
                                       
                          
                        <div class="hidden-2">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19 to 23 apprenticeships programme funding</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>
                        
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19-23 Apprenticeships Learning Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Apprenticeships Programme Funding</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">24+ Apprenticeships Learning Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19+ Apprenticeships Learner Support</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th class="column-left">Total claim figures</th>
                                        <th class="">-</th>
                                        <th class="numeric">£99,999,999.99</th>
                                    </tr>
                                </thead>
                                <thead class="grey-background">
                                    <tr>
                                        <th class="column-left">Total contract value</th>
                                        <th class=""></th>
                                        <th class="numeric">£99,999,999.99</th>
                                    </tr>
                                </thead>
                            </table>

                            
                            

                        </div>



                    <div id="funding-title-3" class="filters-headings-funding">
                        <h2 class="bold-small width-90per">Community Learning<span class="down-arrow-3"></span></h2>
                        <p id="total-claims-hide-3" class="bold-xsmall">Total claim figures £99,999,999.99</p>

                    </div>
                                       
                          
                        <div class="hidden-3">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">19 to 23 apprenticeships programme funding</th>
                                        <th class="numeric">Year end</th>
                                        <th class="numeric">Final year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="column-left">Your claim</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Exceptional adjustments</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">Total delivery for 2016 to 2017</td>
                                        <td class="numeric">£99,999,999.99</td>
                                        <td class="numeric">£99,999,999.99</td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th class="column-left">Total claim figures</th>
                                        <th class="">-</th>
                                        <th class="numeric">£99,999,999.99</th>
                                    </tr>
                                </thead>
                                <thead class="grey-background">
                                    <tr>
                                        <th class="column-left">Total contract value</th>
                                        <th class=""></th>
                                        <th class="numeric">£99,999,999.99</th>
                                    </tr>
                                </thead>
                            </table>                    
                            
                        </div>





                 
            <ul class="float margin-top">
                <!-- <li><a class="button" href="/Step-2-funding">Continue to sign</a></li> -->
                <a href="andrea-authoriser-NEW"> back to funding claims</a>
            </ul>
                    <br>
                
                    <br>


                                    
                    <!-- <a href="#" id="summaryLink" class="underline">Raise a query</a> -->

                    
                    

          </div>       

    <div class="related-container">
        <aside class="related" id="related">
            <div class="inner group related-subsection">
                <h2 id="parent-subsection">Related</h2>
                    <nav role="navigation" aria-labelledby="parent-subsection">
                        <ul>
                            <li>
                                <a href="andrea-authoriser">View contracts</a>
                            </li>
                            <li>
                                <a href="https://hub.fasst.org.uk/Pages/default.aspx">The Hub</a>
                            </li>
                            
                    </ul>
                </nav>
            </div>
        </aside>

    </div>   

</div>
          
    
        

</main>


{% endblock %}