{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>


<script>
$(document).ready(function(){
    $("#querySubmit").click(function(){

        $(".hidden").addClass("show"); //to show 'query sent'

        $("details").not(this).removeAttr("open");
    });
    
    $("summary").click(function(){

        $(".hidden").removeClass("show"); //to show 'query sent'

    });
    
    
    $(".show-year-end").click(function(){

        $(".hidden-cell").addClass("show1"); 

        $(".hidden-year-end").show();

        $(".show-year-end").hide();

    });


    $(".hide-year-end").click(function(){

        $(".hidden-cell").removeClass("show1"); 

        $(".hidden-year-end").hide();

        $(".show-year-end").show();

    });
    
    // $("summary").click(function(){

    //     $(".hidden").removeClass("show"); //to show 'query sent'

    // });


    
    
    // $(window).scroll(function(){
    //   if($(window).scrollTop() + 100 > $(window).height() ){

    //     $("#js-back-to-content").show();

    //       }
    //     else {
    //         $("#js-back-to-content").hide();
    //     }  
    // });


    $("#funding-title").click(function(){

        $(".hidden").toggleClass("show-table"); 

        $(".down-arrow-funding").toggleClass("up-arrow-funding"); 

        $("#total-claims-hide").toggle();

    });

    
    $("#funding-title-2").click(function(){

        $(".hidden-2").toggleClass("show-table-2"); 

        $(".down-arrow-2").toggleClass("up-arrow-new-2");

        $("#total-claims-hide-2").toggle();
    });

   
    $("#funding-title-3").click(function(){

        $(".hidden-3").toggleClass("show-table-3"); 

        $(".down-arrow-3").toggleClass("up-arrow-new-3");

        $("#total-claims-hide-3").toggle();
    });

    
    $("#funding-title-4").click(function(){

        $(".hidden-4").toggleClass("show-table-4"); 

        $(".down-arrow-4").toggleClass("up-arrow-new-4");
    });



    $("#open-all").click(function(){

        $("#funding-title, #funding-title-2").click();

        $(".open-link").hide(); 

        $(".close-link").show();

    });

    $("#close-all").click(function(){

        $("#funding-title, #funding-title-2").click(); 

        $(".close-link").hide(); 

        $(".open-link").show();
    });
    
});
</script>

<main role="main" id="content" >
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home page</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    
    


<div class="grid-row">
    <div class="column-three-thirds">
        <div>               
            <h1 class="heading-xlarge">Payment details</h1>      
        </div>

        
                   
 
                    

                    <p>Payments made on 12 April 2017</p>
                        

                    <p><a href="#">Download (PDF)</a></p>

                    
                                       
                          
                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="column-left">Contract</td>

                                        <th>Description</th>
                                        
                                        <th class="numeric">Amount</td>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <p class="font-xsmall"><td class="column-left">16AP-4222</td></p>

                                        <td class="column-left"> 16-18 Apprenticeships Reconcilliation Apr 2017</td>
                                        
                                        <td class="numeric">£96,067.55</td>
                                    </tr>
                                    <tr>
                                        <p class="font-xsmall"><td class="column-left">16AP-4222</td><p>

                                        <td class="column-left">16-18 Trailblazer Apprenticeships Reconcilliation Apr 2017</td>
                                        
                                        <td class="numeric">£9,696.66</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">AAC-1343</td>

                                        <td class="column-left">19+ Apprenticeships Profile Apr 2017</td>
                                        
                                        <td class="numeric">£522,372.00</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">AEC-1427</td>

                                        <td class="column-left">Adult Education Budget Profile Apr 2017</td>
                                        
                                        <td class="numeric">£2,276,865.00</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">AGE-3219</td>

                                        <td class="column-left">Employer Incentive 19-24 Capping Mar 2017</td>
                                        
                                        <td class="numeric">-£3,000.00</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">AGE-3219</td>

                                        <td class="column-left">National careers service offenders leaning and skills service in custody Mar 2017</td>
                                        
                                        <td class="numeric">£3,000.00</td>
                                    </tr>
                                    <tr>
                                        <td class="column-left">ALLC-2673</td>

                                        <td class="column-left">Advance Learener Loans Bursary Profile Apr 2017</td>
                                        
                                        <td class="numeric">£299,760.00</td>
                                    </tr>
                                   
                                    <tr>
                                        <th class="column-left">Total</td>

                                        <th></th>
                                        
                                        <th class="numeric">£3,204,761.21</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    


                 
            <div class="margin-top-2">
                
                <p><a href="payment-history">Back to payment history</a></p>
            </div>
                    

                    
                    

    </div>      


    <!-- <div class="related-container">
        <aside class="related" id="related">
            <div class="inner group related-subsection">
                <h2 id="parent-subsection">Related</h2>
                    <nav role="navigation" aria-labelledby="parent-subsection">
                        <ul>

                            <li>
                                <a href="/andrea-authoriser">View contracts</a>
                            </li>
                            <li>
                                <a href="/andrea-authoriser-NEW">View funding claims</a>
                            </li>
                            <li>
                                <a href="https://hub.fasst.org.uk/Pages/default.aspx">The Hub</a>
                            </li>
                            
                            
                    </ul>
                </nav>
            </div>
        </aside>

    </div>   -->  

</div>
          
    
        

</main>


{% endblock %}