{% extends "layout.html" %}

{% block page_title %}
    View national funding formula for schools 2020 to 2021
{% endblock %}

{% block content %}

<script src="https://kit.fontawesome.com/71943611db.js" crossorigin="anonymous"></script>

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
          <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../start">Manage your education and skills funding</a></li>
                        <li><a href="start">View national funding formula for schools</a></li>
                        <li><a href="viewing-choice">Find a school or academy</a></li>
                        {% if didYouMean == 'Yes' %}
                        <li><a href="did-you-mean">Search results</a></li>
                        {% endif %}
                        <li>{% if searchScope == 'St marys' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == "Hackwood" %}Hackwood Primary School{% else %}St Mary's Kilburn Church of England Primary School{% endif %}</li>
                    </ol>
                </nav>
            </div>
            
            <h1 class="heading-xlarge">
                Hackwood Primary School
                <span class="heading-secondary">
                    Derby, DE3 0FD
                </span>
            </h1>   
            
            <h2 class="heading-large">NFF funding 2020 to 2021</h2>

            <div class="grid-row">

                <div class="column-two-thirds">
                    
                    <div class="card">
                        <div class="card__footer">
                            <span class="heading-small">Total funding</span>
                            <br>
                            <span class="heading-large">£131,277
                        </div>
                        <div class="card__body">
                            <p>The school's actual funding may be different. This is because funds are allocated to the local authority first. The local authority then decides how much funding this school gets.</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="grid-row">
                
                <div class="column-one-third">

                    <div class="card">
                        <div class="card__footer">
                            <span class="heading-small">Number of pupils</span>
                            <br>
                            <span class="heading-large">30
                            </span> 
                        </div>
                        <div class="card__body">
                            <p>Based on 2019 to 2020 pupil count.</p>
                        </div>
                    </div>

                </div>

                <div class="column-one-third">

                    <div class="card">
                        <div class="card__footer">
                            <span class="heading-small">Funding per pupil</span>
                            <br>
                            <span class="heading-large">
                                <span class="heading-large">£4,376</span>
                            </span> 
                        </div>
                        <div class="card__body">
                            <p>Based on funding for pupils and the school.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="column-full">

            <h2 class="heading-large">NFF funding 2019 to 2020</h2>
            <p>Funding not shown. This could be because:</p>
                <ul class="list list-bullet">
                    <li>this was a new school and did not receive funding for the full year</li>
                    <li>two schools merged to become one - not useful to compare</li>
                    <li>a school split into 2 different schools - not useful to compare</li>
                </ul>
            </p>

            <h2 class="heading-large">Related resources</h2>
            <ul class="list">
                <li><a href="https://www.gov.uk/government/publications/national-funding-formula-tables-for-schools-and-high-needs-2020-to-2021" rel="external" target="external" title="This will open in a new tab or window">National funding formula tables for schools and high needs: 2020 to 2021</a></li>
                <li><a href="https://www.gov.uk/government/publications/national-funding-formula-for-schools-and-high-needs" rel="external" target="external" title="This will open in a new tab or window">How the national funding formula allocates funds to schools and high needs</a></li>
            </ul>

        </div>  

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

{% endblock %}

							
							
							
							