.cards h2 {
    font-weight: 700;
    font-size: 24px;
}

.card h3 {
        font-weight: 700;
        font-size: 19px;
    }
.margin-top {
  margin-top: 10px;
}
li.tab {
  border-bottom: 1px solid #bfc1c3;
  margin-top: 20px;
}
.tab {
  display: none;
}

.tab.active {
  display: block;
}

li.tab:nth-of-type(1) {
  margin-top: 0px;
}

@media (min-width: 641px) {
  li.tab:nth-of-type(1) {
    margin-top: 45px;
  }
}

.action-link {
  text-align: right;
  padding: 1.052em
}