select {
    border: 1px solid #bfc1c3;
    font-family: inherit;
    font-size: inherit;
    height: 31px;
    line-height: 31px;
    padding: 2px 0 2px 4px;
    vertical-align: middle;
    width: 100%;
}

[type=radio] + label::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    @include border-radius(50%);
}

[type=radio] + label::after {
    content: "";
    border: 10px solid;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    @include border-radius(50%);
    @include opacity(0);
}

@media (min-width: 641px) {
    select {
        height: 36px;
        line-height: 36px;
        width: auto;
    }
}


#footer .sfa-footer-link {
    margin-bottom: 10px;
    color: #454a4c;
}


textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}


.sfa-block-highlight {
    background-color: #dee0e2;
    display: inline-block;
    padding: 15px;
}

@media (min-width: 641px) {
    textarea {
        width: 100%;
    }
}

.column-full {
    padding: 0 15px;
}

.docs-table-section {
    position: relative;
    min-height: 23em;
}


a.page-navigation__btn.next::before {
    background: transparent url(https://assets.digital.cabinet-office.gov.uk/static/arrow-sprite-20de3c9fa524b493538ff1b101cc2c04.png) no-repeat -102px -11px;
    display: block;
    float: right;
    width: 30px;
    height: 38px;
    content: " ";
}

a.page-navigation__btn.previous::before {
    background: transparent url(https://assets.digital.cabinet-office.gov.uk/static/arrow-sprite-20de3c9fa524b493538ff1b101cc2c04.png) no-repeat -20px -11px;
    display: block;
    float: left;
    width: 30px;
    height: 38px;
    content: " ";
}



@media screen {
    textarea {
        max-width: 95%;
    }
}


.filler {
    background: transparent url(../sfa/images/greyBar.png) repeat-y center;
}

#Last {
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.controls a {
    padding-left: 5px;
    padding-right: 5px;
}

.controls {
    float: right;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
}


a.disabled {
    color: #6f777b;
    text-decoration: none;
    cursor: default;
}


.print {
    visibility: visible;
}

.page-navigation {
    padding-top: 10px;
}

.page-navigation__btn {
    display: inline-block;
    font-size: 19px;
    font-size: 1.9rem;
    margin-right: -4px;
    overflow: hidden;
    padding: 15px 10px 5px;
    text-decoration: none;
    vertical-align: top;
    width: 50%;
}

    .page-navigation__btn.previous {
        text-align: left;
    }

    .page-navigation__btn.next {
        text-align: right;
    }

.page-navigation .description {
    display: block;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-navigation .counter {
    display: block;
    font-size: 14px;
}

@media (min-width: 641px) {
    .page-navigation__btn {
        padding: 30px 10px 20px;
    }
}

.pagination {
    clear: both !important;
}

li {
    margin-bottom: 10px;
}

.hide-section {
    display: initial;
}

@media (min-width: 641px) {
    .hide-section {
        display: none;
    }
}

.link-lookalike {
    text-decoration: underline;
    text-align: left;
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    cursor: pointer !important;
    color: #005ea5;
}

.vertically-align-content > * {
    vertical-align: top;
    display: inline-block;
}

.left-align {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}


.alert-name-red {
  display: block;
  background-color: #b10e1e;
  padding: 7px 15px;
  margin-top: 5px;
}

.alert-name-green {
  display: block;
  background-color: #85994B;
  padding: 7px 15px;
  margin-top: 5px;
}

.alert-name-blue {
  display: block;
  background-color: #005ea5;
  padding: 7px 15px;
  margin-top: 5px;
}
.alert-name-grey {
  display: block;
    background-color: #6F72AF;
  padding: 7px 15px;
  margin-top: 5px;
}
a.dashboard-links {
  color: white;
  text-decoration: none;
  display: block
}

.service-name {
  display: block;
  background-color: #0b0c0c;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

@media (min-width: 641px){
    .service-name{
        height: 98px;
    }
}

@media (min-width: 694px){
    .service-name{
        height: 72px;
    }
}

@media (min-width: 769px){
    .service-name{
        font-size: 26px;
        height: 122px;
    }
}

@media (min-width: 825px){
    .service-name{
        height: 88px;
    }
}

@media (max-width: 781px) and (min-width: 641px){
    .alert-name-blue{
        height: 64px;
    }
}

@media (max-width: 781px) and (min-width: 641px){
    .alert-name-red{
        height: 64px;
    }
}

@media (max-width: 781px) and (min-width: 641px){
    .alert-name-green{
        height: 64px;
    }
}

@media (max-width: 781px) and (min-width: 641px){
    .alert-name-grey{
        height: 64px;
    }
}

.float-right{
    float : right;
    margin-left:10px;
}

.js-collapsible {
    border-bottom: 1px solid #bfc1c3;
}

.js-collapsible .js-collapsible-header {
    cursor: pointer;
    color: #005ea5;
    background-image: url(https://assets.publishing.service.gov.uk/manuals-frontend/arrows_sprite-2x-112fb1d70d0e6c04877d2d9970178a51.png);
    background-repeat: no-repeat;
    background-position: 100% -32px;
    background-size: 32px 50px;    
    padding-right: 18px;
    clear: both;
}

.js-collapsible.js-open .js-collapsible-header {
    background-position: 100% 13px;
}

.js-collapsible.js-open .js-collapsible-hide-when-open {
    display: none;
}

.js-collapsible .js-collapsible-header h2 {
    color: #005ea5;
}

.js-collapsible-toggle {
    float: right;
    margin-bottom: 10px;    
}

.js-collapsible-toggle a {
    padding: 5px;
}
/**/
.js-filter-collapsible .js-filter-collapsible-header h3{
    position: relative;
    clear: both;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px 30px 5px 10px;
    margin: 0;
    top: 0;
    float: none;
    cursor: pointer;
    background-image: url(https://assets.publishing.service.gov.uk/static/govuk-component/option-select-toggle-sprite-5f8bb91ff4faf8d3dbcd46d0a4d1e90834b9b9ab3d41979068ea19fdf27529be.png);
    background-repeat: no-repeat;
    background-position: 100% -32px;
    background-size: 32px 50px;
    clear: both
}

.js-filter-collapsible.js-open .js-filter-collapsible-header h3{
    background-position: 100% 8px;
}

.js-filter-collapsible.js-open .js-collapsible-hide-when-open {
    display: none;
}

.js-filter-collapsible .js-filter-collapsible-header h3 {
    color: #0b0c0c;
    background-color: #dee0e2;
}

.js-filter-collapsible .js-filter-collapsible-header h3:hover {
    color: #0b0c0c;
    background-color: #bfc1c3;
}

.js-filter-collapsible-toggle {
    float: right;
    margin-bottom: 10px;    
}

.js-filter-collapsible-toggle li {
    padding: 5px;
}
.js-filter-collapsible-content .toggled-content{
    padding: 20px
}
.guidWidth{
    width: 325px !important;
}

.mob-search {
  display: block;
  color: #005ea5;
}

@media (min-width: 641px) {
  .mob-search {
    display: none;
  }
}

.search-hidden-mobile {
  margin-bottom: 40px;
}

@media (min-width: 641px) {
  .search-hidden-mobile {
    display: block;
  }
}

.mobile-arrow-up:after {
  content: " ▲";
  font-size: 12px;
  padding-left: 10px;
  display: inline-block;
  height: 14px;
  vertical-align: middle;
}

.mobile-arrow-down:after {
  content: " ▼";
  font-size: 12px;
  padding-left: 10px;
  display: inline-block;
  height: 14px;
  vertical-align: middle;
}

#open-mobile-menu {
  cursor: pointer;
  margin-top: 10px;
}

@media (min-width: 641px) {
  #open-mobile-menu {
    cursor: auto;
  }
  #open-mobile-menu:after {
    content: none;
  }
}

.up-arrow:after {
  content: " ▲";
}

.desktop-search {
  display: none;
}

@media (min-width: 641px) {
  .desktop-search {
    display: block;
  }
}

@media (max-width: 641px) {
  .js-mobile-hide{
    display: none;
  }
}

.show-filter {
    display: block;
}

.notice .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -17px;
}
.icon-important {
    width: 35px;
    height: 35px;
}

.notice strong {
    display: block;
    padding-left: 65px;
    margin-left: -15px;
}

.notice {
    position: relative;
}

#deliverable-line {
    width: 94%;
}

.block-label input {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    margin: 0;
    width: 29px;
    height: 29px;
}

#MaximumValueGroup .block-label {
  padding: 18px 30px 15px 54px;
}

.total-contract-value-cell {
    background-color: #dee0e2;
}

.total-contract-value-collapsable-header h2 {
    color: #005ea5;
}

.related-section {
    clear: both;
    padding:0 15px;
}

.account-details{
    padding-top: 10px;
}

.bulleted-list-home{
    list-style-type: disc;
}

.bulleted-list-container-ul{
    list-style-position:inside;
}

.related-list-bullet {
    margin-bottom: 20px; 
}

.remittance-tab {
    padding-bottom: 20px;
}

.table-column-left, 
.table-numeric {
    font-size: 16px;
}

@media (min-width: 641px) {
  .table-column-left, 
  .table-numeric {
    font-size: 19px;
  }
}

.table-numeric {
    text-align: right;
}

.back-to-payment-link {
    display: inline-block;
    margin-top: 20px;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.block-label{
    background-color:white;
    border: none;
}

.panel-error{
    border-left: 3px solid #b10e1e;
}

/* Tell us about your subcontractor declarations page */

.subcontractor-radio-button{
    margin-bottom: 3px;
    padding-top:15px;
    padding-bottom:14px;
}

.subcontractor-radio-button input{
    margin-left:-15px;
}

#radio-buttons-holder{
    padding-top:0px;
    padding-bottom:0px;
    margin-bottom:10%;
}

.radio-button-position{
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing:    content-box !important;
    box-sizing:         content-box !important;
}

.radio-button-position:after{
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing:    content-box !important;
    box-sizing:         content-box !important;
}

.radio-button-position:before{
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing:    content-box !important;
    box-sizing:         content-box !important;
}

#declaration-info{
    padding-bottom:1px;
}

/******************************************************/

/* Subcontractor summary page */

@media (min-width: 641px) {
  #delete-subcontractor-link-holder{
    padding-top: 22px;
    padding-bottom: 7px;
  }
}

.declaration-info-name {
    display: block;
}

.declaration-info-value {
    display: block;
}

.mini-card-scd {
    /*overflow: auto;*/  
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dee0e2;
}

#your-subcontractors-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*******************************/

/*Second level subcontracting page*/

.panel-exceptional-circumstances {
    
    border-left-style: solid;
    border-color: #bfc1c3;
    float: left;
    width: 100%;
    border-left-width: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

#submit-button-second-level {
    margin-top: 25px;
}

/**********************************/


/************ Checkboxes and radio buttons ************/

.multiple-choice {
  display: block;
  float: none;
  clear: left;
  position: relative;
  padding: 8px 10px 9px 50px;
  margin-bottom: 10px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

@media (min-width: 641px) {
  .multiple-choice {
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.multiple-choice input {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
  z-index: 1;
  margin: 0;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.multiple-choice label {
  cursor: pointer;
}

.multiple-choice [type=radio] + label::before {
  content: "";
  border: 2px solid;
  background: transparent;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.multiple-choice [type=radio] + label::after {
  content: "";
  border: 10px solid;
  width: 0;
  height: 0;
  position: absolute;
  top: 9px;
  left: 9px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.multiple-choice [type=checkbox] + label::before {
  content: "";
  border: 2px solid;
  background: transparent;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.multiple-choice [type=checkbox] + label::after {
  content: "";
  border: solid;
  border-width: 0 0 5px 5px;
  background: transparent;
  width: 17px;
  height: 7px;
  position: absolute;
  top: 10px;
  left: 8px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.multiple-choice [type=radio]:focus + label::before {
  -webkit-box-shadow: 0 0 0 4px #ffbf47;
  -moz-box-shadow: 0 0 0 4px #ffbf47;
  box-shadow: 0 0 0 4px #ffbf47;
}

.multiple-choice [type=checkbox]:focus + label::before {
  -webkit-box-shadow: 0 0 0 3px #ffbf47;
  -moz-box-shadow: 0 0 0 3px #ffbf47;
  box-shadow: 0 0 0 3px #ffbf47;
}

.multiple-choice input:checked + label::after {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.multiple-choice input:disabled + label {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.multiple-choice:last-child, .multiple-choice:last-of-type {
  margin-bottom: 0;
}

.inline .multiple-choice {
  clear: none;
}

@media (min-width: 641px) {
  .inline .multiple-choice {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.subcontractor-heading-secondary {
    /*padding-top: 30px;
    padding-bottom: 6px;
    font-size: 27px;
    color: #6f777b;*/
    font-size: 20px;
    line-height: 1.1111111111;
    display: block;
    padding-top: 8px;
    padding-bottom: 7px;
    display: block;
    color: #6f777b;
}

@media (min-width: 641px) {
    .subcontractor-heading-secondary {
        padding-top: 30px;
        padding-bottom: 6px;
        font-size: 27px;
    }
}

.subcontractor-add-link {
    text-decoration: underline;
    text-align: right;
    float: right;
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    cursor: pointer !important;
    color: #005ea5;
}
.subcontractor-add-text {
    text-align: right;
    float: right;
}

.right-align-text {
    text-align : right;
    float: right;
}

#nature-of-query-details {
    padding-bottom: 30px;
    padding-top: 30px;
}


.grey-button{
    background-color: #dee0e2 !important;
    color: black !important;
    box-shadow: 0 2px 0 #b5babe !important;
}

.form-hint-padding {
    padding-bottom: 15px;
}

#funding-stream-summary-title{
    color: black !important;
}

.funding-stream-edit-link{
    text-decoration: underline;
    text-align: right;
    float: left;
    background: none !important;
    margin-top: 20px;
    padding-left: 5px;
    border: none !important;
    cursor: pointer !important;
    color: #005ea5;
}

#add-subcontractor-button{
    margin-top: 20px !important;
}

.text-right {
    text-align : right;
}

.pagination-next-page-link{ 
    padding: 5px; 
}

.pagination-top-margin {
    margin-top: 30px;
    border-bottom: 1px solid #dee0e2;
    padding-bottom: 30px;
}
.pagination-link-no-underLine {
    color: #005ea5;
    text-decoration: none; 
}
.align-total-with-subcontractor-heading-secondary {
    padding-top: 36px !important;
}
/******************************************************/
/******************************************************/


.pub-c-lead-paragraph {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 35px;
    max-width: 30em;
}

.multiple-choice input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    z-index: 1;
    margin: 0;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}



.search-container input.search-input {
    float: left;
    box-sizing: border-box;
    background: #00823b url(https://esfs-prototype.herokuapp.com/public/images/search-button.png) no-repeat 2px 50%;
    border: solid 2px #005c2a;
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    text-indent: -500px;
    border-radius: 0;
}