{% extends "layout.html" %}

{% block page_title %}
    16 to 19 special post - 16 institutions: 2021 to 2022 - manage your education and skills funding - GOV.UK
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include version + "/includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
        <div class="column-full">

            <div class="govuk-form-group govuk-!-margin-top-6" style="max-width:900px;">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="heading-large govuk-!-margin-bottom-4 govuk-font-size-45 govuk-!-margin-top-4">
                        View your roles
                    </h1>
                </legend>
            </div>

            {% if scenario == '1' %}

            <h2 class="heading-medium govuk-!-margin-top-6">Roles assigned to you</h2>
            <div class="roles-wrap">
                <p class="role-tag assigned checkmark box border-only" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    View contracts and agreements</p>
                <p class="role-tag assigned checkmark box border-only" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    Sign contracts and agreements</p>
                <p class="role-tag assigned checkmark box border-only" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    View funding claims and reconciliation statements</p>
                <p class="role-tag assigned checkmark box border-only" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    Sign funding claims</p>
            </div>

            {% elif scenario == '2' %}

            <h2 class="heading-medium govuk-!-margin-top-6">Roles assigned to you</h2>
            <div class="roles-wrap">
                <p class="role-tag assigned checkmark box check-only" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    View contracts and agreements</p>
                <p class="role-tag assigned checkmark box check-only" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    Sign contracts and agreements</p>
                <p class="role-tag assigned checkmark box check-only" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    View funding claims and reconciliation statements</p>
                <p class="role-tag assigned checkmark box check-only" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem white"></span>
                            <span class="css-checkmark-kick white"></span>
                        </span>
                    </span>
                    Sign funding claims</p>
            </div>

            {% elif scenario == '3' %}

            <h2 class="heading-medium govuk-!-margin-top-6">Roles assigned to you</h2>
            <div class="roles-wrap">
                <p class="role-tag assigned checkmark box check-only" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem green"></span>
                            <span class="css-checkmark-kick green"></span>
                        </span>
                    </span>
                    View contracts and agreements</p>
                <p class="role-tag assigned checkmark box check-only alert-left-padding" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem green"></span>
                            <span class="css-checkmark-kick green"></span>
                        </span>
                    </span>
                    Sign contracts and agreements 
                    <span class="has-email-alerts"><span class="icon"><img src="https://abload.de/img/email_white7qj61.png"></span><span class="text">Email alerts</span></span>
                </p>
                <p class="role-tag assigned checkmark box check-only" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem green"></span>
                            <span class="css-checkmark-kick green"></span>
                        </span>
                    </span>
                    View funding claims and reconciliation statements</p>
                <p class="role-tag assigned checkmark box check-only" style="position:relative;">
                    <span class="checkmark-wrap">
                        <span class="css-checkmark">
                            <span class="css-checkmark-stem green"></span>
                            <span class="css-checkmark-kick green"></span>
                        </span>
                    </span>
                    Sign funding claims</p>
            </div>

            {% elif scenario == '4' %}

            <h2 class="heading-medium govuk-!-margin-top-6">Roles assigned to you</h2>
            <div class="role-assign">
                <p><span>Contracts and agreements</span> <span class="tagged active">View</span> <span class="tagged active">Sign</span></p>
                <p><span>Funding claims</span> <span class="tagged active">View</span> <span class="tagged">Sign</span></p>
                <p><span>Reconciliation statements</span> <span class="tagged active">View</span></p>
            </div>

            {% else %}


            <h2 class="heading-medium govuk-!-margin-top-6">Roles assigned to you:</h2>
            <ul class="govuk-list govuk-list--bullet govuk-font-size-19">
                <li>View contracts and agreements</li>
                <li>Sign contracts and agreements</li>
                <li>View funding claims and reconciliation statements</li>
                <li>Sign funding claims</li>
            </ul>

            
            {% endif %}

            <h2 class="heading-medium govuk-!-margin-top-6 float-reset">Requesting roles</h2>
            <p>You can request more roles by contacting your super user through <a href="">DfE sign-in</a>.</p>
            <p><a href="all-roles?scenario=1">View all roles</a></p>

            <h2 class="heading-medium govuk-!-margin-top-6 float-reset">Your account settings</h2>

            <p><p>Through <a href="">DfE sign-in</a> you can:</p></p>

            <ul class="govuk-list govuk-list--bullet govuk-font-size-19">
              <li>update your contact information</li>
              <li>change your password</li>
              <li>request user roles for ESFA services</li>
            </ul>

            <h2 class="heading-medium govuk-!-margin-top-6 float-reset">Manage your users</h2>
            <p>If you are a super user for your organisation you can:</p>
            <ul class="govuk-list govuk-list--bullet govuk-font-size-19">
              <li>update user contact information</li>
              <li>approve or reject user role requests for ESFA services</li>
              <li>grant a new user access</li>
              <li>remove access rights</li>
              <li>create additional super users for your organisation</li>
            </ul>
                
    </div>

</main>


<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- GOV.UK Design System accordion -->
<script src="/public/javascripts/{{version}}/accordion.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

<script type="text/javascript">
    function dualAuthOptions() {
      if(document.getElementById('sign-in-dfe').checked) {
          document.getElementById('exampleRadioLink').onclick = location.href='login-dfe-sens';
      }
      else if(document.getElementById('sign-in-idams').checked) {
          document.getElementById('exampleRadioLink').onclick = location.href='login-idams-sens';
      }
      else {
        $(".govuk-form-group").addClass("govuk-form-group--error");
        $("#passport-issued-error").removeClass("hide");
      }
    }
  </script>

{% endblock %}