{% extends "layout.html" %}

{% block page_title %}
    User journeys
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">

        <div class="column-full">

            <div id="global-breadcrumb" class="breadcrumbs group">

                <nav>
                    <ol>
                        <li><a href="/">Manage your education and skills funding prototype</a></li>
                        <li>User journeys</li>
                    </ol>
                </nav>

            </div>

            <h1 class="heading-xlarge">
                <span class="heading-secondary">VLF post MVS (beta-v105-1-0)</span>
                User journeys
            </h1>
            <h2 class="heading-large">Public</h2>

            <div class="form-group">
                <h2 class="heading-medium no-margin-bottom">View latest funding</h2>
                <details>
                    <summary>
                        <span class="heading-medium version-header"><abbr title="Dedicated schools grant">DSG</abbr> & PE and sport (academy, LA & school)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/view-latest-funding/latest/start">View latest funding</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/view-latest-funding/latest/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/view-latest-funding/latest/viewing-choice">Choose how to view funding</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/view-latest-funding/latest/viewing-choice"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/view-latest-funding/latest/which-allocation">Select a funding type</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/view-latest-funding/latest/which-allocation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/view-latest-funding/latest/dedicated-schools-grant/download-funding/2020-to-2021">Dedicated schools grant (<abbr title="Dedicated schools grant">DSG</abbr>) 2020 to 2021</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/view-latest-funding/latest/dedicated-schools-grant/download-funding/2020-to-2021"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/view-latest-funding/latest/find-an-organisation">View funding at organisation level</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/view-latest-funding/latest/find-an-organisation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/view-latest-funding/latest/no-results">Search results (no results)</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/view-latest-funding/latest/no-results"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/view-latest-funding/latest/did-you-mean">Search results (did you mean)</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/view-latest-funding/latest/did-you-mean"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/view-latest-funding/latest/statement">Single funding statement</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/view-latest-funding/latest/statement"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/view-latest-funding/latest/dedicated-schools-grant/funding-breakdown/17-12-2019">Dedicated schools grant (<abbr title="Dedicated schools grant">DSG</abbr>) 2020 to 2021</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/view-latest-funding/latest/dedicated-schools-grant/funding-breakdown/17-12-2019"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/view-latest-funding/latest/pe-and-sport/funding-breakdown/5-10-2019">PE and sport premium 2019 to 2020</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/view-latest-funding/latest/pe-and-sport/funding-breakdown/5-10-2019"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
            </div>
            
        </div>

    </div>

</main>

{% endblock %}