{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
  {% include "includes/phase_banner_alpha.html" %}

    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash7" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Account home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="/personal-account/signout?continueUrl=%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>

<a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge no-margin-bottom">Blythe Academy</h1>
            <p class="page-info">UKPRN: 12345678</p>
            <h2 class="heading-medium margin-bottom">16-19 allocation statement - 2017 to 2018</h2>

        </div>
    </div>
    

<div class="grid-row">

<div class="flex-container maths-cards">

    <div class="card">

        <div class="card-body active" data-journey-click="link - click:Income:Pay As You Earn (PAYE)" style="height: 115px;">

            <div class="data">Total Student Numbers <!--for 2017/18 :: I have deleted this as we say 17-18 above-->
                <span class="data-item bold-xxlarge">574</span>
            </div>

        </div>


        <div class="card-action">


            <details>
                <summary><span class="summary">View details</span></summary>

                <div class="panel panel-border-narrow">

                    <p>Student Numbers (Including 19-24 Students)</p>
                    <p>Total Lagged Student Number: 118 </p>
                    <p>Exceptional Variations to Lagged Student Number: 0</p>

                </div>
            </details>



        </div>


    </div>


    <div class="feature-ministers">
        <p>
            x
        </p>
    </div>
</div>



    <div class="flex-container maths-cards">

        <div class="card">

            <div class="card-body active" style="height: 115px;">

                <h3 class="heading-small card-heading">

                    National funding rate per student

                </h3>
            </div>


            <div class="card-action">


                <ul>
                    <li>
                            £4,000
                    </li>
                    <li>
                        £2,259,349
                    </li>

                    <li><a class="ga-track-anchor-click" href="tables/table1b">See Table 1b</a></li>

                </ul>


            </div>


        </div>

        <div class="feature-ministers">
            <p>
                x
            </p>
        </div>


        <div class="card">

            <div class="card-body active" data-journey-click="link - click:Income:Pay As You Earn (PAYE)" style="height: 115px;">

                <h3 class="heading-small card-heading">

                    Retention factor

                </h3>
            </div>


            <div class="card-action">


                <ul>
                    <li>
                        0.997
                    </li>
                    <li>
                        -£51,513
                    </li>
                    <li>
                        £2,207,836
                    </li>
                </ul>


            </div>


        </div>

        <div class="feature-ministers">
            <p>
                x
            </p>
        </div>


        <div class="card">
            <div class="card-body active" style="height: 115px;">
                <h3 class="heading-small card-heading">
                    Programme cost weighting
                </h3>
            </div>

            <div class="card-action">
                <ul>
                    <li>
                        1.004
                    </li>
                    <li>
                        £8,346
                    </li>
                    <li>
                        £2,216,182
                    </li>
                </ul>
            </div>
        </div>

        <div class="feature-ministers">
            <p>
                +
            </p>
        </div>

        <div class="card">
            <div class="card-body active" style="height: 115px;">
                <h3 class="heading-small card-heading">
                    Disadvantage funding
                </h3>
            </div>

            <div class="card-action">
                <ul>
                    <li>
                        £135,462
                    </li>
                    <li>
                        £2,351,644
                    </li>
                    <li><a class="ga-track-anchor-click" href="tables/table2a">See Table 2a</a></li>

                </ul>
            </div>
        </div>

        <div class="feature-ministers">
            <p>
                +
            </p>
        </div>

        <div class="card">
            <div class="card-body active" style="height: 115px;">
                <h3 class="heading-small card-heading">
                    Large Programme funding
                </h3>
            </div>

            <div class="card-action">
                <ul>
                    <li>
                        1.600
                    </li>
                    <li>
                        £2,353,244
                    </li>
                    <li><a class="ga-track-anchor-click" href="tables/table2b">See Table 2b</a></li>

                </ul>
            </div>
        </div>

    </div>

<h2 class="heading-medium margin-bottom margin-top" style="margin-left: 15px">Sum multiplied by Area cost allowance</h2>
<hr style="margin-left: 15px">

<div class="flex-container maths-cards">


    <div class="feature-ministers">
        <p>
            x
        </p>
    </div>

    <div class="card">
        <div class="card-body active" style="height: 115px;">
            <h3 class="heading-small card-heading">
                Area cost allowance
            </h3>
        </div>

        <div class="card-action">
            <ul>
                <li>
                    1.120
                </li>
                <li>
                    £282,389
                </li>
                <li>£2,635,633</li>

            </ul>
        </div>
    </div>
</div>





  

</div>

 
    

    </main>

{% endblock %}