{% extends "layouts/main.html" %}

{% block page_title %}
    Service unavailable
{% endblock %}

{% block content %}

<main id="content" role="main">

    <!-- {% include "includes/phase_banner_beta.html" %} -->

    <!-- Account Management (IDAMS) - START -->
    <div class="account-master">

        <div class="grid-row account-details">
            
            <div class="column-full controls account-div">
                <span class="account-link"><a href="#">Settings</a></span>
                <span class="account-link"><a href="#">Sign out</a></span>
            </div>

        </div>

    </div>
    <!-- Account Management (IDAMS) - END -->

    <div class="content-inner slides">

        <div class="grid-row">

            <div class="column-two-thirds">
                <h1>Service unavailable</h1>
                <p>Sorry, this service will be unavailable from 24 October 2018 to 26 October 2018.</p>

                <form method="post" class="form">
                
                    <div class="actions">
                        <button class="button">Continue</button>
                    </div>

                </form>

            </div>

        </div>

    </div>  

</main>

{% endblock %}
