{% extends "layout.html" %}

{% block page_title %}
    User journeys
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">

        <div class="column-full">

            <div id="global-breadcrumb" class="breadcrumbs group">

                <nav>
                    <ol id="removeADocBreadcrumb1">
                        <li><a href="/">Manage your education and skills funding prototype</a></li>
                        <li>User journeys</li>
                    </ol>
                </nav>

            </div>

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Sprint 11 (beta-v11-0-0)</span>
                User journeys
            </h1>

            <div class="form-group">
                <h2 class="heading-medium">Document Exchange</h2>
                <details>
                    <summary>
                        <span  class=" heading-medium version-header">External users</span>
                    </summary>
                    <br>
                    <ul>
                        <li class="page page--playlist">
                            <a target="_blank" href="start">GOV.UK entry point</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="start"></iframe>
                            </div>
                        </li>
                        <li class="page page--playlist">
                            <a target="_blank" href="external/dashboard">Dashboard</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="external/dashboard"></iframe>
                            </div>
                        </li>
                        <li class="page page--playlist">
                            <a target="_blank" href="external/document-exchange/home">Document Exchange</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="external/document-exchange/home"></iframe>
                            </div>
                        </li>
                        <li class="page page--playlist">
                            <a target="_blank" href="external/document-exchange/received-from-esfa">Documents you've received from ESFA</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="external/document-exchange/received-from-esfa"></iframe>
                            </div>
                        </li>
                        <li class="page page--playlist">
                            <a target="_blank" href="external/document-exchange/sent-to-esfa">Documents you've sent to ESFA</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="external/document-exchange/sent-to-esfa"></iframe>
                            </div>
                        </li>
                        <li class="page page--playlist">
                            <a target="_blank" href="external/document-exchange/document-upload-file-type">Send your document (document type)</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="external/document-exchange/document-upload-file-type"></iframe>
                            </div>
                        </li>
                        <li class="page page--playlist">
                            <a target="_blank" href="external/document-exchange/document-upload">Send your document</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="external/document-exchange/document-upload"></iframe>
                            </div>
                        </li>
                        <li class="page page--playlist">
                            <a target="_blank" href="external/document-exchange/document-upload-complete">You've sent a document</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="external/document-exchange/document-upload-complete"></iframe>
                            </div>
                        </li>
                    </ul>
                </details>
                <details>
                    <summary>
                        <span  class=" heading-medium version-header">Internal users</span>
                    </summary>
                    <br>
                    <ul>
                        <li class="page page--playlist">
                            <a target="_blank" href="start">GOV.UK entry point</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="start"></iframe>
                            </div>
                        </li>
                        <li class="page page--playlist">
                            <a target="_blank" href="internal/dashboard">Dashboard</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="internal/dashboard"></iframe>
                            </div>
                        </li>
                        <li class="page page--playlist">
                            <a target="_blank" href="internal/document-exchange/home">Document Exchange</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="internal/document-exchange/home"></iframe>
                            </div>
                        </li>
                        <li class="page page--playlist">
                            <a target="_blank" href="internal/document-exchange/documents-to-publish">Documents ready to publish</a>
                            <div class="page-inner">
                                <iframe id="userJourneyFrames" id="userJourneyFrames" src="internal/document-exchange/documents-to-publish"></iframe>
                            </div>
                        </li>
                    </ul>
                </details>
            </div>
            
        </div>

    </div>

</main>

{% endblock %}