{% extends "layout.html" %}

{% block page_title %}
    Funding type unavailable
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include version + "/includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../latest/viewing-choice">Choose how to view funding</a></li>
                        <li><a href="../latest/which-allocation">Select a funding type</a></li>
                        <li>Funding type unavailable</li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="column-two-thirds">

            <form method="post" class="form">

                {% if fundingAllocationChoice == 'Pupil premium' %}
                <!-- Pupil premium - Dynamic content (START) -->
                <h1 class="heading-xlarge">Sorry, we do not currently show this funding type</h1>
                <p>We have not added pupil premium to our service yet - we plan to add it in future.</p>
                <p>You can view the latest funding information and guidance on <a href="https://www.gov.uk/government/publications/pupil-premium-allocations-and-conditions-of-grant-2019-to-2020" title="pupil premium: allocations and conditions of grant 2019 to 2020">pupil premium: allocations and conditions of grant 2019 to 2020</a>.</p>
                <!-- Pupil premium - Dynamic content (END) -->
                {% elif fundingAllocationChoice == 'Year 7' %}
                <!-- Year 7 - Dynamic content (START) -->
                <h1 class="heading-xlarge">Sorry, we do not currently show this funding type</h1>
                <p>We have not added year 7 literacy and numeracy catch-up premium to our service yet -  we plan to add it in future.</p>
                <p>You can view the latest funding information and guidance on <a href="https://www.gov.uk/government/publications/year-7-literacy-and-numeracy-catch-up-premium-2018-to-2019" title="year 7 literacy and numeracy catch-up premium: 2018 to 2019">year 7 literacy and numeracy catch-up premium: 2018 to 2019</a>.</p>
                <!-- Year 7 - Dynamic content (END) -->
                {% elif fundingAllocationChoice == 'Schools improvement' %}
                <!-- Schools improvement - Dynamic content (START) -->
                <h1 class="heading-xlarge">Sorry, we do not currently show this funding type</h1>
                <p>We have not added school improvement grant to our service yet -  we plan to add it in future.</p>
                <p>You can view the latest funding information and guidance on <a href="https://www.gov.uk/government/publications/school-improvement-monitoring-and-brokering-grant-allocations" title="school improvement monitoring and brokering grant allocations">school improvement monitoring and brokering grant allocations</a>.</p>
                <!-- Schools improvement - Dynamic content (END) -->
                {% elif fundingAllocationChoice == 'Teachers pay' %}
                <!-- Teachers pay - Dynamic content (START) -->
                <h1 class="heading-xlarge">Sorry, we do not currently show this funding type</h1>
                <p>We have not added teachers' pay grant to our service yet -  we plan to add it in future.</p>
                <p>You can view the latest funding information and guidance on <a href="https://www.gov.uk/government/publications/teachers-pay-grant-allocations-for-2019-to-2020-financial-year" title="teachers' pay grant: allocations for 2019 to 2020 financial year">teachers' pay grant: allocations for 2019 to 2020 financial year</a>.</p>
                <!-- Teachers pay - Dynamic content (END) -->
                {% elif fundingAllocationChoice == 'School meal' %}
                <!-- School meal - Dynamic content (START) -->
                <h1 class="heading-xlarge">Sorry, we do not currently show this funding type</h1>
                <p>We have not added universal infant free school meals (<abbr title="Universal Infant Free School Meals">UIFSM</abbr>) to our service yet -  we plan to add it in future.</p>
                <p>You can view the latest funding information and guidance on <a href="https://www.gov.uk/government/publications/universal-infant-free-school-meals-uifsm-funding-allocations-2018-to-2019" title="UIFSM: funding allocations 2018 to 2019"><abbr title="Universal Infant Free School Meals">UIFSM</abbr>: funding allocations 2018 to 2019</a>.</p>
                <!-- School meal - Dynamic content (END) -->
                {% else %}
                <!-- Other - Dynamic content (START) -->
                <h1 class="heading-xlarge">Sorry, we do not currently show this funding type</h1>
                <p>We have not added this funding type to our service yet - we plan to add it in future.</p>
                <!-- Other - Dynamic content (END) -->
                {% endif %}

                <!-- Support section in an expandable link - START -->
                <!-- Support section in an expandable link - END -->

            </form>
        
        </div>
        
    </div>

</main>

{% endblock %}
