{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>


<main role="main" id="content">
    
    
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>

        </ul>
        </div>
    </div>
    
<div class="grid-row">
        <div class="column-two-thirds">    

        <h1 class="heading-xlarge">Make a new declaration</h1>



                         

                         
                        
        
<form>
  <div class="form-group">
    <fieldset>

      <legend>
        <h1 class="heading-medium">Do you want to:</h1>
      </legend>
      <br>




      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="radio-group" value="http://google.com" id="radio-1" checked="checked">
        <label for="radio-1">use the last list of subcontractors you declared</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="radio-group" value="http://yahoo.com" id="radio-2">
        <label for="radio-2">start a new list of subcontractors</label>
      </div>
      </div>

    </fieldset>
  </div>
</form>

<!--<p class="margin-top-2"><a href="sub-contracting-nil">I don't use subcontractors</a></p>-->
        
            
    </div>
</div>


<div class="grid-row">

    
    <div class="column-two-thirds">
        <div id="tab1" class="main-table">
             
            
        
            <ul class="tab-content">
                      
                   
            
            </ul>

        <div class="form-group">
       
        </div>
        
    
       
<div>
    <a id='button_1' class="button margin-right radio-redirect" href="#">Continue</a> <br>
         
    <script type="text/javascript">if ($('#radio-1').is(':checked')) {
    location.href=http://google.com;
}</script>

</div>

        </div>
    </div>

    




</div>
</main>


{% endblock %}