/*
// Pagination JPages
*/

#pagedat {
    width: 100%;
    float: left;
}

#pagedat span,
#pagedat a {
    display: none;
}

.jp-next,
.jp-previous {
    display: block !important;
    font-size: 24px;
    width: 50%;
}

.jp-next {
    float: right;
    text-align: right;
}

.jp-previous {
    float: left;
    text-align: left;
}

.jp-disabled,
.jp-next.jp-disabled,
.jp-next.jp-previous {
    visibility: hidden;
}

#statusUpdate {
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 0;
    background: #28A197;
    color: white;
    border-top: 1px solid #006435;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
}

#statusUpdate h2 {
    margin: 0;
    display: inline;
}

#statusUpdate .close {
    position: absolute;
    top: 20px;
    right: 20px;
}

#statusUpdate .close:hover {
    cursor: pointer;
    color: #F8F8F8;
}


/*
// Autocomplete
*/

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 50%;
    margin: 15px 0;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead {
    width: 100%;
}

.tt-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "nta", Arial, sans-serif;
    text-transform: none;
    width: auto;
    background-color: #fff;
    border: 3px solid #ffbf47;
    font-size: 19px;
    line-height: 1.3157894737;
    padding: 5px;
    overflow: hidden;
    width: 100%;
}

.tt-suggestion {
    padding: 4px;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tt-suggestion:hover {
    background: #005EA5;
    color: white;
}

.tt-selected {
    background: #F0F0F0;
}

.tt-suggestions strong {
    font-weight: normal;
    text-decoration: underline;
}

.tt-group {
    padding: 5px 15px;
}

.tt-group strong {
    display: block;
    border-bottom: 1px solid #000;
}


/*
// Accordion Design
*/


/* -------------------------------- 

Main Components 

-------------------------------- */

ul.cd-accordion-menu {
    width: 100%;
   // background: #DEE0E2;
    padding: 5px 5px 5px 5px;
   // margin-top: 30px;
        border-top: 1px solid #DEE0E2
;
       //  border-bottom: 1px solid #bfc1c3;

    float: left;
}

ul.quantity-menu {
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #DEE0E2;
    float: left;
}

ul.cd-accordion-menu:active,
ul.cd-accordion-menu:focus {
    outline: 3px solid #FFBF47;
}

.cd-accordion-menu .container {
    /* by default hide all sub menus */
    display: none;
    background: white;
    float: left;
    width: 100%;
    padding: 10px;
}

.cd-accordion-menu .container .form-group label:first-child {
    margin-top: 0;
}

.cd-accordion-menu li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.cd-accordion-menu label, .quantity-menu p {
    position: relative;
    display: block;
    padding: 12px 20px 5px 15px;
    margin: 0;
}



.has-children > label::after {
    /* icons */
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    background: url(../images/accordian-arrow-2x.png) no-repeat -3px -4px;
    background-size: cover;
}

.cd-accordion-menu label {
    cursor: pointer;
}

.cd-accordion-menu .has-children input[type=checkbox]:checked + label::after {
    background-position: -3px -37px;
}

.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + div {
    /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
    display: block;
}

.cd-accordion-menu .form-group {
    margin-bottom: 15px;
}

.cd-accordion-menu .form-control {
    width: 100%;
}


/* -------------------------------- 

Error Messaging

-------------------------------- */

.error-summary .error-summary-list {
    margin-bottom: 15px;
}

.error-summary .error-summary-list.list li {
    margin-left: 20px;
}


/*
/ Hide for testing
*/


/*
.standard-sort, #results .column-third #facets, .page-navigation, #resultCount, .status, .providers, #standard_detail .related-subsection {
    visibility: hidden;
    display: none;
}*/

.message {
    margin-bottom: 30px;
}

.authLink {
    float: right;
    font-size: 16px;
    line-height: 1.25;
    margin: 15px 0;
}

.authLink i {
    margin-right: 5px;
}

.breadcrumb {
    /*border-bottom: 1px solid #bfc1c3;*/
    margin: 0;
}

.breadcrumb .column-two-thirds,
.breadcrumb .column-third {
    padding: 0;
}

.breadcrumb .link-back {
    margin-top: 10px;
    margin-bottom: 10px;
}

.account-info a {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account-info a i {
    margin-right: 5px;
}


/* spinner */

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
    display: none;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader {
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 blue;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em blue;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 blue;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em blue;
        height: 5em;
    }
}

.alpha-index,
.course-index {
    height: 25px;
    margin-bottom: 15px;
    overflow: hidden;
}

.alpha-index a,
.alpha-index span,
.course-index span,
.course-index a {
    display: inline-block;
    width: 21px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}

.course-index span,
.course-index a {
    width: auto;
    margin-right: 10px;
}

.footer__copyright {
    visibility: hidden;
}

.page-link i {
    margin-right: 5px;
}


/* hmrc nav */

.primary-nav {
    background: #ffffff;
    padding: 0;
    border-bottom: 1px solid #BFC1C3;
    border-top: none;
    margin: 0;
    position: relative;
    color: white;
}

.primary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.primary-nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.primary-nav ul li {
    display: block;
    text-align: center;
}

.primary-nav ul li a {
    color: #0B0C0C;
    display: block;
    padding: 25px 20px 20px 20px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 700;
}

.primary-nav ul li a:hover {
    background: #005EA5;
    color: #ffffff;
    top: 45px;
}

.primary-nav ul li a.active-nav-item {
    background: #BFC1C3;
    color: #0B0C0C;
    top: 45px;
}

.primary-nav ul li:hover {
    color: #ffffff;
    background: #BFC1C3;
    top: 45px;
}

.primary-nav ul li:hover > a {
    text-decoration: bold;
}

.primary-nav ul li:hover > ul {
    display: block;
}

.primary-nav ul ul {
    color: white;
    background: #005EA5;
    padding: 0;
    display: none;
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0px;
    min-height: 200px;
    z-index: 2;
}

@media screen and (max-width: 640px) {
    .phase-banner span.hide-mob,
    .hide-mob {
        display: none;
    }
    #results.grid-row {
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #results .column-two-thirds {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
    #results .column-third {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        order: -1;
        width: 100%;
    }
}

@media screen and (min-width: 640px) {
    .primary-nav {}
    .primary-nav ul li {
        display: inline-block;
        margin-bottom: 0;
    }
}