.feature-ministers span.circle .caption {
        position: relative;
        top: 40px;
        font-family: "nta", Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 16px;
        line-height: 1.25;
        padding-top: 6px;
        padding-bottom: 4px;
        line-height: 1
    }



.feature-ministers p {
    text-align: center;
    color: #6f777b;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 32px;
    line-height: 1.09375;
    padding-top: 12px;
    padding-bottom: 8px;
    padding: 15px 0 30px
}

.feature-ministers p {
        font-size:48px;
        line-height: 1.04167
    }

.feature-ministers p {
        padding-top:8px;
        padding-bottom: 7px
    }

.feature-ministers span.circle {
    display: inline-block;
    text-align: center;
    padding: 0;
    vertical-align: middle;
    width: 17%
}

.feature-ministers span.circle a {
    text-decoration: none
}

.feature-ministers span.circle a:hover,#whitehall-wrapper .inside_gov_how-gov-works .feature-ministers span.circle a:focus {
    text-decoration: underline
}

.feature-ministers span.circle .count {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 29px;
    line-height: 1.09375;
    position: relative;
    top: 40px;
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 1.9em;
    font-weight: bold;
    display: block;
    line-height: 1em
}

.feature-ministers span.circle .count {
        font-size:48px;
        line-height: 1.04167
    }

.feature-ministers span.circle .count a {
    color: #0b0c0c
}

.feature-ministers span.circle {
        background-color:transparent;
        border: 0.2em solid #57da95;
        width: 14em;
        height: 14em;
        -moz-border-radius: 4em;
        -webkit-border-radius: 4em;
        border-radius: 8em
    }

    .feature-ministers span.circle:hover {
        background-color: #2ed07b;
        border-color: #2ed07b
    }

.feature-ministers span.circle a:hover,#whitehall-wrapper .inside_gov_how-gov-works .feature-ministers span.circle a:focus {
        text-decoration: none
    }

.feature-ministers span.circle .count {
        padding-top: 0.35em;
        font-size: 1.9em;
        font-weight: bold;
        width: 100%;
        text-align: center
    }

.feature-ministers span.circle span {
    color: black;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 100px;
    line-height: 1.14286;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    padding: 0;
    margin: 0
}

.feature-ministers span.circle span {
        font-size:16px;
        line-height: 1.25
    }

.feature-ministers span.circle span {
        padding-top:6px;
        padding-bottom: 4px
    }

.feature-ministers span.invert {
        background-color:#57da95;
        border-color: #57da95
    }

.feature-ministers span.invert:hover {
        background-color: #2ed07b;
        border-color: #2ed07b
    }

.feature-ministers span.invert .count a,#whitehall-wrapper .inside_gov_how-gov-works .feature-ministers span.invert .caption {
        color: black
    }

.feature-caption {
        font-size:20px;
        line-height: 1.25
    }

.feature-caption {
        padding-top:6px;
        padding-bottom: 4px
    }


.feature-caption {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    padding-bottom: 30px
}

.feature-value a:focus {
    text-decoration: underline
}

.feature-value a {
    text-decoration: none;
    color: #0b0c0c
}

.feature-value {
    font-size: 5em;
    padding-bottom: 0;
    margin: 0 0 -10px;
    color: #6f777b;
    font-weight: bold;
    display: block;
    line-height: 1em
}

.feature-block {
    margin-bottom: 30px
}

.feature-block h2 {
    border-top: 5px solid;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    padding: 20px 0
}

.feature-block h2 {
        font-size:24px;
        line-height: 1.25
    }

.circle-step {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}

.circle-step-large {
  font-size: 19px;
  min-width: 38px;
  min-height: 38px;
  line-height: 38px;
}

.full-width-section {
    clear: both
}

.inside_gov_how-gov-works li {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    padding-top: 7px;
    padding-bottom: 3px
}

.circle-step {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}

.circle-step-large {
  font-size: 19px;
  min-width: 38px;
  min-height: 38px;
  line-height: 38px;
}

.bold-da {
    font-family: "nta",Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 20px;
    line-height: 1.25;
}
a:link {
  color: #005ea5; }


.align-right-table{
    float: right; padding-right: 20px
}

.error-summary{
    display:none
}

.error-messsage {
        display:none
    }

   





//*dashboard*/

.account-icon--home {
  background-image: url("../images/account-icon-home.svg");
  background-repeat: no-repeat;
  background-position: left -1px;
  background-size: 19px;
  padding-left: 22px;
}

.account-menu__link {
  border-bottom: 4px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4A4A4A;
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  padding: 12px 16px 8px;
  text-transform: none;
  text-decoration: none;
}

.account-menu__link:visited {
  color: #4A4A4A;
}

.account-menu__link--active, .account-menu__link--active:visited {
  border-bottom: 4px solid #005ea5;
  color: #0b0c0c;
}

a:link.account-menu__link--active {
  color: #0b0c0c;
}

a:link.account-menu__link {
  color: #0b0c0c;
}

.account-menu__link--home {
  float: left;
  padding: 12px 18px 8px 0;
}

.account-menu {
  background-color: #fff;
  margin-bottom: 0;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.account-menu__main {
  float: right;
  margin: initial;
  z-index: 995;
}

ul, nav ul {
  list-style-type: none;
}

.service-info {
  display: block;
  position: relative;
  z-index: 997;
  overflow: hidden;
}

.service-info {
  border-bottom: 1px solid #bfc1c3;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.page-info {
  color: #6f777b;
}

/*Cards*/

.card {
  flex-grow: 0;
  flex-basis: 100%;
  margin-bottom: 2em;
}

@media screen and (min-width:600px) and (max-width:900px) {
  .card {
    flex-basis: 45.99%;
    // Every card in the first row needs horizontal margin
    &:nth-child(2n-1) {
      margin-right: 3%;
    }
    // Every card in the second row needs horizontal margin
    &:nth-child(2n-2) {
      margin-left: 3%;
    }
  }
}

@media screen and (min-width:900px) {
  .card {
    flex-basis: 31%;

    &:nth-child(3n-1) {
      margin-left: 3%;
      margin-right: 3%;
    }
  }
}

html[data-useragent*='MSIE 10.0'] .flex-container {
  .card {
    flex-basis: 31%;
    margin: 3%;
  }
}

.card {
  border: 1px solid $panel-colour;
  font-size: 16px;

  &.inactive {
    color: $secondary-text-colour;
  }

  .card-heading {
    margin-top: 0;
  }

  .card-body {
    border-bottom: 1px solid $panel-colour;
    padding: 12px;

    *:last-child {
      margin-bottom: 0;
    }

    &.active {
      background-color: $grey-4;
      transition: .1s ease-in-out;

      .card-heading a {
        color: $link-colour;
        margin-top: 0;
      }
    }

    .detail-large {
      color: $secondary-text-colour;
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .detail {
      font-weight: 600;
      margin-bottom: 8px;
    }

  }

  .card-action {
    border-top: 0;
    padding: 12px;

    a {
      display: inline;
      border-bottom: 1px solid #C7DCEB;
      color: $link-colour;
      line-height: 1.5em;

      &:link,
      &:visited {
        color: $link-colour;
      }

      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $link-colour;
        color: #2e8aca;
      }
    }

    ul {
      margin: 0;

      li {
        margin: 0 0 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.js {
  .card-body.active {
    &:hover {
      background-color: $link-colour;
      color: $page-colour;
      cursor: pointer;
      transition: .1s ease-in-out;
      transition-delay: .25s;

      .card-heading, p {
        color: $page-colour;
        transition: .1s ease-in-out;
        transition-delay: .25s;
      }

      .card-heading a{
        color: $page-colour;
        transition-delay: .25s;
      }

      .detail-large {
        color: $page-colour;
        transition-delay: .25s;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

.grid-row {
  margin: 0 -15px;
}
.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px;
}



.card-body.active a {
  text-decoration: none;
}

.card a {
  display: inline-block;
  
  line-height: 20px;
  text-decoration: none;
}

.card .card-action a {
  display: inline;
  border-bottom: 1px solid #C7DCEB;
  color: #005ea5;
  line-height: 1.5em;
}

.card-body.active:hover {
  background-color: #005ea5;
  color: #fff;
  cursor: pointer;
  transition: .1s ease-in-out;
  transition-delay: .25s;
}

.card-body.active:hover .card-heading a {
  color: #fff;
  transition-delay: .25s;
}

// 16-19

.maths-cards .card h3 {
  font-size: 16px;
  margin: 25px 0 0 0;
}

.maths-cards .feature-ministers {padding: 0 15px}

@media screen and (min-width: 900px){
  .maths-cards .card:nth-child(3n-1) {
  margin-left: 0;
  margin-right:0
  }
  .maths-cards .card {
    flex-basis: 28%;
  }
}

.maths-cards .margin-top {
  margin-top: 10px;
}

// Radio buttons & checkboxes

// By default, multiple choice inputs stack vertically
.multiple-choice {

  display: block;
  float: none;
  clear: left;
  position: relative;

  padding: (8px $gutter-one-third 9px 50px);
  margin-bottom: $gutter-one-third;

  cursor: pointer; // Encourage clicking on the label

   // remove 300ms pause on mobile
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  @include media(tablet) {
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
    // width: 25%; - Test : check that text within labels will wrap
  }

  // Absolutely position inputs within label, to allow text to wrap
  input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    z-index: 1;

    // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there.
    @if ($is-ie == false) or ($ie-version == 9) {
      margin: 0;
      @include opacity(0);
    }
  }

  label {
    cursor: pointer;
  }

  [type=radio] + label::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    @include border-radius(50%);
  }

  [type=radio] + label::after {
    content: "";
    border: 10px solid;
    width: 0;
    height: 0;
    position: absolute;
    top: 9px;
    left: 9px;
    @include border-radius(50%);
    @include opacity(0);
  }

  [type=checkbox] + label::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
  }

  [type=checkbox] + label::after {
    content: "";
    border: solid;
    border-width: 0 0 5px 5px;
    background: transparent;
    width: 17px;
    height: 7px;
    position: absolute;
    top: 10px;
    left: 8px;
    -moz-transform: rotate(-45deg); // Firefox 15 compatibility
    -o-transform: rotate(-45deg); // Opera 12.0 compatibility
    -webkit-transform: rotate(-45deg); // Safari 8 compatibility
    -ms-transform: rotate(-45deg); // IE9 compatibility
    transform: rotate(-45deg);
    @include opacity(0);
  }

  // Focused state
  [type=radio]:focus + label::before {
    @include box-shadow(0 0 0 4px $focus-colour);
  }

  [type=checkbox]:focus + label::before {
    @include box-shadow(0 0 0 3px $focus-colour);
  }

  // Selected state
  input:checked + label::after {
    @include opacity(1);
  }

  // Disabled state
  input:disabled + label {
    @include opacity(0.5);
  }

  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}

// To sit multiple choice inputs next to each other, use .inline on parent
.inline .multiple-choice {
  clear: none;

  @include media (tablet) {
    margin-bottom: 0;
    margin-right: $gutter;
  }
}

.heading-medium-custom {
  font-size: 60px!important;
  line-height: 60px!important;
  color: #696969;
}

