.feature-ministers span.circle .caption {
        position: relative;
        top: 40px;
        font-family: "nta", Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 16px;
        line-height: 1.25;
        padding-top: 6px;
        padding-bottom: 4px;
        line-height: 1
    }



.feature-ministers p {
    text-align: center;
    color: #6f777b;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 32px;
    line-height: 1.09375;
    padding-top: 12px;
    padding-bottom: 8px;
    padding: 15px 0 30px
}

.feature-ministers p {
        font-size:48px;
        line-height: 1.04167
    }

.feature-ministers p {
        padding-top:8px;
        padding-bottom: 7px
    }

.feature-ministers span.circle {
    display: inline-block;
    text-align: center;
    padding: 0;
    vertical-align: middle;
    width: 17%
}

.feature-ministers span.circle a {
    text-decoration: none
}

.feature-ministers span.circle a:hover,#whitehall-wrapper .inside_gov_how-gov-works .feature-ministers span.circle a:focus {
    text-decoration: underline
}

.feature-ministers span.circle .count {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 29px;
    line-height: 1.09375;
    position: relative;
    top: 40px;
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 1.9em;
    font-weight: bold;
    display: block;
    line-height: 1em
}

.feature-ministers span.circle .count {
        font-size:48px;
        line-height: 1.04167
    }

.feature-ministers span.circle .count a {
    color: #0b0c0c
}

.feature-ministers span.circle {
        background-color:transparent;
        border: 0.2em solid #57da95;
        width: 14em;
        height: 14em;
        -moz-border-radius: 4em;
        -webkit-border-radius: 4em;
        border-radius: 8em
    }

    .feature-ministers span.circle:hover {
        background-color: #2ed07b;
        border-color: #2ed07b
    }

.feature-ministers span.circle a:hover,#whitehall-wrapper .inside_gov_how-gov-works .feature-ministers span.circle a:focus {
        text-decoration: none
    }

.feature-ministers span.circle .count {
        padding-top: 0.35em;
        font-size: 1.9em;
        font-weight: bold;
        width: 100%;
        text-align: center
    }

.feature-ministers span.circle span {
    color: black;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 100px;
    line-height: 1.14286;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    padding: 0;
    margin: 0
}

.feature-ministers span.circle span {
        font-size:16px;
        line-height: 1.25
    }

.feature-ministers span.circle span {
        padding-top:6px;
        padding-bottom: 4px
    }

.feature-ministers span.invert {
        background-color:#57da95;
        border-color: #57da95
    }

.feature-ministers span.invert:hover {
        background-color: #2ed07b;
        border-color: #2ed07b
    }

.feature-ministers span.invert .count a,#whitehall-wrapper .inside_gov_how-gov-works .feature-ministers span.invert .caption {
        color: black
    }

.feature-caption {
        font-size:20px;
        line-height: 1.25
    }

.feature-caption {
        padding-top:6px;
        padding-bottom: 4px
    }


.feature-caption {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    padding-bottom: 30px
}

.feature-value a:focus {
    text-decoration: underline
}

.feature-value a {
    text-decoration: none;
    color: #0b0c0c
}

.feature-value {
    font-size: 5em;
    padding-bottom: 0;
    margin: 0 0 -10px;
    color: #6f777b;
    font-weight: bold;
    display: block;
    line-height: 1em
}

.feature-block {
    margin-bottom: 30px
}

.feature-block h2 {
    border-top: 5px solid;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    padding: 20px 0
}

.feature-block h2 {
        font-size:24px;
        line-height: 1.25
    }

.circle-step {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}

.circle-step-large {
  font-size: 19px;
  min-width: 38px;
  min-height: 38px;
  line-height: 38px;
}

.full-width-section {
    clear: both
}

.inside_gov_how-gov-works li {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    padding-top: 7px;
    padding-bottom: 3px
}

.circle-step {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}

.circle-step-large {
  font-size: 19px;
  min-width: 38px;
  min-height: 38px;
  line-height: 38px;
}

.align-right-table{
    float: right; padding-right: 20px
}

.error-summary{
    display:none
}

.error-messsage {
        display:none
    }






