{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<main role="main" id="content">

  <div class="grid-row ">
    <div class="navigation">
      <ul>
        <li><a class="font-xsmall" href="dashboard3">Home</a></li>

        <li><a class="font-xsmall" href="/">Sign out</a></li>
      </ul>
    </div>
  </div>


    <div class="grid-row">
        <div class="column-two-thirds">

<h1 class="heading-secondary">CASTERBRIDGE COLLEGE</h1>
      <p>UPIN:12345678</p>
       <h1 class="heading-large margin-bottom">Funding estimates</h1>
    
        <p></p>

        <body class="servicespage js-enabled ready loaded"><div id="wrapper"><main class="group" id="content" role="main"><section class="filtered-list visualisation-table" id="filtered-list">


          <table class="table-collapsible floated-header">
           
            <thead>
              <tr>
                <th width="700" class="sentence" role="columnheader" scope="col" data-key="department_name"><a class="js-sort" role="button"></a>
                </th>

                <th style="text-align: right; class="integer descending sort-column" role="columnheader" aria-sort="descending" scope="col" data-key="number_of_transactions"><a class="js-sort" role="button" ></a></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <th width="700" scope="row" class="font-small"><a href="school-rows">Adult Education Budget</a></th>
                  
                
                <td style="text-align: right;"width="700" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">£41955.90</abbr></td>

              </tr>

              <tr>
                  <th width="700" scope="row" class="font-small"><a href="#"><p>How is this calculated</p></a></th>
                
                <td style="text-align: right;"width="700" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided"></abbr></td>

              </tr>

                <tr><th width="700" class="font-small" scope="row" data-key="department_name" data-title="2"><a href="loans">16 to 18 apprenticeship</a></th>
                

                <td style="text-align: right;" width="700" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">£581,641.59</abbr></td></tr>
                


                  <tr><th width="500" class="font-small" scope="row" data-key="department_name" data-title="5"><a href="#">Advanced Learner Loan Facility</a></th>
                    
                    <td style="text-align: right;"width="700" class="integer sort-column" data-key="number_of_transactions" data-title="Completed transactions per year: "><abbr title="No data provided">£273,093.44</abbr></td>

                  </tr>
                  
              
              

                  </tbody>
                  </table>
                </section>

               </div></body>
                      

                <body class="servicespage js-enabled ready loaded"><div id="wrapper"><main class="group" id="content" role="main">
                  

              </div>


   </section>

 
                
                    
            </div>
        </aside>

  
  </div>
                    </div>
                    

                  </div>


                </div>
              </div>
            </div>


          </div>

</main>


{% endblock %}
