{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">

<div class="full-width-section ministers">
          <h3>Ministers</h3>
            <div class="feature-ministers">
              <p>
                <span class="circle prime-minister"><span class="count"><a href="#">£629,280,000</a></span> <span class="caption">Baseline</span></span> + <span class="circle cabinet-ministers"><span class="count"><a href="">0</a></span> <span class="caption">+19</span></span> + <span class="circle other-ministers"><span class="count"><a href="#">£629,280</a></span> <span class="caption">Other</span></span> = <span class="circle invert all-ministers"><span class="count"><a href="#">£629,280</a></span> <span class="caption">Total</span></span>
              </p>
            </div>
          
      </div>

    </main>

{% endblock %}