{% extends "layout.html" %}

{% block page_title %}
    Latest funding allocations
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_alpha.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">

        <div class="column-two-thirds">
            
            <form method="post" class="form">

                <div class="form-group">
                    <h1 class="heading-xlarge">Latest funding allocations</h1>
                    <p class="lede">View the latest allocations for either this financial or academic year.</p>
                    <p>You can view funding allocations for the following types of organisation:</p>
                    <ul class="list list-bullet">
                        <li>schools maintained by the local authority</li>
                        <li>academies and free schools</li>
                        <li>non maintained special schools</li>
                        <li>city technology colleges</li>
                        <li>pupil referral units</li>
                        <li>general schools</li>
                    </ul>
                    <p>You can also view the following funding allocation types:</p>
                    <ul class="list list-bullet">
                        <li>dedicated schools grant (<abbr title="Dedicated Schools Grant">DSG</abbr>)</li>
                        <li>PE and sport premium</li>
                        <li>pupil premium</li>
                        <li>year 7 literacy and numeracy catch up premium</li>
                    </ul>
                </div>

                <div class="form-group">
                    <button class="button button-start" type="submit">Start now</button>
                </div>

            </form>
        
        </div>

        <!-- <div class="one-third">
            
            <div class="related-container">
            
                <aside class="related" id="related">
            
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Related content</h2>
        
                        <nav role="navigation" aria-labelledby="parent-subsection">
                                                    
                            <ul class="list">
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2018-to-2019" title="Dedicated schools grant (DSG): 2018 to 2019">Dedicated schools grant (<abbr title="Dedicated Schools Grant">DSG</abbr>): 2018 to 2019</a></li>
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-funding-allocations-for-2017-to-2018" title="PE and sport premium: funding allocations for 2017 to 2018">PE and sport premium: funding allocations for 2017 to 2018</a></li>
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/pupil-premium-conditions-of-grant-2017-to-2018" title="Pupil premium: allocations and conditions of grant 2017 to 2018">Pupil premium: allocations and conditions of grant 2017 to 2018</a></li>
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/year-7-catch up-premium-2017-to-2018" title="Year 7 catch up premium: 2017 to 2018">Year 7 catch up premium: 2017 to 2018</a></li>
                            </ul>

                        </nav>

                    </div>

                </aside>

            </div>

        </div> -->

    </div>

</main>

{% endblock %}
