{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
  {% include "includes/phase_banner_alpha.html" %}
  

    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard-new">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>   



    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">CASTERBRIDGE COLLEGE</h1>
            <p>UKPRN:12345678</p>
        </div>
        
    </div><br>
    

<div class="grid-row">

  <div class="column-one-third">
    <h2 class="bold-small"><a href="#">Funding statement</a></h2>
    
    <p>Your funding for 2017 to 2018</p><br><hr>
  </div>

  <div class="column-one-third">
     <h2 class="bold-small"><a href="#">Document exchange</a></h2>
    
    <p>Upload or download your documents</p><hr>
  </div>

  <div class="column-one-third">
    <h2 class="bold-small"><a href="#">Funding claims</a></h2>
    
    <p>Review your funding claims</p><br><hr>
  </div>

  

</div>
<div class="grid-row">

  <div class="column-one-third">
    <h2 class="bold-small"><a href="#">Funding statement</a></h2>
    
    <p>Your funding for 2017 to 2018</p>
  </div>

  <div class="column-one-third">
     <h2 class="bold-small"><a href="#">Document exchange</a></h2>
    
    <p>Upload or download your documents</p>
  </div>

  <div class="column-one-third">
    <h2 class="bold-small"><a href="#">Funding claims</a></h2>
    
    <p>Review your funding claims</p>
  </div>

  

</div>
 
    

    </main>

{% endblock %}