
{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                
            </p>
        </div>
    </div>
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">Warwickshire college</span>

           <h1 class="heading-xlarge">Subcontractor list <br>2017 to 2018</h1>

            </div>
            </div>
</div>
        

    <div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">Ace computer training</span>
        <ul>
            <li>UKPRN: 22334455</li>
            <li>&nbsp;</li>
            <h2 class=heading-small>Funding stream: Apprenticeships Trailblazer 16 to 18</h2>
            <li>Apprentices:  41</li>
            <li>Payments:  £1,360.29</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>
        <ul>
            
            
            <h2 class=heading-small>Funding stream: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £360.29</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third">
       <span class="heading-totals">£1,720.58</span>
    </div>
</div>


<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Birmingham</span>
        <ul>
            <li>UKPRN: 1234888</li>
            <li>&nbsp;</li>
            <h2 class=heading-small>Funding stream: AEB Learner Support </h2>
            <li>Learners:  10</li>
            <li>Payments:  £360.29</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul> 
        <ul>
            
            
            <h2 class=heading-small>Funding stream: Apprenticeships Trailblazer 19+</h2>
            <li>Apprentices:  10</li>
            <li>Payments:  £360.29</li>
            <li>Locations:  North West</li>
            <li>&nbsp;</li>
            
        </ul>  
    </div>
    

    <div class="column-one-third">
       <span class="heading-totals">£200,00.30</span>
    </div>
</div>

    <div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">Delta Training college</span>
        <ul>
            <li>UKPRN: 87651234</li>
            <li>&nbsp;</li>
            <h2 class=heading-small>Funding stream: Advanced learning loans </h2>
            <li>Apprentices:  42</li>
            <li>Payments:  £10,360.29</li>
            <li>Locations:  East of England, South West</li>
            <li>&nbsp;</li>
            
        </ul> 
    </div>
    

    <div class="column-one-third">
       <span class="heading-totals">£500,03.10</span>
    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The Edge training company</span>
        <ul>
            <li>UKPRN: 87651234</li>
            <li>&nbsp;</li>
            <h2 class=heading-small>Funding stream: Advanced learning loans </h2>
            <li>Apprentices:  60</li>
            <li>Payments:  £101,360.29</li>
            <li>Locations:  East of England, South West</li>
            <li>&nbsp;</li>
            
        </ul> 
    </div>
    

    <div class="column-one-third">
       <span class="heading-totals">£200,00.30</span>
    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Leicester</span>
        <ul>
            <li>UKPRN: 87651234</li>
            <li>&nbsp;</li>
            <h2 class=heading-small>Funding stream: Apprenticeships pre-01 May 2017 starts 16-18 </h2>
            <li>Apprentices:  60</li>
            <li>Payments:  £101,360.29</li>
            <li>Locations:  East of England, South West</li>
            <li>&nbsp;</li>

        </ul> 
    </div>
    </div>

<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="heading-medium">Total</a>
    </div>

    <div class="column-one-third">
       <p class="heading-medium">£222,801.11</a>
    </div>
</div>
</p>

<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="submit">Submit</a> &nbsp; <a class="button-grey" href="dashboard2">Save and exit</a> 
        <div><br><a href="subcontractor-list">Back and edit</a><br>
        <a href="subcontractor-list"></a><br>
        <a href="subcontractor-list"></a> </div><br>
    </div>

    
    <div class="column-one-third ">
       <a href="submit1">Download a PDF</a><br>&nbsp;
       
    </div>
</div>

<br>





<br>
<br>




</main>


{% endblock %}