{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">Warwickshire college</span>

           <h1 class="heading-xlarge">Subcontractor list</h1>
           
            </div>
</div>
<span class="heading-secondary">Overview</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Secondary subcontracting</li>
            <li>No</li>
            
        </ul> 
    </div>

   <div class="column-one-third">
       <span class=""><a href="sub-contractor-form-s1">Edit</a></span>
    </div>
       
       
       
    </div>
    </div>
</div>

    </div>
</div>


    </div>
</div>

<p>&nbsp;</p>
<span class="heading-large">Your subcontractors</span>
            
        
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Leicester</span>
        <ul>
            <li>UKPRN: 87651234</li>
            
            
        </ul> 
    </div> 
    <div class="column-one-third">
    <p>&nbsp;</p>

       <span class=""><a href="sub-con-search-add2">Delete</a></span>
    </div>  
       
    </div>
    </div>
</div>


<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="select-funding">Add a funding stream</a>
    </div>

    
</div>

<br>




</main>


{% endblock %}