{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
           
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">

           <h1 class="heading-xlarge">Subcontractor list</h1>
            
        <h1 class="heading-large margin-top-zero">Warwickshire college</h1>
        <span class="heading-secondary">The College of Leicester</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 87651234</li>
            <li>Company number: 654321</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class=""><a href="sub-contractor-form-amend">Edit</a></span><br>
       <span class=""><a href="#">Remove</a></span>
    </div>
    </div>
</div>
<span class="heading-secondary">The College of Birmingham</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 1234888</li>
            <li>Company number: 651111</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class=""><a href="learner-values-birmingham">Edit</a></span><br>
       <span class=""><a href="#">Remove</a></span>
       </div>
       </div>
</div>
&nbsp; <br>

    <div class="column-two-thirds">
        <a class="button" href="sub-con-search-add-another2">Add a subcontractor</a>
    </div>

    <div class="column-one-third ">
       
    

<br>





<br>
<br>



</main>


{% endblock %}