<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <system.webServer>
        <staticContent>
        <mimeMap fileExtension=".js.download" mimeType="text/javascript" />
        <mimeMap fileExtension=".js(1).download" mimeType="text/javascript" />
        </staticContent>
    </system.webServer>
  </configuration>