{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
    
$(document).ready(function() {
    $('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');

        var newCurrentValue = '.' + currentAttrValue.substring(1,currentAttrValue.length)    

        $(".tab1, .tab2, .tab3, .tab4, .tab5, .tab6, .tab7, .tab8, .tab-hidden").hide();
        
        $(newCurrentValue).show();            
 
        e.preventDefault();

        $(".view-all-hidden").show();

        $('input[type=checkbox]').each(function() { this.checked = false; });

    });
    
    
    $('.link-all').on('click', function(e)  {
        var currentAttrValue = $(this).attr('href');
        
        var newCurrentValue = '.' + currentAttrValue.substring(1,currentAttrValue.length)    
        
        $(".tab1, .tab2, .tab3, .tab4, .tab5, .tab6, .tab7, .tab8, .tab-hidden").show();
        
        $(".view-all-hidden").hide();

        $('input[type=checkbox]').each(function() { this.checked = false; });

    });
    
    
    $('a.impact-link').click(function() {
    
        $('.impact-link.active').removeClass('active');
        
        $(this).addClass('active');
    });

    
    $('a.link.link-all').click(function() {
    
        $('.impact-link.active').removeClass('active');
        
        $(this).addClass('active');
    });

    

    $("#open-mobile-menu").click(function() {

        $(".search-hidden-mobile").toggleClass("open-menu-mobile");

        $(".mobile-arrow-down").toggleClass("mobile-arrow-up");
    });
   

    
    $('#update').on('click', function(e)  {

        $('.impact-link.active').removeClass('active');
        
        $(".view-all-hidden").hide();
        
        $(".con-1, .con-2, .con-3, .con-4, .con-5").show();
    
        $('.text-here').text('');
        
        var firstTime = 0;

        if(document.getElementById('contract-type-1').checked) {
        
            $(".con-1, .con-2, .con-3, .con-4, .con-5").hide();

            $(".con-1").show();

            firstTime = 1;


            $('.text-here').text('Weve found 4 contracts.');

    
        }

        if(document.getElementById('contract-type-2').checked) {
            
            if(firstTime == 0) {
                
                $(".con-1, .con-2, .con-3, .con-4, .con-5").hide();
            }
            
            $(".con-2").show();

            firstTime = 1;

            $('.text-here').text('Weve found 1 contract.');

        } 

        if(document.getElementById('contract-type-3').checked) {
            
            if(firstTime == 0) {
                
                $(".con-1, .con-2, .con-3, .con-4, .con-5").hide();
            }
            
            $(".con-3").show();

            firstTime = 1;

            $('.text-here').text('Weve found 1 contract.');
        }

        if(document.getElementById('contract-type-4').checked) {
            
            if(firstTime == 0) {
                
                $(".con-1, .con-2, .con-3, .con-4, .con-5").hide();
            }
            
            $(".con-4").show();

            firstTime = 1;

            $('.text-here').text('Weve found 1 contract.');

        }

        if(document.getElementById('contract-type-5').checked) {
            
            if(firstTime == 0) {
                
                $(".con-1, .con-2, .con-3, .con-4, .con-5").hide();
            }
            
            $(".con-5").show();

            firstTime = 1;

            $('.text-here').text('Weve found 1 contract.');

        }


        if(document.getElementById('year17').checked) {
            
            if(firstTime == 0) {
                
                $(".year15, .year16, .year17").hide();
            }
            
            $(".year17").show();

            firstTime = 1;

        }
        
        if(document.getElementById('year16').checked) {
            
            if(firstTime == 0) {
                
                $(".year15, .year16, .year17").hide();
            }
            
            $(".year16").show();

            firstTime = 1;

        }

        if(document.getElementById('year15').checked) {
            
            if(firstTime == 0) {
                
                $(".year15, .year16, .year17").hide();
            }
            
            $(".year15").show();

            firstTime = 1;

        }



        if(document.getElementById('signed1').checked) {
            
            if(firstTime == 0) {
                
                $(".ready, .signed1, .amended1, .withdrawn1").hide();
            }
            
            $(".signed1").show();

            firstTime = 1;

        }

        if(document.getElementById('amended1').checked) {
            
            if(firstTime == 0) {
                
                $(".ready, .signed1, .amended1, .withdrawn1").hide();
            }
            
            $(".amended1").show();

            firstTime = 1;

        }

        if(document.getElementById('withdrawn1').checked) {
            
            if(firstTime == 0) {
                
                $(".ready, .signed1, .amended1, .withdrawn1").hide();
            }
            
            $(".withdrawn1").show();

            firstTime = 1;

        }
        
        

    });


    $('#reset-filter').click(function() {

        $('.impact-link.active').removeClass('active');
        
        $(".view-all-hidden").hide();

        $(".con-1, .con-2, .con-3, .con-4, .con-5").show();

        $('.text-here').text('');

        $('input[type=checkbox]').each(function() { this.checked = false; });
    
    });



    /* v v for collapsable search boxes v v */

    $("#funding-title").click(function(){    

        $(".displayed-checkbox").toggleClass("hidden-checkbox"); 

        $(".up-arrow-new").toggleClass("down-arrow");
    });

    
    $("#funding-title-2").click(function(){

        $(".hidden-2").toggleClass("show-2"); 

        $(".down-arrow-2").toggleClass("up-arrow-new-2");
    });

   
    $("#funding-title-3").click(function(){

        $(".hidden-3").toggleClass("show-3"); 

        $(".down-arrow-3").toggleClass("up-arrow-new-3");
    });



    
       
});



</script>

<main role="main" id="content">
    <div class="phase-banner">
  <p>
    <strong class="phase-tag">PROTOTYPE</strong>
    <span>For testing </span>
  </p>
</div>

    <a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="link-back">Back</a>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard4">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
     <div class="grid-row">
        <div class="column-two-thirds">


       <h1 class="heading-secondary">THE BLYTHE ACADEMY</h1>
      <p>UKPRN: 12345678</p>
       <h1 class="heading-large margin-bottom">Document exchange</h1>
        </div>
    </div>

   <div>
        <a class="link link-all view-all-hidden float-right" href="#all">View all contracts</a>
    </div>

    

<div class="grid-row margin-top">
    <div class="column-one-third">
          
            

            

            <a id="open-mobile-menu" class="heading-medium mob-search mobile-arrow-down">Edit search</a>
                
                
            <div class="search-hidden-mobile">         
                

                  
                    <div class="filter-relative">
                    <button type="button" value="Select contract types" id="funding-title" tabindex="0" role="button" class="filters-headings heading-small focusing">Filter<span class="up-arrow-new"> </span></button>


                        <fieldset class="filters">

                            <legend class="visuallyhidden">Search</legend>

                            
                            <div class="displayed-checkbox">
                            <section class="toggled-content">
                                <ul>
                                    
                                    <li>
                                        <label class="block" for="contract-type-1">
                                            <input id="contract-type-1" name="contract" type="checkbox" value="16-19 Funding">
                                            St Matthews Academy
                                        </label>
                                    </li>

                                    
                                        
                                    </li>
                                    <li>
                                        <label class="block" for="contract-type-5">
                                            <input id="contract-type-5" name="contract" type="checkbox">
                                            John Longfellow Academy
                                        </label>
                                    </li>

                                    <li>
                                        <label class="block" for="contract-type-6">
                                            <input id="contract-type-6" name="contract" type="checkbox">
                                            Somebody School
                                        </label>
                                    </li>

                                    <li>
                                        <label class="block" for="contract-type-3">
                                            <input id="contract-type-3" name="contract" type="checkbox" value="City deal">
                                            Whatever Academy
                                        </label>
                                    </li>
                                    <li>
                                        <label class="block" for="contract-type-1">
                                            <input id="contract-type-1" name="contract" type="checkbox" value="European social fund (ESF)">
                                            Another Academy
                                        </label>
                                    </li>

                                    
                                    <li>
                                        <label class="block" for="contract-type-2">
                                            <input id="contract-type-2" name="contract" type="checkbox" value="Mainstream">
                                            Primary Academy
                                        </label>

                                    
                                 </ul>
                            </section>
                            </div>
                        </fieldset>
                      </div>  
                    
                 
                    
                      <div class="filter-relative">  
                        <button type="button" value="Select years" id="funding-title-2" tabindex="0" role="button" class="filters-headings heading-small focusing">Select years<span class="down-arrow-2"></span></button>

                        <fieldset class="filters">

                            <legend class="visuallyhidden">Search</legend>


                            <div class="hidden-2">
                            <section class="toggled-content">
                                <ul>
                                    <li>
                                        <label class="block" for="year17">
                                            <input id="year17" name="years" type="checkbox" >
                                            2016 to 2017
                                        </label>
                                    </li>
                                    
                                    <li>
                                        <label class="block" for="year16">
                                            <input id="year16" name="years" type="checkbox" >
                                            2015 to 2016
                                        </label>
                                    </li>
                                    
                                    <li>
                                        <label class="block" for="year15">
                                            <input id="year15" name="years" type="checkbox" >
                                            2014 to 2015
                                        </label>
                                    </li>
                                </ul>
                            </section>
                            </div>
                        </fieldset>
                        </div>
                    
                
                    
                    
                      <div class="filter-relative">  
                    <button type="button" value="Select status" id="funding-title-3" tabindex="0" role="button" class="filters-headings heading-small focusing">Select status<span class="down-arrow-3"></span></button>

                        <fieldset class="filters">

                            <legend class="visuallyhidden">Search</legend>


                            <div class="hidden-3">
                            <section class="toggled-content">
                                <ul>
                                    
                                    <li>
                                        <label class="block" for="signed1">
                                            <input id="signed1" name="status" type="checkbox" value="signed">
                                            signed
                                        </label>
                                    </li>
                                    
                                    <li>
                                        <label class="block" for="amended1">
                                            <input id="amended1" name="status" type="checkbox" value="amended">
                                            amended
                                        </label>
                                    </li>

                                    <li>
                                        <label class="block" for="withdrawn1">
                                            <input id="withdrawn1" name="status" type="checkbox" value="withdrawn">
                                            withdrawn
                                        </label>
                                    </li>
                                </ul>
                            </section>
                            </div>
                        </fieldset>
                        </div>
                    
                  
                    
                    <ul> 
                        <li><a id="update" href="#tab1" class="button margin-top">Update results</a></li>
                        <li class="margin-top-2"><p><a id="reset-filter" href="#">Reset search</a></p></li>
                    </ul>


              </div>  

    
</div>


   






    <div class="column-two-thirds">
        <div id="tab1" class="main-table">
            
            <p class="text-here"></p>

             <ul class="tab-content">
                      
                    
                     <li class="tab2 tab active con-1 year17 ready" id="tab1">
                        <h4 class="bold-small">Reconcilliation Statement</h4>
                        <p>Published on 28 April 2017 </p>
                        <p>Complete and submit by 26 October 2017</p>
                        <p class="action-link"><a href="review-contract2">Download</a></p>
                    </li>

                    <li class="tab1 tab active con-1 year17 ready" id="tab1">
                        <h4 class="bold-small">RPA certificate</h4>
                        <p>Issued on 26 August 2016 for academic year 2016 to 2017</p>
                        <p>You should sign the contract by 26 October 2017</p>
                        <p class="action-link"><a href="sign-contract">Download</a></p>
                    </li>
                    
                    <!-- <li class="tab1 tab active con-1 year17 ready">
                        <h4 class="bold-small">ESF SSU contract variation for Coast to Capital LEP version 2
                        </h4>
                        <p>Contract issued on 26 Aug 2016 for academic year 2016 to 2017 and is version 2</p>
                        <p>You should sign the contract by 26 Oct 2016</p>
                        <p class="action-link"><a href="/step6">Review and sign contract</a></p>
                    </li>

                    <li class="tab2 tab active con-2 year17 amended1" id="tab2">
                        <h4 class="bold-small">Mainstream contract 2016 to 2017  version 2</h4>
                        <p>Contract amended on 05 Oct 2016.</p>
                        <p>Please review the amended contract as your funding allocation may have changed.</p>
                        <p>This contract does not need to be signed.</p>
                        <p class="action-link"><a href="/step5">Review amendments</a></p>
                    </li>

                    <li class="tab3 tab active con-3 year17 withdrawn1" id="">
                        <h4 class="bold-small">City deal contract withdrawn 2016 to 2017</h4>
                        <p>Contract withdrawn on 30 Sep 2016 at the request of a member of your organisation.</p>
                        <p>This contract can no longer be signed</p>
                        <p>Contract issued on 10 Sep 2016</p>
                        <p class="action-link"><a href="/withdrawn_by_provider">View withdrawn contract</a></p>
                    </li>

                    <li class="tab3 tab active con-1 year17 withdrawn1" id="">
                        <h4 class="bold-small">ESF SSU contract withdrawn 2016 to 2017</h4>
                        <p>Contract withdrawn on 26 Sep 2016 by the Skills Fudning Agency (SFA).</p>
                        <p>This contract can no longer be signed</p>
                        <p>Contract issued on 10 Sep 2016</p>
                        <p class="action-link"><a href="/withdrawn_by_CDS">View withdrawn contract</a></p>
                    </li>

                    <li class="tab3 tab active con-1 year17 withdrawn1" id="tab3">
                        <h4 class="bold-small">ESF IAG contract withdrawn 2016 to 2017</h4>
                        <p>Contract withdrawn on 28 Sep 2016 due to missed deadline.</p>
                        <p>This contract can no longer be signed</p>
                        <p>Contract issued on 10 Sep 2016</p>
                        <p class="action-link"><a href="/withdrawn">View withdrawn contract</a></p>
                    </li>


                    <li class="tab-hidden tab active con-4 year16 signed1" id="">
                        <h4 class="bold-small">2015 to 2016 Local Growth contract</h4>
                        <p>Contract signed by Jim Riaz at hh:mm on dd mmm yyyy.</p>
                        <p class="action-link"><a href="/step1">View contract</a></p>
                    </li>

                    <li class="tab-hidden tab active con-5 year15 signed1" id="">
                        <h4 class="bold-small">AGE Grant contract variation for 2014 to 2015 version 2</h4>
                        <p>Contract replaced on 27 Sep 2016 and was replaced by a later version.</p>
                        <p class="action-link"><a href="/replaced">View contract</a></p>
                    </li> -->                    

            </ul>    

            
        </div>
    </div>
</div>


<!-- <div class="grid-row">
    <div class="column-two-thirds right-align">
        <table class="main-table">
            <thead>
                <tr>
                    <th>Contract name (PDF)</th>
                    <th>Period</th>
                    <th>Version</th>
                    <th>Date issued</th>
                    <th>Action</th>
                </tr>
            </thead>
        
            <div class="tab-content">
                <tbody>                 
                    <tr class="tab4 tab active">
                        <td data-label="Contract name (PDF)">2016/2017 Funding claim</td>
                        <td data-label="Period">2016 to 2017</td>
                        <td data-label="Version">1</td>
                        <td data-label="Date issued">12 Apr 2016</td>
                        <td data-label="Action"><a href="/funding-claims-p1">Review and sign</a></td>
                    </tr>
                    

                    <tr class="tab5 tab active">
                        <td data-label="Contract name (PDF)">2016/2017 Funding claim resubmitted</td>
                        <td data-label="Period">2016 to 2017</td>
                        <td data-label="Version">2</td>
                        <td data-label="Date issued">12 Apr 2016</td>
                        <td data-label="Action"><a href="/funding-claims-p1-resubmitted">Review and sign</a></td>
                    </tr>

                    <tr class="tab6 tab active">
                        <td data-label="Contract name (PDF)">2016/2017 Funding claim withdrawn</td>
                        <td data-label="Period">2016 to 2017</td>
                        <td data-label="Version">1</td>
                        <td data-label="Date issued">12 Apr 2016</td>
                        <td data-label="Action"><a href="/funding-claims-p1-withdrawn">View withdrawn funding</a></td>
                    </tr>

                   

                    <tr class="tab-hidden tab active">
                        <td data-label="Contract name (PDF)">2016/2017 Funding claim</td>
                        <td data-label="Period">2016 to 2017</td>
                        <td data-label="Version">1</td>
                        <td data-label="Date issued">12 Apr 2016</td>
                        <td data-label="Action"><a href="/funding-claims-p1-signed">View funding claim</a></td>
                    </tr>
                    
                    
                </tbody>
            </div>    
        </table>
    </div>
</div> -->

    <br>
    <br>

    


    </div>

</main>


{% endblock %}