{% extends "layout.html" %}

{% block page_title %}
    16 to 19 special post - 16 institutions: 2021 to 2022 - manage your education and skills funding - GOV.UK
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include version + "/includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">

        <div class="column-full">

            <!-- <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="">Home</a></li>
                        <li><a href="select-your-organisation">Select your sign-in</a></li>
                        <li>Sign-in</li>
                    </ol>
                </nav>
            </div> -->

            <!-- content -->

            <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-8 govuk-error-summary hide" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" style="border-color:#d4351c;">
                <h2 class="govuk-error-summary__title govuk-font-size-19" id="error-summary-title">
                  There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list govuk-font-size-19">
                    <li>
                      <a href="#emailinputmockup" style="color:#d4351c;">Please enter a valid user ID or email address</a>
                      {% if scenario == '3' %}
                        <p class="govuk-!-margin-top-4" style="margin-bottom:0px;">Sign in with <a href="login-dfe" style="color:#005ea5" class="govuk-!-font-weight-bold">DfE Sign-in</a> if you are a multi or single academy trust, academy or school.</p>
                      {% else %}
                      {% endif %}
                    </li>
                  </ul>
                </div>
            </div>

            <h1 class="heading-large govuk-!-margin-bottom-6 govuk-!-margin-top-6">
                Sign in
            </h1>

            <div class="form-group emailError">
                <label class="form-label govuk-!-font-weight-bold" id="emailinputmockup" for="full-name-f1">User ID or Email address</label>
                <span id="passport-issued-error" class="govuk-error-message hide"><span class="govuk-visually-hidden">Error:</span> Please enter a valid user ID or email address</span>
                <input class="form-control" id="username-entry" type="text">
            </div>

            <div class="form-group">
                <label class="form-label govuk-!-font-weight-bold" for="full-name-f1">Password</label>
                <input class="form-control" id="user-password" type="password">
            </div>

            <div class="govuk-button-group govuk-!-margin-top-6">
                <button id="sign-in-button" class="govuk-button govuk-font-size-19" data-module="govuk-button" type="button">
                  Sign in
                </button>
            </div>

            <h2 class="heading-medium govuk-!-margin-bottom-6 govuk-!-margin-top-6">
                Problems signing in?
            </h2>
            <p><a href="" class="govuk-!-margin-bottom-0">I forgot my password</a></p>
            <p><a href="">I don't have an account</a></p>

            <!-- end main content -->

        </div>

    </div>

</main>


<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- GOV.UK Design System accordion -->
<script src="/public/javascripts/{{version}}/accordion.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

<script type="text/javascript">

    // Change the heading title
    document.getElementById("proposition-name").textContent="Information Management Services (IDAMS)";
    //Username and error logic
    document.getElementById('sign-in-button').onclick = function(){

        var userInput = document.getElementById("username-entry").value;

        if (userInput == "independent learning provider" || userInput == "local authority" || userInput == "further education college" || userInput == "university" || userInput == "public body") {
            document.getElementById('sign-in-button').onclick = location.href='dashboard';
        }

        else {
            $(".form-group.emailError").addClass("govuk-form-group--error");
            $(".govuk-error-summary, #passport-issued-error").removeClass("hide");
        }
    }

</script>

{% endblock %}