{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
     <div class="phase-banner-alpha">

        <div>
            <p>
                <strong class="phase-tag">ALPHA</strong>
                
            </p>
        </div>
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-xlarge">Manage your funding</h2>
                
        <p>Use this service to:</p>
             <ul class="list list-bullet">
                <li>sign contracts</li>
                <li>view your funding allocations</li>
                <li>view the funding you've received</li>
                <li>send and download files</li>
                <li>tell us about your subcontractors</li>
            </ul>
            
            <div class="transaction">
                <div id="get-started" class="get-started">
                    <a class="button button-get-started" href="idams">Sign in or create an account</a>
                </div>
            </div>
            <h2 class="heading-large">Before you start</h2> 
        <p>You need to have an account with the government’s <a href="https://secure2.imservices.org.uk/self_registration/">Identity Management Services system</a> to use this.</p>     

    </div>
    </div>
    

</main>

{% endblock %}


