{% extends "layouts/main.html" %}

{% block page_title %}
    User journeys
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">

        <div class="column-full">

            <div id="global-breadcrumb" class="breadcrumbs group">

                <nav>
                    <ol>
                        <li><a href="/">Manage your education and skills funding prototype</a></li>
                        <li>User journeys</li>
                    </ol>
                </nav>

            </div>

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Kanban (beta-v116-0-0)</span>
                User journeys
            </h1>
            <h2 class="heading-large">Public</h2>

            <div class="form-group">
                <h2 class="heading-medium no-margin-bottom">View latest funding</h2>
                <details>
                    <summary>
                        <span class="heading-medium version-header">MVS (academy, local authority & school)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/start">View latest funding</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/viewing-choice">Choose how to view funding</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/viewing-choice"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/which-allocation">Select a funding type</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/which-allocation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/dedicated-schools-grant/download-funding/2020-to-2021">Dedicated schools grant (<abbr title="Dedicated schools grant">DSG</abbr>) 2020 to 2021</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/dedicated-schools-grant/download-funding/2020-to-2021"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/find-an-organisation">View funding at organisation level</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/find-an-organisation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/no-results">Search results - no results</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/no-results"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/did-you-mean">Search results - did you mean</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/did-you-mean"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/statement">Single funding statement</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/statement"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/dedicated-schools-grant/funding-breakdown/17-12-2019">Dedicated schools grant (<abbr title="Dedicated schools grant">DSG</abbr>) 2020 to 2021</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/dedicated-schools-grant/funding-breakdown/17-12-2019"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/dedicated-schools-grant/allocation-history">Allocation history - dedicated schools grant (<abbr title="Dedicated schools grant">DSG</abbr>)</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/dedicated-schools-grant/allocation-history"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/pe-and-sport/funding-breakdown/5-10-2019">PE and sport premium 2019 to 2020</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/pe-and-sport/funding-breakdown/5-10-2019"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/pe-and-sport/allocation-history">Allocation history - PE and sport premium</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/pe-and-sport/allocation-history"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
                <ul class="list-bullet bold-medium">
                    <li><abbr title="Dedicated schools grant">DSG</abbr></li>
                    <li>PE and sport grant</li>
                </ul>
            </div>

            <div class="form-group">
                <h2 class="heading-medium no-margin-bottom">View national funding formula for schools</h2>
                <p>Currently being updated...</p>
            </div>

            <h2 class="heading-large">Signed-in</h2>

            <div class="form-group">
                <h2 class="heading-medium no-margin-bottom">Allocation statements</h2>
                <details>
                    <summary>
                        <span class="heading-medium version-header">16 to 19 child view (all eligible institutions)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/dfe-sign-in/sign-in">DfE Sign-in</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/dfe-sign-in/sign-in"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/dashboard">Dashboard</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/dashboard"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/allocation-statements">Allocation statements</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/allocation-statements"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/funding-breakdown-fe/12-09-2021">16 to 19: 2021 to 2022</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/funding-breakdown-fe/12-09-2021"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/allocation-history">Allocation history - 16 to 19</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/child/allocation-history"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
                <details>
                    <summary>
                        <span class="heading-medium version-header">16 to 19 parent view (<abbr title="Multi-academy trust">MAT</abbr>)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/dfe-sign-in/sign-in">DfE Sign-in</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/dfe-sign-in/sign-in"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/dashboard">Dashboard</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/dashboard"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/mat/allocation-statements">Allocation statements</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/mat/allocation-statements"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/mat/funding-breakdown-academy/12-09-2021">16 to 19: 2021 to 2022</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/mat/funding-breakdown-academy/12-09-2021"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/mat/allocation-history">Allocation history - 16 to 19</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/beta/v116-0-0/signed-in/external/allocation-statements/16-to-19/parent/mat/allocation-history"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
                <details>
                    <summary>
                        <span class="heading-medium version-header">Adults child view (academy & school)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/dfe-sign-in/sign-in">DfE Sign-in</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/dfe-sign-in/sign-in"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/dashboard">Dashboard</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/dashboard"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/allocation-statements">Allocation statements</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/allocation-statements"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/apprenticeship-carry-in-details">Apprenticeship carry-in for 2018 to 2019</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/apprenticeship-carry-in-details"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
                <details>
                    <summary>
                        <span class="heading-medium version-header"><abbr title="General annual grant">GAG</abbr> child view (academy & <abbr title="Single academy trust">SAT</abbr>)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/dfe-sign-in/sign-in">DfE Sign-in</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/dfe-sign-in/sign-in"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/dashboard">Dashboard</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/dashboard"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/allocation-statements">Allocation statements</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/allocation-statements"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/funding-breakdown-1/12-09-2021">General annual grant: 2021 to 2022</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/funding-breakdown-1/12-09-2021"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/allocation-history">Allocation history - general annual grant</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/child/allocation-history"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
                <details>
                    <summary>
                        <span class="heading-medium version-header"><abbr title="General annual grant">GAG</abbr> parent view (<abbr title="Multi-academy trust">MAT</abbr>)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/dfe-sign-in/sign-in">DfE Sign-in</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/dfe-sign-in/sign-in"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/dashboard">Dashboard</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/dashboard"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/allocation-statements">Allocation statements</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/allocation-statements"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/funding-breakdown-1/12-09-2021">General annual grant: 2021 to 2022</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/funding-breakdown-1/12-09-2021"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/allocation-history">Allocation history - general annual grant</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionGAG}}/signed-in/external/allocation-statements/general-annual-grant/parent/allocation-history"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
            </div>

            <div class="form-group">
                <h2 class="heading-medium no-margin-bottom">Document exchange</h2>
                <details>
                    <summary>
                        <span class="heading-medium version-header">External child view (academy & school)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/dfe-sign-in/sign-in">DfE Sign-in</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/dfe-sign-in/sign-in"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/dashboard">Dashboard</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/dashboard"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/home">Document exchange</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/home"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/received-from-esfa">Documents you've received from <abbr title="Education and Skills Funding Agency">ESFA</abbr></a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/received-from-esfa"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/sent-to-esfa">Documents you've sent to <abbr title="Education and Skills Funding Agency">ESFA</abbr></a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/sent-to-esfa"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/document-upload-file-type">Send your document - document type</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/document-upload-file-type"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/document-upload">Send your document - upload</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/document-upload"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/document-upload-remove">Send your document - remove</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/document-upload-remove"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/document-upload-complete">You've sent a document</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/child/document-upload-complete"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
                <details>
                    <summary>
                        <span class="heading-medium version-header">External parent view (local authority & <abbr title="Multi-academy trust">MAT</abbr>)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/dfe-sign-in/sign-in">DfE Sign-in</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/dfe-sign-in/sign-in"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/dashboard">Dashboard</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/dashboard"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/home">Document exchange</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/home"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/received-from-esfa">Documents received from <abbr title="Education and Skills Funding Agency">ESFA</abbr></a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/received-from-esfa"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/sent-to-esfa">Documents sent to <abbr title="Education and Skills Funding Agency">ESFA</abbr></a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/sent-to-esfa"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/select-organisation">Send your document - select an organisation</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/select-organisation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/select-academy-or-school?paginationRequired=true&page1=true">Send your document - select academy or school</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/select-academy-or-school?paginationRequired=true&page1=true"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/document-upload-file-type">Send your document - document type</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/document-upload-file-type"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/document-upload">Send your document - upload</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/document-upload"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/document-upload-remove">Send your document - remove</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/document-upload-remove"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/document-upload-complete">You've sent a document</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/document-upload-complete"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
                <details>
                    <summary>
                        <span class="heading-medium version-header">Internal (<abbr title="Education and Skills Funding Agency">ESFA</abbr>)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/dfe-sign-in/sign-in">DfE Sign-in</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/dfe-sign-in/sign-in"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/dashboard">Dashboard</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/dashboard"></iframe>
                                </div>
                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/home">Document exchange</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/home"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/file-share">File share</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/file-share"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-publish">Publish your documents</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-publish"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-publish-confirm">Are you sure you want to publish [n] documents?</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-publish-confirm"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-publish-confirmation">You’ve published [n] documents</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-publish-confirmation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-publish-remove-confirm">Are you sure you want to remove these documents?</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-publish-remove-confirm"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-removed-confirmation">You’ve removed [n] documents</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-removed-confirmation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-review">Review your document names</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-review"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-review-remove-confirm">Are you sure you want to remove these documents?</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-to-review-remove-confirm"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-removed-confirmation">You’ve removed [n] documents</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/documents-removed-confirmation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/download-documents">Download your documents</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="/{{latestVersionDocumentExchange}}/signed-in/internal/document-exchange/download-documents"></iframe>
                                </div>
                                
                            </li>
                        </ul>
                    </div>

                </details>
            </div>
            
        </div>

    </div>

</main>

{% endblock %}