{% extends "layout.html" %}

{% block page_title %}
    Pupil premium 2018 to 2019
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../viewing-choice">Choose how to view funding</a></li>
                        <li><a href="../which-allocation">Select a funding type</a></li>
                        <li>Pupil premium 2018 to 2019</li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="column-two-thirds">

            <form method="post" class="form">

                <div class="form-group">
                    <h1 class="heading-xlarge">Pupil premium 2018 to 2019</h1>
                    <p class="lede">Find out about pupil premium for financial year 2018 to 2019.</p>
                    <h2 class="heading-medium heading-guidance">Allocations</h2>
                    
                    <div class="main-table">
                        <ul>
                            <li>

                                <div class="form-download-container">
                                    <p class="form-download">
                                        <a href="/public/documents/public-information/latest/pupil-premium/pupil-premium-la-and-pc-level_2019-to-2020_published-21-06-2019.ods" title="Pupil premium allocations 2018 to 2019: local authority and parliamentary constituency level (ODS, 185KB)" download="">Pupil premium allocations 2018 to 2019: local authority and parliamentary constituency level (<abbr title="Open Document Spreadsheet">ODS</abbr>, 185KB)</a>  
                                        <br>
                                        <strong class="govuk-tag govuk-bblue">Latest</strong>
                                        <br>
                                        <span class="published-date">Published March 2019</span>
                                        <br>
                                        <span class="published-date">This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation">OpenDocument</a> format</span>
                                    </p>                       
                                </div>

                            </li>
                            <li>

                                <div class="form-download-container">
                                    <p class="form-download">
                                        <a href="/public/documents/public-information/latest/pupil-premium/pupil-premium-school-level_2019-to-2020_published-21-06-2019.ods" title="Pupil premium allocations 2018 to 2019: school level (ODS, 4.9MB)" download="">Pupil premium allocations 2018 to 2019: school level (<abbr title="Open Document Spreadsheet">ODS</abbr>, 4.9MB)</a>
                                        <br>
                                        <strong class="govuk-tag govuk-bblue">Latest</strong>
                                        <br>
                                        <span class="published-date">Published March 2019</span>
                                        <br>
                                        <span class="published-date">This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation">OpenDocument</a> format</span>
                                    </p>                       
                                </div>

                            </li>
                            <li>

                                <div class="form-download-container">
                                    <p class="form-download">
                                        <a href="#" title="Pupil premium allocations 2018 to 2019: local authority and parliamentary constituency level (ODS, 192KB)">Pupil premium allocations 2018 to 2019: local authority and parliamentary constituency level (<abbr title="Open Document Spreadsheet">ODS</abbr>, 192KB)</a>  
                                        <br>
                                        <span class="published-date">Published December 2018</span>
                                        <br>
                                        <span class="published-date">This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation">OpenDocument</a> format</span>
                                    </p>                       
                                </div>

                            </li>
                            <li>

                                <div class="form-download-container">
                                    <p class="form-download">
                                        <a href="#" title="Pupil premium allocations 2018 to 2019: school level (ODS, 4.6MB)">Pupil premium allocations 2018 to 2019: school level (<abbr title="Open Document Spreadsheet">ODS</abbr>, 4.6MB)</a>
                                        <br>
                                        <span class="published-date">Published December 2018</span>
                                        <br>
                                        <span class="published-date">This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation">OpenDocument</a> format</span>
                                    </p>                       
                                </div>

                            </li>
                        </ul>
                        <p>You can <a href="#">request this in a different format</a>.</p>
                    </div>

                    <h2 class="heading-medium heading-guidance">Guidance</h2>
                    <ul class="list">
                        <li><a href="https://www.gov.uk/government/publications/pupil-premium-conditions-of-grant-2018-to-2019/pupil-premium-2018-to-2019-conditions-of-grant">Pupil premium 2018 to 2019: conditions of grant</a></li>
                    </ul>
                </div>

            </form>
        
        </div>

        <div class="one-third">
            
            <div class="related-container">
            
                <aside class="related" id="related">
            
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Historic funding allocations</h2>
        
                        <nav role="navigation" aria-labelledby="parent-subsection">
                                                    
                            <ul class="list">
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/pupil-premium-conditions-of-grant-2017-to-2018" title="Pupil premium: allocations and conditions of grant 2017 to 2018" target="external">Pupil premium: allocations and conditions of grant 2017 to 2018</a></li>
                            </ul>

                        </nav>

                    </div>

                </aside>

            </div>

        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
