

/**********
 * CUSTOM STYLES (CSS)
 * **********/

/* Chris Harding (24.10.19) - TEMPORARY CSS workaround so that we can have GOV.UK Elements and GOV.UK Design System ones in our prototype without broken styling (e.g. having <h1> tags in the <legend>) */
.govuk-fieldset__legend  {
	margin-bottom: 0;
}
.govuk-fieldset__legend--xl {
	margin-bottom: 0;
}

/* iFrame CSS (Site Map) */
@media (max-width: 431px) {
	.next a:before {
		background: url('arrow-sprite.png') no-repeat -80px -7px;
		background-position-x: right;
		background-position-y: center;
		display: block;
		float: right;
		width: 20px;
		height: 24px;
		background-size: 250%;
		content: " ";
	}
}
@media (max-width: 431px) {
	.previous a:before {
		background: url('arrow-sprite.png') no-repeat -80px -7px;
		background-position-x: left;
		background-position-y: center;
		display: block;
		float: left;
		width: 20px;
		height: 24px;
		background-size: 250%;
		content: " ";
	}
}
@media (max-width: 550px) {
	.hidden-page-items {
		display: none;
	}
}
@media (max-width: 550px) {
	.next {
		margin-left: 15px;
	}
}
@media (max-width: 290px) {
	.next {
		padding-top: 5px;
		margin-top: 5px;
		margin-left: 0px;
	}
}
.page {
	margin: 0 10px 20px 0;
	display: inline-block;
	width: 32%;
	position: relative;
}
.page--playlist:after {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('/public/images/chevron.svg') 0 0 no-repeat;
	position: absolute;
	top: 50%;
	right: -15px;
	background-size: 15px 15px;
}
.page:last-child:after {
	display: none;
}
.page-playlist--withroute {
	transform: translateX(50px)
}
.page-playlist--childroute {
	transform: translateX(100px)
}
.page--route-heading:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('/public/images/chevron.svg') 0 0 no-repeat;
	position: absolute;
	top: 0;
	left: -30px;
	background-size: 15px 15px;
	height: 260px;
	background-position: 0 66%;
	border-left: 5px solid;
}
.page h2 {
	word-break: break-word;
	font-size: 0.8em;
	line-height: 1.1;
	padding-bottom: 5px;
}
.page-inner {
	border: 1px solid #000;
	width: 100%;
	overflow: hidden;
	height: 200px;
	background: #fff url('/public/images/loader.svg') 50% 50% no-repeat;
}
.page--exit .page-inner {
	background: none;
	padding: 20px;
	box-sizing: border-box;
}
.page--exit {
	height: 100%;
	background: #005ea5;
	color: white;
}
#userJourneyFrames {
	width: 300%;
	height: 600px;
	transform: scale(0.33333);
	transform-origin: 0 0;
	background: none;
	border: 0;
}
.page-width-wrapper {
	position: relative;
	margin-top: 3em;
	width: 250px;
}
.page-width {
	width: 100%;
}
.page-width:after {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('/public/images/desktop.svg') 50% 50% no-repeat;
}
.page-width[data-device="desktop"]:after {
	background-image: url('/public/images/desktop.svg')
}
.page-width[data-device="tablet"]:after {
	background-image: url('/public/images/tablet.svg')
}
.page-width[data-device="mobile"]:after {
	background-image: url('/public/images/mobile.svg')
}
input[type="range"] {
	width: calc(100% - 40px);
	display: inline-block;
	margin: 0;
}
input[type="range"]::-moz-range-track {
	height: 1px;
}
input[type=range]::-moz-range-thumb {
	height: 12px;
	width: 12px;
	background: #ccc;
	border: 1px solid #aaa;
}
output {
	position: absolute;
	right: 0;
	top: 0.25em;
	font-size: 0.8em;
	opacity: 0.8;
}
output:after {
	content: "px";
}
.non-playlisted {
	padding: 2em 1em;
	background: lightgray;
	margin: 0 -1em;
}
.non-playlisted:before {
	content: "Pages not added to playlist";
	display: block;
	padding-bottom: 1em;
}
@media (min-width: 641px){
	.block-label {
		float: left;
	}
}
.block-label {
	display: block;
	float: none;
	clear: left;
	position: relative;
	background: #dee0e2;
	border: 1px solid #dee0e2;
	padding: 18px 30px 15px 54px;
	margin-bottom: 10px;
	cursor: pointer;
}
.js-enabled label.selected {
	background: #fff;
	border-color: #0b0c0c;
}

/* General */
@media (min-width: 641px) {
    .heading-medium-global {
        margin-top: 1.875em;
    }
}
.after-error-summary {
	margin-top: -15px;
}
@media (min-width: 641px) {
	.after-error-summary {
		margin-top: -30px;
	}
}
.final-column {
	padding-right: 0px;
}
.remove:link, .remove:hover, .remove:focus, .remove:visited {
	background-color: rgb(177, 14, 30)
}
.non-linked-error {
	color: #b10e1e;
	font-weight: bold;
	text-decoration: none;
}
.document-list table, .document-list thead, .document-list th, .document-list tbody, .document-list tr, .document-list td {
	font-size: 14px;
}
@media (min-width: 741px) {
	.document-list table, .document-list thead, .document-list th, .document-list tbody, .document-list tr, .document-list td {
		font-size: 16px;
	}
}

/* Chris Harding (05.05.19) - Addition of styling for the global related (aside) navigation section */
@media (min-width: 641px) {
	.related-container {
		width: 33.33333%;
	}
}
@media (max-width: 640px) {
	.related-container {
		width: 100%;
	}
}
.related-container {
	float: left;
}
@media (max-width: 640px) {
	.related {
		width: 100%;
	}
}
.related {
	float: left;
	border-top-width: 2px;
	padding-top: 15px;
}
.related-links {
	margin-top: 5px;
	line-height: 1.5;
}
@media (min-width: 641px) {
	.related-links {
		margin-top: 15px;
	}
}

/* Chris Harding (15.10.18) - Inclusion of the 'introducing a new service' CSS used in the GOV.UK Verify service (https://introduction-slides-pattern.herokuapp.com) */
.slides {
	background-color: #005ea5;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 480px;
	padding: 30px;
}
@media (min-width: 641px) {
	.slides {
		margin-top: 30px;
 	}
}
@media (min-width: 641px) {
	.slides {
		padding: 45px;
  	}
}
@media (min-width: 769px) {
	.slides {
    	padding: 75px 70px;
  	}
}
.slides h1 {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.0416666667;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h1 {
		font-size: 36px;
		line-height: 1.1111111111;
	}
}
@media (max-width: 640px) {
	.slides h1 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides h2 {
	font-family: "nta", Arial, sans-serif;
	font-size: 20px;
	line-height: 1.1111111111;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h2 {
		font-size: 27px;
		line-height: 1.1111111111;
	}
}
@media (max-width: 640px) {
	.slides h2 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides h3 {
	font-family: "nta", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h3 {
		font-size: 24px;
		line-height: 1.25;
	}
}
@media (max-width: 640px) {
	.slides h3 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides p,
.slides ul {
	font-family: "nta", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: none;
	font-size-adjust: 0.5;
}
@media (min-width: 641px) {
	.slides p,
	.slides ul {
		font-size: 24px;
		line-height: 1.25;
	}
}
.slides a,
.slides a:focus,
.slides a:hover,
.slides a:active {
	color: inherit;
}
.slides .actions {
	margin: 30px 0 15px;
}
.slides .actions .button {
	background: #fff;
	color: #005ea5;
	font-weight: bold;
}
.slides .actions .radio {
	background: #fff;
	color: #005ea5;
	font-weight: bold;
}
.slides figure {
	max-width: 200px;
}
.slides figure img {
	width: 100%;
}
@media (max-width: 640px) {
	.slides figure {
		width: 40%;
	}
}
.slides details summary {
	color: #fff;
}
.slides details .panel {
	border-left-color: #fff;
}
.slides details p,
.slides details ul {
	font-size: 1em;
}
.slides.slides-2 {
	background-color: #fff;
	color: #005ea5;
	border: solid #005ea5 10px;
	padding: 20px;
}
@media (min-width: 641px) {
	.slides.slides-2 {
		padding: 35px;
	}
}
@media (min-width: 769px) {
	.slides.slides-2 {
		padding: 65px 60px;
	}
}
.slides.slides-2 .actions .button {
	background: #005ea5;
	color: #fff;
}
.slides.slides-2 details summary {
	color: #005ea5;
}
.slides.slides-2 details .panel {
	border-left-color: #005ea5;
}

/* Chris Harding (15.02.19) - Account Management (IDAMS) navigation bar */
.account-details {
	border-bottom: 1px solid #bfc1c3;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media (min-width: 641px) {
	.account-details {
		font-size: 16px;
	}
}
.account-name {
	font-size: 14px;
	float: left;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
@media (min-width: 641px) {
	.account-name {
		font-size: 16px;
		padding: 0px;
	}
}
.name {
	margin: 0px;
	padding: 0px;
}
.account-features {
	clear: left;
	text-align: inherit;
	margin: 0px;
}
@media (min-width: 641px) {
	.account-features {
		clear: none;
		text-align: right;
	}
}
.account-link {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
@media (min-width: 641px) {
	.account-link {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 10px;
	}
}

/* Chris Harding (22.10.18) - Styling for the chosen (now global) tile dashboard design */
.dashboard-links {
	margin-bottom: 20px;
}
a.dashboard-links {
	color: white;
	text-decoration: none;
	display: block
}
.service-name {
	display: block;
	background-color: #0b0c0c;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
}
@media (min-width: 641px) {
	.service-name {
		min-height: 98px;
	}
}
@media (min-width: 694px) {
	.service-name {
		min-height: 72px;
	}
}
@media (min-width: 769px) {
	.service-name {
		font-size: 26px;
		min-height: 122px;
	}
}
@media (min-width: 825px) {
	.service-name {
		min-height: 88px;
	}
}
.alert {
	font-size: 20px;
}
.alert-name-red {
	display: block;
	background-color: #b10e1e;
	margin-top: 5px;
    padding: 10px 20px;
}
.alert-name-grey {
	display: block;
	background-color: #005ea5;
	margin-top: 5px;
	padding: 10px 20px;
}
.alert-name-green {
	display: block;
	border: 3px solid #85994b;
	color: #0b0c0c;
	margin-top: 5px;
	padding: 10px 20px;
}

/* Chris Harding (07.01.19) - Filters, sorting and checkboxes */
/* FILTERING (Inline) */
.column-filter-one-third {
	padding: 0px 15px 0px 0px;
}
.minus-25px-margin-top {
	margin-top: -25px
}
.filters h2 {
	font-weight: 700;
	font-size: 24px;
}
.filter {
	border: 1px solid #dee0e2;
	margin-bottom: 20px;
}
.filler legend {
	display: none;
}
.filter h2 {
	font-weight: 700;
	font-size: 17px;
	clear: both;
	background: #dee0e2;
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 5px 30px 5px 10px;
	margin: 0;
	top: 0;
	float: none;
	position: relative;
}
@media (min-width: 741px) {
	.filter h2  {
		font-size: 19px;
	}
}
.js-filter-collapsible .js-filter-collapsible-header h2 {
	position: relative;
	clear: both;
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 5px 30px 5px 10px;
	margin: 0;
	top: 0;
	float: none;
	cursor: pointer;
	background-image: url('/public/images/option-select-toggle-sprite.png');
	background-repeat: no-repeat;
	background-position: 100% -32px;
	background-size: 32px 50px;
	clear: both
}
.js-filter-collapsible.js-open .js-filter-collapsible-header h2 {
	background-position: 100% 8px;
}
.js-filter-collapsible.js-open .js-collapsible-hide-when-open {
	display: none;
}
.js-filter-collapsible .js-filter-collapsible-header h2 {
	color: #0b0c0c;
	background-color: #dee0e2;
}
.js-filter-collapsible .js-filter-collapsible-header h2:hover {
	color: #0b0c0c;
	background-color: #bfc1c3;
}
.js-filter-collapsible-toggle {
	float: right;
	margin-bottom: 10px;    
}
.js-filter-collapsible-toggle li {
	padding: 5px;
}
.js-filter-collapsible-content .toggled-content {
	padding: 20px
}
.js-filter-collapsible-content .toggled-adult-funding-content {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.js-open .search-field-wrap {
	display: block;
}
.js-filter-collapsible-content {
	max-height: 330px;
	overflow-x: hidden;
	overflow-y: auto;
}
@media (min-width: 769px) {
	.js-filter-collapsible-content::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}
	.js-filter-collapsible-content::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
		box-shadow: 0 0 1px rgba(255,255,255,0.5);
	}
}
.gds-multiple-choice [type=checkbox] + label::before {
	width: 12px;
	height: 12px;
	box-sizing: initial;
}
.gds-multiple-choice [type=checkbox] + label::after {
	width: 8px;
	height: 3px;
	border-width: 0 0 2px 2px;
	top: 5px;
	left: 3px;
	box-sizing: initial;
}
@media (min-width: 641px) {
	.gds-multiple-choice {
		padding: 0 0 0 30px;
	}
}
.myesf-filter label {
	font-size: 14px;
}
@media (min-width: 741px) {
	.myesf-filter label {
		font-size: 16px;
	}
}
.block {
	display: block;
}
.filter-keyboard {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
}
.filter-keyboard a {
	text-decoration: none;
}
/* FILTERING (Stacked) */
.column-filter-full {
	padding: 0px;
}
.accordion {
	margin-bottom: 40px;
}
.accordion-controls {
	display: none;
}
.filter-content-container {
	background-color: #bfc1c3;
	padding: 20px 10px 20px 10px;
}
.left-area, .right-area {
	box-sizing: border-box;
	display: inline-block;
	font-size: 19px;
	vertical-align: top;
	width: 50%;
}
.left-area {
	padding-right: 10px;
}
.right-area {
	padding-left: 10px;
}
[role="listbox"] {
	min-height: 18em;
	padding: 0px;
	background: white;
	border: 1px solid #aaa;
}
[role="option"] {
	display: block;
	padding: 0 1em 0 1.5em;
	position: relative;
	line-height: 2.25em;
}
[role="option"].focused {
	background: #005ea5;
	color: #fff;
}
[role="option"][aria-selected="true"]::before {
	content: '✓';
	position: absolute;
	left: 0.5em;
}
button {
	font-size: 19px;
}
button[aria-disabled="true"] {
	opacity: 0.5;
}
.move-right-btn {
	padding-right: 20px;
	position: relative;
}
.move-right-btn::after {
	content: ' ';
	height: 10px;
	width: 12px;
	background-image: url('../imgs/Arrows-Right-icon.png');
	background-position: center right;
	position: absolute;
	right: 2px;
	top: 6px;
}
.move-left-btn {
	padding-left: 20px;
	position: relative;
}
.move-left-btn::after {
	content: ' ';
	height: 10px;
	width: 12px;
	background-image: url('../imgs/Arrows-Left-icon.png');
	background-position: center left;
	position: absolute;
	left: 2px;
	top: 6px;
}
#ss_elem_list {
	max-height: 18em;
	overflow-y: auto;
	position: relative;
}
#exp_wrapper {
	width: 100%;
}
#exp_button {
	-webkit-appearance: none;
	border-radius: 0;
	font-family: "nta", Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 19px;
	line-height: 1.25;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0 40px 0 10px;
	display: block;
	height: 50px;
	border-color: #6f777b;
	border-width: 2px !important;
	line-height: 48px !important;
	position: relative;
	width: 100%;
	text-align: left;
}
#exp_button::after {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #2b8cc4;
	content: " ";
	position: absolute;
	right: 15px;
	top: 20px;
	z-index: 100;
}
#exp_button:focus, #exp_elem_list:focus {
	outline: 3px solid #ffbf47;
	outline-offset: 0;
}
#exp_button[aria-expanded="true"]::after {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 0;
	border-bottom: 6px solid #2b8cc4;
	content: " ";
	position: absolute;
	right: 15px;
	top: 20px;
	z-index: 100;
}
#exp_elem_list {
	border-top: 0;
	max-height: 10em;
	overflow-y: auto;
	position: absolute;
	margin: 0;
	width: 298px;
}
/* SORTING */
@media (min-width: 641px) {
	.column-document-list-two-thirds {
		padding: 0px 0px 0px 15px;
	}
}
.sortable-table {
	font-size: 16px;
	padding: 15px 0px 15px 15px;
}
.sortable-th {
	font-size: 16px;
	padding: 15px 0px 15px 0px;
}
.sortable-td {
	font-size: 16px;
	padding: 15px 0px 15px 15px;
}
.sortable-td-error {
	font-size: 16px;
}
.width-column-0 {
	min-width: 26px;
	max-width: 26px;
	width: 26px;
}
.width-column-1 {
	min-width: 300px;
}
.width-column-2 {
	min-width: 155px;
}
.width-column-3 {
	min-width: 100px;
	text-align: right;
}
.tab-header-no-sort {
	padding: 15px 0px 15px 15px;
	margin: -15px 0px -15px 0px;
	display: block;
}
.tab-header a {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px 0px 15px 15px;
	margin: -15px 0px -15px 0px;
	transition: 0.3s;
	display: block;
}
.tab-header > span {
	position: relative;
	padding-right: 1.5em;
}
a.tab-header .hod-chevron-up {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	content: "";
	margin-left: 5px;
	position: absolute;
	right: 0;
	top: 0;
}
a.tab-header .hod-chevron-down {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	content: "";
	margin-left: 5px;
	position: absolute;
	right: 0;
	bottom: 0;
}
a.tab-header .hod-chevron-up:last-child, 
a.tab-header .hod-chevron-down:first-child {
	top: 15%;
}
.tab-header a:hover {
	background-color: #ffbf47;
	color: black;
}
.tab-header a.active {
	background-color: #ddd;
	color: black;
	text-decoration: none;
}
.chevron-size {
	font-size: x-small;
}
/* CHECKBOXES */
.document-checkbox-th {
	vertical-align: top;
	margin: 0px;
	padding: 15px 0px 0px 0px;
}
.document-checkbox-td {
	vertical-align: top;
	margin: 0px;
	padding: 15px 0px 0px 0px;
}
.document-checkbox-div {
	width: 16px;
	height: 16px;
	padding: 0px;
}
.document-checkbox-div input {
	position: relative;
	width: 16px;
	height: 16px;
	margin: 0px 0px 0px 5px;
}
.document-checkbox-div [type=checkbox] + label::before {
	width: 12px;
	height: 12px;
	box-sizing: initial;
	left: 5px;
}
.document-checkbox-div [type=checkbox] + label::after {
	width: 8px;
	height: 3px;
	border-width: 0 0 2px 2px;
	top: 5px;
	left: 8px;
	box-sizing: initial;
}

/* Chris Harding (19.10.18) - GOV.UK tag styling */
.govuk-tag {
	font-family: nta, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.25;
	display: inline-block;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 1px;
	outline-color: transparent;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -2px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 94, 165);
	letter-spacing: 1px;
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
	text-transform: uppercase;
}
@media (min-width: 40.0625em) {
	.govuk-tag {
		font-size: 12px;
		line-height: 1.25;
	}
}
.govuk-bgred {
	background-color: rgb(177, 14, 30);
}
.govuk-bggrey {
	background-color: #6f777b;
}
.gapLeft {
	margin-left: 10px;
}
.govuk-tag-secondary-heading {
	vertical-align: middle;
}

/* Chris Harding (19.10.18) - File upload CSS */
#fileInput0 {
	font-size: 16px;
}
#documentsToSend table, #documentsToSend th, #documentsToSend tr, #documentsToSend td {
	font-size: 16px;
}
#uploadAnotherDiv {
	margin: 20px 0;
}
#button-to-remove {
	background-color: #b10e1e;
}

/* Chris Harding (30.10.18) - Pagination */
.pager {
	font-size: 16px;
	margin-top: 1em;
	margin-bottom: 1.25em;
}
.pager-top {
	font-size: 16px;
	margin-bottom: 1.25em;
}
.pager-items {
	display: none;
}
@media (min-width: 641px) {
	.pager-items {
		display: inline;
	}
	.pager-items li {
		display: inline;
		margin: 0 5px;
	}
	.pager-items li:first-child {
		margin-left: 0;
	}
	.pager-items li:last-child {
		margin-right: 0;
	}
}
.pager-prev, .pager-next {
	margin-right: 10px;
}
@media (min-width: 641px) {
	.pager-prev, .pager-next {
		margin-right: 0;
	}
}
@media (min-width: 641px) {
	.pager-prev {
		margin-right: 10px;
	}
}
@media (min-width: 641px) {
	.pager-next {
		margin-left: 10px;
	}
}
@media (min-width: 641px) {
	.pager-controls {
		float: right;
	}
}
  
/* Chris Harding (31.10.18) - Back to top link styling taken from the GOV.UK Design System (https://government-frontend.herokuapp.com/component-guide/back-to-top) */
.direction-rtl {
    direction: rtl;
    text-align: start;
}
.app-c-back-to-top {
	font-family: nta, Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 14px;
	line-height: 1.14286;
	display: inline-block;
	margin-bottom: 15px;
}
@media (min-width: 641px) {
	.app-c-back-to-top {
		font-size: 16px;
		line-height: 1.25;
	}
}
.app-c-back-to-top__icon {
	float: left;
	margin-right: 0.3em;
	width: 0.8em;
	height: 0.968em;
}

/* Chris Harding (18.12.18) - Allocation Statements (Adults) statement list page */
.as-tab, .as-tab.active {
	display: block;
}
.hide {
	display: none !important;
}
.allocation-statements-table-all-but-last {
	margin-bottom: 20px;
}
@media (min-width: 641px) {
	.allocation-statements-table-all-but-last {
		margin-bottom: 40px;
	}
}
.allocation-statements-table-last {
	margin-bottom: 10px;
}
@media (min-width: 641px) {
	.allocation-statements-table-last {
		margin-bottom: 30px;
	}
}
.allocation-statements-table-total {
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.allocation-statements-table-total {
		margin-bottom: 40px;
	}
}

/* Chris Harding (18.12.18) - Allocation Statements (Adults) styling for statement pages */
.table-with-no-borders table, .table-with-no-borders th, .table-with-no-borders td {
	border: none;
}
.table-with-border-bottom {
	border-bottom: 1px solid #bfc1c3;
}
.form-download {
	display: block;
	font-weight: 600;
	background: url('/public/images/icon-file-download.png') no-repeat scroll 0 0;
	min-height: 2.5em;
	padding: 0 0 0 2.5em;
}
.form-download-small {
	display: block;
	font-weight: 400;
	background: url('/public/images/icon-file-download.png') no-repeat scroll 0 0;
	min-height: 1.25em;
	padding: 0 0 0 1.25em;
}
.non-bold {
	font-weight: normal;
}

/* GOV.UK (Search) CSS */
.search-section {
	margin-bottom: 15px;
}
.search-field {
	position: relative;
}
.search-input {
	position: static;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.search-input-with-button {
	padding-right: 50px;
}
.autocomplete__wrapper {
	position: relative;
	background-color: #ffffff;
}
.hidden, .js-enabled .js-hidden {
	display: none;
	visibility: hidden;
}
.hidden {
	display: none;
}
.autocomplete__hint, .autocomplete__input {
	-webkit-appearance: none;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-sizing: border-box;
	margin-bottom: 0px;
	width: 100%;
}
.autocomplete__input {
	background-color: transparent;
	position: relative;
}
.autocomplete__hint, .autocomplete__input, .autocomplete__option {
	font-size: 19px;
	line-height: 1.25;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.search-input input {
	-webkit-appearance: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	font-family: nta, Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 19px;
	box-sizing: border-box;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	display: block;
	height: 50px;
	border-top-color: rgb(191, 193, 195);
	border-right-color: rgb(191, 193, 195);
	border-bottom-color: rgb(191, 193, 195);
	border-left-color: rgb(191, 193, 195);
	line-height: 48px;
}
.search-field-darker .search-input input {
	border-top-color: rgb(111, 119, 123);
	border-right-color: rgb(111, 119, 123);
	border-bottom-color: rgb(111, 119, 123);
	border-left-color: rgb(111, 119, 123);
}
.search-input-with-button input {
	border-right-width: initial;
	border-right-style: none;
	border-right-color: initial;
}
.autocomplete__menu {
	background-color: rgb(255, 255, 255);
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: rgb(11, 12, 12);
	border-bottom-color: rgb(11, 12, 12);
	border-left-color: rgb(11, 12, 12);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-width: 0px;
	border-top-style: initial;
	border-top-color: initial;
	color: rgb(52, 56, 75);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	max-height: 342px;
	overflow-x: hidden;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: calc(100% - 4px);
}
.autocomplete__menu--hidden {
	display: none;
}
.autocomplete__menu--overlay {
	box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 6px;
	left: 0px;
	position: absolute;
	top: 100%;
	z-index: 100;
}
[role="listbox"] {
	min-height: 18em;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	/* background-repeat-x: no-repeat;
	background-repeat-y: no-repeat; */
	background-repeat: repeat-x;
	background-repeat: repeat-y;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: white;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(170, 170, 170);
	border-right-color: rgb(170, 170, 170);
	border-bottom-color: rgb(170, 170, 170);
	border-left-color: rgb(170, 170, 170);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
}
.search-submit {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 50px;
	width: 50px;
	overflow-x: visible;
	overflow-y: visible;
}
.search-submit button {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: none;
	position: absolute;
	z-index: 4;
	right: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
	border-top-width: initial;
	border-right-width: initial;
	border-bottom-width: initial;
	border-left-width: initial;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	overflow-x: hidden;
	overflow-y: hidden;
	text-indent: -5000px;
	color: rgb(255, 255, 255);
	/* background-color: rgb(43, 140, 196); */
	background-color: #005ea5;
	background-image: url("/public/images/search-button.png");
	/* background-repeat-x: no-repeat;
	background-repeat-y: no-repeat; */
	background-repeat: repeat-x;
	background-repeat: repeat-y;
	background-position-x: -12.5%;
	background-position-y: 50%;
}
.search-submit button:hover, .search-submit button:focus {
	background-color: #267daf;
}
button {
	font-size: 19px;
}

/* James Mckechnie (21/01/2019) - Styling for Allocation Statements list */
@media screen and (min-width: 780px) {
	.parent-wrapper {
    	width:66.66%;
    	display: inline-block;
    }
	.amount-wrapper {
        float: right;
    }
}
@media screen and (max-width: 780px) {
.amount-wrapper {
    padding-top: 10px;
    }
}

/* James Mckechnie (22.01.19) - Customer syles for Roles and Permissions page */
@media screen {
	.detail-content {
		padding-bottom: 15px;
	}
	.underline {
		display: block;
	}
}

/* Chris Harding (05.04.19) - PE and sport styling for the floating left and right hand side sections */
.section-left {
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 641px) {
	.section-left {
		float: left;
		width: 66.66667%;
		padding: 0px 15px 0px 0px;
	}
}
.section-right {
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 641px) {
	.section-right {
		float: right;
		width: 33.33333%;
		padding: 0px 0px 0px 15px;
	}
}

/* James Mckechnie (08.04.19) - PE and sport styling for the published date font under the document download link */
.published-date {
	font-weight: normal;
}

/* Chris Harding (24.04.19) - Single funding statement styling for all financial figures (right floated) */
/* GOV.UK Design System accordion component (https://design-system.service.gov.uk/components/accordion) */
.govuk-accordion__open-all {
	font-size: 14px !important;
}
@media (min-width: 641px) {
	.govuk-accordion__open-all {
		font-size: 16px !important;
	}
}
.govuk-accordion__single-funding-statement-header {
	padding-top: 10px !important;
	padding-right: 100px !important; 
}
@media (min-width: 641px) {
	.govuk-accordion__single-funding-statement-header {
		padding-right: 0px;
	}
}
.govuk-accordion__section-button {
	font-size: 19px;
	padding-right: 0px;
}
@media (min-width: 641px) {
	.govuk-accordion__section-button {
		font-size: 24px;
		padding-right: 0px;
	}
}
.govuk-accordion__heading-text-left {
	float: left;
	width: 66.66667%;
	margin: 0px;
	padding: 0px;
}
.govuk-accordion__heading-number-right {
	margin: 0px;
	padding: 0px;
}
@media (min-width: 641px) {
	.govuk-accordion__heading-number-right {
		float: right;
		width: 33.33333%;
		text-align: right;
	}
}
@media (max-width: 641px) {
	.govuk-accordion__heading-number-right {
		display: none;
	}
}
.govuk-accordion__section-summary {
	font-size: 16px;
	margin-bottom: 5px;
}
@media (min-width: 641px) {
	.govuk-accordion__section-summary {
		font-size: 19px;
	}
}
.govuk-accordion__section-content {
	margin-bottom: 5px;
}
.govuk-body {
	font-size: 16px !important;
}
@media (min-width: 641px) {
	.govuk-body {
		font-size: 19px !important;
	}
}
.hidden-sub-section {
	font-size: 19px;
	font-weight: bold;
}
@media (min-width: 641px) {
	.hidden-sub-section {
		display: none;
	}
}
/* Floats (left and right) */
.table-header-normal {
	font-weight: normal;
}
.funding-block {
	padding-bottom: 5px;
}
.funding-margin-bottom {
	margin-bottom: 10px;
}
@media (min-width: 641px) {
	.funding-margin-bottom {
		margin-bottom: 20px;
	}
}
.funding-left-container {
	float: left;
	margin: 0px;
	padding: 0px;
}
@media (min-width: 641px) {
	.funding-left-container {
		padding: 0px;
	}
}
.funding-left-text {
	margin: 0px;
	padding: 0px;
}
.funding-right-container {
	clear: left;
	text-align: inherit;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
@media (min-width: 641px) {
	.funding-right-container {
		clear: none;
		text-align: right;
		padding: 0px;
	}
}
.funding-right-text {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
@media (min-width: 641px) {
	.funding-right-text {
		margin-top: 0px;
		margin-right: 100px;
		margin-bottom: 0px;
		margin-left: 10px;
	}
}
.variance-heading {
	font-size: 16px;
}
@media (min-width: 641px) {
	.variance-heading {
		font-size: 19px;
	}
}
.variance {
	font-size: 13px;
}
@media (min-width: 641px) {
	.variance {
		font-size: 16px;
	}
}
.total {
	font-size: 19px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media (min-width: 641px) {
	.total {
		font-size: 24px;
	}
}
.bold-lede {
	font-weight: bold !important;
}
.gem-c-related-navigation__hidden-sub-section {
	padding-bottom: 5px;
}
.gem-c-related-navigation__hidden-sub-section-last {
	padding-bottom: 0px;
}

/* Chris Harding (15.05.19) - Dedicated schools grant (DSG) styling to show different funding blocks in tabs */
/* GOV.UK Design System tabs component (https://design-system.service.gov.uk/components/tabs) */
/* Tabs */
.govuk-tabs {
	font-size: 16px !important;
}
@media (min-width: 641px) {
	.govuk-tabs {
		font-size: 19px !important;
	}
}
.govuk-tabs__title {
	font-size: 16px !important;
}
@media (min-width: 641px) {
	.govuk-tabs__title {
		font-size: 19px !important;
	}
}
.govuk-tabs__list-item {
	font-size: 16px !important;
}
@media (min-width: 641px) {
	.govuk-tabs__list-item {
		font-size: 19px !important;
	}
}
.govuk-tabs__tab {
	font-size: 16px !important;
}
@media (min-width: 641px) {
	.govuk-tabs__tab {
		font-size: 19px !important;
	}
}    
.govuk-tabs__list-item::before {
	content: "\2014 ";
	margin-left: -25px;
	padding-right: 5px;
}
.clearfix {
	clear: both;
}

/* Lower level table design for each tab and block */
.padding-details {
	padding-bottom: 20px;
}
.padding-funding-breakdown-table {
	padding-bottom: 20px;
}
.padding-top-heading-total {
	padding-top: 10px;
}
.heading-large-tabs {
	margin-top: 0px !important;
}
.heading-guidance {
	padding-top: 15px;
}
.footer-guidance {
	padding-bottom: 15px;
}
.heading-funding-summary {
	margin-top: 5px;
}
.table-with-five-columns_header--numeric {
	width: 20%;
	font-weight: normal;
	padding: 10px 0 10px 20px;
	border-bottom: 1px solid #bfc1c3;
	text-align: right;
}
.table-with-five-columns_header--numeric--bold {
	width: 20%;
	font-weight: bold;
	padding: 10px 0 10px 20px;
	border-bottom: 1px solid #bfc1c3;
	text-align: right;
}
.table-with-five-columns_cell--numeric {
	padding: 10px 0 10px 20px;
	border-bottom: 1px solid #bfc1c3;
	text-align: right;
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
}
.table-with-five-columns_cell--numeric--bold {
	padding: 10px 0 10px 20px;
	border-bottom: 1px solid #bfc1c3;
	text-align: right;
	font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: bold;
}
.first-table-below-tab {
	margin-top: 10px;
}
@media (min-width: 641px) {
	.first-table-below-tab {
		margin-top: 20px;
	}
}


/* All funding blocks */
.total-allocation-table table, .total-allocation-table th, .total-allocation-table td {
	border: none;
	font-size: x-large;
	font-weight: bold;
	padding: 10px 0 10px 0;
}
.total-allocation-table--heading {
	text-align: left;
}
.total-allocation-table--amount {
	text-align: right;
}
.total-allocation-container {
	box-sizing: border-box;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 40px;
}
.total-allocation {
	font-size: x-large;
	font-weight: bold;
}
.total-allocation-table-secondary table, .total-allocation-table-secondary th, .total-allocation-table-secondary td {
	border: none;
	font-weight: bold;
	padding: 10px 0 10px 0;
}
.total-allocation-table-secondary--heading {
	text-align: left;
}
.total-allocation-table-secondary--amount {
	text-align: right;
}
.total-allocation--secondary {
	font-weight: bold;
}

/* Print action button */
.fa {
	padding: 0 0.3em 0 0;
}
.block-header-total {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 641px) {
    .block-header-total {
        float: left;
        width: 78%;
    }
}
.block-header-print {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 641px) {
    .block-header-print {
		text-align: right;
    }
}

/* James Mckechnie (28.06.19) - Cards */
/* GOV.UK Design System cards component (https://github.com/alphagov/govuk-design-system-backlog/issues/113) currently EXPERIMENTAL */
.card {
	display: block;
	float: left;
	margin-bottom: 30px;
}
.card__body {
	display: block;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	background-color: rgb(222, 224, 226);
	color: rgb(11, 12, 12);
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
}
a.card__body {
	color: rgb(0, 94, 165);
}
.card__body span {
	display: block;
}
.card__footer {
	display: block;
	background-color: rgb(248, 248, 248);
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
}

/* Chris Harding (15.08.19) - Approved (by ESFA) UK government ESFA banner to use across MyESF and VYF services when needed */
.esfa-banner-container {
	font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
	font-size: 15px;
	font-weight: 400;
	display: inline-block;
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #bfc1c3;
	padding: 8px 0 8px 0;
}
@media (min-width: 641px) {
	.esfa-banner-container {
		font-size: 18px;
		height: 26px;
		padding: 10px 0 10px 0;
	}
}
.esfa-banner-crest-image {
	float: left;
	width: auto;
	max-height: 20px;
	border-left: 2px solid #003a69;
	padding: 0 5px;
}
@media (min-width: 641px) {
	.esfa-banner-crest-image {
		max-height: 26px;
	}
} 
.esfa-banner-crest-name {
	display: inline-block;
	vertical-align: middle;
}

/* Chris Harding (20.08.19) - Support section for users including the following:
	a) Dynamic list of terms listed on each page (taken from the master glossary-of-terms.html)
	b) Link to the master glossary of terms page
	c) Contact us link
*/
.glossary-link  {
	position: relative;
	padding-top: 60px;
}
.glossary-link summary {
	font-family: "nta", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #0b0c0c;
	line-height: 1.14286;
	padding-left: 0px 

}
@media (min-width: 641px) {
	.glossary-link summary {
		font-size: 16px;
		line-height: 1.25;
	}
}
.glossary-link details summary:before {
	display: none;
}
.glossary-link details[open] > summary:before {
	display: none;
}
.glossary-link summary:link, .glossary-link summary:hover, .glossary-link summary:focus, .glossary-link summary:visited {
	color: #0b0c0c;
}

/* Chris Harding (04.09.19) - New dynamic download section for the public VYF sub service also allowing users to request an alternative accessible format */
/* ICON */
.download-a-document-container {
	padding-bottom: 0px;
}
@media (min-width: 641px) {
	.download-a-document-container {
		padding-bottom: 10px;
	}
}
.download-a-document {
	display: block;
	font-weight: 600;
	background: url('/public/images/icon-file-download.png') no-repeat scroll 0 0;
	min-height: 2.5em;
	padding: 0 0 0 2.5em;
}
/* CONTENT */
.download-a-document-content {
	font-size: 16px;
	font-weight: normal;
	display: inline-grid;
}
.download-a-document-section-1 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.download-a-document-section-2 {
	display: block;
}
/* REQUEST AN ACCESSIBLE FORMAT */
.hidden-section {
	font-size: 19px;
    padding-top: 10px;
}

/* Chris Harding (05.09.19) - CSS styling so we can add links below any pupil number table value when we want to provide guidance to users (e.g. when we present decimal numbers for pupil numbers) */
.decimal {
	font-size: 16px;
	line-height: 1.25;
}

/* Chris Harding (22.11.19) - Variance icon styling */
.increase {
    color: #00703c;
}
.decrease {
    color: #d4351c;
}
