

/**********
 * PRINT (CSS)
 * **********/

/* Global DOM elements */
pre {
	display: none;
}

/* IDs and Classes */
.phase-banner {
	display: none;
}
.esfa-banner-container {
	display: none;
}
#global-breadcrumb {
	display: none;
}
.govuk-tabs__title {
	display: none;
}
.govuk-tabs__list {
	display: none;
}
.download-a-document-section-2 {
	display: none;
}
.print-trigger {
	display: none;
}
.glossary-link {
	display: none;
}

/* DSG funding breakdown */
.govuk-table {
    /* font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c; */
    width: 100% !important;
}
.govuk-table__header:last-child, .govuk-table__cell:last-child {
    padding-right: 0 !important;
}
.govuk-table__header--numeric, .govuk-table__cell--numeric {
	text-align: right !important;
}
.govuk-table__header, .govuk-table__cell {
    padding: 10px 20px 10px 0 !important;
    /* border-bottom: 1px solid #bfc1c3; */
    text-align: left !important;
}