

/**********
 * CUSTOM STYLES - NFF (CSS)
 * **********/

.detail-column-half {
    padding: 0 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 641px) {
    .detail-column-half {
        float: left;
        width: 50%;
    }
}

@media (min-width: 641px) {
    .metadata-type {
        float: left;
        width: 25%;
    }
}

.school-detail-container {
    margin-bottom: 40px;
}

