

/**********
 * CUSTOM STYLES - NFF (CSS)
 * **********/

.detail-column-half {
    padding: 0 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 641px) {
    .detail-column-half {
        float: left;
        width: 50%;
    }
}

@media (min-width: 641px) {
    .metadata-type {
        float: left;
        width: 30%;
        padding-right: 15%;
        padding-bottom: 0.5em;
    }
}

@media (min-width: 641px) {
    .metadata-name {
        padding-bottom: 0.5em;
    }
}

@media (min-width: 641px) {
    .metadata-name-extra {
        min-height: 3.2em;
    }
}


.school-detail-container {
    margin-bottom: 40px;
}

.govuk-back-link {
  font-size: 14px;
  line-height: 1.14286;
  font-size: 16px;
  line-height: 1.25;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  border-bottom: 1px solid #0b0c0c;
  text-decoration: none;
}

