{% extends "layouts/main.html" %}

{% block page_title %}
    User journeys
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">

        <div class="column-full">

            <div id="global-breadcrumb" class="breadcrumbs group">

                <nav>
                    <ol>
                        <li><a href="/">Manage your education and skills funding prototype</a></li>
                        <li>User journeys</li>
                    </ol>
                </nav>

            </div>

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Sprint 97 (beta-v97-0-0)</span>
                User journeys
            </h1>

            <div class="form-group">
                <h2 class="heading-medium">Allocation Statements</h2>
                <details>
                    <summary>
                        <span class="heading-medium version-header">Adults</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/allocation-statements/adults/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/allocation-statements/adults/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/allocation-statements/adults/idams">IDAMS</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/allocation-statements/adults/idams"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/allocation-statements/adults/dashboard">Dashboard</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/allocation-statements/adults/dashboard"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/allocation-statements/adults/allocation-statement-list">Allocation statements</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/allocation-statements/adults/allocation-statement-list"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/allocation-statements/adults/carry-in-apprenticeship-details">Carry-in apprenticeship for 2018 to 2019</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/allocation-statements/adults/carry-in-apprenticeship-details"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
            </div>

            <div class="form-group">
                <h2 class="heading-medium">Document Exchange</h2>
                <details>
                    <summary>
                        <span class="heading-medium version-header">External child view (School & Single Academy)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/document-exchange/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/document-exchange/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/document-exchange/idams">IDAMS</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/document-exchange/idams"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="external/child/dashboard">Dashboard</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/document-exchange/dashboard"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/document-exchange/home">Document Exchange</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/document-exchange/home"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/document-exchange/received-from-esfa">Documents you've received from ESFA</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/document-exchange/received-from-esfa"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/document-exchange/sent-to-esfa">Documents you've sent to ESFA</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/document-exchange/sent-to-esfa"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/document-exchange/document-upload-file-type">Send your document (document type)</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/document-exchange/document-upload-file-type"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/document-exchange/document-upload">Send your document (upload)</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/document-exchange/document-upload"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/document-exchange/document-upload-remove">Send your document (remove)</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/document-exchange/document-upload-remove"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/child/document-exchange/document-upload-complete">You've sent a document</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/child/document-exchange/document-upload-complete"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
                <details>
                    <summary>
                        <span class="heading-medium version-header">External parent view (LA & MAT)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/idams">IDAMS</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/idams"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/dashboard">Dashboard</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/dashboard"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/home">Document Exchange</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/home"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/received-from-esfa">Documents received from ESFA</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/received-from-esfa"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/sent-to-esfa">Documents sent to ESFA</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/sent-to-esfa"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/select-organisation">Send your document (select an organisation)</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/select-organisation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/select-academy-or-school?paginationRequired=true&page1=true">Send your document (select academy or school)</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/select-academy-or-school?paginationRequired=true&page1=true"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/document-upload-file-type">Send your document (document type)</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/document-upload-file-type"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/document-upload">Send your document (upload)</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/document-upload"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/document-upload-remove">Send your document (remove)</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/document-upload-remove"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/external/parent/document-exchange/document-upload-complete">You've sent a document</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/external/parent/document-exchange/document-upload-complete"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
                <details>
                    <summary>
                        <span class="heading-medium version-header">Internal (ESFA)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange//idams">IDAMS</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/idams"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/dashboard">Dashboard</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/dashboard"></iframe>
                                </div>
                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/home">Document Exchange</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/home"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/file-share">File share</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/file-share"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/documents-to-publish">Publish your documents</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/documents-to-publish"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/documents-to-publish-confirm">Are you sure you want to publish [n] documents?</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/documents-to-publish-confirm"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/documents-to-publish-confirmation">You’ve published [n] documents</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/documents-to-publish-confirmation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/documents-to-publish-remove-confirm">Are you sure you want to remove these documents?</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/documents-to-publish-remove-confirm"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/documents-removed-confirmation">You’ve removed [n] documents</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/documents-removed-confirmation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/documents-to-review">Review your document names</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/documents-to-review"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/documents-to-review-remove-confirm">Are you sure you want to remove these documents?</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/documents-to-review-remove-confirm"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/documents-removed-confirmation">You’ve removed [n] documents</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/documents-removed-confirmation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="signed-in/internal/document-exchange/download-documents">Download your documents</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="signed-in/internal/document-exchange/download-documents"></iframe>
                                </div>
                                
                            </li>
                        </ul>
                    </div>

                </details>
            </div>

            <div class="form-group">
                <h2 class="heading-medium">Public funding information</h2>
                <details>
                    <summary>
                        <span class="heading-medium version-header">DSG & PE and sport (academy, LA & school)</span>
                    </summary>

                    <div class="form-block">
                        <br>
                        <ul>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/single-funding-statement/start">GOV.UK entry point</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/single-funding-statement/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/single-funding-statement/latest/start">View latest funding allocations</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/single-funding-statement/latest/start"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/single-funding-statement/latest/viewing-choice">How would you like to view funding allocations?</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/single-funding-statement/latest/viewing-choice"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/single-funding-statement/latest/which-allocation">Select a funding type</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/single-funding-statement/latest/which-allocation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/single-funding-statement/latest/dedicated-schools-grant/download-funding">Dedicated schools grant (DSG) for 2019 to 2020</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/single-funding-statement/latest/dedicated-schools-grant/download-funding"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/single-funding-statement/latest/find-an-organisation">View funding by organisation</a>

                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/single-funding-statement/latest/find-an-organisation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/single-funding-statement/latest/did-you-mean">Did you mean?</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/single-funding-statement/latest/did-you-mean"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/single-funding-statement/latest/statement">Single funding statement</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/single-funding-statement/latest/statement"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/single-funding-statement/latest/dedicated-schools-grant/full-funding-allocation">Dedicated schools grant (DSG) for 2019 to 2020</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/single-funding-statement/latest/dedicated-schools-grant/full-funding-allocation"></iframe>
                                </div>

                            </li>
                            <li class="page page--playlist">
                                <a target="_blank" href="not-signed-in/single-funding-statement/latest/pe-and-sport/full-funding-allocation">PE and sport premium for 2018 to 2019</a>
                                
                                <div class="page-inner">
                                    <iframe id="userJourneyFrames" id="userJourneyFrames" src="not-signed-in/single-funding-statement/latest/pe-and-sport/full-funding-allocation"></iframe>
                                </div>

                            </li>
                        </ul>
                    </div>

                </details>
            </div>
            
        </div>

    </div>

</main>

{% endblock %}