{% extends "layouts/main.html" %}

{% block page_title %}
    Manage your education and skills funding
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

    <div class="grid-row">

        <div class="column-two-thirds">
            
            <form method="post" class="form">
            
                <h1 class="heading-xlarge">Manage your education and skills funding</h1>

                <div class="form-block">
                    <p>Use this service to:</p>
                    <ul class="list list-bullet">
                        <li>sign documents</li>
                        <li>view your funding allocations</li>
                        <li>see the funding you’ve received</li>
                        <li>manage apprenticeship details</li>
                        <li>tell us about your subcontractors</li>
                    </ul>
                </div>

                <div class="form-group">
                    <p><button class="button button-start" type="submit">Sign in or create a new account</button></p>
                </div>
                
                <div class="form-group">
                    <h2 class="heading-medium">Before you start</h2>
                    <p>You need to have a government, <a href="#">identity and access management system (<abbr title="Identity Management Services System">IDAMS</abbr>)</a> account to use the service.</p>
                </div>
            
                <div class="form-group">
                    <h3 class="heading-medium">Contact</h3>
                    <p>If you need help you can <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">submit an enquiry</a>.</p>
                </div>

            </form> 

            <div class="panel panel-border-wide">
                <a href="https://www.gov.uk/performance/sign-sfa-contracts?new" rel="external" target="_blank">Find out how this service is performing (opens in a new tab)</a>
            </div>

        </div>

        <div class="one-third">
            
            <div class="related-container">
            
                <aside class="related" id="related">
            
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Resources</h2>
        
                        <nav role="navigation" aria-labelledby="parent-subsection">
                                                    
                            <ul class="list">
                                <li class="related-links"><a href="#" title="How to become an approved training provider and bid for funding">How to become an approved training provider and bid for funding</a></li>
                                <li class="related-links"><a href="#" title="The Hub">The Hub</a></li>
                                <li class="related-links"><a href="/{{version}}/roles-permissions" title="User roles and permissions">User roles and permissions</a></li>
                            </ul>

                            <hr>
                            <h2>Public information</h2>
                            <ul class="list">
                                <li class="related-links"><a href="{% if singleFundingStatement == 'true' %}latest/start{% else %}#{% endif %}" title="View latest funding allocations">View latest funding allocations</a></li>
                                <!-- <li class="related-links"><a href="{% if singleFundingStatement == 'true' %}archive{% else %}#{% endif %}" title="View historic funding allocations">View historic funding allocations</a></li> -->
                            </ul>

                        </nav>

                    </div>

                </aside>

            </div>

        </div>

    </div>

</main>

{% endblock %}
