
@media all and (min-width: 641px) {
    .publication {
        padding: 30px 15px 90px;
    }
}


@media (min-width: 641px) {
    .publication .publication-header {
        padding: 0 30px;
        margin: 0;
    }
}

.publication .publication-header {
    background-color: #912b88;
    padding: 10px 15px;
    margin: 0 -15px;
    overflow: hidden;
}

    .publication .publication-header p {
        margin: 15px 0 20px;
        color: #fff;
    }

    .publication .publication-header a {
        color: #fff;
        font-weight: normal;
    }

    .publication .publication-header .publication-type {
        margin: 75px 0 10px;
        font-size: 27px;
        line-height: 1.11111;
    }

    .publication .publication-header h1 {
        margin-bottom: 60px;
        font-family: "nta", Arial, sans-serif;
        font-size: 32px;
        line-height: 1.09375;
        font-weight: 400;
        text-transform: none;
        font-weight: bold;
        color: #fff;
    }

@media (min-width: 641px) {
    .publication .publication-header h1 {
        font-size: 48px;
        line-height: 1.04167;
    }
}

@media (min-width: 769px) {
    .publication .publication-header nav {
        width: 70%;
    }
}

.publication .publication-header nav {
    color: #fff;
    margin: 0 0 40px;
    width: 100%;
}

    .publication .publication-header nav h2 {
        font-weight: bold;
        color: #fff;
    }

    .publication .publication-header nav ol {
        padding-left: 30px;
        list-style: decimal;
    }

        .publication .publication-header nav ol li {
            list-style: decimal;
            font-weight: bold;
        }


@media (min-width: 641px) {
    .publication-content {
        width: 75%;
        float: right;
    }
}

.publication-content ul {
    margin-bottom: 0;
}


.publication-content h2 {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    line-height: 1.11111;
    text-transform: none;
    margin: 15px 0 10px;
    margin-top: 30px;
}

@media (min-width: 641px) {
    .publication-content h2 {
        margin: 60px 0 15px;
        font-size: 36px;
        line-height: 1.11111;
    }
}

@media (min-width: 641px) {
    .publication-content h2 .publication-content-number {
        position: absolute;
        font-family: "nta", Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-weight: bold;
        margin: -30px 0 0 -10%;
        padding: 35px 0 30px 0;
        font-size: 80px;
        line-height: 1;
    }
}

.publication-content ul.actions {
    list-style-type: none;
    padding-left: 0;
}

    .publication-content ul.actions li {
        float: left;
    }

.publication-footer {
    clear: both;
}

@media (min-width: 641px) {

    .publication-footer nav .hide {
        display: none;
    }

    .publication-footer a {
        display: block;
        font-weight: bold;
    }

        .publication-footer a:before {
            content: "\2191 ";
        }
}
