{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>

    

    <div class="grid-row ">
        <div class="navigation">
            <ul>
                <li><a class="font-xsmall" href="dashboard">Home</a></li>
                
                <li><a class="font-xsmall" href="/">Sign out</a></li>
            </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">The college of Pet Welfare Limited</span>
        <h1 class="heading-large margin-top-zero">Carry over learners</h1>

    </div>
</div>


<div class="grid-row">    
    <div class="column-two-thirds">


    <p class="bold-medium">Is the activity for carry over learners only?</p>


     <div class="form-group">
                <fieldset class="inline">
               
                    <legend class="visually-hidden">Is the activity for carry over learners only?</legend>
                    <p><span class="form-label-bold">16 to 18 traineeship 1</span></p>
                    <label class="block-label" for="radio-inline-1">
                        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                        Yes
                    </label>
                    <label class="block-label" for="radio-inline-2">
                        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                        No
                    </label>

                </fieldset>
        </div>   

        

        <div class="form-group">
                <fieldset class="inline">
               
                    <legend class="visually-hidden">Is the activity for carry over learners only?</legend>
                    <p><span class="form-label-bold">16 to 18 traineeship 2</span></p>
                    <label class="block-label" for="radio-inline-1">
                        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                        Yes
                    </label>
                    <label class="block-label" for="radio-inline-2">
                        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                        No
                    </label>

                </fieldset>
        </div> 

        <div class="form-group">
                <fieldset class="inline">
                
                    <legend class="visually-hidden">Is the activity for carry over learners only?</legend>
                    <p><span class="form-label-bold">Adult skills classroom based</span></p>
                    <label class="block-label" for="radio-inline-1">
                        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                        Yes
                    </label>
                    <label class="block-label" for="radio-inline-2">
                        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                        No
                    </label>

                </fieldset>
        </div>

    <a class="button" href="/max-num-learners">Save and continue</a>         
    <a href="/sub-con-home">Save and exit</a>
    </div>

</div>







</main>


{% endblock %}