<!doctype html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

    <head>
        <style id="stndz-style"></style>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="/public/images/opengraph-image.png?0.19.2">
        <title>Filter a list: standard - less than 25 filter options</title>

        <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.19.2" media="screen" rel="stylesheet"><!--<![endif]-->
        <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
        <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
        <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
        <link href="/public/stylesheets/govuk-template-print.css?0.19.2" media="print" rel="stylesheet">

        <!--[if IE 8]><link href="/public/stylesheets/fonts-ie8.css?0.19.2" media="all" rel="stylesheet" /><![endif]-->
        <!--[if gte IE 9]><!--><link href="/public/stylesheets/fonts.css?0.19.2" media="all" rel="stylesheet"><!--<![endif]-->
        <!--[if lt IE 9]><script src="/public/javascripts/ie.js?0.19.2"></script><![endif]-->

        <link rel="shortcut icon" href="/public/images/favicon.ico?0.19.2" type="image/x-icon">
        <link rel="mask-icon" href="/public/images/gov.uk_logotype_crown.svg?0.19.2" color="#0b0c0c">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.19.2">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.19.2">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.19.2">
        <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.19.2">

        <!-- Static global CSS - do NOT change these GDS styles (START) -->
        <link href="/public/kit-icons/icons.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/public/stylesheets/accordion.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
        <!-- Static global CSS - do NOT change these GDS styles (END) -->

        <!-- External third party CSS links (START) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- External third party CSS links (END) -->

        <!-- Changeable Custom CSS - add all variable CSS here (START) -->
        <link href="/public/stylesheets/{{latestVersion}}/custom-styles-myesf.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/public/stylesheets/{{latestVersion}}/print.css" media="print" rel="stylesheet" type="text/css" />
        <!-- Changeable Custom CSS - add all variable CSS here (END) -->

        <!--[if lt IE 9]>
            <script src="/javascripts/head-ie8-a371085ca251931cc9b5360c7da328f6.js"></script>
        <![endif]-->
        <script src="/javascripts/vendor/modernizr.js"></script>
    </head>

    <style>

        html {
            background-color: #ffffff;
            font-size: inherit;
        }
        .app-example-page {
            padding: 60px 30px 30px 30px;
        }
        .app-example-page--full-page {
            padding: 0;
        }
    
    </style>

    <body class="app-example-page js-enabled" cz-shortcut-listen="true">
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

        <main role="main" id="example">

            <form action="/form-handler" method="post" novalidate="">
                        
                <!-- COMPONENT - FILTER A LIST: STANDARD - LESS THAN 25 FILTER OPTIONS (START) -->
                <div class="column-filter-one-third column-third">
                    
                    <div class="form-block">
                        <fieldset class="filter">
                            <legend class="visuallyhidden">Filter by document type</legend>
                            
                            <div class="js-filter-collapsible-collections">
                                <section id="document-type-filter" class="js-filter-collapsible js-open">
                                    <input type="hidden" name="queryFilterOpenDocumentType" id="queryFilterOpenDocumentType" aria-expanded="true" aria-controls="filter-by-document-type" value="true">
                                    <a href="#" id="filter-keyboard-document-type" class="filter-keyboard" type="button" aria-expanded="true" aria-controls="filter-by-document-type">
                                        <header id="document-type" class="js-filter-collapsible-header">
                                            <h2 class="filters-headings heading-small">Filter by document type</h2>
                                        </header>
                                    </a>
                                    
                                    <div id="filter-by-document-type" class="js-filter-collapsible-content" aria-labelledby="document-type">
                                        <section class="toggled-adult-funding-content group">
                                            <ul>
                                                <li class="gds-multiple-choice multiple-choice myesf-filter">
                                                    <input id="queryFilterDocumentType01" rel="01" name="queryFilterDocumentType" type="checkbox" value="01">
                                                    <label class="block" for="queryFilterDocumentType01">
                                                        Business case template (2)
                                                    </label>
                                                </li>
                                                <li class="gds-multiple-choice multiple-choice myesf-filter">
                                                    <input id="queryFilterDocumentType02" rel="02" name="queryFilterDocumentType" type="checkbox" value="02">
                                                    <label class="block" for="queryFilterDocumentType02">
                                                        Business case audit evidence template (1)
                                                    </label>
                                                </li>
                                                <li class="gds-multiple-choice multiple-choice myesf-filter">
                                                    <input id="queryFilterDocumentType03" rel="03" name="queryFilterDocumentType" type="checkbox" value="03">
                                                    <label class="block" for="queryFilterDocumentType03">
                                                        Data sharing protocol (1)
                                                    </label>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>

                                </section>
                            </div>

                        </fieldset>
                        <fieldset class="filter">
                            <legend class="visuallyhidden">Filter by academic year</legend>

                            <div class="js-filter-collapsible-collections">
                                <section id="academic-year-filter" class="js-filter-collapsible js-open">
                                    <input type="hidden" name="queryFilterAcademicYear" id="queryFilterAcademicYear" aria-expanded="true" aria-controls="filter-by-academic-year" value="true">
                                    <a href="#" id="filter-keyboard-academic-year" class="filter-keyboard" type="button" aria-expanded="true" aria-controls="filter-by-academic-year">
                                        <header id="academic-year" class="js-filter-collapsible-header">
                                            <h2 class="filters-headings heading-small">Filter by academic year</h2>
                                        </header>
                                    </a>
                                    
                                    <div id="filter-by-academic-year" class="js-filter-collapsible-content" aria-labelledby="academic-year">
                                        <section class="toggled-adult-funding-content group">
                                            <ul>
                                                <li class="gds-multiple-choice multiple-choice myesf-filter">
                                                    <input id="queryFilterAcademicYear20182019" rel="2018-2019" name="queryFilterAcademicYear" type="checkbox" value="2018-2019">
                                                    <label class="block" for="queryFilterAcademicYear20182019">
                                                        2018 to 2019 (2)
                                                    </label>
                                                </li>
                                                <li class="gds-multiple-choice multiple-choice myesf-filter">
                                                    <input id="queryFilterAcademicYear20172018" rel="2017-2018" name="queryFilterAcademicYear" type="checkbox" value="2017-2018">
                                                    <label class="block" for="queryFilterAcademicYear20172018">
                                                        2017 to 2018 (2)
                                                    </label>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>

                                </section>
                            </div>

                        </fieldset>
                    </div>

                    <div id="postButton" class="form-group">
                        <button class="button">Update results</button>
                    </div>
                    
                    <div id="clearAllFilters" class="form-group">
                        <a href="">Clear filters</a>
                    </div>

                </div>

                <!-- Document list -->
                <div class="column-document-list-two-thirds column-two-thirds document-list">
                    <fieldset>
                        <legend id="document-list" class="visuallyhidden">List of documents received from <abbr title="Education and Skills Funding Agency">ESFA</abbr></legend>

                        <div class="visuallyhidden" role="alert" aria-labelledby="filter-results">
                            <span id="filter-results" class="pager-summary">Showing 1 to 4 of 4 documents</span>
                        </div>

                        <table>
                            <caption class="visuallyhidden">List of documents received from <abbr title="Education and Skills Funding Agency">ESFA</abbr></caption>
                            <thead>
                                <tr class="first">
                                    <th>
                                        Document name
                                    </th>                                
                                    <th>
                                        Document type
                                    </th>
                                    <!-- Hidden column header for filtering purposes (e.g. allows user to filter by academic year) -->
                                    <th style="display: none;">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <a class="document1" href="../../../../../../public/documents/document-exchange/other/businesscaseauditevidencetemplate.pdf" target="_blank" title="Open businesscaseauditevidencetemplate.pdf (opens in a new tab)">business<wbr>case<wbr>audit<wbr>evidence<wbr>template<wbr>.pdf</a>
                                        <br>
                                        <strong class="govuk-tag govuk-bgred">NEW</strong>
                                        <br>
                                        9:20am on 14 November 2018
                                    </td>
                                    <td class="02" rel="02" style="vertical-align: top;">
                                        Business case audit evidence template
                                    </td>
                                    <!-- Hidden column for filtering purposes (e.g. allows user to filter by academic year) -->
                                    <td style="display: none;" class="2018-2019" rel="2018-2019">
                                        2018-2019
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <a class="document2" href="../../../../../../public/documents/document-exchange/other/businesscasetemplate.pdf" target="_blank" title="Open businesscasetemplate.pdf (opens in a new tab)">business<wbr>case<wbr>template<wbr>.pdf</a>
                                        <br>
                                        <strong class="govuk-tag govuk-bgred">NEW</strong>
                                        <br>
                                        9:05am on 13 November 2018 
                                    </td>
                                    <td class="01" rel="01" style="vertical-align: top;">
                                        Business case template
                                    </td>
                                    <!-- Hidden column for filtering purposes (e.g. allows user to filter by academic year) -->
                                    <td style="display: none;" class="2018-2019" rel="2018-2019">
                                        2018-2019
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <a href="#" target="_blank" title="Open businesscasetemplate.pdf (opens in a new tab)">business<wbr>case<wbr>template<wbr>.pdf </a>
                                        <br>
                                        10:13am on 1 October 2017
                                    </td>
                                    <td class="01" rel="01" style="vertical-align: top;">
                                        Business case template
                                    </td>
                                    <!-- Hidden column for filtering purposes (e.g. allows user to filter by academic year) -->
                                    <td style="display: none;" class="2017-2018" rel="2017-2018">
                                        2017-2018
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <a href="#" title="Open datasharingprotocol.xlsx (opens in a new tab)">data<wbr>sharing<wbr>protocol<wbr>.xlsx</a>
                                        <br>
                                        4:48am on 28 September 2017
                                    </td>
                                    <td class="03" rel="03" style="vertical-align: top;">
                                        Data sharing protocol
                                    </td>
                                    <!-- Hidden column for filtering purposes (e.g. allows user to filter by academic year) -->
                                    <td style="display: none;" class="2017-2018" rel="2017-2018">
                                        2017-2018
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    
                        <div class="pager">
            
                            <div class="pager-summary">
                                Showing 1 to 4 of 4 documents
                            </div>
            
                        </div>

                    </fieldset>

                </div>
                <!-- COMPONENT - FILTER A LIST: STANDARD - LESS THAN 25 FILTER OPTIONS (END) -->

            </form>

        </main>

        <!-- JavaScript (START) -->
        <script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
        <!-- Filters for the document list -->
        <script src="/public/javascripts/{{latestVersion}}/filters-and-checkboxes.js"></script>
        <!-- Update labels -->
        <script src="/public/javascripts/{{latestVersion}}/update-labels.js"></script>
        <!-- Tooltip taken from Nicolas Hoffmann (https://a11y.nicolas-hoffmann.net/modal/) -->
        <script src="/public/javascripts/{{latestVersion}}/jquery-accessible-modal-window-aria.js"></script>
        <!-- Custom global behaviour -->
        <script src="/public/javascripts/{{latestVersion}}/custom-global-behaviour.js"></script>
        <!-- iFrame resizer tool taken from David J. Bradshaw (https://github.com/davidjbradshaw/iframe-resizer) -->
        <script src="/public/javascripts/iframeResizer.contentWindow.min.js"></script>
        <!-- JavaScript (END) -->
    </body>

</html>