<!doctype html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

    <head>
        <style id="stndz-style"></style>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="/public/images/opengraph-image.png?0.19.2">
        <title>Link: to page with tabs</title>

        <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.19.2" media="screen" rel="stylesheet"><!--<![endif]-->
        <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
        <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
        <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.19.2" media="screen" rel="stylesheet" /><![endif]-->
        <link href="/public/stylesheets/govuk-template-print.css?0.19.2" media="print" rel="stylesheet">

        <!--[if IE 8]><link href="/public/stylesheets/fonts-ie8.css?0.19.2" media="all" rel="stylesheet" /><![endif]-->
        <!--[if gte IE 9]><!--><link href="/public/stylesheets/fonts.css?0.19.2" media="all" rel="stylesheet"><!--<![endif]-->
        <!--[if lt IE 9]><script src="/public/javascripts/ie.js?0.19.2"></script><![endif]-->

        <link rel="shortcut icon" href="/public/images/favicon.ico?0.19.2" type="image/x-icon">
        <link rel="mask-icon" href="/public/images/gov.uk_logotype_crown.svg?0.19.2" color="#0b0c0c">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.19.2">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/apple-touch-icon-120x120.png?0.19.2">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/apple-touch-icon-76x76.png?0.19.2">
        <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-60x60.png?0.19.2">

        <!-- Static global CSS - do NOT change these GDS styles (START) -->
        <link href="/public/kit-icons/icons.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/public/stylesheets/accordion.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
        <!-- Static global CSS - do NOT change these GDS styles (END) -->

        <!-- External third party CSS links (START) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- External third party CSS links (END) -->

        <!-- Changeable Custom CSS - add all variable CSS here (START) -->
        <link href="/public/stylesheets/{{latestVersion}}/custom-styles-myesf.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/public/stylesheets/{{latestVersion}}/print.css" media="print" rel="stylesheet" type="text/css" />
        <!-- Changeable Custom CSS - add all variable CSS here (END) -->

        <!--[if lt IE 9]>
            <script src="/javascripts/head-ie8-a371085ca251931cc9b5360c7da328f6.js"></script>
        <![endif]-->
        <script src="/javascripts/vendor/modernizr.js"></script>
    </head>

    <style>

        html {
            background-color: #ffffff;
            font-size: inherit;
        }
        .app-example-page {
            padding: 60px 30px 30px 30px;
        }
        .app-example-page--full-page {
            padding: 0;
        }
    
    </style>

    <body class="app-example-page js-enabled" cz-shortcut-listen="true">
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

        <main role="main" id="example">

            <form action="/form-handler" method="post" novalidate="">
                        
                <!-- COMPONENT - LINK: TO PAGE WITH TABS (START) -->
                
                <!-- COMPONENT - LINK: TO PAGE WITH TABS (END) -->

            </form>

        </main>

        <!-- JavaScript (START) -->
        <script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
        <!-- Tooltip taken from Nicolas Hoffmann (https://a11y.nicolas-hoffmann.net/modal/) -->
        <script src="/public/javascripts/{{latestVersion}}/jquery-accessible-modal-window-aria.js"></script>
        <!-- GOV.UK Design System tabs -->
        <script src="/public/javascripts/{{latestVersion}}/accordion.js"></script>
        <!-- DSG -->
        <script src="/public/javascripts/{{latestVersion}}/dsg.js"></script>
        <!-- Custom global behaviour -->
        <script src="/public/javascripts/{{latestVersion}}/custom-global-behaviour.js"></script>
        <!-- iFrame resizer tool taken from David J. Bradshaw (https://github.com/davidjbradshaw/iframe-resizer) -->
        <script src="/public/javascripts/iframeResizer.contentWindow.min.js"></script>
        <!-- JavaScript (END) -->
    </body>

</html>