{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home page</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    
<!--    <div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/index">Home</a></li>
        <li><a href="/documents">Your contract documents</a></li>
      </ol>
    </div>-->

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        
        
        <h1 class="heading-xlarge">Settings</h1>
    </div>
</div>


<div class="grid-row">    
        <div class="column-two-thirds">
            <h3 class="bold-medium">Permissions</h3>



                <p>You can:</p>
                <ul class="list-bullet">
                    <li>sign ESFA documents</li>
                    <li>receive email alerts</li>
                    <li>review your payments history from the ESFA</li>
                    <li>query contracts</li>
                    <!-- <li>respond to employer apprenticeship training requests</li>
                    <li>update apprentice details from employer requestss</li> -->
                </ul>
                <br>
                <p>You can't:</p>
                <ul class="list-bullet">
                    <li>add and remove users'</li>
                    <li>set and change a users' permissions</li>
                    <li>display your contact details in the service for others to see</li>
                </ul>
                <br>
                <p>Contact your organisation's 'provider support user' if you want to add these permissions</p>


                <h3 class="bold-small">Your account settings</h3>

        <p>Through the <a href="#">Identity Management Service (Idams)</a> you can:</p>
                <ul class="list-bullet">
                    <li>update your contact information</li>
                    <li>change your password</li>
                    <li>request user roles for ESFA services</li>
                </ul>
                
            <br>


                <h3 class="bold-small">Manage your users</h3>

                <p>You can:</p>
                <ul class="list-bullet">
                    <li>update user contact information</li>
                    <li>approve or reject user role requests for ESFA services</li>
                    <li>grant a new user access</li>
                    <li>remove access rights</li>
                </ul>
            <p>You can manage the users in your organisation through <a href="/">Idams</a> under the "My team" option.</p>

        </div>
     </div>

</main>


{% endblock %}