{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
  {% include "includes/phase_banner_alpha.html" %}
  

    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard-new">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>   



    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">CASTERBRIDGE COLLEGE</h1>
            <p>UKPRN:12345678</p>
        </div>
        
    </div><br>
    

<div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions"><div class="subsection-controls js-subsection-controls"><button aria-expanded="false" aria-controls="subsection_content_0 subsection_content_1 subsection_content_2 subsection_content_3 ">Open all</button></div>
        <div class="subsection-wrapper">
            <div class="js-subsection subsection--is-open">
              <div class="subsection__header">
                <h2 class="subsection__title" id="designing-government-services"><button class="subsection__button js-subsection-button" aria-expanded="true" aria-controls="subsection_content_0">Designing government services</button></h2>
                <p class="subsection__description">Introduction, scoping, naming and prototyping.</p>
              <span class="subsection__icon"></span></div>
              <div class="subsection__content js-subsection-content" id="subsection_content_0">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/introduction-designing-government-services">Designing government services: an introduction</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/scoping-your-service">Getting your service scope right</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/naming-your-service">Naming your service</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/making-prototypes">Making prototypes</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/making-your-service-look-like-govuk">Making your service look like GOV.UK</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/sending-emails-and-text-messages">Planning and writing text messages and emails</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/writing-for-user-interfaces">Writing for user interfaces</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/services-for-government-users">Services for government users</a>
                    </li>
                </ul>
              </div>
            </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="working-with-frontend"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Working with frontend</button></h2>
                <p class="subsection__description">GOV.UK template, frontend toolkit, elements. </p>
              <span class="subsection__icon"></span></div>
              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/using-the-govuk-template-frontend-toolkit-and-elements">Using the GOV.UK template, frontend toolkit and elements</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/add-the-govuk-header-and-footer">Add the GOV.UK header and footer</a>
                    </li>
                </ul>
              </div>
            </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="working-with-patterns"><button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_2">Working with patterns</button></h2>
                <p class="subsection__description">Using and adapting design patterns.</p>
              <span class="subsection__icon"></span></div>
              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_2">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/using-adapting-and-creating-patterns">Using, adapting and creating patterns</a>
                    </li>
                </ul>
              </div>
            </div>
            <div class="js-subsection subsection--is-open">
              <div class="subsection__header">
                <h2 class="subsection__title" id="find-patterns"><button class="subsection__button js-subsection-button" aria-expanded="true" aria-controls="subsection_content_3">Find patterns</button></h2>
                <p class="subsection__description">Solutions to common design problems.</p>
              <span class="subsection__icon"></span></div>
              <div class="subsection__content js-subsection-content" id="subsection_content_3">
                <ul class="subsection__list">
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/addresses">Addresses</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/alpha-and-beta-phase-banners">Alpha and beta phase banners</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/check-before-you-start">Check before you start</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/check-your-answers-pages">Check your answers pages</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/confirmation-pages">Confirmation pages</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/dates">Dates</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/email-addresses">Email addresses</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/email-confirmation-loops">Email confirmation loops</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/feedback-pages">Feedback pages</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/form-structure">Form structure</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/gender-or-sex">Gender or sex</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/help-text">Help text</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/knowledge-based-authentication">Knowledge-based authentication</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/names">Names</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/national-insurance-numbers">National Insurance numbers</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/passwords">Passwords</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/progress-indicators">Progress indicators</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/question-pages">Question pages</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/start-pages">Start pages</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/task-list-pages-beta">Task list pages (beta)</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/user-accounts">User accounts</a>
                    </li>
                    <li class="subsection__list-item">
                      <a href="/service-manual/design/usernames">Usernames</a>
                    </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
 
    

    </main>

{% endblock %}