{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
     <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash7" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Account home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="#" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge no-margin-bottom">Blythe Academy</h1>
            <p class="page-info">UKPRN:12345678</p>
        </div>
        
    </div>

           <h1 class="heading-large">Documents to download </h1>

            </div>
</div>
<span class="heading-secondary">Blythe Academy</span>
    

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <h2 class="attachment-details"><a href="/public/documents/february.xls" target="_blank">Business case 2017 to 2018</a>
        
    </div>
    <section class="attachment">
    <div class="attachment-thumb">
        <a class="thumbnail" href="/public/documents/february.xls" target="_blank">
            <img src="/public/images/xls_thumbnail2.png">
        </a>
    </div>
    </div>
    <div class="left-align">
    
    </div>
</section>
        
    
    </div>
    </div>
     <span class="heading-secondary">John Fisher Academy</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <h2 class="attachment-details"><a href="/public/documents/february.xls" target="_blank">Business case 2017 to 2018</a>
        
    </div>
    <section class="attachment">
    <div class="attachment-thumb">
        <a class="thumbnail" href="/public/documents/february.xls" target="_blank">
            <img src="/public/images/xls_thumbnail2.png">
        </a>
    </div>
    </div>
    <div class="left-align">
    
    </div>
</section>
        
    
    </div>
    </div>
    <span class="heading-secondary">Newman Academy</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <h2 class="attachment-details"><a href="/public/documents/february.xls" target="_blank">Business case 2017 to 2018</a>
        
    </div>
    <section class="attachment">
    <div class="attachment-thumb">
        <a class="thumbnail" href="/public/documents/february.xls" target="_blank">
            <img src="/public/images/xls_thumbnail2.png">
        </a>
    </div>
    </div>
    <div class="left-align">
    
    </div>
</section>
        
    
    </div>
    </div>
       
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

    </div>
</div>
</span><br>
       
       
       
    </div>
    </div>
    

    </div>
</div>


       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>


            
        
    </div>
</div>




    </div>
</div>



<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="review">Continue</a>
    </div>

    <div class="column-one-third ">
       <a href="sub-con-search-add-another2">Back to list</a>
       
    </div>
</div>




</main>


{% endblock %}