{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">

    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="/personal-account" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="/personal-account/signout?continueUrl=%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">BLYTHE ACADEMY</h1>
            <p>UKPRN: 12345678</p>
            <h1 class="heading-large">Programme funding formula 2017 to 2018</h1>

        </div>
    </div>

    <div class="grid-row" style="margin: 0 0 15px">

        <div style="background: #005ea5; padding: 30px 20px 10px; color: #fff; margin-bottom: 20px">
            <h4 class="bold">Programme funding formula</h4>
            <p>(Total Student Numbers x National funding rate per student x Retention factor x Programme cost weighting + Disadvantage funding + Large Programme funding) x Area cost allowance = Total</p>

        </div>
    <table>
        <tr>
        <th>Total Student Numbers</th>
        <td colspan="2">574</td>
        <td>
            <details>
            <summary><span class="summary">See breakdown</span></summary>

            <table class="tableizer-table">
                <thead><tr class="tableizer-firstrow"><th>Student Numbers (Including 19-24 Students)</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr></thead><tbody>
            <tr><td>Total Lagged Student Number</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>573</td></tr>
            <tr><td>Exceptional Variations to Lagged Student Number</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>1</td></tr>
            <tr><td>Total Student Numbers for 2017/18</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>574</td></tr>
            </tbody></table>

            </details>

        </td>
        </tr>

        <tr>
            <th>National funding rate per student</th>
            <td>£4,000</td>
            <td colspan="2">= £2,259,349</td>
        </tr>

        <tr>
            <th>Retention factor</th>
            <td>0.997</td>
            <td>= £2,207,836</td>
            <td><details>
                <summary><span class="summary">See breakdown</span></summary>

                <table class="tableizer-table">

                    <thead>

                    <tr class="tableizer-firstrow">


                        <th colspan="6">Breakdown of Funding by Funding Band
                        </th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Planned Hours
                        </td>
                        <td>Student Numbers in 2015/16
                        </td>
                        <td>Proportions used in 2017/18 allocation
                        </td>
                        <td>Number of Students allocated in 2017/18
                        </td>
                        <td>National Funding Rate
                        </td>
                        <td>Student Funding
                        </td>
                    </tr>

                    <tr>
                        <td>Band 5
                        </td>
                        <td>62
                        </td>
                        <td>80.52%
                        </td>
                        <td>95
                        </td>
                        <td>£4,000
                        </td>
                        <td>£380,052
                        </td>
                    </tr>

                    <tr>
                        <td>Band 4 (Sum of Band 4a and 4b)
                        </td>
                        <td>15
                        </td>
                        <td>19.48%
                        </td>
                        <td>23
                        </td>
                        <td>£3,300
                        </td>
                        <td>£75,857
                        </td>
                    </tr>

                    <tr>
                        <td>Band 4a
                        </td>
                        <td>15
                        </td>
                        <td>19.48%
                    </tr>

                    <tr>
                        <td>Band 4b
                        </td>
                        <td>0
                        </td>
                        <td colspan="4">0.00%
                        </td>
                    </tr>

                    <tr>
                        <td>Band 3
                        </td>
                        <td>0
                        </td>
                        <td>0.00%
                        </td>
                        <td>0
                        </td>
                        <td>£2,700
                        </td>
                        <td>£0
                        </td>
                    </tr>

                    <tr>
                        <td>Band 2
                        </td>
                        <td>0
                        </td>
                        <td>0.00%
                        </td>
                        <td>0
                        </td>
                        <td>£2,133
                        </td>
                        <td>£0
                        </td>
                    </tr>

                    <tr>
                        <td>Band 1 Students
                        </td>
                        <td>&nbsp;</td>
                        <td>0
                        </td>
                        <td>0.00%
                        </td>
                        <td>&nbsp;</td>
                        <td>0
                        </td>
                    </tr>

                    <tr>
                        <td>Band 1 FTEs
                        </td>
                        <td>&nbsp;</td>
                        <td>0.00
                        </td>
                        <td>£4,000
                        </td>
                        <td>&nbsp;</td>
                        <td>£0
                        </td>
                    </tr>

                    <tr>
                        <td>Total
                        </td>
                        <td>&nbsp;</td>
                        <td>77
                        </td>
                        <td>100%
                        </td>
                        <td>118
                        </td>
                        <td>£2,259,349
                        </td>
                    </tr>
                    </tbody>
                </table>

            </details>
            </td>
        </tr>

        <tr>
            <th>Programme cost weighting</th>
            <td>1.004</td>
            <td colspan="2">= £2,216,182</td>
        </tr>

        <tr>
            <th>Disadvantage funding</th>
            <td>£135,462</td>
            <td>= £2,351,644</td>
            <td>
                <details>

                    <summary><span class="summary">See breakdown</span></summary>

                <table class="tableizer-table">
                    <thead>
                    <tr class="tableizer-firstrow">
                        <th colspan="4">Distribution of Disadvantage Funding</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4">Disadvantage Block 1</td>
                    </tr>
                    <tr>
                        <td>Economic Deprivation Funding</td>
                        <td>Block 1 Factor</td>
                        <td>Funding including Programme</td>
                        <td>Block 1 Funding</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>7.28%</td>
                        <td>£435,472</td>
                        <td>£31,682</td>
                    </tr>
                    <tr>
                        <td>Care Leavers</td>
                        <td>Number of Qualifying Students</td>
                        <td>Rate per Qualifying Student</td>
                        <td>Care Leaver Funding</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>0</td>
                        <td>£480</td>
                        <td>£0</td>
                    </tr>
                    <tr>
                        <td colspan="3">Total Block 1 Funding</td>
                        <td>£31,682</td>
                    </tr>
                    <tr>
                        <td colspan="4">Disadvantage Block 2</td>
                    </tr>
                    <tr>
                        <td>Total 2017/18 Instances attracting Funding per Student</td>
                        <td>Instances attracting funding per Student Census </td>
                        <td>Instances attracting funding per Student YPMAD</td>
                        <td>Instances per student applied for 2017/18</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>0.792</td>
                        <td>0.874</td>
                        <td>0.833</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td>Block 2 Funding Rates</td>
                        <td>Block 2 Funding</td>
                    </tr>
                    <tr>
                        <td>Total Funded Instances for 2017/18</td>
                        <td>98.28</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Students attracting the Higher Rate </td>
                        <td>98.28</td>
                        <td>£480</td>
                        <td>£47,175</td>
                    </tr>
                    <tr>
                        <td>Students attracting the Lower Rate </td>
                        <td>0.00</td>
                        <td>£292</td>
                        <td>£0</td>
                    </tr>
                    <tr>
                        <td>Students attracting the FTE Rate</td>
                        <td>Students</td>
                        <td>0.00</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>FTEs</td>
                        <td>0.00</td>
                        <td>£480</td>
                        <td>£0</td>
                    </tr>
                    <tr>
                        <td colspan="3">Total Block 2 Funding</td>
                        <td>£47,175</td>
                    </tr>
                    <tr>
                        <td colspan="3">Minimum top up if applicable</td>
                        <td>£0</td>
                    </tr>
                    <tr>
                        <td colspan="3">Total Disadvantage Funding (sum of Block 1, Block 2 and minimum top up)</td>
                        <td>£135,462</td>
                    </tr>
                    </tbody>
                </table>
                </details>

            </td>
        </tr>

        <tr>
            <th>Large Programme funding</th>
            <td>£1.600</td>
            <td> = £2,353,244</td>
            <td>
                <details>
                    <summary><span class="summary">See breakdown</span></summary>

                    <table class="tableizer-table">
                        <thead><tr class="tableizer-firstrow"><th colspan="6">Large Programme Uplift (based on 2014/15 students)</th></tr></thead><tbody>
                    <tr><td colspan="2">&nbsp;</td><td>&nbsp;</td><td>Students meeting criteria for</td><td>Funding Uplift per Student per year</td><td>Total Large Programme Uplift (2 Years)</td></tr>
                    <tr><td colspan="2">Large Programme Uplift at 20% of National Rate</td><td>&nbsp;</td><td>0</td><td>£800</td><td>£0</td></tr>
                    <tr><td colspan="2">Large Programme Uplift at 10% of National Rate</td><td>&nbsp;</td><td>0</td><td>£800</td><td>£0</td></tr>
                    <tr><td colspan="2">Total</td><td>&nbsp;</td><td>0</td><td>&nbsp;</td><td>£0</td></tr>
                    </tbody></table>

                </details>

            </td>
        </tr>

        <tr>
            <th>Area cost allowance</th>
            <td colspan="3">1.120</td>
        </tr>

        <tr>
            <th colspan="2">Total</th>
            <td colspan="2">= £2,635,633</td>
        </tr>

    </table>





</div>




</main>

{% endblock %}