{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
     <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash7" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    
                    <a href="#" class="account-menu__link"  data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">BLYTHE ACADEMY</h1>
            <p class="page-info">UKPRN: 12345678</p>
        </div>
        
    </div>
    <h1 class="heading-large margin-bottom">16 to 19 funding 2017 to 2018 </h1>
    <h2 class="heading-medium">Programme funding formula</h2>

            </div>
</div>




<span class="heading-secondary">Student numbers including 19 to 24</span>
    
<table>
  <thead>
    <tr>
      <th width="400" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th class="numeric" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Students 2016/17 RO4</td>
      <td width="300" class=""></td>
      <td width="300" class=""></td>
      <td width="300" class=""></td>
      <td class="numeric">2,891</td>
    </tr>
    
    <tr>
      
      <td>Student ratio 2015/16 RO4 - R14</td>
      
      <td width="300" class=""></td>
      <td width="300" class=""></td>
      <td width="300" class=""></td>
      <td class="numeric">1.030</td>
    </tr>

    <tr>
      
      <td>Lagged students</td>
      
      <td width="300" class=""></td>
      <td width="300" class=""></td>
      <td width="300" class=""></td>
      <td class="numeric">2,976</td>
    </tr>
<tr>
      
      <td class="bold-small">Total students 2017/18</td>
      
      <td width="300" class=""></td>
      <td width="300" class=""></td>
      <td width="300" class=""></td>
      <td class="bold-small">2,976</td>
    </tr>

    <tr>
  </tbody>
</table>
<br>
<span class="heading-secondary">Breakdown of funding</span>
    </div>
<table>
  <thead>
    <tr>
      <th width="300" scope="col">Planned <br>hours</th>
      <th width="200" class="" scope="col">Students <br>2015/16</th>
      <th width="200" class="" scope="col">Proportions 2017/18</th>
      <th width="200" class="" scope="col">Students <br>2017/18</th>
      <th width="200" class="" scope="col">National <br>Funding Rate</th>
      <th class="numeric" scope="col">Student funding</th>
    </tr>
  </thead>
  <tbody>
    
  
    <tr>
      
      <td>Band 5</td>
      <td width="200" class="">1,863</td>
      <td width="300" class="">62.20%</td>
      <td width="200" class="">1,851</td>
      <td width="300" class="">£4000</td>
      <td class="numeric">£7,405,889</td>
    </tr>
    
    
      <tr>
      <td>Band 4a + 4b</td>
      <td width="300" class="">837</td>
      <td width="300" class="">27.95%</td>
      <td width="300" class="">832</td>
      <td width="300" class="">£3,300</td>
      <td class="numeric">£2,745,009</td>
    </tr>
    
    <tr>
      <td>Band 4a</td>
      <td width="300" class="">580</td>
      <td width="300" class="">19.37%</td>
      <td width="300" class=""></td>
      <td width="300" class=""></td>
      <td class="numeric"></td>
    </tr>

    <tr>
      <td>Band 4b</td>
      <td width="300" class="">257</td>
      <td width="300" class="">8.58%</td>
      <td width="300" class=""></td>
      <td width="300" class=""></td>
      <td class="numeric"></td>
    </tr>
    
    <tr>
      <td>Band 3</td>
      <td width="300" class="">109</td>
      <td width="300" class="">3.64%</td>
      <td width="300" class="">108</td>
      <td width="300" class="">£2,700</td>
      <td class="numeric">£292,479</td>
    </tr>

    <tr>
      <td>Band 2</td>
      <td width="300" class="">41</td>
      <td width="300" class="">1.37%</td>
      <td width="300" class="">41</td>
      <td width="300" class="">£2,133</td>
      <td class="numeric">£86,912</td>
    </tr>

    <tr>
      <td>Band 1 <br>&nbsp;</td>
      <td width="300" class="">Students 145<br>FTAs 40.62</td>
      <td width="300" class="">4.84%<br>&nbsp;</td>
      <td width="300" class="">144<br>40.37</td>
      <td width="300" class="">&nbsp;<br>4,000</td>
      <td class="numeric">&nbsp;<br>161,468</td>
    </tr>

    <tr>
      <td class="bold-small">Total</td>
      <td width="300" class="bold-small">2,995</td>
      <td width="300" class="bold-small">100%</td>
      <td width="300" class="bold-small">2,976</td>
      <td width="300" class="bold-small"></td>
      <td class="bold-small">£10,691,757</td>
    </tr>

  </tbody>
</table>
</div>
</div>

    </div>
</div> <br>
<span class="heading-secondary">Retention factor</span>
    </div>
<table>
  <thead>
    <tr>
      <th width="300" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th class="numeric" scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    
  
    <tr>
      
      <td></td>
      <td width="300" class=""></td>
      <td width="300" class="">0.952</td>
      <td width="300" class="">-£515,877</td>
      <td class="numeric">£10,175,880</td>
    </tr>
    

    
      
  </tbody>
</table><br>

<br>
<span class="heading-secondary">Programme cost weighting</span>
    </div>
<table>
  <thead>
    <tr>
      <th width="300" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th class="numeric" scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    
  
    <tr>
      
      <td></td>
      <td width="300" class=""></td>
      <td width="300" class="">1.111</td>
      <td width="300" class="">£1,127,284</td>
      <td class="numeric">£11,303,164</td>
    </tr>
    

    
      
  </tbody>
</table><br>
 



    </div>


<br>
<span class="heading-secondary">Distribution and disadvantage funding</span>
    </div><br>
<table>
  <thead>
    <tr>
      <th width="200" scope="col">Disadvantage block 1</th>
      
      <th width="200" class="" scope="col"></th>
      
      <th width="200" class="" scope="col"></th>
      <th class="numeric" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    
  
    <tr>
      
      <td>Economic deprivation</td>
      <td width="200" class="">Block 1 factor<br>7.53%</td>
      
      
      <td width="300" class="">Funding + programme costs<br>£11,303,164</td>
      <td class="300">Block 1 factor<br>7.53%</td>
    </tr>

    
    
    <tr>
      <td>Care leavers</td>
      <td width="300" class="">Qualifying students<br>103</td>
      
      
      <td width="300" class="">Rate per qulifying student<br>£480</td>
      <td class="300">Care leaver funding<br>£49,440</td>
    </tr>

    <tr>
      

    

    <tr>
      <td class="bold-small">Total block 1 funding</td>
      <td width="300" class="bold-small"></td>
      
      
      <td width="300" class="bold-small"></td>
      <td class="bold-small numeric">£900,570</td>
    </tr>

  </tbody>
</table>
</div>
</div><br><p></p>
<table>
  <thead>
    <tr>
      <th width="200" scope="col">Disadvantage block 2</th>
      
      <th width="200" class="" scope="col"></th>
      
      <th width="200" class="" scope="col"></th>
      <th class="numeric" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    
  
    <tr>
      
      <td>Total 2017/18 funding per student</td>
      <td width="200" class="">Funding per student ILR<br>1.310</td>
      
      
      <td width="300" class="">Funding per student YPMAD<br>1.304</td>
      <td class="300">Block 2 factor<br>7.53%</td>
    </tr>

    
    
    <tr>
      <td>Care leavers</td>
      <td width="300" class="">Qualifying students<br>103</td>
      
      
      <td width="300" class="">Rate per qulifying student<br>£480</td>
      <td class="300">Care leaver funding<br>£49,440</td>
    </tr>

    <tr>
      

    

    <tr>
      <td class="bold-small">Total block 2 funding</td>
      <td width="300" class="bold-small"></td>
      
      
      <td width="300" class="bold-small"></td>
      <td class="bold-small numeric">£1,769,904</td>
    </tr>

    <tr>
      <td class="bold-small">Total disadvantage funding</td>
      <td width="300" class="bold-small"></td>
      
      
      <td width="300" class="bold-small"></td>
      <td class="bold-small numeric">£2,670,474</td>
    </tr>

  </tbody>
</table>
</div>
</div><br><p></p>
<br>
<span class="heading-secondary">Area cost allowance</span>
    </div>
<table>
  <thead>
    <tr>
      <th width="300" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th width="200" class="" scope="col"></th>
      <th class="numeric" scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    
  
    <tr>
      
      <td></td>
      <td width="300" class=""></td>
      <td width="300" class="">1.120</td>
      <td width="300" class="">-£1,676,837</td>
      <td class="numeric">£15,650,000</td>
    </tr>
    <tbody>
    <tr>
      
      <td class="bold-medium"></td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric bold-medium"></td>
    </tr>
    

                </tbody>
                <tbody><br>
    <tr>
      
      <td class="bold-medium">Total</td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric"></td>
      <td class="numeric bold-medium">£17,565,000</td>
    </tr>
    

                </tbody>
    

    
      
  </tbody>
</table><br>


  
  
       </div></div></div> 
      </div> 
      
    </div>
</div><br>

</div>

  </div>

</details>

  
  
       </div></div></div> 
      </div> 
      
    </div>
</div><br></div>

  </div>

</details>

</div>

</main>


{% endblock %}