{% extends "layout.html" %}

{% block page_title %}
    {% if searchScope == 'Primary' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == 'Secondary' %}Regent High School{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}[ORGANISATION]{% endif %}
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_alpha.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="viewing-choice">Choose how to view funding</a></li>
                        <li><a href="find-an-organisation">View funding by organisation</a></li>
                        {% if didYouMean == 'Yes' %}
                        <li><a href="did-you-mean">Search results</a></li>
                        {% endif %}
                        <li>{% if searchScope == 'Primary' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == 'Secondary' %}Regent High School{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}St Mary's Kilburn Church of England Primary School{% endif %}</li>
                    </ol>
                </nav>
            </div>
            
            <form method="post" class="form">               

                {% if searchScope == 'Primary' %}
                <!-- Child (Primary School) - Dynamic content (START) -->
                <h1 class="heading-xlarge">St Mary's Kilburn Church of England Primary School</h1>

                <!-- Accordion section to display the data within the single funding statement (START) -->
                <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                
                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">PE and sport premium for academic year 2018 to 2019</span>
                                    <span class="govuk-accordion__heading-number-right">
                                        £17,720
                                    </span>
                                    <!-- <span class="govuk-accordion__heading-number-right">
                                        <span class="variance-heading">up £1,000</span>
                                    </span> -->
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £17,720
                                    <br>
                                    <!-- <span class="variance-heading">up £1,000</span>
                                    <br> -->
                                </span>
                                Published April 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            <p class="lede bold-lede"><a href="pe-and-sport/full-funding-allocation">View funding details</a></p>
                            <!-- <h3 class="heading-medium">Previous allocations</h3> -->
                            <p><a href="pe-and-sport/download-funding">View previous versions of this funding</a></p>
                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <!-- <li><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-conditions-of-grant-2018-to-2019/pe-and-sport-premium-conditions-of-grant-2018-to-2019-academies">PE and sport premium: conditions of grant 2018 to 2019 (academies)</a></li> -->
                                <li><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-conditions-of-grant-2018-to-2019/pe-and-sport-premium-conditions-of-grant-2018-to-2019-local-authorities-and-maintained-schools">PE and sport premium: conditions of grant 2018 to 2019 (local authorities and maintained schools)</a></li>
                            </ul>
                        </div>
                
                    </div>

                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Pupil premium for financial year 2019 to 2020</span>
                                    <span class="govuk-accordion__heading-number-right">£112,200</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £112,200
                                    <br>
                                </span>
                                Published March 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            <p class="lede bold-lede"><a href="#">View funding details</a></p>
                            <h3 class="heading-medium">Previous versions</h3>
                            <p>To view all versions of this allocation for the financial year 2019 to 2020:</p>
                            <ul class="form-group">
                                <li><a href="#">View breakdowns</a></li>
                                <li><a href="pupil-premium/download-funding">Download an allocation</a></li>
                            </ul>
                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <li><a href="https://www.gov.uk/government/publications/pupil-premium-conditions-of-grant-2018-to-2019/pupil-premium-2018-to-2019-conditions-of-grant">Pupil premium 2018 to 2019: conditions of grant</a></li>
                            </ul>
                        </div>
                
                    </div>
                
                </div>
                <!-- Accordion section to display the data within the single funding statement (END) -->
                <!-- Child (Primary School) - Dynamic content (END) -->
                {% elif searchScope == 'Secondary' %}
                <!-- Child (Secondary School) - Dynamic content (START) -->
                <h1 class="heading-xlarge">Regent High School</h1>

                <!-- Accordion section to display the data within the single funding statement (START) -->
                <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                    
                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Pupil premium for financial year 2019 to 2020</span>
                                    <span class="govuk-accordion__heading-number-right">£546,975</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £546,975
                                    <br>
                                </span>
                                Published March 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            <p class="lede bold-lede"><a href="#">View funding details</a></p>
                            <h3 class="heading-medium">Previous versions</h3>
                            <p>To view all versions of this allocation for the financial year 2019 to 2020:</p>
                            <ul class="form-group">
                                <li><a href="#">View breakdowns</a></li>
                                <li><a href="pupil-premium/download-funding">Download an allocation</a></li>
                            </ul>
                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <li><a href="https://www.gov.uk/government/publications/pupil-premium-conditions-of-grant-2018-to-2019/pupil-premium-2018-to-2019-conditions-of-grant">Pupil premium 2018 to 2019: conditions of grant</a></li>
                            </ul>
                        </div>
                
                    </div>

                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Year 7 literacy and numeracy catch-up premium for financial year 2019 to 2020</span>
                                    <span class="govuk-accordion__heading-number-right">£9,555</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £9,555
                                    <br>
                                </span>
                                Published February 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            <p class="lede bold-lede"><a href="#">View funding details</a></p>
                            <h3 class="heading-medium">Previous versions</h3>
                            <p>To view all versions of this allocation for the financial year 2019 to 2020:</p>
                            <ul class="form-group">
                                <li><a href="#">View breakdowns</a></li>
                                <li><a href="7-year-catch-up/download-funding">Download an allocation</a></li>
                            </ul>
                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <li><a href="https://www.gov.uk/government/publications/year-7-literacy-and-numeracy-catch-up-premium-2018-to-2019/year-7-literacy-and-numeracy-catch-up-premium-2018-to-2019-conditions-of-grant">Year 7 literacy and numeracy catch-up premium: 2018 to 2019 conditions of grant</a></li>
                                <li><a href="https://www.gov.uk/guidance/year-7-literacy-and-numeracy-catch-up-premium-guide-for-schools">Year 7 literacy and numeracy catch-up premium: guide for schools</a></li>
                            </ul>
                        </div>
                
                    </div>
                
                </div>
                <!-- Accordion section to display the data within the single funding statement (END) -->
                <!-- Child (Secondary School) - Dynamic content (END) -->
                {% elif searchScope == 'MAT' %}
                <!-- MAT - Dynamic content (START) -->
                <h1 class="heading-xlarge">White Rose Academies Trust</h1>

                <!-- Accordion section to display the data within the single funding statement (START) -->
                <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                
                    <!-- <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">PE and sport premium for academic year 2018 to 2019</span>
                                    <span class="govuk-accordion__heading-number-right">£7,039</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary hidden-sub-section" id="accordion-with-summary-sections-summary-1">
                                £7,039
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <p class="lede bold-lede"><a href="#">View funding details</a></p>
                            <p class="govuk-body"><a href="#" title="Download PE and sport premium for 2018 to 2019 (ODS, 5KB)" download>Download PE and sport premium for 2018 to 2019 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 5KB)</a></p>
                        </div>
                
                    </div> -->

                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Pupil premium for financial year 2019 to 2020</span>
                                    <span class="govuk-accordion__heading-number-right">£1,254,303</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £1,254,303
                                    <br>
                                </span>
                                Published March 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            <p class="lede bold-lede"><a href="#">View funding details</a></p>
                            <h3 class="heading-medium">Previous versions</h3>
                            <p>To view all versions of this allocation for the financial year 2019 to 2020:</p>
                            <ul class="form-group">
                                <li><a href="#">View breakdowns</a></li>
                                <li><a href="pupil-premium/download-funding">Download an allocation</a></li>
                            </ul>
                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <li><a href="https://www.gov.uk/government/publications/pupil-premium-conditions-of-grant-2018-to-2019/pupil-premium-2018-to-2019-conditions-of-grant">Pupil premium 2018 to 2019: conditions of grant</a></li>
                            </ul>
                        </div>
                
                    </div>

                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Year 7 literacy and numeracy catch-up premium for financial year 2019 to 2020</span>
                                    <span class="govuk-accordion__heading-number-right">£355,901</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £355,901
                                    <br>
                                </span>
                                Published February 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            <p class="lede bold-lede"><a href="#">View funding details</a></p>
                            <h3 class="heading-medium">Previous versions</h3>
                            <p>To view all versions of this allocation for the financial year 2019 to 2020:</p>
                            <ul class="form-group">
                                <li><a href="#">View a breakdowns</a></li>
                                <li><a href="7-year-catch-up/download-funding">Download an allocation</a></li>
                            </ul>
                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <li><a href="https://www.gov.uk/government/publications/year-7-literacy-and-numeracy-catch-up-premium-2018-to-2019/year-7-literacy-and-numeracy-catch-up-premium-2018-to-2019-conditions-of-grant">Year 7 literacy and numeracy catch-up premium: 2018 to 2019 conditions of grant</a></li>
                                <li><a href="https://www.gov.uk/guidance/year-7-literacy-and-numeracy-catch-up-premium-guide-for-schools">Year 7 literacy and numeracy catch-up premium: guide for schools</a></li>
                            </ul>
                        </div>
                
                    </div>
                
                </div>
                <!-- Accordion section to display the data within the single funding statement (END) -->
                <!-- MAT - Dynamic content (END) -->
                {% elif searchScope == 'LA' %}
                <!-- LA - Dynamic content (START) -->
                <h1 class="heading-xlarge">Camden</h1>

                <!-- Accordion section to display the data within the single funding statement (START) -->
                <div class="govuk-accordion" data-module="accordion" id="accordion-default">

                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Dedicated schools grant (<abbr title="Dedicated Schools Grant">DSG</abbr>) for financial year 2019 to 2020</span>
                                    <span class="govuk-accordion__heading-number-right">
                                        £161,322,000
                                        <!-- <br>
                                        after recoupment and deductions
                                        <br>
                                        <span class="variance-heading">up £10,034</span> -->
                                    </span>
                                    <span class="govuk-accordion__heading-number-right">
                                        <span class="variance-heading">after recoupment and deductions</span>
                                    </span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £161,322,000
                                    <br>
                                    <!-- after recoupment
                                    <br>
                                    <span class="variance-heading">up £10,034</span>
                                    <br> -->
                                    <span class="variance-heading">after recoupment and deductions</span>
                                    <br>
                                </span>
                                Published March 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            
                            <div class="funding-block">

                                <div class="funding-left-container">
                                    <p class="funding-left-text"><a href="dedicated-schools-grant/full-funding-allocation#schools">Schools funding block</a></p>
                                </div>
                    
                                <div class="funding-right-container">
                                    <p class="funding-right-text">
                                        £108,136,000
                                    </p>
                                    <!-- <p class="funding-right-text">
                                        <span class="variance">down £381,167.94</span>
                                    </p> -->
                                </div>
                    
                            </div>

                            <div class="funding-block">

                                <div class="funding-left-container">
                                    <p class="funding-left-text"><a href="dedicated-schools-grant/full-funding-allocation#css">Central school services funding block</a></p>
                                </div>
                    
                                <div class="funding-right-container">
                                    <p class="funding-right-text">
                                        £1,430,000
                                    </p>
                                    <!-- <p class="funding-right-text">
                                        <span class="variance">down £30,082</span>
                                    </p> -->
                                </div>
                    
                            </div>

                            <div class="funding-block">

                                <div class="funding-left-container">
                                    <p class="funding-left-text"><a href="dedicated-schools-grant/full-funding-allocation#high-needs">High needs funding block</a></p>
                                </div>
                    
                                <div class="funding-right-container">
                                    <p class="funding-right-text">
                                        £34,023,000
                                    </p>
                                    <!-- <p class="funding-right-text">
                                        <span class="variance">up £12,064</span>
                                    </p> -->
                                </div>
                    
                            </div>

                            <div class="funding-block funding-margin-bottom">

                                <div class="funding-left-container">
                                    <p class="funding-left-text"><a href="dedicated-schools-grant/full-funding-allocation#early-years">Early years funding block</a></p>
                                </div>
                    
                                <div class="funding-right-container">
                                    <p class="funding-right-text">
                                        £17,734,000
                                    </p>
                                    <!-- <p class="funding-right-text">
                                        <span class="variance">down £2,030</span>
                                    </p> -->
                                </div>
                    
                            </div>

                            <h3 class="heading-medium heading-guidance">Allocation history</h3>
                            <p>To view all versions of this allocation for the financial year 2019 to 2020, <a href="dedicated-schools-grant/allocation-history">view allocation history</a>.</p>

                            <h3 class="heading-medium heading-guidance">Payment dates</h3>
                            <p>The next payment for this allocation is <span class="bold-small">3 July 2019</span>.</p>
                            <p>You can view more information on payments on the <a href="https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2019-to-2020/dedicated-schools-grant-conditions-of-grant-2019-to-2020#dedicated-schools-grant-payment-dates-for-financial-year-2019-to-2020" target="external">conditions of grant</a>.</p>

                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <li><a href="https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2019-to-2020/dedicated-schools-grant-conditions-of-grant-2019-to-2020"><abbr title="Dedicated Schools Grant">DSG</abbr>: conditions of grant 2019 to 2020</a></li>
                                <li><a href="https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2019-to-2020"><abbr title="Dedicated Schools Grant">DSG</abbr>: growth calculations values 2019 to 2020</a></li>
                                <li class="bold-xsmall gem-c-related-navigation__link toggle-wrap">
                                    <a href="#" class="gem-c-related-navigation__toggle" data-controls="toggle_related_items" data-expanded="false" data-toggled-text="Show fewer" role="button" aria-controls="toggle_related_items" aria-expanded="false">More</a>
                                </li>
                                <li class="gem-c-related-navigation__link">
                                    <span id="toggle_related_items" class="gem-c-related-navigation__toggle-more js-hidden" aria-live="polite" role="region" aria-hidden="true">
                                        
                                        <div class="gem-c-related-navigation__hidden-sub-section">
                                            <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar gem-c-related-navigation__section-link--other" href="https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2019-to-2020"><abbr title="Dedicated Schools Grant">DSG</abbr>: pupil number tool 2019 to 2020</a>
                                        </div>

                                        <div class="gem-c-related-navigation__hidden-sub-section-last">
                                            <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar gem-c-related-navigation__section-link--other" href="https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2019-to-2020/dedicated-schools-grant-technical-note-2019-to-2020"><abbr title="Dedicated Schools Grant">DSG</abbr>: technical note 2019 to 2020</a>
                                        </div>

                                    </span>
                                </li>
                            </ul>
                        </div>
                
                    </div>
                
                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">PE and sport premium for academic year 2018 to 2019</span>
                                    <span class="govuk-accordion__heading-number-right">£850,660</span>
                                    <!-- <span class="govuk-accordion__heading-number-right">
                                        <span class="variance-heading">up £1,000</span>
                                    </span> -->
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £850,660
                                    <br>
                                    <!-- <span class="variance-heading">up £1,000</span>
                                    <br> -->
                                </span>
                                Published April 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            <p class="lede bold-lede"><a href="pe-and-sport/full-funding-allocation">View funding details</a></p>
                            <h3 class="heading-medium">Previous versions</h3>
                            <p>To view all versions of this allocation for the academic year 2018 to 2019:</p>
                            <ul class="form-group">
                                <li><a href="#">View breakdowns</a></li>
                                <li><a href="pe-and-sport/download-funding">Download an allocation</a></li>
                            </ul>
                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <!-- <li><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-conditions-of-grant-2018-to-2019/pe-and-sport-premium-conditions-of-grant-2018-to-2019-academies">PE and sport premium: conditions of grant 2018 to 2019 (academies)</a></li> -->
                                <li><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-conditions-of-grant-2018-to-2019/pe-and-sport-premium-conditions-of-grant-2018-to-2019-local-authorities-and-maintained-schools">PE and sport premium: conditions of grant 2018 to 2019 (local authorities and maintained schools)</a></li>
                            </ul>
                        </div>
                
                    </div>

                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Pupil premium for financial year 2019 to 2020</span>
                                    <span class="govuk-accordion__heading-number-right">£2,279,658</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £2,279,658
                                    <br>
                                </span>
                                Published March 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            <p class="lede bold-lede"><a href="#">View funding details</a></p>
                            <h3 class="heading-medium">Previous versions</h3>
                            <p>To view all versions of this allocation for the financial year 2019 to 2020:</p>
                            <ul class="form-group">
                                <li><a href="#">View breakdowns</a></li>
                                <li><a href="dedicated-schools-grant/download-funding">Download an allocation</a></li>
                            </ul>
                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <li><a href="https://www.gov.uk/government/publications/pupil-premium-conditions-of-grant-2018-to-2019/pupil-premium-2018-to-2019-conditions-of-grant">Pupil premium 2018 to 2019: conditions of grant</a></li>
                            </ul>
                        </div>
                
                    </div>

                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Year 7 literacy and numeracy catch-up premium for financial year 2019 to 2020</span>
                                    <span class="govuk-accordion__heading-number-right">£102,572</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £102,572
                                    <br>
                                </span>
                                Published February 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            <p class="lede bold-lede"><a href="#">View funding details</a></p>
                            <h3 class="heading-medium">Previous versions</h3>
                            <p>To view all versions of this allocation for the financial year 2019 to 2020:</p>
                            <ul class="form-group">
                                <li><a href="#">View breakdowns</a></li>
                                <li><a href="7-year-catch-up/download-funding">Download an allocation</a></li>
                            </ul>
                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <li><a href="https://www.gov.uk/government/publications/year-7-literacy-and-numeracy-catch-up-premium-2018-to-2019/year-7-literacy-and-numeracy-catch-up-premium-2018-to-2019-conditions-of-grant">Year 7 literacy and numeracy catch-up premium: 2018 to 2019 conditions of grant</a></li>
                                <li><a href="https://www.gov.uk/guidance/year-7-literacy-and-numeracy-catch-up-premium-guide-for-schools">Year 7 literacy and numeracy catch-up premium: guide for schools</a></li>
                            </ul>
                        </div>
                
                    </div>
                
                </div>
                <!-- Accordion section to display the data within the single funding statement (END) -->
                <!-- LA - Dynamic content (END) -->
                {% else %}
                <!-- DEFAULT VIEW - when all session variables fail (START) -->
                <h1 class="heading-xlarge">St Mary's Kilburn Church of England Primary School</h1>

                <!-- Accordion section to display the data within the single funding statement (START) -->
                <div class="govuk-accordion" data-module="accordion" id="accordion-default">
                
                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">PE and sport premium for academic year 2018 to 2019</span>
                                    <span class="govuk-accordion__heading-number-right">
                                        £17,720
                                    </span>
                                    <!-- <span class="govuk-accordion__heading-number-right">
                                        <span class="variance-heading">up £1,000</span>
                                    </span> -->
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £17,720
                                    <br>
                                    <!-- <span class="variance-heading">up £1,000</span>
                                    <br> -->
                                </span>
                                Published April 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            <p class="lede bold-lede"><a href="pe-and-sport/full-funding-allocation">View funding details</a></p>
                            <!-- <h3 class="heading-medium">Previous allocations</h3> -->
                            <p><a href="pe-and-sport/download-funding">View previous versions of this funding</a></p>
                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <!-- <li><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-conditions-of-grant-2018-to-2019/pe-and-sport-premium-conditions-of-grant-2018-to-2019-academies">PE and sport premium: conditions of grant 2018 to 2019 (academies)</a></li> -->
                                <li><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-conditions-of-grant-2018-to-2019/pe-and-sport-premium-conditions-of-grant-2018-to-2019-local-authorities-and-maintained-schools">PE and sport premium: conditions of grant 2018 to 2019 (local authorities and maintained schools)</a></li>
                            </ul>
                        </div>
                
                    </div>

                    <div class="govuk-accordion__section ">
                
                        <div class="govuk-accordion__section-header govuk-accordion__single-funding-statement-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                    <span class="govuk-accordion__heading-text-left">Pupil premium for financial year 2019 to 2020</span>
                                    <span class="govuk-accordion__heading-number-right">£112,200</span>
                                </span>
                            </h2>

                            <div class="govuk-accordion__section-summary" id="accordion-with-summary-sections-summary-1">
                                <span class="hidden-sub-section">
                                    £112,200
                                    <br>
                                </span>
                                Published March 2019
                            </div>

                        </div>
                
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                            <h3 class="heading-medium">Funding</h3>
                            <p class="lede bold-lede"><a href="#">View funding details</a></p>
                            <h3 class="heading-medium">Previous versions</h3>
                            <p>To view all versions of this allocation for the financial year 2019 to 2020:</p>
                            <ul class="form-group">
                                <li><a href="#">View breakdowns</a></li>
                                <li><a href="pupil-premium/download-funding">Download an allocation</a></li>
                            </ul>
                            <h3 class="heading-medium heading-guidance">Guidance</h3>
                            <ul class="list">
                                <li><a href="https://www.gov.uk/government/publications/pupil-premium-conditions-of-grant-2018-to-2019/pupil-premium-2018-to-2019-conditions-of-grant">Pupil premium 2018 to 2019: conditions of grant</a></li>
                            </ul>
                        </div>
                
                    </div>
                
                </div>
                <!-- Accordion section to display the data within the single funding statement (END) -->
                <!-- DEFAULT VIEW - when all session variables fail (END) -->
                {% endif %}

            </form>
        
        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- GOV.UK Design System accordion -->
<script src="/public/javascripts/{{version}}/accordion.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
