{% extends "layout.html" %}

{% block page_title %}
	Accordion
{% endblock %}

{% block content %}

<style>

	/* Added to the GOV.UK grid layout ('three-quarters') so it displays in all browsers correctly */
	.govuk-grid-column-three-quarters {
		display: inline-table;
	}
	/* iFrame for showing examples of the design components */
	.app-example-wrapper {
		margin-top: 20px;
		margin-bottom: 20px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.25;
	}
	@media (min-width: 40.0625em) {
		.app-example-wrapper {
			margin-top: 30px;
		}
	}
	@media (min-width: 40.0625em) {
		.app-example-wrapper {
			margin-bottom: 30px;
		}
	}
	@media print {
		.app-example-wrapper {
			font-family: sans-serif;
		}
	}
	@media (min-width: 40.0625em) {
		.app-example-wrapper {
			font-size: 19px;
			line-height: 1.31579;
		}
	}
	@media print {
		.app-example-wrapper {
			font-size: 14pt;
			line-height: 1.15;
		}
	}
	.app-example {
		position: relative;
		border: 1px solid #b1b4b6;
		background: #f3f2f1;
	}
	.app-example--tabs {
		margin-bottom: 0;
	}
	@media (min-width: 40.0625em) {
		.app-example--tabs {
			margin-bottom: 0;
		}
	}
	@media (min-width: 48.0625em) {
		.app-example--tabs {
			margin-bottom: -1px;
		}
	}
	.app-example__new-window {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		padding: 5px 10px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.25;
		background: #f3f2f1;
		text-decoration: none;
	}
	@media print {
		.app-example__new-window {
			font-family: sans-serif;
		}
	}
	@media (min-width: 40.0625em) {
		.app-example__new-window {
			font-size: 14px;
			line-height: 1.42857;
		}
	}
	@media print {
		.app-example__new-window {
			font-size: 12pt;
			line-height: 1.2;
		}
	}
	.app-prose-scope .app-example__new-window:focus {
		-webkit-box-shadow: 0 4px 0 0 #0b0c0c;
		box-shadow: 0 4px 0 0 #0b0c0c;
	}
	.app-example__frame {
		display: block;
		width: 100%;
		max-width: 100%;
		border: 0;
		border-right: 1px solid #b1b4b6;
		background: #fff;
	}
	.app-example__iframe,
	.app-example__frame--xs {
		height: 150px;
	}
	.app-example__frame--s {
		height: 250px;
	}
	.app-example__frame--m {
		height: 350px;
	}
	.app-example__frame--l {
		height: 450px;
	}
	.app-example__frame--xl {
		height: 550px;
	}
	.app-example__frame--resizable {
		width: 1px;
		min-width: 100%;
		min-height: 60px;
		overflow: auto;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	@media (min-width: 48.0625em) {
		.app-example__frame--resizable {
			resize: both;
		}
	}
	.app-example__frame--xl {
		height: 550px;
	}

</style>

<main id="content" role="main">

	<!-- ESFA banner - START -->
	{% include "includes/esfa_banner.html" %}
	<!-- ESFA banner - END -->

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-quarter app-hide-mobile">
			
			<nav class="app-subnav">
				<ul class="app-subnav__section">
					<li class="app-subnav__section-item app-subnav__section-item--current">
						<a class="app-subnav__link" href="accordion">Accordion</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="cards">Cards</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="download-a-document">Download a document</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="esfa-banner">ESFA banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="filters">Filters</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-table">Funding table</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-total-section">Funding total section</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="icons">Icons</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="pagination">Pagination</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="search">Search</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="tabs">Tabs</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="tags">Tags</a>
					</li>
				</ul>
			</nav>

		</div>

		<div class="govuk-grid-column-three-quarters">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Component library</span>
				Accordion
			</h1>
			<p>The accordion component lets users show and hide sections of related content on a page.</p>

			<!-- Example CODE snippet (START) -->
			<div class="app-example-wrapper" id="accordion-example" data-module="app-tabs">
			
				<div class="app-example app-example--tabs">
					<a href="examples/accordion" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">accordion</span> example in a new window</a>
					<iframe title="Accordion example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/accordion" frameborder="0" loading="lazy" id="iFrameResizer0" scrolling="no"></iframe>
				</div>


			
			</div>
			<!-- Example CODE snippet (END) -->

			<div class="form-group">
				<h2 class="heading-medium">When to use this component</h2>
				<p>...</p>
				<h2 class="heading-medium">When not to use this component</h2>
				<p>...</p>
				<h2 class="heading-medium">Accordions, tabs and details</h2>
				<p>...</p>
				<h2 class="heading-medium">How it works</h2>
				<p>...</p>
			</div>

			<div class="app-pane__subnav-mobile-overview app-hide-desktop app-hide-tablet govuk-!-padding-top-4">
			
				<nav class="app-subnav">
					<ul class="app-subnav__section">
						<li class="app-subnav__section-item mobile-app-subnav__section-item--current">
							<a class="app-subnav__link" href="accordion">Accordion</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="cards">Cards</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="download-a-document">Download a document</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="esfa-banner">ESFA banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="filters">Filters</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-table">Funding table</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-total-section">Funding total section</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="icons">Icons</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="pagination">Pagination</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="search">Search</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="tabs">Tabs</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="tags">Tags</a>
						</li>
					</ul>
				</nav>
			
			</div>

		</div>

		<div class="column-full back-to-top">

			<div class="form-block direction-rtl">
				<a class="app-c-back-to-top dont-print" href="#content">
					<svg role="presentation" focusable="false" class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
						<path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
					</svg>Back to top
				</a>
			</div>

		</div>

	</div>

</main>

<!-- JavaScript (START) -->
<!-- iFrame resizer tool taken from David J. Bradshaw (https://github.com/davidjbradshaw/iframe-resizer) -->
<script src="/public/javascripts/iframeResizer.min.js"></script>
<script>

	iFrameResize({ log: true }, '#iFrameResizer0')

</script>
<!-- JavaScript (END) -->

{% endblock %}
