{% extends "layouts/main.html" %}

{% block page_title %}
	Back to top link
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- ESFA banner - START -->
	{% include "includes/esfa_banner.html" %}
	<!-- ESFA banner - END -->

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-quarter app-hide-mobile">
			
			<nav class="app-subnav">
				<ul class="app-subnav__section">
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="accordion">Accordion</a>
					</li>
					<li class="app-subnav__section-item app-subnav__section-item--current">
						<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="card">Card</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="download-a-document">Download a document</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-header">Funding header</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-table">Funding table</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-totals">Funding totals</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="icons">Icons</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="links">Links</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="pagination">Pagination</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="search">Search</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="tag">Tag</a>
					</li>
				</ul>
			</nav>

		</div>

		<div class="govuk-grid-column-three-quarters">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Component library</span>
				Back to top link
			</h1>

			<div class="app-prose-scope">
				<p>A link to help users quickly navigate back to the top of pages when they reach the bottom.</p>
				<p>This component is not currently in the GOV.UK design system, but is in their <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/5">GitHub backlog</a>.</p>
				<p>The back to top link is used across all of our services, an example can be found on <a href="/{{latestVersionDocumentExchange}}/signed-in/external/document-exchange/parent/received-from-esfa?paginationRequired=true&page1=true"><abbr title="Manage your education and skills funding">MYESF</abbr> document exchange</a>.</p>

				<!--
				Example CODE snippet (START)
				*** BACK TO TOP LINK: STAND ALONE ***
				-->
				<div class="app-example-wrapper" id="back-to-top-link-stand-alone-example1" data-module="app-tabs">
					
					<div class="app-example app-example--tabs">
						<a href="examples/back-to-top-link-stand-alone" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">back to top link</span> example in a new window</a>
						<iframe title="Back to top link example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/back-to-top-link-stand-alone" frameborder="0" loading="lazy" id="iFrameResizer0" scrolling="no"></iframe>
					</div>

					<span id="options-back-to-top-link-stand-alone-example1"></span>
					<ul class="app-tabs" role="tablist">
						<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#back-to-top-link-stand-alone-example1-html" role="tab" aria-controls="back-to-top-link-stand-alone-example1-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
            <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#back-to-top-link-stand-alone-example1-css" role="tab" aria-controls="back-to-top-link-stand-alone-example1-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
					</ul>

					<div class="app-tabs__heading js-tabs__heading">
						<a href="#back-to-top-link-stand-alone-example1-html" role="tab" aria-controls="back-to-top-link-stand-alone-example1-html" data-track="tab-html" aria-expanded="false">HTML</a>
					</div>
					
					<!-- HTML Code Tab (START) -->
					<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="back-to-top-link-stand-alone-example1-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group direction-rtl"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"app-c-back-to-top dont-print"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"content"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"app-c-back-to-top__icon"</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"13"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"17"</span> <span class="hljs-attr">viewBox</span>=<span class="hljs-string">"0 0 13 17"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">path</span> <span class="hljs-attr">fill</span>=<span class="hljs-string">"currentColor"</span> <span class="hljs-attr">d</span>=<span class="hljs-string">"M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">path</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>
    Back to top
  <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
					</div>
					<!-- HTML Code Tab (END) -->

					<div class="app-tabs__heading js-tabs__heading">
						<a href="#back-to-top-link-stand-alone-example1-css" role="tab" aria-controls="back-to-top-link-stand-alone-example1-css" data-track="tab-css" aria-expanded="false">CSS</a>
					</div>

					<!-- CSS Code Tab (START) -->
					<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="back-to-top-link-stand-alone-example1-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.direction-rtl &#123;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">direction</span></span></span></span>: <span class="hljs-string">rtl</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">text-align</span></span></span></span>: <span class="hljs-string">start</span>;
&#125;

.app-c-back-to-top &#123;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">font-family</span></span></span></span>: <span class="hljs-string">nta, Arial, sans-serif</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">font-weight</span></span></span></span>: <span class="hljs-string">400</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">text-transform</span></span></span></span>: <span class="hljs-string">none</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">font-size</span></span></span></span>: <span class="hljs-string">14px</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">line-height</span></span></span></span>: <span class="hljs-string">1.14286</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">display</span></span></span></span>: <span class="hljs-string">inline-block</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">margin-bottom</span></span></span></span>: <span class="hljs-string">15px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .app-c-back-to-top &#123;
    <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">16px</span>;
    <span class="hljs-tag"><span class="hljs-attr">line-height</span></span>: <span class="hljs-string">1.25</span>;
  &#125;
&#125;

.app-c-back-to-top__icon &#123;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">float</span></span></span></span>: <span class="hljs-string">left</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">margin-right</span></span></span></span>: <span class="hljs-string">0.3em</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">width</span></span></span></span>: <span class="hljs-string">0.8em</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">height</span></span></span></span>: <span class="hljs-string">0.968em</span>;
&#125;</code></pre>
					</div>
          <!-- CSS Code Tab (END) -->
					
				</div>
				<!--
				Example CODE snippet (END) 
				*** BACK TO TOP LINK: STAND ALONE ***
				-->

				<div class="form-group">
					<h2 class="heading-large first-sub-heading">When to use this component</h2>
					<p>This component should be used to help users navigate back to the top of long pages.</p>
					<h2 class="heading-large">When not to use this component</h2>
					<p>Do not use this component anywhere other than the bottom of the page.</p>
					<h2 class="heading-large">How it works</h2>
					<p>This component can be dynamically hidden or shown on pages where list items or content length can change. Across our services, the back to top link should be shown:</p>
					<ul class="list list-bullet">
						<li>any time that <a href="pagination">pagination</a> is triggered</li>
						<li>if there are more than 25 listed items on any page where pagination is not recommended (e.g. <a href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/pe-and-sport/funding-breakdown/5-10-2019?searchScope=LA">view latest funding</a>)</li>
					</ul>
					<h3 id="back-to-top-link-with-pagination" class="heading-medium">With pagination</h3>
					<p>Use this type of the component:</p>
					<ul class="list list-bullet">
						<li>whenever pagination is triggered on a page</li>
						<li>in conjunction with the <a href="pagination">pagination</a> component</li>
					</ul>
					<p>It should sit below the pagination section on the right hand side, like in the below example.</p>

					<!--
					Example CODE snippet (START)
					*** BACK TO TOP LINK: WITH PAGINATION ***
					-->
					<div class="app-example-wrapper" id="back-to-top-link-with-pagination-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/back-to-top-link-with-pagination?paginationRequired=true&page1=true" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">back to top link</span> example in a new window</a>
							<iframe title="Back to top link example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/back-to-top-link-with-pagination?paginationRequired=true&page1=true" frameborder="0" loading="lazy" id="iFrameResizer2" scrolling="no"></iframe>
						</div>

						<span id="options-back-to-top-link-with-pagination-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#back-to-top-link-with-pagination-example-html" role="tab" aria-controls="back-to-top-link-with-pagination-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
              <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#back-to-top-link-with-pagination-example-css" role="tab" aria-controls="back-to-top-link-with-pagination-example-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
              <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#back-to-top-link-with-pagination-example-javascript" role="tab" aria-controls="back-to-top-link-with-pagination-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#back-to-top-link-with-pagination-example-html" role="tab" aria-controls="back-to-top-link-with-pagination-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="back-to-top-link-with-pagination-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"pager"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"false"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"margin-top: 0px;"</span> <span class="hljs-attr">data-paging</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"pager-controls"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"pager-prev hidden"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span> <span class="hljs-attr">hidden</span>=<span class="hljs-string">"hidden"</span>&gt;</span>Previous<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"pager-items"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>3<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"pager-next"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"false"</span>&gt;</span>Next<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"pager-summary"</span>&gt;</span>Showing 1 to 25 of 52 results<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group direction-rtl"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"app-c-back-to-top dont-print"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"content"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"app-c-back-to-top__icon"</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"13"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"17"</span> <span class="hljs-attr">viewBox</span>=<span class="hljs-string">"0 0 13 17"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">path</span> <span class="hljs-attr">fill</span>=<span class="hljs-string">"currentColor"</span> <span class="hljs-attr">d</span>=<span class="hljs-string">"M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">path</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>
    Back to top
  <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->

						<div class="app-tabs__heading js-tabs__heading">
						<a href="#back-to-top-link-with-pagination-example-css" role="tab" aria-controls="back-to-top-link-with-pagination-example-css" data-track="tab-css" aria-expanded="false">CSS</a>
						</div>

						<!-- CSS Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="back-to-top-link-with-pagination-example-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.pager &#123;
  <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">16px</span>;
  <span class="hljs-tag"><span class="hljs-attr">margin-top</span></span>: <span class="hljs-string">1em</span>;
  <span class="hljs-tag"><span class="hljs-attr">margin-bottom</span></span>: <span class="hljs-string">1.25em</span>;
&#125;

.pager-top &#123;
  <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">16px</span>;
  <span class="hljs-tag"><span class="hljs-attr">margin-bottom</span></span>: <span class="hljs-string">1.25em</span>;
&#125;

.pager-items &#123;
  <span class="hljs-tag"><span class="hljs-attr">display</span></span>: <span class="hljs-string">none</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .pager-items &#123;
    <span class="hljs-tag"><span class="hljs-attr">display</span></span>: <span class="hljs-string">inline</span>;
  &#125;
  .pager-items li &#123;
    <span class="hljs-tag"><span class="hljs-attr">display</span></span>: <span class="hljs-string">inline</span>;
    <span class="hljs-tag"><span class="hljs-attr">margin</span></span>: <span class="hljs-string">0 5px</span>;
  &#125;
  .pager-items li:first-child &#123;
    <span class="hljs-tag"><span class="hljs-attr">margin-left</span></span>: <span class="hljs-string">0</span>;
  &#125;
  .pager-items li:last-child &#123;
    <span class="hljs-tag"><span class="hljs-attr">margin-right</span></span>: <span class="hljs-string">0</span>;
  &#125;
&#125;

.pager-prev, .pager-next &#123;
  <span class="hljs-tag"><span class="hljs-attr">margin-right</span></span>: <span class="hljs-string">10px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .pager-prev, .pager-next &#123;
    <span class="hljs-tag"><span class="hljs-attr">margin-right</span></span>: <span class="hljs-string">0</span>;
  &#125;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .pager-prev &#123;
    <span class="hljs-tag"><span class="hljs-attr">margin-right</span></span>: <span class="hljs-string">10px</span>;
  &#125;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .pager-next &#123;
    <span class="hljs-tag"><span class="hljs-attr">margin-left</span></span>: <span class="hljs-string">10px</span>;
  &#125;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .pager-controls &#123;
    <span class="hljs-tag"><span class="hljs-attr">float</span></span>: <span class="hljs-string">right</span>;
  &#125;
&#125;

.direction-rtl &#123;
  <span class="hljs-tag"><span class="hljs-attr">direction</span></span>: <span class="hljs-string">rtl</span>;
  <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>: <span class="hljs-string">start</span>;
&#125;

.app-c-back-to-top &#123;
  <span class="hljs-tag"><span class="hljs-attr">font-family</span></span>: <span class="hljs-string">nta, Arial, sans-serif</span>;
  <span class="hljs-tag"><span class="hljs-attr">font-weight</span></span>: <span class="hljs-string">400</span>;
  <span class="hljs-tag"><span class="hljs-attr">text-transform</span></span>: <span class="hljs-string">none</span>;
  <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">14px</span>;
  <span class="hljs-tag"><span class="hljs-attr">line-height</span></span>: <span class="hljs-string">1.14286</span>;
  <span class="hljs-tag"><span class="hljs-attr">display</span></span>: <span class="hljs-string">inline-block</span>;
  <span class="hljs-tag"><span class="hljs-attr">margin-bottom</span></span>: <span class="hljs-string">15px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .app-c-back-to-top &#123;
    <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">16px</span>;
    <span class="hljs-tag"><span class="hljs-attr">line-height</span></span>: <span class="hljs-string">1.25</span>;
  &#125;
&#125;

.app-c-back-to-top__icon &#123;
  <span class="hljs-tag"><span class="hljs-attr">float</span></span>: <span class="hljs-string">left</span>;
  <span class="hljs-tag"><span class="hljs-attr">margin-right</span></span>: <span class="hljs-string">0.3em</span>;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">0.8em</span>;
  <span class="hljs-tag"><span class="hljs-attr">height</span></span>: <span class="hljs-string">0.968em</span>;
&#125;</code></pre>
						</div>
            <!-- CSS Code Tab (END) -->
            
            <div class="app-tabs__heading js-tabs__heading">
              <a href="#back-to-top-link-with-pagination-example-javascript" role="tab" aria-controls="back-to-top-link-with-pagination-example-javascript" data-track="tab-css" aria-expanded="false">JavaScript</a>
            </div>
            
            <!-- JavaScript Code Tab (START) -->
            <div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="back-to-top-link-with-pagination-example-javascript" role="tabpanel" aria-hidden="true">
              <p>To offer users a dynamic client side pagination experience, you can reference this example JavaScript file named <a href="/public/javascripts/{{latestVersion}}/dynamic-pagination-for-divs.js" title="Download dynamic-pagination-for-divs.js" download="">dynamic-pagination-for-divs.js</a>.</p>
              <p>You will then need to add a reference to this file on any HTML pages which need pagination. You will also need to pass in 5 mandatory parameters, as shown in the example below:</p>
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag"><span class="hljs-attr">$</span></span>(<span class="hljs-name">document</span>)<span class="hljs-tag"><span class="hljs-attr">.ready</span></span>(<span class="hljs-symbol">function</span> () {
  
    <span class="hljs-symbol">dynamicPagination</span>(
      <span class="hljs-tag"><span class="hljs-attr">// Total items (totalListCount)</span></span>
      <span class="hljs-string">52</span>,
      <span class="hljs-tag"><span class="hljs-attr">// Boolean whether to clear down the session data or not (clearLocalStorage)</span></span>
      <span class="hljs-string">true</span>,
      <span class="hljs-tag"><span class="hljs-attr">// How many items to show per page (itemsPerPage)</span></span>
      <span class="hljs-string">25</span>,
      <span class="hljs-tag"><span class="hljs-attr">// What to name the thing (singular) being displayed (itemTypeLabel)</span></span>
      <span class="hljs-string">"result"</span>,
      <span class="hljs-tag"><span class="hljs-attr">// What to name the things (plural) being displayed (itemTypeLabelPlural)</span></span>
      <span class="hljs-string">"results"</span>
    );
  
  });</code></pre>
            </div>
            <!-- JavaScript Code Tab (END) -->
              
					</div>
					<!--
					Example CODE snippet (END) 
					*** BACK TO TOP LINK: WITH PAGINATION ***
					-->

					<h3 id="back-to-top-link-stand-alone" class="heading-medium">Stand alone</h3>
					<p>There are some instances when pagination is not required on a page, but having a back to top link is. For example, if users are viewing a funding statement page (e.g. <a href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/pe-and-sport/funding-breakdown/5-10-2019?searchScope=LA">view latest funding</a>) then we do not trigger pagination but still provide users with a back to top link. If any page has more than 25 listed items on it, then users will still need a back to top link.</p>

					<!--
					Example CODE snippet (START)
					*** BACK TO TOP LINK: STAND ALONE ***
					-->
					<div class="app-example-wrapper" id="back-to-top-link-stand-alone-example2" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/back-to-top-link-stand-alone" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">back to top link</span> example in a new window</a>
							<iframe title="Back to top link example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/back-to-top-link-stand-alone" frameborder="0" loading="lazy" id="iFrameResizer1" scrolling="no"></iframe>
						</div>

						<span id="options-back-to-top-link-stand-alone-example2"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#back-to-top-link-stand-alone-example2-html" role="tab" aria-controls="back-to-top-link-stand-alone-example2-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
              <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#back-to-top-link-stand-alone-example2-css" role="tab" aria-controls="back-to-top-link-stand-alone-example2-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#back-to-top-link-stand-alone-example2-html" role="tab" aria-controls="back-to-top-link-stand-alone-example2-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="back-to-top-link-stand-alone-example2-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group direction-rtl"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"app-c-back-to-top dont-print"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"content"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">svg</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"app-c-back-to-top__icon"</span> <span class="hljs-attr">xmlns</span>=<span class="hljs-string">"http://www.w3.org/2000/svg"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"13"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"17"</span> <span class="hljs-attr">viewBox</span>=<span class="hljs-string">"0 0 13 17"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">path</span> <span class="hljs-attr">fill</span>=<span class="hljs-string">"currentColor"</span> <span class="hljs-attr">d</span>=<span class="hljs-string">"M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">path</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">svg</span>&gt;</span>
    Back to top
  <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#back-to-top-link-stand-alone-example2-css" role="tab" aria-controls="back-to-top-link-stand-alone-example2-css" data-track="tab-css" aria-expanded="false">CSS</a>
						</div>

						<!-- CSS Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="back-to-top-link-stand-alone-example2-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.direction-rtl &#123;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">direction</span></span></span></span>: <span class="hljs-string">rtl</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">text-align</span></span></span></span>: <span class="hljs-string">start</span>;
&#125;

.app-c-back-to-top &#123;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">font-family</span></span></span></span>: <span class="hljs-string">nta, Arial, sans-serif</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">font-weight</span></span></span></span>: <span class="hljs-string">400</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">text-transform</span></span></span></span>: <span class="hljs-string">none</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">font-size</span></span></span></span>: <span class="hljs-string">14px</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">line-height</span></span></span></span>: <span class="hljs-string">1.14286</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">display</span></span></span></span>: <span class="hljs-string">inline-block</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">margin-bottom</span></span></span></span>: <span class="hljs-string">15px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .app-c-back-to-top &#123;
    <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">16px</span>;
    <span class="hljs-tag"><span class="hljs-attr">line-height</span></span>: <span class="hljs-string">1.25</span>;
  &#125;
&#125;

.app-c-back-to-top__icon &#123;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">float</span></span></span></span>: <span class="hljs-string">left</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">margin-right</span></span></span></span>: <span class="hljs-string">0.3em</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">width</span></span></span></span>: <span class="hljs-string">0.8em</span>;
  <span class="hljs-tag"><span class="hljs-attr"><span class="hljs-tag"><span class="hljs-attr">height</span></span></span></span>: <span class="hljs-string">0.968em</span>;
&#125;</code></pre>
						</div>
            <!-- CSS Code Tab (END) -->
							
					</div>
					<!--
					Example CODE snippet (END) 
					*** BACK TO TOP LINK: STAND ALONE ***
					-->

					<h2 class="heading-large">Research on this component</h2>
					<p>Users have utilised this link on numerous occasions during testing when navigating back to the top of the page.</p> 
					<p>Excessive scrolling has been identified by past research participants as a frustration and obstacle to retrieving data or continuing their journey.</p>
					<h2 class="heading-large">Linked components</h2>
					<ul class="list">
						<li><a href="filter-a-list">Filter a list</a></li>
						<li><a href="pagination">Pagination</a></li>
					</ul>
				</div>

			</div>

			<div class="app-pane__subnav-mobile-overview app-hide-desktop app-hide-tablet govuk-!-padding-top-4">
			
				<nav class="app-subnav">
					<ul class="app-subnav__section">
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="accordion">Accordion</a>
						</li>
						<li class="app-subnav__section-item mobile-app-subnav__section-item--current">
							<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="card">Card</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="download-a-document">Download a document</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-header">Funding header</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-table">Funding table</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-totals">Funding totals</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="icons">Icons</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="links">Links</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="pagination">Pagination</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="search">Search</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="tag">Tag</a>
						</li>
					</ul>
				</nav>
			
			</div>

		</div>

		<div class="column-full back-to-top">

			<div class="form-block direction-rtl">
				<a class="app-c-back-to-top dont-print" href="#content">
					<svg role="presentation" focusable="false" class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
						<path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
					</svg>Back to top
				</a>
			</div>

		</div>

	</div>

</main>

<!-- JavaScript (START) -->
<!-- iFrame resizer tool taken from David J. Bradshaw (https://github.com/davidjbradshaw/iframe-resizer) -->
<script src="/public/javascripts/iframeResizer.min.js"></script>
<script>

  iFrameResize({
      log: true
  }, '.iFrameResizer')

</script>
<!-- GOV.UK Design System JavaScript -->
<script src="/public/javascripts/design-system.js"></script>
<!-- Copy and paste code from the UI -->
<script type="text/javascript" id="">
    
  function getSelectionText() {

    var a = "";

    window.getSelection ? a = window.getSelection().toString() : document.selection && "Control" != document.selection.type && (a = document.selection.createRange().text);
    return a
  }

  document.addEventListener("copy", function(a) {
    dataLayer.push({
        event: "textCopied",
        clipboardText: getSelectionText(),
        clipboardLength: getSelectionText().length
    })
  });
    
</script>
<!-- JavaScript (END) -->

{% endblock %}
