{% extends "layout.html" %}

{% block page_title %}
	Funding totals
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- ESFA banner - START -->
	{% include "includes/esfa_banner.html" %}
	<!-- ESFA banner - END -->

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-quarter app-hide-mobile">
			
			<nav class="app-subnav">
				<ul class="app-subnav__section">
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="accordion">Accordion</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="card">Card</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="download-a-document">Download a document</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-header">Funding header</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-table">Funding table</a>
					</li>
					<li class="app-subnav__section-item app-subnav__section-item--current">
						<a class="app-subnav__link" href="funding-totals">Funding totals</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="icons">Icons</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="links">Links</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="pagination">Pagination</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="search">Search</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="tag">Tag</a>
					</li>
				</ul>
			</nav>

		</div>

		<div class="govuk-grid-column-three-quarters">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Component library</span>
				Funding totals
			</h1>

			<div class="app-prose-scope">
				<p>A custom styled typography which is used to give headline funding totals.</p>
				<p>View more general guidelines on this component in the <a href="https://design-system.service.gov.uk/styles/typography/">GOV.UK design system</a>.</p>
				<p>The funding total section is used as a way of displaying totals in <a href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/dedicated-schools-grant/funding-breakdown/17-12-2019">view latest funding</a>.</p>

				<!--
				Example CODE snippet (START) 
				*** FUNDING TOTALS: GRAND TOTAL ***
				-->
				<div class="app-example-wrapper" id="funding-totals-example1" data-module="app-tabs">
				
					<div class="app-example app-example--tabs">
						<a href="examples/funding-totals-grand-total" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">signed-in account banner</span> example in a new window</a>
						<iframe title="Funding totals example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/funding-totals-grand-total" frameborder="0" loading="lazy" id="iFrameResizer0" scrolling="no"></iframe>
					</div>

					<span id="options-funding-totals-example1"></span>
					<ul class="app-tabs" role="tablist">
						<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#funding-totals-example1-html" role="tab" aria-controls="funding-totals-example1-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
						<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#funding-totals-example1-css" role="tab" aria-controls="funding-totals-example1-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
					</ul>

					<div class="app-tabs__heading js-tabs__heading">
						<a href="#funding-totals-example1-html" role="tab" aria-controls="funding-totals-example1-html" data-track="tab-html" aria-expanded="false">HTML</a>
					</div>
				
					<!-- HTML Code Tab (START) -->
					<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="funding-totals-example1-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-wrapper"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-label"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"heading-medium"</span>&gt;</span>Total early years block<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-amount"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"heading-medium"</span>&gt;</span>£17,734,009<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
					</div>
					<!-- HTML Code Tab (END) -->

					<div class="app-tabs__heading js-tabs__heading">
						<a href="#funding-totals-example1-css" role="tab" aria-controls="funding-totals-example1-css" data-track="tab-css" aria-expanded="false">CSS</a>
					</div>

					<!-- CSS Code Tab (START) -->
					<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="funding-totals-example1-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.total-allocation-wrapper &#123;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">100%</span>;
  <span class="hljs-tag"><span class="hljs-attr">display</span></span>: <span class="hljs-string">inline-block</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-wrapper &#123;
    <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>: <span class="hljs-string">10px</span>;
  &#125;
&#125;

.total-allocation-label &#123;
  <span class="hljs-tag"><span class="hljs-attr">float</span></span>: <span class="hljs-string">left</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-label &#123;
    <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">50%</span>;
  &#125;
&#125;

.total-allocation-amount &#123;
  <span class="hljs-tag"><span class="hljs-attr">clear</span></span>: <span class="hljs-string">left</span>;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">100%</span>;
  <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>: <span class="hljs-string">inherit</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-amount &#123;
    <span class="hljs-tag"><span class="hljs-attr">clear</span></span>: <span class="hljs-string">none</span>;
    <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>: <span class="hljs-string">right</span>;
  &#125;
&#125;</code></pre>
					</div>
					<!-- CSS Code Tab (END) -->

				</div>
				<!--
				Example CODE snippet (END) 
				*** FUNDING TOTALS: GRAND TOTAL ***
				-->

				<div class="form-group">
					<h2 class="heading-large first-sub-heading">When to use this component</h2>
					<p>This component can be used to show important totals to users.</p>
					<h2 class="heading-large">When not to use this component</h2>
					<p>Do not use this component on the same page as a lot of other headings of similar size. This can confuse the user and reduce its visibility on the page.</p>
					<h2 class="heading-large">How it works</h2>
					<h3 class="heading-medium">Grand total</h3>
					<p>When displaying the total for an entire funding level, section or block then use this version of the component to display a funding total. For example, on <a href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/dedicated-schools-grant/funding-breakdown/17-12-2019#early-years">view latest funding</a> we display the grand total for each block of the dedicated school grant with this type of funding total.</p>
					<p>This is the default design type of this component to use for displaying funding totals figures to end users in <abbr title="Manage your education and skills funding">MYESF</abbr>. Use this type whenever possible for displaying funding totals to users in the service.</p>
          
          <!--
					Example CODE snippet (START) 
					*** FUNDING TOTALS: GRAND TOTAL ***
					-->
					<div class="app-example-wrapper" id="funding-totals-example2" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/funding-totals-grand-total" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">signed-in account banner</span> example in a new window</a>
							<iframe title="Funding totals example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/funding-totals-grand-total" frameborder="0" loading="lazy" id="iFrameResizer1" scrolling="no"></iframe>
						</div>

						<span id="options-funding-totals-example2"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#funding-totals-example2-html" role="tab" aria-controls="funding-totals-example2-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#funding-totals-example2-css" role="tab" aria-controls="funding-totals-example2-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#funding-totals-example2-html" role="tab" aria-controls="funding-totals-example2-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="funding-totals-example2-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-wrapper"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-label"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"heading-medium"</span>&gt;</span>Total early years block<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-amount"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"heading-medium"</span>&gt;</span>£17,734,009<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#funding-totals-example2-css" role="tab" aria-controls="funding-totals-example2-css" data-track="tab-css" aria-expanded="false">CSS</a>
						</div>

						<!-- CSS Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="funding-totals-example2-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.total-allocation-wrapper &#123;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">100%</span>;
  <span class="hljs-tag"><span class="hljs-attr">display</span></span>: <span class="hljs-string">inline-block</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-wrapper &#123;
    <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>: <span class="hljs-string">10px</span>;
  &#125;
&#125;

.total-allocation-label &#123;
  <span class="hljs-tag"><span class="hljs-attr">float</span></span>: <span class="hljs-string">left</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-label &#123;
    <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">50%</span>;
  &#125;
&#125;

.total-allocation-amount &#123;
  <span class="hljs-tag"><span class="hljs-attr">clear</span></span>: <span class="hljs-string">left</span>;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">100%</span>;
  <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>: <span class="hljs-string">inherit</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-amount &#123;
    <span class="hljs-tag"><span class="hljs-attr">clear</span></span>: <span class="hljs-string">none</span>;
    <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>: <span class="hljs-string">right</span>;
  &#125;
&#125;</code></pre>
						</div>
						<!-- CSS Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END)
					*** FUNDING TOTALS: GRAND TOTAL ***
					-->

					<h3 class="heading-medium">Sub total</h3>
					<p>In some circumstances on <abbr title="Manage your education and skills funding">MYESF</abbr>, we also need to display totals for funding sections that are nested within another funding section. For example, like we do on <a href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/dedicated-schools-grant/funding-breakdown/17-12-2019#high-needs">view latest funding</a> for the high needs deductions total.</p>

					<!--
					Example CODE snippet (START) 
					*** FUNDING TOTALS: SUB TOTAL ***
					-->
					<div class="app-example-wrapper" id="funding-totals-example3" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/funding-totals-sub-total" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">signed-in account banner</span> example in a new window</a>
							<iframe title="Funding totals example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/funding-totals-sub-total" frameborder="0" loading="lazy" id="iFrameResizer2" scrolling="no"></iframe>
						</div>

						<span id="options-funding-totals-example3"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#funding-totals-example3-html" role="tab" aria-controls="funding-totals-example3-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#funding-totals-example3-css" role="tab" aria-controls="funding-totals-example3-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#funding-totals-example3-html" role="tab" aria-controls="funding-totals-example3-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="funding-totals-example3-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-wrapper"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-label"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"heading-small no-margin-top"</span>&gt;</span>Total early years block<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-amount"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"heading-small no-margin-top"</span>&gt;</span>£17,734,009<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#funding-totals-example3-css" role="tab" aria-controls="funding-totals-example3-css" data-track="tab-css" aria-expanded="false">CSS</a>
						</div>

						<!-- CSS Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="funding-totals-example3-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.total-allocation-wrapper &#123;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">100%</span>;
  <span class="hljs-tag"><span class="hljs-attr">display</span></span>: <span class="hljs-string">inline-block</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-wrapper &#123;
    <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>: <span class="hljs-string">10px</span>;
  &#125;
&#125;

.total-allocation-label &#123;
  <span class="hljs-tag"><span class="hljs-attr">float</span></span>: <span class="hljs-string">left</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-label &#123;
    <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">50%</span>;
  &#125;
&#125;

.total-allocation-amount &#123;
  <span class="hljs-tag"><span class="hljs-attr">clear</span></span>: <span class="hljs-string">left</span>;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">100%</span>;
  <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>: <span class="hljs-string">inherit</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-amount &#123;
    <span class="hljs-tag"><span class="hljs-attr">clear</span></span>: <span class="hljs-string">none</span>;
    <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>: <span class="hljs-string">right</span>;
  &#125;
&#125;

.no-margin-top &#123;
  <span class="hljs-tag"><span class="hljs-attr">margin-top</span></span>: <span class="hljs-string">0px !important</span>;
&#125;</code></pre>
						</div>
						<!-- CSS Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END) 
					*** FUNDING TOTALS: SUB TOTAL ***
          -->
          
					<h3 id="funding-totals-with-variance" class="heading-medium">With variance</h3>
					<p>Use this version of the component when you need to show a change in something. For example, on <a href="/{{latestVersionAdults}}/signed-in/external/allocation-statements/general-annual-grant/parent/funding-breakdown-7/12-09-2021"><abbr title="Manage your education and skills funding">MYESF</abbr> allocation statements</a> we use this version to display the total funding amount with an <a href="icons#icons-increase">increase icon</a> to show the funding total has gone up.</p>

					<!--
					Example CODE snippet (START) 
					*** FUNDING TOTALS: WITH VARIANCE ***
					-->
					<div class="app-example-wrapper" id="funding-totals-example4" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/funding-totals-variance" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">signed-in account banner</span> example in a new window</a>
							<iframe title="Funding totals example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/funding-totals-variance" frameborder="0" loading="lazy" id="iFrameResizer1" scrolling="no"></iframe>
						</div>

						<span id="options-funding-totals-example4"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#funding-totals-example4-html" role="tab" aria-controls="funding-totals-example4-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#funding-totals-example4-css" role="tab" aria-controls="funding-totals-example4-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#funding-totals-example4-javascript" role="tab" aria-controls="funding-totals-example4-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#funding-totals-example4-html" role="tab" aria-controls="funding-totals-example4-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="funding-totals-example4-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-wrapper"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-label"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"heading-medium"</span>&gt;</span>Total school budget share<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"total-allocation-amount"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"heading-medium variance-heading-no-margin"</span>&gt;</span>£6,614,038.77<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"variance-text"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-caret-up fa-lg increase"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Increase"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sr-only"</span>&gt;</span>Increase<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span> £45,589.63<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#funding-totals-example4-css" role="tab" aria-controls="funding-totals-example4-css" data-track="tab-css" aria-expanded="false">CSS</a>
						</div>

						<!-- CSS Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="funding-totals-example4-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.total-allocation-wrapper &#123;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>:<span class="hljs-string">"100%"</span>;
  <span class="hljs-tag"><span class="hljs-attr">display</span></span>:<span class="hljs-string">"inline-block"</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>:<span class="hljs-string">"0px"</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-wrapper &#123;
    <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>:<span class="hljs-string">"10px"</span>;
  &#125;
&#125;

.total-allocation-label &#123;
  <span class="hljs-tag"><span class="hljs-attr">float</span></span>:<span class="hljs-string">"left"</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-label &#123;
    <span class="hljs-tag"><span class="hljs-attr">width</span></span>:<span class="hljs-string">"50%"</span>;
  &#125;
&#125;

.total-allocation-amount &#123;
  <span class="hljs-tag"><span class="hljs-attr">clear</span></span>:<span class="hljs-string">"left"</span>;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>:<span class="hljs-string">"100%"</span>;
  <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>:<span class="hljs-string">"inherit"</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .total-allocation-amount &#123;
    <span class="hljs-tag"><span class="hljs-attr">clear</span></span>:<span class="hljs-string">"none"</span>;
    <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>:<span class="hljs-string">"right"</span>;
  &#125;
&#125;

.variance-heading-no-margin&#123;
  <span class="hljs-tag"><span class="hljs-attr">margin-bottom</span></span>: <span class="hljs-string">0px</span>;
&#125;

.variance-text &#123;
  <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">80%</span>;
  <span class="hljs-tag"><span class="hljs-attr">margin-top</span></span>: <span class="hljs-string">0px</span>;
&#125;

.increase &#123;
  <span class="hljs-tag"><span class="hljs-attr">color</span></span>: <span class="hljs-string">#00703c</span>;
&#125;</code></pre>
						</div>
						<!-- CSS Code Tab (END) -->
            
            <div class="app-tabs__heading js-tabs__heading">
              <a href="#funding-totals-example4-javascript" role="tab" aria-controls="funding-totals-example4-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a>
            </div>
	
            <!-- JavaScript Code Tab (START) -->
            <div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="funding-totals-example4-javascript" role="tabpanel" aria-hidden="true">
              <p>This component uses a third party JavaScript library to dynamically generate the optimum CSS for the device utilising it. You will need to reference the following JavaScript resource below:</p>
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://kit.fontawesome.com/71943611db.js"</span> <span class="hljs-attr">crossorigin</span>=<span class="hljs-string">"anonymous"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
            </div>
            <!-- JavaScript Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END) 
					*** FUNDING TOTALS: VARIANCE ***
					-->

					<p>Always try to use the default - grand total - type of this component, to ensure the design is clearer and more consistent for our users.</p>
					<h2 class="heading-large">Research on this component</h2>
					<p>The research findings for this component are in line with that of the funding header.</p>
					<h2 class="heading-large">Linked components</h2>
					<ul class="list">
						<li><a href="icons#icons-variance">Icons (variance)</a></li>
					</ul>
				</div>

			</div>

			<div class="app-pane__subnav-mobile-overview app-hide-desktop app-hide-tablet govuk-!-padding-top-4">
			
				<nav class="app-subnav">
					<ul class="app-subnav__section">
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="accordion">Accordion</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="card">Card</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="download-a-document">Download a document</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-header">Funding header</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-table">Funding table</a>
						</li>
						<li class="app-subnav__section-item mobile-app-subnav__section-item--current">
							<a class="app-subnav__link" href="funding-totals">Funding totals</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="icons">Icons</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="links">Links</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="pagination">Pagination</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="search">Search</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="tag">Tag</a>
							<li><a href="icons#icons-increase">Icons (increase)</a></li>
						</li>
					</ul>
				</nav>
			
			</div>

		</div>

		<div class="column-full back-to-top">

			<div class="form-block direction-rtl">
				<a class="app-c-back-to-top dont-print" href="#content">
					<svg role="presentation" focusable="false" class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
						<path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
					</svg>Back to top
				</a>
			</div>

		</div>

	</div>

</main>

<!-- JavaScript (START) -->
<!-- iFrame resizer tool taken from David J. Bradshaw (https://github.com/davidjbradshaw/iframe-resizer) -->
<script src="/public/javascripts/iframeResizer.min.js"></script>
<script>

  iFrameResize({
      log: true
  }, '.iFrameResizer')

</script>
<!-- GOV.UK Design System JavaScript -->
<script src="/public/javascripts/design-system.js"></script>
<!-- Copy and paste code from the UI -->
<script type="text/javascript" id="">
    
  function getSelectionText() {

    var a = "";

    window.getSelection ? a = window.getSelection().toString() : document.selection && "Control" != document.selection.type && (a = document.selection.createRange().text);
    return a
  }

  document.addEventListener("copy", function(a) {
    dataLayer.push({
        event: "textCopied",
        clipboardText: getSelectionText(),
        clipboardLength: getSelectionText().length
    })
  });
    
</script>
<!-- JavaScript (END) -->

{% endblock %}
