{% extends "layout.html" %}

{% block page_title %}
	Icons
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- ESFA banner - START -->
	{% include "includes/esfa_banner.html" %}
	<!-- ESFA banner - END -->

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-quarter app-hide-mobile">
			
			<nav class="app-subnav">
				<ul class="app-subnav__section">
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="accordion">Accordion</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="card">Card</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="download-a-document">Download a document</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-header">Funding header</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-table">Funding table</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-totals">Funding totals</a>
					</li>
					<li class="app-subnav__section-item app-subnav__section-item--current">
						<a class="app-subnav__link" href="icons">Icons</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="links">Links</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="pagination">Pagination</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="search">Search</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="tag">Tag</a>
					</li>
				</ul>
			</nav>

		</div>

		<div class="govuk-grid-column-three-quarters">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Component library</span>
				Icons
			</h1>

			<div class="app-prose-scope">
				<p>Icons are small visual elements, which can help show a change in something or signpost a call to action.</p>
				<p>This component is not currently in the GOV.UK design system, but is in their <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/24">GitHub backlog</a>.</p>
				<p>Icons are used across all of our services. It can be found on <a href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/dedicated-schools-grant/funding-breakdown/17-12-2019">view latest funding</a> and <a href="/{{latestVersionNFF}}/not-signed-in/view-national-funding-formula-tables/2020-to-2021/statement-st-marys">view national funding formula for schools</a>.</p>
				<p><abbr title="Manage your education and skills funding">MYESF</abbr> currently use the following icons:</p>
				<ul class="list list-bullet">
					<li><a href="#icons-calculation">calculation</a></li>
					<li><a href="#icons-document">document</a></li>
					<li><a href="#icons-variance">variance</a></li>
					<li><a href="#icons-print">print</a></li>
				</ul>

				<div class="form-group">
					<h2 class="heading-large first-sub-heading">When to use this component</h2>
					<p>Icons can be used as part of a larger component to help identify its purpose, such as the <a href="download-a-document">download a document</a> or <a href="links#links-action">action link</a> component.</p>
					<p>Icons can also be used to help with understanding data, such as the increase and decrease indicators used on <a href="/{{latestVersionNFF}}/not-signed-in/view-national-funding-formula-tables/2020-to-2021/statement-st-marys">view national funding formula for schools</a>. However, we must be careful to think about accessibility when using icons to convey important information.</p>
					<h2 class="heading-large">When not to use this component</h2>
					<p>There is no standard icon to use for certain things. We must only use an icon when we are sure that the majority of users understand it to mean the same thing. There should also be accompanying text to help users understand what they are looking at.</p>
					<p>We must use alternative text for assistive technology users. The call out must clearly describe what the icon means.</p>
					<h2 class="heading-large">How it works</h2>
					<h3 id="icons-calculation" class="heading-medium">Calculation</h3>
					<p>The purpose of this component is to give users an implicit visual cue as to the relationship between two numerical figures which make up a total.</p>
					<p>It should only be used when the use of ordering in a table, content or other visual cues are not enough to help users understand the relationship between two figures.</p>
					<h4 id="icons-calculation-divide" class="heading-small">Divide</h4>

					<!--
					Example CODE snippet (START) 
					*** ICONS: CALCULATION - DIVIDE ***
					-->
					<div class="app-example-wrapper" id="icons-divide-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/icons-divide" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">icons (divide)</span> example in a new window</a>
							<iframe title="Icons (divide) example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/icons-divide" frameborder="0" loading="lazy" id="iFrameResizer0" scrolling="no"></iframe>
						</div>

						<span id="options-icons-divide-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-divide-example-html" role="tab" aria-controls="icons-divide-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-divide-example-javascript" role="tab" aria-controls="icons-divide-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#icons-divide-example-html" role="tab" aria-controls="icons-divide-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-divide-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-divide"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Divide"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sr-only"</span>&gt;</span>Divide<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->
            
            <div class="app-tabs__heading js-tabs__heading">
              <a href="#icons-divide-example-javascript" role="tab" aria-controls="icons-divide-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a>
            </div>
	
            <!-- JavaScript Code Tab (START) -->
            <div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-divide-example-javascript" role="tabpanel" aria-hidden="true">
              <p>This icon uses a third party JavaScript library to dynamically generate the optimum CSS for the device utilising it. You will need to reference the following JavaScript resource below:</p>
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://kit.fontawesome.com/71943611db.js"</span> <span class="hljs-attr">crossorigin</span>=<span class="hljs-string">"anonymous"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
            </div>
            <!-- JavaScript Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END) 
					*** ICONS: CALCULATION - DIVIDE ***
          -->
          
					<h4 id="icons-calculation-equals" class="heading-small">Equals</h4>

					<!--
					Example CODE snippet (START) 
					*** ICONS: CALCULATION - EQUALS ***
					-->
					<div class="app-example-wrapper" id="icons-equals-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/icons-equals" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">icons (equals)</span> example in a new window</a>
							<iframe title="Icons (equals) example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/icons-equals" frameborder="0" loading="lazy" id="iFrameResizer1" scrolling="no"></iframe>
						</div>

						<span id="options-icons-equals-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-equals-example-html" role="tab" aria-controls="icons-equals-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-equals-example-javascript" role="tab" aria-controls="icons-equals-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#icons-equals-example-html" role="tab" aria-controls="icons-equals-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-equals-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-equals"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Equals"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sr-only"</span>&gt;</span>Equals<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->
            
            <div class="app-tabs__heading js-tabs__heading">
              <a href="#icons-equals-example-javascript" role="tab" aria-controls="icons-equals-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a>
            </div>
	
            <!-- JavaScript Code Tab (START) -->
            <div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-equals-example-javascript" role="tabpanel" aria-hidden="true">
              <p>This icon uses a third party JavaScript library to dynamically generate the optimum CSS for the device utilising it. You will need to reference the following JavaScript resource below:</p>
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://kit.fontawesome.com/71943611db.js"</span> <span class="hljs-attr">crossorigin</span>=<span class="hljs-string">"anonymous"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
            </div>
            <!-- JavaScript Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END) 
					*** ICONS: CALCULATION - EQUALS ***
					-->

					<h4 id="icons-calculation-minus" class="heading-small">Minus</h4>

					<!--
					Example CODE snippet (START) 
					*** ICONS: CALCULATION - MINUS ***
					-->
					<div class="app-example-wrapper" id="icons-minus-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/icons-minus" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">icons (minus)</span> example in a new window</a>
							<iframe title="Icons (minus) example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/icons-minus" frameborder="0" loading="lazy" id="iFrameResizer2" scrolling="no"></iframe>
						</div>

						<span id="options-icons-minus-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-minus-example-html" role="tab" aria-controls="icons-minus-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-minus-example-javascript" role="tab" aria-controls="icons-minus-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#icons-minus-example-html" role="tab" aria-controls="icons-minus-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-minus-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-minus"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Minus"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sr-only"</span>&gt;</span>Minus<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->
            
            <div class="app-tabs__heading js-tabs__heading">
              <a href="#icons-minus-example-javascript" role="tab" aria-controls="icons-minus-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a>
            </div>
	
            <!-- JavaScript Code Tab (START) -->
            <div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-minus-example-javascript" role="tabpanel" aria-hidden="true">
              <p>This icon uses a third party JavaScript library to dynamically generate the optimum CSS for the device utilising it. You will need to reference the following JavaScript resource below:</p>
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://kit.fontawesome.com/71943611db.js"</span> <span class="hljs-attr">crossorigin</span>=<span class="hljs-string">"anonymous"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
            </div>
            <!-- JavaScript Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END) 
					*** ICONS: CALCULATION - MINUS ***
					-->

					<h4 id="icons-calculation-multiply" class="heading-small">Multiply</h4>

					<!--
					Example CODE snippet (START) 
					*** ICONS: CALCULATION - MULTIPLY ***
					-->
					<div class="app-example-wrapper" id="icons-multiply-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/icons-multiply" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">icons (multiply)</span> example in a new window</a>
							<iframe title="Icons (multiply) example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/icons-multiply" frameborder="0" loading="lazy" id="iFrameResizer3" scrolling="no"></iframe>
						</div>

						<span id="options-icons-multiply-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-multiply-example-html" role="tab" aria-controls="icons-multiply-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-multiply-example-javascript" role="tab" aria-controls="icons-multiply-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#icons-multiply-example-html" role="tab" aria-controls="icons-multiply-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-multiply-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-multiply"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Multiply"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sr-only"</span>&gt;</span>Multiply<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->
            
            <div class="app-tabs__heading js-tabs__heading">
              <a href="#icons-multiply-example-javascript" role="tab" aria-controls="icons-multiply-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a>
            </div>
	
            <!-- JavaScript Code Tab (START) -->
            <div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-multiply-example-javascript" role="tabpanel" aria-hidden="true">
              <p>This icon uses a third party JavaScript library to dynamically generate the optimum CSS for the device utilising it. You will need to reference the following JavaScript resource below:</p>
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://kit.fontawesome.com/71943611db.js"</span> <span class="hljs-attr">crossorigin</span>=<span class="hljs-string">"anonymous"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
            </div>
            <!-- JavaScript Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END) 
					*** ICONS: CALCULATION - MULTIPLY ***
					-->

					<h4 id="icons-calculation-multiply" class="heading-small">Plus</h4>

					<!--
					Example CODE snippet (START) 
					*** ICONS: CALCULATION - PLUS ***
					-->
					<div class="app-example-wrapper" id="icons-plus-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/icons-plus" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">icons (plus)</span> example in a new window</a>
							<iframe title="Icons (plus) example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/icons-plus" frameborder="0" loading="lazy" id="iFrameResizer4" scrolling="no"></iframe>
						</div>

						<span id="options-icons-plus-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-plus-example-html" role="tab" aria-controls="icons-plus-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-plus-example-javascript" role="tab" aria-controls="icons-plus-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#icons-plus-example-html" role="tab" aria-controls="icons-plus-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-plus-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-plus"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Plus"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sr-only"</span>&gt;</span>Plus<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->
            
            <div class="app-tabs__heading js-tabs__heading">
              <a href="#icons-plus-example-javascript" role="tab" aria-controls="icons-plus-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a>
            </div>
      
            <!-- JavaScript Code Tab (START) -->
            <div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-plus-example-javascript" role="tabpanel" aria-hidden="true">
              <p>This icon uses a third party JavaScript library to dynamically generate the optimum CSS for the device utilising it. You will need to reference the following JavaScript resource below:</p>
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://kit.fontawesome.com/71943611db.js"</span> <span class="hljs-attr">crossorigin</span>=<span class="hljs-string">"anonymous"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
            </div>
            <!-- JavaScript Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END) 
					*** ICONS: CALCULATION - PLUS ***
					-->
					
					<h3 id="icons-document" class="heading-medium">Document</h3>
					<p>The purpose of this component is to give users an implicit visual cue as to what and where they can download a document on a page.</p>
					<p>It should only be used:</p>
					<ul class="list list-bullet">
						<li>when users need to download something on a page</li>
						<li>in conjunction with the <a href="download-a-document">download a document</a> component</li>
					</ul>

					<!--
					Example CODE snippet (START) 
					*** ICONS: DOCUMENT ***
					-->
					<div class="app-example-wrapper" id="icons-document-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/icons-document" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">icons (document)</span> example in a new window</a>
							<iframe title="Icons (document) example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/icons-document" frameborder="0" loading="lazy" id="iFrameResizer5" scrolling="no"></iframe>
						</div>

						<span id="options-icons-document-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-document-example-html" role="tab" aria-controls="icons-document-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-document-example-javascript" role="tab" aria-controls="icons-document-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#icons-document-example-html" role="tab" aria-controls="icons-document-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-document-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fa fa-file"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Document"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sr-only"</span>&gt;</span>Document<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->
            
            <div class="app-tabs__heading js-tabs__heading">
              <a href="#icons-document-example-javascript" role="tab" aria-controls="icons-document-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a>
            </div>
	
            <!-- JavaScript Code Tab (START) -->
            <div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-document-example-javascript" role="tabpanel" aria-hidden="true">
              <p>This icon uses a third party JavaScript library to dynamically generate the optimum CSS for the device utilising it. You will need to reference the following JavaScript resource below in the HTML:</p>
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://kit.fontawesome.com/71943611db.js"</span> <span class="hljs-attr">crossorigin</span>=<span class="hljs-string">"anonymous"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
            </div>
            <!-- JavaScript Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END) 
					*** ICONS: DOCUMENT ***
					-->

          <h3 id="icons-variance" class="heading-medium">Variance</h3>
					<p>We sometimes need to inform users that there has been a change in the funding data they are viewing - we call this variance. When showing variance to users we add the information as closely to the data it relates to so users can more easily understand what it means.</p>
					<h4 id="icons-increase" class="heading-small">Increase</h4>
					<p>A way of visually indicating to users that a figure has increased in some way.</p>
					<p>It should only be used when users need to understand that a figure on page has increased.</p>

					<!--
					Example CODE snippet (START) 
					*** ICONS: VARIANCE - INCREASE ***
					-->
					<div class="app-example-wrapper" id="icons-increase-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/icons-increase" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">icons (increase)</span> example in a new window</a>
							<iframe title="Icons (increase) example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/icons-increase" frameborder="0" loading="lazy" id="iFrameResizer6" scrolling="no"></iframe>
						</div>

						<span id="options-icons-increase-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-increase-example-html" role="tab" aria-controls="icons-increase-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
              <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-increase-example-css" role="tab" aria-controls="icons-increase-example-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
              <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-increase-example-javascript" role="tab" aria-controls="icons-increase-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
            </ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#icons-increase-example-html" role="tab" aria-controls="icons-increase-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-increase-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-caret-up fa-lg increase"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Increase"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sr-only"</span>&gt;</span>Increase<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#icons-increase-example-css" role="tab" aria-controls="icons-increase-example-css" data-track="tab-css" aria-expanded="false">CSS</a>
						</div>

						<!-- CSS Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-increase-example-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.increase &#123;
  <span class="hljs-tag"><span class="hljs-attr">color</span></span>: <span class="hljs-string">#00703c</span>;
&#125;</code></pre>
						</div>
            <!-- CSS Code Tab (END) -->
            
            <div class="app-tabs__heading js-tabs__heading">
              <a href="#icons-increase-example-javascript" role="tab" aria-controls="icons-increase-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a>
            </div>
  
            <!-- JavaScript Code Tab (START) -->
            <div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-increase-example-javascript" role="tabpanel" aria-hidden="true">
              <p>This icon uses a third party JavaScript library to dynamically generate the optimum CSS for the device utilising it. You will need to reference the following JavaScript resource below:</p>
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://kit.fontawesome.com/71943611db.js"</span> <span class="hljs-attr">crossorigin</span>=<span class="hljs-string">"anonymous"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
            </div>
            <!-- JavaScript Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END) 
					*** ICONS: VARIANCE - INCREASE ***
					-->

					<h4 id="icons-decrease" class="heading-small">Decrease</h4>
					<p>A way of visually indicating to users that a figure has decreased in some way.</p>
					<p>It should only be used when users need to understand that a figure on page has decreased.</p>

					<!--
					Example CODE snippet (START) 
					*** ICONS: VARIANCE - DECREASE ***
					-->
					<div class="app-example-wrapper" id="icons-decrease-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/icons-decrease" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">icons (decrease)</span> example in a new window</a>
							<iframe title="Icons (decrease) example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/icons-decrease" frameborder="0" loading="lazy" id="iFrameResizer7" scrolling="no"></iframe>
						</div>

						<span id="options-icons-decrease-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-decrease-example-html" role="tab" aria-controls="icons-decrease-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
              <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-decrease-example-css" role="tab" aria-controls="icons-decrease-example-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
              <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-decrease-example-javascript" role="tab" aria-controls="icons-decrease-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#icons-decrease-example-html" role="tab" aria-controls="icons-decrease-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-decrease-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fas fa-caret-down fa-lg decrease"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Decrease"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sr-only"</span>&gt;</span>Decrease<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#icons-decrease-example-css" role="tab" aria-controls="icons-decrease-example-css" data-track="tab-css" aria-expanded="false">CSS</a>
						</div>

						<!-- CSS Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-decrease-example-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.decrease &#123;
  <span class="hljs-tag"><span class="hljs-attr">color</span></span>: <span class="hljs-string">#d4351c</span>;
&#125;</code></pre>
						</div>
            <!-- CSS Code Tab (END) -->
            
            <div class="app-tabs__heading js-tabs__heading">
              <a href="#icons-decrease-example-javascript" role="tab" aria-controls="icons-decrease-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a>
            </div>
  
            <!-- JavaScript Code Tab (START) -->
            <div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-decrease-example-javascript" role="tabpanel" aria-hidden="true">
              <p>This icon uses a third party JavaScript library to dynamically generate the optimum CSS for the device utilising it. You will need to reference the following JavaScript resource below in the HTML:</p>
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://kit.fontawesome.com/71943611db.js"</span> <span class="hljs-attr">crossorigin</span>=<span class="hljs-string">"anonymous"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
            </div>
            <!-- JavaScript Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END) 
					*** ICONS: VARIANCE - DECREASE ***
					-->

					<h3 id="icons-print" class="heading-medium">Print</h3>
					<p>Let users know that they have a way of printing the page they are looking at.</p>
					<p>It should only be used:</p>
					<ul class="list list-bullet">
						<li>when users have a greater need to print a page</li>
						<li>in conjunction with the <a href="links#links-action">action link</a> component</li>
					</ul>

					<!--
					Example CODE snippet (START) 
					*** ICONS: PRINT ***
					-->
					<div class="app-example-wrapper" id="icons-print-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/icons-print" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">icons (print)</span> example in a new window</a>
							<iframe title="Icons (print) example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/icons-print" frameborder="0" loading="lazy" id="iFrameResizer8" scrolling="no"></iframe>
						</div>

						<span id="options-icons-print-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-print-example-html" role="tab" aria-controls="icons-print-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#icons-print-example-javascript" role="tab" aria-controls="icons-print-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#icons-print-example-html" role="tab" aria-controls="icons-print-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-print-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fa fa-print"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Print"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"sr-only"</span>&gt;</span>Print<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->
            
            <div class="app-tabs__heading js-tabs__heading">
              <a href="#icons-print-example-javascript" role="tab" aria-controls="icons-print-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a>
            </div>
	
            <!-- JavaScript Code Tab (START) -->
            <div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="icons-print-example-javascript" role="tabpanel" aria-hidden="true">
              <p>This icon uses a third party JavaScript library to dynamically generate the optimum CSS for the device utilising it. You will need to reference the following JavaScript resource below in the HTML:</p>
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://kit.fontawesome.com/71943611db.js"</span> <span class="hljs-attr">crossorigin</span>=<span class="hljs-string">"anonymous"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
            </div>
            <!-- JavaScript Code Tab (END) -->

					</div>
					<!--
					Example CODE snippet (END) 
					*** ICONS: PRINT ***
					-->

					<p>Most icons are in the prototype kit-icons folder (<span class="code">/public/kit-icons</span>). Custom icons such as the increase and decrease arrows:</p>
					<ul class="list list-bullet">
						<li>are in online icon libraries, which can be linked within the custom CSS folder</li>
						<li>are in the prototype images folder (<span class="code">/public/images</span>)</li>
					</ul>
					<h2 class="heading-large">Research on this component</h2>
					<p>Users have almost unanimously found icons to be useful elements in drawing meaning from information presented on a page.</p>
					<p>Where we have displayed funding data for a period, icons indicating whether the figure has increased or decreased between the current and previous periods enables users to get a quick sense of variance.</p>
					<p>Icons associated with, for example, links to download documents, have acted as effective signposts to the action.</p>
					<h2 class="heading-large">Linked components</h2>
					<ul class="list">
						<li><a href="accordion">Accordion</a></li>
						<li><a href="card#card-to-display-data-one-third">Card (to display data - one third width)</a></li>
						<li><a href="card#card-to-display-data-two-thirds">Card (to display data - two thirds width)</a></li>
						<li><a href="download-a-document">Download a document</a></li>
						<li><a href="funding-header#funding-header-with-variance">Funding header (with variance)</a></li>
						<li><a href="funding-table#funding-table-with-variance">Funding table (with variance)</a></li>
						<li><a href="funding-totals#funding-totals-with-variance">Funding total (with variance)</a></li>
						<li><a href="links#links-action">Links (with action)</a></li>
					</ul>
				</div>

			</div>

			<div class="app-pane__subnav-mobile-overview app-hide-desktop app-hide-tablet govuk-!-padding-top-4">
			
				<nav class="app-subnav">
					<ul class="app-subnav__section">
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="accordion">Accordion</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="card">Card</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="download-a-document">Download a document</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-header">Funding header</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-table">Funding table</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-totals">Funding totals</a>
						</li>
						<li class="app-subnav__section-item mobile-app-subnav__section-item--current">
							<a class="app-subnav__link" href="icons">Icons</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="links">Links</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="pagination">Pagination</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="search">Search</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="tag">Tag</a>
						</li>
					</ul>
				</nav>
			
			</div>

		</div>

		<div class="column-full back-to-top">

			<div class="form-block direction-rtl">
				<a class="app-c-back-to-top dont-print" href="#content">
					<svg role="presentation" focusable="false" class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
						<path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
					</svg>Back to top
				</a>
			</div>

		</div>

	</div>

</main>

<!-- JavaScript (START) -->
<!-- iFrame resizer tool taken from David J. Bradshaw (https://github.com/davidjbradshaw/iframe-resizer) -->
<script src="/public/javascripts/iframeResizer.min.js"></script>
<script>

  iFrameResize({
      log: true
  }, '.iFrameResizer')

</script>
<!-- GOV.UK Design System JavaScript -->
<script src="/public/javascripts/design-system.js"></script>
<!-- Copy and paste code from the UI -->
<script type="text/javascript" id="">
    
  function getSelectionText() {

    var a = "";

    window.getSelection ? a = window.getSelection().toString() : document.selection && "Control" != document.selection.type && (a = document.selection.createRange().text);
    return a
  }

  document.addEventListener("copy", function(a) {
    dataLayer.push({
        event: "textCopied",
        clipboardText: getSelectionText(),
        clipboardLength: getSelectionText().length
    })
  });
    
</script>
<!-- JavaScript (END) -->

{% endblock %}
