{% extends "layout.html" %}

{% block page_title %}
	Component library
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- ESFA banner - START -->
	{% include "includes/esfa_banner.html" %}
	<!-- ESFA banner - END -->

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-quarter app-hide-mobile">
			
			<nav class="app-subnav">
				<ul class="app-subnav__section">
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="accordion">Accordion</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="card">Card</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="download-a-document">Download a document</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-header">Funding header</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-table">Funding table</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-totals">Funding totals</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="icons">Icons</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="links">Links</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="pagination">Pagination</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="search">Search</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="tag">Tag</a>
					</li>
				</ul>
			</nav>

		</div>

		<div class="govuk-grid-column-three-quarters">
			
			<div class="form-group">
				<h1 class="heading-xlarge">
					<span class="heading-secondary">Manage your education and skills funding prototype</span>
					Component library
				</h1>
				<p>Components are reusable parts of the user interface that have been used in the design of the <abbr title="Manage your education and skills funding">MYESF</abbr> service, sub services and features.</p>
				<p>All of the listed components are made up from the <a href="https://design-system.service.gov.uk">GOV.UK Design System</a> styles, patterns and components. It is also based on the <a href="https://govuk-elements.herokuapp.com">GOV.UK elements</a> design components.</p>
				<h2 class="heading-medium">Related GOV.UK resources</h2>
				<ul class="list">
					<li><a href="https://design-system.service.gov.uk" rel="external" target="external" title="This will open in a new tab or window">GOV.UK Design System</a></li>
					<li><a href="https://govuk-elements.herokuapp.com" rel="external" target="external" title="This will open in a new tab or window">GOV.UK elements</a></li>
					<li><a href="https://www.gov.uk/guidance/government-design-principles" rel="external" target="external" title="This will open in a new tab or window">Government Design Principles</a></li>
					<li><a href="https://www.gov.uk/service-manual" rel="external" target="external" title="This will open in a new tab or window">Service Design Manual</a></li>
					<li><a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style" rel="external" target="external" title="This will open in a new tab or window">Style guide</a></li>
				</ul>
			</div>

			<div class="app-pane__subnav-mobile-overview app-hide-desktop app-hide-tablet govuk-!-padding-top-4">
			
				<nav class="app-subnav">
					<ul class="app-subnav__section">
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="accordion">Accordion</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="card">Card</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="download-a-document">Download a document</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-header">Funding header</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-table">Funding table</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-totals">Funding totals</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="icons">Icons</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="links">Links</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="pagination">Pagination</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="search">Search</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="tag">Tag</a>
						</li>
					</ul>
				</nav>
			
			</div>

		</div>

		<div class="column-full back-to-top">

			<div class="form-block direction-rtl">
				<a class="app-c-back-to-top dont-print" href="#content">
					<svg role="presentation" focusable="false" class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
						<path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
					</svg>Back to top
				</a>
			</div>

		</div>

	</div>

</main>

{% endblock %}
