{% extends "layouts/main.html" %}

{% block page_title %}
	Links
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- ESFA banner - START -->
	{% include "includes/esfa_banner.html" %}
	<!-- ESFA banner - END -->

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-quarter app-hide-mobile">
			
			<nav class="app-subnav">
				<ul class="app-subnav__section">
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="accordion">Accordion</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="card">Card</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="download-a-document">Download a document</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-header">Funding header</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-table">Funding table</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-totals">Funding totals</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="icons">Icons</a>
					</li>
					<li class="app-subnav__section-item app-subnav__section-item--current">
						<a class="app-subnav__link" href="links">Links</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="pagination">Pagination</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="search">Search</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="tag">Tag</a>
					</li>
				</ul>
			</nav>

		</div>

		<div class="govuk-grid-column-three-quarters">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Component library</span>
				Links
			</h1>

			<div class="app-prose-scope">
				<p>This is an expansion on the <a href="http://govuk-elements.herokuapp.com/typography/#typography-links">GOV.UK Elements link</a> component.</p>
				<p>View more general guidelines on this style in the <a href="http://govuk-elements.herokuapp.com/typography/#typography-links">GOV.UK Elements</a>. Once <abbr title="Manage your education and skills funding">MYESF</abbr> updates its core CSS libraries from <a href="http://govuk-elements.herokuapp.com">GOV.UK Elements</a> to the <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>, this component will be updated accordingly.</p>
				<p>Links are used across all of our services. They can be found on <a href="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/start"><abbr title="Manage your education and skills funding">MYESF</abbr> start page</a>, <a href="/{{latestVersionVLF}}/not-signed-in/view-latest-funding/latest/dedicated-schools-grant/funding-breakdown/17-12-2019">view latest funding</a> and <a href="/{{latestVersionNFF}}/not-signed-in/view-national-funding-formula-tables/2020-to-2021/statement-st-marys">view national funding formula for schools</a>.</p>

				<!--
				Example CODE snippet (START) 
				*** LINKS: STANDARD ***
				-->
				<div class="app-example-wrapper" id="links-standard-example1" data-module="app-tabs">
				
					<div class="app-example app-example--tabs">
						<a href="examples/links-standard" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">links</span> example in a new window</a>
						<iframe title="Links example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/links-standard" frameborder="0" loading="lazy" id="iFrameResizer0" scrolling="no"></iframe>
					</div>

					<span id="options-links-standard-example1"></span>
					<ul class="app-tabs" role="tablist">
						<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#links-standard-example1-html" role="tab" aria-controls="links-standard-example1-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
					</ul>

					<div class="app-tabs__heading js-tabs__heading">
						<a href="#links-standard-example1-html" role="tab" aria-controls="links-standard-example1-html" data-track="tab-html" aria-expanded="false">HTML</a>
					</div>
				
					<!-- HTML Code Tab (START) -->
					<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="links-standard-example1-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Allocation history<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span></code></pre>
					</div>
					<!-- HTML Code Tab (END) -->
						
				</div>
				<!--
				Example CODE snippet (END) 
				*** LINKS: STANDARD ***
				-->

				<div class="form-group">
					<h2 class="heading-large first-sub-heading">When to use this component</h2>
					<p>Use this component when users need digital resources not already on their current page.</p>
					<h2 class="heading-large">When not to use this component</h2>
					<p>If users need a link, then provide the most suitable type of link to satisfy the related need. For example, do not use a link to external content for an internal service link.</p>
					<h2 class="heading-large">How it works</h2>
					<h3 id="links-standard" class="heading-medium">Standard</h3>
					<p>Use this type of the component when linking users to a digital resource or page within the same service.</p>

					<!--
					Example CODE snippet (START) 
					*** LINKS: STANDARD ***
					-->
					<div class="app-example-wrapper" id="links-standard-example2" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/links-standard" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">links</span> example in a new window</a>
							<iframe title="Links example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/links-standard" frameborder="0" loading="lazy" id="iFrameResizer1" scrolling="no"></iframe>
						</div>

						<span id="options-links-standard-example2"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#links-standard-example2-html" role="tab" aria-controls="links-standard-example2-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#links-standard-example2-html" role="tab" aria-controls="links-standard-example2-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="links-standard-example2-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Allocation history<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->
							
					</div>
					<!--
					Example CODE snippet (END) 
					*** LINKS: STANDARD ***
					-->

					<h3 id="links-external" class="heading-medium">External</h3>
					<p>When linking to anything hosted outside of the service, this is deemed an as external resource and therefore this link type should be used instead.</p>

					<!--
					Example CODE snippet (START) 
					*** LINKS: EXTERNAL ***
					-->
					<div class="app-example-wrapper" id="links-external-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/links-external" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">links</span> example in a new window</a>
							<iframe title="Links example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/links-external" frameborder="0" loading="lazy" id="iFrameResizer2" scrolling="no"></iframe>
						</div>

						<span id="options-links-external-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#links-external-example-html" role="tab" aria-controls="links-external-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#links-external-example-html" role="tab" aria-controls="links-external-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="links-external-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://www.gov.uk/government/publications/guide-to-national-funding-formula"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"noreferrer noopener"</span> <span class="hljs-attr">target</span>=<span class="hljs-string">"_blank"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Opens in a new tab"</span>&gt;</span>National funding formula: quick guide<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->
							
					</div>
					<!--
					Example CODE snippet (END) 
					*** LINKS: EXTERNAL ***
					-->

					<h3 id="links-tabbed" class="heading-medium">To page with tabs</h3>
					<p>Use this type of the component when linking directly to funding breakdown pages which also have <a href="https://design-system.service.gov.uk/components/tabs">GOV.UK Design System tabs</a> present.</p>
					<p>When using this component:</p>
					<ul class="list list-bullet">
						<li>only use it when linking to a funding breakdown page which contains tabs</li>
						<li>include a link for each of the available tabs on the target page</li>
						<li>ensure the clicked link takes users to the target page with that corresponding tab selected on load</li>
					</ul>

					<!--
					Example CODE snippet (START) 
					*** LINKS: TO PAGE WITH TABS ***
					-->
					<div class="app-example-wrapper" id="links-tabbed-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/links-tabbed" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">links</span> example in a new window</a>
							<iframe title="Links example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/links-tabbed" frameborder="0" loading="lazy" id="iFrameResizer3" scrolling="no"></iframe>
						</div>

						<span id="options-links-tabbed-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#links-tabbed-example-html" role="tab" aria-controls="links-tabbed-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#links-tabbed-example-css" role="tab" aria-controls="links-tabbed-example-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#links-tabbed-example-html" role="tab" aria-controls="links-tabbed-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="links-tabbed-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">h3</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"heading-medium heading-guidance"</span>&gt;</span>Funding breakdown<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-block"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-left-container"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-left-text"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Schools block<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-right-container"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-right-text"</span>&gt;</span>£117,032,499<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-block"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-left-container"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-left-text"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Central school services block<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-right-container"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-right-text"</span>&gt;</span>£1,430,000<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-block"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-left-container"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-left-text"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>High needs block<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-right-container"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-right-text"</span>&gt;</span>£34,372,825<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-block funding-margin-bottom"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-left-container"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-left-text"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Early years block<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-right-container"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"funding-right-text"</span>&gt;</span>£17,734,000<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#links-tabbed-example-css" role="tab" aria-controls="links-tabbed-example-css" data-track="tab-css" aria-expanded="false">CSS</a>
						</div>

						<!-- CSS Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="links-tabbed-example-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.heading-guidance &#123;
  <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .heading-guidance &#123;
    <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>: <span class="hljs-string">15px</span>;
  &#125;
&#125;

.funding-block &#123;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">100%</span>;
  <span class="hljs-tag"><span class="hljs-attr">display</span></span>: <span class="hljs-string">inline-block</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-right</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-bottom</span></span>: <span class="hljs-string">15px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-left</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .funding-block &#123;
    <span class="hljs-tag"><span class="hljs-attr">padding-bottom</span></span>: <span class="hljs-string">0px</span>;
  &#125;
&#125;

.funding-margin-bottom &#123;
  <span class="hljs-tag"><span class="hljs-attr">margin-bottom</span></span>: <span class="hljs-string">15px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .funding-margin-bottom &#123;
    <span class="hljs-tag"><span class="hljs-attr">margin-bottom</span></span>: <span class="hljs-string">30px</span>;
  &#125;
&#125;

.funding-left-container &#123;
  <span class="hljs-tag"><span class="hljs-attr">margin</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .funding-left-container &#123;
    <span class="hljs-tag"><span class="hljs-attr">float</span></span>: <span class="hljs-string">left</span>;
    <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">66.66666%</span>;
  &#125;
&#125;

.funding-left-text &#123;
  <span class="hljs-tag"><span class="hljs-attr">margin</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .funding-left-text &#123;
    <span class="hljs-tag"><span class="hljs-attr">padding-right</span></span>: <span class="hljs-string">10px</span>;
  &#125;
&#125;

.funding-right-container &#123;
  <span class="hljs-tag"><span class="hljs-attr">margin</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .funding-right-container &#123;
    <span class="hljs-tag"><span class="hljs-attr">float</span></span>: <span class="hljs-string">right</span>;
    <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>: <span class="hljs-string">right</span>;
    <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">33.33333%</span>;
  &#125;
&#125;

.funding-right-text &#123;
  <span class="hljs-tag"><span class="hljs-attr">margin</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .funding-right-text &#123;
    <span class="hljs-tag"><span class="hljs-attr">margin-left</span></span>: <span class="hljs-string">10px</span>;
  &#125;
&#125;</code></pre>
						</div>
						<!-- CSS Code Tab (END) -->
							
					</div>
					<!--
					Example CODE snippet (END) 
					*** LINKS: TO PAGE WITH TABS ***
					-->

					<h3 id="links-action" class="heading-medium">With action</h3>
					<p>We use this type of the component when presenting users with a link which performs a functional task for them. For example, when printing a page.</p>
					<p>Some of the action links need to be combined with an accompanying icon, such as the print this page action link which always needs to be implemented with the <a href="icons#icons-print">print icon</a>.</p>

					<!--
					Example CODE snippet (START) 
					*** LINKS: ACTION ***
					-->
					<div class="app-example-wrapper" id="links-action-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/links-action" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">links</span> example in a new window</a>
							<iframe title="Links example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/links-action" frameborder="0" loading="lazy" id="iFrameResizer4" scrolling="no"></iframe>
						</div>

						<span id="options-links-action-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#links-action-example-html" role="tab" aria-controls="links-action-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#links-action-example-css" role="tab" aria-controls="links-action-example-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#links-action-example-javascript" role="tab" aria-controls="links-action-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#links-action-example-html" role="tab" aria-controls="links-action-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
					<!-- HTML Code Tab (START) -->
					<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="links-action-example-html" role="tabpanel" aria-hidden="true">
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"print-a-document-container"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"print-icon"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fa fa-print fa-print-large"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"print-a-document"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"print-page"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"fa fa-print"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>Print this page<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
					</div>
					<!-- HTML Code Tab (END) -->
						<!-- HTML Code Tab (END) -->

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#links-action-example-css" role="tab" aria-controls="links-action-example-css" data-track="tab-css" aria-expanded="false">CSS</a>
						</div>

						<!-- CSS Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="links-action-example-css" role="tabpanel" aria-hidden="true">
              <p>The related print component should hide when a user opens the print dialogue. You will need to reference the following CSS resource below in the <a href="/public/stylesheets/{{latestVersion}}/print.css" title="Print.css" download="">print.css</a> file:</p>
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.print-page &#123;
  <span class="hljs-tag"><span class="hljs-attr">display</span></span>: <span class="hljs-string">none</span>;
&#125;</code></pre>
              <br>
              <p>You will need to add the following CSS to style the action link:</p>
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.print-a-document-container &#123;
  <span class="hljs-tag"><span class="hljs-attr">padding-bottom</span></span>: <span class="hljs-string">0px</span>;
&#125;

.print-icon &#123;
  <span class="hljs-tag"><span class="hljs-attr">float</span></span>: <span class="hljs-string">left</span>;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">2.5em</span>;
&#125;

.fa &#123;
  <span class="hljs-tag"><span class="hljs-attr">padding</span></span>: <span class="hljs-string">0 0.3em 0 0</span>;
&#125;

.fa-print-large &#123;
  <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">28px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .fa-print-large &#123;
    <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">34px</span>;
  &#125;
&#125;

.print-a-document &#123;
  <span class="hljs-tag"><span class="hljs-attr">float</span></span>: <span class="hljs-string">none</span>;
  <span class="hljs-tag"><span class="hljs-attr">font-weight</span></span>: <span class="hljs-string">600</span>;
  <span class="hljs-tag"><span class="hljs-attr">min-height</span></span>: <span class="hljs-string">2.5em</span>;
  <span class="hljs-tag"><span class="hljs-attr">vertical-align</span></span>: <span class="hljs-string">top</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-left</span></span>: <span class="hljs-string">2.8em</span>;
&#125;</code></pre>
						</div>
						<!-- CSS Code Tab (END) -->

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#links-action-example-javascript" role="tab" aria-controls="links-action-example-javascript" data-track="tab-javascript" aria-expanded="false">JavaScript</a>
						</div>

						<!-- JavaScript Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="links-action-example-javascript" role="tabpanel" aria-hidden="true">
				<p>The print dialogue functionality uses the following JavaScript:</p>
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag"><span class="hljs-attr">$</span></span>(<span class="hljs-name">document</span>)<span class="hljs-tag"><span class="hljs-attr">.ready</span></span>(<span class="hljs-symbol">function</span> () {

  <span class="hljs-tag"><span class="hljs-attr">$</span></span>(<span class="hljs-string">".print-page"</span>)<span class="hljs-tag"><span class="hljs-attr">.click</span></span>(<span class="hljs-symbol">function</span> (<span class="hljs-name">e</span>) {

    <span class="hljs-name">e</span><span class="hljs-tag"><span class="hljs-attr">.preventDefault</span></span>();
    <span class="hljs-name">window</span><span class="hljs-tag"><span class="hljs-attr">.print</span></span>();

  });

});</code></pre>
				<br>
				<p>This print icon uses a third party JavaScript library to dynamically generate the optimum CSS for the device utilising it. You will need to reference the following JavaScript resource below in the HTML:</p>
  <pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://kit.fontawesome.com/71943611db.js"</span> <span class="hljs-attr">crossorigin</span>=<span class="hljs-string">"anonymous"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>
						</div>
						<!-- JavaScript Code Tab (END) -->
							
					</div>
					<!--
					Example CODE snippet (END) 
					*** LINKS: ACTION ***
					-->

					<h3 id="links-funding-table-guidance" class="heading-medium">Funding table guidance</h3>
					<p>Although this link type is very much like the <a href="#links-external">external</a> is differs due to it being reserved exclusively for use within a funding table.</p>
					<p>This funding table guidance link type is related to the <a href="funding-table#funding-table-with-link">funding table with link</a> component.</p>
					<p>When using this component:</p>
					<ul class="list list-bullet">
						<li>only use it when providing a link for users within a funding table</li>
						<li>only include links in a funding table to help users understand why the related data is decimalised</li>
						<li>ensure the link works like an external link and opens in a new tab or window</li>
					</ul>

					<!--
					Example CODE snippet (START) 
					*** LINKS: FUNDING TABLE GUIDANCE ***
					-->
					<div class="app-example-wrapper" id="links-funding-table-guidance-example" data-module="app-tabs">
					
						<div class="app-example app-example--tabs">
							<a href="examples/links-funding-table-guidance" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">links</span> example in a new window</a>
							<iframe title="Links example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/links-funding-table-guidance" frameborder="0" loading="lazy" id="iFrameResizer5" scrolling="no"></iframe>
						</div>

						<span id="options-links-funding-table-guidance-example"></span>
						<ul class="app-tabs" role="tablist">
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#links-funding-table-guidance-example-html" role="tab" aria-controls="links-funding-table-guidance-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
							<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#links-funding-table-guidance-example-css" role="tab" aria-controls="links-funding-table-guidance-example-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
						</ul>

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#links-funding-table-guidance-example-html" role="tab" aria-controls="links-funding-table-guidance-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
						</div>
					
						<!-- HTML Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="links-funding-table-guidance-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">caption</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__caption heading-small visuallyhidden"</span>&gt;</span>Total schools block primary schools breakdown<span class="hljs-tag">&lt;/<span class="hljs-name">caption</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">thead</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__head"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header govuk-!-width-one-third"</span>&gt;</span>Primary schools<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"col"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__header govuk-!-width-one-sixth govuk-table__header--numeric"</span>&gt;</span>Sub-total<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">thead</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">tbody</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__body"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"row"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"table-header-normal"</span>&gt;</span>Unit of funding<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell govuk-table__cell--numeric"</span>&gt;</span>£5,389.25<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"row"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"table-header-normal"</span>&gt;</span>
        Number of pupils
        <span class="hljs-tag">&lt;<span class="hljs-name">br</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"decimal"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2019-to-2020/dedicated-schools-grant-technical-note-2019-to-2020#pupil-number-information"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"noreferrer noopener"</span> <span class="hljs-attr">target</span>=<span class="hljs-string">"_blank"</span> <span class="hljs-attr">title</span>=<span class="hljs-string">"Opens in a new tab"</span>&gt;</span>Find out why partial pupil numbers are used<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell govuk-table__cell--numeric"</span>&gt;</span>10,751<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">tr</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__row"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">th</span> <span class="hljs-attr">scope</span>=<span class="hljs-string">"row"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"table-header-normal"</span>&gt;</span>Total primary schools<span class="hljs-tag">&lt;/<span class="hljs-name">th</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">td</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-table__cell govuk-table__cell--numeric"</span>&gt;</span>£57,939,827<span class="hljs-tag">&lt;/<span class="hljs-name">td</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">tr</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">tbody</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span></code></pre>
						</div>
						<!-- HTML Code Tab (END) -->

						<div class="app-tabs__heading js-tabs__heading">
							<a href="#links-funding-table-guidance-example-css" role="tab" aria-controls="links-funding-table-guidance-example-css" data-track="tab-css" aria-expanded="false">CSS</a>
						</div>

						<!-- CSS Code Tab (START) -->
						<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="links-funding-table-guidance-example-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.govuk-!-width-one-third &#123;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">33.33% !important</span>;
&#125;

.govuk-!-width-one-sixth &#123;
  <span class="hljs-tag"><span class="hljs-attr">width</span></span>: <span class="hljs-string">16.66% !important</span>;
&#125;
  
.table-header-normal &#123;
  <span class="hljs-tag"><span class="hljs-attr">font-weight</span></span>: <span class="hljs-string">normal</span>;
&#125;

.decimal &#123;
  <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">12px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .decimal &#123;
    <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">16px</span>;
    <span class="hljs-tag"><span class="hljs-attr">line-height</span></span>: <span class="hljs-string">1.25</span>;
  &#125;
&#125;</code></pre>
						</div>
						<!-- CSS Code Tab (END) -->
							
					</div>
					<!--
					Example CODE snippet (END) 
					*** LINKS: FUNDING TABLE GUIDANCE ***
					-->

					<h2 class="heading-large">Research on this component</h2>
					<p>Users are familiar with the appearance of the links and have had no issue during testing identifying them, on the condition that they have been placed in an appropriate and accessible location on the page.</p>
					<p>Links 'with action' have been observed by users as useful additions, as many have a need to print or download the data as a part of their process; disseminating to colleagues or for annotation purposes.</p>
					<h2 class="heading-large">Linked components</h2>
					<ul class="list">
						<li><a href="accordion">Accordion</a></li>
						<li><a href="download-a-document">Download a document</a></li>
						<li><a href="funding-header#funding-header-float-left">Funding header (float left)</a></li>
						<li><a href="funding-table#with-link">Funding table (with link)</a></li>
						<li><a href="icons#icons-print">Icons (print)</a></li>
					</ul>
				</div>

			</div>

			<div class="app-pane__subnav-mobile-overview app-hide-desktop app-hide-tablet govuk-!-padding-top-4">
			
				<nav class="app-subnav">
					<ul class="app-subnav__section">
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="accordion">Accordion</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="card">Card</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="download-a-document">Download a document</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-header">Funding header</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-table">Funding table</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-totals">Funding totals</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="icons">Icons</a>
						</li>
						<li class="app-subnav__section-item mobile-app-subnav__section-item--current">
							<a class="app-subnav__link" href="links">Links</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="pagination">Pagination</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="search">Search</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="tag">Tag</a>
						</li>
					</ul>
				</nav>
			
			</div>

		</div>

		<div class="column-full back-to-top">

			<div class="form-block direction-rtl">
				<a class="app-c-back-to-top dont-print" href="#content">
					<svg role="presentation" focusable="false" class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
						<path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
					</svg>Back to top
				</a>
			</div>

		</div>

	</div>

</main>

<!-- JavaScript (START) -->
<!-- iFrame resizer tool taken from David J. Bradshaw (https://github.com/davidjbradshaw/iframe-resizer) -->
<script src="/public/javascripts/iframeResizer.min.js"></script>
<script>

  iFrameResize({
      log: true
  }, '.iFrameResizer')

</script>
<!-- GOV.UK Design System JavaScript -->
<script src="/public/javascripts/design-system.js"></script>
<!-- Copy and paste code from the UI -->
<script type="text/javascript" id="">
    
  function getSelectionText() {

    var a = "";

    window.getSelection ? a = window.getSelection().toString() : document.selection && "Control" != document.selection.type && (a = document.selection.createRange().text);
    return a
  }

  document.addEventListener("copy", function(a) {
    dataLayer.push({
        event: "textCopied",
        clipboardText: getSelectionText(),
        clipboardLength: getSelectionText().length
    })
  });
    
</script>
<!-- JavaScript (END) -->

{% endblock %}
