{% extends "layouts/main.html" %}

{% block page_title %}
	Signed-in account banner
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- ESFA banner - START -->
	{% include "includes/esfa_banner.html" %}
	<!-- ESFA banner - END -->

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-quarter app-hide-mobile">
			
			<nav class="app-subnav">
				<ul class="app-subnav__section">
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="accordion">Accordion</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="card">Card</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="download-a-document">Download a document</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-header">Funding header</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-table">Funding table</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="funding-totals">Funding totals</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="icons">Icons</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="links">Links</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="pagination">Pagination</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="search">Search</a>
					</li>
					<li class="app-subnav__section-item app-subnav__section-item--current">
						<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
					</li>
					<li class="app-subnav__section-item">
						<a class="app-subnav__link" href="tag">Tag</a>
					</li>
				</ul>
			</nav>

		</div>

		<div class="govuk-grid-column-three-quarters">
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Component library</span>
				Signed-in account banner
				<br>
				<strong class="govuk-tag">New to the Design System</strong>
			</h1>

			<div class="app-prose-scope">
				<p>A banner which provides information and navigation options to the user on a signed-in service.</p>
				<p>The signed-in account banner is used across all signed in areas of <a href="/{{latestVersionAdults}}/signed-in/external/allocation-statements/adults/child/dashboard"><abbr title="Manage your education and skills funding">MYESF</abbr> dashboard</a>.</p>

				<!--
				Example CODE snippet (START) 
				*** SIGNED-IN ACCOUNT BANNER ***
				-->
				<div class="app-example-wrapper" id="signed-in-account-banner-example" data-module="app-tabs">
				
					<div class="app-example app-example--tabs">
						<a href="examples/signed-in-account-banner" class="app-example__new-window" target="_blank">Open this <span class="govuk-visually-hidden">signed-in account banner</span> example in a new window</a>
						<iframe title="Signed-in account banner example" data-module="app-example-frame" class="iFrameResizer app-example__frame app-example__frame--resizable app-example__frame--xl" src="examples/signed-in-account-banner" frameborder="0" loading="lazy" id="iFrameResizer0" scrolling="no"></iframe>
					</div>

					<span id="options-signed-in-account-banner-example"></span>
					<ul class="app-tabs" role="tablist">
						<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#signed-in-account-banner-example-html" role="tab" aria-controls="signed-in-account-banner-example-html" data-track="tab-html" aria-expanded="false">HTML</a></li>
						<li class="app-tabs__item js-tabs__item" role="presentation"><a href="#signed-in-account-banner-example-css" role="tab" aria-controls="signed-in-account-banner-example-css" data-track="tab-css" aria-expanded="false">CSS</a></li>
					</ul>

					<div class="app-tabs__heading js-tabs__heading">
						<a href="#signed-in-account-banner-example-html" role="tab" aria-controls="signed-in-account-banner-example-html" data-track="tab-html" aria-expanded="false">HTML</a>
					</div>
				
					<!-- HTML Code Tab (START) -->
					<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="signed-in-account-banner-example-html" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"grid-row"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column-full"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"account-details"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"account-name"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"name"</span>&gt;</span>Casterbridge College (UKPRN: 12345678)<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"account-features"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"account-link"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>My roles and permissions<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"account-link"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Sign out<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>      
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
					</div>
					<!-- HTML Code Tab (END) -->

					<div class="app-tabs__heading js-tabs__heading">
						<a href="#signed-in-account-banner-example-css" role="tab" aria-controls="signed-in-account-banner-example-css" data-track="tab-css" aria-expanded="false">CSS</a>
					</div>

					<!-- CSS Code Tab (START) -->
					<div class="app-tabs__container js-tabs__container app-tabs__container--hidden" id="signed-in-account-banner-example-css" role="tabpanel" aria-hidden="true">
<pre data-module="app-copy"><button class="app-copy-button js-copy-button" aria-live="assertive">Copy code</button><code class="hljs html">.account-details &#123;
  <span class="hljs-tag"><span class="hljs-attr">border-bottom</span></span>: <span class="hljs-string">1px solid #bfc1c3</span>;
  <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">14px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>: <span class="hljs-string">10px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-bottom</span></span>: <span class="hljs-string">10px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .account-details &#123;
    <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">16px</span>;
  &#125;
&#125;

.account-name &#123;
  <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">14px</span>;
  <span class="hljs-tag"><span class="hljs-attr">float</span></span>: <span class="hljs-string">left</span>;
  <span class="hljs-tag"><span class="hljs-attr">margin</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-top</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-right</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-bottom</span></span>: <span class="hljs-string">10px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding-left</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .account-name &#123;
    <span class="hljs-tag"><span class="hljs-attr">font-size</span></span>: <span class="hljs-string">16px</span>;
    <span class="hljs-tag"><span class="hljs-attr">padding</span></span>: <span class="hljs-string">0px</span>;
  &#125;
&#125;

.name &#123;
  <span class="hljs-tag"><span class="hljs-attr">margin</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">padding</span></span>: <span class="hljs-string">0px</span>;
&#125;

.account-features &#123;
  <span class="hljs-tag"><span class="hljs-attr">clear</span></span>: <span class="hljs-string">left</span>;
  <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>: <span class="hljs-string">inherit</span>;
  <span class="hljs-tag"><span class="hljs-attr">margin</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .account-features &#123;
    <span class="hljs-tag"><span class="hljs-attr">clear</span></span>: <span class="hljs-string">none</span>;
    <span class="hljs-tag"><span class="hljs-attr">text-align</span></span>: <span class="hljs-string">right</span>;
  &#125;
&#125;

.account-link &#123;
  <span class="hljs-tag"><span class="hljs-attr">margin-top</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">margin-right</span></span>: <span class="hljs-string">10px</span>;
  <span class="hljs-tag"><span class="hljs-attr">margin-bottom</span></span>: <span class="hljs-string">0px</span>;
  <span class="hljs-tag"><span class="hljs-attr">margin-left</span></span>: <span class="hljs-string">0px</span>;
&#125;

<span class="hljs-symbol">@media</span> (min-width: 641px) &#123;
  .account-link &#123;
    <span class="hljs-tag"><span class="hljs-attr">margin-top</span></span>: <span class="hljs-string">0px</span>;
    <span class="hljs-tag"><span class="hljs-attr">margin-right</span></span>: <span class="hljs-string">0px</span>;
    <span class="hljs-tag"><span class="hljs-attr">margin-bottom</span></span>: <span class="hljs-string">0px</span>;
    <span class="hljs-tag"><span class="hljs-attr">margin-left</span></span>: <span class="hljs-string">10px</span>;
  &#125;
&#125;</code></pre>
					</div>
					<!-- CSS Code Tab (END) -->

				</div>
				<!--
				Example CODE snippet (END) 
				*** SIGNED-IN ACCOUNT BANNER ***
				-->

				<div class="form-group">
					<h2 class="heading-large first-sub-heading">When to use this component</h2>
					<p>Use this component to help a user understand that they have signed in to our service. This can include details about the organisation or user profile they have signed in as.</p>
					<p>This can also be accompanied by navigational links that can quickly take users to other parts of the service.</p>
					<h2 class="heading-large">When not to use this component</h2>
					<p>Do not use this component on public services where a user has not entered any private information to identify themselves.</p>
					<h2 class="heading-large">How it works</h2>
					<p>You must provide a way for the user to log back out when they have signed in. This should be placed in a familiar position to help the user find it easily.</p>
					<h2 class="heading-large">Research on this component</h2>
					<p>This component clarifies to a user whether or not they are signed in, and it is understood in addition as their path to sign out.</p>
					<p>Prior research with the signed-in account banner has highlighted its use in informing users of account specific permissions or limitations, based, for example, on the individual user's assigned roles.</p>
				</div>

			</div>

			<div class="app-pane__subnav-mobile-overview app-hide-desktop app-hide-tablet govuk-!-padding-top-4">
			
				<nav class="app-subnav">
					<ul class="app-subnav__section">
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="accordion">Accordion</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="back-to-top-link">Back to top link</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="card">Card</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="download-a-document">Download a document</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="filter-a-list">Filter a list</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-header">Funding header</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-table">Funding table</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="funding-totals">Funding totals</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="icons">Icons</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="links">Links</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="organisation-banner">Organisation banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="pagination">Pagination</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="search">Search</a>
						</li>
						<li class="app-subnav__section-item mobile-app-subnav__section-item--current">
							<a class="app-subnav__link" href="signed-in-account-banner">Signed-in account banner</a>
						</li>
						<li class="app-subnav__section-item">
							<a class="app-subnav__link" href="tag">Tag</a>
						</li>
					</ul>
				</nav>
			
			</div>

		</div>

		<div class="column-full back-to-top">

			<div class="form-block direction-rtl">
				<a class="app-c-back-to-top dont-print" href="#content">
					<svg role="presentation" focusable="false" class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
						<path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
					</svg>Back to top
				</a>
			</div>

		</div>

	</div>

</main>

<!-- JavaScript (START) -->
<!-- iFrame resizer tool taken from David J. Bradshaw (https://github.com/davidjbradshaw/iframe-resizer) -->
<script src="/public/javascripts/iframeResizer.min.js"></script>
<script>

  iFrameResize({
      log: true
  }, '.iFrameResizer')

</script>
<!-- GOV.UK Design System JavaScript -->
<script src="/public/javascripts/design-system.js"></script>
<!-- Copy and paste code from the UI -->
<script type="text/javascript" id="">
    
  function getSelectionText() {

    var a = "";

    window.getSelection ? a = window.getSelection().toString() : document.selection && "Control" != document.selection.type && (a = document.selection.createRange().text);
    return a
  }

  document.addEventListener("copy", function(a) {
    dataLayer.push({
        event: "textCopied",
        clipboardText: getSelectionText(),
        clipboardLength: getSelectionText().length
    })
  });
    
</script>
<!-- JavaScript (END) -->

{% endblock %}
