{% extends "layout.html" %}

{% block page_title %}
    PE and sport premium for 2018 to 2019
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../../viewing-choice">How would you like to view funding allocations?</a></li>
                        <li><a href="../../find-an-organisation">View funding by organisation</a></li>
                        <li><a href="../../statement">{% if searchScope == 'Primary' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == 'Secondary' %}Regent High School{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}[ORGANISATION]{% endif %}</a></li>
                        <li><a href="../allocation-history">Allocation history</a></li>
                        <li>PE and sport premium for 2018 to 2019</li>

                    </ol>
                </nav>
            </div>

            <h1 class="heading-xlarge">
                PE and sport premium for 2018 to 2019
                <span class="heading-secondary">This allocation: <span class="bold-medium">12 April 2019 </span><strong class="govuk-tag govuk-bgred govuk-tag-secondary-heading">Not latest</strong></span>
            </h1>

            <div class="form-group">
                <h2 class="lede heading-large-tabs">
                    Total allocation for academic year 2018 to 2019
                    <p class="heading-large heading-funding-summary">£17,720</p>
                </h2>
            </div>

            <div class="form-group">
                
                <div class="form-download-container">
                    <p class="form-download">
                        <a href="/public/documents/public-information/latest/pe-and-sport/pe-and-sport-premium_2018-to-2019_published-12-04-2019_st-marys-kilburn-church-of-england-primary-school.ods" title="Download this PE and sport premium allocation (ODS, 5KB)" download>Download this PE and sport premium for 2018 to 2019 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 5KB)</a>
                        <br>
                        <span class="published-date">Published April 2019</span>
                        <br>
                        <span class="published-date">This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation">OpenDocument</a> format</span>
                    </p>                       
                </div>

                <p>If you need this in a different format, you can <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">request another</a>.</p>
            </div>

            <form method="post" class="form">

                <div class="form-group document-list">
                    <table>
                        <caption class="visuallyhidden">Showing PE and sport premium for 'St Mary's Kilburn Church of England Primary School'</caption>
                        <thead>
                            <tr>
                                <th>
                                    Local authority code
                                </th>                                
                                <th>
                                    Local authority name
                                </th>
                                <th>
                                    Local authority establishment number (at Sep 2018)
                                </th>                                
                                <th>
                                    School name (at Sep 2018)
                                </th>
                                <th>
                                    Total allocation
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>302</td>
                                <td>Camden</td>
                                <td>2023517</td>
                                <td>St Mary's Kilburn Church of England Primary School</td>
                                <td>
                                    £17,720
                                    <!-- <br>
                                    up £1,000 -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </form>

        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- Filters for the document list -->
<script src="/public/javascripts/{{version}}/filters-and-checkboxes.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
