
.table-header th a {
    cursor: pointer;
    color: #005ea5; 
}

.table-header a:hover {
    text-decoration: underline;
}


.table-collapsible thead a {
    text-decoration: none;
    font-weight: normal;
}

table thead .sort-column a, table tbody .sort-column a {
    font-weight: bold;
}

.table-no-header .sort-column {
    font-weight: normal;
}

table th.sort-column.descending a:after {
    content: "\00a0\00a0\25BC";
    font-size: 8px;
    position: relative;
    bottom: 0.3em;
}
table th.sort-column.ascending a:after {
    content: "\00a0\00a0\25B2";
    font-size: 8px;
    position: relative;
    bottom: 0.3em;
}

.table-collapsible th:first-child {
    width: 28%;
}

@media (max-width: 900px) {
    .table-collapsible th, .table-collapsible td {
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    .table-collapsible {
        display: block;
        width: auto;
    }

        .table-collapsible tr {
            display: block;
            padding-bottom: 15px;
            border-bottom: 1px solid #bfc1c3;
            margin-bottom: 15px;
        }

        .table-collapsible thead th {
            display: block;
            text-align: left;
            border-bottom: 0;
            padding: 3px 0;
        }

            .table-collapsible thead th:first-child {
                width: 100%;
            }

        .table-collapsible tbody th, .table-collapsible tbody td {
            display: block;
            text-align: left;
            border-bottom: 0;
            padding-top: 5px;
            padding-bottom: 5px;
        }

            .table-collapsible tbody th:before, .table-collapsible tbody td:before {
                content: attr(data-title);
                display: inline-block;
                font-weight: bold;
                width: 35%;
            }

            .table-collapsible tbody th:first-child, .table-collapsible tbody td:first-child {
                font-family: "nta", Arial, sans-serif;
                font-size: 19px;
                line-height: 1.3157894737;
                font-weight: 400;
                text-transform: none;
                font-weight: bold;
                width: 100%;
            }
}

@media (max-width: 640px) {
    .table-collapsible tbody th:first-child, .table-collapsible tbody td:first-child {
        font-size: 16px;
        line-height: 1.25;
    }
}

.table-collapsible tbody th:first-child:before, .table-collapsible tbody td:first-child:before {
    padding-left: 0;
    margin-left: 0;
    margin-right: 7px;
    width: auto;
}
