{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

        <style>@media screen and (min-width: 900px){
            .maths-cards .card {
                flex-basis: 20%;
            }
            }
        .card-action p{text-align: right}
        .card-action li{text-align: right}

        </style>

<main role="main" id="content">
  
    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash7" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="/personal-account/signout?continueUrl=%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-secondary">Blythe College</h2>
            <p class="page-info">UKPRN: 12345678</p>
            <h1 class="heading-large margin-bottom">Programme funding formula 2017 to 2018</h1>

        </div>
    </div>
    

<div class="grid-row">

<div class="flex-container maths-cards">

    <div class="card">

        <div class="card-body active" data-journey-click="" style="height: 35px;">

            <div class="data">Students 2018/19<br>

            </div>

        </div>


        <div class="card-action">

            <span class="data-item" style="text-align: right; font-weight: 600">959</span>


                </div>
        

        </div>
<div class="feature-ministers">
            <p>
                x
            </p>
        </div>



        <div class="card">

            <div class="card-body active" style="height: 35px;">

                <div class="data">National funding rate<br></div>

            </div>


            <div class="card-action">


                <ul>
                    <li>
                            £4,000
                    </li>
                    <li>
                        £3,640,181
                    </li>

                   

                </ul>


            </div>


        </div>

        <div class="feature-ministers">
            <p>
                x
            </p>
        </div>



        <div class="card">

            <div class="card-body active" data-journey-click="#" style="height: 35px;">

                <div class="data">Retention factor<br></div>
            </div>


            <div class="card-action">


                <ul>
                    <li>
                        0.997
                    </li>
                    <li>
                        -£109,788
                    </li>
                    <li>
                        £3,530,393
                    </li>
                </ul>


            </div>


        </div>

        <div class="feature-ministers">
            <p>
                x
            </p>
        </div>


        <div class="card">
            <div class="card-body active" style="height: 35px;">
                <div class="data">Weighting<br></div>
            </div>

            <div class="card-action">
                <ul>
                    <li>
                        1.023
                    </li>
                    <li>
                        £81,552
                    </li>
                    <li>
                        £3,611,945
                    </li>
                </ul>
            </div>
        </div>

</div>
</div>

    <div class="grid-row">

        <div class="flex-container maths-cards">

        <div class="feature-ministers">
            <p>
                +
            </p>
        </div>


    <div class="card">
        <div class="card-body active" style="height: 35px;">
            <div class="data">Disadvantage funding<br></div>
        </div>

        <div class="card-action">
            <ul>
                <li>
                    £767,025
                </li>
                <li>
                    £4,378,971
                </li>

            </ul>
        </div>
    </div>
        

        <div class="feature-ministers">
            <p>
                +
            </p>
        </div>


        <div class="card">
            <div class="card-body active" style="height: 35px;">
                    <div class="data">Large Programme<br></div>
            </div>

            <div class="card-action">
                <ul>
                    <li>
                        £0
                    </li>
                    <li>
                        £4,378,971
                    </li>

                </ul>
            </div>
        </div>



            <div class="feature-ministers">
                <p>
                    x
                </p>
            </div>

            <div class="card">
                <div class="card-body active" style="height: 35px;">
                    <div class="data">Area cost allowance<br></div>
                </div>

                <div class="card-action">
                    <ul>
                        <li>
                            1.120
                        </li>
                        <li>
                            £875,794
                        </li>
                        <li style="font-weight: 600">£5,254,765</li>

                    </ul>
                </div>
            </div>



       
    </div>
    </div>






  

</div>

 
    

    </main>

{% endblock %}