{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
     
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large">Education and skills funding</h2>

            <h2 class="heading-medium">Pupil premium and other school premiums</h2>
                
        <p>You can view the funding allocated to schools and academies:</p>

        <p>Use this service to veiw:</p>
            <ul class="list list-bullet">
                <li>Pupil premium</li>
                <li>PE and sport premium</li>
                <li>Early years pupil premium</li>
                <li>Free school meals</li>
                <li>Year 7 literacy and numeracy catch-up premium</li>
                
            </ul>

        <p>If you have an account to manage your funding</p> 
             
            
            <div class="transaction">
                <div id="get-started" class="get-started">
                    <a class="button button-get-started" href="idams">Sign in to your ESFA account</a>
                </div>
            </div><br />
            <p><a href="#">Create an account</a></p>
            <h2 class="heading-large">Before you start</h2> 
        <p>You need to have an account with the government’s <a href="https://secure2.imservices.org.uk/self_registration/">Identity Management Services system</a> to use this.</p>     

    </div>
    </div>
    
    

</main>

{% endblock %}


