{% extends "layout.html" %}

{% block page_title %}
Upload pattern
{% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% include "includes/scripts.html" %}
{% endblock %}

{% import "templates/button.html" as button %}

{% block content %}
<main id="content" role="main">
    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash7" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">ROMERO</h1>
            <p class="page-info">UKPRN: 12345678</p>
        </div>
        
    </div>
    <h1 class="heading-large">Upload a file to ESFA</h1>

            <form class="form" action="confirmation.html">
                <div class="form-group no-bottom" id="qform-upload">
                    <fieldset>

                        

                        <div class="form-group">
  <fieldset>

    <legend>
      <h1 class="heading-medium">Select the academy you are uploading for </h1>
    </legend>
    


   <div>
        <a class="link link-all view-all-hidden float-right" href="#all">View all contracts</a>
    </div>

    

<div class="grid-row margin-top">
    <div class="column-one-third">
          
            

            

            <a id="open-mobile-menu" class="heading-medium mob-search mobile-arrow-down">Edit search</a>
                
                
            <div class="search-hidden-mobile">         
                

                  
                    <div class="filter-relative">
                    <button type="button" value="Select contract types" id="funding-title" tabindex="0" role="button" class="filters-headings heading-small focusing">Select academy<span class="up-arrow-new"> </span></button>


                        <fieldset class="filters">

                            <legend class="visuallyhidden">Search</legend>

                            
                            <div class="displayed-checkbox">
                            <section class="toggled-content">
                                <ul>
                                    
                                    <li class="multiple-choice">
                                         <input id="contract-type-1" name="contract" type="checkbox" value="16-19 Funding">
                                        <label class="block" for="contract-type-1">
                                           
                                            Blythe 
                                        </label>
                                    </li>

                                    
                                        
                                    </li>
                                    <li class="multiple-choice">
                                        <input id="contract-type-5" name="contract" type="checkbox">
                                        <label class="block" for="contract-type-5">
                                            
                                            John Fisher
                                        </label>
                                    </li>

                                    <li class="multiple-choice">
                                        <input id="contract-type-6" name="contract" type="checkbox">
                                        <label class="block" for="contract-type-6">
                                            
                                            Newman
                                        </label>
                                    </li>

                                    
                                    <li class="multiple-choice">
                                        <input id="contract-type-2" name="contract" type="checkbox" value="Mainstream">
                                        <label class="block" for="contract-type-2">
                                            
                                            St Anne
                                        </label></li>

                                        <li class="multiple-choice" style="padding-left:0;">
                                        <a href="funding-list-lots">
                                            
                                            Show more
                                        </a>
                                    </li>
                                    
                                 </ul>

                            </section>

                            </div>
                        </fieldset>
                      </div>  
                    
                    


              </div>  

    
</div>



    <div class="column-two-thirds">
        <div id="tab1" class="main-table">

             <ul class="tab-content">
                      <div><br><p></p>

                    <span class="medium" style="margin-top:0">Upload a file for Blythe academy</span>
                    <p></p>
                     <div class="form-group margin-top-2">  
            <ul class="float">
                <p><a id="submit-sub" class="button" href="basic-upload2">Next</a></p><br><br>
                
            </ul>
        </div>
                     
                     
                       
                </div>
                        
   
    


    </div>

</main>


{% endblock %}