{% extends "layout.html" %}

{% block page_title %}
    PE and sport premium for 2018 to 2019
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../viewing-choice">How would you like to view funding allocations?</a></li>
                        <li><a href="../which-allocation">Which funding allocation would you like to view?</a></li>
                        <li>PE and sport premium for 2018 to 2019</li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="column-two-thirds">

            <form method="post" class="form">

                <div class="form-group">
                    <h1 class="heading-xlarge">PE and sport premium for 2018 to 2019</h1>
                    <p class="lede">PE and sport premium allocations for the 2018 to 2019 academic year.</p>
                    <p>The information is available in several files formats which you can open as documents and spreadsheets.</p>
                    <h2 class="heading-medium heading-guidance">Allocations</h2>

                    <div class="main-table">
                        <ul>
                            <li>

                                <div class="form-download-container">
                                    <p class="form-download">
                                        <a href="/public/documents/public-information/latest/pe-and-sport/PE Sport Premium Allocations 2018-19_April 19 Publication_Final.ods" title="PE and sport premium allocations 2018 to 2019 (ODS, 1.29MB)" download="">PE and sport premium allocations 2018 to 2019 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 1.29MB)</a>
                                        <br>
                                        <strong class="govuk-tag govuk-bblue">Latest</strong>
                                        <br>
                                        <span class="published-date">Published April 2019</span>
                                    </p>                       
                                </div>

                            </li>
                            <li>

                                <div class="form-download-container">
                                    <p class="form-download">
                                        <a href="#" title="PE and sport premium allocations 2018 to 2019 (ODS, 798KB)">PE and sport premium allocations 2018 to 2019 (<abbr title="Open Document Spreadsheet">ODS</abbr>, 798KB)</a>  
                                        <span class="published-date">Published February 2019</span>
                                    </p>                       
                                </div>

                            </li>
                        </ul>
                        <p>If you need this in a different format, you can <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">submit an enquiry</a>.</p>
                    </div>

                    <h2 class="heading-medium heading-guidance">Guidance</h2>
                    <ul class="list">
                        <li><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-conditions-of-grant-2018-to-2019/pe-and-sport-premium-conditions-of-grant-2018-to-2019-academies">PE and sport premium: conditions of grant 2018 to 2019 (academies)</a></li>
                        <li><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-conditions-of-grant-2018-to-2019/pe-and-sport-premium-conditions-of-grant-2018-to-2019-local-authorities-and-maintained-schools">PE and sport premium: conditions of grant 2018 to 2019 (local authorities and maintained schools)</a></li>
                    </ul>
                </div>

            </form>
        
        </div>

        <div class="one-third">
            
            <div class="related-container">
            
                <aside class="related" id="related">
            
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Historic allocations</h2>
        
                        <nav role="navigation" aria-labelledby="parent-subsection">
                                                    
                            <ul class="list">
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-funding-allocations-for-2017-to-2018" title="PE and sport premium: funding allocations for 2017 to 2018">PE and sport premium: funding allocations for 2017 to 2018</a></li>
                            </ul>

                        </nav>

                    </div>

                </aside>

            </div>

        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
