{% extends "layouts/main.html" %}

{% block page_title %}
16 to 18 contracted traineeships for 2018 to 2019
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <!-- Account Management (IDAMS) - START -->
    {% include "includes/idams-account-header.html" %}
    <!-- Account Management (IDAMS) - END -->

    <div class="grid-row">

        <div class="column-full">

            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="dashboard">Home</a></li>
                        <li><a href="allocation-statement-list">Allocation statements</a></li>
                        <li>16 to 18 traineeships for 2018 to 2019</li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="column-two-thirds table-with-no-borders">

            <div class="form-group">
                <h1 class="heading-xlarge">16 to 18 traineeships for 2018 to 2019</h1>
                <h2 class="lede">Total 2018 to 2019 allocation
                    <p class="heading-large" style="margin-top: 5px;">£1,680,657</p>
                </h2>
                <p>You can <a href="https://www.gov.uk/government/publications/19-funding-allocation-guidance" target="_blank" rel="external" >check how we calculated your 16 to 18 traineeships allocation (opens in a new tab)</a>.</p>
                <details class="form-block">
                    <summary>
                        <span class="summary">Could my allocation change?</span>
                    </summary>
                    
                    <div class="panel panel-border-narrow">
                        <p>We can reduce or remove your allocation if there's evidence that public funds are at risk.</p>
                        <p>Allocation statements are not legally binding. They do not create any legal obligation against the Secretary of State for Education, acting through the Education and Skills Funding Agency.</p>                
                    </div>
                    
                </details>
            </div>

            <div class="form-group">

                <div class="form-block">
                    <h3 class="heading-small">16 to 18 traineeships</h3>
                    <table>
                        <tr>
                            <th class="non-bold">August 2018 to March 2019</th>
                            <td class="numeric">£296,351</td>
                        </tr>
                        <tr>
                            <th class="non-bold">April 2019 to July 2019</th>
                            <td class="numeric">£373,951</td>
                        </tr>
                        <tr>
                            <th class="non-bold">Total 16 to 18 traineeships</th>
                            <td class="numeric">£670,302</td>
                        </tr>
                    </table>
                </div>

                <div class="form-block">
                    <h3 class="heading-small">16 to 18 traineeships bursary</h3>
                    <table>
                        <tr>
                            <th class="non-bold">August 2018 to March 2019</th>
                            <td class="numeric">£596,747</td>
                        </tr>
                        <tr>
                            <th class="non-bold">April 2019 to July 2019</th>
                            <td class="numeric">£413,608</td>
                        </tr>
                        <tr>
                            <th class="non-bold">Total 16 to 18 traineeships bursary</th>
                            <td class="numeric">£1,010,355</td>
                        </tr>
                    </table>
                </div>
                
                <div class="form-block">
                    <table>
                        <tr>
                            <td class="bold">Total 2018 to 2019 allocation</td>
                            <td class="numeric bold">£1,680,657</td>
                        </tr>
                    </table>
                </div>

            </div>
                
            <div class="form-group">
                <section class="attachment embedded">
                    
                    <div class="form-download-container">
                        <p><a href="../../../../../../public/documents/allocation-statements/example-statement-breakdown.pdf" class="form-download" title="Download these 16 to 18 traineeships allocation values (PDF, 276KB)" download>Download these 16 to 18 traineeship allocation values (PDF, 276KB)</a></p>
                        <p>Email <a href="#">pds.mailbox@education.gov.uk</a> to ask for a different format.</p>
                    </div>

                </section>
            </div>

        </div>

        <div class="related-container">
            <aside class="related" id="related">
                
                <div class="inner group related-subsection">
                    <h2 id="parent-subsection">Related content</h2>
                    <nav role="navigation" aria-labelledby="parent-subsection">
                        <ul>
                            <li><a href="https://www.gov.uk/guidance/19-funding-allocations?utm_source=a0b7c5ea-d37f-41fc-ac38-d14d741e279f&utm_medium=email&utm_campaign=govuk-notifications&utm_content=immediate&utm_source=eshot&utm_medium=email&utm_campaign=CountdownIssue905" rel="external" style="line-height: 20px;" target="_blank" title="This will open in a new window">19+ funding allocations</a></li>
                            <li><a href="https://www.gov.uk/guidance/sfa-funding-rules" rel="external" style="line-height: 20px; margin-top: 10px;" target="_blank" title="This will open in a new window">Funding and performance management rules</a></li>
                        </ul>
                    </nav>
                </div>

            </aside>
        </div>

    </div>

</main>

{% endblock %}
