{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
   
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">Warwickshire college</span>

           <h1 class="heading-xlarge">Subcontractor declaration preview </h1>

            </div>
            </div>
</div>
        <span class="heading-secondary">The college of Leicester</span>
    

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 12345678</li>
            </ul><br>
            <h2 class=heading-small>Funding type: Advanced learning loans </h2>
            <ul>
            <li>Learners: 10</li>
<li>Payments: £1,000.00</li>
<li>Locations: London, West Midlands</li>
<li>&nbsp;</li>
            </ul>
            <h2 class=heading-small>Funding type: Trailblazer apprenticeships </h2>
            <ul>
            <li>Apprentices: 60</li>
<li>Payments: £560.20</li>
<li>Locations: North West, South East</li>
<li>&nbsp;</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£2,920.29</span>
    </div>
</div>

<span class="heading-secondary">The college of Birmingham</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 1234888</li>
            <li>&nbsp;</li></ul>
            <h2 class=heading-small>Funding type: Advanced learning loans </h2>
            <ul>
            <li>Apprentices: 60</li>

<li>Payments: £1,360.20</li>
<li>Locations: West Midlands, North East</li>
<li>&nbsp;</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£1360.20</span>
    </div>
</div>

<span class="heading-secondary">Cadburys training company</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 87654321</li>
            <li>&nbsp;</li></ul>
            <h2 class=heading-small>Funding type: Apprenticeships 19+ </h2>
            <ul>
            <li>Apprentices: 6</li>

<li>Payments: £3,060.12</li>
<li>Locations: West Midlands, Yorkshire and the Humber</li>
<li>&nbsp;</li>
            </ul>
            <h2 class=heading-small>Funding type: Advanced learning loans </h2>
            <ul>
            <li>Apprentices: 6</li>
<li>Payments: £1,860.00</li>
<li>Locations: East Midlands</li>
<li>&nbsp;</li>
            </ul>
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£4,920.12</span><br>
       
       
    </div>
</div>


<span class="heading-secondary">Delta training college</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 12345333</li>
            <li>&nbsp;</li></ul>
            <h2 class=heading-small>Funding type: Advanced learning loans </h2>
            <ul>
            <li>Apprentices: 36</li>

<li>Payments: £1,3600.20</li>
<li>Locations: London</li>
<li>&nbsp;</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£1,3600.20</span>
    </div>
</div>

<span class="heading-secondary">Edge training company</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>UKPRN: 67845678</li>
            <li>&nbsp;</li></ul>
            <h2 class=heading-small>Funding type: 16 to 18 apprenticeships </h2>
            <ul><li>Apprentices: 60</li>
<li>Payments: £1,960.00</li>
<li>Locations: West Midlands</li>
<li>&nbsp;</li></ul>
            
            <h2 class=heading-small>Funding type: 16 to 18 Traineeships </h2>
            <ul><li>Apprentices: 50</li>

<li>Payments: £11,360.09</li>
<li>Locations: London, West Midlands</li>
<li>&nbsp;</li>
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="heading-totals">£201,000.30</span>
    </div>
</div>
<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="heading-medium">Total</a>
    </div>

    <div class="column-one-third">
       <p class="heading-medium">£222,801.11</a>
    </div>
</div>

<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="submit">Continue and submit</a> <br> &nbsp;<br> <a href="subcontractor-list">Back</a>
    </div>

    
    <div class="column-one-third ">
       <a href="#">Download document</a><br>
       
    </div>
</div>

<br>





<br>
<br>




</main>


{% endblock %}