{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    

           <h1 class="heading-xlarge">Subcontractor list</h1>

            </div>
</div>
<span class="heading-secondary">Overview</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Using subcontractors</li>
            <li>Yes</li>
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class=""><a href="#">Edit</a></span><br>
       
       
       
    </div>
    </div>
    <div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Second level subcontracting</li>
            <li>No</li>
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class=""><a href="#">Edit</a></span><br>
       
       
       
    </div>
    </div>
       
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

    </div>
</div>
</span><br>
       
       
       
    </div>
    </div>
    <div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Fees and charges</li>
            
            <li><a href="#">www.warkscol.com/fees</a></li>
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class=""><a href="#">Edit</a></span><br>
       
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

    </div>
</div>


       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>


            
        
    </div>
</div>
<p>&nbsp;</p>
<span class="heading-large">Your subcontractors</span>
<br><br>

<p>Do you want to declare that you <a href="sub-con-home">do not subcontract any training</a>

    <a></a></p>

<hr class="hr-double">



<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="sub-con-search-add2">Add a subcontractor</a>
    </div>

    <div class="column-one-third ">
      
       
    </div>
</div>

<br>





<br>
<br>




</main>


{% endblock %}