{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
 <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="index" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="account-menu__link"  data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
             <div class="grid-row account-details">
        <div class="column-two-thirds" style="text-align: left;" id="userdetails">
            <span class="font-small" style="margin-right: 5px;">Welcome Mark</span>
        </div>
        <div class="column-third controls" style="text-align: right;">
        </div>
    </div>
            <p class="page-info">UKPRN:12345678</p>
            <h1 class="heading-secondary">Casterbridge College</h1>

        </div>

    </div>


           <h1 class="heading-xlarge">Message from us</h1>

           <h1 class="heading-medium">New feature: You can now see your growth funding in your account</h1>



<p>Did you know that this message is amazing? <br />I also need to figure out how I might add two messages to this page.</p>

<p><a href="#">Link to the growth funding page</a></p><br />
<div class="form-group">
  <fieldset>



    <div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">Don't show me this message again</label>
    </div>


  </fieldset>
</div>


<a style="margin-bottom: 20px" href="dash-old" class="button" type="submit">Continue</a>






</div>
        </div>

</div>

</div>



    </main>

{% endblock %}
