

/**********
* COMPONENT LIBRARY (CSS)
* Based on the GOV.UK Design System
* **********/

/* GLOBAL */
.last-item-in-tab {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* Chris Harding (15.08.19) - Approved (by ESFA) UK government ESFA banner to use across the MYESF service and associated sub services where needed */
.esfa-banner-container {
	font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
	font-size: 15px;
	font-weight: 400;
	display: inline-block;
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #bfc1c3;
	padding: 8px 0 8px 0;
}
@media (min-width: 641px) {
	.esfa-banner-container {
		font-size: 18px;
		height: 26px;
		padding: 10px 0 10px 0;
	}
}
.esfa-banner-crest-image {
	float: left;
	width: auto;
	max-height: 20px;
	border-left: 2px solid #003a69;
	padding: 0 5px;
}
@media (min-width: 641px) {
	.esfa-banner-crest-image {
		max-height: 26px;
	}
} 
.esfa-banner-crest-name {
	display: inline-block;
	vertical-align: middle;
}

/* Hide sections on smaller devices */
@media (max-width: 40.0525em) {
    .app-hide-mobile {
        display: none;
    }
}
@media (min-width: 40.0625em) {
    .app-hide-tablet {
        display: none;
    }
}
@media (min-width: 48.0625em) {
    .app-hide-desktop {
        display: none;
    }
}

/* Navigation menu section for the larger resolution devices (e.g. at least 40.0625em in width) */
.app-subnav {
    margin: 0px;
    padding: 30px 15px 0 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286
}
@media print {
    .app-subnav {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-subnav {
        font-size: 16px;
		line-height: 1.25;
		margin-bottom: 60px;
    }
}
@media print {
    .app-subnav {
        font-size: 14pt;
        line-height: 1.2;
    }
}
.app-subnav__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
}
.app-subnav__link {
    padding: 2px 0;
    text-decoration: none;
}
.app-subnav__link:not(:focus):hover {
    color: #1d70b8;
    text-decoration: underline;
}
.app-subnav__section-item {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.app-subnav__section-item--current {
    margin-left: -14px;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
    background-color: #fff;
}
.app-subnav__section-item--current .app-subnav__link {
    font-weight: bold;
}
.app-subnav__section--nested {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 20px;
}
.app-subnav__section--nested .app-subnav__section-item::before {
    content: "—";
    margin-left: -20px;
    color: #626a6e;
}
.app-subnav__section--nested .app-subnav__link {
    padding-left: 0;
    font-weight: normal;
}
.app-subnav__theme {
    margin: 0;
    padding: 10px 15px 10px 0;
    color: #626a6e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}
@media print {
    .app-subnav__theme {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-subnav__theme {
        font-size: 19px;
        line-height: 1.31579;
    }
}
@media print {
    .app-subnav__theme {
        font-size: 14pt;
        line-height: 1.15;
    }
}

/* Navigation menu section for the smaller resolutions and devices (e.g. anything smaller than 40.0625em in width) */
.mobile-app-subnav__section-item--current {
	display: inline-block;
	padding-left: 10px;
	border-left: 4px solid #1d70b8;
	background-color: #fff;
}
.mobile-app-subnav__section-item--current .app-subnav__link {
	font-weight: bold;
}

/* Chris Harding (19.10.18) - GOV.UK tag styling */
.govuk-tag {
	font-family: nta, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.25;
	display: inline-block;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 1px;
	outline-color: transparent;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -2px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 94, 165);
	letter-spacing: 1px;
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
	text-transform: uppercase;
}
@media (min-width: 40.0625em) {
	.govuk-tag {
		font-size: 12px;
		line-height: 1.25;
	}
}
.govuk-bgred {
	background-color: rgb(177, 14, 30);
}
.govuk-bggrey {
	background-color: #6f777b;
}
.gapLeft {
	margin-left: 10px;
}
.govuk-tag-secondary-heading {
	vertical-align: middle;
}

/* Back to top link styling taken from the GOV.UK Design System (https://government-frontend.herokuapp.com/component-guide/back-to-top) */
.back-to-top {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286;
    margin-top: 50px;
    margin-bottom: 30px
}
@media print {
    .back-to-top {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .back-to-top {
        font-size: 16px;
        line-height: 1.25;
        margin: 0px;
    }
}
@media print {
    .back-to-top {
        font-size: 14pt;
        line-height: 1.2;
    }
}
.app-c-back-to-top__icon {
    display: inline-block;
    width: .8em;
    height: 1em;
    margin-top: -5px;
    margin-right: 10px;
    vertical-align: middle;
}

/* iFrame for showing examples of the design components */
.app-example-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}
@media (min-width: 40.0625em) {
    .app-example-wrapper {
        margin-top: 30px;
    }
}
@media (min-width: 40.0625em) {
    .app-example-wrapper {
        margin-bottom: 30px;
    }
}
@media print {
    .app-example-wrapper {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-example-wrapper {
        font-size: 19px;
        line-height: 1.31579;
    }
}
@media print {
    .app-example-wrapper {
        font-size: 14pt;
        line-height: 1.15;
    }
}
.app-example {
    position: relative;
    border: 1px solid #b1b4b6;
    background: #f3f2f1;
}
.app-example--tabs {
    margin-bottom: 0;
}
@media (min-width: 40.0625em) {
    .app-example--tabs {
        margin-bottom: 0;
    }
}
@media (min-width: 48.0625em) {
    .app-example--tabs {
        margin-bottom: -1px;
    }
}
.app-example__new-window {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 5px 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    background: #f3f2f1;
    text-decoration: none;
}
@media print {
    .app-example__new-window {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-example__new-window {
        font-size: 14px;
        line-height: 1.42857;
    }
}
@media print {
    .app-example__new-window {
        font-size: 12pt;
        line-height: 1.2;
    }
}
.app-prose-scope .app-example__new-window:focus {
    -webkit-box-shadow: 0 4px 0 0 #0b0c0c;
    box-shadow: 0 4px 0 0 #0b0c0c;
}
.app-example__frame {
    display: block;
    width: 100%;
    max-width: 100%;
    border: 0;
    border-right: 1px solid #b1b4b6;
    background: #fff;
}
.app-example__iframe,
.app-example__frame--xs {
    height: 150px;
}
.app-example__frame--s {
    height: 250px;
}
.app-example__frame--m {
    height: 350px;
}
.app-example__frame--l {
    height: 450px;
}
.app-example__frame--xl {
    height: 550px;
}
.app-example__frame--resizable {
    width: 1px;
    min-width: 100%;
    min-height: 60px;
    overflow: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
@media (min-width: 48.0625em) {
    .app-example__frame--resizable {
        resize: both;
    }
}
.app-example__frame--xl {
    height: 550px;
}

/* Global styles to all areas of the component library */
.hljs-comment,
.hljs-quote {
    color: #0b0c0c;
    font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: #333333;
    font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    color: #00703c;
}
.hljs-string,
.hljs-doctag {
    color: #d13118;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
    color: #990000;
    font-weight: bold;
}
.hljs-subst {
    font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
    color: #445588;
    font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
    color: #003078;
    font-weight: normal;
}
.hljs-regexp,
.hljs-link {
    color: #008020;
}
.hljs-symbol,
.hljs-bullet {
    color: #990073;
}
.hljs-builtin,
.hljs-builtin-name {
    color: #017ba5;
}
.hljs-meta {
    color: #999999;
    font-weight: bold;
}
.hljs-deletion {
    background: #ffdddd;
}
.hljs-addition {
    background: #ddffdd;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: bold;
}
.app-tabs {
    margin: -1px auto;
    padding: 0;
    overflow: visible;
    list-style-type: none;
    border: 1px solid #b1b4b6;
}
@media (max-width: 48.0525em) {
    .app-tabs {
        display: none;
    }
}
.app-prose-scope .app-tabs {
    margin-bottom: 0;
    padding: 0;
    font-size: 0;
}
.app-tabs__item {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: inline-block;
    position: relative;
    padding: 20px;
}
@media print {
    .app-tabs__item {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-tabs__item {
        font-size: 19px;
        line-height: 1.31579;
    }
}
@media print {
    .app-tabs__item {
        font-size: 14pt;
        line-height: 1.15;
    }
}
.app-tabs__item a {
    display: block;
}
.app-prose-scope .app-tabs__item a:visited {
    color: #1d70b8;
}
.app-prose-scope .app-tabs__item a:focus {
    color: #0b0c0c;
}
.app-tabs__item a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.app-prose-scope .app-tabs__item {
    margin: 0;
}
.app-tabs__item--current {
    border-right: 1px solid #b1b4b6;
    border-left: 1px solid #b1b4b6;
    background: #fff;
}
.app-prose-scope .app-tabs__item--current {
    margin: 0 -1px;
}
.app-tabs__item--current:first-child {
    border-left: 0;
}
.app-prose-scope .app-tabs__item--current:first-child {
    margin-left: 0;
}
.app-prose-scope .app-tabs__item--current a {
    color: #0b0c0c;
    text-decoration: none;
}
.app-tabs__heading {
    display: none;
    position: relative;
    padding: 15px;
    border: 1px solid #b1b4b6;
    border-top: 0;
}
@media (max-width: 48.0525em) {
    .app-tabs__heading {
        display: block;
    }
}
.app-tabs__heading a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.app-prose-scope .app-tabs__heading a:visited {
    color: #1d70b8;
}
.app-prose-scope .app-tabs__heading a:focus {
    color: #0b0c0c;
}
.app-tabs__heading--current {
    border-bottom: 0;
}
.app-tabs__heading--current a {
    text-decoration: none;
}
.app-tabs__container {
    padding: 20px;
    border: 1px solid #b1b4b6;
    background-color: #fff;
}
@media (min-width: 48.0625em) {
    .app-tabs__container {
        margin-top: -2px;
    }
}
.app-tabs__container--hidden {
    display: none;
}
.app-tabs__container pre {
    position: relative;
    max-width: inherit;
    margin-bottom: 0;
    padding: 0;
    border: 0;
    outline: 1px solid transparent;
    background-color: #f3f2f1;
    font-size: inherit;
}
.app-tabs__container pre code {
    display: block;
    padding: 20px;
    overflow-x: auto;
}
.js-enabled .app-tabs__container pre code {
    padding-top: 45px;
}
.app-tabs__container pre {
    padding-right: 0;
    padding-bottom: 0;
}
.app-table--fixed {
    table-layout: fixed;
}
.app-tag--review {
    background-color: #d4351c;
}
body {
    margin: 0;
}
.app-width-container {
    max-width: 1100px;
    margin: 0 15px;
}
@supports (margin: max(calc(0px))) {
    .app-width-container {
        margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
        margin-left: max(15px, calc(15px + env(safe-area-inset-left)))
    }
}
@media (min-width: 40.0625em) {
    .app-width-container {
        margin: 0 30px;
    }
    @supports (margin: max(calc(0px))) {
        .app-width-container {
            margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
            margin-left: max(30px, calc(15px + env(safe-area-inset-left)))
        }
    }
}
@media (min-width: 1160px) {
    .app-width-container {
        margin: 0 auto;
    }
    @supports (margin: max(calc(0px))) {
        .app-width-container {
            margin: 0 auto;
        }
    }
}
@media (max-width: 40.0525em) {
    .app-hide-mobile {
        display: none;
    }
}
@media (min-width: 40.0625em) {
    .app-hide-tablet {
        display: none;
    }
}
@media (min-width: 48.0625em) {
    .app-hide-desktop {
        display: none;
    }
}
@media (max-width: 48.0525em) {
    [class*="govuk-grid-column"] {
        padding: 0 15px;
    }
}
@media (max-width: 48.0525em) {
    .govuk-grid-column-one-third,
    .govuk-grid-column-two-thirds,
    .govuk-grid-column-one-quarter {
        width: 100%;
    }
}
.app-content {
    padding: 15px 0 20px;
}
@media (min-width: 40.0625em) {
    .app-content {
        padding: 30px;
        padding-right: 0;
        padding-bottom: 50px;
    }
}
.app-content h1 {
    max-width: 15em;
}
.app-content h2 {
    max-width: 20em;
}
.app-content h3 {
    max-width: 30em;
}
.app-content h4,
.app-content h5,
.app-content h6,
.app-content p,
.app-content ul:not(.app-tabs),
.app-content ol,
.app-content img,
.app-content video,
.app-content .app-table--constrained {
    max-width: 38em;
}
.app-content .app-video__player,
.app-content img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 722px;
    height: auto;
    margin-top: 10px;
    border: 1px solid #b1b4b6;
}
@media (min-width: 40.0625em) {
    .app-content .app-video__player,
    .app-content img {
        margin-top: 10px;
    }
}
.app-content img {
    padding: 10px;
    margin-bottom: 20px;
}
@media (min-width: 40.0625em) {
    .app-content img {
        margin-bottom: 30px;
    }
}
.app-content .app-video__player {
    margin-bottom: 10px;
}
@media (min-width: 40.0625em) {
    .app-content .app-video__player {
        margin-bottom: 10px;
    }
}
.app-content .app-video__player:focus {
    border-color: #0b0c0c;
    outline: 3px solid #0b0c0c;
    -webkit-box-shadow: 0 0 0 6px #fd0;
    box-shadow: 0 0 0 6px #fd0;
}
.app-content .app-video__description {
    margin-bottom: 20px;
}
@media (min-width: 40.0625em) {
    .app-content .app-video__description {
        margin-bottom: 30px;
    }
}
.app-content pre,
.app-content code {
    font-family: monospace, monospace;
    font-size: 1em;
}
.app-content__header {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11111;
}
@media print {
    .app-content__header {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-content__header {
        font-size: 24px;
        line-height: 1.25;
    }
}
@media print {
    .app-content__header {
        font-size: 18pt;
        line-height: 1.15;
    }
}
.app-content__heading {
    margin-top: 0;
    margin-bottom: 30px;
}
.app-content__section-heading {
    margin-top: 0;
    margin-bottom: 0;
    color: #626a6e;
}
.app-example-page {
    padding: 60px 30px 30px;
}
.app-example-page--full-page {
    padding: 0;
}
.app-copy-button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    min-width: 110px;
    padding: 3px 10px;
    border: 1px solid #00823b;
    color: #00823b;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 0 0 #00703c;
    box-shadow: 0 2px 0 0 #00703c;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
@media print {
    .app-copy-button {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-copy-button {
        font-size: 16px;
        line-height: 1.25;
    }
}
@media print {
    .app-copy-button {
        font-size: 14pt;
        line-height: 1.2;
    }
}
.app-copy-button:focus:not(:hover) {
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 2px 0 0 #0b0c0c;
    box-shadow: 0 2px 0 0 #0b0c0c;
}
.app-copy-button:active,
.app-copy-button:focus {
    padding: 2px 10px;
    border: 2px solid #fd0;
    outline: 2px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.app-copy-button:active {
    margin-top: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.app-colour-list {
    width: 100%;
    border-collapse: collapse;
}
.app-colour-list-row {
    display: table-row;
    margin-bottom: 10px;
    border-bottom: 10px solid transparent;
}
@media (min-width: 61.25em) {
    .app-colour-list-row {
        display: table-row;
        margin: auto;
        border-bottom: 0;
    }
}
.app-colour-list-column {
    display: block;
    position: relative;
    padding-left: 50px;
}
@media (min-width: 61.25em) {
    .app-colour-list-column {
        display: table-cell;
        padding-left: 0;
        vertical-align: middle;
    }
}
.app-swatch {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
}
@media (min-width: 61.25em) {
    .app-swatch {
        display: inline-block;
        position: static;
        margin-top: 6px;
        margin-right: 10px;
        margin-bottom: 7px;
        vertical-align: middle;
    }
}
.app-swatch-border {
    border-color: #b1b4b6;
}
.app-colour-list-column--name {
    font-weight: normal;
    text-align: left;
}
@media (min-width: 61.25em) {
    .app-colour-list-column--name {
        width: 50%;
    }
}
@media (min-width: 61.25em) {
    .app-colour-list-column--colour {
        width: 15%;
    }
}
@media (min-width: 61.25em) {
    .app-colour-list-column--notes {
        width: 35%
    }
}
pre {
    max-width: 38em;
    margin: 0;
    padding: 20px;
    overflow: auto;
    border: 1px solid #b1b4b6;
    background-color: #f8f8f8;
    font-size: 16px;;
    margin-bottom: 15px;
}
@media (min-width: 40.0625em) {
    pre {
        margin-bottom: 20px;
    }
}
@media (max-width: 40.0525em) {
    .no-js .app-pane__content .app-content {
        padding-bottom: 10px;
    }
}
li code,
td code,
p code {
    padding: 0 5px;
    color: #d13118;
    background-color: #f3f2f1;
}
.app-prose-scope strong,
.app-prose-scope b {
    font-weight: 700;
}
.app-prose-scope pre+h2 {
    padding-top: 20px;
}
.app-prose-scope pre+h3,
.app-prose-scope pre+h4 {
    padding-top: 10px
}
.app-prose-scope>:last-child {
    margin-bottom: 0;
}
.first-sub-heading {
    margin-top: 10px;
}
@media (min-width: 641px) {
    .first-sub-heading {
        margin-top: 20px;
    }
}
