

/**********
* COMPONENT LIBRARY (CSS)
* Based on the GOV.UK Design System
* **********/

/* Chris Harding (15.08.19) - Approved (by ESFA) UK government ESFA banner to use across the MyESF service and associated sub services where needed */
.esfa-banner-container {
	font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
	font-size: 15px;
	font-weight: 400;
	display: inline-block;
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #bfc1c3;
	padding: 8px 0 8px 0;
}
@media (min-width: 641px) {
	.esfa-banner-container {
		font-size: 18px;
		height: 26px;
		padding: 10px 0 10px 0;
	}
}
.esfa-banner-crest-image {
	float: left;
	width: auto;
	max-height: 20px;
	border-left: 2px solid #003a69;
	padding: 0 5px;
}
@media (min-width: 641px) {
	.esfa-banner-crest-image {
		max-height: 26px;
	}
} 
.esfa-banner-crest-name {
	display: inline-block;
	vertical-align: middle;
}

/* Hide sections on smaller devices */
@media (max-width: 40.0525em) {
    .app-hide-mobile {
        display: none;
    }
}
@media (min-width: 40.0625em) {
    .app-hide-tablet {
        display: none;
    }
}
@media (min-width: 48.0625em) {
    .app-hide-desktop {
        display: none;
    }
}

/* Navigation menu section for the larger resolution devices (e.g. at least 40.0625em in width) */
.app-subnav {
    margin: 0px;
    padding: 30px 15px 0 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286
}
@media print {
    .app-subnav {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-subnav {
        font-size: 16px;
		line-height: 1.25;
		margin-bottom: 60px;
    }
}
@media print {
    .app-subnav {
        font-size: 14pt;
        line-height: 1.2;
    }
}
.app-subnav__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
}
.app-subnav__link {
    padding: 2px 0;
    text-decoration: none;
}
.app-subnav__link:not(:focus):hover {
    color: #1d70b8;
    text-decoration: underline;
}
.app-subnav__section-item {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.app-subnav__section-item--current {
    margin-left: -14px;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
    background-color: #fff;
}
.app-subnav__section-item--current .app-subnav__link {
    font-weight: bold;
}
.app-subnav__section--nested {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 20px;
}
.app-subnav__section--nested .app-subnav__section-item::before {
    content: "—";
    margin-left: -20px;
    color: #626a6e;
}
.app-subnav__section--nested .app-subnav__link {
    padding-left: 0;
    font-weight: normal;
}
.app-subnav__theme {
    margin: 0;
    padding: 10px 15px 10px 0;
    color: #626a6e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}
@media print {
    .app-subnav__theme {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-subnav__theme {
        font-size: 19px;
        line-height: 1.31579;
    }
}
@media print {
    .app-subnav__theme {
        font-size: 14pt;
        line-height: 1.15;
    }
}

/* Navigation menu section for the smaller resolutions and devices (e.g. anything smaller than 40.0625em in width) */
.mobile-app-subnav__section-item--current {
	display: inline-block;
	padding-left: 10px;
	border-left: 4px solid #1d70b8;
	background-color: #fff;
}
.mobile-app-subnav__section-item--current .app-subnav__link {
	font-weight: bold;
}

/* Back to top link styling taken from the GOV.UK Design System (https://government-frontend.herokuapp.com/component-guide/back-to-top) */
.back-to-top {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286;
    margin-top: 50px;
    margin-bottom: 30px
}
@media print {
    .back-to-top {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .back-to-top {
        font-size: 16px;
        line-height: 1.25;
        margin: 0px;
    }
}
@media print {
    .back-to-top {
        font-size: 14pt;
        line-height: 1.2;
    }
}
.app-c-back-to-top__icon {
    display: inline-block;
    width: .8em;
    height: 1em;
    margin-top: -5px;
    margin-right: 10px;
    vertical-align: middle;
}
