
/*
-------------
Custom Styles (CSS)
--------------
*/

/* Chris Harding (15.10.18) - Inclusion of the 'introducing a new service' CSS used in the GOV.UK Verify service (https://introduction-slides-pattern.herokuapp.com) */
.slides {
	background-color: #005ea5;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 480px;
	padding: 30px;
}
@media (min-width: 641px) {
	.slides {
		margin-top: 30px;
 	}
}
@media (min-width: 641px) {
	.slides {
		padding: 45px;
  	}
}
@media (min-width: 769px) {
	.slides {
    	padding: 75px 70px;
  	}
}
.slides h1 {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.0416666667;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h1 {
		font-size: 36px;
		line-height: 1.1111111111;
	}
}
@media (max-width: 640px) {
	.slides h1 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides h2 {
	font-family: "nta", Arial, sans-serif;
	font-size: 20px;
	line-height: 1.1111111111;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h2 {
		font-size: 27px;
		line-height: 1.1111111111;
	}
}
@media (max-width: 640px) {
	.slides h2 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides h3 {
	font-family: "nta", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h3 {
		font-size: 24px;
		line-height: 1.25;
	}
}
@media (max-width: 640px) {
	.slides h3 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides p,
.slides ul {
	font-family: "nta", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: none;
	font-size-adjust: 0.5;
}
@media (min-width: 641px) {
	.slides p,
	.slides ul {
		font-size: 24px;
		line-height: 1.25;
	}
}
.slides a,
.slides a:focus,
.slides a:hover,
.slides a:active {
	color: inherit;
}
.slides .actions {
	margin: 30px 0 15px;
}
.slides .actions .button {
	background: #fff;
	color: #005ea5;
	font-weight: bold;
}
.slides .actions .radio {
	background: #fff;
	color: #005ea5;
	font-weight: bold;
}
.slides figure {
	max-width: 200px;
}
.slides figure img {
	width: 100%;
}
@media (max-width: 640px) {
	.slides figure {
		width: 40%;
	}
}
.slides details summary {
	color: #fff;
}
.slides details .panel {
	border-left-color: #fff;
}
.slides details p,
.slides details ul {
	font-size: 1em;
}
.slides.slides-2 {
	background-color: #fff;
	color: #005ea5;
	border: solid #005ea5 10px;
	padding: 20px;
}
@media (min-width: 641px) {
	.slides.slides-2 {
		padding: 35px;
	}
}
@media (min-width: 769px) {
	.slides.slides-2 {
		padding: 65px 60px;
	}
}
.slides.slides-2 .actions .button {
	background: #005ea5;
	color: #fff;
}
.slides.slides-2 details summary {
	color: #005ea5;
}
.slides.slides-2 details .panel {
	border-left-color: #005ea5;
}

/* Chris Harding (15.10.18) - Styling for the dashboard designs */
