

/**********
 * CUSTOM STYLES (CSS)
 * **********/

 /* Added purely to change the padding of the GOV.UK Elements '.phase-tag' class on the 'index.html' page */
 .phase-tag-index {
	vertical-align: middle;
	margin: 0px;
 }

 /* iFrame CSS (Site Map) */
 @media (max-width: 431px) {
	.next a:before {
		background: url('arrow-sprite.png') no-repeat -80px -7px;
		background-position-x: right;
		background-position-y: center;
		display: block;
		float: right;
		width: 20px;
		height: 24px;
		background-size: 250%;
		content: " ";
	}
}
@media (max-width: 431px) {
	.previous a:before {
		background: url('arrow-sprite.png') no-repeat -80px -7px;
		background-position-x: left;
		background-position-y: center;
		display: block;
		float: left;
		width: 20px;
		height: 24px;
		background-size: 250%;
		content: " ";
	}
}
@media (max-width: 550px) {
	.hidden-page-items {
		display: none;
	}
}
@media (max-width: 550px) {
	.next {
		margin-left: 15px;
	}
}
@media (max-width: 290px) {
	.next {
		padding-top: 5px;
		margin-top: 5px;
		margin-left: 0px;
	}
}
.page {
	margin: 0 10px 20px 0;
	display: inline-block;
	width: 32%;
	position: relative;
}
.page--playlist:after {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('/public/images/chevron.svg') 0 0 no-repeat;
	position: absolute;
	top: 50%;
	right: -15px;
	background-size: 15px 15px;
}
.page:last-child:after {
	display: none;
}
.page-playlist--withroute {
	transform: translateX(50px)
}
.page-playlist--childroute {
	transform: translateX(100px)
}
.page--route-heading:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('/public/images/chevron.svg') 0 0 no-repeat;
	position: absolute;
	top: 0;
	left: -30px;
	background-size: 15px 15px;
	height: 260px;
	background-position: 0 66%;
	border-left: 5px solid;
}
.page h2 {
	word-break: break-word;
	font-size: 0.8em;
	line-height: 1.1;
	padding-bottom: 5px;
}
.page-inner {
	border: 1px solid #000;
	width: 100%;
	overflow: hidden;
	height: 200px;
	background: #fff url('/public/images/loader.svg') 50% 50% no-repeat;
}
.page--exit .page-inner {
	background: none;
	padding: 20px;
	box-sizing: border-box;
}
.page--exit {
	height: 100%;
	background: #005ea5;
	color: white;
}
#userJourneyFrames {
	width: 300%;
	height: 600px;
	transform: scale(0.33333);
	transform-origin: 0 0;
	background: none;
	border: 0;
}
.page-width-wrapper {
	position: relative;
	margin-top: 3em;
	width: 250px;
}
.page-width {
	width: 100%;
}
.page-width:after {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('/public/images/desktop.svg') 50% 50% no-repeat;
}
.page-width[data-device="desktop"]:after {
	background-image: url('/public/images/desktop.svg')
}
.page-width[data-device="tablet"]:after {
	background-image: url('/public/images/tablet.svg')
}
.page-width[data-device="mobile"]:after {
	background-image: url('/public/images/mobile.svg')
}
input[type="range"] {
	width: calc(100% - 40px);
	display: inline-block;
	margin: 0;
}
input[type="range"]::-moz-range-track {
	height: 1px;
}
input[type=range]::-moz-range-thumb {
	height: 12px;
	width: 12px;
	background: #ccc;
	border: 1px solid #aaa;
}
output {
	position: absolute;
	right: 0;
	top: 0.25em;
	font-size: 0.8em;
	opacity: 0.8;
}
output:after {
	content: "px";
}
.non-playlisted {
	padding: 2em 1em;
	background: lightgray;
	margin: 0 -1em;
}
.non-playlisted:before {
	content: "Pages not added to playlist";
	display: block;
	padding-bottom: 1em;
}
@media (min-width: 641px){
	.block-label {
		float: left;
	}
}
.block-label {
	display: block;
	float: none;
	clear: left;
	position: relative;
	background: #dee0e2;
	border: 1px solid #dee0e2;
	padding: 18px 30px 15px 54px;
	margin-bottom: 10px;
	cursor: pointer;
}
.js-enabled label.selected {
	background: #fff;
	border-color: #0b0c0c;
}

/* General */
@media (min-width: 641px) {
    .heading-medium-global {
        margin-top: 1.875em;
    }
}
fieldset.after-error-summary {
	margin-top: -15px;
}
.final-column {
	padding-right: 0px;
}
.remove:link, .remove:hover, .remove:focus, .remove:visited {
	background-color: rgb(177, 14, 30)
}
.non-linked-error {
	color: #b10e1e;
	font-weight: bold;
	text-decoration: none;
}
.document-list table, .document-list thead, .document-list th, .document-list tbody, .document-list tr, .document-list td {
	font-size: 16px;
}

/* Chris Harding (15.10.18) - Inclusion of the 'introducing a new service' CSS used in the GOV.UK Verify service (https://introduction-slides-pattern.herokuapp.com) */
.slides {
	background-color: #005ea5;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 480px;
	padding: 30px;
}
@media (min-width: 641px) {
	.slides {
		margin-top: 30px;
 	}
}
@media (min-width: 641px) {
	.slides {
		padding: 45px;
  	}
}
@media (min-width: 769px) {
	.slides {
    	padding: 75px 70px;
  	}
}
.slides h1 {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.0416666667;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h1 {
		font-size: 36px;
		line-height: 1.1111111111;
	}
}
@media (max-width: 640px) {
	.slides h1 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides h2 {
	font-family: "nta", Arial, sans-serif;
	font-size: 20px;
	line-height: 1.1111111111;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h2 {
		font-size: 27px;
		line-height: 1.1111111111;
	}
}
@media (max-width: 640px) {
	.slides h2 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides h3 {
	font-family: "nta", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h3 {
		font-size: 24px;
		line-height: 1.25;
	}
}
@media (max-width: 640px) {
	.slides h3 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides p,
.slides ul {
	font-family: "nta", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: none;
	font-size-adjust: 0.5;
}
@media (min-width: 641px) {
	.slides p,
	.slides ul {
		font-size: 24px;
		line-height: 1.25;
	}
}
.slides a,
.slides a:focus,
.slides a:hover,
.slides a:active {
	color: inherit;
}
.slides .actions {
	margin: 30px 0 15px;
}
.slides .actions .button {
	background: #fff;
	color: #005ea5;
	font-weight: bold;
}
.slides .actions .radio {
	background: #fff;
	color: #005ea5;
	font-weight: bold;
}
.slides figure {
	max-width: 200px;
}
.slides figure img {
	width: 100%;
}
@media (max-width: 640px) {
	.slides figure {
		width: 40%;
	}
}
.slides details summary {
	color: #fff;
}
.slides details .panel {
	border-left-color: #fff;
}
.slides details p,
.slides details ul {
	font-size: 1em;
}
.slides.slides-2 {
	background-color: #fff;
	color: #005ea5;
	border: solid #005ea5 10px;
	padding: 20px;
}
@media (min-width: 641px) {
	.slides.slides-2 {
		padding: 35px;
	}
}
@media (min-width: 769px) {
	.slides.slides-2 {
		padding: 65px 60px;
	}
}
.slides.slides-2 .actions .button {
	background: #005ea5;
	color: #fff;
}
.slides.slides-2 details summary {
	color: #005ea5;
}
.slides.slides-2 details .panel {
	border-left-color: #005ea5;
}

/* Chris Harding (15.02.19) - Account Management (IDAMS) navigation bar */
.account-details {
	border-bottom: 1px solid #bfc1c3;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media (min-width: 641px) {
	.account-details {
		font-size: 16px;
	}
}
.account-name {
	font-size: 14px;
	float: left;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
@media (min-width: 641px) {
	.account-name {
		font-size: 16px;
		padding: 0px;
	}
}
.name {
	margin: 0px;
	padding: 0px;
}
.account-features {
	clear: left;
	text-align: inherit;
	margin: 0px;
}
@media (min-width: 641px) {
	.account-features {
		clear: none;
		text-align: right;
	}
}
.account-link {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
@media (min-width: 641px) {
	.account-link {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 10px;
	}
}

/* Chris Harding (22.10.18) - Styling for the chosen (now global) tile dashboard design */
.dashboard-links {
	margin-bottom: 20px;
}
a.dashboard-links {
	color: white;
	text-decoration: none;
	display: block
}
.service-name {
	display: block;
	background-color: #0b0c0c;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
}
@media (min-width: 641px) {
	.service-name {
		height: 98px;
	}
}
@media (min-width: 694px) {
	.service-name {
		height: 72px;
	}
}
@media (min-width: 769px) {
	.service-name {
		font-size: 26px;
		height: 122px;
	}
}
@media (min-width: 825px) {
	.service-name {
		height: 88px;
	}
}
.alert-name-green {
    display: block;
	background-color: #85994b;
	margin-top: 5px;
    padding: 7px 15px;
}
.alert-name-red {
    display: block;
	background-color: #b10e1e;
	margin-top: 5px;
    padding: 7px 15px;
}
.alert-name-grey {
	display: block;
	background-color: rgb(111, 114, 175);
	margin-top: 5px;
	padding: 7px 15px;
}

/* Chris Harding (22.10.18) - Filters, sorting and checkboxes */
/* FILTERING */
.column-filter-one-third {
	padding: 0px 15px 0px 0px;
}
.minus-25px-margin-top {
	margin-top: -25px
}
.filters h2 {
	font-weight: 700;
	font-size: 24px;
}
.filter {
	border: 1px solid #dee0e2;
	margin-bottom: 20px;
}
.filler legend {
	display: none;
}
.filter h3 {
	font-weight: 700;
	font-size: 19px;
	clear: both;
	background: #dee0e2;
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 5px 30px 5px 10px;
	margin: 0;
	top: 0;
	float: none;
	position: relative;
}
.js-filter-collapsible .js-filter-collapsible-header h3 {
	position: relative;
	clear: both;
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 5px 30px 5px 10px;
	margin: 0;
	top: 0;
	float: none;
	cursor: pointer;
	background-image: url('https://assets.publishing.service.gov.uk/static/govuk-component/option-select-toggle-sprite-5f8bb91ff4faf8d3dbcd46d0a4d1e90834b9b9ab3d41979068ea19fdf27529be.png');
	background-repeat: no-repeat;
	background-position: 100% -32px;
	background-size: 32px 50px;
	clear: both
}
.js-filter-collapsible.js-open .js-filter-collapsible-header h3 {
	background-position: 100% 8px;
}
.js-filter-collapsible.js-open .js-collapsible-hide-when-open {
	display: none;
}
.js-filter-collapsible .js-filter-collapsible-header h3 {
	color: #0b0c0c;
	background-color: #dee0e2;
}
.js-filter-collapsible .js-filter-collapsible-header h3:hover {
	color: #0b0c0c;
	background-color: #bfc1c3;
}
.js-filter-collapsible-toggle {
	float: right;
	margin-bottom: 10px;    
}
.js-filter-collapsible-toggle li {
	padding: 5px;
}
.js-filter-collapsible-content .toggled-content {
	padding: 20px
}
.js-filter-collapsible-content .toggled-adult-funding-content {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.js-open .search-field-wrap {
	display: block;
}
#school-inter-school .js-filter-collapsible-content {
	max-height: 310px;
	overflow-x: hidden;
	overflow-y: auto;
}
@media (min-width: 769px) {
	#school-inter-school .js-filter-collapsible-content::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}
	#school-inter-school .js-filter-collapsible-content::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
		box-shadow: 0 0 1px rgba(255,255,255,0.5);
	}
}
.gds-multiple-choice [type=checkbox] + label::before {
	width: 12px;
	height: 12px;
	box-sizing: initial;
}
.gds-multiple-choice [type=checkbox] + label::after {
	width: 8px;
	height: 3px;
	border-width: 0 0 2px 2px;
	top: 5px;
	left: 3px;
	box-sizing: initial;
}

@media (min-width: 641px) {
	.gds-multiple-choice {
		padding: 0 0 0 30px;
	}
}
.multiple-choice label {
	font-size: 16px;
}
.multiple-choice input[type='text'], .text-box {
	position: relative;
	width: 100%;
	max-width: 250px;
	opacity: 1;
}
.multiple-choice input[type='submit'] {
	position: relative;
	opacity: 1;
}
.multiple-choice [type=radio] + label::after {
	top: 9px; left: 9px;
}
.block {
	display: block;
	
}
/* SORTING */
.column-document-list-two-thirds {
	padding: 0px 0px 0px 15px;
}
.sortable-table {
	font-size: 16px;
	padding: 15px 0px 15px 15px;
}
.sortable-th {
	font-size: 16px;
	padding: 15px 0px 15px 0px;
}
.sortable-td {
	font-size: 16px;
	padding: 15px 0px 15px 15px;
}
.sortable-td-error {
	font-size: 16px;
}
.width-column-0 {
	min-width: 26px;
	max-width: 26px;
	width: 26px;
}
.width-column-1 {
	min-width: 300px;
}
.width-column-2 {
	min-width: 155px;
}
.width-column-3 {
	min-width: 100px;
	text-align: right;
}
.tab-header-no-sort {
	padding: 15px 0px 15px 15px;
	margin: -15px 0px -15px 0px;
	display: block;
}
.tab-header a {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px 0px 15px 15px;
	margin: -15px 0px -15px 0px;
	transition: 0.3s;
	display: block;
}
.tab-header > span {
	position: relative;
	padding-right: 1.5em;
}
a.tab-header .hod-chevron-up {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	content: "";
	margin-left: 5px;
	position: absolute;
	right: 0;
	top: 0;
}
a.tab-header .hod-chevron-down {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	content: "";
	margin-left: 5px;
	position: absolute;
	right: 0;
	bottom: 0;
}
a.tab-header .hod-chevron-up:last-child, 
a.tab-header .hod-chevron-down:first-child {
	top: 15%;
}
.tab-header a:hover {
	background-color: #ffbf47;
	color: black;
}
.tab-header a.active {
	background-color: #ddd;
	color: black;
	text-decoration: none;
}
.chevron-size {
	font-size: x-small;
}
/* CHECKBOXES */
.document-checkbox-th {
	vertical-align: top;
	margin: 0px;
	padding: 15px 0px 0px 0px;
}
.document-checkbox-td {
	vertical-align: top;
	margin: 0px;
	padding: 15px 0px 0px 0px;
}
.document-checkbox-div {
	width: 16px;
	height: 16px;
	padding: 0px;
}
.document-checkbox-div input {
	position: relative;
	width: 16px;
	height: 16px;
	margin: 0px 0px 0px 5px;
}
.document-checkbox-div [type=checkbox] + label::before {
	width: 12px;
	height: 12px;
	box-sizing: initial;
	left: 5px;
}
.document-checkbox-div [type=checkbox] + label::after {
	width: 8px;
	height: 3px;
	border-width: 0 0 2px 2px;
	top: 5px;
	left: 8px;
	box-sizing: initial;
}

/* Chris Harding (19.10.18) - GOV.UK tag styling */
.govuk-tag {
	font-family: nta, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.25;
	display: inline-block;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 1px;
	outline-color: transparent;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -2px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 94, 165);
	letter-spacing: 1px;
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
	text-transform: uppercase;
}
@media (min-width: 40.0625em) {
	.govuk-tag {
		font-size: 12px;
		line-height: 1.25;
	}
}
.govuk-bgred {
	background-color: rgb(177, 14, 30);
}
.gapLeft {
	margin-left: 10px;
}

/* Chris Harding (19.10.18) - File upload CSS */
#fileInput0 {
	font-size: 16px;
}
#documentsToSend table, #documentsToSend th, #documentsToSend tr, #documentsToSend td {
	font-size: 16px;
}
#uploadAnotherDiv {
	margin: 20px 0;
}
#button-to-remove {
	background-color: #b10e1e;
}

/* Chris Harding (30.10.18) - Pagination */
.pager {
	font-size: 16px;
	margin-top: 1em;
	margin-bottom: 1.25em;
}
.pager-top {
	font-size: 16px;
	margin-bottom: 1.25em;
}
.pager-items {
	display: none;
}
@media (min-width: 641px) {
	.pager-items {
		display: inline;
	}
	.pager-items li {
		display: inline;
		margin: 0 5px;
	}
	.pager-items li:first-child {
		margin-left: 0;
	}
	.pager-items li:last-child {
		margin-right: 0;
	}
}
.pager-prev, .pager-next {
	margin-right: 10px;
}
@media (min-width: 641px) {
	.pager-prev, .pager-next {
		margin-right: 0;
	}
}
@media (min-width: 641px) {
	.pager-prev {
		margin-right: 10px;
	}
}
@media (min-width: 641px) {
	.pager-next {
		margin-left: 10px;
	}
}
@media (min-width: 641px) {
	.pager-controls {
		float: right;
	}
}
  
/* Chris Harding (31.10.18) - Back to top link styling taken from the GOV.UK Design System (https://government-frontend.herokuapp.com/component-guide/back-to-top) */
.direction-rtl {
    direction: rtl;
    text-align: start;
}
.app-c-back-to-top {
	font-family: nta, Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 14px;
	line-height: 1.14286;
	display: inline-block;
	margin-bottom: 15px;
}
@media (min-width: 641px) {
	.app-c-back-to-top {
		font-size: 16px;
		line-height: 1.25;
	}
}
.app-c-back-to-top__icon {
	float: left;
	margin-right: 0.3em;
	width: 0.8em;
	height: 0.968em;
}

/* Chris Harding (18.12.18) - Allocation Statements (Adults) statement list page */
.as-tab, .as-tab.active {
	display: block;
}
.hide {
	display: none !important;
}

/* Chris Harding (18.12.18) - Allocation Statements (Adults) styling for statement pages */
.table-with-no-borders table, .table-with-no-borders th, .table-with-no-borders td {
	border: none;
}
.table-with-border-bottom {
	border-bottom: 1px solid #bfc1c3;
}
.related {
	border-top-width: 2px;
}
.form-download {
	display: block;
	font-weight: 600;
	background: url('/public/images/icon-file-download.png') no-repeat scroll 0 0;
	min-height: 2.5em;
	padding: 0 0 0 2.5em;
}
