

/**********
* CUSTOM STYLES - GLOBAL (CSS)
* **********/

/**********
* WIDTHS
* **********/

/* Chris Harding (04.08.20) - Changes to the global MYESF service widths to accommodate user need to read funding more easily */
#global-header .header-wrapper {
    max-width: 1190px;
}
#global-header-bar, #global-cookie-message p, #footer .footer-wrapper {
    max-width: 1160px;
}
@media (min-width: 841px) {
    #global-header-bar, #global-cookie-message p, #footer .footer-wrapper {
		margin: 0 30px;
	}
}
@media (min-width: 1220px) {
	#global-header-bar, #global-cookie-message p, #footer .footer-wrapper {
		margin: 0 auto;
	}
}
/* Already updated in "_grid_layout.scss" (node_modules/govuk_frontend_toolkit/stylesheets) but added here as a fallback option (START) */
/* @media (min-width: 1220px) {
	#content {
		margin: 0 auto;
	}
}
@media (min-width: 841px) {
	#content {
		margin: 0 30px;
	}
}
#content {
    max-width: 1160px;
} */
/* Already updated in "_grid_layout.scss" (node_modules/govuk_frontend_toolkit/stylesheets) but added here as a fallback option (END) */