{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
  


    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash7" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="dash7" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="/personal-account/signout?continueUrl=%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="">
            <h2 class="heading-secondary">Blythe College</h2>
            <p class="page-info">UKPRN: 12345678</p>
            <h1 class="heading-large">Programme funding formula 2017 to 2018</h1>

        </div>
    </div>
    

<div class="grid-row">

<div class="flex-container maths-cards">

    <div class="card">

        <div class="card-body" data-journey-click="link - click:Income:Pay As You Earn (PAYE)" style="height: 115px;">


            <h3 class="heading-small card-heading">

                Total Student Numbers
                <span class="data-item bold-large">574</span>

            </h3>


        </div>


        <div class="card-action">
            <a class="ga-track-anchor-click" href="tables/table1a">Details</a>
        </div>


    </div>


    <div class="feature-ministers">
        <p>
            x
        </p>
    </div>
</div>



    <div class="flex-container maths-cards">

        <div class="card">

            <div class="card-body" style="height: 115px;">

                <h3 class="heading-small card-heading">

                    National funding rate per student
                    <span class="data-item bold-large">£4,000</span>

                </h3>
            </div>


            <div class="card-action">


                <ul>
                    <li>
                        = £2,259,349
                    </li>

                    <li><a class="ga-track-anchor-click" href="tables/table1b">Details</a></li>

                </ul>


            </div>


        </div>

        <div class="feature-ministers">
            <p>
                x
            </p>
        </div>


        <div class="card">

            <div class="card-body" data-journey-click="link - click:Income:Pay As You Earn (PAYE)" style="height: 115px;">

                <h3 class="heading-small card-heading">

                    Retention factor
                    <span class="data-item bold-large">0.997</span>
                </h3>
            </div>


            <div class="card-action">


                <ul>
                   <!-- <li>
                        -£51,513
                    </li>-->
                    <li>
                        = £2,207,836
                    </li>
                </ul>


            </div>


        </div>

        <div class="feature-ministers">
            <p>
                x
            </p>
        </div>


        <div class="card">
            <div class="card-body" style="height: 115px;">
                <h3 class="heading-small card-heading">
                    Programme cost weighting
                    <span class="data-item bold-large">1.004</span>
                </h3>
            </div>

            <div class="card-action">
                <ul>
                    <!--<li>
                        £8,346
                    </li>-->
                    <li>
                        = £2,216,182
                    </li>
                </ul>
            </div>
        </div>

        <div class="feature-ministers">
            <p>
                +
            </p>
        </div>

        <div class="card">
            <div class="card-body" style="height: 115px;">
                <h3 class="heading-small card-heading">
                    Disadvantage funding
                    <span class="data-item bold-large">£135,462</span>
                </h3>
            </div>

            <div class="card-action">
                <ul>
                    <li>
                       = £2,351,644
                    </li>
                    <li><a class="ga-track-anchor-click" href="tables/table2a">Details</a></li>

                </ul>
            </div>
        </div>

        <div class="feature-ministers">
            <p>
                +
            </p>
        </div>

        <div class="card">
            <div class="card-body" style="height: 115px;">
                <h3 class="heading-small card-heading">
                    Large Programme funding
                    <span class="data-item bold-large">£1.600</span>
                </h3>
            </div>

            <div class="card-action">
                <ul>
                    <li>
                        = £2,353,244
                    </li>
                    <li><a class="ga-track-anchor-click" href="tables/table2b">Details</a></li>

                </ul>
            </div>
        </div>

    </div>

<!--<h2 class="heading-medium margin-bottom margin-top" style="margin-left: 15px">Sum multiplied by Area cost allowance</h2>-->
<hr style="margin-left: 15px">

<div class="flex-container maths-cards">


    <div class="feature-ministers">
        <p>
            x
        </p>
    </div>

    <div class="card">
        <div class="card-body" style="height: 115px;">
            <h3 class="heading-small card-heading">
                Area cost allowance
                <span class="data-item bold-large">1.120</span>
            </h3>
        </div>

        <!--<div class="card-action">
            <ul>
                <li>
                    £282,389
                </li>
                <li>£2,635,633</li>

            </ul>
        </div>-->
    </div>


<div class="feature-ministers">
    <p>
        =
    </p>
</div>

    <div class="card">
        <div class="card-body" style="height: 115px;">
            <h3 class="heading-small card-heading">
                Total
                <span class="data-item bold-large">£2,635,633</span>
            </h3>
        </div>

        <!--<div class="card-action">
            <ul>
                <li>
                    £282,389
                </li>
                <li>£2,635,633</li>

            </ul>
        </div>-->
    </div>


</div>

  

</div>

 
    

    </main>

{% endblock %}