{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">5E Limited</span>

           <h1 class="heading-xlarge">Allocations 2017 to 2018</h1>
            
        <h2 class="heading-large">16 to 18 traineeships</h2>
            </div>
</div>

    </div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">Baseline</span>
        <ul>
            <li>of which 19+ will be continuing learners</li>   
        </ul> 
    </div>

    <div class="column-one-third"> <br><br>

       <span class="small">£78,835</a></span><br>

       <span class="small">-£51,438</a></span>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>
</div>

    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">Allocation 2017 to 2018 </span>   
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£78,835</a></span><br>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>



<span class="heading-secondary">August 2017 to March 2018</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Value of allocation to use from August 2017 to March 2018</li>
            
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="small">£63,068</a></span><br>
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

<span class="heading-secondary">April 2018 to July 2018</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Value of allocation to use from August 2017 to March 2018</li>
            
    
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="small">£15,767</a></span><br>
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

<div class="grid-row margin-top-2">
    

    <div class="column-one-third float-right">
       <a href="second-list">Details</a>
    </div>
</div>

<br>
<br>
<br>
<h1 class="heading-large margin-top-zero">Advanced learner loan facility</h1>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">Baseline</span>
        <ul>
            <li>of which 19+ will be continuing learners</li>   
        </ul> 
    </div>

    <div class="column-one-third"> <br><br>

       <span class="small">£78,835</a></span><br>

       <span class="small">-£51,438</a></span>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>
</div>

</div>

    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        
            <span class="heading-secondary">Allocation 2017 to 2018 </span>
            
            
            
        
    </div>

    <div class="column-one-third"> <br>

       <span class="small">£78,835</a></span><br>
       
       
       <div class="column-one-third">
       
       
    </div>
    </div>
</div>



<span class="heading-secondary">August 2017 to March 2018</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Value of allocation to use from August 2017 to March 2018</li>
            
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="small">£63,068</a></span><br>
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

<span class="heading-secondary">April 2018 to July 2018</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Value of allocation to use from August 2017 to March 2018</li>
            
    
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class="small">£15,767</a></span><br>
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

<div class="grid-row margin-top-2">
    
    <div class="column-one-third float-right">
       <a href="second-list">Details</a>
    </div>
</div>

<br>



</div>

</main>


{% endblock %}