{% extends "layout.html" %}

{% block page_title %}
    Dedicated schools grant (DSG) publication timetable 2019 to 2020
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_alpha.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../viewing-choice">Choose how to view funding</a></li>
                        <li><a href="../which-allocation">Select a funding type</a></li>
                        <li><a href="../statement">{% if searchScope == 'Primary' %}St Mary's Kilburn Church of England Primary School{% elif searchScope == 'Secondary' %}Regent High School{% elif searchScope == 'MAT' %}White Rose Academies Trust{% elif searchScope == 'LA' %}Camden{% else %}Camden{% endif %}</a></li>
                        <li>Publication timetable</li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="column-full">

            <form method="post" class="form">

                <div class="form-group">
                    <h1 class="heading-xlarge">
                        <span class="heading-secondary">Camden</span>
                        Dedicated schools grant (<abbr title="Dedicated Schools Grant">DSG</abbr>) publication timetable 2019 to 2020</h1>
                    <p class="lede">Find out about the <abbr title="Dedicated Schools Grant">DSG</abbr> funding timetable for local authorities for financial year 2019 to 2020.</p>
                        
                    <table>
                        <thead>
                          <tr>
                            <th class="govuk-!-width-one-quarter">Date</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="full-funding-allocation-december" target="external">17 December 2018</a></td>
                            <td>
                      <abbr title="Education and Skills Funding Agency">ESFA</abbr> announce 	2019 to 2020 schools block, <abbr title="central school services block">CSSB</abbr>, early years block, high needs block, and details of the charges for national copyright licences issued to local authorities</td>
                          </tr>
                          <tr>
                            <td><a href="full-funding-allocation" target="external">27 March 2019</td>
                            <td>
                      <abbr title="Education and Skills Funding Agency">ESFA</abbr> updates <abbr title="dedicated schools grant">DSG</abbr> allocations for recoupment and high needs deductions for academies as at 1 March 2019</td>
                          </tr>
                          <tr>
                            <td>July 2019</td>
                            <td>
                      <abbr title="Education and Skills Funding Agency">ESFA</abbr> updates <abbr title="dedicated schools grant">DSG</abbr> allocations for in-year recoupment and high needs deductions and early years block updated for data from January 2019 census</td>
                          </tr>
                          <tr>
                            <td>November 2019</td>
                            <td>
                      <abbr title="Education and Skills Funding Agency">ESFA</abbr> updates <abbr title="dedicated schools grant">DSG</abbr> allocations for in-year recoupment and high needs deductions</td>
                          </tr>
                          <tr>
                            <td>March 2020</td>
                            <td>
                      <abbr title="Education and Skills Funding Agency">ESFA</abbr> makes final updates to <abbr title="dedicated schools grant">DSG</abbr> allocations for in-year recoupment and high needs deductions</td>
                          </tr>
                        </tbody>
                      </table>

                </div>

            </form>
        
        </div>

        <!-- <div class="one-third">
            
            <div class="related-container">
            
                <aside class="related" id="related">
            
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Historic funding allocations</h2>
        
                        <nav role="navigation" aria-labelledby="parent-subsection">
                                                    
                            <ul class="list">
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/dedicated-schools-grant-dsg-2018-to-2019" title="DSG: 2018 to 2019" target="external"><abbr title="Dedicated Schools Grant" target="external">DSG</abbr>: 2018 to 2019</a></li>
                            </ul>

                        </nav>

                    </div>

                </aside>

            </div>

        </div> -->

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
