
{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
<div class="phase-banner">
  <p>
    <strong class="phase-tag">PROTOTYPE</strong>
    <span>For testing </span>
  </p>
</div>

    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard-new">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>   



    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">BLYTHE ACADEMY</h1>
            <p>UKPRN:12345678</p>
        </div>
        
    </div>

         <div class="grid-row">

           <ul>
              <li class="column-third margin-top">
                    <a class="dashboard-links" href="#">
                        
                        <span class="service-name">Contracts and agreements</span>
                    
                        <span class="alert-name-blue">Contracts and agreements</span>
                        
                    </a>
                </li>


               <li class="column-third margin-top">
                    <a class="dashboard-links" href="multi">
                        
                        <span class="service-name">Funding statements</span>
                    
                        <span class="alert-name-blue">View your statements</span>
                        
                    </a>
                </li>

                <li class="column-third margin-top">
                    <a class="dashboard-links" href="estimate1">
                        
                        <span class="service-name">Payment history</span>
                    
                        <span class="alert-name-blue">View your payments</span>
                    </a>
                </li>
                </ul>
          </div>
                
            <div class="grid-row">
                <ul>
                

                <li class="column-third margin-top">
                    <a class="dashboard-links" href="payment-history">
                        
                        <span class="service-name">Subcontractor declaration</span>
                    
                        <span class="alert-name-blue">Tell us if you use subcontractors</span>
                    </a>
                </li>

                <!-- <li class="column-third margin-top">
                    <a class="dashboard-links" href="age-detail">
                        
                        <span class="service-name">Apprenticeship grant for employers</span>
                    
                        <span class="alert-name-green">View your AGE reports</span>
                    </a>
                </li> -->
            
        

            <div class="grid-row margin-top">
                <ul>
                    <li class="column-third margin-top">
                        <a class="dashboard-links" href="sub-con-home-second">
                            
                            <span class="service-name">Funding claims</span>
                    
                        
                             <span class="alert-name-blue">View your claims</span>
                        </a>
                    </li> 

                
                </ul>
            </div>








    
    
    
    </div>

</main>


{% endblock %}