{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="/personal-account" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Account home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="/personal-account/signout?continueUrl=%2Ffeedback-survey%3Forigin%3DPERTAX" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge no-margin-bottom">Blythe Academy</h1>
            <p class="page-info">UKPRN:12345678</p>
        </div>
    </div>


    <div class="grid-row">



        <style type="text/css">
            table.tableizer-table {
                font-size: 12px;
                border: 1px solid #CCC;
                font-family: Arial, Helvetica, sans-serif;
            }
            .tableizer-table td {
                padding: 4px;
                margin: 3px;
                border: 1px solid #CCC;
            }
            .tableizer-table th {
                background-color: #104E8B;
                color: #FFF;
                font-weight: bold;
            }
        </style>
        <table class="tableizer-table">
            <thead><tr class="tableizer-firstrow"><th>Table 2a: Distribution of Disadvantage Funding</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr></thead><tbody>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>Disadvantage Block 1</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Block 1 Factor</td><td>Funding including Programme</td><td>Block 1 Funding</td><td>&nbsp;</td></tr>
        <tr><td>2.1a</td><td>Economic Deprivation Funding</td><td>&nbsp;</td><td>&nbsp;</td><td>Costs</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>7.28%</td><td>£435,472</td><td>&nbsp;</td><td>£31,682</td></tr>
        <tr><td>2.2a</td><td>Care Leavers</td><td>&nbsp;</td><td>Number of Qualifying Students</td><td>Rate per Qualifying Student</td><td>Care Leaver Funding</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>0</td><td>£480</td><td>&nbsp;</td><td>£0</td></tr>
        <tr><td>2.3a</td><td>Total Block 1 Funding</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>£31,682</td></tr>
        <tr><td>&nbsp;</td><td>Disadvantage Block 2</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>Total 2017/18 Instances attracting Funding per</td><td>&nbsp;</td><td>Instances attracting funding per</td><td>Instances attracting funding per</td><td>Instances per student applied for</td><td>&nbsp;</td></tr>
        <tr><td>2.4a</td><td>Student</td><td>&nbsp;</td><td>Student Census</td><td>Student YPMAD</td><td>2017/18</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>0.792</td><td>0.874</td><td>&nbsp;</td><td>0.833</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Block 2 Funding Rates</td><td>Block 2 Funding</td><td>&nbsp;</td></tr>
        <tr><td>2.5a</td><td>Total Funded Instances for 2017/18</td><td>&nbsp;</td><td>98.28</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>2.6a</td><td>Students attracting the Higher Rate (1.1b & 1.2b)</td><td>&nbsp;</td><td>98.28</td><td>£480</td><td>&nbsp;</td><td>£47,175</td></tr>
        <tr><td>2.7a</td><td>Students attracting the Lower Rate (1.3b & 1.4b)</td><td>&nbsp;</td><td>0.00</td><td>£292</td><td>&nbsp;</td><td>£0</td></tr>
        <tr><td>2.8a</td><td>Students attracting the FTE Rate</td><td>Students</td><td>0.00</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>2.9a</td><td>(Band 1)</td><td>FTEs</td><td>0.00</td><td>£480</td><td>&nbsp;</td><td>£0</td></tr>
        <tr><td>2.10a</td><td>Total Block 2 Funding</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>£47,175</td></tr>
        <tr><td>2.11a</td><td>Minimum top up if applicable</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>£0</td></tr>
        <tr><td>2.12a</td><td>&nbsp;</td><td>Total Disadvantage Funding (sum of Block 1, Block 2 and minimum top up)</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>£78,857</td></tr>
        </tbody></table>



    </div>




</main>

{% endblock %}