{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


        <style>strong{font-weight: 600}</style>

<main role="main" id="content">
     <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash-old" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <a href="#" title="back to previous page" onclick="window.history.go(-1); return false;" class="link-back">Back</a>

     <div class="navigation" style="float: right">
         <ul>
             <li><a href="allocation-statement">Allocation letter</a></li>
             <li> <a href="geographical-mapping">Allocation infographics</a></li>
         </ul>
     </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-secondary">East Reading College</h1>
            <p class="page-info">UKPRN:12345678</p>
        </div>
        
    </div>
        

<div class="grid-row margin-top">
    <div class="column-full">




<h1 class="heading-medium">Participation funding</h1>
<hr>
<p><strong>Adult education budget:</strong></p>

        <table>
            <tr>
                <td>Baseline</td>
                <td>£1,775,145</td>
                <td></td>
            </tr>
            <tr>
                <td>of which, 19+ continuing learners</td>
                <td>-£84,161</td>
                <td class="numeric">Value transferred to EFA for 19+ continuing learners (negative value)</td>
            </tr>
            <tr>
                <td><strong>2017 to 2018 allocation</strong></td>
                <td><strong>£1,690,984</strong></td>
                <td class="numeric">Total value of 2017 to 2018 AEB allocation</td>
            </tr>

        </table>
            <details role="group">

                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">View breakdown</span></summary>

                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">

            <table>
            <tr>
                <td>August 2017 to March 2018</td>
                <td>£1,059,401</td>
                <td class="numeric">Value of allocation to use from August 2017 to March 2018</td>
            </tr>
            <tr>
                <td>April 2018 to July 2018</td>
                <td>£631,583</td>
                <td class="numeric">Value of allocation to use from April 2018 to July 2018 </td>
            </tr>
        </table>
        </div>
</details>





        <h1 class="heading-medium" style="margin-top: 40px">Advanced learner loan</h1>
        <hr>
        <p><strong>Advanced learner loan facility:</strong></p>
            <table>
            <tr>
                <td>Baseline</td>
                <td>£494,316</td>
                <td></td>
            </tr>

            <tr>
                <td><strong>2017 to 2018 facility</strong></td>
                <td><strong>£494,316</strong></td>
                <td>Total value of 2017 to 2018 facility</td>
            </tr>


            </table>
        <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">View breakdown</span></summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">

                <table>


            <tr>
                <td>August 2017 to March 2018</td>
                <td>£312,259</td>
                <td>Value of facility to use from August 2017 to March 2018</td>
            </tr>

            <tr>
                <td>April 2018 to July 2018</td>
                <td>£182,057</td>
                <td>Value of facility to use from April 2018 to July 2018</td>
            </tr>

        </table>


            </div>
        </details>


        <p style="margin-top: 30px"><strong>Advanced learner loan facility:</strong></p>
        <table>
            <tr>
                <td>Baseline</td>
                <td>£75,728</td>
                <td></td>
            </tr>
            <tr>
                <td><strong>2017 to 2018 bursary</strong></td>
                <td><strong>£75,728</strong></td>
                <td>Total value of 2017 to 2018 bursary</td>
            </tr>

        </table>
                <details role="group">

                    <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">View breakdown</span></summary>

                    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">

                        <table>


            <tr>
                <td>August 2017 to March 2018</td>
                <td>£56,796</td>
                <td>Value of bursary to use from August 2017 to March 2018</td>
            </tr>
            <tr>
                <td>April 2018 to July 2018</td>
                <td>£18,932</td>
                <td>Value of bursary to use from April 2018 to July 2018</td>
            </tr>
        </table>

                    </div>
                </details>



    <!--    <div class="" style="margin-top: 50px">




            <h1 class="heading-medium">Adult Education Budget standard national profile for providers funded through a
                contract</h1>

            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>P1</th>
                    <th>P2</th>
                    <th>P3</th>
                    <th>P4</th>
                    <th>P5</th>
                    <th>P6</th>
                    <th>P7</th>
                    <th>P8</th>
                    <th>P9</th>
                    <th>P10</th>
                    <th>P11</th>
                    <th>P12</th>
                </tr>
                <tr><th>AEB Monthly Profile</th>
                    <td>7.93%</td>
                    <td>9.14%</td>
                    <td>9.44%</td>
                    <td>8.54%</td>
                    <td>6.67%</td>
                    <td>8.47%</td>
                    <td>8.38%</td>
                    <td>8.48%</td>
                    <td>8.32%</td>
                    <td>7.47%</td>
                    <td>8.63%</td>
                    <td>8.53%</td>
                </tr><tr>
                </tr>
                <tr><th>AEB
                    Cumulative
                    Profile</th>
                    <td>7.93%</td>
                    <td>17.07%</td>
                    <td>26.51%</td>
                    <td>35.05%</td>
                    <td>41.72%</td>
                    <td>50.19%</td>
                    <td>58.57%</td>
                    <td>67.05%</td>
                    <td>75.37%</td>
                    <td>82.84%</td>
                    <td>91.47%</td>
                    <td>100.00%</td>
                </tr><tr>
                </tr>
                </thead>
            </table>

        </div>

<!<h2 class="heading-medium" style="margin-top: 50px">More information about your statement</h2>
        <u>
        <li><a href="allocation-statement">Allocation letter</a></li>
            <li> <a href="geographical-mapping">Allocation infographics</a></li>
        </u>-->
</div>
    </div>

</main>


{% endblock %}