

/**********
* CUSTOM STYLES - MYESF (CSS)
* **********/

/* Chris Harding (24.10.19) - TEMPORARY CSS workaround so that we can have GOV.UK Elements and GOV.UK Design System ones in our prototype without broken styling (e.g. having <h1> tags in the <legend>) */
.govuk-fieldset__legend  {
	margin-bottom: 0;
}
.govuk-fieldset__legend--xl {
	margin-bottom: 0;
}

/**********
* GLOBAL
* CAN BE USED IN ALL JOURNEYS
* **********/

/* GOV.UK prototyping kit (v6.1.0) workaround to hide the menu which appears in mobile view (< 641 pixels) */
#global-header .header-proposition a.menu {
    display: none;
}
/* Chris Harding (15.08.19) - Approved (by ESFA) UK government ESFA banner to use across the MYESF service and associated sub services where needed */
.esfa-banner-container {
	font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
	font-size: 15px;
	font-weight: 400;
	display: inline-block;
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #bfc1c3;
	padding: 8px 0 8px 0;
}
@media (min-width: 641px) {
	.esfa-banner-container {
		font-size: 18px;
		height: 26px;
		padding: 10px 0 10px 0;
	}
}
.esfa-banner-crest-image {
	float: left;
	width: auto;
	max-height: 20px;
	border-left: 2px solid #003a69;
	padding: 0 5px;
}
@media (min-width: 641px) {
	.esfa-banner-crest-image {
		max-height: 26px;
	}
} 
.esfa-banner-crest-name {
	display: inline-block;
	vertical-align: middle;
}

/* Chris Harding (05.05.19) - Addition of styling for the global related (aside) navigation section */
@media (min-width: 641px) {
	.related-container {
		width: 33.33333%;
	}
}
@media (max-width: 640px) {
	.related-container {
		width: 100%;
	}
}
.related-container {
	float: left;
}
@media (max-width: 640px) {
	.related {
		width: 100%;
	}
}
.related {
	float: left;
	border-top-width: 2px;
	padding-top: 15px;
}
.related-links {
	margin-top: 5px;
	line-height: 1.5;
}
@media (min-width: 641px) {
	.related-links {
		margin-top: 15px;
	}
}

/* Headings */
@media (min-width: 641px) {
    .heading-medium-global {
        margin-top: 1.875em;
    }
}

/* Errors and validation */
.after-error-summary {
	margin-top: -15px;
}
@media (min-width: 641px) {
	.after-error-summary {
		margin-top: -30px;
	}
}
.non-linked-error {
	color: #b10e1e;
	font-weight: bold;
	text-decoration: none;
}

/* Chris Harding (14.07.20) - Inclusion of the GOV.UK search styling and CSS for use across MYESF */
.search-section {
	margin-bottom: 15px;
}
.search-field {
	position: relative;
}
.search-input {
	position: static;
	margin: 0px;
	padding: 0px;
}
.search-input-with-button {
	padding-right: 50px;
}
.autocomplete__wrapper {
	position: relative;
	background-color: #ffffff;
}
.hidden, .js-enabled .js-hidden {
	display: none;
	visibility: hidden;
}
.hidden {
	display: none;
}
.autocomplete__hint, .autocomplete__input {
	-webkit-appearance: none;
	border-width: 2px;
	border-style: solid;
	border-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-sizing: border-box;
	margin-bottom: 0px;
	width: 100%;
}
.autocomplete__input {
	background-color: transparent;
	position: relative;
}
.autocomplete__hint, .autocomplete__input, .autocomplete__option {
	font-size: 19px;
	line-height: 1.25;
	padding: 4px;
}
.search-input input {
	-webkit-appearance: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	font-family: nta, "Arial", sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 19px;
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	display: block;
	height: 50px;
	border-color: rgb(191, 193, 195);
	line-height: 48px;
}
.search-field-darker .search-input input {
	border-color: rgb(111, 119, 123);
}
.search-input-with-button input {
	border-right-width: initial;
	border-right-style: none;
	border-right-color: initial;
}
.autocomplete__menu {
	background-color: rgb(255, 255, 255);
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: rgb(11, 12, 12);
	border-bottom-color: rgb(11, 12, 12);
	border-left-color: rgb(11, 12, 12);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-width: 0px;
	border-top-style: initial;
	border-top-color: initial;
	color: rgb(52, 56, 75);
	margin: 0px;
	max-height: 342px;
	overflow-x: hidden;
	padding: 0px;
	width: calc(100% - 4px);
}
.autocomplete__menu--hidden {
	display: none;
}
.autocomplete__menu--overlay {
	box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 6px;
	left: 0px;
	position: absolute;
	top: 100%;
	z-index: 100;
}
[role="listbox"] {
	min-height: 18em;
	padding: 0px;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat: repeat-x;
	background-repeat: repeat-y;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(170, 170, 170);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
}
.search-submit {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 50px;
	width: 50px;
	overflow-x: visible;
	overflow-y: visible;
}
.search-submit button {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: none;
	position: absolute;
	z-index: 4;
	right: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	overflow-x: hidden;
	overflow-y: hidden;
	text-indent: -5000px;
	color: rgb(255, 255, 255);
	background-color: #005ea5;
	background-image: url("/public/images/search-button.png");
	background-repeat: repeat-x;
	background-repeat: repeat-y;
	background-position-x: -12.5%;
	background-position-y: 50%;
}
.search-submit button:hover, .search-submit button:focus {
	background-color: #267daf;
}
button {
	font-size: 19px;
}

/* Any document or results list */
.document-list table, .document-list thead, .document-list th, .document-list tbody, .document-list tr, .document-list td {
	font-size: 14px;
}
@media (min-width: 741px) {
	.document-list table, .document-list thead, .document-list th, .document-list tbody, .document-list tr, .document-list td {
		font-size: 16px;
	}
}

/* Margin and padding */
.no-margin-top {
	margin-top: 0px !important;
}
.no-margin-bottom {
	margin-bottom: 0px !important;
}
.no-padding-top {
	padding-top: 0px !important;
}
.final-column {
	padding-right: 0px;
}

/* Request an accessible format */
.hidden-section {
	font-size: 19px;
    padding-top: 10px;
}

/* Chris Harding (15.10.18) - Inclusion of the 'introducing a new service' CSS used in the GOV.UK Verify service (https://introduction-slides-pattern.herokuapp.com) */
.slides {
	background-color: #005ea5;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 480px;
	padding: 30px;
}
@media (min-width: 641px) {
	.slides {
		margin-top: 30px;
 	}
}
@media (min-width: 641px) {
	.slides {
		padding: 45px;
  	}
}
@media (min-width: 769px) {
	.slides {
    	padding: 75px 70px;
  	}
}
.slides h1 {
	font-family: "nta", Arial, sans-serif;
	font-size: 24px;
	line-height: 1.0416666667;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h1 {
		font-size: 36px;
		line-height: 1.1111111111;
	}
}
@media (max-width: 640px) {
	.slides h1 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides h2 {
	font-family: "nta", Arial, sans-serif;
	font-size: 20px;
	line-height: 1.1111111111;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h2 {
		font-size: 27px;
		line-height: 1.1111111111;
	}
}
@media (max-width: 640px) {
	.slides h2 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides h3 {
	font-family: "nta", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: none;
	font-size-adjust: 0.525;
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.slides h3 {
		font-size: 24px;
		line-height: 1.25;
	}
}
@media (max-width: 640px) {
	.slides h3 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
.slides p,
.slides ul {
	font-family: "nta", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: none;
	font-size-adjust: 0.5;
}
@media (min-width: 641px) {
	.slides p,
	.slides ul {
		font-size: 24px;
		line-height: 1.25;
	}
}
.slides a,
.slides a:focus,
.slides a:hover,
.slides a:active {
	color: inherit;
}
.slides .actions {
	margin: 30px 0 15px;
}
.slides .actions .button {
	background: #fff;
	color: #005ea5;
	font-weight: bold;
}
.slides .actions .radio {
	background: #fff;
	color: #005ea5;
	font-weight: bold;
}
.slides figure {
	max-width: 200px;
}
.slides figure img {
	width: 100%;
}
@media (max-width: 640px) {
	.slides figure {
		width: 40%;
	}
}
.slides details summary {
	color: #fff;
}
.slides details .panel {
	border-left-color: #fff;
}
.slides details p,
.slides details ul {
	font-size: 1em;
}
.slides.slides-2 {
	background-color: #fff;
	color: #005ea5;
	border: solid #005ea5 10px;
	padding: 20px;
}
@media (min-width: 641px) {
	.slides.slides-2 {
		padding: 35px;
	}
}
@media (min-width: 769px) {
	.slides.slides-2 {
		padding: 65px 60px;
	}
}
.slides.slides-2 .actions .button {
	background: #005ea5;
	color: #fff;
}
.slides.slides-2 details summary {
	color: #005ea5;
}
.slides.slides-2 details .panel {
	border-left-color: #005ea5;
}

/* Chris Harding (15.02.19) - Account Management (IDAMS) navigation bar */
.account-details {
	border-bottom: 1px solid #bfc1c3;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media (min-width: 641px) {
	.account-details {
		font-size: 16px;
	}
}
.account-name {
	font-size: 14px;
	float: left;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
@media (min-width: 641px) {
	.account-name {
		font-size: 16px;
		padding: 0px;
	}
}
.name {
	margin: 0px;
	padding: 0px;
}
.account-features {
	clear: left;
	text-align: inherit;
	margin: 0px;
}
@media (min-width: 641px) {
	.account-features {
		clear: none;
		text-align: right;
	}
}
.account-link {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
@media (min-width: 641px) {
	.account-link {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 10px;
	}
}

/* Chris Harding (22.10.18) - Styling for the chosen (GLOBAL) tile dashboard design */
.dashboard-links {
	margin-bottom: 20px;
}
a.dashboard-links {
	color: white;
	text-decoration: none;
	display: block
}
.service-name {
	display: block;
	background-color: #0b0c0c;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
}
@media (min-width: 641px) {
	.service-name {
		min-height: 98px;
	}
}
@media (min-width: 694px) {
	.service-name {
		min-height: 72px;
	}
}
@media (min-width: 769px) {
	.service-name {
		font-size: 26px;
		min-height: 122px;
	}
}
@media (min-width: 825px) {
	.service-name {
		min-height: 88px;
	}
}
.alert {
	font-size: 20px;
}
.alert-name-red {
	display: block;
	background-color: #b10e1e;
	margin-top: 5px;
    padding: 10px 20px;
}
.alert-name-grey {
	display: block;
	background-color: #005ea5;
	margin-top: 5px;
	padding: 10px 20px;
}
.alert-name-green {
	display: block;
	border: 3px solid #85994b;
	color: #0b0c0c;
	margin-top: 5px;
	padding: 10px 20px;
}

/* Chris Harding (09.07.20) - Filters, sorting and checkboxes */
/* Filtering (Inline) */
.column-filter-one-third {
	padding: 0px 15px 0px 0px;
}
.filter {
	border: 1px solid #dee0e2;
	margin-bottom: 20px;
}
.filter-keyboard {
	display: block;
	width: 100%;
    height: 100%;
    text-decoration: none;
}
.filter-keyboard a {
	text-decoration: none;
}
.js-filter-collapsible.js-open .js-filter-collapsible-header h2 {
	background-image: url('/public/images/beta/v116-0-0/sprite-open.png');
}
.js-filter-collapsible .js-filter-collapsible-header h2 {
    position: relative;
    float: none;
    clear: both;
    display: block;
    width: 100%;
	padding: 5px 30px 5px 10px;
	margin: 0;
	top: 0;
    background-image: url('/public/images/beta/v116-0-0/sprite-closed.png');
	background-repeat: no-repeat;
    background-position: 98% 50%;
    background-color: #dee0e2;
    color: #0b0c0c;
    box-sizing: border-box;
	cursor: pointer;
}
@media (min-width: 641px) {
	.js-filter-collapsible .js-filter-collapsible-header h2 {
		background-position: 96% 50%;
	}
}
.js-filter-collapsible .js-filter-collapsible-header h2:hover {
	color: #0b0c0c;
	background-color: #bfc1c3;
}
.filter h2 {
    position: relative;
    float: none;
    clear: both;
    display: block;
    font-size: 17px;
    font-weight: 700;
    width: 100%;
	padding: 5px 30px 5px 10px;
	margin: 0;
	top: 0;
	background: #dee0e2;
	box-sizing: border-box;
}
@media (min-width: 741px) {
	.filter h2  {
		font-size: 19px;
	}
}
.js-filter-collapsible-content {
	max-height: 330px;
	overflow-x: hidden;
	overflow-y: auto;
}
@media (min-width: 769px) {
	.js-filter-collapsible-content::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}
	.js-filter-collapsible-content::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
		box-shadow: 0 0 1px rgba(255,255,255,0.5);
	}
}
.js-filter-collapsible-content .toggled-adult-funding-content {
	padding: 20px;
}
.gds-multiple-choice [type=checkbox] + label::before {
	width: 12px;
	height: 12px;
	box-sizing: initial;
}
.gds-multiple-choice [type=checkbox] + label::after {
	width: 8px;
	height: 3px;
	border-width: 0 0 2px 2px;
	top: 5px;
	left: 3px;
	box-sizing: initial;
}
.gds-multiple-choice {
	padding: 0 0 0 30px;
}
.myesf-filter label {
	font-size: 14px;
}
@media (min-width: 741px) {
	.myesf-filter label {
		font-size: 16px;
	}
}
.block {
	display: block;
}
/* Filtering (Stacked) */
.column-filter-full {
	padding: 0px;
}
.accordion {
	margin-bottom: 40px;
}
.accordion-controls {
	display: none;
}
.filter-content-container {
	background-color: #bfc1c3;
	padding: 20px 10px 20px 10px;
}
.left-area, .right-area {
	box-sizing: border-box;
	display: inline-block;
	font-size: 19px;
	vertical-align: top;
	width: 50%;
}
.left-area {
	padding-right: 10px;
}
.right-area {
	padding-left: 10px;
}
[role="listbox"] {
	min-height: 18em;
	padding: 0px;
	background: white;
	border: 1px solid #aaa;
}
[role="option"] {
	display: block;
	padding: 0 1em 0 1.5em;
	position: relative;
	line-height: 2.25em;
}
[role="option"].focused {
	background: #005ea5;
	color: #fff;
}
[role="option"][aria-selected="true"]::before {
	content: '✓';
	position: absolute;
	left: 0.5em;
}
button {
	font-size: 19px;
}
button[aria-disabled="true"] {
	opacity: 0.5;
}
.move-right-btn {
	padding-right: 20px;
	position: relative;
}
.move-right-btn::after {
	content: ' ';
	height: 10px;
	width: 12px;
	background-image: url('../imgs/Arrows-Right-icon.png');
	background-position: center right;
	position: absolute;
	right: 2px;
	top: 6px;
}
.move-left-btn {
	padding-left: 20px;
	position: relative;
}
.move-left-btn::after {
	content: ' ';
	height: 10px;
	width: 12px;
	background-image: url('../imgs/Arrows-Left-icon.png');
	background-position: center left;
	position: absolute;
	left: 2px;
	top: 6px;
}
#ss_elem_list {
	max-height: 18em;
	overflow-y: auto;
	position: relative;
}
#exp_wrapper {
	width: 100%;
}
#exp_button {
	-webkit-appearance: none;
	border-radius: 0;
	font-family: "nta", Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 19px;
	line-height: 1.25;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0 40px 0 10px;
	display: block;
	height: 50px;
	border-color: #6f777b;
	border-width: 2px !important;
	line-height: 48px !important;
	position: relative;
	width: 100%;
	text-align: left;
}
#exp_button::after {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #2b8cc4;
	content: " ";
	position: absolute;
	right: 15px;
	top: 20px;
	z-index: 100;
}
#exp_button:focus, #exp_elem_list:focus {
	outline: 3px solid #ffbf47;
	outline-offset: 0;
}
#exp_button[aria-expanded="true"]::after {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 0;
	border-bottom: 6px solid #2b8cc4;
	content: " ";
	position: absolute;
	right: 15px;
	top: 20px;
	z-index: 100;
}
#exp_elem_list {
	border-top: 0;
	max-height: 10em;
	overflow-y: auto;
	position: absolute;
	margin: 0;
	width: 298px;
}
/* Search all available filter options (e.g. when filter results >= 25) */
.js-open .search-field-wrap {
	display: block;
}
.search-field-wrap {
	background-color: #dee0e2;
	display: none;
}
.search-field-wrap .filter-searchwithin-label {
	position: relative;
	display: block;
	background: transparent url('/public/images/beta/v116-0-0/icon-mag-glass.png') no-repeat 12px center;
	background-size: 15px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 35px;
}
.search-field-wrap .filter-searchwithin-label input.filter-search {
	width: 100%;
	font-size: 16px;
	background-color: transparent;
	border: 0;
	border-bottom: #0b0c0c 1px solid;
}
input.filter-search[type="text"], input.filter-search[type="search"] {
	font-family: "nta", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;
	width: 250px;
	min-width: 0;
	margin: 0;
	padding: 0.25em;
	text-transform: none;
	border: 1px solid #bbb;
}
/* Sorting table columns */
@media (min-width: 641px) {
	.column-document-list-two-thirds {
		padding: 0px 0px 0px 15px;
	}
}
.sortable-table {
	font-size: 16px;
	padding: 15px 0px 15px 15px;
}
.sortable-th {
	font-size: 16px;
	padding: 15px 0px 15px 0px;
}
.sortable-td {
	font-size: 16px;
	padding: 15px 0px 15px 15px;
}
.sortable-td-error {
	font-size: 16px;
}
.width-column-0 {
	min-width: 26px;
	max-width: 26px;
	width: 26px;
}
.width-column-1 {
	min-width: 300px;
}
.width-column-2 {
	min-width: 155px;
}
.width-column-3 {
	min-width: 100px;
	text-align: right;
}
.tab-header-no-sort {
	padding: 15px 0px 15px 15px;
	margin: -15px 0px -15px 0px;
	display: block;
}
.tab-header a {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px 0px 15px 15px;
	margin: -15px 0px -15px 0px;
	transition: 0.3s;
	display: block;
}
.tab-header > span {
	position: relative;
	padding-right: 1.5em;
}
a.tab-header .hod-chevron-up {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	content: "";
	margin-left: 5px;
	position: absolute;
	right: 0;
	top: 0;
}
a.tab-header .hod-chevron-down {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	content: "";
	margin-left: 5px;
	position: absolute;
	right: 0;
	bottom: 0;
}
a.tab-header .hod-chevron-up:last-child, 
a.tab-header .hod-chevron-down:first-child {
	top: 15%;
}
.tab-header a:hover {
	background-color: #ffbf47;
	color: black;
}
.tab-header a.active {
	background-color: #ddd;
	color: black;
	text-decoration: none;
}
.chevron-size {
	font-size: x-small;
}
/* Checkboxes */
.document-checkbox-th {
	vertical-align: top;
	margin: 0px;
	padding: 15px 0px 0px 0px;
}
.document-checkbox-td {
	vertical-align: top;
	margin: 0px;
	padding: 15px 0px 0px 0px;
}
.document-checkbox-div {
	width: 16px;
	height: 16px;
	padding: 0px;
}
.document-checkbox-div input {
	position: relative;
	width: 16px;
	height: 16px;
	margin: 0px 0px 0px 5px;
}
.document-checkbox-div [type=checkbox] + label::before {
	width: 12px;
	height: 12px;
	box-sizing: initial;
	left: 5px;
}
.document-checkbox-div [type=checkbox] + label::after {
	width: 8px;
	height: 3px;
	border-width: 0 0 2px 2px;
	top: 5px;
	left: 8px;
	box-sizing: initial;
}

/* Chris Harding (19.10.18) - GOV.UK tag styling */
.govuk-tag {
	font-family: nta, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.25;
	display: inline-block;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 1px;
	outline-color: transparent;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -2px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 94, 165);
	letter-spacing: 1px;
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
	text-transform: uppercase;
}
@media (min-width: 40.0625em) {
	.govuk-tag {
		font-size: 12px;
		line-height: 1.25;
	}
}
.govuk-bgred {
	background-color: rgb(177, 14, 30);
}
.govuk-bggrey {
	background-color: #6f777b;
}
.gapLeft {
	margin-left: 10px;
}
.govuk-tag-secondary-heading {
	vertical-align: middle;
}

/* Chris Harding (30.10.18) - Pagination */
.pager {
	font-size: 16px;
	margin-top: 1em;
	margin-bottom: 1.25em;
}
.pager-top {
	font-size: 16px;
	margin-bottom: 1.25em;
}
.pager-items {
	display: none;
}
@media (min-width: 641px) {
	.pager-items {
		display: inline;
	}
	.pager-items li {
		display: inline;
		margin: 0 5px;
	}
	.pager-items li:first-child {
		margin-left: 0;
	}
	.pager-items li:last-child {
		margin-right: 0;
	}
}
.pager-prev, .pager-next {
	margin-right: 10px;
}
@media (min-width: 641px) {
	.pager-prev, .pager-next {
		margin-right: 0;
	}
}
@media (min-width: 641px) {
	.pager-prev {
		margin-right: 10px;
	}
}
@media (min-width: 641px) {
	.pager-next {
		margin-left: 10px;
	}
}
@media (min-width: 641px) {
	.pager-controls {
		float: right;
	}
}
  
/* Chris Harding (31.10.18) - Back to top link styling taken from the GOV.UK Design System (https://government-frontend.herokuapp.com/component-guide/back-to-top) */
.direction-rtl {
    direction: rtl;
    text-align: start;
}
.app-c-back-to-top {
	font-family: nta, Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 14px;
	line-height: 1.14286;
	display: inline-block;
	margin-bottom: 15px;
}
@media (min-width: 641px) {
	.app-c-back-to-top {
		font-size: 16px;
		line-height: 1.25;
	}
}
.app-c-back-to-top__icon {
	float: left;
	margin-right: 0.3em;
	width: 0.8em;
	height: 0.968em;
}

/**********
* PROTOTYPE
* SCREEN FLOWS PAGE
* **********/

/* iFrame CSS (Site Map) */
@media (max-width: 431px) {
	.next a:before {
		background: url('arrow-sprite.png') no-repeat -80px -7px;
		background-position-x: right;
		background-position-y: center;
		display: block;
		float: right;
		width: 20px;
		height: 24px;
		background-size: 250%;
		content: " ";
	}
}
@media (max-width: 431px) {
	.previous a:before {
		background: url('arrow-sprite.png') no-repeat -80px -7px;
		background-position-x: left;
		background-position-y: center;
		display: block;
		float: left;
		width: 20px;
		height: 24px;
		background-size: 250%;
		content: " ";
	}
}
@media (max-width: 550px) {
	.hidden-page-items {
		display: none;
	}
}
@media (max-width: 550px) {
	.next {
		margin-left: 15px;
	}
}
@media (max-width: 290px) {
	.next {
		padding-top: 5px;
		margin-top: 5px;
		margin-left: 0px;
	}
}
.page {
	margin: 0 10px 20px 0;
	display: inline-block;
	width: 32%;
	position: relative;
}
.page--playlist:after {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('/public/images/chevron.svg') 0 0 no-repeat;
	position: absolute;
	top: 50%;
	right: -15px;
	background-size: 15px 15px;
}
.page:last-child:after {
	display: none;
}
.page-playlist--withroute {
	transform: translateX(50px)
}
.page-playlist--childroute {
	transform: translateX(100px)
}
.page--route-heading:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('/public/images/chevron.svg') 0 0 no-repeat;
	position: absolute;
	top: 0;
	left: -30px;
	background-size: 15px 15px;
	height: 260px;
	background-position: 0 66%;
	border-left: 5px solid;
}
.page h2 {
	word-break: break-word;
	font-size: 0.8em;
	line-height: 1.1;
	padding-bottom: 5px;
}
.page-inner {
	border: 1px solid #000;
	width: 100%;
	overflow: hidden;
	height: 200px;
	background: #fff url('/public/images/loader.svg') 50% 50% no-repeat;
}
.page--exit .page-inner {
	background: none;
	padding: 20px;
	box-sizing: border-box;
}
.page--exit {
	height: 100%;
	background: #005ea5;
	color: white;
}
#userJourneyFrames {
	width: 300%;
	height: 600px;
	transform: scale(0.33333);
	transform-origin: 0 0;
	background: none;
	border: 0;
}
.page-width-wrapper {
	position: relative;
	margin-top: 3em;
	width: 250px;
}
.page-width {
	width: 100%;
}
.page-width:after {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('/public/images/desktop.svg') 50% 50% no-repeat;
}
.page-width[data-device="desktop"]:after {
	background-image: url('/public/images/desktop.svg')
}
.page-width[data-device="tablet"]:after {
	background-image: url('/public/images/tablet.svg')
}
.page-width[data-device="mobile"]:after {
	background-image: url('/public/images/mobile.svg')
}
input[type="range"] {
	width: calc(100% - 40px);
	display: inline-block;
	margin: 0;
}
input[type="range"]::-moz-range-track {
	height: 1px;
}
input[type=range]::-moz-range-thumb {
	height: 12px;
	width: 12px;
	background: #ccc;
	border: 1px solid #aaa;
}
output {
	position: absolute;
	right: 0;
	top: 0.25em;
	font-size: 0.8em;
	opacity: 0.8;
}
output:after {
	content: "px";
}
.non-playlisted {
	padding: 2em 1em;
	background: lightgray;
	margin: 0 -1em;
}
.non-playlisted:before {
	content: "Pages not added to playlist";
	display: block;
	padding-bottom: 1em;
}
@media (min-width: 641px){
	.block-label {
		float: left;
	}
}
.block-label {
	display: block;
	float: none;
	clear: left;
	position: relative;
	background: #dee0e2;
	border: 1px solid #dee0e2;
	padding: 18px 30px 15px 54px;
	margin-bottom: 10px;
	cursor: pointer;
}
.js-enabled label.selected {
	background: #fff;
	border-color: #0b0c0c;
}

/**********
* NOT SIGNED-IN (PUBLIC)
* PE AND SPORT PREMIUM
* **********/

/* Chris Harding (05.04.19) - PE and sport styling for the floating left and right hand side sections */
.section-left {
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 641px) {
	.section-left {
		float: left;
		width: 66.66667%;
		padding: 0px 15px 0px 0px;
	}
}
.section-right {
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 641px) {
	.section-right {
		float: right;
		width: 33.33333%;
		padding: 0px 0px 0px 15px;
	}
}

/**********
* NOT SIGNED-IN (PUBLIC)
* VIEW LATEST FUNDING
* **********/

/* Chris Harding (24.04.19) - Single funding statement styling for all financial figures (right floated) */
/* GOV.UK Design System accordion component (https://design-system.service.gov.uk/components/accordion) */
.govuk-accordion__open-all {
	font-size: 14px !important;
}
@media (min-width: 641px) {
	.govuk-accordion__open-all {
		font-size: 16px !important;
	}
}
.govuk-accordion__single-funding-statement-header {
	padding-top: 10px !important;
	padding-right: 50px !important; 
}
@media (min-width: 641px) {
	.govuk-accordion__single-funding-statement-header {
		padding-right: 0px;
	}
}
.govuk-accordion__section-button {
	font-size: 19px;
	padding-right: 0px;
}
@media (min-width: 641px) {
	.govuk-accordion__section-button {
		font-size: 24px;
		padding-right: 0px;
	}
}
.govuk-accordion__heading-text-left {
	float: left;
	width: 66.66667%;
	margin: 0px;
	padding: 0px;
}
.govuk-accordion__heading-number-right {
	margin: 0px;
	padding: 0px;
}
@media (min-width: 641px) {
	.govuk-accordion__heading-number-right {
		float: right;
		width: 33.33333%;
		text-align: right;
	}
}
@media (max-width: 641px) {
	.govuk-accordion__heading-number-right {
		display: none;
	}
}
.govuk-accordion__sub-heading-number-right {
	font-size: 16px;
}
@media (min-width: 641px) {
	.govuk-accordion__sub-heading-number-right {
		font-size: 19px;
	}
}
.govuk-accordion__section-summary {
	font-size: 16px;
	margin-bottom: 5px;
}
@media (min-width: 641px) {
	.govuk-accordion__section-summary {
		font-size: 19px;
	}
}
.govuk-accordion__section-content {
	padding-right: 50px !important; 
}
.govuk-body {
	font-size: 16px !important;
}
@media (min-width: 641px) {
	.govuk-body {
		font-size: 19px !important;
	}
}
.hidden-sub-section {
	font-size: 19px;
	font-weight: bold;
}
@media (min-width: 641px) {
	.hidden-sub-section {
		display: none;
	}
}
.footer-guidance {
	padding-bottom: 15px;
}
.academyName {
	display: block;
	font-weight: bold;
}

/* Floats (left and right) */
.funding-block {
	width: 100%;
	display: inline-block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
@media (min-width: 641px) {
	.funding-block {
		padding-bottom: 10px;
	}
}
.funding-margin-bottom {
	margin-bottom: 20px;
}
@media (min-width: 641px) {
	.funding-margin-bottom {
		margin-bottom: 25px;
	}
}
.funding-left-container {
	margin: 0px;
	padding: 0px;
}
@media (min-width: 641px) {
	.funding-left-container {
		float: left;
		width: 66.66666%;
	}
}
.funding-left-text {
	margin: 0px;
	padding: 0px;
}
@media (min-width: 641px) {
	.funding-left-text {
		padding-right: 10px;
	}
}
.funding-right-container {
	margin: 0px;
	padding: 0px;
}
@media (min-width: 641px) {
	.funding-right-container {
		float: right;
		width: 33.33333%;
		text-align: right;
	}
}
.funding-right-text {
	margin: 0px;
	padding: 0px;
}
@media (min-width: 641px) {
	.funding-right-text {
		margin-left: 10px;
	}
}
.total {
	font-size: 19px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media (min-width: 641px) {
	.total {
		font-size: 24px;
	}
}
.bold-lede {
	font-weight: bold !important;
}
.gem-c-related-navigation__hidden-sub-section {
	padding-bottom: 5px;
}
.gem-c-related-navigation__hidden-sub-section-last {
	padding-bottom: 0px;
}

/* Chris Harding (15.05.19) - Dedicated schools grant styling to show different funding blocks in tabs */
/* GOV.UK Design System tabs component (https://design-system.service.gov.uk/components/tabs) */
/* Tabs */
.govuk-tabs {
	font-size: 16px !important;
}
@media (min-width: 641px) {
	.govuk-tabs {
		font-size: 19px !important;
	}
}
.govuk-tabs__title {
	font-size: 16px !important;
}
@media (min-width: 641px) {
	.govuk-tabs__title {
		font-size: 19px !important;
	}
}
.govuk-tabs__list-item {
	font-size: 16px !important;
}
@media (min-width: 641px) {
	.govuk-tabs__list-item {
		font-size: 19px !important;
	}
}
.govuk-tabs__tab {
	font-size: 16px !important;
}
@media (min-width: 641px) {
	.govuk-tabs__tab {
		font-size: 19px !important;
	}
}    
.govuk-tabs__list-item::before {
	content: "\2014 ";
	margin-left: -25px;
	padding-right: 5px;
}
.clearfix {
	clear: both;
}

/* Chris Harding (04.11.19) - New CSS for the DSG breakdown of funding (within tabs) so all views are responsive */
/* Lower level table design for each tab and block */
.funding-breakdown table, .funding-breakdown thead, .funding-breakdown th, .funding-breakdown tbody, .funding-breakdown tr, .funding-breakdown td {
	font-size: 12px;
}
@media (min-width: 391px) and (max-width: 640px) {
	.funding-breakdown table, .funding-breakdown thead, .funding-breakdown th, .funding-breakdown tbody, .funding-breakdown tr, .funding-breakdown td {
		font-size: 14px;
	}
}
@media (min-width: 641px) {
	.funding-breakdown table, .funding-breakdown thead, .funding-breakdown th, .funding-breakdown tbody, .funding-breakdown tr, .funding-breakdown td {
		font-size: 19px;
	}
}
.govuk-\!-width-one-third {
	width: 33.33% !important;
}
.govuk-\!-width-one-quarter {
	width: 25% !important;
}
.govuk-\!-width-one-fifth {
	width: 20% !important;
}
.govuk-\!-width-one-sixth {
	width: 16.66% !important;
}
.first-element-in-tab {
	margin-top: 10px;
}
@media (min-width: 641px) {
	.first-element-in-tab {
		margin-top: 20px;
	}
}
.last-table-below-tab {
	margin-bottom: 10px !important;
}
@media (min-width: 641px) {
	.last-table-below-tab {
		margin-bottom: -10px !important;
	}
}
.table-header-normal {
	font-weight: normal;
}
.padding-details {
	padding-bottom: 20px;
}
.padding-top-heading-total {
	padding-top: 10px;
}
.heading-guidance {
	padding-top: 0px;
}
@media (min-width: 641px) {
	.heading-guidance {
		padding-top: 15px;
	}
}
.heading-guidance-final-section {
	padding-top: 0px;
	margin-top: 0px;
}
@media (min-width: 641px) {
	.heading-guidance-final-section {
		padding-top: 15px;
	}
}
.heading-funding-summary {
	margin-top: 5px;
}
.total-allocation-container {
	box-sizing: border-box;
	float: left;
	width: 100%;
	margin-bottom: 0px;
	padding-bottom: 40px;
}
@media (min-width: 641px) {
	.total-allocation-container {
		margin-bottom: 10px;
	}
}
/* Funding block tab total summary tables */ 
.total-allocation-wrapper {
	width: 100%;
	display: inline-block;
	padding-top: 0px;
}
@media (min-width: 641px) {
	.total-allocation-wrapper {
		padding-top: 10px;
	}
}
.total-allocation-label {
	float: left;
}
@media (min-width: 321px) { /* Display inline on the right for all resolutions up to an iPhone 5/SE (321 pixels wide) */
	.total-allocation-label { 
		width: 50%;
	}
}
.total-allocation-amount {
	clear: left;
	width: 100%;
	text-align: inherit;
}
@media (min-width: 321px) { /* Display inline on the right for all resolutions up to an iPhone 5/SE (321 pixels wide) */
	.total-allocation-amount { 
		clear: none;
		text-align: right;
	}
}
.detailed-funding-block-wrapper {
	margin: 0px;
	padding-bottom: 15px;
}
@media (min-width: 641px) {
	.detailed-funding-block-wrapper {
		padding-bottom: 0px;
	}
}
.detailed-funding-block-wrapper ul {
	margin-bottom: 0px;
}
/* Chris Harding (21.04.20) - Responsive table design for all tables */
.table-column-default {
	display: none;
}
@media (min-width: 415px) {
	.table-column-default {
		display: table-cell;
	}
}
.table-column-mobile {
	display: table-cell;
}
@media (min-width: 415px) {
	.table-column-mobile {
		display: none;
	}
}

/* Print section and icon */
.block-header-total {
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 641px) {
	.block-header-total {
		float: left;
		width: 60%;
		padding-top: 15px;
	}
}
.block-header-print {
	text-align: right;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.block-header-print-left {
	text-align: left;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.block-header-print-no-tabs {
	display: inherit;
	padding-bottom: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 641px) {
	.block-header-print-no-tabs {
		display: none;
	}
}
.block-header-print-tabs {
	display: none;
}
@media (min-width: 641px) {
	.block-header-print-tabs {
		display: inherit;
	}
}
.fa {
	padding: 0 0.3em 0 0;
}
.fa-file {
	font-size: 28px; 
	padding-left: 4px;
}
@media (min-width: 641px) {
	.fa-file {
		font-size: 34px;
	}
}
.fa-print-large {
	font-size: 28px;
}
@media (min-width: 641px) {
	.fa-print-large {
		font-size: 34px;
	}
}

/* James Mckechnie (28.06.19) - Cards */
/* GOV.UK Design System cards component (https://github.com/alphagov/govuk-design-system-backlog/issues/113) currently EXPERIMENTAL */
.card {
	display: block;
	float: left;
	margin-bottom: 30px;
}
.card__body {
	display: block;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	background-color: rgb(222, 224, 226);
	color: rgb(11, 12, 12);
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
}
a.card__body {
	color: rgb(0, 94, 165);
}
.card__body span {
	display: block;
}
.card__footer {
	display: block;
	background-color: rgb(248, 248, 248);
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
}

/* James Mckechnie (08.04.19) - VLF (PE and sport) styling for the published date font under the document download link */
.published-date {
	font-weight: normal;
}

/* Chris Harding (20.08.19) - Support section for users including the following:
	a) Dynamic list of terms listed on each page (taken from the master glossary-of-terms.html)
	b) Link to the master glossary of terms page
	c) Contact us link
*/
.glossary-link  {
	position: relative;
	padding-top: 60px;
}
.glossary-link summary {
	font-family: "nta", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #0b0c0c;
	line-height: 1.14286;
	padding-left: 0px 

}
@media (min-width: 641px) {
	.glossary-link summary {
		font-size: 16px;
		line-height: 1.25;
	}
}
.glossary-link details summary:before {
	display: none;
}
.glossary-link details[open] > summary:before {
	display: none;
}
.glossary-link summary:link, .glossary-link summary:visited, .glossary-link summary:hover, .glossary-link summary:active, .glossary-link summary:focus {
	color: #0b0c0c;
}

/* Chris Harding (04.09.19) - New dynamic download section for the public VLF sub service also allowing users to request an alternative accessible format */
/* Icon */
.download-a-document-container {
	padding-bottom: 0px;
}
@media (min-width: 641px) {
	.download-a-document-container {
		padding-bottom: 10px;
	}
}
.download-a-document {
	display: block;
	font-weight: 600;
	background: url('/public/images/beta/v116-0-0/icon-file-download.png') no-repeat scroll 0 0;
	min-height: 2.5em;
	padding: 0 0 0 2.5em;
}
/* Content */
.download-a-document-content {
	font-size: 16px;
	font-weight: normal;
	display: inline-grid;
}
.download-a-document-section-1 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.download-a-document-section-2 {
	display: block;
}

/* Chris Harding (05.09.19) - TEMPORARY design and content solution for the business requirement to not round all pupil numbers and have up to 11 decimal places */
.decimal {
	font-size: 12px;
}
@media (min-width: 641px) {
	.decimal {
		font-size: 16px;
		line-height: 1.25;
	}
}

/* Chris Harding (26.09.19) - Styling of a third party (OPEN SOURCE) accessible tooltip and modal which was taken from Nicolas Hoffmann (https://a11y.nicolas-hoffmann.net/modal/) */
.modal-link:link, .modal-link:visited, .modal-link:hover, .modal-link:active, .modal-link:focus {
	color: #0b0c0c;
}
#page {
	width: 960px;
}
dialog {
	display: block;
}
.no-scroll-html {
	overflow: hidden;
}
.no-scroll {
	overflow: hidden;
}
.modal-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000;
	opacity: .8;
	z-index: 666;
	cursor: pointer;
}
.modal {
	font-family: "nta", Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 16px;
	line-height: 1.25;
	-webkit-font-smoothing: antialiased;
	position: fixed;
	left: 0;
	top: 25%;
	width: 50%;
	right: 0;
	margin: 0 auto;
	border: 1px solid #000;; 
	background: #fff;
	z-index: 667;
	padding: 1em 2em 1em 2em;
	overflow: auto;
}
@media (min-width: 641px) {
	.modal {
		font-size: 19px;
		line-height: 1.31579;
	}
}
.modal-close {
	float: right;
	font-family: "nta", Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	font-size: 16px;
	line-height: 1.25;
	-webkit-font-smoothing: antialiased;
	line-height: 1.2;
	background: none !important;
	border: none;
	padding: 0 !important;
	color: #069;
	text-decoration: underline;
	cursor: pointer;
}
.modal-close:link {
	color: #005ea5;
}
.modal-close:visited {
	color: #4c2c92;
}
.modal-close:hover {
	color: #2b8cc4;
}
.modal-close:active {
	color: #2b8cc4;
}
.modal-close:focus {
	background: #ffbf47 !important;
}
@media (min-width: 641px) {
	.modal-close {
		font-size: 19px;
		line-height: 1.31579;
	}
}
#modal-title {
	margin-top: 1.0em;
	margin-bottom: 1.0em;
}
@media (min-width: 641px) {
	#modal-title {
		margin-top: 0.6em;
		margin-bottom: 0.55556em;
	}
}

/* Chris Harding (27.11.19) - Variance icon styling */
.increase {
    color: #00703c;
}
.decrease {
    color: #d4351c;
}

/* Chris Harding (06.12.19) - TEMPORARY VLF (PE and sport) styling for all funding breakdown tables */
.funding-breakdown-pesg table, .funding-breakdown-pesg thead, .funding-breakdown-pesg th, .funding-breakdown-pesg tbody, .funding-breakdown-pesg tr, .funding-breakdown-pesg td {
	font-size: 8px;
}
@media (min-width: 341px) and (max-width: 640px) {
	.funding-breakdown-pesg table, .funding-breakdown-pesg thead, .funding-breakdown-pesg th, .funding-breakdown-pesg tbody, .funding-breakdown-pesg tr, .funding-breakdown-pesg td {
		font-size: 10px;
	}
}
@media (min-width: 391px) and (max-width: 640px) {
	.funding-breakdown-pesg table, .funding-breakdown-pesg thead, .funding-breakdown-pesg th, .funding-breakdown-pesg tbody, .funding-breakdown-pesg tr, .funding-breakdown-pesg td {
		font-size: 12px;
	}
}
@media (min-width: 641px) {
	.funding-breakdown-pesg table, .funding-breakdown-pesg thead, .funding-breakdown-pesg th, .funding-breakdown-pesg tbody, .funding-breakdown-pesg tr, .funding-breakdown-pesg td {
		font-size: 16px;
	}
}

/**********
* SIGNED-IN
* ALLOCATION STATEMENTS (16 TO 19)
* **********/

/* James Mckechnie (14.08.20) - Styling for the alternative to tabs to display funding blocks based on the GOV.UK contents page template */
.gem-c-contents-list {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	z-index: 1;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(255, 255, 255) 0px 20px 15px -10px;
}
.gem-c-contents-list__title {
	color: rgb(11, 12, 12);
	font-family: nta, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
	color: rgb(11, 12, 12);
	font-family: nta, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14286;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
}
.gem-c-contents-list__list-item {
	padding-top: 10px;
	line-height: 1.3;
	list-style-type: none;
}
.gem-c-contents-list__list-item--dashed {
	position: relative;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 15px;
}
.gem-c-contents-list__list-item--dashed::before {
	content: "—";
	position: absolute;
	left: 0px;
	width: 20px;
	overflow-x: hidden;
	overflow-y: hidden;
}
.govuk-link, .gem-c-notice__title a, .gem-c-pagination__link, .gem-c-related-navigation__section-link, .gem-c-share-links__link, .gem-c-step-nav-related__link, .gem-c-subscription-links .gem-c-subscription-links__link, .gem-c-translation-nav__link, .app-c-header-notice__link {
	font-family: nta, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.gem-c-contents-list--no-underline .gem-c-contents-list__link {
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
}
.gem-c-document-list {
	color: rgb(11, 12, 12);
	font-family: nta, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.gem-c-document-list__item {
	overflow-x: hidden;
	overflow-y: hidden;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(177, 180, 182);
	list-style-position: initial;
	list-style-image: initial;
	list-style-type: none;
}
.gem-c-document-list__item:last-child {
	border-bottom-width: 0px;
	border-bottom-style: initial;
	border-bottom-color: initial;
}
.gem-c-document-list__item-title {
	font-family: nta, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	display: inline-block;
}
.gem-c-document-list__item-link {
	font-family: nta, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.gem-c-document-list__item-link:focus {
	outline-color: transparent;
	outline-style: solid;
	outline-width: 3px;
	color: rgb(11, 12, 12);
	background-color: rgb(255, 221, 0);
	box-shadow: rgb(255, 221, 0) 0px -2px, rgb(11, 12, 12) 0px 4px;
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
}
.gem-c-document-list__item-link:link {
	color: rgb(29, 112, 184);
}
.gem-c-document-list__item-link:visited {
	color: rgb(76, 44, 146);
}
.gem-c-document-list__item-link:hover {
	color: rgb(0, 48, 120);
}
.gem-c-document-list__item-link:active {
	color: rgb(11, 12, 12);
}
.gem-c-document-list__item-link:link:focus {
	color: rgb(11, 12, 12);
}
.gem-c-document-list__attribute {
	color: rgb(11, 12, 12);
	font-family: nta, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.25;
	display: inline-block;
	list-style-position: initial;
	list-style-image: initial;
	list-style-type: none;
	padding-right: 20px;
}
.js-enabled .govuk-sticky-element--stuck-to-window {
	bottom: 0px;
	position: fixed;
}
.js-enabled .govuk-sticky-element--enabled {
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
	transition-property: opacity;
	opacity: 1;
}
.js-enabled .govuk-sticky-element--hidden {
	opacity: 0;
	pointer-events: none;
}
.app-c-contents-list-with-body__link-wrapper {
	padding-bottom: 10px;
}
.app-c-contents-list-with-body__link-wrapper.govuk-sticky-element--stuck-to-window {
	background-color: rgb(243, 242, 241);
	bottom: -1px;
	left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.app-c-contents-list-with-body__link-container {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.app-c-back-to-top {
	display: inline-block;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
.app-c-contents-list-with-body__link-container .app-c-back-to-top {
	margin-left: 0px;
	margin-right: 0px;
}
.app-c-contents-list-with-body__link-wrapper .app-c-back-to-top {
	padding-bottom: 10px;
}
.app-c-contents-list-with-body__link-wrapper.govuk-sticky-element--stuck-to-window .app-c-back-to-top {
	margin-bottom: 0px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	width: 66.6667%;
}
.app-c-back-to-top__icon {
	float: left;
	margin-right: 0.3em;
	width: 0.8em;
	height: 0.968em;
}

/**********
* SIGNED-IN
* ALLOCATION STATEMENTS (ADULTS)
* **********/

/* Chris Harding (18.12.18) - Styling for the view all statements list page */
.as-tab, .as-tab.active {
	display: block;
}
.hide {
	display: none !important;
}
.allocation-statements-table-all-but-last {
	margin-bottom: 20px;
}
@media (min-width: 641px) {
	.allocation-statements-table-all-but-last {
		margin-bottom: 40px;
	}
}
.allocation-statements-table-last {
	margin-bottom: 10px;
}
@media (min-width: 641px) {
	.allocation-statements-table-last {
		margin-bottom: 30px;
	}
}
.allocation-statements-table-total {
	margin-bottom: 30px;
}
@media (min-width: 641px) {
	.allocation-statements-table-total {
		margin-bottom: 40px;
	}
}

/* Chris Harding (18.12.18) - Styling for all statement pages */
.table-with-no-borders table, .table-with-no-borders th, .table-with-no-borders td {
	border: none;
}
.table-with-border-bottom {
	border-bottom: 1px solid #bfc1c3;
}
.form-download {
	display: block;
	font-weight: 600;
	background: url('/public/images/beta/v116-0-0/icon-file-download.png') no-repeat scroll 0 0;
	min-height: 2.5em;
	padding: 0 0 0 2.5em;
}
.form-download-small {
	display: block;
	font-weight: 400;
	background: url('/public/images/beta/v116-0-0/icon-file-download.png') no-repeat scroll 0 0;
	min-height: 1.25em;
	padding: 0 0 0 1.25em;
}
.non-bold {
	font-weight: normal;
}

/* James Mckechnie (21.01.19) - Additional CSS styling for the view all statements list page */
@media screen and (min-width: 780px) {
	.parent-wrapper {
    	width: 66.66%;
    	display: inline-block;
    }
	.amount-wrapper {
        float: right;
    }
}
@media screen and (max-width: 780px) {
.amount-wrapper {
    padding-top: 10px;
    }
}

/**********
* SIGNED-IN
* ALLOCATION STATEMENTS (GAG)
* **********/

/* Chris Harding (21.04.20) - Show users change and variance between their funding statements */
.variance-summary-text {
	font-size: 80%;
}
.variance-text {
	font-size: 80%;
	margin-top: 0px;
}
.variance-block-header-total {
	padding-bottom: 5px;
}
@media (min-width: 641px) {
	.variance-block-header-total {
		padding-bottom: 15px;
	}
}
.variance-heading-no-margin {
	margin-bottom: 0px;
}
.variance-heading-no-padding {
	margin: 0px;
	padding: 0px;
}

/* James Mckechnie (23.06.20) - Hide (on load) any elements we only want to show in print view */
.print-organisation-name {
	display: none;
}
.show-on-print {
	display: none;
}

/* James Mckechnie (30.04.20) - Show users icons to understand calculations in their funding statements */
.calc-letter {
	font-weight: bold;
	width: 30px;
}
.fa-plus, .fa-minus, .fa-divide, .fa-times, .fa-equals {
	font-size: 14px;
}

/* James Mckechnie (15.06.20) - New styling for download a document section plus the browser print dialogue */
.download-a-document-container-new {
	margin-bottom: 1.5em;
	display: block;
}
.download-icon {
	float: left;
	width: 2.5em;
}
.download-a-document-new {
	float: none;
	font-weight: 600;
	min-height: 2.5em;
	vertical-align: top;
	padding-left: 2.8em;
}
.download-a-document-content {
	font-size: 14px;
	font-weight: normal;
	display: inline-grid;
}
@media (min-width: 641px) {
	.download-a-document-content {
		font-size: 16px;
	}
}
.hidden-section {
	font-size: 14px;
	padding-top: 10px;
}
@media (min-width: 641px) {
	.hidden-section {
		font-size: 16px;
	}
}
.print-a-document-container {
	padding-bottom: 0px;
}
@media (min-width: 641px) {
	.print-a-document-container {
		padding-bottom: 10px;
	}
}
.print-icon {
	float: left;
	width: 2.5em;
}
.print-a-document {
	float: none;
	font-weight: 600;
	min-height: 2.5em;
	vertical-align: top;
	padding-left: 2.8em;
}

/**********
* SIGNED-IN
* DOCUMENT EXCHANGE
* **********/

/* Chris Harding (19.10.18) - File upload CSS */
#fileInput0 {
	font-size: 16px;
}
#documentsToSend table, #documentsToSend th, #documentsToSend tr, #documentsToSend td {
	font-size: 16px;
}
#uploadAnotherDiv {
	margin: 20px 0;
}
#button-to-remove {
	background-color: #b10e1e;
}

/* Chris Harding (02.07.20) - Styling for new versioning mechanism */
.documentVersionStandard {
	padding-bottom: 15px;
}
.documentVersionFinal {
	padding-bottom: 0px;
}
