{% extends "layout.html" %}

{% block page_title %}
	Archive
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li>Archive</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">Archive</h1>
			<p>All historic prototype designs are below, sorted by GDS phase (e.g. alpha) and then sprint.</p>

			<!-- Private Beta -->
			<div class="form-group">
				<h2 class="heading-large">Private Beta</h2>
				<a href="archive/beta/sprint-100"><span class="bold-medium">Sprint 100 (beta-v100-0-0)</span></a>
				<ul class="list-bullet">
					<li>Start of the beta phase designs (view latest funding) including new designs and content based on the learnings from the final alpha UR sessions. This includes:
						<ul class="list-bullet">
							<li>versioning for the DSG</li>
							<li>refined single funding statement</li>
							<li>new content across the entire public funding information (DSG and PE and sport) user journeys</li>
							<li>redesigned PE and sport breakdown</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-99"><span class="bold-medium">Sprint 99 (beta-v99-0-0)</span></a>
				<ul class="list-bullet">
					<li>Final confirmed content for the public funding information (DSG and PE and sport) user journeys, based on an end to end 2i content review of the sub service.</li>
					<li>Iterations to the public funding information (DSG and PE and sport) user journeys including merged lower level DSG tabs, changed external link behaviour and hiding of the sections with null data in.</li>
				</ul>
			</div>
			
			<div class="form-group">
				<a href="archive/beta/sprint-98"><span class="bold-medium">Sprint 98 (beta-v98-0-0)</span></a>
				<ul class="list-bullet">
					<li>Final design iterations (minus content) for the public funding information (DSG and PE and sport) user journeys, based on end user usability testing findings.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-97"><span class="bold-medium">Sprint 97 (beta-v97-0-0)</span></a>
				<ul class="list-bullet">
					<li>Iterated the designs and content, for the public funding information (DSG and PE and sport) user journeys, based on end user usability testing findings.</li>
					<li>Added a 5th funding deductions block to the DSG lower level view ("2019-20_HN_places_&_deductions").</li>
					<li>Made design changes to the public funding information (DSG and PE and sport) user journeys, based on suggestions received during a UX Design Critiques collaborative session.</li>
					<li>Reviewed and updated content (part 1/2) of the public funding information (DSG and PE and sport) user journeys.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-96"><span class="bold-medium">Sprint 96 (beta-v96-0-0)</span></a>
				<ul class="list-bullet">
					<li>Adapted the public funding information (single funding statement) user journeys for viewing the DSG and PE and sport funding allocations.</li>
					<li>Added a new branch to the public funding information (DSG and PE and sport) user journeys so users can choose whether to view by organisation or download the spreadsheets.</li>
					<li>Expanded on the public funding information DSG user journey so users can view lower level detail.</li>
					<li>Updated the content (part 1/2) of the public funding information (DSG and PE and sport) user journeys.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-22"><span class="bold-medium">Sprint 22 (beta-v22-0-0)</span></a>
				<ul class="list-bullet">
					<li>Creation of the first designs and content for the single funding statement (DSG and PE and sport) user journeys.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-21"><span class="bold-medium">Sprint 21 (beta-v21-0-0)</span></a>
				<ul class="list-bullet">
					<li>Added the multiple spreadsheets for download design to PE and sport (April release).</li>
					<li>Agreed design and content changes to the document exchange (external) parent view (LA & MAT) user journeys following a review with the development team.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-20"><span class="bold-medium">Sprint 20 (beta-v20-0-0)</span></a>
				<ul class="list-bullet">
					<li>Added the PE and sport feature to the prototype.</li>
					<li>New designs and content for the PE and sport April release.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-19"><span class="bold-medium">Sprint 19 (beta-v19-0-0)</span></a>
				<ul class="list-bullet">
					<li>Final agreed designs to the document exchange (external) parent view (LA & MAT) user journeys.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-18"><span class="bold-medium">Sprint 18 (beta-v18-0-0)</span></a>
				<ul class="list-bullet">
					<li>Design and content changes to the document exchange (external) parent view (LA & MAT) user journeys.</li>
					<li>Addition of new content, from the business, to the allocation statements (adults) user journey to include the new funding stream name - ESFA funded adult education budget.</li>
					<li>Fixes and changes to the prototype so that is works more realistically for future usability testing sessions. </li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-17"><span class="bold-medium">Sprint 17 (beta-v17-0-0)</span></a>
				<ul class="list-bullet">
					<li>Design and content changes to the document exchange (external) parent view (LA & MAT) user journeys.</li>
					<li>Last minute changes to design and content prior to going live (MVP into private beta) with allocation statements (adults), external child view (academy & school) and PE and sport.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-16"><span class="bold-medium">Sprint 16 (beta-v16-0-0)</span></a>
				<ul class="list-bullet">
					<li>Design and content changes to the document exchange (external) parent view (LA & MAT) user journeys.</li>
					<li>Fixes to all accessibility issues (AA, AA, and AAA) identified in the team's second DAC report (17.01.19).</li>
					<li>Changes to the allocation statements (adults) user journeys prior to go live.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-15"><span class="bold-medium">Sprint 15 (beta-v15-0-0)</span></a>
				<ul class="list-bullet">
					<li>Creation of the first designs and content for the document exchange (external) parent view (LA & MAT) user journeys.</li>
				</ul>
			</div>
			
			<div class="form-group">
				<a href="archive/beta/sprint-14"><span class="bold-medium">Sprint 14 (beta-v14-0-0)</span></a>
				<ul class="list-bullet">
					<li>Fixes to all accessibility issues (AA, AA, and AAA) identified in the team's first DAC report (19.12.18).</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-13"><span class="bold-medium">Sprint 13 (beta-v13-0-0)</span></a>
				<ul class="list-bullet">
					<li>Final agreed designs to the allocation statements (adults) so that it can be baselined.</li>
					<li>Final agreed designs to the document exchange (external) so that it can be baselined.</li>
					<li>Final agreed designs to the document exchange (internal) so that it can be baselined.</li>
					<li>Added the correct GOV.UK phase banners (beta) across all user journeys, in the correct places.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-12"><span class="bold-medium">Sprint 12 (beta-v12-0-0)</span></a>
				<ul class="list-bullet">
					<li>Further agreed changes to the document exchange (external) so it can be baselined.</li>
					<li>Iterations to the document exchange (internal) based on user research findings and ESFA design critiques.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-11"><span class="bold-medium">Sprint 11 (beta-v11-0-0)</span></a>
				<ul class="list-bullet">
					<li>Iterations to the document exchange (external) based on user research findings.</li>
					<li>Iterations to the document exchange (internal) based on user research findings and ESFA design critiques.</li>
					<li>Archiving of all historic designs and user journeys.</li>
					<li>New versioning system applied across the prototype and reviewed with the SFS team.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-10"><span class="bold-medium">Sprint 10 (beta-v10-0-0)</span></a>
				<ul class="list-bullet">
					<li>Iterations to the document exchange (external) based on user research findings.</li>
					<li>Creation of the first pages for the document exchange (internal) user journeys.</li>
					<li>Major global fixes to the prototype.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-9"><span class="bold-medium">Sprint 9 (beta-v9.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the allocation statements (adults) user journeys with a design A and design B added for some A/B testing.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-8"><span class="bold-medium">Sprint 8 (beta-v8.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the allocation statements (adults) user journeys with a design A and design B added for some A/B testing.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-7"><span class="bold-medium">Sprint 7 (beta-v7.0.0)</span></a>
				<ul class="list-bullet">
					<li>Completed all user journeys for PE and sport (public) including adding designs for search scenarios. </li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-6"><span class="bold-medium">Sprint 6 (beta-v6.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the E2E user journeys for PE and sport (public) including start points on GOV.UK.</li>
					<li>First designs for the PE and sport (public) find an organisation user journey.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-5"><span class="bold-medium">Sprint 5 (beta-v5.0.0)</span></a>
				<ul class="list-bullet">
					<li>Live service design work completed as part of the skills funding service (live) Funding Claims (16-19 addition to adults).</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-4"><span class="bold-medium">Sprint 4 (beta-v4.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the allocation statements (adults) user journeys (3 streams).</li>
					<li>Completed all of the E2E user journeys for PE and sport (public) including the GOV.UK page, search results and a page for Greta.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-3"><span class="bold-medium">Sprint 3 (beta-v3.0.0)</span></a>
				<ul class="list-bullet">
					<li>Additional designs for the allocation statements (adults) user journeys to include 3 streams and the full split of the funding streams.</li>
					<li>First designs and screens for the announcements and messaging for the skills funding service (live).</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-2"><span class="bold-medium">Sprint 2 (beta-v2.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the allocation statements (adults) user journeys.</li>
					<li>Completed all of the E2E user journeys (MAT & SAT) for the document exchange (external).</li>
					<li>Iterations on the designs for the 'documents to publish' document exchange (internal) user journey.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-1"><span class="bold-medium">Sprint 1 (beta-v1.0.0)</span></a>
				<ul class="list-bullet">
					<li>First designs for the allocation statements (adults) user journeys from David and Mel.</li>
					<li>Version 2 of the dashboard design and 'documents to publish' document exchange (internal) user journeys.</li>
					<li>First designs and screens for the PE and sport (public) user journeys.</li>
				</ul>
			</div>

			<!-- Alpha -->
			<div class="form-group">
				<h2 class="heading-large">Alpha</h2>
				<a href="archive/alpha/sprint-3"><span class="bold-medium">Sprint 3 (alpha-v3.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the allocation statements (GAG & 16-19) user journeys.</li>
					<li>First designs and screens for the document exchange (external) user journeys (MAT & SAT).</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/alpha/sprint-2"><span class="bold-medium">Sprint 2 (alpha-v2.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the allocation statements (GAG) user journeys.</li>
					<li>New designs and screens for the allocation statements (16-19) user journeys (academies SATs). </li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/alpha/sprint-1"><span class="bold-medium">Sprint 1 (alpha-v1.0.0)</span></a>
				<ul class="list-bullet">
					<li>First designs and screens for the allocation statements (GAG) user journeys (academies SATs).</li>
					<li>Creation of a new dashboard for the document exchange (external).</li>
				</ul>
			</div>

			<div class="form-group">
				<h2 class="heading-large">Legacy</h2>
				<p>You can still view all remaining and unsorted designs on the <a href="legacy">legacy page</a>, which were organised prior to versioning (started on 09 October 2018).</p>
				<p>Most of these designs are deemed redundant since they have been superseded by the versioned designs in the archive (kept for assessment and audit purposes).</p>
			</div>

		</div>

	</div>

</main>

{% endblock %}
