{% extends "layout.html" %}

{% block page_title %}
	Archive
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div id="global-breadcrumb" class="breadcrumbs group">

				<nav>
					<ol id="removeADocBreadcrumb1">
						<li><a href="/">Manage your education and skills funding prototype</a></li>
						<li>Archive</li>
					</ol>
				</nav>

			</div>

			<h1 class="heading-xlarge">Archive</h1>
			<p>All historic prototype designs are below, sorted by GDS phase (e.g. Alpha) and then sprint.</p>

			<!-- Private Beta -->
			<div class="form-group">
				<h2 class="heading-large">Private Beta</h2>
				<a href="archive/beta/sprint-11"><span class="bold-medium">Sprint 11 (beta-v11-0-0)</span></a>
				<ul class="list-bullet">
					<li>Iterations to the Document Exchange (External) based on user research findings.</li>
					<li>Iterations to the Document Exchange (Internal) based on user research findings and ESFA design critiques.</li>
					<li>Archiving of all historic designs and user journeys.</li>
					<li>New versioning system applied across the prototype and reviewed with the SFS team.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-10"><span class="bold-medium">Sprint 10 (beta-v10-0-0)</span></a>
				<ul class="list-bullet">
					<li>Iterations to the Document Exchange (External) based on user research findings.</li>
					<li>Creation of the first pages for the Document Exchange (Internal) user journeys.</li>
					<li>Major global fixes to the prototype.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-9"><span class="bold-medium">Sprint 9 (beta-v9.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the Allocation Statements (Adults) user journeys with a design A and design B added for some A/B testing.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-8"><span class="bold-medium">Sprint 8 (beta-v8.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the Allocation Statements (Adults) user journeys with a design A and design B added for some A/B testing.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-7"><span class="bold-medium">Sprint 7 (beta-v7.0.0)</span></a>
				<ul class="list-bullet">
					<li>Completed all user journeys for PE and Sport (Public) including adding designs for search scenarios. </li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-6"><span class="bold-medium">Sprint 6 (beta-v6.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the E2E user journeys for PE and Sport (Public) including start points on GOV.UK.</li>
					<li>First designs for the PE and Sport (Public) find an organisation user journey.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-5"><span class="bold-medium">Sprint 5 (beta-v5.0.0)</span></a>
				<ul class="list-bullet">
					<li>Live service design work completed as part of the Skills Funding Service (Live) Funding Claims (16-19 addition to adults).</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-4"><span class="bold-medium">Sprint 4 (beta-v4.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the Allocation Statements (Adults) user journeys (3 streams).</li>
					<li>Completed all of the E2E user journeys for PE and Sport (Public) including the GOV.UK page, search results and a page for Greta.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-3"><span class="bold-medium">Sprint 3 (beta-v3.0.0)</span></a>
				<ul class="list-bullet">
					<li>Additional designs for the Allocation Statements (Adults) user journeys to include 3 streams and the full split of the funding streams.</li>
					<li>First designs and screens for the announcements and messaging for the Skills Funding Service (Live).</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-2"><span class="bold-medium">Sprint 2 (beta-v2.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the Allocation Statements (Adults) user journeys.</li>
					<li>Completed all of the E2E user journeys (MAT & SAT) for the Document Exchange (External).</li>
					<li>Iterations on the designs for the 'documents to publish' Document Exchange (Internal) user journey.</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/beta/sprint-1"><span class="bold-medium">Sprint 1 (beta-v1.0.0)</span></a>
				<ul class="list-bullet">
					<li>First designs for the Allocation Statements (Adults) user journeys from David and Mel.</li>
					<li>Version 2 of the dashboard design and 'documents to publish' Document Exchange (Internal) user journeys.</li>
					<li>First designs and screens for the PE and Sport (Public) user journeys.</li>
				</ul>
			</div>

			<!-- Alpha -->
			<div class="form-group">
				<h2 class="heading-large">Alpha</h2>
				<a href="archive/alpha/sprint-3"><span class="bold-medium">Sprint 3 (alpha-v3.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the Allocation Statements (GAG & 16-19) user journeys.</li>
					<li>First designs and screens for the Document Exchange (External) user journeys (MAT & SAT).</li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/alpha/sprint-2"><span class="bold-medium">Sprint 2 (alpha-v2.0.0)</span></a>
				<ul class="list-bullet">
					<li>Iterations on the designs for the Allocation Statements (GAG) user journeys.</li>
					<li>New designs and screens for the Allocation Statements (16-19) user journeys (Academies SATs). </li>
				</ul>
			</div>

			<div class="form-group">
				<a href="archive/alpha/sprint-1"><span class="bold-medium">Sprint 1 (alpha-v1.0.0)</span></a>
				<ul class="list-bullet">
					<li>First designs and screens for the Allocation Statements (GAG) user journeys (Academies SATs).</li>
					<li>Creation of a new dashboard for the Document Exchange (External).</li>
				</ul>
			</div>

			<div class="form-group">
				<h2 class="heading-large">Legacy</h2>
				<p>You can still view all remaining and unsorted designs on the <a href="legacy">legacy page</a>, which were organised prior to versioning (started on 09 October 2018).</p>
				<p>Most of these designs are deemed redundant since they have been superseded by the versioned designs in the archive (kept for assessment and audit purposes).</p>
			</div>

		</div>

	</div>

</main>

{% endblock %}
