{% extends "layout.html" %}

{% block page_title %}
	Manage your education and skills funding prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

	<!-- {% include "includes/phase_banner_beta.html" %} -->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div class="form-block">
				<h1 class="heading-xlarge">
					Manage your education and skills funding prototype
					<span class="heading-secondary">GOV.UK prototype kit version <span class="bold">{{releaseVersion}}</span></span>
				</h1>
				<h2 class="heading-large">Current prototype (beta-v105-0-0) in design during the end of the VYF beta phase</h2>
				<p>The UX team are currently adding new content and designs to this version beta-105-0-0 during the end of the VYF beta phase. As a result, this version may change while viewing since it is not yet stable.</p>
				<p>If you would like to view a screenshot view of our user journeys visit the <a href="beta/v105-0-0/site-map"><span class="bold">screen flows page</span></a>.</p>
				<p>Select a user journey from the list below.</p>
			</div>
			
			<!-- USER JOURNEYS -->
			<div class="form-group">
				<span class="bold-medium">Allocation statements</span>
				<ul class="list-bullet">
					<li><a href="alpha/v3-0-0/doc-ex-sat5/dash-old"><span class="bold-medium">GAG and 16-19 (academy)</span></a></li>
					<li><a href="alpha/v3-0-0/doc-ex-mat4/index"><span class="bold-medium">GAG and 16-19 (MAT)</span></a></li>
					<li><a href="beta/v105-0-0/signed-in/external/child/allocation-statements/adults/start"><span class="bold-medium">Adults</span></a></li>
				</ul>
			</div>

			<div class="form-group">
				<span class="bold-medium">Document exchange</span>
				<ul class="list-bullet">
					<li><a href="beta/v105-0-0/signed-in/external/child/document-exchange/start"><span class="bold-medium">External child view (academy & school)</span></a></li>
					<li><a href="beta/v105-0-0/signed-in/external/parent/document-exchange/start"><span class="bold-medium">External parent view (LA & MAT)</span></a></li>
					<li><a href="beta/v105-0-0/signed-in/internal/document-exchange/start"><span class="bold-medium">Internal (ESFA)</span></a></li>
				</ul>
			</div>

			<div class="form-group">
				<span class="bold-medium">Public funding information</span>
				<ul class="list-bullet">
					<li><a href="beta/v105-0-0/not-signed-in/single-funding-statement/latest/start"><span class="bold-medium">DSG & PE and sport (academy, LA & school)</span></a></li>
				</ul>
			</div>

			<!-- <div class="form-group">
				<span class="bold-medium">Skills funding service (live)</span>
				<ul class="list-bullet">
					<li><a href="beta/v10-0-0/signed-in/external/document-exchange/start?announcements=true"><span class="bold-medium">Announcements</span></a></li>
					<li><a href="beta/v5-0-0/funding-claims/dashboard"><span class="bold-medium">Funding Claims (16-19 addition to Adults)</span></a></li>
				</ul>
			</div> -->

			<div class="form-group">
				<span class="bold-medium">Subcontractors</span>
				<ul class="list-bullet">
					<li><a href="prototypes/subcontractor_MVP/index"><span class="bold-medium">Subcontractors</span></a></li>
				</ul>
			</div>

			<!-- ARCHIVE -->
			<div class="form-group">
				<h2 class="heading-large">Archive</h2>

				<div class="form-group">
					<h3 class="heading-medium">Private beta</h3>
					<label class="form-label" for="select-box">Previous versions</label>
					<select onChange="window.location.href=this.value" class="form-control" id="select-box">
						<option></option>
						<option value="archive/beta/sprint-104">Sprint 104 (beta-v104-0-0)</option>
						<option value="archive/beta/sprint-103">Sprint 103 (beta-v103-0-0)</option>
						<option value="archive/beta/sprint-102">Sprint 102 (beta-v102-0-0)</option>
						<option value="archive/beta/sprint-101">Sprint 101 (beta-v101-0-0)</option>
						<option value="archive/beta/sprint-100">Sprint 100 (beta-v100-0-0)</option>
						<option value="archive/beta/sprint-99">Sprint 99 (beta-v99-0-0)</option>
						<option value="archive/beta/sprint-98">Sprint 98 (beta-v98-0-0)</option>
						<option value="archive/beta/sprint-97">Sprint 97 (beta-v97-0-0)</option>
						<option value="archive/beta/sprint-96">Sprint 96 (beta-v96-0-0)</option>
						<option value="archive/beta/sprint-22">Sprint 22 (beta-v22-0-0)</option>
						<option value="archive/beta/sprint-21">Sprint 21 (beta-v21-0-0)</option>
						<option value="archive/beta/sprint-20">Sprint 20 (beta-v20-0-0)</option>
						<option value="archive/beta/sprint-19">Sprint 19 (beta-v19-0-0)</option>
						<option value="archive/beta/sprint-18">Sprint 18 (beta-v18-0-0)</option>
						<option value="archive/beta/sprint-17">Sprint 17 (beta-v17-0-0)</option>
						<option value="archive/beta/sprint-16">Sprint 16 (beta-v16-0-0)</option>
						<option value="archive/beta/sprint-15">Sprint 15 (beta-v15-0-0)</option>
						<option value="archive/beta/sprint-14">Sprint 14 (beta-v14-0-0)</option>
						<option value="archive/beta/sprint-13">Sprint 13 (beta-v13-0-0)</option>
						<option value="archive/beta/sprint-12">Sprint 12 (beta-v12-0-0)</option>
						<option value="archive/beta/sprint-11">Sprint 11 (beta-v11-0-0)</option>
						<option value="archive/beta/sprint-10">Sprint 10 (beta-v10-0-0)</option>
						<option value="archive/beta/sprint-9">Sprint 9 (beta-v9.0.0)</option>
						<option value="archive/beta/sprint-8">Sprint 8 (beta-v8.0.0)</option>
						<option value="archive/beta/sprint-7">Sprint 7 (beta-v7.0.0)</option>
						<option value="archive/beta/sprint-6">Sprint 6 (beta-v6.0.0)</option>
						<option value="archive/beta/sprint-5">Sprint 5 (beta-v5.0.0)</option>
						<option value="archive/beta/sprint-4">Sprint 4 (beta-v4.0.0)</option>
						<option value="archive/beta/sprint-3">Sprint 3 (beta-v3.0.0)</option>
						<option value="archive/beta/sprint-2">Sprint 2 (beta-v2.0.0)</option>
						<option value="archive/beta/sprint-1">Sprint 1 (beta-v1.0.0)</option>
					</select>
				</div>

				<div class="form-group">
					<h3 class="heading-medium">Alpha</h3>
					<label class="form-label" for="select-box">Previous versions</label>
					<select onChange="window.location.href=this.value" class="form-control" id="select-box">
						<option></option>
						<option value="archive/alpha/sprint-3">Sprint 3 (alpha-v3.0.0)</option>
						<option value="archive/alpha/sprint-2">Sprint 2 (alpha-v2.0.0)</option>
						<option value="archive/alpha/sprint-1">Sprint 1 (alpha-v1.0.0)</option>
					</select>
				</div>

				<p>For a more detailed view of the previous versions visit the <a href="archive">archive page</a>.</p>
			</div>

		</div>

	</div>

</main>

{% endblock %}
