{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Education and Skills Funding Service prototypes
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
   

      <h2 class="heading-medium">Versions</h2>

			<ul class="list list-bullet">
				<li><a href="prototypes/archived-prototype/index.html">Version 1 - with everything</a></li>
				<li><a href="prototypes/version_3/index.html">Version 3</a></li>
				<li><a href="prototypes/sub-contractors/index.html">Sub-contractors</a></li>
				<li><a href="prototypes/version_4/index.html">Version 4</a></li>
				<li><a href="prototypes/subcontractors_2/index.html">Subcontractor 2 sprint 50</a></li>
<li><a href="prototypes/allocations/list.html">Allocations</a></li>
<li><a href="prototypes/subcontractors_3/index.html">Subcontractor 3</a></li>
<li><a href="prototypes/subcontractors_4/index.html">Subcontractor 4 sprint 51</a></li>
<li><a href="prototypes/subcontractors_5/index.html">Subcontractor 5</a></li>


			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


