{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Information Exchange prototypes
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
   

      <h2 class="heading-medium">Alpha</h2>


			
			<ul>
<li><a href="prototypes/version_4/dashboard.html">Version SFS starting point from Arif</a></li>
<li><a href="prototypes/allocations_academies2/dashboard2.html">Allocations Academies MAT's</a></li>
<li><a href="prototypes/allocations_academies_SATS/dashboard2.html">Allocations Academies SAT's</a></li>

<li><a href="prototypes/allocations_AEB_digital/dashboard3.html">Allocations AEB digital</a></li>
</ul><br><br>
<ul>	

				<h2 class="heading-medium">Allocations</h2>

<ul>
<li><a href="prototypes/info_ex/dashboard2.html">Allocations Academies</a></li>
<li><a href="prototypes/allocations_academies2/dashboard2.html">Allocations Academies MAT's</a></li>
<li><a href="prototypes/allocations_academies_SATS/dashboard2.html">Allocations Academies SAT's</a></li>

<li><a href="prototypes/allocations_AEB_digital/dashboard3.html">Allocations AEB digital</a></li>
</ul><br><br>
<ul>
	<h2 class="heading-medium">Dashboards</h2>



<li><a href="prototypes/dashboard_1/dashboard-new.html">Dashboard 1</a></li>
<li><a href="prototypes/dashboard_2/dashboard4.html">Dashboard 2</a></li>
<li><a href="prototypes/dashboard_3/dash1.html">Dashboard 3</a></li>


</ul><br><br>
<h2 class="heading-medium">Subcontractors</h2>
<li><a href="prototypes/sub-contractors/index.html">Sub-contractors</a></li>
<li><a href="prototypes/subcontractors_2/index.html">Subcontractor 2 Sprint Guatemala</a></li>
<li><a href="prototypes/subcontractors_3/index.html">Subcontractor 3</a></li>
<li><a href="prototypes/subcontractors_4/index.html">Subcontractor 4 Sprint Havana</a></li>
<li><a href="prototypes/subcontractors_5/index.html">Subcontractor 5 Sprint Islamabad</a></li>
<li><a href="prototypes/subcontractors_6/index.html">Subcontractor 6 Sprint Jakarta</a></li>
<li><a href="prototypes/subcontractors_7/dashboard2.html">Subcontractor 7 Sprint Madrid</a></li>
<li><a href="prototypes/subcontractors_8/dashboard2.html">Subcontractor Live</a></li>
<li><a href="prototypes/subcontractor_MVP/index.html">Subcontractor MVP</a></li>
<li><a href="prototypes/subs_second_journey/dashboard2.html">Subcontractor second journey</a></li>
<li><a href="prototypes/subs_second_next/dashboard2.html">Subcontractor after MVP</a></li>

			</ul>
			<p>After MVP includes: pagination, declaration history, ability to use last declaration details for a new declaration.<br>How does the user know what year they are declaring for - is this what the business needs.<br>Can the user declare at any time now that the digital version is available?</p>


		
<ul>
	<h2 class="heading-medium">Information Exchange</h2>


<li><a href="prototypes/sat/dash7.html">SAT</a></li>
<li><a href="prototypes/sat2/dashboard4.html">SAT 2</a></li>
<li><a href="prototypes/mat/index.html">MAT 1</a></li>
<li><a href="prototypes/mat2/index.html">MAT 2</a></li>
<li><a href="prototypes/mat3/index.html">MAT 3</a></li>
<li><a href="prototypes/special_gag/index.html">Special GAG</a></li>
<li><a href="prototypes/doc-ex-mat/dash7.html">Document Exchange MAT</a></li>
<li><a href="prototypes/doc-exSAT/dash7.html">Document Exchange SAT's</a></li>
<li><a href="prototypes/doc-exSAT2/dash8.html">Document Exchange SAT's 2</a></li></ul>




<br><br>

      <h2 class="heading-medium">Sprint three 2 May 2018</h2>

			<ul>
				<li>
					<li><a href="prototypes/doc-exSAT3/dash7.html">Document Exchange SAT 3</a></li>
				</li>
				<li><a href="prototypes/doc-ex-mat3/dash7.html">Document Exchange MAT 3</a></li>

				<li><a href="prototypes/colleges/index.html">Colleges</a></li>
				
				
			</ul>


<br><br>

      <h2 class="heading-medium">Other resources</h2>

			<ul>
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


