{% extends "govuk_template.html" %}

{% block head %}
	{% if versioning == 'True' %}
	{% include version + "/includes/head.html" %}
	{% else %}
	{% include "includes/head.html" %}
	{% endif %}
{% endblock %}

{% block cookie_message %}
	<p>{{cookieText | safe}}</p>
{% endblock %}

{% block proposition_header %}

<div class="header-proposition">

	<div class="content">
		<a href="#proposition-links" class="js-header-toggle menu">Menu</a>
		
		<nav id="proposition-menu">
			<a href="/" id="proposition-name">
				{# Set serviceName in config.js. Use a block to override on a page. #}
				{% block service_name %}
				{% if serviceName %}
					{% if publicServiceName == 'NFF' %}
					View national funding formula tables
					{% elif publicServiceName == 'True' or publicServiceName == 'VLF' %}
					View latest funding
					{% else %}
					{{serviceName}}
					{% endif %}
				{% endif %}
				{% endblock %}
			</a>
			<!--
			<ul id="proposition-links">
				<li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
				<li><a href="url-to-page-2">Navigation item #2</a></li>
			</ul>
			-->
		</nav>

	</div>

</div>

{% endblock %}

{% block header_class %}
	with-proposition
{% endblock %}

{% block footer_support_links %}

{% if useAutoStoreData %}
<ul>
	<li><a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen&consentMessage=yes">Contact us</a></li>
	{% if disclaimerAccepted == 'Yes' %}
	<li><a href="/beta/{{disclaimerVersion}}/allocation-statements/adults/disclaimer-accepted">Disclaimer</a></li>
	{% endif %}
	{% if publicServiceName %}
	{% if version == 'beta/v104-0-0' %}

	{% else %}
	<li><a href="/{{version}}/not-signed-in/glossary-of-terms">Glossary of funding terms</a></li>
	{% endif %}
	{% endif %}
	<li><a href="https://skillsfunding.service.gov.uk/privacy-and-cookies">Privacy and cookies</a></li>
	<li><a href="https://skillsfunding.service.gov.uk/terms-and-conditions">Terms and conditions</a></li>
</ul>
<br>
<ul>
	<li><a href="/prototype-admin/clear-data">Clear data (prototype only)</a></li>
</ul>
{% endif %}

{% endblock %}

{% block body_end %}
	{% if versioning == 'True' %}
	{% include version + "/includes/scripts.html" %}
	{% else %}
	{% include "includes/scripts.html" %}
	{% endif %}
	<!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
