{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
  

    <div class="service-info">
        <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
            <a href="dash7" class="account-menu__link account-menu__link--home account-menu__link--active" data-journey-click="link - click:utility-nav:Account home">
                            <span class="account-icon account-icon--home">


                                    Account home

                            </span>
            </a>

            <a href="#" class="account-menu__link account-menu__link--menu js-hidden js-visible" aria-hidden="true" aria-expanded="false" data-journey-click="link - click:utility-nav:Account menu">


                Account menu

            </a>

            <ul class="account-menu__main">
                <li class="account-menu__link--back hidden" aria-hidden="true">
                    <a href="#" class="account-menu__link" data-journey-click="link - click:utility-nav:Back">


                        Back

                    </a>
                </li>



                <li>
                    <a href="#" class="#" data-journey-click="link - click:utility-nav:Sign out">


                        Sign out

                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge no-margin-bottom">Blythe Academy</h1>
            <p class="page-info">UKPRN:12345678</p>
        </div>
        
    </div><br>
    

<div class="grid-row">



    <div class="flex-container">

        <div class="card">

            <div class="card-body active" data-journey-click="#" style="height: 115px;">

                <h3 class="heading-small card-heading">

                    <a class="card-link" href="funding-list">
                        Your funding statements
                    </a>

                </h3>
                <p>View all your current and historical funding statements</p>
            </div>


            <div class="card-action">


                <ul>
                    <li><a class="#" href="funding-list" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#">1 new funding statement received</a></li>
                    <li><a class="#" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#"></a></li>

                    <li><a class="ga-track-anchor-click" href="#" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#"></a></li>

                </ul>


            </div>


        </div>


        <div class="card">

            <div class="card-body active" data-journey-click="link - click:Income:Self Assessment" style="height: 115px;">

                <h3 class="heading-small card-heading">

                    <a class="card-link" href="download-list2">
                        Your downloads
                    </a>

                </h3>


                <p>View all the files you've received from ESFA</p>


            </div>


            <div class="card-action">

                <ul>


                    <li>
                        <a class="ga-track-anchor-click" href="download-list2" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Complete your tax return">2 new files to download</a>
                    </li>
                    <li>
                        <a class="ga-track-anchor-click" href="download-list2" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Make a payment"></a>
                    </li>
                    <li>
                        <a class="ga-track-anchor-click" href="#" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Check if you need to fill in a tax return"></a>
                    </li>


                </ul>

            </div>


        </div>


        <div class="card">

            <div class="card-body active" data-journey-click="link - click:Income:National Insurance" style="height: 115px;">

                <h3 class="heading-small card-heading">

                    <a class="card-link" href="basic-upload">
                       Your uploads
                    </a>

                </h3>
                <p>View all the files you've sent to ESFA</p>
            </div>


            <div class="card-action">

                <ul>
                    <li><a class="ga-track-anchor-click" href="basic-upload" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="#">Upload a new file</a></li>
                    <li><a class="ga-track-anchor-click" href="#" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="View gaps in your record"></a></li>
                </ul>

            </div>


        </div>


    </div>





  

</div>

 
    

    </main>

{% endblock %}