{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    {% include "includes/phase_banner_alpha.html" %}
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>

<div class="grid-row">
    <div class="column-two-thirds">
    <h1 class="heading-secondary">BLYTHE ACADEMY</h1>
      <p>UKPRN: 12345678</p>

           <h1 class="heading-large">Documents to download </h1>

            </div>
</div>
<span class="heading-secondary">Allocations Calulation Tool 2017 to 2018</span>
    

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <p class="attachment-details"><a href="/public/documents/february.xls" target="_blank"></a>2 April 2017</p>
        
    </div>
    <section class="attachment">
    <div class="attachment-thumb">
        <a class="thumbnail" href="/public/documents/february.xls" target="_blank">
            <img src="/public/images/xls_thumbnail2.png">
        </a>
    </div>
    </div>
    <div class="left-align">
    
    </div>
</section>
        
    
    </div>
    </div>
     <span class="heading-secondary">Business Case 2017 to 2018</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <p class="attachment-details"><a href="/public/documents/february.xls" target="_blank"></a>12 April 2017</p>
        
    </div>
    <section class="attachment">
    <div class="attachment-thumb">
        <a class="thumbnail" href="/public/documents/february.xls" target="_blank">
            <img src="/public/images/xls_thumbnail2.png">
        </a>
    </div>
    </div>
    <div class="left-align">
    
    </div>
</section>
        
    
    </div>
    </div>
    <span class="heading-secondary">Bursary Template 2017 to 2018</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <p class="attachment-details"><a href="/public/documents/february.xls" target="_blank"></a>15 April 2017 </p>
        
    </div>
    <section class="attachment">
    <div class="attachment-thumb">
        <a class="thumbnail" href="/public/documents/february.xls" target="_blank">
            <img src="/public/images/xls_thumbnail2.png">
        </a>
    </div>
    </div>
    <div class="left-align">
    
    </div>
</section>
        
    
    </div>
    </div>
       
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>

    </div>
</div>
</span><br>
       
       
       
    </div>
    </div>
    

    </div>
</div>


       
    </div>
</div>


            
        
    </div>
</div>




    </div>
</div>



<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="review">Continue</a>
    </div>

    <div class="column-one-third ">
       <a href="sub-con-search-add-another2">Back to home</a>
       
    </div>
</div>




</main>


{% endblock %}