{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript"></script>

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>

    

    <div class="grid-row">
        <div class="navigation">
            <ul>
                <li><a class="font-xsmall" href="dashboard2">Education and skills funding home</a></li>
                
            </ul>
        </div>
    </div>

<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <span class="heading-secondary">Warwickshire college</span>
        <h1 class="heading-large margin-top-zero">Subcontractor: The college of Birmingham</h1>

    </div>
</div>


<div class="grid-row">    
    <div class="column-two-thirds">

    <p class="bold-medium">Funding stream: 16-18 Apprenticeships</p>
      <p class="bold-medium">Number of learners</p>
    <form>
        

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Full training</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="30"> 
        </div>

        

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Part training</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="30"> 
        </div>
        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Learners who will be continuing from another year</span>
            </label>
            <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="2"> 
        </div>
    </form>
    <p class="bold-medium">Total values</p>
    <form>
        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Full training</span>
            </label>
            <span> <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="£ 2,601.30"></span>
        </div>

        

        <div class="form-group">
            <label class="form-label" for="16 to 18"><span>Part training</span>
            </label>
            <span> <input class="form-control" id="16 o 18" name="16 to 18" type="text" placeholder="£100.90"></span>
        </div>

       
    </form>

    
    <div class="form-group">
        
    
    </div>
    
    

       
<div>
    <a class="button margin-right" href="subcontractor-list">Save and continue</a>         
    
</div>
    </div>

</div>







</main>


{% endblock %}