{% extends "layouts/main.html" %}

{% block page_title %}
	Sign in
{% endblock %}

{% block content %}

<main role="main" id="content">

	<div class="grid-row">

		<div class="column-two-thirds">

			<form method="post" class="form">

				{% if error %}
				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
					<h2 class="heading-medium error-summary-heading" id="error-summary-heading">There is a problem</h2>
					<ul class="error-summary-list">
						<li><a href="#id">Please enter your user ID or email address</a></li>
						<li><a href="#password">Please enter your password</a></li>
					</ul>
				</div>
				{% endif %}

				<h1 class="heading-xlarge">Sign in</h1>

				<div class="form-group">

					<div class="form-group {% if error %}form-group-error{% endif %}">
						<label class="form-label" for="id">User ID or email address</label>
						{% if error %}
						<span class="error-message">Please enter your user ID or email address</span>
						{% endif %}
						<input class="form-control form-control-2-3 {% if error %}form-control-error{% endif %}" id="id" name="id" type="text">
					</div>

					<div class="form-group {% if error %}form-group-error{% endif %}">
						<label class="form-label" for="password">Password</label>
						{% if error %}
						<span class="error-message">Please enter your password</span>
						{% endif %}
						<input class="form-control form-control-2-3 {% if error %}form-control-error{% endif %}" id="password" name="password" type="password">
					</div>
				
					<div class="form-group">
						<button class="button">Sign in</button>
					</div>

				</div>

				<div class="form-group">
					<h2 class="heading-medium">Problems signing in?</h2>
					<a href="#">I forgot my password</a>
					<br>
					<a href="#">I don't have an account</a>
				</div>

			</form>

		</div>

	</div>

</main>

{% endblock %}