{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    <div class="phase-banner">
  <p>
    <strong class="phase-tag">PROTOTYPE</strong>
    <span>For testing </span>
  </p>
</div>
 
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard-new">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-secondary">THE BLYTHE ACADEMY</span>
    <p>UKPRN:12345678</p>

            
      <h1 class="heading-large">Manage your funding</h1>
      <hr><br>


<span class="bold-medium" style="font-size:28px">Funding statement</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul><li>Your funding for 2017 to 2018</li><br>
            
        <a class="button-grey" href="test-list3">View your statement</a> 
        <a href="subcontractor-list"></a><br>
        <a href="subcontractor-list"></a> </div>
    </div></ul>

    
</div>

</div><br>
<span class="bold-medium" style="font-size:28px">Information exchange</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Upload or download your ESFA documents</li><br>
            
        <a class="button-grey" href="dashboard2">You have a document to submit</a> 

        </ul>

    
</div>
    

    <div class="column-one-third">
       
    </div>
</div>
    
</div><br>
<span class="bold-medium" style="font-size:28px">Other services</span>
    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>

        <div><a href="subcontractor-list">Data returns</a><br>
        <a href="subcontractor-list">Other things</a>
        <a href="subcontractor-list"></a> </div><br>
    </div></ul>

     
</div>

        </div>

</div>


</div>
</div>


</div>

</div>

</main>


{% endblock %}