{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard-new">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    <br>

<div class="grid-row">
    <div class="column-two-thirds">
    <span class="heading-large">THE BLYTHE ACADEMY</span>
    <p>UPIN:12345678</p>

           

            </div>

    

<hr class="hr-double"/><br>


<span class="bold-medium" style="font-size:28px"></span>
    </div>
</div>
<div class="grid-row">
           <div class="column-two-thirds">
            
         <div style="max-width:90%">
          <div class="grid-row">
            <div class="column-half">
              <h3 class="heading-medium" style="margin-top:0 ">Funding statements</h3>
              <p><a href="#">View your allocation</a> <a href="#"></a> </p><hr>
            </div>


            <div class="column-half">
              <h3 class="heading-medium rj-top-border-mobile" style="margin-top:0; ">Payment history</h3>
              <p><a href="#">View your payments</a> <a href="#"></a> </p><hr>
            </div>
          </div> 
          <div class="grid-row">
            <div class="column-half ">
              <h3 class="heading-medium rj-top-border" style="margin-top:0; padding-top:35px">Contracts</h3>
              <p class="rj-home-spacer"> <span class="looks-like-a-link-underline">Sign your contract </span></p><hr>
            </div>
            <div class="column-half">
              <h3 class="heading-medium rj-top-border looks-like-a-link-underline-h2" style="margin-top:0; padding-top:35px">Funding claims</h3>
              <p><a href="#">View your claims</a> <a href="#"></a> </p><hr>
            </div>
         </div><hr>

       </div>


          </div>

            <div class="column-one-third">

            <h2 class="heading-medium" style="margin-top:0">To do:</h2>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin-top:0>Forecast: not completed  </h2>
                  <p style="width:85%; margin: 5px 10px 5px 20px" to-do-action=""><a href="/nonLevyAlpha&#10;&#10;&#10;&#10;/forecast/">See your funding</a></p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin-top:0>Contracts to sign: 1</h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:88%; margin: 5px 10px 5px 20px">Review your funding</p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin-top:0>Agreements: 2</h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Agree the changes</p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin-top:0>Subcontractor declaration to complete by 12 November </h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Update your details</p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin-top:0>Staff with access to this account: 1 </h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Other funding</p>
                </div>
            </div>



        </div>

</div>


</div>




</main>


{% endblock %}