{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>

    
    <!--<div class="grid-row margin-top"> 
        <div class="column-two-thirds">
            <span class="font-xsmall margin-right"> 
                You are not logged in
            </span>
        </div>
        
        <div class="column-third" style="text-align: right;"> inline style needs to be changed
            <span>
                <a class="font-xsmall" href="/andrea-authoriser">Sign in</a>
            </span>
        </div>
    </div>-->
    
   <!-- <span><p class="x-small">You are not logged in</p></span>-->

    
    <!--<div class="breadcrumbs">
      <ol role="breadcrumbs">
        <li><a href="/">Home</a></li>
      </ol>
    </div>-->
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-xlarge">Manage your education and skills funding</h2>
                
        <p>Use this service to:</p>
            <ul class="list list-bullet">
                <li>sign Education and Skills Funding documents</li>
                <li>tell us about your subcontractors</li>
                <li>respond to employer apprenticeship training requests</li>
                <li>update apprentice details</li>

            </ul>
            
            <div class="transaction">
                <div id="get-started" class="get-started">
                    <a class="button button-get-started" href="/dashboard">Sign in or create an account</a>
                </div>
            </div>

        <h2 class="heading-large">Before you start</h2> 
        <p>You need to have an account with the government’s <a href="https://secure2.imservices.org.uk/self_registration/">Identity Management Services system</a> to use this.</p>           
        
        <p>You’ll get your account details when you <a href="https://www.gov.uk/guidance/skills-funding-register-for-opportunities-to-tender">register as a training provider</a>.</p>
            
        <h2 class="heading-medium extra-margin">Contact</h2>
        <div class="bold-small">Central Delivery Service desk</div>
        <div>
            <a href="/">servicedesk@SFA.bis.gov.uk</a>
        </div>
        <div>Telephone: 0370 267 0001</div>
        <br>
        <div class="panel panel-border-wide">
            <p>
                Find out how this <a href="/">service is performing</a>.
            </p>
        </div>
        </div>
        
        <div class="related-container">
        <aside class="related" id="related">
            <div class="inner group related-subsection">
                <h2 id="parent-subsection">Resources</h2>
                    <nav role="navigation" aria-labelledby="parent-subsection">
                        <ul>
                            <li>
                                <a href="https://www.gov.uk/guidance/working-with-us-as-a-provider">Working with the ESFA as a provider</a>
                            </li>
                            <li>
                                
                            </li>
                            
                    </ul>
                </nav>
            </div>
        </aside>

    </div>
    </div>
    

</main>

{% endblock %}


