{% extends "layout.html" %}

{% block page_title %}
    16 to 19 special post - 16 institutions: 2021 to 2022 - manage your education and skills funding - GOV.UK
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include version + "/includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
        <div class="column-full">
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="">Home</a></li>
                        <li><a href="">Select your sign-in</a></li>
                    </ol>
                </nav>
            </div>

            <div class="govuk-form-group govuk-!-margin-top-6" style="max-width:900px;">
                <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="heading-large govuk-!-margin-bottom-4 govuk-!-margin-top-0">
                        {% if scenario == '1' %}
                            Select your sign in
                        {% elif scenario == '2' %}
                            Select your provider type
                        {% else %}
                        {% endif %}
                    </h1>
                    </legend>
                    <div id="sign-in-hint" class="govuk-hint govuk-font-size-19 govuk-!-margin-bottom-6">
                        There are two sign in options. Which one you use depends on your provider type.
                    </div>
                    <span id="passport-issued-error" class="hide govuk-error-message">
                        {% if scenario == '1' %}
                            <span class="govuk-visually-hidden">Error:</span> Select a sign in option
                        {% elif scenario == '2' %}
                            <span class="govuk-visually-hidden">Error:</span> Select a provider type
                        {% else %}
                        {% endif %}
                    </span>
                    <div class="govuk-radios">
                    {% if scenario == '1' %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in-dfe" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                            <label class="govuk-label govuk-radios__label govuk-font-size-19" for="sign-in">
                                DfE Sign-in
                            </label>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint govuk-font-size-19">
                                For multi or single academy trusts, academies, or schools. 
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in-idams" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
                            <label class="govuk-label govuk-radios__label govuk-font-size-19" for="sign-in-2">
                                IDAMS
                            </label>
                            <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint govuk-font-size-19">
                                For independent learning providers, local authorities, further education colleges, universities, or public bodies.
                            </div>
                        </div>
                    {% elif scenario == '2' %}
                        <div class="govuk-radios__item govuk-!-margin-bottom-4">
                            <input class="govuk-radios__input" id="sign-in-dfe" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                            <label class="govuk-label govuk-radios__label govuk-font-size-19" for="sign-in">
                                Multi or single academy trust, academy, or a school
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in-idams" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
                            <label class="govuk-label govuk-radios__label govuk-font-size-19" for="sign-in-2">
                                Independent learning provider, local authority, further education college, university, or public body
                            </label>
                        </div>
                    {% else %}
                    {% endif %}
                    </div>
                
                </fieldset>
            </div>

            <div class="govuk-button-group govuk-!-margin-top-6">
                <button onclick="dualAuthOptions()" id="dual-auth-button" class="govuk-button govuk-font-size-19" data-module="govuk-button" type="button">
                  Continue
                </button>
                <!-- <a class="govuk-link govuk-!-margin-top-2 govuk-!-margin-left-4 govuk-!-display-inline-block" href="../allocation-statements">Cancel</a> -->
            </div>
    </div>

</main>


<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- GOV.UK Design System accordion -->
<script src="/public/javascripts/{{version}}/accordion.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

<script type="text/javascript">
    function dualAuthOptions() {
      if(document.getElementById('sign-in-dfe').checked) {
          document.getElementById('exampleRadioLink').onclick = location.href='login-dfe';
      }
      else if(document.getElementById('sign-in-idams').checked) {
          document.getElementById('exampleRadioLink').onclick = location.href='login-idams';
      }
      else {
        $(".govuk-form-group").addClass("govuk-form-group--error");
        $("#passport-issued-error").removeClass("hide");
      }
    }
  </script>

{% endblock %}