{% extends "layout.html" %}

{% block page_title %}
    PE and sport premium 2018 to 2019
{% endblock %}

{% block content %}

<main role="main" id="content">

    <!-- GOV.UK phase banner (Beta) - START -->
    {% include "includes/phase_banner_beta.html" %}
    <!-- GOV.UK phase banner (Beta) - END -->

    <div class="grid-row">
    
        <div class="column-full">                
    
            <div id="global-breadcrumb" class="breadcrumbs group">
                <nav>
                    <ol>
                        <li><a href="../../viewing-choice">Choose how to view funding</a></li>
                        <li><a href="../../which-allocation">Select a funding type</a></li>
                        <!-- <li><a href="choose-a-year">Historic funding allocations</a></li> -->
                        <li>PE and sport premium for 2018 to 2019</li>
                    </ol>
                </nav>
            </div>

        </div>

        <div class="column-two-thirds">

            <form method="post" class="form">

                <h1 class="heading-xlarge">
                    PE and sport premium 2018 to 2019
                    <span class="heading-secondary"><strong class="govuk-tag govuk-bgred govuk-tag-secondary-heading">Not latest</strong></span>
                </h1>
                <p class="lede">Find out about PE and sport premium funding allocations for academic year 2018 to 2019.</p>
                <h2 class="heading-medium heading-guidance">Allocations</h2>
                <section class="attachment embedded">
                            
                    <div class="download-a-document-container">
                        <p class="download-a-document">
                            <a href="/public/documents/public-information/latest/pe-and-sport/pe-and-sport-premium_2018-to-2019_published-12-04-2019.ods" title="Download PE and sport premium allocations 2018 to 2019" download="">Download PE and sport premium allocations 2018 to 2019</a>   
                            <br>
                            <span class="download-a-document-content">
                                <span class="download-a-document-section-1">
                                    Published: 12 April 2019 <strong class="govuk-tag govuk-bggrey">Final</strong>
                                    <br>
                                    OpenDocument Spreadsheet (<abbr title="OpenDocument Spreadsheet">ODS</abbr>), 1.29MB
                                </span>
                                <span class="download-a-document-section-2">
                                    <!-- This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" rel="external" target="external" title="This will open in a new tab or window">OpenDocument</a> format. -->
                                    This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" rel="external" target="external" title="This will open in a new tab or window">OpenDocument</a> format. You may need a different format if you're using assistive technology. <a href="mailto:ESFA.GOVUK-ENQUIRIES@education.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20PE%20and%20sport%20premium%20allocations%202018%20to%202019%0A%20%20Original%20format%3A%20ods%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&subject=Request%20for%20%27PE%20and%20sport%20premium%20allocations%202018%20to%202019%27%20in%20an%20alternative%20format">Request an accessible format</a>.
                                </span>
                            </span>
                        </p>
                    </div>

                </section>
                <section class="attachment embedded">
                            
                    <div class="download-a-document-container">
                        <p class="download-a-document">
                            <a href="#" title="Download PE and sport premium allocations 2018 to 2019" download="">Download PE and sport premium allocations 2018 to 2019</a>  
                            <br>
                            <span class="download-a-document-content">
                                <span class="download-a-document-section-1">
                                    Published: 5 February 2019
                                    <br>
                                    OpenDocument Spreadsheet (<abbr title="OpenDocument Spreadsheet">ODS</abbr>), 798KB
                                </span>
                                <span class="download-a-document-section-2">
                                    <!-- This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" rel="external" target="external" title="This will open in a new tab or window">OpenDocument</a> format. -->
                                    This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" rel="external" target="external" title="This will open in a new tab or window">OpenDocument</a> format. You may need a different format if you're using assistive technology. <a href="mailto:ESFA.GOVUK-ENQUIRIES@education.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20PE%20and%20sport%20premium%20allocations%202018%20to%202019%0A%20%20Original%20format%3A%20ods%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&subject=Request%20for%20%27PE%20and%20sport%20premium%20allocations%202018%20to%202019%27%20in%20an%20alternative%20format">Request an accessible format</a>.
                                </span>
                            </span>
                        </p>
                    </div>

                </section>
                <section class="attachment embedded">
                            
                    <div class="download-a-document-container">
                        <p class="download-a-document">
                            <a href="#" title="Download PE and sport premium allocations 2018 to 2019" download="">Download PE and sport premium allocations 2018 to 2019</a>   
                            <br>
                            <span class="download-a-document-content">
                                <span class="download-a-document-section-1">
                                    Published: 3 October 2018
                                    <br>
                                    OpenDocument Spreadsheet (<abbr title="OpenDocument Spreadsheet">ODS</abbr>), 678KB
                                </span>
                                <span class="download-a-document-section-2">
                                    <!-- This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" rel="external" target="external" title="This will open in a new tab or window">OpenDocument</a> format. -->
                                    This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" rel="external" target="external" title="This will open in a new tab or window">OpenDocument</a> format. You may need a different format if you're using assistive technology. <a href="mailto:ESFA.GOVUK-ENQUIRIES@education.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20PE%20and%20sport%20premium%20allocations%202018%20to%202019%0A%20%20Original%20format%3A%20ods%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&subject=Request%20for%20%27PE%20and%20sport%20premium%20allocations%202018%20to%202019%27%20in%20an%20alternative%20format">Request an accessible format</a>.
                                </span>
                            </span>
                        </p>
                    </div>

                </section>
                <!-- <p>This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" rel="external" target="external" title="This will open in a new tab or window">OpenDocument</a> format. You may need a different format if you're using assistive technology. <a href="mailto:ESFA.GOVUK-ENQUIRIES@education.gov.uk">Request an accessible format</a>.</p> -->
                <h2 class="heading-medium heading-guidance">General PE and sport premium resources</h2>
                <ul class="list">
                    <li><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-conditions-of-grant-2018-to-2019" rel="external" target="external" title="This will open in a new tab or window">PE and sport premium: conditions of grant 2018 to 2019</a></li>
                    <li><a href="https://www.gov.uk/guidance/pe-and-sport-premium-for-primary-schools" rel="external" target="external" title="This will open in a new tab or window">PE and sport premium for primary schools</a></li>
                </ul>

                <!-- Support section in an expandable link - START -->
                {% include "includes/support.html" %}
                <!-- Support section in an expandable link - END -->

            </form>
        
        </div>

        <div class="one-third">
            
            <div class="related-container">
            
                <aside class="related" id="related">
            
                    <div class="inner group related-subsection">
                        <h2 id="parent-subsection">Latest funding allocations</h2>
        
                        <nav role="navigation" aria-labelledby="parent-subsection">
                                                    
                            <ul class="list">
                                <li class="related-links"><a href="2019-to-2020" title="PE and sport premium: funding allocations for 2019 to 2020">PE and sport premium: funding allocations for 2019 to 2020</a></li>
                            </ul>

                        </nav>

                        <h2 id="parent-subsection">Historic funding allocations</h2>
        
                        <nav role="navigation" aria-labelledby="parent-subsection">
                            
                            <ul class="list">
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-funding-allocations-for-2017-to-2018" rel="external" target="external" title="This will open in a new tab or window">PE and sport premium: funding allocations for 2017 to 2018</a></li>
                                <li class="related-links"><a href="https://www.gov.uk/government/publications/pe-and-sport-premium-funding-conditions-for-2016-to-2017" rel="external" target="external" title="This will open in a new tab or window">PE and sport premium: funding allocations for 2016 to 2017</a></li>
                            </ul>
                            
                        </nav>

                    </div>

                </aside>

            </div>

        </div>

    </div>

</main>

<!-- JavaScript (START) -->
<script src="/public/javascripts/lifted/jquery-2.1.4.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/{{version}}/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->

{% endblock %}
