{% extends "layout.html" %}

{% block page_title %}
    Replace your document
{% endblock %}

{% block content %}

<main id="content">

    <!-- Account Management (IDAMS) - START -->
    <div class="account-master">

        <div class="grid-row account-details">
            
            <div class="column-full controls account-div">
                <span class="account-link"><a href="#">Settings</a></span>
                <span class="account-link"><a href="#">Sign out</a></span>
            </div>

        </div>

    </div>
    <!-- Account Management (IDAMS) - END -->

    <div class="grid-row">
        
        <div class="column-full">

            <div id="global-breadcrumb" class="breadcrumbs group">

                <nav>
                    <ol id="removeADocBreadcrumb1">
                        <li><a href="dashboard-a">Home</a></li>
                        <li><a href="document-exchange">Document exchange</a></li>
                        <li>Replace your document </li>
                    </ol>

                    <ol id="removeADocBreadcrumb2" style="display: none">
                        <li><a href="dashboard-a">Home</a></li>
                        <li><a href="document-exchange">Document exchange</a></li>
                        <li><a href="#">Replace your document</a></li>
                        <li>Remove a document</li>
                    </ol>
                </nav>

            </div>

            <form action="">
            
                <!-- <h1 class="heading-xlarge">
                    <span class="heading-secondary">Casterbridge College</span>
                    <span class="heading-secondary">UKPRN: 12345678</span>
                    Replace your document
                </h1> -->
                <h1 class="heading-xlarge">Replace your document</h1>

                <div class="form-group" id="uploadFileDiv">
                    
                    <div class="form-block" id="form-upload">
                        <label class="form-label visuallyhidden" for="fileInput">Choose a file to upload</label>
                        <p class="lede">You are replacing ‘businesscase-02.xls’.</p>
                        <p>Each file must be in DOC, DOCX, JPG, PDF, XLS, XLSX, or CSV format.</p>
                        <!-- <ul class="bulleted-list-container-ul">
                            <li class="bulleted-list-home">5 megabytes (5MB) or less</li>
                            <li class="bulleted-list-home">in DOC, DOCX, JPG, PDF, XLS, XLSX, or CSV format</li>   
                        </ul> -->

                        <div class="form-block" id="fileUploadPlaceholder">
                            <p>Upload a file</p>
                            <input id="fileInput0" name="fileInput" type="file" class="fileUploads">
                        </div>
                        
                    </div>
                    
                    <div class="form-group">
                        <table class="file-upload-table" id="documentsToSend" style="display: none;">
                            <thead>
                                <tr>
                                    <th>Current file name</th>
                                    <th>Type of document</th>
                                    <th>New file name</th>
                                    <th class="numeric"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <!-- <div style="display: none;" id="uploadAnotherDiv">
                        <a id="uploadAnother" href="http://sfs.web/documentexchange/upload#">Add another document</a>
                    </div> -->

                    <input type="submit" id="goToStep3" style="display: none;" class="button" value="Send">
                </div>        

                <div class="form-group" id="removeFileDiv" style="display: none;">
                    <p>This will remove <span id="removeFileName"></span> from your list of documents and it will not be sent to ESFA.</p>
                    <p><a href="http://sfs.web/documentexchange/upload#" id="backToStep2">Cancel and go back</a></p>
                    <!-- <button id="removeFile" class="button button-danger">Remove</button> -->
                    <a class="button" id="button-to-remove" href="sent-to-esfa">Remove</a>
                    <p></p>
                </div>

                <div style="display: none" id="hiddenFormEles">
                    <!-- File uploads will get sent here + radio button selections -->
                </div>

            </form>

        </div>

    </div>

</main>

<!-- Links to the required JavaScript files so file upload works -->
<script src="/public/javascripts/jquery-2.1.4.js"></script>
<script src="/public/javascripts/file-upload-replace.js"></script>

{% endblock %}