{% extends "layout.html" %}

{% block page_title %}
    Adult allocation statements
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="content-inner slides">

        <div class="grid-row">

            <div class="column-two-thirds">
                <h1>Adult allocation statements</h1>
                <p>You can view your adult allocation statements through the adult allocation tile.</p>

                <form method="post" class="form">
                
                    <div class="actions">
                        <button class="button">Continue</button>
                    </div>

                </form>

            </div>

        </div>

    </div>  

</main>

{% endblock %}
