{% extends "layout.html" %}

{% block page_title %}
    Document exchange
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="content-inner slides">

        <div class="grid-row">

            <div class="column-two-thirds">
                <h1>Document exchange</h1>
                <p>You can now access document exchange through the manage your education and skills funding service.</p>

                <form method="post" class="form">
                
                    <div class="actions">
                        <button class="button">Continue</button>
                    </div>

                </form>

            </div>

        </div>

    </div>  

</main>

{% endblock %}
