

/**********
 * PRINT (CSS)
 * **********/

/**********
* GLOBAL
* CAN BE USED IN ALL JOURNEYS
* **********/

/* Page parameters */
@page {
	size: A4 portrait;
}
/* #mfg, #post-opening-grant, #high-needs {
	page-break-before: always;
} */

/* DOM elements */
/* summary {
	display: none;
} */
pre {
	display: none;
}
/* details {
	display: block;
} */
/* a {
	display: none;
} */

/* IDs and Classes */
#global-header .header-proposition a.menu {
    display: none;
}
.phase-banner {
	display: none;
}
.account-details {
	display: none;
}
.esfa-banner-container {
	display: none;
}
#global-breadcrumb {
	display: none;
}

/**********
* NOT SIGNED-IN (PUBLIC)
* VIEW LATEST FUNDING
* **********/

/* IDs and Classes */
.govuk-tabs__title {
	display: none;
}
.govuk-tabs__list {
	display: none;
}
.download-a-document-section-2 {
	display: none;
}
.block-header-print-no-tabs {
	display: none;
}
.block-header-print-tabs {
	display: none;
}
.decimal {
	display: none;
}

/* Styling */
.block-header-total {
	padding-bottom: 15px;
}

.lede {
	padding-bottom: 15px;
}

.print-heading {
	padding-bottom: 15px;
}

table {
    width: 100%;
}
table th, table td {
	text-align: left;
	border-bottom: 1px solid #bfc1c3;
}
.govuk-table {
	width: 100%;
	/* font-size: 16px; */
	padding-bottom: 20px;
}
.govuk-\!-width-one-quarter {
	width: 25% !important;
}

.govuk-table__caption {
	text-align: left;
	padding-top: 20px;
	font-weight: bold;
	border-bottom: 1px solid #bfc1c3;
}
.govuk-table__header:last-child, .govuk-table__cell:last-child {
    padding-right: 0 !important;
}
.govuk-table__header--numeric, .govuk-table__cell--numeric {
	text-align: right !important;
}
.govuk-table__header, .govuk-table__cell {
	padding: 0 20px 0 0;
	text-align: left;
    border-bottom: 1px solid #bfc1c3;
}
.heading-funding-summary {
    margin-top: 0px;
}
.glossary-link {
	display: none;
}
.total-allocation-container {
	box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 0px;
    padding-bottom: 15px;
}
.total-allocation-wrapper {
	display: inline-block;
	width: 100%;
}
.total-allocation-label {
	float: left;
	width: 50%;
}
.total-allocation-amount {
	clear: none;
	text-align: right;
	width: 100%;
}

/**********
* SIGNED-IN (PRIVATE)
* GENERAL ANNUAL GRANT 
* **********/

.heading-large {
	margin-bottom: 0px;
	/* font-size: 36px; */
}

.heading-medium {
	margin-bottom: 0px;
    /* font-size: 24px; */
}

.heading-small {
	margin-bottom: 0px;
    font-size: 19px;
}

.govuk-tag {
	display: none;
}

.variance-text {
	font-size: 14px;
	margin-top: 0px;
}

.download-a-document-container {
	display: none;
}

.table-column-mobile {
	display: none;
}

.table-header-normal {
	font-weight: normal;
}

.govuk-\!-width-one-sixth {
	width: 16.66%;
}

.contextual-guidance {
	display: none;
}

.heading-secondary {
	display: block;
	font-size: 18px;
}

.guidance-final-section {
	display: none; 
}

.print-organisation-name {
	display: block;
}

.block-header-print-left {
	display: none;
}

.hide-on-print {
	display: none;
}

.show-on-print {
	display: inline;
}

.govuk-\!-margin-bottom-8 {
	margin-bottom: 30px !important;
}

.govuk-\!-margin-bottom-6 {
	margin-bottom: 20px !important;
}
