{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
 

<main role="main" id="content">
    
    
    
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    </div>
    <h1 class="heading-secondary margin-top-zero">Warwickshire college</h1>
    <h1 class="heading-xlarge">Subcontractor list</h1> 
            
<span class="heading-secondary">Overview</span>


<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Using subcontractors</li>
            <li>Yes</li>
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class=""><a href="#">Edit</a></span><br>
       
       
       
    </div>
    </div>
</div>

    </div>
</div>
<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Secondary subcontracting</li>
            <li>No</li>
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class=""><a href="#">Edit</a></span><br>
       
       
       
    </div>
    </div>
</div>

    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
        <ul>
            <li>Charges and fees</li>
            
            <li><a href="#">www.warkscol.com/fees</a></li>
            
        </ul> 
    </div>

    <div class="column-one-third">
       <span class=""><a href="#">Edit</a></span><br>
       
       
       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>
<p>&nbsp;</p>
<span class="heading-large">Your subcontractors</span>




    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Birmingham</span>
        <ul>
            <li>UKPRN: 1234888</li>
            <li>&nbsp;</li>
            <h2 class=heading-small>Funding type: Apprenticeships Trailblazer 19+</h2>
            <li>Payments: £1,360.20</li>
            <li>Apprentices: 60</li>
            <li>Locations - West Midlands, North East</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            
            <h2 class=heading-small>Funding stream: Adult Education Budget</h2>
            <li>Payments: £3120.30</li>
            <li>Learners: 60</li>
            <li>Locations - West Midlands, North East</li>
            <li>&nbsp;</li>
            
            <li>&nbsp;</li>
            <li>
       <li><a class="button-grey" href="select-funding">Add a funding type</a></li>
       
    </li>
        </ul> 
    </div>
    <br>
    <br>
    
    

    <div class="column-one-third">
    <span class=""><a href="#">Delete</a></span><br>
    
    <span class="bold-small"><a href="#"></a></span><br>
    <span class="bold-small"><a href="#"></a></span><br>
    <span class="bold-small"><a href="#"></a></span><br>
       <span class=""><a href="#">Edit</a></span><br>
       <span class="bold-small"><a href="#"></a></span><br>
       
       
        

    </div>

    <div class="column-one-third">
       <span class=""><a href="learner-values-both"></a></span><br>
       <span class=""><a href="#"></a></span><br>
       <span class=""><a href="#"></a></span><br>
        <span class=""><a href="#"></a></span><br>
         <span class=""><a href="#"></a></span><br>
         
    <span class=""><a href="#">Edit</a></span><br>
       <span class=""><a href="#"></a></span>
       <span class=""><a href="#"></a></span><br>
       <span class=""><a href="#"></a></span><br>

       <div class="column-one-third ">
       
       
    </div>
    </div>
</div>


    </div>
</div>

<div class="grid-row mini-card">
    <div class="column-two-thirds">
    <span class="heading-secondary">The college of Leicester</span>
        <ul>
            <li>UKPRN: 87651234</li>
            
            

            <li>&nbsp;</li>
            <h2 class=heading-small>Funding stream: Apprenticeships Trailblazer</h2>
            <li>Payments: £101,000.20</li>
            <li>Apprentices: 60</li>
            <li>Locations - West Midlands, North East</li>
            <li>&nbsp;</li>
                 <li>
       <li><a class="button-grey" href="select-funding">Add a funding type</a></li>
            
            
            
       
      
       
       <div class="column-one-third ">

       
       
    </div>

    </div>
    
  
    <div class="column-one-third">
        <span class="bold-small"><a href="#"></a></span><br>
        <span class=""><a href="learner-values-both">Delete</a></span><br>
       <span class="bold-small"><a href="#"></a></span><br>
       <span class="bold-small"><a href="#"></a></span><br>
       <span class="bold-small"><a href="#"></a></span><br>
       <span class="bold-small"><a href="#"></a></span><br>
       <span class=""><a href="#">Edit</a></span><br>
       
       
       
       
       <div class="column-one-third ">
       
       
    </div>
</div>


</div>


<br>
    


<div class="grid-row margin-top-2">
    <div class="column-two-thirds">
        <a class="button" href="review2">Save and preview</a>
    </div>

    <div class="column-one-third">
       <a class="button-grey" href="sub-con-search-add-another2">Add a subcontractor</a> 
    </div>
</div>

<br>





<br>
<br>



</main>


{% endblock %}