{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    <div class="phase-banner-beta">
        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
        </ul>
        </div>
    </div>   
    

    <div class="grid-row spacing-top">
        <div class="column-two-thirds">

            <h2 class="heading-xlarge">You do not have access to this area</h2>

            <p>This page is restricted to authorised users only. You may not have the required access to use this service.</P>

            <!--<p class="bold-medium">How to get access to this service</p>  -->  

            <p>You need to speak to your organisation's super user to get the access you need.</p>

            <div class="call-to-action">
                <p>You may have more than one super user within your organisation.</p>
            </div>

            <p class="bold-medium">These are the roles that have access to this service</p>

            <details>
                <summary class="underline">Provider support user</summary>
                <p>As provider support user your permissions allow you to:</p>
                <ul class="list-bullet">
                    <li>have your contact details displayed on the Skills Funding Service pages for your users to see</li>
                </ul>
            </details>            

            <details>
                <summary class="underline">Contract authoriser</summary>
                <p>As contract authoriser your permissions allow you to:</p>
                <ul class="list-bullet">
                    <li>sign contracts</li>
                    <li>read and download information</li>
                    <li>submit and save information</li>
                    <li>automatically receive email alerts</li>
                </ul>
            </details>

            <details>
                <summary class="underline">Contract manager</summary>
                <p>As contract manager your permissions allow you to:</p>
                <ul class="list-bullet">
                    <li>read and download information</li>
                    <li>submit and save information</li>
                    <li>automatically receive email alerts</li>
                </ul>
            </details>

            <details>
                <summary class="underline">Contract user</summary>
                <p>As contract user your permissions allow you to:</p>
                <ul class="list-bullet">
                    <li>read and download information</li>
                </ul>
            </details>

            <details>
                <summary class="underline">Data returns and claims authoriser<summary>
                <p>As a data returns and claims authoriser your permissions allow you to:</p>
                <ul class="list-bullet">
                    <li>sign funding claims</li>
                    <li>read and download information</li>
                    <li>submit and save information</li>
                    <li>automatically receive email alerts</li>
                </ul>
            </details>    
        
        </div>
    
    </div>

</main>                

{% endblock %}