{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">
               

  
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
        
            <div class="govuk-box-highlight">
                <h1 class="bold-large">Contract signed</h1>
                <p>ESF SSU contract variation for Coast to Capital LEP version 2</p>
                <p>Signed by Andrea Adams on 25 January 2018 at 16:59</p>
                <p>We've sent you a confirmation email</p>
                
            </div>
        
            
        
        <div class="grid-row margin-top">

        <div class="column-two-thirds">
            
            &nbsp;
           
            <h2 class="bold-medium">What happens next? </h2>
            
            <p>Payments will be made as detailed in the contract payment schedule.</p>

            <p class="bold">Or you may want to:</p>
            <p><a href="andrea-authoriser">Go back to ESFA contracts and agreements</a></p>
            
&nbsp;


            

            <h2 class="heading-medium">Feedback survey</h2>
            <p>If you have a few moments then please complete our <a href="https://www.surveymonkey.co.uk/r/DLL5F6K" target="_blank">survey</a><br>
            <p>It takes approximately 2 minutes and will help us to develop and improve this service.</p>


        </div>
    </div>
       
  


</main>

{% endblock %}
