{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    <div class="phase-banner-beta">

        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home page</a></li>
            <li><a class="font-xsmall active" href="andrea-authoriser">Contracts</a></li>
            <li><a class="font-xsmall" href="andrea-authoriser-NEW">Funding claims</a></li>
            <li><a class="font-xsmall" href="settings">Settings</a></li>
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    
    
    


<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <!--<a class="back-to-previous" href="/documents">Back</a>-->
        <h1 class="heading-xlarge">Review your contract</h1>
    
<!--
<div class="bold-medium">Step 1 of 2</div>
<br>
-->
        

<section class="attachment">
    <div class="attachment-thumb">
        <a class="thumbnail" href="/">
            <img alt="" src="/public/images/thumbnail_attachment_contract_pdf.png">
        </a>
    </div>
    <div class="left-align">
        
        <h2 class="attachment-details">
                <a href="#">AGE Grant contract variation for 2016 to 2017 version 2</a>
        </h2>
        
        <p class="metadata">
            <span>PDF, 82KB</span>
        </p>
        
        <div class="accessibility-warning">
            
            <h2>
                This file may not be suitable for users of assistive technology.
                <br>
                <span><a href="#">Request a different format.</a></span>
            </h2>
            
            <p class="visuallyhidden" id="help_block">
                <span class="arrow"></span>
                If you use assistive technology and need a version of this document
                in a more accessible format, please email
                <a href="/">info@sfa.bis.gov.uk</a>.
                Please tell us what format you need. It will help us if you say what assistive technology you use.
            </p>
        
        </div>
    
    </div>
    

    
</section>
    
<div class="call-to-action">
    <p class="bold-medium">Contract replaced</p>
    <p>This contract was replaced by a later version.</p>
    <!--<p>Previously signed by Andrea Authoriser on 13 Feb 2016</p> -->
</div>
    


    <!-- <div class="margin-top-2">
        <h2 class="bold-medium">Previous versions</h2>
        <ul class="document-list">
            
            <li class="document-row">
                <a href="#">ESF SSW Retraining for Employment contract for Cornwall and the Isles of Scilly LEP version 3</a>
                <p>withdrawn on 2 Feb 2016 due to missed deadline</p>
            </li>
            
            <li class="document-row">
                <a href="#">ESF SSW Retraining for Employment contract for Cornwall and the Isles of Scilly LEP version 2</a>
                <p>replaced on 15 Jan 2016 by jim.riaz</p>
            </li>
            
            <li class="document-row">
                <a href="#">ESF SSW Retraining for Employment contract for Cornwall and the Isles of Scilly LEP version 1</a>
                <p>withdrawn on 7 Jan 2016 by provider.sFA</p>
            </li>
            
        </ul>
    </div> -->
    

    

    <div class="margin-top-2">
        <p><a class="link" href="/andrea-authoriser">Back to contract documents</a></p>
    </div>
   
    
    <br>
    
    <div class="hidden">
        <div class="optional-section">
        <p class="bold-medium">Query sent</p>
        </div>
    </div>
    
    
    
</div>

    <div class="related-container">
        <aside class="related" id="related">
            <div class="inner group related-subsection">
                <h2 id="parent-subsection">Related</h2>
                    <nav role="navigation" aria-labelledby="parent-subsection">
                        <ul>
                            <li>
                                <a href="andrea-authoriser-NEW">View funding claim documents</a>
                            </li>
                            <li>
                                <a href="https://hub.fasst.org.uk/Pages/default.aspx">The Hub</a>
                            </li>
                            
                            <!--<li class="related-topic">
                                <a href="/" class="bold-xsmall">More 
                                    <span class="visuallyhidden">Some more text here would appear</span>
                                </a>
                            </li>-->
                    </ul>
                </nav>
            </div>
        </aside>

    </div>

</div>

</main>



{% endblock %}