{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>


<script>
$(document).ready(function(){
    $("#querySubmit").click(function(){

        $(".hidden").addClass("show"); //to show 'query sent'

        $("details").not(this).removeAttr("open");
    });
    
    $("summary").click(function(){

        $(".hidden").removeClass("show"); //to show 'query sent'

    });
    
});
    
    
</script>

<main role="main" id="content">
    
    
    <div class="grid-row ">
        <div class="welcome">
        <ul class="">
            <li class="font-xsmall">Andrea Authoriser</li>
            <li class="font-xsmall"> Casterbridge College</li>
            <li class="font-xsmall">UKPRN:12345678</li>
        </ul>
        </div>
    </div>
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard2">Home</a></li>
         
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    


<div class="grid-row spacing-top">
    <div class="column-two-thirds">
        <h1 class="heading-large">Review your contract</h1><br>



<section class="attachment">
    <div class="attachment-thumb">
        <a class="thumbnail" href="/">
            <img src="/public/images/xls_thumbnail2.png">
        </a>
    </div>
    <div class="left-align">
        
        <h2 class="attachment-details">
                <a href="#">National Careers Service (NCS) contract variation for 2017 to 2018 version 2</a>
        </h2>
        
        <p class="metadata">
            <span>PDF, 82KB</span>
        </p>
        
        <div class="accessibility-warning">
            
            <h2>
                
                <span><a href="#">Request a different format</a></span>
            </h2>
            
            <p class="visuallyhidden" id="help_block">
                <span class="arrow"></span>
                If you use assistive technology and need a version of this document
                in a more accessible format, please email
                <a href="/">info@sfa.bis.gov.uk</a>.
                Please tell us what format you need. It will help us if you say what assistive technology you use.
            </p>
        
        </div>
    
    </div>
</section>

 <br>
 <br>

<div>
    <div>
    <p class="medium">Contract amended on 28 April 2017</p>
    <p class="bold-medium"></p>
    <div class="form-group add-error"> 
               <legend id="example-personal-details">

                    <span class="error-message hidden">
                        Please check box before submitting
                    </span>
                    
                </legend>
            </div>

<div class="multiple-choice">
  <input id="checkbox" type="checkbox" value="true">
  <label for="checkbox">Indicate this contract as been seen.</label>
</div>
</div>
                  

        <div class="form-group margin-top-2">  
            <ul class="float">
                <p><a id="submit-sub" class="button" href="confirmation-youth">Continue</a></p><br><br>
                <p><a href="andrea-authoriser">Back to contracts</a></p>
            </ul>
        </div>


</div>
    
</div>
        
    
    
    <details>
        <summary id="summaryLink" class="underline">Raise a query</summary>
    
    <br>
    
    
        <form>
        

        <div class="form-group">
            <fieldset>
                <legend >
                    <span class="form-label-bold">What is your query about?</span>
                    <span class="field-validation-valid error-message"></span>
                </legend>
                
                <label class="block-label" >
                    <input type="checkbox" value="ContractValues">
                Contract values
                </label>
                
                <label class="block-label">
                    <input type="checkbox" value="ContractDates">
                Contract dates
                </label>
                
                <label class="block-label" >
                    <input type="checkbox" value="Other">
                Something else
                </label>

            </fieldset>
        </div>
        <br>

        

        <div>
            <label>
                <span class="form-label-bold">Your query</span>
            </label>
            
            <p>You do not need to give:</p>
                <ul class="list-bullet">
                <li>your name</li>
                <li>your contact details</li>
                <li>the name or reference number of this contract</li>
            </ul>
            
            <br>
            <textarea class="form-control additional-information"  rows="7"></textarea>
        </div>
        <br>

        <div>
            <a type="submit" id="querySubmit" class="button" value="Send query">Send query</a>
        </div>
    </form>
        

</details>
    
    <br>
    
    <div class="hidden">
        <div class="optional-section">
        <p class="bold-medium">Query sent</p>
        </div>
    </div>
    
    
    
    </div>

    
</div>

</main>


{% endblock %}