{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    <div class="phase-banner-beta">
        <div>
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/DLL5F6K">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    
    <div class="grid-row margin-top">
        <div class="column-two-thirds">
            <span class="font-xsmall margin-right">
            Welcome jim.riaz
            </span>
            
        </div>

        <div class="column-third" style="text-align: right;"> <!--inline style needs to be changed-->
            <span>
                <a class="font-xsmall" href="settings">Settings</a>
            </span>
        </div>
    </div>   
    

    <div class="grid-row spacing-top">
        
        <div class="column-two-thirds">

            <h2 class="heading-xlarge">Service unavailable</h2>

            <p class="lede">Scheduled maintenance from 17 June to 20 June 2016.</P>
 
            <p class="lede"></p>
        
            

            <div class="call-to-action">
                <p class="lede">Please sign in after 15:00 20 Jun 2016.</p>
            </div>

        <div><p>
You will not be able to use the site during this time. Sorry for any inconvenience this may cause.</p></div>

            
        </div>
    
    </div>

</main>                

{% endblock %}