{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    
    
    
    
    <div class="grid-row ">
        <div class="navigation">
        <ul>
            <li><a class="font-xsmall" href="dashboard">Home</a></li>
            
            <li><a class="font-xsmall" href="/">Sign out</a></li>
        </ul>
        </div>
    </div>
    
    

<div class="grid-row spacing-top">
    <div class="column-two-thirds">

        <h2 class="heading-xlarge">Sign contract</h2>

        
        <!--<div class="bold-medium">Step 2 of 2</div>
        <br>-->
        <p>You are about to agree and sign your contract offer.</p>
        <div class="call-to-action">
        <br><p>EESF SSU contract variation for Coast to Capital LEP version 2</p>
             </div>
        <br>
    
        <p class="bold-small">By signing you:</p>
        <ul class="list-bullet">
            <li>confirm that you've read and understood all the terms and conditions of the contract and that CASTERBRIDGE COLLEGE will be bound to comply with them</li>
            <li>confirm that you're authorised to sign the contract on behalf of CASTERBRIDGE COLLEGE</li>
            <li>agree that the contract is signed digitally and is legally binding</li>
        </ul>
        <br>
        <p>All other terms and conditions of the contract continue to apply.</p>
        <ul class="float">
            <li><a class="button" href="confirmation">Agree and sign</a></li>
            <li class="link-to-contracts-page">or <a href="step0">go back and review this contract</a></li>
        </ul>




    </div>


</div>

</main>                

{% endblock %}